hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive - Old one/VRb8nSoGMcGjTbHj.json
{"updatedAt":"2026-06-26T16:16:19.000Z","createdAt":"2026-06-03T12:12:06.116Z","id":"VRb8nSoGMcGjTbHj","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive - Old one","description":"Polls Gmail weekly, classifies receipts as Subscriptions (with subfolder) or One-Time (direct to Receipts/SenderName/), and organizes everything under Accounting/ in Google Drive.","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 📧 Gmail Invoice & Receipt Auto-Organizer\n\n**Polls Gmail every Monday at 8am.**\n\n**Google Drive structure:**\n```\nAccounting/\n  Invoices/\n    SenderName/\n  Receipts/\n    Subscriptions/\n      SenderName/\n    SenderName/   <- One-Time goes directly here\n```\n\n**Subscription detection:**\n- Keywords: subscription, renewal, monthly, annual, recurring, membership, etc.\n- Recurring sender: if sender was seen before in Subscriptions\n- Uncertain = defaults to One-Time (no subfolder, needsReview=true)\n\n**Folder matching:** Case-insensitive. Partial match fallback.\n\n**Setup:** Connect Gmail OAuth2 + Google Drive OAuth2, then activate.","height":200,"width":300,"color":3},"id":"1868a680-a28e-4f23-9283-fce7552cc84a","name":"Sticky Note d944f168","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-288]},{"parameters":{"content":"## 📁 Folder Resolution\n1. Accounting/ (root)\n2. Invoices/ or Receipts/ inside Accounting\n3. Subscriptions only: find/create Subscriptions/ inside Receipts\n4. One-Time: skip subfolder — SenderName/ goes directly inside Receipts/\n5. Find/create SenderName/ (case-insensitive + partial match)\n6. Upload file\n\nOne-Time receipts flagged needsReview=true — check Receipts/SenderName/ and reclassify if needed.","height":200,"width":300,"color":5},"id":"1322cce6-42f0-4d7e-b3d2-a467bd75e90f","name":"Sticky Note c2164fb7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-288]},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","hour":8}]},"simple":false,"maxResults":20,"filters":{"q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment","readStatus":"unread"},"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"id":"40fcbcf8-bde4-49da-99c9-cb10ede3cdf8","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,80],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"parameters":{"jsCode":"\nconst SUBSCRIPTION_KEYWORDS = [\n  'subscription', 'renewal', 'renew', 'monthly', 'annual', 'yearly',\n  'recurring', 'membership', 'plan', 'billing cycle', 'auto-renew',\n  'auto renew', 'next billing', 'trial ended', 'upgraded plan'\n];\n\nfunction isSubscriptionByKeywords(subject, body) {\n  const text = ((subject || '') + ' ' + (body || '')).toLowerCase();\n  return SUBSCRIPTION_KEYWORDS.some(kw => text.includes(kw));\n}\n\nfunction classify(subject, body, senderKey, seenBefore) {\n  const subScore = isSubscriptionByKeywords(subject, body) ? 2 : 0;\n  const recurScore = seenBefore ? 2 : 0;\n  const total = subScore + recurScore;\n  if (total >= 2) {\n    return { type: 'Subscriptions', confident: true, reason: [\n      subScore > 0 ? 'keyword match' : '',\n      recurScore > 0 ? 'recurring sender' : ''\n    ].filter(Boolean).join(', ') };\n  }\n  return { type: 'One-Time', confident: false, reason: 'no strong subscription signals — flagged for review' };\n}\n\nconst seenSenders = new Set();\ntry {\n  const stored = $getWorkflowStaticData('global');\n  if (stored.seenSubscriptionSenders) {\n    stored.seenSubscriptionSenders.forEach(s => seenSenders.add(s.toLowerCase()));\n  }\n} catch(e) {}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const body = item.json.text || item.json.snippet || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromName = item.json.from?.value?.[0]?.name || from;\n  const date = item.json.date ? new Date(item.json.date) : new Date();\n  const year = date.getFullYear().toString();\n  const month = (date.getMonth() + 1).toString().padStart(2, '0');\n\n  const emailMatch = from.match(/@([^.]+)/);\n  const senderKey = emailMatch ? emailMatch[1] : fromName.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n  const senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipts';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoices';\n  }\n\n  const seenBefore = seenSenders.has(senderKey.toLowerCase());\n  let receiptSubType = 'One-Time';\n  let classificationReason = '';\n  let needsReview = false;\n  if (docType === 'Receipts') {\n    const cls = classify(subject, body, senderKey, seenBefore);\n    receiptSubType = cls.type;\n    classificationReason = cls.reason;\n    needsReview = !cls.confident;\n  }\n\n  const needsSubTypeFolder = docType === 'Receipts' && receiptSubType === 'Subscriptions';\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType,\n          receiptSubType,\n          needsSubTypeFolder,\n          senderFolder,\n          year,\n          month,\n          subject,\n          from,\n          attachmentKey: attachKey,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf',\n          classificationReason,\n          needsReview,\n          seenBefore\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n      "},"id":"1be44674-d76d-4b77-b368-1e098fe1b803","name":"Extract & Classify Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,80]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.docType }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"1ov1esrgadbn2qNDggi6IpHwkWNg-ad8X","mode":"id"},"whatToSearch":"folders"},"options":{}},"id":"4116b9b6-e9f7-43a0-ba3f-7eedd424fb35","name":"Search DocType Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,80],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Resolve DocType Folder').item.json.needsSubTypeFolder || $('Set DocType Folder ID').item.json.needsSubTypeFolder }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"55a731a4-6e9a-4323-8ddb-fa8a6d700de6"}],"combinator":"and"},"options":{}},"id":"31baac18-1211-44b5-aaaf-ce9d9d78ebff","name":"Needs Subscriptions Subfolder?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,80]},{"parameters":{"resource":"fileFolder","queryString":"Subscriptions","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve DocType Folder').item.json.docTypeFolderId || $('Set DocType Folder ID').item.json.docTypeFolderId }}"},"whatToSearch":"folders"},"options":{}},"id":"92de7cc8-cfec-439b-82e0-1ff0940181ec","name":"Search Subscriptions Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,16],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'subscriptions');\nreturn [{\n  json: {\n    ...meta.json,\n    subTypeFolderId: match ? match.json.id : '',\n    subTypeExists: !!match\n  },\n  binary: meta.binary || {}\n}];\n      "},"id":"60194605-2e94-44a8-a082-e6a28dd48882","name":"Resolve Subscriptions Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.subTypeExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"ae226c16-13c1-4952-9ee7-6740e403e96f","name":"Subscriptions Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1840,16]},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst parentForSender = meta.json.subTypeFolderId || meta.json.docTypeFolderId;\n\nif (meta.json.receiptSubType === 'Subscriptions' && meta.json.subTypeFolderId) {\n  try {\n    const stored = $getWorkflowStaticData('global');\n    const seen = stored.seenSubscriptionSenders || [];\n    const key = (meta.json.senderFolder || '').toLowerCase();\n    if (!seen.map(s => s.toLowerCase()).includes(key)) {\n      seen.push(meta.json.senderFolder);\n      stored.seenSubscriptionSenders = seen;\n    }\n  } catch(e) {}\n}\n\nreturn [{\n  json: { ...meta.json, parentForSender },\n  binary: meta.binary || {}\n}];\n      "},"id":"f1c2b962-92f7-4b07-b6d2-c3906c9be72e","name":"Set Parent For Sender","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,144]},{"parameters":{"resource":"folder","name":"Subscriptions","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.docTypeFolderId }}"},"options":{}},"id":"2e969c35-e115-4d96-afe5-138e9fcb4594","name":"Create Subscriptions Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2064,-96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"subTypeFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"5bbad858-2713-4355-99f7-c815a9358d6a","name":"Set Subscriptions Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,-96]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.senderFolder }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.parentForSender }}"},"whatToSearch":"folders"},"options":{}},"id":"31b9cf3c-c6c0-4670-b819-6e5a11c3cdfb","name":"Search Sender Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2784,224],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst senderFolder = (meta.json.senderFolder || '').toLowerCase();\n\nconst exactMatch = items.find(i => (i.json.name || '').toLowerCase() === senderFolder);\nconst partialMatch = !exactMatch\n  ? items.find(i => {\n      const name = (i.json.name || '').toLowerCase();\n      return name.includes(senderFolder) || senderFolder.includes(name);\n    })\n  : null;\n\nconst match = exactMatch || partialMatch;\nconst senderFolderId = match ? match.json.id : '';\n\nreturn [{\n  json: {\n    ...meta.json,\n    senderFolderId,\n    senderFolderExists: !!senderFolderId,\n    matchedFolderName: match ? match.json.name : ''\n  },\n  binary: meta.binary || {}\n}];\n      "},"id":"6055f9d8-0c23-4d30-b739-85ca9cdd58c3","name":"Resolve Sender Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.senderFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"a0ea68eb-9389-4c0a-8a58-2a91ad37143e","name":"Sender Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3232,224]},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.senderFolderId }}"},"options":{}},"id":"e41842c3-0604-4143-9e42-033b1e2e3f20","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3904,176],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.parentForSender }}"},"options":{}},"id":"7ba697c1-392c-4195-82fd-0b954f68a3df","name":"Create Sender Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3456,288],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"senderFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"120c7022-3f63-47f4-8e76-867540b03570","name":"Set New Sender Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3680,288]},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst docType = (meta.json.docType || '').toLowerCase();\nconst match = items.find(i => (i.json.name || '').toLowerCase() === docType);\nreturn [{\n  json: {\n    ...meta.json,\n    docTypeFolderId: match ? match.json.id : '',\n    docTypeExists: !!match\n  },\n  binary: meta.binary || {}\n}];\n      "},"id":"b62e73bb-724e-4c22-8d29-88a23557ddc6","name":"Resolve DocType Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,80]}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract & Classify Email","type":"main","index":0}]]},"Extract & Classify Email":{"main":[[{"node":"Search DocType Folder","type":"main","index":0}]]},"Search DocType Folder":{"main":[[{"node":"Resolve DocType Folder","type":"main","index":0}]]},"Needs Subscriptions Subfolder?":{"main":[[{"node":"Search Subscriptions Folder","type":"main","index":0}],[{"node":"Set Parent For Sender","type":"main","index":0}]]},"Search Subscriptions Folder":{"main":[[{"node":"Resolve Subscriptions Folder","type":"main","index":0}]]},"Resolve Subscriptions Folder":{"main":[[{"node":"Subscriptions Folder Exists?","type":"main","index":0}]]},"Subscriptions Folder Exists?":{"main":[[{"node":"Set Parent For Sender","type":"main","index":0}],[{"node":"Create Subscriptions Folder","type":"main","index":0}]]},"Set Parent For Sender":{"main":[[{"node":"Search Sender Folder","type":"main","index":0}]]},"Create Subscriptions Folder":{"main":[[{"node":"Set Subscriptions Folder ID","type":"main","index":0}]]},"Set Subscriptions Folder ID":{"main":[[{"node":"Set Parent For Sender","type":"main","index":0}]]},"Search Sender Folder":{"main":[[{"node":"Resolve Sender Folder","type":"main","index":0}]]},"Resolve Sender Folder":{"main":[[{"node":"Sender Folder Exists?","type":"main","index":0}]]},"Sender Folder Exists?":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}],[{"node":"Create Sender Folder","type":"main","index":0}]]},"Create Sender Folder":{"main":[[{"node":"Set New Sender Folder ID","type":"main","index":0}]]},"Set New Sender Folder ID":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]},"Resolve DocType Folder":{"main":[[{"node":"Needs Subscriptions Subfolder?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"55994479-8802-45bf-9164-3970ce9cb640","activeVersionId":null,"versionCounter":71,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-03T12:12:06.130Z","createdAt":"2026-06-03T12:12:06.130Z","role":"workflow:owner","workflowId":"VRb8nSoGMcGjTbHj","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}