hbf_online/2025/12/PDF Generation Example/CQTYR1Yr0nP6XVYq.json
{"updatedAt":"2025-12-20T00:21:28.016Z","createdAt":"2025-12-20T00:00:59.566Z","id":"CQTYR1Yr0nP6XVYq","name":"PDF Generation Example","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Generate Contract","formFields":{"values":[{"fieldLabel":"Client's Company Name"},{"fieldLabel":"Contract Duration"},{"fieldLabel":"Setup Fee"},{"fieldLabel":"Monthly Fee"},{"fieldLabel":"Reporting Frequency"},{"fieldLabel":"Client's Name"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"66382b08-ee6a-47c0-ae49-134a83248435","name":"On form submission","webhookId":"0228d5c5-97e6-4597-8369-c68742239a3b"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1OHlcGxnu4aQY7sd5FsuxQWpQp-kqRo2K-BD3YNZLupk","mode":"list","cachedResultName":"Google Ads Services Contract Template","cachedResultUrl":"https://docs.google.com/document/d/1OHlcGxnu4aQY7sd5FsuxQWpQp-kqRo2K-BD3YNZLupk/edit?usp=drivesdk"},"name":"=Contract for {{ $json['Client\\'s Company Name'] }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"155e4cd0-3703-4089-ac92-3ad9ec16ec01","name":"Make Copy of Template","credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"[Client's Company Name]","replaceText":"={{ $('On form submission').item.json['Client\\'s Company Name'] }}"},{"action":"replaceAll","text":"[Contract Duration]","replaceText":"={{ $('On form submission').item.json['Contract Duration'] }}"},{"action":"replaceAll","text":"[Setup Fee]","replaceText":"={{ $('On form submission').item.json['Setup Fee'] }}"},{"action":"replaceAll","text":"[Monthly Fee]","replaceText":"={{ $('On form submission').item.json['Monthly Fee'] }}"},{"action":"replaceAll","text":"[Reporting Frequency]","replaceText":"={{ $('On form submission').item.json['Reporting Frequency'] }}"},{"action":"replaceAll","text":"[Client's Name]","replaceText":"={{ $('On form submission').item.json['Client\\'s Name'] }}"},{"action":"replaceAll","text":"[date]","replaceText":"={{ $now.toFormat('MM-dd-yyyy') }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[448,0],"id":"df49ee50-f4b8-4c3c-94b7-b146020d83b0","name":"Change Custom Variables","credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,0],"id":"e815bc82-66b2-41d3-a2da-43929580055d","name":"Generate PDF","credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Make Copy of Template').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1e9AHE0SRoCPur-DHfUG8pA6g4ecwqYBv","mode":"list","cachedResultName":"Tutorials","cachedResultUrl":"https://drive.google.com/drive/folders/1e9AHE0SRoCPur-DHfUG8pA6g4ecwqYBv"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,0],"id":"1aed16f3-a187-4b3a-9c7e-5b6de2633226","name":"Add PDF To Drive","credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}}],"connections":{"On form submission":{"main":[[{"node":"Make Copy of Template","type":"main","index":0}]]},"Make Copy of Template":{"main":[[{"node":"Change Custom Variables","type":"main","index":0}]]},"Change Custom Variables":{"main":[[{"node":"Generate PDF","type":"main","index":0}]]},"Generate PDF":{"main":[[{"node":"Add PDF To Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a75512c-0761-4e12-9ac2-f5d98020e004","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T00:00:59.570Z","createdAt":"2025-12-20T00:00:59.570Z","role":"workflow:owner","workflowId":"CQTYR1Yr0nP6XVYq","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-19T05:12:45.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-19","isPending":false}}]}}],"tags":[],"activeVersion":null}