hbf_online/2026/05/Gamma Pitch Deck Builder/QhH1w3N9sQZfylay.json
{"updatedAt":"2026-05-02T18:08:45.604Z","createdAt":"2026-05-02T18:08:44.461Z","id":"QhH1w3N9sQZfylay","name":"Gamma Pitch Deck Builder","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n\"pitch_deck\":\"\",\n\"no_of_deck\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,624],"id":"01ebfcaa-c74b-41b9-b12e-8c1966bf56ac","name":"Structured Output Parser2"},{"parameters":{"method":"POST","url":"https://public-api.gamma.app/v0.2/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"sk-gamma-XnRIYy43iMO8Uoavm1BfQlI5wGEyhO3bYWp7uEEEs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputText\":\"{{ $json.output.pitch_deck }}\",\n  \"textMode\": \"preserve\",\n  \"format\": \"presentation\",\n  \"themeName\": \"Oasis\",\n  \"numCards\": {{ $('Pitch Content Generation').item.json.output.no_of_deck }},\n  \"cardSplit\": \"auto\",\n  \"additionalInstructions\": \"Make bullet lists not paragraphs. Don't generate human images but charts and icons.\",\n  \"exportAs\": \"pdf\",\n  \"textOptions\": {\n    \"amount\": \"brief\",\n    \"tone\": \"professional, inspiring\",\n    \"audience\":\"angel investors, venture capitalist\",\n    \"language\": \"en\"\n  },\n  \"imageOptions\": {\n    \"source\": \"aiGenerated\",\n    \"model\": \"imagen-4-pro\",\n    \"style\": \"photorealistic\"\n  },\n  \"cardOptions\": {\n    \"dimensions\": \"fluid\"\n  },\n  \"sharingOptions\": {\n    \"workspaceAccess\": \"view\",\n    \"externalAccess\": \"noAccess\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,416],"id":"bc65e5ea-352e-46e3-a251-4f31390c3b3d","name":"Generate Presentation"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65e5b886-d623-48cc-83f9-e5339dad11e1","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,400],"id":"0d3471d4-0a27-4f0b-9330-ed700765b7ea","name":"Is the presentation Complete?"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,544],"id":"bf579402-54b5-40d0-840b-7f6595c8300b","name":"Wait 10s","webhookId":"4a351037-e33c-4c84-86d0-695da0e6902f"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[416,624],"id":"d265d102-1e73-49c9-96ae-aaef9a52c5e1","name":"OpenAI Chat Model"},{"parameters":{"formTitle":"Company Information","formFields":{"values":[{"fieldLabel":"Company Name"},{"fieldLabel":"Problem & Solution: What pain point are you addressing?"},{"fieldLabel":"What does your current usage data look like?"},{"fieldLabel":"Describe your service and pricing structure."},{"fieldLabel":"What makes this the right solution, from the right team, at the right time?"},{"fieldLabel":"Founders & Experiences"},{"fieldLabel":"Other Business Details"}]},"options":{"buttonLabel":"Generate Pitch","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\t/* Colors - Black & Gold Theme */\n\t--color-background: #faf8f3;\n\t--color-test-notice-text: #d4af37;\n\t--color-test-notice-bg: #fffef9;\n\t--color-test-notice-border: #e8d7a1;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #d4af37;\n\t--color-card-shadow: rgba(212, 175, 55, 0.15);\n\t--color-link: #c5a146;\n\t--color-header: #1a1a1a;\n\t--color-label: #2d2d2d;\n\t--color-input-border: #d4d4d4;\n\t--color-input-text: #3d3d3d;\n\t--color-focus-border: #d4af37;\n\t--color-submit-btn-bg: #d4af37;\n\t--color-submit-btn-text: #1a1a1a;\n\t--color-error: #c9302c;\n\t--color-required: #d4af37;\n\t--color-clear-button-bg: #6b6b6b;\n\t--color-html-text: #2d2d2d;\n\t--color-html-link: #c5a146;\n\t--color-header-subtext: #6b6b6b;\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[400,-96],"id":"c4d3afde-c73a-43d9-8589-3f1a84201a9c","name":"Collect Data from Form","webhookId":"c267b004-617b-4d95-836c-b01116b47730"},{"parameters":{"promptType":"define","text":"=Now create the business context json profile on the basis of following data. Output only json data without any explanation or details.\n\nCompany Name: {{ $('Collect Data from Form').item.json['Company Name'] }}\nProblem Solution: {{ $('Collect Data from Form').item.json['Problem & Solution: What pain point are you addressing?'] }}\nProduct Usage: {{ $('Collect Data from Form').item.json['What does your current usage data look like?'] }}\nService: {{ $('Collect Data from Form').item.json['Describe your service and pricing structure.'] }}\nWhy Us & Why Now: {{ $('Collect Data from Form').item.json['What makes this the right solution, from the right team, at the right time?'] }}\nFounders: {{ $('Collect Data from Form').item.json['Founders & Experiences'] }}\nBusiness Info: {{ $('Collect Data from Form').item.json['Other Business Details'] }}\nMore Info: {{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a world-class context profile generator. Your sole job is to produce a complete, deeply structured JSON object that captures everything a downstream AI needs to understand and operate a business context. You must output valid JSON only (no commentary, no markdown), conforming exactly to the schema below.\n\n## OUTPUT JSON:\n\n{\n  \"company\": {\n    \"name\": \"\",\n    \"logo_url\": \"\",\n    \"tagline\": \"\",\n    \"one_liner\": \"\",\n    \"mission\": \"\",\n    \"vision\": \"\",\n    \"website\": \"\",\n    \"industry\": \"\",\n    \"hq_country\": \"\",\n    \"stage\": \"\"\n  },\n  \"problem\": {\n    \"summary\": \"\",\n    \"pain_points\": [],\n    \"target_audience\": []\n  },\n  \"solution\": {\n    \"summary\": \"\",\n    \"key_features\": [],\n    \"unique_value_proposition\": \"\",\n    \"why_now\": \"\"\n  },\n  \"product\": {\n    \"description\": \"\",\n    \"screenshots\": [],\n    \"tech_overview\": \"\",\n    \"roadmap_highlights\": []\n  },\n  \"market\": {\n    \"category\": \"\",\n    \"size\": {\n      \"tam_usd\": 0,\n      \"sam_usd\": 0,\n      \"som_usd\": 0\n    },\n    \"growth_trends\": [],\n    \"customer_segments\": []\n  },\n  \"competition\": {\n    \"direct\": [],\n    \"indirect\": [],\n    \"competitive_advantages\": [],\n    \"matrix\": []\n  },\n  \"traction\": {\n    \"key_metrics\": {\n      \"users_total\": 0,\n      \"revenue_arr_usd\": 0,\n      \"growth_percent_yoy\": 0\n    },\n    \"logos\": [],\n    \"milestones\": []\n  },\n  \"business_model\": {\n    \"revenue_streams\": [],\n    \"pricing_model\": \"\",\n    \"unit_economics_summary\": \"\"\n  },\n  \"go_to_market\": {\n    \"icp\": \"\",\n    \"channels\": [],\n    \"partnerships\": [],\n    \"messaging\": []\n  },\n  \"team\": {\n    \"founders\": [],\n    \"key_team\": [],\n    \"advisors\": []\n  },\n  \"financials\": {\n    \"summary\": \"\",\n    \"revenue_projection_usd\": [],\n    \"burn_rate_usd\": 0,\n    \"runway_months\": 0\n  },\n  \"fundraising\": {\n    \"round\": \"\",\n    \"target_amount_usd\": 0,\n    \"committed_usd\": 0,\n    \"valuation_pre_money_usd\": 0,\n    \"use_of_funds\": [],\n    \"lead_investor\": \"\",\n    \"timeline\": {\n      \"kickoff_date\": \"\",\n      \"target_close_date\": \"\"\n    }\n  },\n  \"ask_slide\": {\n    \"investment_ask\": \"\",\n    \"milestones_with_funds\": []\n  },\n  \"closing\": {\n    \"vision_future\": \"\",\n    \"call_to_action\": \"\",\n    \"contact\": {\n      \"name\": \"\",\n      \"email\": \"\",\n      \"phone\": \"\"\n    }\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2576,-96],"id":"8ceb8f7f-5c57-4b31-8b07-63dd35400ee6","name":"Context Generator"},{"parameters":{"content":"# Company Data Ingestion\n### *Collect Company Info & Activate Research Agent*\n1. n8n form field to collect company Name, problem - solution statement, current user data, founder expertise\n2. runs deep forum research to amplify problems, collect market data and competitors\n3. saves research reports in google doc","height":512,"width":2528,"color":4},"type":"n8n-nodes-base.stickyNote","position":[352,-336],"typeVersion":1,"id":"942d6d98-8c57-4bd5-a4fd-3e475f5564f2","name":"Sticky Note2"},{"parameters":{"promptType":"define","text":"=Create a pitch deck for this company.\n\n{{ $json.output.toJsonString().replaceAll(\"\\n\", \"\") }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a world-class investor communications architect who has crafted high-conversion decks for early-stage AI and SaaS startups that raised over $500M from top-tier VCs (Sequoia, a16z, Lightspeed, and others).\n \nYour task is to generate a investor-ready 12-15 slide pitch deck for a seed-stage AI SaaS company.\n\n---\n\n## Primary Objective \n\nGenerate a 12-15 slide deck formatted specifically for the [Gamma Generations API](https://developers.gamma.app/docs/how-does-the-generations-api-work).  \nYour output must use `---` between slides and follow GammaвЂ™s structure for `textMode: \"preserve\"` and `cardSplit: \"inputTextBreaks\"`.\n\nThe output should be presentation-ready вЂ” clear, concise, and written in the founderвЂ™s voice.\n\n---\n\n## Slide Structure & Flow\n\n| Slide | Title | Description |\n| ----- | ------ | ----------- |\n| 1 | Introduction | Initiate intrigue with company name and one-liner introduction. |\n| 2 | Problem | Define the problem and its impact on businesses and individuals (3вЂ“4 bullets). |\n| 3 | Solution | Present your purpose and unique value proposition clearly. |\n| 4 | Traction & Progress I | Show quantitative progress with real data and milestones. |\n| 5 | Traction & Progress II | Add qualitative context вЂ” adoption stories, usage patterns, logos. |\n| 6 | Why Us / Founding Insight | Explain why your team is uniquely positioned to solve this. |\n| 7 | Business Model | Explain clearly how the company makes money. |\n| 8 | Market & Returns | Show potential returns and market upside; quantify TAM/SAM/SOM. |\n| 9 | TeamвЂ“Product Fit | Reinforce alignment between your team and product mission. |\n| 10 | Funding Ask & Vision | Describe funding needs, use of funds, and next milestones. |\n\n---\n## Deck Congition\n\nTitle Slide (donвЂ™t forget to include who you are ie weвЂ™re Chef for Security Automation)\nProblem\nSolution\nProduct (IвЂ™ve moved this up)\nTeam (IвЂ™ve moved this up but it depends on your team вЂ” works just as well at the back most of the time tbh)\nWhy now\nMarket\nCompetition\nBusiness model\nFinancials + Key Metrics\nNew Slide -> Fundraising amount, use of proceeds and milestones/goals for the next 18 months\nThank you slide with compelling statement on who you are again\nAppendix if you absolutely HAVE to include MAX 3 more slides вЂ” possibly a back-up on market data, cohort data or further compelling metrics, a case study or two, or further screen shots of your product\n\n---\n\n## Style & Tone Guidelines \n\n### Tone\n* Confident, founder-led, and precise  \n* Speak in plain, investor-friendly language  \n* Avoid jargon and buzzwords вЂ” clarity wins credibility  \n\n### Narrative Style\n* Each slide = headline + data + narrative  \n* Focus on traction, differentiation, and inevitability  \n* Use storytelling arcs: Problem в†’ Solution в†’ Proof в†’ Scale в†’ Ask  \n\n### Data Priority\n* Lead with measurable traction: ARR, MRR, NRR, retention, conversion  \n* Show market validation: pilots, users, case studies  \n* Keep projections transparent, defensible, and concise\n\n### Formatting\n* Headlines: в‰¤ 80 characters  \n* Bullets: 3вЂ“5 per slide  \n* Narrative: в‰¤ 80 words  \n* Separators: `---` between slides  \n* No markdown fences or JSON unless Mode B\n\n---\n\n## Seed-Stage Calibration \n\n| Parameter | Ideal Range |\n|------------|-------------|\n| Round Type | Seed |\n| Raise Amount | $500kвЂ“$3M |\n| Pre-Money Valuation | $5MвЂ“$15M |\n| Runway Goal | 12вЂ“18 months |\n| Key Metrics | Product-market validation, ARR growth, retention |\n| Target Outcome | 3вЂ“5Г— valuation uplift by Series A |\n\n---\n\n## DON'T\n- Donot use fake data, fill with generic data if no specific information is provided\n---\n\n## Output Requirements \n\n* Valid JSON only (no comments, no additional text).  \n* Each slide must contain:\n  - `# Slide N вЂ” Title`\n  - A short headline\n  - 3вЂ“5 bullet points\n* 12-15 slides.\n* Slide separators: `---` only.\n\n---\n\n## Self-Check Before Output \n\n- 12-15 slides  \n- Each starts with `# Slide N вЂ” Title`  \n- Slides separated by `---` only  \n- Numbers include units (e.g., $, %, users)  \n\n \"Make a professional pitch deck for seed stage fundraising.\"\n\nYour expected output should be this exact JSON. No extra details and definition.\n\n```JSON\n{\n\"pitch_deck\":\"\",\n\"no_of_deck\":\"\"\n}\n```"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[416,432],"id":"d528791a-d98b-4848-a953-a2eaaf0300cf","name":"Pitch Content Generation"},{"parameters":{"content":"# Gamma API -> Pitch Deck Creation\n### *Create context and generate presentation on the info*\n1. Generate content\n2. Gamma presentation generator","height":576,"width":1200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[352,192],"typeVersion":1,"id":"13679c00-cfb9-47b3-bd13-1362e7b5809e","name":"Sticky Note9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1808,448],"id":"2d646e31-c151-4989-938e-a4be25c5a344","name":"Loop Over Items"},{"parameters":{"sendTo":"={{ $('Get Investors').item.json.Email }}","subject":"={{ $json.output.subject }}","emailType":"text","message":"={{ $json.output.email_copy }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2528,448],"id":"c802ac42-c6f7-4902-8b86-a14a048b3a1b","name":"Send a message","webhookId":"e29eccde-9f91-455e-9ef2-4a45629e2963"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1984,656],"id":"fb85f458-5acc-47e3-bcb0-d9019048028c","name":"OpenAI Chat Model3"},{"parameters":{"content":"# Email Investors\n### *Access Investor List - Create Email - Send Deck*\n1. Get Emails & Investor Details\n2. Create Email\n3. Automate Email Sending","height":576,"width":1312,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1568,192],"typeVersion":1,"id":"ec60b33a-789a-44f4-8107-26d39b34c4be","name":"Sticky Note11"},{"parameters":{"promptType":"define","text":"=Now create the Investor Pitching email on the basis of following investor details:\nName: {{ $json.Name }}\nThesis: {{ $json['Investment Thesis'] }}\n\nBusiness Context:\n{{ $('Context Generator').item.json.output }}\n\nPitch Link:\n{{ $('Get Presentation from Gamma').item.json.exportUrl }}\n\nContact:\nemail: me@aryanmahajan.ai\nphone: +18237857982\n","hasOutputParser":true,"options":{"systemMessage":"You are an elite venture capital relationship strategist and startup storyteller.  \nYour goal is to craft short, **personalized investor outreach emails** that get **opened, read, and replied to**.  \nEvery email should sound like a confident founder who has done their research вЂ” not a generic marketing blast.  \n\nUse all the provided data to personalize tone, subject, hook, and CTA (Call To Action).  \nEach email must sound authentic, relevant, and respectful of the investorвЂ™s time.  \n\n---\n\n## OUTPUT STRUCTURE\n\nThe output must include:\n1. **Subject Line** (в‰¤10 words)  \n2. **Preview Text** (в‰¤15 words)  \n3. **Body Copy** (120вЂ“180 words) formatted like a real email  \n\n### Email Template\n\n```\n\nSubject: [Personalized subject line]\nPreview Text: [Short teaser line]\n\nHi [Investor First Name],\n\n[Personalized hook вЂ” something about their focus, portfolio, or perspective.]\n\n[Concise description of your startup and traction вЂ” align it with their thesis.]\n\n[Direct but polite CTA вЂ” e.g., вЂњWould love to share our deck for your thoughts.вЂќ]\n\n[Link to pitch deck.]\n\nBest,\n[Your Name]\n[Title, Startup Name]\n[Email / LinkedIn]\n\n```\n\n---\n\n## WRITING INSTRUCTIONS\n\n### Subject Line\n- Max **10 words**\n- Use **relevance, curiosity, or alignment** (no clickbait)\n- Personalize if possible  \n**Examples:**  \n- вЂњScaling sustainable AI вЂ” inspired by your recent investment in XвЂќ  \n- вЂњHelping your portfolio founders save 20+ hrs a weekвЂќ  \n\n### Preview Text\n- Max **15 words**\n- Complements subject, gives a concrete reason to open  \n**Examples:**  \n- вЂњSeed-stage AI startup automating 120+ workflows for SaaS teamsвЂќ  \n- вЂњ$25k MRR and scaling fast across startup teamsвЂќ  \n\n### Body\n- Max **180 words total**\n- Follow this flow:\n  1. Personalized hook в†’ вЂњI saw your investment inвЂ¦вЂќ  \n  2. Startup intro в†’ вЂњWeвЂ™re buildingвЂ¦вЂќ  \n  3. Proof / traction в†’ вЂњWeвЂ™ve grown toвЂ¦вЂќ  \n  4. CTA в†’ вЂњWould love to connectвЂ¦вЂќ  \n- Avoid fluff and buzzwords  \n- Use short, 1вЂ“2 sentence paragraphs  \n- Show confidence and clarity, not desperation  \n\n---\n\n## STYLE ADAPTATION\nAdjust tone automatically based on `Communication_Style`:\n\n| Style | Description |\n|-------|--------------|\n| **Formal** | Clear, structured, businesslike |\n| **Direct** | Short, confident, focused |\n| **Visionary** | Inspirational, mission-driven |\n| **Friendly** | Conversational, approachable |\n\n---\n\n## DOвЂ™S\n\n- Personalize every opening line (mention portfolio, thesis, or mutual connection).  \n- Keep it under 200 words.  \n- Use real traction or proof points.  \n- End with a clear **next step**.  \n- Sound like a **human founder**, not a PR team.  \n- Reference their **investment philosophy** if relevant.  \n- Be confident but polite.  \n\n---\n\n## DONвЂ™TS\n\n- DonвЂ™t use empty adjectives like *вЂњrevolutionaryвЂќ* or *вЂњcutting-edge.вЂќ*  \n- DonвЂ™t sound needy or beg for funding.  \n- DonвЂ™t overexplain your product.  \n- DonвЂ™t use long, dense paragraphs.  \n- DonвЂ™t forget a CTA or deck link.  \n- DonвЂ™t fake personalization вЂ” always anchor to a real detail.  \n\n---\n\n##  EXAMPLES\n\n### Example 1 вЂ” Seed SaaS Investor (Direct Tone)\n**Input Summary:**\n- Investor: Alice Kim, Partner at Atlas Ventures (AI/SaaS focus)  \n- Product: PromptFlow (AI workflow automation tool)  \n- Traction: $25k MRR, 120 paying teams  \n- Ask: $1M seed round  \n\n**Generated Email:**\n\n```\n\nSubject: Scaling workflow automation вЂ” aligned with AtlasвЂ™s AI focus\n\nHi Alice,\n\nI noticed your investment in LatticeAI вЂ” love your thesis around applied AI with proven traction.\nWeвЂ™re building PromptFlow, a workflow automation platform that helps startups streamline operations and customer support.\nWeвЂ™ve grown to $25k MRR with 120 paying teams in just four months, and weвЂ™re now raising a $1M seed round to scale integrations.\n\nWould you be open to a 15-minute chat to share our deck and growth plan?\n\nPitch Deck: https://assets.api.gamma.app/export/pdf/exax8hi4x0wh0v0/3c1e60234510d3881a253ffce3142bd5/CreatorFlow-AI-Your-Content-Reimagined.pdf\t\n\n\nBest,\nRohan Mehta\nCo-founder & CEO, PromptFlow\n[rohan@promptflow.ai](mailto:rohan@promptflow.ai)\n\nP.S. I think our focus on usable AI automation aligns strongly with your portfolio.\n\n```\n\n---\n\n### Example 2 вЂ” Impact Investor (Visionary Tone)\n**Input Summary:**\n- Investor: Daniel Rivera, Impact VC focused on sustainability  \n- Product: EcoPath (AI waste analytics)  \n- Traction: 3-city pilot, 12% waste reduction  \n\n**Generated Email:**\n\n```\n\nSubject: Turning waste data into measurable climate impact вЂ” EcoPath pilot results\n\nHi Daniel,\n\nYour post about measurable climate action through innovation really resonated.\nAt EcoPath, we use AI to help cities analyze waste data and reduce landfill output.\nOur three-city pilot achieved a 12% reduction in waste within the first quarter, and weвЂ™re now expanding to 10 more municipalities.\n\nWeвЂ™re raising a $750k pre-seed to scale the platform and would love to share the deck for your feedback.\n\nDeck: https://assets.api.gamma.app/export/pdf/exax8hi4x0wh0v0/3c1e60234510d3881a253ffce3142bd5/CreatorFlow-AI-Your-Content-Reimagined.pdf\t\n\n\nWarmly,\nMaya Patel\nCo-founder, EcoPath\n\nP.S. Your investment in GreenPulse inspired how we measure impact transparency.\n\n````\n\n---\n\n## SUCCESS CRITERIA\n\nA successful email should:\n- Feel handcrafted and relevant to that investor.  \n- Showcase traction clearly.  \n- Align with their thesis or portfolio.  \n- Invite a low-friction next step (15-min call, feedback request).  \n- Be under 200 words.  \n\n---\n\n## FINAL CHECKLIST\n\n- Personalization is real and specific  \n- Subject line under 10 words  \n- Preview text under 15 words  \n- Body under 180 words  \n- Includes 1 clear traction proof  \n- CTA is low-friction  \n- Tone matches investorвЂ™s style  \n- No filler or hype words  \n\n\n## Output Format\nStrict json output\n```\n{\nsubject:'',\nemail_copy:'',\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2016,448],"id":"91962073-8228-4dd7-a75f-72d84f5a34f7","name":"Email Writer Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc","mode":"list","cachedResultName":"Investor List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1600,464],"id":"1c80c062-0389-4de2-92ad-468c4bbbf4c2","name":"Get Investors"},{"parameters":{"jsonSchemaExample":"{\n\"subject\":\"\",\n\"email_copy\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2240,640],"id":"db356518-8d7a-4cd0-a0fa-daf140e6b011","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-search-preview","mode":"list","cachedResultName":"gpt-4o-search-preview"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,64],"id":"cfc3d5e8-53e1-47fd-af0a-7c5592408d03","name":"OpenAI Chat Model1"},{"parameters":{"url":"=https://public-api.gamma.app/v0.2/generations/{{ $json.generationId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-API-KEY","value":"sk-gamma-XnRIYy43iMO8Uoavm1BfQlI5wGEyhO3bYWp7uEEEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,416],"id":"2879edc2-3578-4b44-9015-162592ec10a6","name":"Get Presentation from Gamma"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.output.pitch_deck = item.json.output.pitch_deck.replace(/\\n/g, ' ');\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,432],"id":"f250a151-bc43-46b9-a986-cd047892f6ed","name":"JSON String -> JSON1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc","mode":"list","cachedResultName":"Investor List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Investors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XdnHEhWfsOgNxqA1ydjiHubPpS1o5Rl_kcnl1MP8qmc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Sent":"YES","Email":"={{ $('Get Investors').item.json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Investment Thesis","displayName":"Investment Thesis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sent","displayName":"Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2720,448],"id":"f966cccb-6634-4947-9804-1536e9f774bb","name":"Update Pitch Send"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,448],"id":"0c084f8d-9cf0-46f9-b492-c891be8a3bdc","name":"Wait","webhookId":"c15b3125-c5ea-4feb-a175-d8a162d624ed"},{"parameters":{"promptType":"define","text":"=You are a top-tier startup market analyst preparing a Series A investment memo. Use web research tools to gather 2024-2025 data from credible sources (McKinsey, Gartner, Statista, Grand View Research, PitchBook, CB Insights, industry reports).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSTARTUP PROFILE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCompany: {{ $json[\"Company Name\"] }}\nProblem/Solution: {{ $json[\"Problem & Solution: What pain point are you addressing?\"] }}\nService Model: {{ $json['Describe your service and pricing structure.'] }}\nRight Solution: {{ $json['What makes this the right solution, from the right team, at the right time?'] }}\nOther Business Info: {{ $json['Other Business Details'] }}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nYOUR MISSION\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n**RESEARCH FIRST:** Use web_search extensively to find:\n- Current market size reports (2024-2025)\n- CAGR projections and growth forecasts\n- Competitive landscape data\n- Regulatory and macro trends\n- Regional market breakdowns\n\n**THEN DELIVER:**\n\n1. **MARKET DEFINITION** (2-3 paragraphs)\n   вЂў Primary industry category + precise subsegment\n   вЂў ICP (Ideal Customer Profile): company size, verticals, pain points\n   вЂў Standard analyst terminology (use exact terms from reports)\n\n2. **MARKET SIZING** (Table format)\n   \n   | Metric | Value (USD) | CAGR | Methodology & Assumptions |\n   |--------|-------------|------|---------------------------|\n   | **TAM** (Total Addressable) | $X.XB | X% | [Global/regional scope, all potential customers, cite source] |\n   | **SAM** (Serviceable Available) | $X.XB | X% | [Geographic focus, accessible segments, key filters] |\n   | **SOM** (Serviceable Obtainable) | $XXM | X% | [Realistic 3-year capture, pricing model, market position] |\n   \n   **Calculation Logic:**\n   вЂў TAM: [Explain universe]\n   вЂў SAM: [Explain realistic reach]\n   вЂў SOM: [Explain conservative penetration assumption]\n\n3. **GROWTH DRIVERS** (Bulleted, data-backed)\n   вЂў Macro trends (AI adoption, regulation, remote work, etc.)\n   вЂў Technology catalysts\n   вЂў Economic/behavioral shifts\n   вЂў Competitive gaps or white space\n\n4. **GEOGRAPHIC HOTSPOTS**\n   вЂў Rank top 3 regions by $ opportunity\n   вЂў Explain why (regulatory, adoption curves, competition)\n\n5. **COMPETITIVE CONTEXT** (3-4 sentences)\n   вЂў Market maturity (emerging/growing/mature)\n   вЂў Key incumbent patterns\n   вЂў Differentiation opportunities\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQUALITY STANDARDS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nREQUIRED:\n- Cite sources inline: (Gartner 2025), (Statista Q1 2024)\n- Use specific numbers, not ranges when possible\n- Show CAGR for all sizing metrics\n- USD billions/millions format: $4.7B, $230M\n- Investor-grade tone: confident, concise, zero fluff\n- Make TAMв†’SAMв†’SOM logic crystal clear\n\nFORBIDDEN:\n- No disclaimers, apologies, or \"According to my research...\"\n- No vague language: \"significant growth\", \"rapidly expanding\"\n- No generic statements without data\n- Output in Compressed Data less than 1000 words for token usage minimization\n\nBegin Reserch and Analysis","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[608,-96],"id":"e9d89258-bb2f-469e-835b-715e2c6e1661","name":"Market Research Agent"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"You are a behavioral data researcher and early-stage VC scout. Your mission: validate whether this startup addresses a real, urgent, and monetizable pain by analyzing user sentiment, market inefficiencies, and quantifiable frustrations.\n\nYou extract only important data that helps to raise fund.","role":"system"},{"content":"=You are a behavioral data researcher and early-stage VC scout. Your mission: validate whether this startup addresses a real, urgent, and monetizable pain by analyzing user sentiment, market inefficiencies, and quantifiable frustrations.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSTARTUP PROFILE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCompany: {{ $('Collect Data from Form').item.json['Company Name'] }}\nPain/Solution: {{ $('Collect Data from Form').item.json['Problem & Solution: What pain point are you addressing?'] }}\nService Model: {{ $('Collect Data from Form').item.json['Describe your service and pricing structure.'] }}\nWhy Right Solution: {{ $('Collect Data from Form').item.json['What makes this the right solution, from the right team, at the right time?'] }}\nOther Info: {{ $('Collect Data from Form').item.json['Other Business Details'] }}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRESEARCH PROTOCOL\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n**SOURCES TO INVESTIGATE:**\n- User forums (Reddit, Quora, Stack Overflow, niche communities)\n- Review platforms (G2, Capterra, TrustPilot, ProductHunt)\n- Industry surveys (HubSpot, Gartner, McKinsey reports)\n- Social listening (Twitter/X, LinkedIn discussions)\n- Academic/research data on behavioral patterns\n- Competitive product complaints and feature requests\n\n**THEN DELIVER:**\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 1: PAIN SUMMARY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nWrite 2-3 sentences that:\n- Define the core struggle in concrete, measurable terms\n- Quantify the waste (hours/week, % revenue loss, efficiency gap)\n- Name the personas most affected\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 2: VALIDATION DATA POINTS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nProvide 5 specific, cited evidence points:\n\n**Format:**\n- [Metric/Finding] вЂ“ [Source, Year]\n- [User quote category or complaint volume] вЂ“ [Platform/Report, Year]\n- [Time/money waste statistic] вЂ“ [Source, Year]\n- [Adoption barrier or frustration rate] вЂ“ [Source, Year]\n- [Market gap or unmet need data] вЂ“ [Source, Year]\n\n**Example:**\n- 67% of marketing teams spend 8+ hours/week manually reformatting content across platforms вЂ“ HubSpot State of Marketing, 2024\n- \"Content repurposing tools\" searches increased 240% YoY вЂ“ Google Trends, 2024\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 3: TREND AMPLIFICATION\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nList 3 macro forces making this pain MORE urgent:\n\n**Required elements per trend:**\n- Trend name\n- How it intensifies the problem (with data)\n- Timeline/velocity of impact\n\n**Example format:**\n**1. AI Content Proliferation**\nOrganizations now produce 3x more content than 2022 (Content Marketing Institute), but repurposing workflows haven't scaled, creating bottlenecks.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 4: PERSONA PAIN MAPPING\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n| Persona | Pain Trigger | Consequence | Emotional State |\n|---------|--------------|-------------|-----------------|\n| [Title/Role] | [What causes the pain] | [Business/personal impact] | [How it feels] |\n| [Title/Role] | [What causes the pain] | [Business/personal impact] | [How it feels] |\n| [Title/Role] | [What causes the pain] | [Business/personal impact] | [How it feels] |\n\n**Example:**\n| Persona | Pain Trigger | Consequence | Emotional State |\n|---------|--------------|-------------|-----------------|\n| Marketing Manager | Manually reformatting content for 5+ channels daily | Wastes 10 hrs/week on mechanical work instead of strategy | Frustrated, burned out |\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 5: ADOPTION URGENCY SCORE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n**Score: X/10**\n\nOne sentence rationale explaining why this pain demands immediate attention (or doesn't).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQUALITY STANDARDS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nREQUIRED:\n- Every claim must have a source citation (Platform/Report, Year)\n- Use specific metrics: percentages, hours, dollar amounts\n- Draw from multiple source types (forums + reports + reviews)\n- Personas must be job-title specific, not generic\n- Emotional states must be authentic (avoid corporate jargon)\n- Urgency score must be justified with market timing logic\n- Output in Compressed Data less than 1000 words for token usage minimization\n\nFORBIDDEN:\n- No invented statistics or \"estimated\" numbers without source\n- No generic pain descriptions (\"users find it difficult\")\n- No assuming pain exists without evidence\n- No corporate buzzwords in emotional state column\n- No padding or filler text between sections\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nBEGIN PAIN VALIDATION RESEARCH\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1072,-96],"id":"f3025a31-3633-4928-914e-5661697292eb","name":"Pain Validation Research Agent"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1q1qowZdVufVIPC9mo7myuwvmhClOzn_QFzIPAYEaVkg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[912,-96],"id":"17fd4d9f-b2d5-4cad-9ded-32eb96a4a2ff","name":"Update Market Data"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1q1qowZdVufVIPC9mo7myuwvmhClOzn_QFzIPAYEaVkg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.message.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1360,-96],"id":"dc27e810-9da3-46f7-ac8a-ec76fed232e8","name":"Update Pain Validation Data"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=You are a competitive intelligence analyst advising VC funds on emerging SaaS markets. Your mission: map the competitive terrain, identify strategic whitespace, and articulate defensible positioning for this startup.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSTARTUP PROFILE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCompany: {{ $('Collect Data from Form').item.json['Company Name'] }}\nPain/Solution: {{ $('Collect Data from Form').item.json['Problem & Solution: What pain point are you addressing?'] }}\nService Model: {{ $('Collect Data from Form').item.json['Describe your service and pricing structure.'] }}\nWhy Right Solution: {{ $('Collect Data from Form').item.json['What makes this the right solution, from the right team, at the right time?'] }}\nOther Info: {{ $('Collect Data from Form').item.json['Other Business Details'] }}\n\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRESEARCH PROTOCOL\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n**INTELLIGENCE SOURCES:**\n- Direct competitors (same problem, same approach)\n- Indirect alternatives (same problem, different solution)\n- Adjacent incumbents (related workflows/tools)\n- Company websites, pricing pages, G2/Capterra reviews\n- Crunchbase, PitchBook for funding/revenue data\n- User sentiment on Reddit, ProductHunt, Twitter/X\n- Feature comparison sites and analyst reports\n\n**COMPETITIVE CATEGORIES TO INVESTIGATE:**\n1. Direct head-to-head competitors\n2. Horizontal platforms with overlapping features\n3. Legacy/manual alternatives users currently employ\n4. Emerging AI-native challengers\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 1: MARKET QUADRANT MAPPING\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nDescribe the competitive landscape using a two-dimensional framework:\n\n**AXES:**\n- X-Axis: Innovation Level (Low в†’ High)\n- Y-Axis: Market Adoption (Niche в†’ Mainstream)\n\n**QUADRANTS:**\n- **High Innovation, Low Adoption** вЂ“ [List companies/solutions here with 1 sentence each]\n- **High Innovation, High Adoption** вЂ“ [List companies/solutions here with 1 sentence each]\n- **Low Innovation, High Adoption** вЂ“ [List companies/solutions here with 1 sentence each]\n- **Low Innovation, Low Adoption** вЂ“ [List companies/solutions here with 1 sentence each]\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 2: COMPETITOR COMPARISON TABLE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nAnalyze 5-7 key competitors across strategic dimensions:\n\n| Company | Category | Positioning | Pricing Model | Core Strength | Key Weakness | Est. Revenue/Share |\n|---------|----------|-------------|---------------|---------------|--------------|-------------------|\n| [Name] | [Direct/Indirect/Adjacent] | [One-liner] | [Price range/model] | [What they do best] | [Where they fall short] | [ARR or market position] |\n\n**DIFFERENTIATION VECTOR ANALYSIS:**\n\n| Company | AI/Tech Depth | UX Quality | Niche Focus | Integration Ecosystem | Distribution Model | Lock-in Strength |\n|---------|---------------|------------|-------------|----------------------|-------------------|------------------|\n| [Name] | [Rating/description] | [Rating/description] | [Rating/description] | [Rating/description] | [Rating/description] | [Rating/description] |\n\n**Rating Scale:** Weak / Moderate / Strong / Best-in-class\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 3: STRATEGIC WHITESPACE ANALYSIS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nWrite 2-3 paragraphs addressing:\n\n**Paragraph 1: Market Gaps**\n- What customer needs remain underserved?\n- Which use cases are competitors ignoring?\n- Where are users expressing frustration with existing solutions?\n- Include specific evidence (reviews, forum complaints, feature request data)\n\n**Paragraph 2: Execution Gaps**\n- What are competitors doing poorly (UX, pricing, support, performance)?\n- Where do users resort to workarounds or multi-tool workflows?\n- Which personas are being overlooked?\n\n**Paragraph 3: Strategic Opening**\n- How can this startup exploit these gaps?\n- What positioning would create clear differentiation?\n- Which wedge strategy makes sense (vertical niche, workflow innovation, pricing model, technical approach)?\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 4: DEFENSIBILITY & MOAT RECOMMENDATIONS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nRecommend 2-3 moat strategies with implementation logic:\n\n**MOAT OPTIONS TO EVALUATE:**\n- Data Network Effects (proprietary data assets that improve with scale)\n- Workflow Lock-in (embedded in daily operations, high switching cost)\n- Community/Ecosystem (user-generated content, integrations, marketplace)\n- Technical Moat (proprietary AI models, unique algorithms, infrastructure)\n- Brand/Category Creation (own the category definition)\n- Integration Depth (become system of record, not point solution)\n\n**FORMAT PER RECOMMENDATION:**\n\n**Moat Type: [Name]**\n- **Mechanism:** How it works and creates defensibility\n- **Build Path:** Concrete steps to establish it (prioritized 1-2-3)\n- **Timeframe:** How long to achieve meaningful moat strength\n- **Risk:** What could undermine this moat\n- **Comparables:** Examples of companies with similar moats\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 5: STRATEGIC POSITIONING SUMMARY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n**One-Sentence Positioning:**\n[Craft a clear, differentiated positioning statement]\n\n**Key Battlegrounds:** (Where competition will be won/lost)\n- [Dimension 1]\n- [Dimension 2]\n- [Dimension 3]\n\n**Early Wedge Strategy:**\n[2-3 sentences on ideal initial market entry approach]\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQUALITY STANDARDS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nREQUIRED:\n- Name 5-7 specific competitors with real company names\n- Include pricing data (even if approximate: $X-Y/mo, enterprise, freemium)\n- Cite review data, funding info, or market position sources\n- Whitespace analysis must reference specific user evidence\n- Moat recommendations must be actionable, not theoretical\n- All claims about competitor weaknesses must be evidence-based\n\nFORBIDDEN:\n- No generic competitor descriptions without names\n- No invented pricing or revenue figures\n- No claiming whitespace exists without proof\n- No theoretical moats without build paths\n- No buzzword-heavy descriptions without substance\n- No avoiding difficult truths about competitive intensity\n\nANALYST MINDSET:\n- Be intellectually honest about competitive threats\n- Acknowledge when market is crowded or category is commoditizing\n- Identify realistic differentiation, not wishful thinking\n- Focus on actionable insights, not obvious observations\n- Output in Compressed Data less than 1000 words for token usage minimization\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nBEGIN COMPETITIVE INTELLIGENCE ANALYSIS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1520,-96],"id":"9e922caf-9517-4fd1-95ee-fe1b48bcd764","name":"Competitive Landscape Agent"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1q1qowZdVufVIPC9mo7myuwvmhClOzn_QFzIPAYEaVkg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.message.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1808,-96],"id":"b3b2e0ef-bd94-41bf-8313-316289649398","name":"Update Competitive Landscape"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=You are a growth strategist and ex-VC operator advising high-growth SaaS founders on how to reach their first $10M ARR.\nYour task: architect a data-backed, phased go-to-market plan that converts pain into traction, traction into retention, and retention into scalable advantage.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSTARTUP PROFILE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nCompany: {{ $('Collect Data from Form').item.json['Company Name'] }}\nPain/Solution: {{ $('Collect Data from Form').item.json['Problem & Solution: What pain point are you addressing?'] }}\nService Model: {{ $('Collect Data from Form').item.json['Describe your service and pricing structure.'] }}\nWhy Right Solution: {{ $('Collect Data from Form').item.json['What makes this the right solution, from the right team, at the right time?'] }}\nBusiness Metrics: {{ $('Collect Data from Form').item.json['What does your current usage data look like?'] }}\nOther Info: {{ $('Collect Data from Form').item.json['Other Business Details'] }}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRESEARCH PROTOCOL\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nINTELLIGENCE SOURCES:\n\nCompetitor GTM motions (launch campaigns, partnerships, ICP focus)\n\nProductHunt, G2, LinkedIn, AppSumo, and paid ad libraries (Meta, Google, TikTok)\n\nPublic interviews, case studies, and founder podcasts\n\nCommunity engagement signals (Reddit, Slack groups, IndieHackers)\n\nPricing pages, freemium funnels, and onboarding flows\n\nSearch demand data (Google Trends, Ahrefs, SEMrush)\n\nVC GTM teardown reports and seed-stage post-mortems\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 1: IDEAL CUSTOMER PROFILE (ICP) & SEGMENTATION\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nDefine the ICP in high-resolution detail:\n\nPrimary personas (titles, industries, company sizes, roles in purchase)\n\nTrigger events that make them buy (e.g., budget cycles, tech stack changes)\n\nQuantify TAM segment count (# of potential ICPs globally or regionally)\n\nTABLE FORMAT:\n\nSegment\tPersona\tCompany Size\tCore Pain Trigger\tBudget Level\tAcquisition Difficulty\tPriority\n[Example]\t[Role/Title]\t[SMB/Enterprise]\t[Short summary]\t[$XвЂ“Y]\t[Low/Med/High]\t[1вЂ“5]\n\nInclude persona language insights вЂ” direct quotes or sentiments from real-world users (e.g., Reddit, G2).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 2: VALUE PILLARS & MESSAGING STRATEGY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nCraft the 3вЂ“5 strongest value propositions that emotionally and rationally convert the ICP.\nEach pillar must tie to a specific measurable outcome (e.g., time saved, conversions gained, cost reduced).\n\nFORMAT:\n\nPillar\tEmotional Hook\tRational Benefit\tProof Element\tMessage Angle\n[Pillar name]\t[вЂњWhat it feels likeвЂќ]\t[вЂњWhat it doesвЂќ]\t[Metric or quote]\t[Tagline-style framing]\n\nAvoid fluffвЂ”each message should feel investor-ready and ad-copy-usable.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 3: CHANNEL STRATEGY & EXECUTION PLAYBOOK\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nEvaluate which acquisition channels are most viable based on the ICP, product category, and competitive dynamics.\nCover both early-traction and scale channels.\n\nCHANNELS TO EVALUATE:\n\nFounder-led organic (LinkedIn, communities, podcasts)\n\nPaid acquisition (Meta, Google, TikTok, LinkedIn Ads)\n\nSEO & content compounding\n\nPartnerships & integrations\n\nProduct-led loops (freemium invites, viral embeds, usage sharing)\n\nSales outbound (account-based GTM, cold outreach automation)\n\nTABLE FORMAT:\n\nChannel\tPurpose\tExecution Steps\tKPI\tTime Horizon\tBudget\tExpected ROI\n[Example: LinkedIn Organic]\t[Goal]\t[Tactics]\t[Metric]\t[3m/6m/12m]\t[$X]\t[1:X ratio]\n\nEach channel must include: core action steps, metrics of success, and feedback loops.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 4: GROWTH LOOP & VIRAL ENGINE DESIGN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nExplain how the product grows itself once adoption starts.\n\nSpecify:\n\nTrigger: What causes a user to create viral surface area?\n\nLoop Mechanic: How does one user bring another?\n\nRetention Driver: Why do they stay?\n\nCompounding Factor: What increases efficiency as scale grows?\n\nFORMAT EXAMPLE:\n\nвЂњEach exported report includes the companyвЂ™s branding в†’ shared externally в†’ generates inbound trials в†’ trial data feeds back into social proof в†’ improves conversion rates over time.вЂќ\n\nSummarize this as 1 short paragraph + a labeled 4-step loop diagram (in text).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 5: 12-MONTH GTM ROADMAP (PHASED PLAN)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nDivide execution into three momentum phases:\n\nPhase 1: Validation (0вЂ“3 months)\n\nObjective: prove demand + gather feedback\n\nKPIs: MQLs, conversion rates, retention in pilot cohort\n\nPhase 2: Traction (3вЂ“6 months)\n\nObjective: optimize CAC/LTV and establish repeatable funnel\n\nKPIs: CAC payback, channel ROI, referral velocity\n\nPhase 3: Scale (6вЂ“12 months)\n\nObjective: multi-channel expansion + automation + brand lift\n\nKPIs: ARR growth %, churn rate, NPS, inbound share of traffic\n\nTABLE FORMAT:\n\nPhase\tKey Objectives\tMilestones\tKPIs\tDependencies\tOwner\n0вЂ“3m\t[Goal]\t[Milestones]\t[KPIs]\t[Dependencies]\t[Owner/Team]\n3вЂ“6m\t...\t...\t...\t...\t...\n6вЂ“12m\t...\t...\t...\t...\t...\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 6: PRICING & MONETIZATION INSIGHTS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nEvaluate 3 plausible pricing archetypes (Freemium, Usage-based, Tiered, Hybrid).\n\nExplain why each might or might not work for this market.\n\nShow a Price Sensitivity Table:\n\nModel\tDescription\tBest Fit Persona\tCAC Recovery (months)\tRevenue Predictability\tRisk\n\nEnd with a recommended pricing hypothesis backed by reasoning from competitor benchmarks and buyer psychology.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 7: GTM RISK MATRIX & MITIGATION PLAN\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nIdentify the 5 most critical GTM risks and mitigation steps.\n\nRisk\tDescription\tPotential Impact\tMitigation Plan\tPriority\n[Example: Channel Saturation]\t[Why itвЂ™s a risk]\t[High/Med/Low]\t[Step-by-step mitigation]\t[1вЂ“5]\n\nInclude both market risks (category fatigue, pricing pressure) and execution risks (founder bandwidth, channel dependencies).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSECTION 8: STRATEGIC POSITIONING SUMMARY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nOne-sentence market position:\n\n[e.g., вЂњThe fastest way for SaaS marketers to repurpose webinars into viral micro-content вЂ” without hiring an editor.вЂќ]\n\nEarly wedge market:\n\n[Define the narrow entry point for traction.]\n\nExpansion path:\n\n[Explain how to grow from wedge в†’ adjacent market в†’ category leader.]\n\nCore success equation:\n\nAdoption Rate Г— Retention Depth Г— Growth Loop Efficiency = Scalable GTM Flywheel\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQUALITY STANDARDS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nREQUIRED:\n\nReference real GTM examples or data from similar SaaS products\n\nQuantify target metrics where possible (CAC, LTV, MRR, conversion %)\n\nPresent tactics with specific execution steps\n\nAll growth loops and messaging pillars must be logical and testable\n\n- Output in Compressed Data less than 1000 words for token usage minimization\n\nFORBIDDEN:\n\nVague statements like вЂњuse social mediaвЂќ or вЂњfocus on brand awarenessвЂќ\n\nNo buzzwords or empty вЂњgrowth hackingвЂќ advice\n\nNo copying competitor tactics without context\n\nNo omitting trade-offs or risks\n\nANALYST MINDSET:\n\nPrioritize ROI-based reasoning\n\nThink like a CMO designing a pre-Series A GTM engine\n\nEmphasize learning velocity and feedback loops\n\nAnchor every claim to measurable outcomes"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1952,-96],"id":"4fc1bc75-d333-4e8c-b237-adc7c64cb77e","name":"GTM Strategy Builder"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1q1qowZdVufVIPC9mo7myuwvmhClOzn_QFzIPAYEaVkg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.message.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2240,-96],"id":"1f78ea12-ad8e-4e3d-b390-7ba3ec2969be","name":"Update GTM Strategy"},{"parameters":{"operation":"get","documentURL":"={{ $json.documentId }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2416,-96],"id":"9f1360d1-80d4-4666-930c-4ed1fa4007e5","name":"Get Report"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2512,64],"id":"7b57b616-4297-4bd1-827a-80b2c770e759","name":"Anthropic Chat Model"}],"connections":{"Structured Output Parser2":{"ai_outputParser":[[{"node":"Pitch Content Generation","type":"ai_outputParser","index":0}]]},"Generate Presentation":{"main":[[{"node":"Get Presentation from Gamma","type":"main","index":0}]]},"Is the presentation Complete?":{"main":[[{"node":"Get Investors","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Get Presentation from Gamma","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Pitch Content Generation","type":"ai_languageModel","index":0}]]},"Collect Data from Form":{"main":[[{"node":"Market Research Agent","type":"main","index":0}]]},"Context Generator":{"main":[[{"node":"Pitch Content Generation","type":"main","index":0}]]},"Pitch Content Generation":{"main":[[{"node":"JSON String -> JSON1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Email Writer Agent","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Email Writer Agent","type":"ai_languageModel","index":0}]]},"Send a message":{"main":[[{"node":"Update Pitch Send","type":"main","index":0}]]},"Email Writer Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Investors":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Email Writer Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Market Research Agent","type":"ai_languageModel","index":0}]]},"Get Presentation from Gamma":{"main":[[{"node":"Is the presentation Complete?","type":"main","index":0}]]},"JSON String -> JSON1":{"main":[[{"node":"Generate Presentation","type":"main","index":0}]]},"Update Pitch Send":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Market Research Agent":{"main":[[{"node":"Update Market Data","type":"main","index":0}]]},"Pain Validation Research Agent":{"main":[[{"node":"Update Pain Validation Data","type":"main","index":0}]]},"Update Market Data":{"main":[[{"node":"Pain Validation Research Agent","type":"main","index":0}]]},"Update Pain Validation Data":{"main":[[{"node":"Competitive Landscape Agent","type":"main","index":0}]]},"Competitive Landscape Agent":{"main":[[{"node":"Update Competitive Landscape","type":"main","index":0}]]},"Update Competitive Landscape":{"main":[[{"node":"GTM Strategy Builder","type":"main","index":0}]]},"GTM Strategy Builder":{"main":[[{"node":"Update GTM Strategy","type":"main","index":0}]]},"Update GTM Strategy":{"main":[[{"node":"Get Report","type":"main","index":0}]]},"Get Report":{"main":[[{"node":"Context Generator","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Context Generator","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Collect Data from Form":[{"json":{"Company Name":"CreatorFlow AI","Problem & Solution: What pain point are you addressing?":"Problem: The creator economy has exploded to over 300M content creators globally, but 78% struggle with consistent content production due to creative burnout, time constraints, and the pressure to maintain multi-platform presence. Small businesses and solo creators spend 15-20 hours weekly on content creation, leaving little time for actual business growth or creative strategy. Solution: CreatorFlow AI is an end-to-end content creation platform that transforms a single idea into platform-optimized content across video, images, captions, and scripts in minutes. Our AI learns each creator's unique voice, brand style, and audience preferences to produce authentic content that maintains their personal touch while reducing production time by 85%.","What does your current usage data look like?":"Active Users: 12,400 creators across 47 countries Content Generated: 1.2M pieces of content produced monthly User Growth: 40% MoM growth for past 6 months Retention: 73% monthly active user retention Average Session Time: 18 minutes per session, 4.2 sessions per week Conversion Rate: 22% free-to-paid conversion rate Customer Segments: 45% individual creators, 35% small businesses, 20% agencies","Describe your service and pricing structure.":"Service Tiers: Starter (Free):  10 AI-generated content pieces per month 3 platform formats (Instagram, Twitter, LinkedIn) Basic brand voice training Standard templates  Creator Pro ($29/month):  100 content pieces per month All social platforms + blog/email formats Advanced brand voice & style customization Content calendar & scheduling Analytics dashboard Priority rendering  Business ($99/month):  Unlimited content generation Multi-brand management (up to 5 brands) Team collaboration (up to 10 seats) API access White-label options Dedicated account manager  Enterprise (Custom pricing):  Custom content volume Unlimited brands and team members Custom AI model training SLA guarantees On-premise deployment options  Revenue Model: 85% subscription revenue, 15% add-on services (custom model training, consulting)","What makes this the right solution, from the right team, at the right time?":"Right Solution: Unlike generic AI writing tools, CreatorFlow understands creator-specific needs: maintaining authentic voice, cross-platform optimization, and visual+textual content. Our proprietary \"Voice DNA\" technology ensures content sounds like the creator, not a robot. We're the only platform combining GPT-4 with custom fine-tuned models for visual and video content. Right Team:  Deep expertise in both AI/ML and creator economy 120+ years combined experience in content creation and distribution Previously built and scaled two creator tools (acquired) Diverse team understands creators from micro-influencers to enterprises Strong advisor network including executives from YouTube, Adobe, and Canva  Right Time:  Creator economy valued at $250B+ and growing 23% annually 67% of Gen Z aspires to be content creators Post-2024, AI adoption in creative work normalized; creators seeking quality tools Major platforms (Instagram, TikTok, YouTube) now favor consistent posting (5-7x weekly) Recent survey: 82% of creators willing to pay for AI tools that save time while maintaining authenticity","Founders & Experiences":"Sarah Chen - CEO & Co-Founder  Former VP of Product at ContentHub (acquired by Adobe for $180M) Built and scaled creator tools used by 2M+ creators MS in Computer Science, Stanford Published researcher in natural language processing 12 years in tech product leadership  Marcus Rodriguez - CTO & Co-Founder  Ex-Senior ML Engineer at Google Brain, worked on Gemini Founded AICreate Labs (acquired by Canva, 2023) PhD in Machine Learning, MIT 6 patents in generative AI and computer vision 10 years building AI products at scale  Aisha Okonkwo - CPO & Co-Founder  Professional content creator with 2M+ followers across platforms Former Head of Creator Partnerships at TikTok (Europe) Deep understanding of creator pain points and workflows BA in Digital Media, NYU 8 years in creator economy, both sides of the table","Other Business Details":"Incorporation: Delaware C-Corp, Founded March 2024 Funding Stage: Seed round - Raised $3.2M (March 2024)  Lead: Craft Ventures Participating: Y Combinator, several angel investors from creator economy  Current Runway: 18 months Team Size: 14 full-time employees (4 engineers, 3 product, 2 sales/marketing, 2 design, 3 operations) Headquarters: San Francisco, CA (Remote-friendly) Patents/IP: 2 provisional patents filed for Voice DNA technology and cross-platform content optimization algorithms Partnerships: Integration partnerships with Shopify, WordPress, Buffer, and Hootsuite Target Market: $12B TAM - focusing on the 50M+ \"professional creators\" (those earning >$10K annually from content) Key Metrics Goal (12 months): 100K active users, $10M ARR, 80% retention rate Technology Stack: Python/PyTorch for ML, React/Node.js for web app, AWS infrastructure, proprietary fine-tuned models on top of GPT-4 and Stable Diffusion","submittedAt":"2025-10-18T08:08:51.528-07:00","formMode":"test"}}]},"versionId":"d85400a4-ce9e-4ebf-bfbc-61d788b9b21f","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-05-02T18:08:44.466Z","createdAt":"2026-05-02T18:08:44.466Z","role":"workflow:owner","workflowId":"QhH1w3N9sQZfylay","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[{"updatedAt":"2026-01-11T00:43:00.744Z","createdAt":"2026-01-11T00:43:00.744Z","id":"F6klDeUBt6ZFfq5X","name":"Client"},{"updatedAt":"2026-01-11T00:43:00.708Z","createdAt":"2026-01-11T00:43:00.708Z","id":"HmyaJQBnzNBzCvkB","name":"Gamma"}],"activeVersion":null}