hbf_online/2026/04/RSS - WhatsApp/XFnqDE0OhnJTfUKg.json
{"updatedAt":"2026-04-27T15:41:47.000Z","createdAt":"2026-04-27T15:41:47.666Z","id":"XFnqDE0OhnJTfUKg","name":"RSS - WhatsApp","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"30d4f694-9378-42b4-b1d5-cbc38fb3e7fe","operator":{"type":"dateTime","operation":"after"},"leftValue":"={{ $json.pubDate }}","rightValue":"={{ $today.minus({ days: 1 }) }}"}]},"options":{}},"id":"7954b38a-a3a6-494c-93f9-bd3be5fbcd4e","name":"Filter","type":"n8n-nodes-base.filter","position":[432,288],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"e2ffe594-180d-4e1d-b869-8056ac67015d","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"87c5a171-9ab9-4043-a72a-32aec218fe63","name":"pubDate","type":"string","value":"={{ $json.pubDate }}"},{"id":"978b05c9-6e6b-4a18-bc06-4de785b19413","name":"conteudo","type":"string","value":"={{ $json['content:encoded'] }}"}]},"options":{}},"id":"70236364-b334-49f9-a286-eff6e5a54063","name":"Edit Fields","type":"n8n-nodes-base.set","position":[16,208],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"e2ffe594-180d-4e1d-b869-8056ac67015d","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"87c5a171-9ab9-4043-a72a-32aec218fe63","name":"pubDate","type":"string","value":"={{ $json.pubDate }}"},{"id":"bae1b890-716b-442c-8714-b4ece09063d7","name":"conteudo","type":"string","value":"={{ $json.contentSnippet }}"}]},"options":{}},"id":"e754664f-2734-4783-ad9d-64adcb49c227","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[16,416],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"e2ffe594-180d-4e1d-b869-8056ac67015d","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"87c5a171-9ab9-4043-a72a-32aec218fe63","name":"pubDate","type":"string","value":"={{ $json.pubDate }}"},{"id":"978b05c9-6e6b-4a18-bc06-4de785b19413","name":"conteudo","type":"string","value":"={{ $json.contentSnippet }}"}]},"options":{}},"id":"68c3b69b-09c4-4649-a3b5-6f47dfea9c9c","name":"Edit Fields2","type":"n8n-nodes-base.set","position":[16,624],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"e2ffe594-180d-4e1d-b869-8056ac67015d","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"87c5a171-9ab9-4043-a72a-32aec218fe63","name":"pubDate","type":"string","value":"={{ $json.pubDate }}"},{"id":"978b05c9-6e6b-4a18-bc06-4de785b19413","name":"conteudo","type":"string","value":"={{ $json.content }}"}]},"options":{}},"id":"aa0adcc4-f486-4d55-8541-26c228cd8729","name":"Edit Fields3","type":"n8n-nodes-base.set","position":[16,-16],"typeVersion":3.4},{"parameters":{"numberInputs":4},"id":"6d97c88a-093b-422f-be4d-9a01796676c9","name":"Merge","type":"n8n-nodes-base.merge","position":[240,272],"typeVersion":3.1},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_7Miwcww78kuTtx5rVQ7m5Nnw","cachedResultName":"Linkedin"},"prompt":"define","text":"=I've received news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles.\n1.{{ $json.data[0].title }}{{ $json.data[0].conteudo }}\n2.{{ $json.data[1].title }}{{ $json.data[1].conteudo }}\n3.{{ $json.data[2].title }}{{ $json.data[2].conteudo }}\n4.{{ $json.data[3].title }}{{ $json.data[3].conteudo }}\n5.{{ $json.data[4].title }}{{ $json.data[4].conteudo }}\n6.{{ $json.data[5].title }}{{ $json.data[5].conteudo }}\n7.{{ $json.data[6].title }}{{ $json.data[6].conteudo }}\n8.{{ $json.data[7].title }}{{ $json.data[7].conteudo }}\n9.{{ $json.data[8].title }}{{ $json.data[8].conteudo }}\n10.{{ $json.data[9].title }}{{ $json.data[9].conteudo }}","options":{}},"id":"9704233f-ef59-4fed-8bfa-c283d479be57","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[1024,288],"typeVersion":1.8},{"parameters":{"maxItems":10},"id":"3bc67808-719d-4dca-95ff-955b5fffec43","name":"Limit","type":"n8n-nodes-base.limit","position":[640,288],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"title, pubDate, conteudo","options":{}},"id":"9fdf7a79-ceba-4cc3-a128-4ba6cae09323","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[832,288],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"id":"12558b11-e08f-4aef-9664-95b92e069b6d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-544,304],"typeVersion":1.2},{"parameters":{},"id":"8c27715d-baf5-4704-955f-757f196f6691","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1584,288],"typeVersion":1},{"parameters":{"content":"## About Limit\nlimits the analysis to the 10 most recent articles"},"id":"236969ef-1c65-472a-a7c9-6f262ebf942b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[576,464],"typeVersion":1},{"parameters":{"url":"https://uxdesign.cc/feed","options":{"ignoreSSL":false}},"id":"5d7cd856-c7af-40f6-9187-c57f87be9536","name":"My RSS 01","type":"n8n-nodes-base.rssFeedRead","position":[-208,-16],"typeVersion":1.1,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.technologyreview.com/topic/artificial-intelligence/feed/","options":{}},"id":"01aa1a34-5546-4e28-b0d9-2b330cf759a8","name":"My RSS 02","type":"n8n-nodes-base.rssFeedRead","position":[-208,208],"typeVersion":1.1,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://the-decoder.com/feed/","options":{}},"id":"6461bacc-d056-4f9f-ad99-ad4c8713e267","name":"My RSS 03","type":"n8n-nodes-base.rssFeedRead","position":[-208,416],"typeVersion":1.1,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theverge.com/rss/index.xml","options":{"ignoreSSL":false}},"id":"704f8e9f-6004-41e5-888f-be4c8f4722fd","name":"My RSS 04","type":"n8n-nodes-base.rssFeedRead","position":[-208,624],"typeVersion":1.1,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"content":"## About RSS\nYou can add how many RSS you want"},"id":"46ce1731-acb2-4361-9edf-87cc4dd37402","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-272,784],"typeVersion":1},{"parameters":{"method":"POST","url":"yoururlapi.com","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"=your phone number"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"id":"f99298d8-19bb-4c88-aaf5-e6977b6d2669","name":"Send resum to  Whatsapp","type":"n8n-nodes-base.httpRequest","position":[1360,288],"typeVersion":4.2},{"parameters":{"content":"## About Resum\nyou can send to your whatsapp api, or email, drive..."},"id":"6a7aab4f-753b-4aa0-8924-328eedb95105","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1296,496],"typeVersion":1},{"parameters":{"content":"## About Trgger\nSet trigger how you wish"},"id":"bcfac228-6507-48c3-983d-7e3ea18145cc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-608,464],"typeVersion":1},{"parameters":{"content":"## System message (change if you want)\nI've received 10 news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles."},"id":"6f0e07d2-7ccc-4f99-a13b-93328e6acb4c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1024,496],"typeVersion":1}],"connections":{"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Send resum to  Whatsapp","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"My RSS 01":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"My RSS 02":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"My RSS 03":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"My RSS 04":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"My RSS 01","type":"main","index":0},{"node":"My RSS 02","type":"main","index":0},{"node":"My RSS 03","type":"main","index":0},{"node":"My RSS 04","type":"main","index":0}]]},"Send resum to  Whatsapp":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ee799df9-280e-43d0-b6db-9a6cfd6345e9","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T15:41:47.670Z","createdAt":"2026-04-27T15:41:47.670Z","role":"workflow:owner","workflowId":"XFnqDE0OhnJTfUKg","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}