hbf_online/2026/04/HBF Daily Brief - Main Pipeline/VevUIniXTzkSIiHu.json
{"updatedAt":"2026-04-27T16:42:04.889Z","createdAt":"2026-04-27T15:40:41.176Z","id":"VevUIniXTzkSIiHu","name":"HBF Daily Brief - Main Pipeline","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"e0e6159c-706f-482b-9e98-6399ab5fb2d0","name":"Daily 6am ET","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,176]},{"parameters":{"operation":"executeQuery","query":"SELECT source_id, source_name, url, default_category FROM feeds WHERE active = true AND ingest_kind = 'rss' AND consecutive_failures < 5","options":{}},"id":"1d0573ca-0ce4-48ee-9b62-2d50b603dd89","name":"Load RSS Feeds","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,-16],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT source_id, source_name, url, default_category FROM feeds WHERE active = true AND ingest_kind = 'apify_crawl' AND consecutive_failures < 5","options":{}},"id":"e8c79a10-adae-433a-8adf-5370c87ec900","name":"Load Apify Crawl Targets","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,176],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"hbf-news-aggregator/1.0 (+https://honeybearfin.com)"},{"name":"Accept","value":"application/rss+xml, application/atom+xml, application/xml, text/xml; q=0.9, */*; q=0.8"}]},"options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":20000}},"id":"a6337703-b6c6-499e-a2fd-aa01e2b8f5b6","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[192,-16],"continueOnFail":true},{"parameters":{"jsCode":"const out = [];\nfor (const item of $input.all()) {\n  const sourceId = item.json.source_id;\n  const sourceName = item.json.source_name;\n  const defaultCategory = item.json.default_category || 'industry_practice';\n\n  // The HTTP Request node returns body either as $json.data (string) or $json directly.\n  let xml = '';\n  if (typeof item.json === 'string') xml = item.json;\n  else if (typeof item.json.data === 'string') xml = item.json.data;\n  else if (typeof item.json.body === 'string') xml = item.json.body;\n  else if (item.binary && item.binary.data && item.binary.data.data) {\n    xml = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n  }\n  if (!xml) continue;\n\n  const articles = [];\n  const itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let m;\n  while ((m = itemRegex.exec(xml)) !== null) {\n    const block = m[1];\n    const title = (block.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i) || [,''])[1].trim();\n    const link = (block.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/i) || [,''])[1].trim();\n    const desc = (block.match(/<description[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/i) || [,''])[1].trim();\n    const pubDate = (block.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i) || [,''])[1].trim();\n    if (title && link) articles.push({title, link, description: desc, pubDate});\n  }\n  if (articles.length === 0) {\n    const entryRegex = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    while ((m = entryRegex.exec(xml)) !== null) {\n      const block = m[1];\n      const title = (block.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/i) || [,''])[1].trim();\n      const linkMatch = block.match(/<link[^>]*href=\"([^\"]+)\"/i);\n      const link = linkMatch ? linkMatch[1] : '';\n      const summary = (block.match(/<(?:summary|content)[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/(?:summary|content)>/i) || [,''])[1].trim();\n      const updated = (block.match(/<(?:updated|published)>([\\s\\S]*?)<\\/(?:updated|published)>/i) || [,''])[1].trim();\n      if (title && link) articles.push({title, link, description: summary, pubDate: updated});\n    }\n  }\n\n  for (const a of articles) {\n    out.push({\n      json: {\n        source_id: sourceId,\n        source_name: sourceName,\n        source_kind: 'rss',\n        default_category: defaultCategory,\n        title: a.title.replace(/<[^>]+>/g, '').slice(0, 500),\n        url: a.link,\n        published_at: a.pubDate ? (function(){ try { return new Date(a.pubDate).toISOString(); } catch(e){ return null; } })() : null,\n        snippet: a.description.replace(/<[^>]+>/g, '').slice(0, 1500)\n      }\n    });\n  }\n}\nreturn out;"},"id":"426cbd7d-4945-45a0-b1d3-c4e69c2f06e5","name":"Parse RSS","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-16]},{"parameters":{"jsCode":"const inputs = $input.all();\nif (inputs.length === 0) return [{json: {startUrls: [], skip: true}}];\nconst urls = inputs.map(it => ({url: it.json.url}));\nreturn [{json: {\n  startUrls: urls,\n  maxCrawlDepth: 1,\n  maxCrawlPages: 60,\n  crawlerType: 'playwright:firefox',\n  proxyConfiguration: {useApifyProxy: true, apifyProxyGroups: ['RESIDENTIAL']},\n  saveMarkdown: true,\n  removeElementsCssSelector: 'nav, footer, aside, .sidebar, .related, header'\n}}];"},"id":"a5a57e56-b782-4434-b038-04c6021b4c51","name":"Aggregate Apify URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,176]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":600000}},"id":"4158db2c-184b-44b4-83eb-c6bf78635b01","name":"Run Apify Crawl","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[192,176],"continueOnFail":true},{"parameters":{"jsCode":"const out = [];\nconst hostMap = {\n  'irs.gov':                 ['irs_newsroom',     'IRS Newsroom',           'tax_regulatory'],\n  'fincen.gov':              ['fincen_boi',       'FinCEN BOI',             'tax_regulatory'],\n  'firmofthefuture.com':     ['firm_of_future',   'Firm of the Future',     'industry_practice'],\n  'karbonhq.com':            ['karbon_blog',      'Karbon Magazine',        'industry_practice'],\n  'journalofaccountancy.com':['jofa_news',        'Journal of Accountancy', 'tax_regulatory'],\n  'aicpa-cima.com':          ['aicpa_insights',   'AICPA Insights',         'industry_practice'],\n  'thetaxadviser.com':       ['tax_adviser',      'The Tax Adviser',        'tax_regulatory'],\n  'keeper.app':              ['keeper_blog',      'Keeper',                 'industry_practice'],\n  'relayfi.com':             ['relay_blog',       'Relay',                  'industry_practice']\n};\n\nfor (const it of $input.all()) {\n  const data = it.json;\n  if (!data || !data.url) continue;\n  // Skip the seed/index pages themselves; we want content pages\n  let host;\n  try { host = new URL(data.url).hostname.replace(/^www\\./, ''); } catch(e) { continue; }\n  const mapped = hostMap[host] || [host.replace(/\\./g, '_'), host, 'industry_practice'];\n  const [sourceId, sourceName, defaultCategory] = mapped;\n\n  const text = data.markdown || data.text || '';\n  if (text.length < 200) continue;  // discard nav-only pages\n\n  out.push({\n    json: {\n      source_id: sourceId,\n      source_name: sourceName,\n      source_kind: 'apify_crawl',\n      default_category: defaultCategory,\n      title: ((data.metadata && data.metadata.title) || data.title || '').slice(0, 500),\n      url: data.url,\n      published_at: (data.metadata && (data.metadata.publishedAt || data.metadata.modifiedAt)) || data.loadedTime || null,\n      snippet: text.slice(0, 1500)\n    }\n  });\n}\nreturn out;"},"id":"48f2159f-0486-43c3-b481-2a1e3a848285","name":"Parse Apify","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,176]},{"parameters":{"operation":"getAll","limit":100,"filters":{"labelIds":[],"q":"label:intel/govdelivery newer_than:2d"}},"id":"b2b491bd-b4ce-4672-8807-30f31740493d","name":"Search Gmail GovDelivery","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[192,368],"webhookId":"7d9abb05-2f8e-4d37-9b68-4ea6a7b612e2","credentials":{"gmailOAuth2":{"id":"dVP1Y8nzwrGWkNC7","name":"Alex HBF"}},"continueOnFail":true},{"parameters":{"jsCode":"const out = [];\nfor (const it of $input.all()) {\n  const msg = it.json;\n  const headers = (msg.payload && msg.payload.headers) || [];\n  const h = (n) => (headers.find(x => x.name === n) || {}).value || '';\n  const subject = h('Subject') || msg.subject || '';\n  const from = h('From') || msg.from || '';\n  const date = h('Date') || (msg.internalDate ? new Date(parseInt(msg.internalDate)).toISOString() : '');\n  const snippet = msg.snippet || msg.text || '';\n\n  let sourceId = 'gmail_other';\n  let sourceName = 'GovDelivery';\n  let category = 'tax_regulatory';\n  if (/irs\\.gov|govdelivery.*irs/i.test(from)) { sourceId = 'irs_newswire'; sourceName = 'IRS Newswire'; }\n  else if (/fincen\\.gov/i.test(from)) { sourceId = 'fincen_govdelivery'; sourceName = 'FinCEN'; }\n  else if (/treasury\\.gov/i.test(from)) { sourceId = 'treasury_press'; sourceName = 'Treasury'; }\n  else if (/revenue\\.ky\\.gov|kyfac/i.test(from)) { sourceId = 'ky_dor'; sourceName = 'Kentucky DOR'; }\n  else if (/in\\.gov/i.test(from)) { sourceId = 'in_dor'; sourceName = 'Indiana DOR'; }\n  else if (/ssa\\.gov/i.test(from)) { sourceId = 'ssa_press'; sourceName = 'SSA Press'; category = 'client_smb'; }\n  else if (/dol\\.gov/i.test(from)) { sourceId = 'dol_govdelivery'; sourceName = 'DOL'; category = 'client_smb'; }\n\n  let url = '';\n  const text = (msg.text || snippet || '').toString();\n  const linkMatch = text.match(/https?:\\/\\/[^\\s)>\"]+/);\n  if (linkMatch) url = linkMatch[0];\n  if (!url) url = `gmail://message/${msg.id || ''}`;\n\n  if (!subject) continue;\n\n  out.push({\n    json: {\n      source_id: sourceId,\n      source_name: sourceName,\n      source_kind: 'gmail',\n      default_category: category,\n      title: subject.slice(0, 500),\n      url,\n      published_at: date ? (function(){ try { return new Date(date).toISOString(); } catch(e){ return null; } })() : null,\n      snippet: (text || snippet).slice(0, 1500)\n    }\n  });\n}\nreturn out;"},"id":"f5f46815-a800-4efc-909b-2b96ac96c6ca","name":"Parse Gmail","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,368]},{"parameters":{"numberInputs":3},"id":"76b72c0d-7e7b-4bf9-824e-c035eb4df8eb","name":"Merge Streams","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[640,160]},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nfunction normalizeUrl(u) {\n  if (!u) return '';\n  try {\n    const url = new URL(u);\n    const drop = ['utm_source','utm_medium','utm_campaign','utm_content','utm_term','fbclid','gclid','mc_cid','mc_eid','ref','source'];\n    drop.forEach(p => url.searchParams.delete(p));\n    url.hash = '';\n    return url.toString();\n  } catch { return u; }\n}\n\nconst out = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (!j || !j.title || !j.url) continue;\n  const normUrl = normalizeUrl(j.url);\n  const hashInput = `${normUrl}|${j.title.trim().toLowerCase()}`;\n  const hash = crypto.createHash('sha256').update(hashInput).digest('hex');\n  out.push({json: {...j, url: normUrl, content_hash: hash}});\n}\nreturn out;"},"id":"cd406234-aa0e-43cd-8cd7-a07d58b2cf7e","name":"Normalize & Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,176]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM seen_items WHERE content_hash = ANY($1::text[])","options":{"queryReplacement":"={{ $input.all().map(i => i.json.content_hash) }}"}},"id":"9d39f2fd-a93b-4baf-9915-6c378e1f0aa9","name":"Dedupe Lookup","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1088,176],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"jsCode":"const seenRows = $input.all().map(i => i.json);\nconst seenHashes = new Set(seenRows.map(r => r.content_hash));\nconst allItems = $('Normalize & Hash').all().map(i => i.json);\n\nconst cutoff = new Date(Date.now() - 36 * 60 * 60 * 1000);\nconst noisePattern = /\\b(PCAOB|Big 4 audit|SEC enforcement against|Deloitte settl|sanctions designation|OFAC SDN list|Olympics|World Cup)\\b/i;\nconst authoritative = new Set([\n  'irs_newsroom','irs_newswire','fincen_boi','fincen_govdelivery','treasury_press',\n  'ky_dor','in_dor','indiana_dor','jofa_news','tax_adviser','aicpa_insights','dol_govdelivery'\n]);\n\n// Within-batch dedupe (same URL appearing twice across sources)\nconst withinBatch = new Set();\nconst out = [];\nfor (const j of allItems) {\n  if (seenHashes.has(j.content_hash)) continue;\n  if (withinBatch.has(j.content_hash)) continue;\n  withinBatch.add(j.content_hash);\n  if (j.published_at) {\n    const t = new Date(j.published_at);\n    if (!isNaN(t) && t < cutoff) continue;\n  }\n  const text = `${j.title} ${j.snippet || ''}`;\n  if (!authoritative.has(j.source_id) && noisePattern.test(text)) continue;\n  out.push({json: j});\n}\n// Cap to keep Anthropic output under default 8K token budget\nreturn out.slice(0, 60);"},"id":"8958136f-5575-4978-be42-04d824e7310e","name":"Filter & Prefilter","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,176]},{"parameters":{"jsCode":"const fullItems = $input.all().map(it => it.json);\n\nconst promptItems = fullItems.map(j => ({\n  id: j.content_hash.slice(0, 12),\n  source: j.source_name,\n  source_id: j.source_id,\n  default_category: j.default_category,\n  title: j.title,\n  published: j.published_at,\n  snippet: (j.snippet || '').slice(0, 600)\n}));\n\nconst systemPrompt = [\n  \"You are the curation editor for the Honey Bear Financials (HBF) Daily Brief. HBF is a bookkeeping and advisory firm in New Albany, Indiana, serving SMB clients across the Louisville KY metro and broader Indiana/Kentucky region. The firm uses QuickBooks Online and Xero, leans into value pricing and advisory (CAS), and serves clients with revenues from $250K to $20M.\",\n  \"\",\n  \"YOUR JOB: For each news item provided, produce a structured rating with plain-English summary, category, importance score, and action items.\",\n  \"\",\n  \"CATEGORIES (assign exactly one):\",\n  \"- tax_regulatory: IRS/Treasury/FinCEN/state DOR rulings, regs, deadline changes, BOI, Section 174, ERC, payroll tax, sales tax / Wayfair nexus\",\n  \"- industry_practice: firm operations, pricing, AI tools, QBO/Xero/Karbon/Canopy product updates, staffing, CPA pipeline, M&A, advisory growth\",\n  \"- client_smb: small-business pain points, fraud/scam alerts, 1099 changes, payroll updates, bookkeeping how-tos that HBF could repackage for clients\",\n  \"\",\n  \"IMPORTANCE SCORING (0-100, calibrate aggressively, do not cluster):\",\n  \"  90-100: Action-required within 7 days. New federal law, BOI rule change, IRS deadline shift, mass-affecting state change in IN or KY, critical security issue in QBO/Xero.\",\n  \"  75-89:  High-relevance. Specific guidance, meaningful product updates for tools HBF uses, important practice trends, IN/KY state items.\",\n  \"  60-74:  Worth knowing. Industry trends, useful articles, value-pricing content, pipeline issues.\",\n  \"  40-59:  Background context. Big-picture or aspirational content.\",\n  \"  0-39:   Probably should not have made it through prefilter; rate low and move on.\",\n  \"\",\n  \"GEOGRAPHIC WEIGHTING: Add +10 to base score for Indiana-specific items, +8 for Kentucky-specific items, +5 for Ohio Valley regional items.\",\n  \"\",\n  \"SUMMARY RULES:\",\n  \"- 2-3 sentences, max 60 words\",\n  \"- Lead with the concrete change or finding, not background\",\n  \"- Use plain English; assume reader knows accounting but not legal jargon\",\n  \"- Never use em-dashes; use semicolons or commas instead\",\n  \"- Never invent facts; if the title is a teaser and you have no body text, summarize what is genuinely in the snippet only\",\n  \"\",\n  \"ACTION ITEMS: Only emit if there is a concrete action a bookkeeping firm should take in the next 30 days. Empty array is correct most of the time.\",\n  \"\",\n  \"CLIENT_COMM_CANDIDATE: True only if this is something HBF should consider emailing clients about (scam alerts, deadline changes, broadly applicable new rules). Default false.\",\n  \"\",\n  \"Output in the exact JSON format specified. Return all items in the items array, in the order given.\"\n].join('\\n');\n\nconst promptText = systemPrompt + '\\n\\n' + `Rate the following ${promptItems.length} items:\\n\\n${JSON.stringify(promptItems, null, 2)}`;\n\nreturn [{json: {promptText, originalItems: fullItems, promptItems, itemCount: promptItems.length}}];"},"id":"68f94be7-dd62-4692-bdc2-262457b9d113","name":"Build Anthropic Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,176]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst ratings = (response.output && response.output.items) || [];\nif (!ratings || ratings.length === 0) {\n  throw new Error('No items in structured output: ' + JSON.stringify(response).slice(0, 800));\n}\n\nconst ratingsById = Object.fromEntries(ratings.map(r => [r.id, r]));\nconst originalItems = $('Build Anthropic Body').first().json.originalItems;\n\nconst out = [];\nfor (const orig of originalItems) {\n  const id = orig.content_hash.slice(0, 12);\n  const r = ratingsById[id];\n  if (!r) continue;\n  out.push({\n    json: {\n      ...orig,\n      summary: r.summary,\n      category: r.category,\n      subcategory: r.subcategory || null,\n      importance_score: r.importance_score,\n      why_it_matters: r.why_it_matters,\n      action_items: r.action_items || [],\n      client_comm_candidate: !!r.client_comm_candidate,\n      geographic_relevance: r.geographic_relevance || 'general',\n      _input_tokens: 0,\n      _output_tokens: 0,\n      _cache_read_input_tokens: 0,\n      _cache_creation_input_tokens: 0\n    }\n  });\n}\nreturn out;"},"id":"03940e93-f8db-48a5-88ab-25791579ee9f","name":"Parse Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,176]},{"parameters":{"jsCode":"const all = $input.all().map(i => i.json);\nall.sort((a, b) => b.importance_score - a.importance_score);\n\nconst quotas = {tax_regulatory: 6, industry_practice: 5, client_smb: 3};\nconst buckets = {tax_regulatory: [], industry_practice: [], client_smb: []};\nfor (const it of all) {\n  const cat = (it.category in buckets) ? it.category : 'industry_practice';\n  buckets[cat].push(it);\n}\n\nconst selected = [];\nconst seen = new Set();\nfor (const [cat, min] of Object.entries(quotas)) {\n  for (const it of buckets[cat].slice(0, min)) {\n    if (!seen.has(it.content_hash)) { selected.push(it); seen.add(it.content_hash); }\n  }\n}\nfor (const it of all) {\n  if (selected.length >= 20) break;\n  if (!seen.has(it.content_hash)) { selected.push(it); seen.add(it.content_hash); }\n}\nselected.sort((a, b) => b.importance_score - a.importance_score);\n\nconst top3 = selected.slice(0, 3);\nconst rest = selected.slice(3);\nconst taxItems = rest.filter(i => i.category === 'tax_regulatory');\nconst industryItems = rest.filter(i => i.category === 'industry_practice');\nconst clientItems = rest.filter(i => i.category === 'client_smb');\n\nconst N8N_BASE = 'https://n8n.clifton.quest';\nconst FB = (h, s) => `${N8N_BASE}/webhook/brief/feedback?item=${encodeURIComponent(h)}&signal=${s}`;\n\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));\n}\nfunction timeAgo(iso) {\n  if (!iso) return '';\n  const t = new Date(iso); if (isNaN(t)) return '';\n  const h = Math.round((Date.now() - t.getTime()) / 3600000);\n  if (h < 1) return 'just now'; if (h < 24) return `${h}h ago`;\n  return `${Math.round(h / 24)}d ago`;\n}\n\nfunction renderItem(it, n) {\n  const actions = (it.action_items || []).length\n    ? `<div style=\"margin-top:6px;font-size:13px;color:#444\"><strong>ACTION:</strong> ${esc(it.action_items.join('; '))}</div>` : '';\n  const why = it.why_it_matters\n    ? `<div style=\"margin-top:4px;font-size:13px;color:#666;font-style:italic\">${esc(it.why_it_matters)}</div>` : '';\n  const geo = ['indiana','kentucky'].includes(it.geographic_relevance)\n    ? `<span style=\"background:#fef3c7;color:#92400e;padding:1px 6px;border-radius:3px;font-size:11px;margin-left:4px\">${it.geographic_relevance.toUpperCase()}</span>` : '';\n  const comm = it.client_comm_candidate\n    ? `<span style=\"background:#dbeafe;color:#1e40af;padding:1px 6px;border-radius:3px;font-size:11px;margin-left:4px\">CLIENT COMM</span>` : '';\n  return `<div style=\"margin-bottom:18px;padding-bottom:14px;border-bottom:1px solid #eee\">\n    <div style=\"font-weight:600;font-size:15px;line-height:1.35\"><span style=\"color:#999\">${n}.</span> ${esc(it.title)}${geo}${comm}</div>\n    <div style=\"font-size:12px;color:#888;margin:3px 0\">Score ${it.importance_score} · ${esc(it.source_name)} · ${timeAgo(it.published_at)}</div>\n    <div style=\"font-size:14px;line-height:1.5;color:#222;margin-top:4px\">${esc(it.summary)}</div>\n    ${why}${actions}\n    <div style=\"margin-top:8px;font-size:12px\">\n      <a href=\"${esc(it.url)}\" style=\"color:#2563eb;text-decoration:none\">→ Source</a>\n      &nbsp;·&nbsp;\n      <a href=\"${FB(it.content_hash,'up')}\" style=\"color:#16a34a;text-decoration:none\">👍</a>\n      &nbsp;\n      <a href=\"${FB(it.content_hash,'down')}\" style=\"color:#dc2626;text-decoration:none\">👎</a>\n    </div>\n  </div>`;\n}\nfunction renderSection(title, items, startN) {\n  if (!items.length) return '';\n  return `<h2 style=\"font-size:13px;letter-spacing:0.08em;color:#666;margin:24px 0 12px;text-transform:uppercase;border-top:2px solid #333;padding-top:12px\">${title} (${items.length} items)</h2>\n    ${items.map((it, i) => renderItem(it, startN + i)).join('')}`;\n}\n\nconst dateStr = new Date().toLocaleDateString('en-US', {weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'});\nconst readMin = Math.max(8, Math.round(selected.length * 0.7));\nconst totalConsidered = all.length;\nconst totalIncluded = selected.length;\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#f5f5f5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif\">\n<div style=\"max-width:640px;margin:0 auto;background:#fff;padding:24px 22px\">\n  <div style=\"border-bottom:3px solid #111;padding-bottom:12px;margin-bottom:18px\">\n    <div style=\"font-size:11px;letter-spacing:0.15em;color:#666;text-transform:uppercase\">HBF Daily Brief</div>\n    <div style=\"font-size:18px;font-weight:700;margin-top:4px\">${dateStr}</div>\n    <div style=\"font-size:12px;color:#888;margin-top:4px\">${selected.length} items · ~${readMin} min read</div>\n  </div>\n  <h2 style=\"font-size:13px;letter-spacing:0.08em;color:#666;margin:0 0 12px;text-transform:uppercase\">Top stories</h2>\n  ${top3.map((it, i) => renderItem(it, i + 1)).join('')}\n  ${renderSection('Tax & Regulatory', taxItems, 4)}\n  ${renderSection('Industry & Practice', industryItems, 4 + taxItems.length)}\n  ${renderSection('Client-Facing & SMB', clientItems, 4 + taxItems.length + industryItems.length)}\n  <div style=\"margin-top:30px;padding-top:14px;border-top:1px solid #eee;font-size:11px;color:#999;text-align:center\">\n    Items considered: ${totalConsidered} · Filtered to: ${totalIncluded}\n  </div>\n</div>\n</body></html>`;\n\nconst subject = `HBF Brief · ${dateStr} · ${selected.length} items`;\nconst usage = all[0] || {};\nconst totalIn = (usage._input_tokens || 0) + (usage._cache_read_input_tokens || 0) + (usage._cache_creation_input_tokens || 0);\nconst totalOut = usage._output_tokens || 0;\nconst cost = (\n  ((usage._input_tokens || 0) / 1e6) * 3.0 +\n  ((usage._cache_read_input_tokens || 0) / 1e6) * 0.3 +\n  ((usage._cache_creation_input_tokens || 0) / 1e6) * 3.75 +\n  (totalOut / 1e6) * 15.0\n);\n\nreturn [{\n  json: {\n    html,\n    subject,\n    selected,\n    allConsidered: all,\n    digest_record: {\n      digest_date: new Date().toISOString().slice(0, 10),\n      item_count: selected.length,\n      items: selected.map(s => ({\n        hash: s.content_hash, score: s.importance_score, category: s.category,\n        source: s.source_id, title: s.title\n      })),\n      total_input_tokens: totalIn,\n      total_output_tokens: totalOut,\n      cost_usd: Number(cost.toFixed(4))\n    }\n  }\n}];"},"id":"bf60e6b3-7a52-40fb-b0d1-1cf10c4bb1e0","name":"Rank & Compose HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,176]},{"parameters":{"sendTo":"REPLACE_WITH_RECIPIENT@hbf.dev","subject":"={{ $json.subject }}","message":"={{ $json.html }}","options":{}},"id":"566277cf-8140-495c-a19d-92d6f4261929","name":"Send Brief Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2560,-16],"webhookId":"7506ec0b-27d3-4abd-b9fe-5b5fb4674110","credentials":{"gmailOAuth2":{"id":"dVP1Y8nzwrGWkNC7","name":"Alex HBF"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO seen_items (content_hash, source_id, url, title, published_at, importance_score, category, included_in_digest) SELECT * FROM unnest($1::text[], $2::text[], $3::text[], $4::text[], $5::timestamptz[], $6::int[], $7::text[], $8::bool[]) ON CONFLICT (content_hash) DO UPDATE SET importance_score = EXCLUDED.importance_score, category = EXCLUDED.category, included_in_digest = seen_items.included_in_digest OR EXCLUDED.included_in_digest","options":{"queryReplacement":"={{ $json.allConsidered.map(i => i.content_hash) }},={{ $json.allConsidered.map(i => i.source_id) }},={{ $json.allConsidered.map(i => i.url) }},={{ $json.allConsidered.map(i => i.title) }},={{ $json.allConsidered.map(i => i.published_at) }},={{ $json.allConsidered.map(i => i.importance_score || 0) }},={{ $json.allConsidered.map(i => i.category) }},={{ $json.allConsidered.map(i => $json.selected.some(s => s.content_hash === i.content_hash)) }}"}},"id":"1fc67b40-1da9-4d4c-9485-b67d3d4c1ada","name":"Persist Seen Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2560,368],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO digest_history (digest_date, item_count, items, total_input_tokens, total_output_tokens, cost_usd) VALUES ($1::date, $2::int, $3::jsonb, $4::int, $5::int, $6::numeric) ON CONFLICT (digest_date) DO UPDATE SET item_count = EXCLUDED.item_count, items = EXCLUDED.items, total_input_tokens = digest_history.total_input_tokens + EXCLUDED.total_input_tokens, total_output_tokens = digest_history.total_output_tokens + EXCLUDED.total_output_tokens, cost_usd = digest_history.cost_usd + EXCLUDED.cost_usd","options":{"queryReplacement":"={{ $json.digest_record.digest_date }},={{ $json.digest_record.item_count }},={{ JSON.stringify($json.digest_record.items) }},={{ $json.digest_record.total_input_tokens }},={{ $json.digest_record.total_output_tokens }},={{ $json.digest_record.cost_usd }}"}},"id":"11a885ed-06ff-48af-b406-94f3cdb18f85","name":"Persist Digest History","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2560,176],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.promptText }}","hasOutputParser":true,"batching":{}},"id":"4c26bc63-8d51-4a99-bc7a-f1515b40e1bd","name":"Anthropic Call","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1760,176]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"claude-sonnet-4-6"},"options":{"maxTokensToSample":8000,"temperature":0.7}},"id":"513223b9-f23b-4de7-b855-d6d629e14f14","name":"Claude Sonnet 4.6","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1768,400],"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{ \"items\": [{ \"id\": \"abc123\", \"summary\": \"Brief summary\", \"category\": \"tax_regulatory\", \"subcategory\": \"IRS\", \"importance_score\": 85, \"why_it_matters\": \"Explanation\", \"action_items\": [\"Action 1\"], \"client_comm_candidate\": false, \"geographic_relevance\": \"federal\" }] }"},"id":"bfceacf5-2305-4b93-85f7-4a0e667dcfc3","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1896,400]}],"connections":{"Daily 6am ET":{"main":[[{"node":"Load RSS Feeds","type":"main","index":0},{"node":"Load Apify Crawl Targets","type":"main","index":0},{"node":"Search Gmail GovDelivery","type":"main","index":0}]]},"Load RSS Feeds":{"main":[[{"node":"Fetch RSS","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse RSS","type":"main","index":0}]]},"Parse RSS":{"main":[[{"node":"Merge Streams","type":"main","index":0}]]},"Load Apify Crawl Targets":{"main":[[{"node":"Aggregate Apify URLs","type":"main","index":0}]]},"Aggregate Apify URLs":{"main":[[{"node":"Run Apify Crawl","type":"main","index":0}]]},"Run Apify Crawl":{"main":[[{"node":"Parse Apify","type":"main","index":0}]]},"Parse Apify":{"main":[[{"node":"Merge Streams","type":"main","index":1}]]},"Search Gmail GovDelivery":{"main":[[{"node":"Parse Gmail","type":"main","index":0}]]},"Parse Gmail":{"main":[[{"node":"Merge Streams","type":"main","index":2}]]},"Merge Streams":{"main":[[{"node":"Normalize & Hash","type":"main","index":0}]]},"Normalize & Hash":{"main":[[{"node":"Dedupe Lookup","type":"main","index":0}]]},"Dedupe Lookup":{"main":[[{"node":"Filter & Prefilter","type":"main","index":0}]]},"Filter & Prefilter":{"main":[[{"node":"Build Anthropic Body","type":"main","index":0}]]},"Build Anthropic Body":{"main":[[{"node":"Anthropic Call","type":"main","index":0}]]},"Parse Claude":{"main":[[{"node":"Rank & Compose HTML","type":"main","index":0}]]},"Rank & Compose HTML":{"main":[[{"node":"Send Brief Email","type":"main","index":0},{"node":"Persist Seen Items","type":"main","index":0},{"node":"Persist Digest History","type":"main","index":0}]]},"Send Brief Email":{"main":[[]]},"Anthropic Call":{"main":[[{"node":"Parse Claude","type":"main","index":0}]]},"Claude Sonnet 4.6":{"ai_languageModel":[[{"node":"Anthropic Call","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Anthropic Call","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"90fc8ef2-74e6-47f4-b20c-b523a832c118","activeVersionId":null,"versionCounter":9,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T15:40:41.180Z","createdAt":"2026-04-27T15:40:41.180Z","role":"workflow:owner","workflowId":"VevUIniXTzkSIiHu","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}