hbf_online/2025/12/My workflow/PtRiTLOGHDCPQR68.json
{"updatedAt":"2025-12-19T15:07:13.000Z","createdAt":"2025-12-16T02:06:40.587Z","id":"PtRiTLOGHDCPQR68","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,144],"id":"932003a4-fb81-4bbe-85c6-fb2f5e3232da","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"return [\n  {\n    \"recipient_id\": \"1036610955\",\n    \"first_name\": \"Leonardo Dicaprio\",\n    \"last_name\": \"Company Fake 1\",\n    \"question_62954838\": \"523433498\"\n  },\n  {\n    \"recipient_id\": \"1036610955\",\n    \"first_name\": \"Brad Pitt\",\n    \"last_name\": \"Company Fake 2\",\n    \"question_62954835\": \"523433499\"\n  },\n  {\n    \"recipient_id\": \"1036610955\",\n    \"first_name\": \"Denzel Washington\",\n    \"last_name\": \"Company Fake 3\",\n    \"question_62954835\": \"523433500\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"c0466cee-ae2c-4e4a-a7a9-3582215a9b2f","name":"Test Data: Recipient response ID"},{"parameters":{"jsCode":"return [\n  {\n    \"Question ID\": 62954838,\n    \"Question name\": \"What is your favourite movie?\",\n    \"Answer\": \"Se7en\",\n    \"Answer ID\": 523433498\n  },\n  {\n    \"Question ID\": 62954835,\n    \"Question name\": \"Who is your favourite director to work with?\",\n    \"Answer\": \"Quentin Tarantino\",\n    \"Answer ID\": 523433499\n  },\n  {\n    \"Question ID\": 62954835,\n    \"Question name\": \"Who is your favourite director to work with?\",\n    \"Answer\": \"Martin Scorcese\",\n    \"Answer ID\": 523433500\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,224],"id":"92768b48-ecf0-4dc0-9aae-ebff57430e98","name":"Test Data: Response content"},{"parameters":{"mode":"combine","fieldsToMatchString":"Answer ID","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[464,128],"id":"6057bbb5-c086-4623-99e8-0d52f9f5995f","name":"Merge in Answer data"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  ...$json,\n  [$json[\"Question name\"]]: $json.Answer\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,128],"id":"c6abcdd0-bb23-41a4-9d5d-bb678a29568a","name":"Denormalize data structure"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const QuestionField = Object.keys($json).filter(key => key.startsWith(\"question_\"))[0]\nconst QuestionID = QuestionField.match(/^question_(\\d+)$/)?.[1] ?? null\n\nreturn {\n  ...$json,\n  \"Extracted Question ID\": +QuestionID,\n  \"Answer ID\": +$json[QuestionField]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"de4b844a-7218-4909-a348-448a9f1159f4","name":"Normalize question data structure"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Test Data: Recipient response ID","type":"main","index":0},{"node":"Test Data: Response content","type":"main","index":0}]]},"Test Data: Recipient response ID":{"main":[[{"node":"Normalize question data structure","type":"main","index":0}]]},"Test Data: Response content":{"main":[[{"node":"Merge in Answer data","type":"main","index":1}]]},"Merge in Answer data":{"main":[[{"node":"Denormalize data structure","type":"main","index":0}]]},"Normalize question data structure":{"main":[[{"node":"Merge in Answer data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c5367991-6d42-4005-b472-f44adb721c9a","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T02:06:40.590Z","createdAt":"2025-12-16T02:06:40.590Z","role":"workflow:owner","workflowId":"PtRiTLOGHDCPQR68","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-07T14:56:11.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1767220479000}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-07","isPending":false}}]}}],"tags":[],"activeVersion":null}