hbf_online/2025/12/Sync Closed Honeybook Clients to Todoist Projects/FYDgeiVfufp1mE4L.json
{"updatedAt":"2026-01-01T13:06:16.000Z","createdAt":"2025-12-20T15:09:29.432Z","id":"FYDgeiVfufp1mE4L","name":"Sync Closed Honeybook Clients to Todoist Projects","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"e29149bd-6997-475b-94b8-ee8bac57a39d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[576,-240]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"honeybookApiUrl","value":"<__PLACEHOLDER_VALUE__Honeybook API endpoint for closed clients__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"1eab456a-d93a-43c6-ab02-993f43c0013d","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-240]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.honeybookApiUrl }}","authentication":"genericCredentialType","genericAuthType":"<__PLACEHOLDER_VALUE__Select Honeybook API Credential__>","options":{}},"id":"618c0613-1118-44b0-a861-367e016dec1d","name":"Get Closed Clients from Honeybook","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,-240]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"clientId","value":"={{ $json.id }}","type":"string"},{"id":"id-2","name":"clientName","value":"={{ $json.name }}","type":"string"},{"id":"id-3","name":"clientEmail","value":"={{ $json.email }}","type":"string"}]},"options":{}},"id":"929ad216-3ec1-4c95-9516-c20bc456885c","name":"Extract Client Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,-240]},{"parameters":{"authentication":"oAuth2","resource":"project","name":"={{ $json.clientName }}","projectOptions":{}},"id":"33ff566c-55c5-4dad-84d8-2ef19e1af2b9","name":"Create Todoist Project","type":"n8n-nodes-base.todoist","typeVersion":2.1,"position":[1472,-240],"credentials":{"todoistOAuth2Api":{"id":"QNi2Vw5gYnjBs6zD","name":"Todoist account"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"client_id","value":"={{ $('Extract Client Data').first().json.clientId }}","type":"string"},{"id":"id-2","name":"client_name","value":"={{ $('Extract Client Data').first().json.clientName }}","type":"string"},{"id":"id-3","name":"client_email","value":"={{ $('Extract Client Data').first().json.clientEmail }}","type":"string"},{"id":"id-4","name":"todoist_project_id","value":"={{ $json.id }}","type":"string"},{"id":"id-5","name":"created_at","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"92061548-aa9d-4f86-9be0-5fa39890c314","name":"Prepare Mapping Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,-240]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"client_to_project_mappings"},"columns":{"mappingMode":"autoMapInputData","value":null},"options":{}},"id":"91ea19c4-ee02-4668-80ae-9fc21b935c21","name":"Store Mapping in Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,-240],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Closed Clients from Honeybook","type":"main","index":0}]]},"Get Closed Clients from Honeybook":{"main":[[{"node":"Extract Client Data","type":"main","index":0}]]},"Extract Client Data":{"main":[[{"node":"Create Todoist Project","type":"main","index":0}]]},"Create Todoist Project":{"main":[[{"node":"Prepare Mapping Data","type":"main","index":0}]]},"Prepare Mapping Data":{"main":[[{"node":"Store Mapping in Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"087ae6c6-59c8-4fa0-bd57-aa4faef67f96","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T15:09:29.435Z","createdAt":"2025-12-20T15:09:29.435Z","role":"workflow:owner","workflowId":"FYDgeiVfufp1mE4L","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-25T05:33:15.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-25","isPending":false}}]}}],"tags":[],"activeVersion":null}