hbf_online/2026/01/Competitor LinkedIn monitor with Airtop/nwPhtX0-suxlh0SScoqCp.json
{"updatedAt":"2026-01-21T02:42:32.000Z","createdAt":"2026-01-21T02:30:24.307Z","id":"nwPhtX0-suxlh0SScoqCp","name":"Competitor LinkedIn monitor with Airtop","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":18}]}},"id":"13a5909c-94b7-41f6-8936-7fe3093a4224","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[720,1264],"typeVersion":1.2},{"parameters":{"content":"## Enter [Airtop Profile](https://portal.airtop.ai/browser-profiles) authenticated to LinkedIn in the \"Profile Name\" field\n","height":340,"width":260,"color":2},"id":"ecccaebc-645f-489e-a4cc-28079d040214","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1072,1088],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"value":"1B5qLs5dSXwhTGJA6pNlQQyqcls62OPyu7HdIXPBDMXc","mode":"list","cachedResultName":"Competitive Monitoring Linkedin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B5qLs5dSXwhTGJA6pNlQQyqcls62OPyu7HdIXPBDMXc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B5qLs5dSXwhTGJA6pNlQQyqcls62OPyu7HdIXPBDMXc/edit#gid=0"},"options":{}},"id":"5d2caa2f-e333-4dd8-b879-1eb11b3a4eb7","name":"Get Competitors","type":"n8n-nodes-base.googleSheets","position":[928,1264],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"resource":"extraction","sessionMode":"new","url":"={{ $json['Post lists to watch'] }}","profileName":"Linkedin","prompt":"This is a list of posts.\n\nPerform the following steps:\n1. Extract the text of up to 5 posts that were published no more than 1 week ago.\n2. Summarize the selected posts and highlight:\nNumber of posts published in the last week\nMain topics covered in the posts\nLevel of user engagement with the posts","additionalFields":{}},"id":"65fe9b89-c790-4b4e-bc48-2c1f62613841","name":"Analyze Posts","type":"n8n-nodes-base.airtop","position":[1152,1264],"typeVersion":1,"credentials":{"airtopApi":{"id":"fcgPBiIZS5Af1KyR","name":"Airtop account - BB Zac"}}},{"parameters":{"content":"README\n\n# Automating LinkedIn Competitive Monitoring\n\n## Use Case\n\nMonitoring competitors on LinkedIn helps organizations stay updated on rival strategies, hiring trends, and engagement activities. Automating this process saves time and provides structured summaries to your team regularly.\n\n## What This Automation Does\n\nThis automation monitors and summarizes LinkedIn posts from competitor profiles and shares the results on Slack. It uses the following input parameters:\n\n* **Airtop Profile**: A browser profile authenticated to LinkedIn. [Create one](https://portal.airtop.ai/browser-profiles)\n* **Google Sheet**: A document listing LinkedIn profile URLs of competitors.\n* **Slack Channel**: The destination for sharing summarized post insights.\n\n## How It Works\n\n1. **Trigger**: The workflow is scheduled to run weekly at a specific time.\n2. **Data Collection**: Retrieves the list of competitor LinkedIn URLs from a Google Sheet.\n3. **Browser Automation**: Uses Airtop to navigate to each LinkedIn profile and analyze up to 5 recent posts.\n4. **Summarization**: Summarizes number of recent posts, main topics, and engagement levels using Airtop’s AI.\n5. **Slack Notification**: Posts a formatted summary to a predefined Slack channel.\n\n## Setup Requirements\n\n1. [Airtop API Key](https://portal.airtop.ai/api-keys) — free to generate.\n2. An [Airtop Profile](https://portal.airtop.ai/browser-profiles) authenticated to LinkedIn.\n3. Google Sheet with competitor post URLs., [copy this one](https://docs.google.com/spreadsheets/d/1TknyHS8ie0KONgF4-KFGR76I74egHLt7-M9sIxjQXGY/edit?usp=sharing)\n4. Slack Bot credentials with access to the target channel.\n\n## Next Steps\n\n* **Expand Coverage**: Add more competitor profiles to the Google Sheet to scale monitoring.\n* **Integrate with CRM**: Feed summarized insights into your CRM for competitor tracking.\n* **Enhance Analysis**: Include post-level engagement metrics over time for trend analysis.\n","height":1220,"width":1260,"color":5},"id":"3ca59ee5-382b-42ca-bc65-7a5952489ff6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"sendTo":"alex@honeybearfinancials.com","subject":"Linkedin Weekly Competitor Research","message":"={{ $json.data.modelResponse }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1376,1264],"id":"2ac2a54a-71b9-4f26-94d7-3c593625b125","name":"Send a message","webhookId":"f6ea801e-5c55-481c-9fa2-4e767d6ad64f","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}}],"connections":{"Analyze Posts":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get Competitors":{"main":[[{"node":"Analyze Posts","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":30,"errorWorkflow":"AqqHC4HlzK2Gq3eR"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"5167","templateCredsSetupCompleted":true},"pinData":{},"versionId":"98a290ce-b960-4877-bda7-da96ae58cb7c","activeVersionId":null,"versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-01-21T02:42:32.222Z","createdAt":"2026-01-21T02:42:32.222Z","role":"workflow:owner","workflowId":"nwPhtX0-suxlh0SScoqCp","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-02-18T05:14:07.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-18","isPending":false}}]}}],"tags":[],"activeVersion":null}