hbf_online/2025/12/Backup all n8n workflows to Google Drive every 4 hours/PIQFI2RzZkdLFaEy.json
{"updatedAt":"2025-12-31T22:35:12.000Z","createdAt":"2025-12-27T21:59:42.649Z","id":"PIQFI2RzZkdLFaEy","name":"Backup all n8n workflows to Google Drive every 4 hours","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"62edf095-a02a-4b8d-a7b1-e194ae0d3652","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"1e10875b-f54b-43a8-a7a2-43d4fcbf248d","name":"n8n","type":"n8n-nodes-base.n8n","position":[736,368],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true},{"parameters":{"options":{}},"id":"1f5caabb-d76b-4744-be76-97e9abea1ddc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[928,368],"typeVersion":3},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"replaceme","cachedResultUrl":"https://drive.google.com/drive/folders/replaceme","cachedResultName":"Workflow Backups"},"options":{}},"id":"755e0803-c5c0-48a7-9c0c-44f8d5718d0b","name":"create new folder","type":"n8n-nodes-base.googleDrive","position":[560,368],"typeVersion":3},{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"22874532-6d87-4a72-bb51-dd8c6e03c0c1","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[1152,464],"typeVersion":1.1},{"parameters":{"name":"={{ $('Loop Over Items').item.json.name + \".json\" }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('create new folder').item.json.id }}"},"options":{}},"id":"0b0155f1-15bc-4580-af6e-7dec3b0d5737","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1328,464],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"c7b73036-1831-4dd6-8dd9-fef1356a184c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[368,512],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"666dcf95-928c-4270-808f-755a9771a410","name":"Filter","type":"n8n-nodes-base.filter","position":[1328,272],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"f6f44cbe-a98e-4a49-8c4c-59ebe02db9e5","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[1520,272],"typeVersion":3},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"mode":"list","value":"replaceme","cachedResultUrl":"https://drive.google.com/drive/folders/replaceme","cachedResultName":"Workflow Backups"}},"options":{}},"id":"d96a009f-08d3-4f0d-9f70-f9e0de9b9f91","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[1152,272],"typeVersion":3}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"delete folder":{"main":[[]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get folders","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"create new folder":{"main":[[{"node":"n8n","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"create new folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"2886"},"pinData":{},"versionId":"40b2b125-5995-4cfe-9bc6-c5862bc9318d","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-27T21:59:42.651Z","createdAt":"2025-12-27T21:59:42.651Z","role":"workflow:owner","workflowId":"PIQFI2RzZkdLFaEy","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-01T05:04:43.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1767220479000}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-01","isPending":false}}]}}],"tags":[],"activeVersion":null}