hbf_online/2026/03/Chatwoot Cal.com AI Sales Bot/XMzdtCGGuIlpDrxo.json
{"updatedAt":"2026-03-09T23:52:43.966Z","createdAt":"2026-03-09T23:22:06.803Z","id":"XMzdtCGGuIlpDrxo","name":"Chatwoot Cal.com AI Sales Bot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"<__PLACEHOLDER_VALUE__chatwoot-webhook__>","options":{"noResponseBody":true}},"id":"e2579914-54f3-49e5-839e-4869a90a79b7","name":"Chatwoot Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,400],"webhookId":"678cfa7c-5eba-4799-bd88-f81dfe8bab09"},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.body.message_type }}","operator":{"type":"string","operation":"equals"},"rightValue":"incoming"}]},"options":{}},"id":"bbfec5cb-8bf5-4790-b16e-09e4d113bfc8","name":"Filter Own Messages","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,400]},{"parameters":{"url":"={{ $json.body.account.api_url }}/api/v1/accounts/{{ $json.body.account.id }}/conversations/{{ $json.body.conversation.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"49dade84-9d4d-4652-ac10-d3c71a1ca8a4","name":"Get Conversation History","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,400]},{"parameters":{"jsCode":"const messages = $input.first().json.payload || [];\nconst formatted = messages.map(msg => ({\n  role: msg.message_type === \"incoming\" ? \"user\" : \"assistant\",\n  content: msg.content\n}));\n\nconst webhookData = $(\"Chatwoot Webhook\").item.json.body;\n\nreturn [{\n  json: {\n    messages: formatted,\n    conversationId: webhookData.conversation.id,\n    contactName: webhookData.sender.name,\n    contactEmail: webhookData.sender.email,\n    latestMessage: webhookData.content,\n    accountId: webhookData.account.id,\n    apiUrl: webhookData.account.api_url\n  }\n}];"},"id":"f181c4d8-8498-4ddc-8c48-aa5063934b0f","name":"Format for LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,400]},{"parameters":{"promptType":"define","text":"={{ $json.latestMessage }}","options":{"systemMessage":"=You are a friendly sales assistant for our company. Your role is to:\n1. Greet customers warmly and understand their needs\n2. Qualify leads by asking about: their problem, company size, timeline, and budget\n3. When a customer expresses interest in booking a call, respond with ONLY this JSON (no other text):\n   {\"action\":\"book_call\",\"name\":\"[customer name]\",\"email\":\"[customer email]\"}\n4. When a customer selects a time slot (e.g., \"option 1\", \"Tuesday 2pm\"), respond with ONLY this JSON:\n   {\"action\":\"confirm_booking\",\"slot\":\"[ISO date string]\"}\n5. Otherwise, respond conversationally to help the customer\n6. Never be pushy. If you are unsure, offer to connect them with a human agent\n\nCustomer name: {{ $json.contactName }}\nCustomer email: {{ $json.contactEmail }}\n\nPrevious conversation:\n{{ $json.messages.map(m => m.role + \": \" + m.content).join(\"\\n\") }}"}},"id":"06ec453d-aeb8-49a1-8f03-7a8cc6775bb8","name":"Qualify & Detect Intent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1136,400]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"temperature":0.7}},"id":"94d1673e-d036-405d-a6b9-5cabf55c7c06","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1136,592],"credentials":{"openAiApi":{"id":"YkNmbyZnv2KRWq6X","name":"OpenAi account"}}},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.output }}","operator":{"type":"string","operation":"contains"},"rightValue":"\"action\":\"book_call\""}]},"options":{}},"id":"1c3a72e0-fbd9-437a-b3c1-af31c7b25b7a","name":"Booking Intent?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1488,400]},{"parameters":{"url":"https://api.cal.com/v2/slots/available","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startTime","value":"={{ $now.toISO() }}"},{"name":"endTime","value":"={{ $now.plus({ days: 7 }).toISO() }}"},{"name":"eventTypeId","value":"<__PLACEHOLDER_VALUE__Your Cal.com Event Type ID__>"}]},"options":{}},"id":"b5bd68d3-9647-42b9-af84-b7badf23c5b3","name":"Get Cal.com Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1712,208]},{"parameters":{"method":"POST","url":"={{ $(\"Format for LLM\").item.json.apiUrl }}/api/v1/accounts/{{ $(\"Format for LLM\").item.json.accountId }}/conversations/{{ $(\"Format for LLM\").item.json.conversationId }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"content\": \"Great! Here are available times for a discovery call:\\n\\n\" + Object.entries($json.data.slots).flatMap(([date, times], dayIdx) => times.map((slot, idx) => (dayIdx * 10 + idx + 1) + \") \" + new Date(slot.time).toLocaleString(\"en-US\", { weekday: \"short\", month: \"short\", day: \"numeric\", hour: \"numeric\", minute: \"2-digit\", timeZone: \"UTC\" }))).join(\"\\n\") + \"\\n\\nPlease reply with the number of your preferred time.\", \"message_type\": \"outgoing\", \"private\": false } }}","options":{}},"id":"97591aec-f1f4-4a95-9749-15967bbc2fac","name":"Send Slot Options to Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1936,208]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.output }}","operator":{"type":"string","operation":"contains"},"rightValue":"\"action\":\"confirm_booking\""}]},"options":{}},"id":"32885c17-3373-4dab-b276-72b338275409","name":"Slot Selected?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1712,496]},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"start\": JSON.parse($(\"Qualify & Detect Intent\").item.json.output).slot, \"eventTypeId\": <__PLACEHOLDER_VALUE__Your Cal.com Event Type ID__>, \"attendee\": { \"name\": $(\"Format for LLM\").item.json.contactName, \"email\": $(\"Format for LLM\").item.json.contactEmail, \"timeZone\": \"UTC\" } } }}","options":{}},"id":"8f0031e8-0d67-40e9-93c6-f4fde54f7671","name":"Create Cal.com Booking","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1936,400]},{"parameters":{"method":"POST","url":"={{ $(\"Format for LLM\").item.json.apiUrl }}/api/v1/accounts/{{ $(\"Format for LLM\").item.json.accountId }}/conversations/{{ $(\"Format for LLM\").item.json.conversationId }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"content\": \"Perfect! Your discovery call is confirmed for \" + new Date($json.start).toLocaleString(\"en-US\", { weekday: \"long\", month: \"long\", day: \"numeric\", hour: \"numeric\", minute: \"2-digit\", timeZone: \"UTC\" }) + \". You'll receive a calendar invite at \" + $(\"Format for LLM\").item.json.contactEmail + \". A team member will join you shortly to discuss further!\", \"message_type\": \"outgoing\", \"private\": false } }}","options":{}},"id":"89cb6a52-1e4a-4f1d-a869-b44243d66dfc","name":"Confirm Booking in Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2160,400]},{"parameters":{"method":"PATCH","url":"={{ $(\"Format for LLM\").item.json.apiUrl }}/api/v1/accounts/{{ $(\"Format for LLM\").item.json.accountId }}/conversations/{{ $(\"Format for LLM\").item.json.conversationId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\"status\":\"open\"}","options":{}},"id":"5a528760-e327-4331-b010-4529409cc13a","name":"Handoff to Human Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2384,400]},{"parameters":{"method":"POST","url":"={{ $(\"Format for LLM\").item.json.apiUrl }}/api/v1/accounts/{{ $(\"Format for LLM\").item.json.accountId }}/conversations/{{ $(\"Format for LLM\").item.json.conversationId }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"content\": $json.output, \"message_type\": \"outgoing\", \"private\": false } }}","options":{}},"id":"f039e5f8-585c-4b32-87f1-561dbbc96b98","name":"Send AI Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1936,592]}],"connections":{"Chatwoot Webhook":{"main":[[{"node":"Filter Own Messages","type":"main","index":0}]]},"Filter Own Messages":{"main":[[{"node":"Get Conversation History","type":"main","index":0}]]},"Get Conversation History":{"main":[[{"node":"Format for LLM","type":"main","index":0}]]},"Format for LLM":{"main":[[{"node":"Qualify & Detect Intent","type":"main","index":0}]]},"Qualify & Detect Intent":{"main":[[{"node":"Booking Intent?","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Qualify & Detect Intent","type":"ai_languageModel","index":0}]]},"Booking Intent?":{"main":[[{"node":"Get Cal.com Availability","type":"main","index":0}],[{"node":"Slot Selected?","type":"main","index":0}]]},"Get Cal.com Availability":{"main":[[{"node":"Send Slot Options to Chatwoot","type":"main","index":0}]]},"Slot Selected?":{"main":[[{"node":"Create Cal.com Booking","type":"main","index":0}],[{"node":"Send AI Reply","type":"main","index":0}]]},"Create Cal.com Booking":{"main":[[{"node":"Confirm Booking in Chatwoot","type":"main","index":0}]]},"Confirm Booking in Chatwoot":{"main":[[{"node":"Handoff to Human Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3f933679-5165-48a6-92e0-c8c511780e81","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:22:06.805Z","createdAt":"2026-03-09T23:22:06.805Z","role":"workflow:owner","workflowId":"XMzdtCGGuIlpDrxo","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}