hbf_online/2026/05/AI Outreach Engine/w1Gaf8cxrjX0l5md.json
{"updatedAt":"2026-05-02T18:07:54.000Z","createdAt":"2026-05-02T18:07:54.149Z","id":"w1Gaf8cxrjX0l5md","name":"AI Outreach Engine","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Lead Acquisition from Apollo(Apify API)\n#### This workflow fetches qualified leads from Apolloio based on specific criteria (e.g., industry, location, job title) and stores the data, including names, LinkedIn profiles, and email addresses, in Google Sheets for further processing.","height":800,"width":1840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2320,208],"id":"5d145a56-4006-4f16-a8a4-390e87c8255d","name":"Sticky Note"},{"parameters":{"content":"## Personalized Outreach Message Generation\n### Using the fetched leads, this workflow enriches the data by conducting additional research with SerpAPI, generates personalized icebreakers, and crafts tailored email and LinkedIn messages using AI models, ensuring each outreach is relevant and engaging.","height":1020,"width":2420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"d9da9fe4-e592-469c-8490-3a50a34810cc","name":"Sticky Note1"},{"parameters":{"content":"### Execute the Linkedin Invite TRacker Workflow","height":80,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,240],"id":"af3b50ec-03e3-4e01-b312-c315511e3df6","name":"Sticky Note2"},{"parameters":{"content":"### Retrieves the provider ID from Unipile based on a LinkedIn profile URL. The node extracts the LinkedIn username from the URL and makes an API request to fetch user details.","height":140,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,272],"id":"08480ea5-59ea-401a-9570-f8a989fe62e7","name":"Sticky Note3"},{"parameters":{"content":"### Automatically creates a Google Spreadsheet, dynamically naming it based on the chat query.","height":100,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,704],"id":"550c0d15-e0f5-4a57-8895-70044d7f21a4","name":"Sticky Note4"},{"parameters":{"content":"## Automated LinkedIn & Email Outreach: Smart Lead Engagement with Unipile\n### This workflow automates the outreach process by sending personalized LinkedIn invitations and emails to leads retrieved from a Google Sheet. \n### It utilizes the Unipile API to send LinkedIn invitations with tailored icebreaker messages, updates the invitation status in the Google Sheet, and sends personalized emails via Gmail, while logging the email sent history in a PostgreSQL database for effective tracking and follow-up.","height":460,"width":3200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,1072],"id":"0f2e4788-6705-4137-a331-06473581d5c2","name":"Sticky Note5"},{"parameters":{"content":"### When executed by the first workflow.","height":80,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,1392],"id":"10091dd2-5c08-4785-935d-2624cb919d65","name":"Sticky Note6"},{"parameters":{"content":"### Saves LinkedIn invite history to a PostgreSQL database, storing session IDs and AI-generated icebreaker messages for tracking and future reference.","height":140,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,1392],"id":"dca60ab7-e01e-4f48-be02-03d21566c8c3","name":"Sticky Note7"},{"parameters":{"content":"### Randomizer code and wait node. Generates a random number (0-7) and sets it as the wait time, introducing variability and a human-like delay to the automation for a more natural execution flow.","width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,1088],"id":"83a50303-cdaf-4cd1-8360-d492fbaa8acd","name":"Sticky Note9"},{"parameters":{"content":"## Engage Instantly: Auto-Message New LinkedIn Connections\n### This automates the process of updating a Google Sheets document when a LinkedIn connection request is accepted, marking the invitation as accepted.\n### It also sends a message to the new connection and logs the interaction in a database, ensuring seamless communication and tracking.","height":400,"width":2280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1104,1568],"id":"2c0ff0f3-c453-4151-9a1e-8eec82631544","name":"Sticky Note10"},{"parameters":{"content":"### Fetches the LinkedIn message body from  Google Sheet based on the provider ID","height":100,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,1872],"id":"8fa6d0ef-da32-4e67-8805-b959add427c7","name":"Sticky Note8"},{"parameters":{"content":"### When new message recieved (webhook created in Unipile)","height":100,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,1840],"id":"df32d699-a868-49e3-9857-25f78b9db26e","name":"Sticky Note11"},{"parameters":{"content":"## Smart LinkedIn Reply Bot: AI-Powered Messaging & Tracking\n### Automates the process of responding to received messages from LinkedIn connections, checking the number of messages exchanged, and updating a Google Sheets document accordingly. \n### It utilizes an AI agent to craft personalized responses and logs the interaction in a database, ensuring effective communication management.","height":520,"width":2280,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,2000],"id":"0ac76888-ce33-4113-bf4c-dfd0f063c82a","name":"Sticky Note12"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,544],"id":"2f7ed112-9c7d-4639-9996-d849e27db663","name":"HTTP Request7"},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.defaultDatasetID }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,544],"id":"35bd7420-f149-4306-8623-caeb6111d1ea","name":"HTTP Request8"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2240,544],"id":"62bf932f-5817-436c-8e09-3b46184a2b81","name":"When chat message received","webhookId":"324ff9eb-54f2-4060-9b61-0f34cb96b2f3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22e8f927-4d24-4664-a988-65effc034057","leftValue":"={{ $json.id }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,544],"id":"5b998ea1-6f67-4841-8f5e-ecbb24b95dd3","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-384,752],"id":"35abe4ec-f3fd-4eba-af62-89220dfb5943","name":"Wait","webhookId":"53e99063-a73a-40c2-a543-314d3d3a9aa2"},{"parameters":{"assignments":{"assignments":[{"id":"af77e1f5-f2bf-4f04-b84a-03a673422e26","name":"defaultDatasetID","value":"={{ $json.data.defaultDatasetId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,544],"id":"2d16c7cc-2539-4ade-96db-a8373c19983d","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b754b255-7f0c-4ef8-9eb7-03773c32e8f4","leftValue":"={{ $json.linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"251e8b8c-bb21-4933-b0f8-5e47a9ef1507","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,448],"id":"25b5ca72-2e15-42da-b745-92c76f74c66f","name":"If4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[592,640],"id":"f20f9b94-b9c5-4c87-8688-3656e53ed507","name":"SerpAPI"},{"parameters":{"model":{"__rl":true,"value":"=gpt-4o","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,640],"id":"8fcd5904-9e5c-4ab1-8378-3d4f05799229","name":"OpenAI Chat Model3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[784,640],"id":"a8e97cfa-cbb6-4cf9-8c31-7b8d38107a9b","name":"OpenAI Chat Model4"},{"parameters":{"jsonSchemaExample":"{\n\t\"EmailIceBreaker\": \"Icebreaker\",\n\t\"LinkedinIceBreaker\": \"IceBreaker\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[960,640],"id":"1eab3200-9776-4be1-8e28-36fa3442c722","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"=gpt-4o","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1152,688],"id":"180abd1e-9532-47c2-abca-82978da94674","name":"OpenAI Chat Model5"},{"parameters":{"jsonSchemaExample":"{\n\t\"email\": {\n      \"subject\":\"Building Wellness and Success with AI\",\n      \"body\":\"Hi Masood,  \\n\\nI was impressed to learn about Elysian Real Estate's focus on wellness in property design—how's the journey of your Dubai Islands project shaping up?  \\n\\nAt [Your Agency Name], we work with forward-thinking leaders like yourself to drive more impact. Leveraging AI-driven automation, we help real estate agencies streamline administrative tasks, attract more qualified leads, and close deals faster—all without compromising the personalized service your clients value.  \\n\\nGiven your commitment to innovation and exceptional lifestyle-focused projects, I’d love to explore how AI can help amplify your team's efficiency as you grow your portfolio. Are you open to a quick chat next week?  \\n\\nLooking forward to hearing your thoughts,  \\nKrishnaraj\"\n    },\n\t\"linkedin\":{\n      \"body\":\"Hi Masood,  \\n\\nYour focus on wellness in real estate is inspiring! How's the Dubai Islands project coming along?  \\n\\nTo introduce myself, I specialize in helping real estate leaders like you leverage AI automation to enhance operations, optimize lead generation, and close deals faster. Considering Elysian Real Estate’s dedication to innovation, I believe there’s a lot of potential to streamline processes and free up time for your team to focus on what matters most—delivering exceptional experiences.  \\n\\nWould love to explore this further. Open to connecting?  \\n\\nBest regards,  \\nKrishnaraj\"\n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1328,672],"id":"b142a149-04d7-447d-a054-432700b6d2ee","name":"Structured Output Parser2"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,432],"id":"1ba93e35-95ec-45aa-a024-0c560cb100ee","name":"randomizer"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,672],"id":"6845f594-c9a8-40f7-9c68-e18dfc805702","name":"No Operation, do nothing"},{"parameters":{"promptType":"define","text":"=Linkedin Profile Url: {{ $json.linkedin_url }}\nOgranisation Name:{{ $json.organization.name }}\nPosition:{{ $json.seniority }}\nheadline of person:{{ $json.headline }}","options":{"systemMessage":"=## Role\nYou are a research assistant AI that gathers relevant details about a specific person using SerpApi. Your goal is to extract factual and publicly available information to serve as conversation starters in an email.\n\n## Instructions\n- Use SerpApi to search for the person's publicly available professional and personal details.\n- Gather information from sources such as:\n- Recent news articles, blog posts, or interviews.\n- LinkedIn or other professional profiles.\n- Social media posts relevant to their interests, achievements, or work.\n- Books, papers, or patents they have authored.\n- Extract relevant and specific details, such as:\n- Recent achievements, awards, or projects.\n- Professional background and current role.\n- Shared interests, hobbies, or affiliations.\n- Notable quotes or insights they have shared.\n- Present the information in a clean, structured format without additional commentary or suggestions.\n- Do not include any speculative or private details.\n\n## Rules\n- Only use verified and public sources.\n- Do not include opinions, assumptions, or unverifiable claims.\n- Structure the output as a list of key facts for easy reference."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,432],"id":"0ee86170-beae-4f7a-8ce8-9a534c72896e","name":"Get More info on Person"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPersonName: {{ $('Loop Over Items1').item.json.name }}\nLinkedin Profile URL : {{ $('Loop Over Items1').item.json.linkedin_url }}\nCompany: {{ $('Loop Over Items1').item.json.organization.name }}\nPosition : {{ $('Loop Over Items1').item.json.seniority }}\n\nResearch Information: {{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=You specialize in cold outreach. Generate an engaging first-line icebreaker separately for email and LinkedIn.\n\n- Only provide the icebreaker, nothing else.\n- Base the icebreaker on the research information.\n- Keep it concise—one sentence only.\n- Write naturally, using clear and simple language.\n- Ensure it flows smoothly into an offer.\n- The LinkedIn version must not exceed 180 characters, including spaces and punctuation."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[768,432],"id":"d89756ec-a6d2-46ee-a34e-6c87877e9233","name":"IceBreaker Creation Agent"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\n\nname of the person:{{ $('Loop Over Items1').item.json.name }}\nLinkedin_url:{{ $('Loop Over Items1').item.json.linkedin_url }}\nOraganizationName: {{ $('Loop Over Items1').item.json.organization.name }}\nPosition:{{ $('Loop Over Items1').item.json.seniority }}\n\nResearch information :{{ $('Get More info on Person').item.json.output }}\n\nIceBreaker for Email:{{ $json.output.EmailIceBreaker }}\nIceBreaker for Linkedin:{{ $json.output.LinkedinIceBreaker }}","hasOutputParser":true,"options":{"systemMessage":"=## Role\nYou are a Cold Outreach Specialist helping an AI automation agency connect with real estate agency owners. Your goal is to craft highly personalized cold emails and LinkedIn messages that highlight the benefits of AI-driven automation for real estate businesses.\n\n## Instructions\n- Research Personalization: Use available research insights to customize each message.\n- Engaging Icebreaker: Rephrase the opening to make it engaging and ensure a smooth transition into the message.\n- Conversational & Human Tone: Write as if a human is speaking—simple, natural, and clear.\n- Email & LinkedIn Message Structure:\nEmail: A compelling subject line, engaging icebreaker, concise value proposition, and a strong call-to-action.\nLinkedIn Message: Ensure the body flows naturally from the icebreaker, using phrases like \"as I mentioned.\"\n- Value Proposition: Clearly communicate how AI automation can help real estate agencies streamline operations, generate leads, and close deals faster.\n- Signature: Sign both messages as [your name]\n\n## Rules\n- Do not use generic or robotic language.\n- Do not repeat the icebreaker verbatim in the LinkedIn message body.\n-  Keep messages concise and to the point.\n-  Ensure messages are relevant to real estate agency owners."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1152,432],"id":"f5c46e74-a04a-4781-a55a-6aca85ea54c9","name":"Generate LN & Email Intro Msg"},{"parameters":{"url":"=https://[subdomain].unipile.com:[port]/api/v1/users/{{ $('Loop Over Items1').item.json.linkedin_url.split('/in/') [1] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"your_unipile_account_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"your _unipile_api_key"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,432],"id":"af0c2058-0f93-4c61-976d-d000bfa61105","name":"getProviderID"},{"parameters":{"promptType":"define","text":"={{ $json.user_query }}","options":{"systemMessage":"=## Role\n\nYou are an AI assistant that helps users generate URLs for searching people on Apollo.io. Your task is to extract the following four parameters from the user's input:\n\n1. **Industry Id**: \n2.**Employee Range**: The range of employees in the organization. \n   - If a minimum employee count is not provided, default to **10**.\n   - If a maximum employee count is not provided, default to **1,000,000**.\n  - Don't include the number of employees in the url if the user didn't specify it.\n3. **Location**: The location of the company (e.g., \"California, US\" or \"Mumbai, India\" )or Countries (example: USA, UAE ,India)\n4. **Job Title**: The job title of the person (e.g., \"Owner\", \"Realtor\", \"Manager\", \"Project Manager\", \"Consultant\").\n5.**Industry ID**: The industry code corresponding to the industry.\n\n### **Industry Codes**\nHere are some common industry codes you can use:\n- **Real Estate**: `5567cd477369645401010000`\n- **Marketing & Advertising**: `5567cd467369644d39040000`\n- **Construction**: `5567cd4773696439dd350000`\n- **Hospitality**: `5567ce9d7369643bc19c0000`\n- **Computer Software**: `5567cd4e7369643b70010000`\n- **Professional Training & Coaching**: `5567cd49736964541d010000`\n- **Staffing & Recruiting**: `5567e09973696410db020800`\n- *Information Technology and Services**: `5567cd4773696439b10b0000`\n- **consumer services**: `5567d1127261697f2b1d0000`\n- **Health,wellness & fitness** : `5567cddb7369644d250c0000`\n- **Hospital & healthcare**: `5567cdde73696439812c0000`\n- **food & beverages** : `5567ce1e7369643b806a0000`\n- **retail** : `5567ced173696450cb580000`\n- **financial services**: `5567cdd67369643e64020000`\n- **education management** : `5567ce9e736964540d540000`\n\n\nOnce you extract these parameters, construct a URL using the following format:\n\n\nOnce you extract these parameters, construct a URL using the following format:\n\nhttps://app.apollo.io/#/people?page=1&sortAscending=false&sortByField=recommendations_score&organizationIndustryTagIds[]=<INDUSTRY_ID>&personLocations[]=<LOCATION>&organizationNumEmployeesRanges[]=<MIN_EMPLOYEE>%2C<MAX_EMPLOYEE>&personTitles[]=<JOB_TITLE>&contactEmailStatusV2[]=verified\n\n#### **Example : Owners of Real Estate Companies in the UAE with Employee Range from 10**\n\nhttps://app.apollo.io/#/people?page=1&sortAscending=false&sortByField=recommendations_score&organizationIndustryTagIds[]=5567cd477369645401010000&personLocations[]=UAE&organizationNumEmployeesRanges[]=10%2C1000000&personTitles[]=owner&contactEmailStatusV2[]=verified\n\n## Notes\n- Don't include the number of employees in the url if the user didn't specify it.\n- Dont provide any other preamble .Only the output url\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1824,544],"id":"0442ebca-4032-4171-b057-64610bd5da3d","name":"Apollo  Url Agent"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/code_crafter~apollo-scraper/runs?token=your_apify_api_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 100,\n    \"url\": \"{{ $('Apollo  Url Agent').item.json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,544],"id":"bf3e7680-5062-4079-a7ed-18e8ac87b666","name":"Apollo Apify"},{"parameters":{"assignments":{"assignments":[{"id":"349c895e-7f11-4e20-9085-3b5e40a7c2e0","name":"id","value":"={{ $('Loop Over Items1').item.json.id }}","type":"string"},{"id":"bdb2086c-86e4-424d-afd3-d9ad1401c840","name":"first_name","value":"={{ $('Loop Over Items1').item.json.first_name }}","type":"string"},{"id":"bff7597c-c9f3-4e95-ac6b-4fc15f23a5d9","name":"last_name","value":"={{ $('Loop Over Items1').item.json.last_name }}","type":"string"},{"id":"1bcade93-8ebe-4f8c-89ef-125268f159a0","name":"name","value":"={{ $('Loop Over Items1').item.json.name }}","type":"string"},{"id":"085b5d38-e0f4-42e1-ad08-5cb05459a7ab","name":"linkedin_url","value":"={{ $('Loop Over Items1').item.json.linkedin_url }}","type":"string"},{"id":"a258e27a-7dcb-4bf0-ade8-5c4219e2ff10","name":"email_status","value":"={{ $('Loop Over Items1').item.json.email_status }}","type":"string"},{"id":"3d32e338-0f63-440c-9b16-9aef4d7b3ff4","name":"photo_url","value":"={{ $('Loop Over Items1').item.json.photo_url }}","type":"string"},{"id":"250d39c8-cc22-42cc-a04c-d0b445036751","name":"twitter_url","value":"={{ $('Loop Over Items1').item.json.twitter_url }}","type":"string"},{"id":"5e0e0c9a-5f55-4630-bb2a-ff2524745011","name":"github_url","value":"={{ $('Loop Over Items1').item.json.github_url }}","type":"string"},{"id":"ca28d838-3f12-4d6d-9f8f-5edae286f8ea","name":"facebook_url","value":"={{ $('Loop Over Items1').item.json.facebook_url }}","type":"string"},{"id":"e497cc26-549a-43f7-a86f-251bf804bee8","name":"headlne","value":"={{ $('Loop Over Items1').item.json.headline }}","type":"string"},{"id":"8c7c77f5-5182-4194-8d3f-67947772c4ec","name":"email","value":"={{ $('Loop Over Items1').item.json.email }}","type":"string"},{"id":"06b27220-8ed0-4dd2-ab79-aec1999da815","name":"country","value":"={{ $('Loop Over Items1').item.json.country }}","type":"string"},{"id":"aca317a1-ffe4-45b9-acf3-f74555b94f1d","name":"organization_name","value":"={{ $('Loop Over Items1').item.json.organization.name }}","type":"string"},{"id":"ea8e58ff-c1f1-4b47-88c7-e46ef780f594","name":"organization_website","value":"={{ $('Loop Over Items1').item.json.organization.website_url }}","type":"string"},{"id":"57e5a482-f6b1-4f15-85e7-021d3283ff9a","name":"seniority","value":"={{ $('Loop Over Items1').item.json.seniority }}","type":"string"},{"id":"fba67498-f957-4037-9630-0ba685bb3463","name":"=peronsal_emails","value":"={{ $('Loop Over Items1').item.json.personal_emails.map(email => email) }}\n","type":"string"},{"id":"16193e45-fb22-455d-9fa1-a4c4de79c0b8","name":"research_info","value":"={{ $('Get More info on Person').item.json.output }}","type":"string"},{"id":"7e2bb9ca-2eff-4f11-bbc7-543471b1e298","name":"emailicebreaker","value":"={{ $('IceBreaker Creation Agent').item.json.output.EmailIceBreaker }}","type":"string"},{"id":"b46e07f6-5d19-46d5-ab82-26e7a04c51ce","name":"LinkedinIceBreaker","value":"={{ $('IceBreaker Creation Agent').item.json.output.LinkedinIceBreaker }}","type":"string"},{"id":"8993c481-c23f-42ef-9742-22b23a258395","name":"Email_subject","value":"={{ $('Generate LN & Email Intro Msg').item.json.output.email.subject }}\n","type":"string"},{"id":"3f340d58-7d3f-4bd9-8961-ca553e78e533","name":"Email_body","value":"={{ $('Generate LN & Email Intro Msg').item.json.output.email.body }}","type":"string"},{"id":"3a537a52-2d68-42aa-996a-d2cab9412259","name":"linkedin_body","value":"={{ $('Generate LN & Email Intro Msg').item.json.output.linkedin.body }}","type":"string"},{"id":"307ed1ea-d15c-4ccb-bc87-9c8d2ce573b6","name":"Linkedin_ProviderID","value":"={{ $json.provider_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,480],"id":"0dd3e3bd-a59f-412b-8c23-4337e2055346","name":"Set All Data"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create Spreadsheet').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Create Spreadsheet').item.json.sheets[0].properties.sheetId }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"photo_url","displayName":"photo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"github_url","displayName":"github_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"headlne","displayName":"headlne","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_website","displayName":"organization_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"seniority","displayName":"seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"peronsal_emails","displayName":"peronsal_emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"research_info","displayName":"research_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailicebreaker","displayName":"emailicebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedinIceBreaker","displayName":"LinkedinIceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email_subject","displayName":"Email_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email_body","displayName":"Email_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_body","displayName":"linkedin_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2128,640],"id":"20cb6679-4b37-451c-83c7-5edf995a4c53","name":"update Sheets"},{"parameters":{"assignments":{"assignments":[{"id":"2080caac-d3df-4d0f-b6a2-e61b0c07decf","name":"user_query","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2016,544],"id":"8de9b8b2-2a4c-43e7-aa52-5494fa9e2782","name":"Set User Query"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,384],"id":"a7dea38f-947b-4d49-9031-8e0bbd219875","name":"Loop Over Items1"},{"parameters":{"resource":"spreadsheet","title":"={{ $('When chat message received').item.json.chatInput }}","sheetsUi":{"sheetValues":[{"title":"Sheet1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1456,544],"id":"37a2ba28-23bb-4cb6-9a5f-fc72a7685d85","name":"Create Spreadsheet"},{"parameters":{"workflowId":{"__rl":true,"value":"eznT0ZRowkdXvjYU","mode":"list","cachedResultName":"My workflow 8"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Spreadsheet Id":"={{ $('Create Spreadsheet').item.json.spreadsheetId }}","Sheetid":"={{ $('Create Spreadsheet').item.json.sheets[0].properties.sheetId }}"},"matchingColumns":[],"schema":[{"id":"Spreadsheet Id","displayName":"Spreadsheet Id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Sheetid","displayName":"Sheetid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[912,208],"id":"15a93295-348d-445e-a576-46ca810f8e1d","name":"Execute LN invite Workflow"},{"parameters":{"model":"=gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-1824,768],"id":"afbd48ea-f328-4452-9bcf-4ace6195485d","name":"OpenAI Chat Model1"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1632,432],"id":"4d40d38b-5d24-4b3d-b5c1-1fa6060cc40d","name":"Wait5","webhookId":"2e2d10c8-1e03-4946-8900-c84f9e70d21a"},{"parameters":{"workflowInputs":{"values":[{"name":"Spreadsheet Id"},{"name":"Sheetid"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1056,1232],"id":"fc11e9f9-6dcb-4ab1-9c85-5b83029e25ed","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,1200],"id":"db4aab9a-7bf1-4723-994e-61a3c80da8df","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json['Spreadsheet id'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.Sheetid }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-848,1232],"id":"be41c5ef-1409-43ad-8dc6-bf0495cea462","name":"Get Data"},{"parameters":{"assignments":{"assignments":[{"id":"626f7a90-55f9-4756-b439-1bd81b894bff","name":"linkedin_url","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"39415988-966d-4e8d-a510-ce1a2b5d5c27","name":"linkedin_IceBreaker","value":"={{ $json.LinkedinIceBreaker }}","type":"string"},{"id":"c4793f6f-247b-4d3d-8efc-554e67911e56","name":"user_id","value":"={{ $json.id }}","type":"string"},{"id":"7b19156b-7aab-4c7d-9100-6ca2fa3545bb","name":"EmailIceBreaker","value":"={{ $json.emailicebreaker }}","type":"string"},{"id":"c256c160-fee1-4d67-a137-899f02b696b4","name":"EmailBody","value":"={{ $json.Email_body }}","type":"string"},{"id":"9d4b969d-b6fb-4199-a0a2-33834cad55d2","name":"EmailSubject","value":"={{ $json.Email_subject }}","type":"string"},{"id":"a466f546-551d-43c6-bbe4-fe59d465378b","name":"providerId","value":"={{ $json.Linkedin_ProviderID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,1232],"id":"aac73b7c-cbe2-443a-add6-8b91d9064d58","name":"Edit Fields1"},{"parameters":{"method":"POST","url":" https://[subdomain].unipile.com:[port]/api/v1/users/invite","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"your_unipile_api_key"},{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"provider_id","value":"={{ $json.providerId }}"},{"name":"account_id","value":"your_unipile_account_id"},{"name":"message","value":"={{ $('Edit Fields1').item.json.linkedin_IceBreaker }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,1232],"id":"f32dee71-abf3-48d1-93cb-f2033c61a031","name":"SendInvite"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json[\"Spreadsheet id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.Sheetid }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get Data').item.json.id }}","Linkedin_sentInvite":"={{$now}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"photo_url","displayName":"photo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"github_url","displayName":"github_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"headlne","displayName":"headlne","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organization_website","displayName":"organization_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"seniority","displayName":"seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"peronsal_emails","displayName":"peronsal_emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"research_info","displayName":"research_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailicebreaker","displayName":"emailicebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedinIceBreaker","displayName":"LinkedinIceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_subject","displayName":"Email_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_body","displayName":"Email_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_body","displayName":"linkedin_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin_sentInvite","displayName":"Linkedin_sentInvite","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[128,1232],"id":"62c59bc1-dcc5-45af-9d76-133cb0e232da","name":"UpdateINVSent"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"first_name":"={{ $('Loop Over Items').item.json.first_name }}","last_name":"={{ $('Loop Over Items').item.json.last_name }}","Name":"={{ $('Loop Over Items').item.json.name }}","LN_url":"={{ $('Loop Over Items').item.json.linkedin_url }}","LN_publicID":"={{$('Loop Over Items').item.json.linkedin_url.split('/in/')[1].replace('/', '')}}","LN_providerID":"={{ $('Loop Over Items').item.json.Linkedin_ProviderID }}","LN_invitationSent":"YES","LN_invitationaccepted":"NO","LN_msgSent":"NO","emailSent":"NO","LN_emailReplied":"NO","OriginSpreadsheetID":"={{ $('When Executed by Another Workflow').item.json['Spreadsheet id'] }}","Origin SheetID":"={{ $('When Executed by Another Workflow').item.json.Sheetid }}","LN_noofmessages":"0","Email":"={{ $('Loop Over Items').item.json.email }}"},"matchingColumns":[],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_url","displayName":"LN_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_publicID","displayName":"LN_publicID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_providerID","displayName":"LN_providerID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_invitationSent","displayName":"LN_invitationSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_invitationaccepted","displayName":"LN_invitationaccepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_msgSent","displayName":"LN_msgSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailSent","displayName":"emailSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_emailReplied","displayName":"LN_emailReplied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OriginSpreadsheetID","displayName":"OriginSpreadsheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origin SheetID","displayName":"Origin SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN_noofmessages","displayName":"LN_noofmessages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[352,1232],"id":"d83977fd-87a2-42dc-ac67-2c7556b5c75f","name":"UpdateLNInfoSheet"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories2","mode":"list","cachedResultName":"n8n_chat_histories2"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $json.LN_providerID }}","messages":"={ \"type\": \"ai\", \"content\": \"{{ $('Edit Fields1').item.json.linkedin_IceBreaker }}\", \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, invalid_tool_calls\": [] }"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"messages","displayName":"messages","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,1232],"id":"2d74d2be-a08c-4aa1-a688-340dcdae0f4a","name":"save LinkedinInvite history"},{"parameters":{"sendTo":"={{ $('UpdateLNInfoSheet').item.json.Email }}","subject":"={{ $('Edit Fields1').item.json.EmailSubject }}","emailType":"text","message":"={{ $('Edit Fields1').item.json.EmailBody }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[768,1232],"id":"afa48d1b-e479-44a6-a2c4-2176f76b8856","name":"Sent Mail","webhookId":"bc0afde8-c0ad-4ada-a911-fbd337e10260"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories_email","mode":"list","cachedResultName":"n8n_chat_histories_email"},"columns":{"mappingMode":"defineBelow","value":{"Session_id":"={{ $('UpdateLNInfoSheet').item.json.Email }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $('Edit Fields1').item.json.EmailBody.replace(/\\n/g,'') }}\", \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, invalid_tool_calls\": [] }"},"matchingColumns":[],"schema":[{"id":"Session_id","displayName":"Session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[960,1232],"id":"a0f9d9b7-b678-4039-b316-44a45bcd3b5e","name":"Save Mail Sent History"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,1232],"id":"f24aad5c-7e75-4a65-90f9-6e4cdb6637be","name":"Wait2","webhookId":"2e2d10c8-1e03-4946-8900-c84f9e70d21a"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1232],"id":"48ee267b-8c72-4684-9128-7430fe4952dc","name":"randomizer1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LN_providerID":"={{ $json.LN_providerID }}","LN_invitationaccepted":"YES"},"matchingColumns":["LN_providerID"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_url","displayName":"LN_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_publicID","displayName":"LN_publicID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_providerID","displayName":"LN_providerID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN_invitationSent","displayName":"LN_invitationSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_invitationaccepted","displayName":"LN_invitationaccepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN_msgSent","displayName":"LN_msgSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailSent","displayName":"emailSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_emailReplied","displayName":"LN_emailReplied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OriginSpreadsheetID","displayName":"OriginSpreadsheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin SheetID","displayName":"Origin SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_noofmessages","displayName":"LN_noofmessages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-256,1712],"id":"14201088-d74a-43bb-9682-fe0cd426ee20","name":"update LN tracker"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Get the Person1').item.json.OriginSpreadsheetID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Get the Person1').item.json[\"Origin SheetID\"] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Linkedin_ProviderID","lookupValue":"={{ $json.LN_providerID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[368,1712],"id":"15983f47-6ae7-4b62-ab1d-21b29bfd5cff","name":"Get LN body"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('When First Msg Recieved').item.json.body.attendees[0].attendee_provider_id }}","messages":"={ \"type\": \"ai\", \"content\": \"{{ $('Get LN body').item.json.linkedin_body.replace(/\\n/g,'') }}\", \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, invalid_tool_calls\": [] }"},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"messages","displayName":"messages","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[784,1712],"id":"2a856168-08cb-4302-ada6-3b756aa4d435","name":"add first msg to memory"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LN_providerID":"={{ $('When First Msg Recieved').item.json.body.attendees[0].attendee_provider_id }}","LN_noofmessages":"1"},"matchingColumns":["LN_providerID"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_url","displayName":"LN_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_publicID","displayName":"LN_publicID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_providerID","displayName":"LN_providerID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN_invitationSent","displayName":"LN_invitationSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_invitationaccepted","displayName":"LN_invitationaccepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_msgSent","displayName":"LN_msgSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailSent","displayName":"emailSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_emailReplied","displayName":"LN_emailReplied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OriginSpreadsheetID","displayName":"OriginSpreadsheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin SheetID","displayName":"Origin SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_noofmessages","displayName":"LN_noofmessages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[992,1712],"id":"adcf0b50-2eb2-46ff-9bff-ee33151c69dc","name":"Update Message Number in GSheet"},{"parameters":{"httpMethod":"POST","path":"deeba7a0-65c1-4c5b-ae32-6a2ff9a006e2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-976,1712],"id":"f17971b2-8131-4b81-8992-e0ebcbb45589","name":"When First Msg Recieved","webhookId":"deeba7a0-65c1-4c5b-ae32-6a2ff9a006e2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b46b7be-162d-4f3c-9a99-0daeb1286fc2","leftValue":"={{ $json.LN_noofmessages }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,1712],"id":"a7765eb7-bfb6-4197-8a76-985a96a87ad8","name":"If1"},{"parameters":{"documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LN_providerID","lookupValue":"={{ $json.body.attendees[0].attendee_provider_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-784,1712],"id":"0abb9559-9e4d-4a60-b162-adc7f5ed56f0","name":"Get the Person1"},{"parameters":{"method":"POST","url":"https://[subdomain].unipile.com:[port]/api/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"your_unipile_api_key"},{"name":"accept","value":"application/json"},{"name":"content-type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"attendees_ids","value":"={{ $json.Linkedin_ProviderID }}"},{"name":"account_id","value":"your_unipile_account_id"},{"name":"text","value":"={{ $json.linkedin_body }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1712],"id":"a02a1048-c087-4f58-86f0-ab39b7dd5314","name":"SendMessage1"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,1712],"id":"954d796a-fb19-4257-b68c-fa6360ddf140","name":"Wait3","webhookId":"2e2d10c8-1e03-4946-8900-c84f9e70d21a"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,1712],"id":"fe417d5d-1df2-46eb-aa7f-3fe479054003","name":"randomizer2"},{"parameters":{"documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LN_providerID","lookupValue":"={{ $json.body.attendees[0].attendee_provider_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-736,2160],"id":"24fd5683-1d52-414b-8ac8-244150141ed5","name":"Get the Person"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4189cc2-87aa-4a03-8ee3-469678a68d36","leftValue":"={{ $json.LN_noofmessages }}","rightValue":1,"operator":{"type":"number","operation":"gte"}},{"id":"5c48903c-c850-4f16-a1f7-408c7f5ac343","leftValue":"={{ $('Msg Recieved').item.json.body.sender.attendee_provider_id }}","rightValue":"={{ $('Msg Recieved').item.json.body.attendees[0].attendee_provider_id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,2160],"id":"b3205607-a1eb-4abf-b5de-c2e90132441d","name":"If"},{"parameters":{"httpMethod":"POST","path":"deeba7a0-65c1-4c5b-ae32-6a2ff9a006e2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-944,2160],"id":"63dd40ad-7e9f-4223-8699-a0cfa726b9c3","name":"Msg Recieved","webhookId":"deeba7a0-65c1-4c5b-ae32-6a2ff9a006e2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Get the Person').item.json.OriginSpreadsheetID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Get the Person').item.json[\"Origin SheetID\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-336,2144],"id":"be7154a5-e309-4f42-ad04-5c60865c62a6","name":"Get Data from Main Sheet"},{"parameters":{"promptType":"define","text":"=Message from the attendee: {{ $('Msg Recieved').item.json.body.message }}","options":{"systemMessage":"=\nYou are a professional LinkedIn outreach assistant. Your goal is to respond to recipients who have replied to your initial message, engage in a meaningful\nconversation to understand their situation, and encourage them to book a call using a provided calendar link. Follow these guidelines:\n1. **Acknowledge Their Reply**: Start by thanking them for responding and referencing something specific from their message.\n2. **Ask Open-Ended Questions**: Show genuine interest in their situation by asking thoughtful questions to learn more about their goals, challenges, or interests.\n3. **Provide Value**: Highlight how a call could benefit them based on what they've shared.\n4. **Suggest a Call**: Transition naturally to suggesting a call and share the calendar link in a polite, non-pushy way.\n5. **Be Professional and Friendly**: Maintain a polite, respectful, and conversational tone throughout.\n**Example Workflow:**\n1. **Acknowledge and Engage**:\n*\"Hi [Name], thanks for getting back to me! It's great to hear about [specific detail from their reply]. Could you tell me more about [specific topic]?\"*\n2. **Ask Follow-Up Questions**:\n*\"That's really interesting! How are you currently approaching [specific challenge or goal] ?\"*\n3. **Transition to a Call**:\n*\"It sounds like [specific insight]. I'd love to explore this further and see how I can help. Would you be open to a quick 15-minute call? Here's my calendar link: kyleautomates. Feel free to pick a time that\nworks best for you!\"*\n4. **Handle Objections or Questions**:\nIf they hesitate or ask for more details, respond politely and provide clarity. *\"I completely understand! On the call, we can discuss [specific benefit or topic]. Let me know if that works for you!\"*\n5. **Follow Up If Needed**:\nIf they don't book a call, send a polite follow-up after a few days:\n*\"Hi [Name], just checking in to see if you'd like to connect. Let me know if you'd like to schedule a quick chat. Here's my calendar link again: [Insert Link]. Looking forward to hearing from you.\n\nFocus on building rapport, understanding their needs, and making it easy for them to book a call.\nThis prompt ensures the agent responds thoughtfully and transitions naturally to booking a call.\nAdditional Info:\nAttendies name: {{ $('Msg Recieved').item.json.body.attendees[0].attendee_name }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,2144],"id":"fcc52363-4f60-45f8-a84a-bcedc2336835","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"=gpt-4o","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-208,2384],"id":"10d2be50-8b7b-4ec0-9f6d-f90484251e15","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Msg Recieved').item.json.body.attendees[0].attendee_provider_id }}","tableName":"=n8n_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-48,2384],"id":"43cad4fd-e67e-44f1-ab49-d712f27c8792","name":"Postgres Chat Memory"},{"parameters":{"method":"POST","url":"https://[subdomain].unipile.com:[port]/api/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"your_unipile_api_key"},{"name":"accept","value":"application/json"},{"name":"content-type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"attendees_ids","value":"={{ $('Msg Recieved').item.json.body.attendees[0].attendee_provider_id }}"},{"name":"account_id","value":"your_unipile_account_id"},{"name":"text","value":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,2144],"id":"31c95d24-9dfb-4dc0-a8a9-9273667bae69","name":"SendMessage"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ","mode":"list","cachedResultName":"LN Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSl-WdN2D6BPtWbE0Yu2WWY4tjfr6likzBHgoNJAnRQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LN_providerID":"={{ $('Get the Person').item.json.LN_providerID }}","LN_noofmessages":"={{ $json.updatedmessages }}"},"matchingColumns":["LN_providerID"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_url","displayName":"LN_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_publicID","displayName":"LN_publicID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_providerID","displayName":"LN_providerID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN_invitationSent","displayName":"LN_invitationSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_invitationaccepted","displayName":"LN_invitationaccepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_msgSent","displayName":"LN_msgSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailSent","displayName":"emailSent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_emailReplied","displayName":"LN_emailReplied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OriginSpreadsheetID","displayName":"OriginSpreadsheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin SheetID","displayName":"Origin SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN_noofmessages","displayName":"LN_noofmessages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[928,2144],"id":"537cb360-612e-4644-b453-548ed4c9e57f","name":"Update the number of messages"},{"parameters":{"jsCode":"let currentmessages = $('Get the Person').first().json.LN_noofmessages\n\ncurrentmessages = currentmessages ? Number(currentmessages) : 0;\n\nlet updatedmessages = currentmessages + 1;\n\nreturn [\n  {\n    updatedmessages : updatedmessages\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,2144],"id":"161fa2b0-5708-4c18-9d33-4682e7e05351","name":"code"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[384,2144],"id":"c6f5954c-f4f1-43a8-aff6-51dc92dba01f","name":"Wait1","webhookId":"2e2d10c8-1e03-4946-8900-c84f9e70d21a"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,2144],"id":"6c52e479-bc17-4ea5-9bd8-8e96bf6d49a7","name":"randomizer3"}],"connections":{"HTTP Request7":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"If3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Set User Query","type":"main","index":0}]]},"If3":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"If4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"Get More info on Person","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Get More info on Person","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"IceBreaker Creation Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"IceBreaker Creation Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Generate LN & Email Intro Msg","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Generate LN & Email Intro Msg","type":"ai_outputParser","index":0}]]},"randomizer":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get More info on Person":{"main":[[{"node":"IceBreaker Creation Agent","type":"main","index":0}]]},"IceBreaker Creation Agent":{"main":[[{"node":"Generate LN & Email Intro Msg","type":"main","index":0}]]},"Generate LN & Email Intro Msg":{"main":[[{"node":"randomizer","type":"main","index":0}]]},"getProviderID":{"main":[[{"node":"Set All Data","type":"main","index":0}]]},"Apollo  Url Agent":{"main":[[{"node":"Create Spreadsheet","type":"main","index":0}]]},"Apollo Apify":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Set All Data":{"main":[[{"node":"update Sheets","type":"main","index":0}]]},"update Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Set User Query":{"main":[[{"node":"Apollo  Url Agent","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Execute LN invite Workflow","type":"main","index":0}],[{"node":"Get More info on Person","type":"main","index":0}]]},"Create Spreadsheet":{"main":[[{"node":"Apollo Apify","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Apollo  Url Agent","type":"ai_languageModel","index":0}]]},"Wait5":{"main":[[{"node":"getProviderID","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Get Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"SendInvite","type":"main","index":0}]]},"SendInvite":{"main":[[{"node":"UpdateINVSent","type":"main","index":0}]]},"UpdateINVSent":{"main":[[{"node":"UpdateLNInfoSheet","type":"main","index":0}]]},"UpdateLNInfoSheet":{"main":[[{"node":"save LinkedinInvite history","type":"main","index":0}]]},"save LinkedinInvite history":{"main":[[{"node":"Sent Mail","type":"main","index":0}]]},"Sent Mail":{"main":[[{"node":"Save Mail Sent History","type":"main","index":0}]]},"Save Mail Sent History":{"main":[[{"node":"randomizer1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"randomizer1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"update LN tracker":{"main":[[{"node":"randomizer2","type":"main","index":0}]]},"Get LN body":{"main":[[{"node":"SendMessage1","type":"main","index":0}]]},"add first msg to memory":{"main":[[{"node":"Update Message Number in GSheet","type":"main","index":0}]]},"When First Msg Recieved":{"main":[[{"node":"Get the Person1","type":"main","index":0}]]},"If1":{"main":[[{"node":"update LN tracker","type":"main","index":0}]]},"Get the Person1":{"main":[[{"node":"If1","type":"main","index":0}]]},"SendMessage1":{"main":[[{"node":"add first msg to memory","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get LN body","type":"main","index":0}]]},"randomizer2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get the Person":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Data from Main Sheet","type":"main","index":0}]]},"Msg Recieved":{"main":[[{"node":"Get the Person","type":"main","index":0}]]},"Get Data from Main Sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"randomizer3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"SendMessage":{"main":[[{"node":"code","type":"main","index":0}]]},"code":{"main":[[{"node":"Update the number of messages","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"SendMessage","type":"main","index":0}]]},"randomizer3":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ec92d07b-de72-4f6b-99c3-829515c8d3cb","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-02T18:07:54.154Z","createdAt":"2026-05-02T18:07:54.154Z","role":"workflow:owner","workflowId":"w1Gaf8cxrjX0l5md","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}