hbf_online/2026/02/Google Drive → YouTube via Late API/gtwob8gy4w9AqqXR.json
{"updatedAt":"2026-02-22T16:24:19.000Z","createdAt":"2026-02-22T01:43:50.839Z","id":"gtwob8gy4w9AqqXR","name":"Google Drive → YouTube via Late API","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-496,176],"id":"228e9d3e-0d51-4f07-956f-fa4024317877","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-336,176],"id":"4c31cf76-61ac-46d2-9d5f-066261b87686","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}}},{"parameters":{"method":"POST","url":"https://getlate.dev/api/v1/posts","authentication":"predefinedCredentialType","nodeCredentialType":"lateApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"test\",\n  \"mediaItems\": [\n    {\n      \"type\": \"video\",\n      \"url\": \"https://drive.google.com/uc?export=download&id=1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l\"\n    }\n  ],\n  \"platforms\": [\n    {\n      \"platform\": \"youtube\",\n      \"accountId\": \"6995b7908ab8ae478b34c8b9\",\n      \"platformSpecificData\": {\n        \"title\": \"test\",\n        \"visibility\": \"private\"\n      }\n    }\n  ],\n  \"publishNow\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[16,176],"id":"eb356da5-9b3c-4fee-bb84-9e7ba37f3dc7","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"h0AzQfaSMoozKSAK","name":"Bearer Auth account"},"lateApi":{"id":"0fBPVuROIAvtSjKY","name":"LATE account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"fileId","value":"YOUR_GOOGLE_DRIVE_FILE_ID","type":"string"},{"id":"a2","name":"videoTitle","value":"My Video Title","type":"string"},{"id":"a3","name":"videoDescription","value":"Video description goes here\n\n#hashtag1 #hashtag2","type":"string"},{"id":"a4","name":"lateApiKey","value":"sk_YOUR_LATE_API_KEY","type":"string"},{"id":"a5","name":"youtubeAccountId","value":"YOUR_LATE_YOUTUBE_ACCOUNT_ID","type":"string"},{"id":"a6","name":"visibility","value":"public","type":"string"}]},"options":{}},"id":"9b04df9f-2ee1-434d-b49e-baed2afbc0ac","name":"Set Video Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,368]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}/permissions","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"role\": \"reader\", \"type\": \"anyone\"}","options":{}},"id":"bc03ddbb-dd77-4733-90c9-af85b0c3fc11","name":"Make File Public (Temporary)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,368],"credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}},"notes":"Temporarily makes the Google Drive file publicly accessible so Late can download it. Access is revoked in the last step."},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"permissionId","value":"={{ $json.id }}","type":"string"},{"id":"b2","name":"fileId","value":"={{ $('Set Video Config').item.json.fileId }}","type":"string"},{"id":"b3","name":"videoTitle","value":"={{ $('Set Video Config').item.json.videoTitle }}","type":"string"},{"id":"b4","name":"videoDescription","value":"={{ $('Set Video Config').item.json.videoDescription }}","type":"string"},{"id":"b5","name":"lateApiKey","value":"={{ $('Set Video Config').item.json.lateApiKey }}","type":"string"},{"id":"b6","name":"youtubeAccountId","value":"={{ $('Set Video Config').item.json.youtubeAccountId }}","type":"string"},{"id":"b7","name":"visibility","value":"={{ $('Set Video Config').item.json.visibility }}","type":"string"}]},"options":{}},"id":"0d99db48-263d-47f2-9842-8dd43659a1d5","name":"Save Permission ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,368],"disabled":true,"notes":"Captures the permission ID returned by Google so we can revoke it later. Also carries forward all config values."},{"parameters":{"method":"POST","url":"https://getlate.dev/api/v1/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.lateApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($json.videoDescription) }},\n  \"mediaItems\": [\n    {\n      \"type\": \"video\",\n      \"url\": \"https://drive.google.com/uc?export=download&id={{ $json.fileId }}\"\n    }\n  ],\n  \"platforms\": [\n    {\n      \"platform\": \"youtube\",\n      \"accountId\": {{ JSON.stringify($json.youtubeAccountId) }},\n      \"platformSpecificData\": {\n        \"title\": {{ JSON.stringify($json.videoTitle) }},\n        \"visibility\": {{ JSON.stringify($json.visibility) }}\n      }\n    }\n  ],\n  \"publishNow\": true\n}","options":{}},"id":"dd466577-0b98-4738-9a90-b4c199103c3f","name":"Upload to YouTube via Late","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,368],"notes":"Sends the public Google Drive URL to Late API, which downloads the video and uploads it to YouTube on your behalf. No file passes through n8n memory."},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Save Permission ID').item.json.fileId }}/permissions/{{ $('Save Permission ID').item.json.permissionId }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"id":"36714641-aedf-4df8-a352-08096c478350","name":"Revoke Public Access","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,368],"credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}},"notes":"Removes the temporary public access from the Google Drive file. Uses the exact permission ID returned when we made it public."},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"domain","domain":"honeybearfinancials.com"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,176],"id":"45b53eb6-115a-4604-8619-fc8e11be17a6","name":"Share file1","credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,176],"id":"64b71b48-0276-4a7b-9f51-c37577fa34d9","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}},"disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Share file1","type":"main","index":0}]]},"Set Video Config":{"main":[[{"node":"Make File Public (Temporary)","type":"main","index":0}]]},"Make File Public (Temporary)":{"main":[[{"node":"Save Permission ID","type":"main","index":0}]]},"Save Permission ID":{"main":[[{"node":"Upload to YouTube via Late","type":"main","index":0}]]},"Upload to YouTube via Late":{"main":[[{"node":"Revoke Public Access","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"669c78ce-96a9-4076-b3b2-d5d5a87a0289","activeVersionId":null,"versionCounter":144,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T01:43:50.842Z","createdAt":"2026-02-22T01:43:50.842Z","role":"workflow:owner","workflowId":"gtwob8gy4w9AqqXR","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}