hbf_online/2026/01/Booming Bookkeeping Estimate Generator/aswlmHPAlldh_N7M8NOiB.json
{"updatedAt":"2026-01-21T01:40:06.352Z","createdAt":"2026-01-21T00:48:46.017Z","id":"aswlmHPAlldh_N7M8NOiB","name":"Booming Bookkeeping Estimate Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Booming Bookkeeping - Estimate Generator","formDescription":"Enter prospect information to generate a QuickBooks estimate","formFields":{"values":[{"fieldLabel":"Business Name","placeholder":"Enter the prospect's business name","requiredField":true},{"fieldLabel":"Prospect Email","fieldType":"email","placeholder":"prospect@example.com","requiredField":true},{"fieldLabel":"Number of Transactions (Monthly)","fieldType":"number","placeholder":"150","requiredField":true},{"fieldLabel":"Number of Bank/Credit Card Accounts","fieldType":"number","placeholder":"3","requiredField":true},{"fieldLabel":"Needs AR or AP Services","fieldType":"dropdown","fieldOptions":{"values":[{"option":"No - Standard bookkeeping only"},{"option":"Yes - Needs Accounts Receivable"},{"option":"Yes - Needs Accounts Payable"},{"option":"Yes - Needs Both AR and AP"}]},"requiredField":true},{"fieldLabel":"Service Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Monthly Bookkeeping (Comprehensive or Advanced)"},{"option":"QuickBooks Setup Package ($199.99)"},{"option":"Quarterly Review & Insights ($447/quarter)"},{"option":"DIY Bookkeeping Membership ($49/month)"},{"option":"Cleanup Services (Project-based)"}]},"requiredField":true},{"fieldLabel":"Months of Cleanup Needed","fieldType":"number","placeholder":"0"},{"fieldLabel":"Number of 1099s to File","fieldType":"number","placeholder":"0"},{"fieldLabel":"Test Mode","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes - Test Only (No QuickBooks)"},{"option":"No - Create Real Estimate"}]},"requiredField":true}]},"responseMode":"lastNode","options":{"buttonLabel":"Generate Estimate"}},"id":"892a748b-5980-4c52-bfe5-5e0cd9c562c4","name":"Prospect Intake Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-320,112],"webhookId":"e867d475-af0e-4654-97a4-82af625c7d1b"},{"parameters":{"jsCode":"// Booming Bookkeeping Pricing Calculator\nconst input = $input.first().json;\n\nconst businessName = input['Business Name'];\nconst prospectEmail = input['Prospect Email'];\nconst numTransactions = parseInt(input['Number of Transactions (Monthly)']) || 0;\nconst numAccounts = parseInt(input['Number of Bank/Credit Card Accounts']) || 0;\nconst needsArAp = input['Needs AR or AP Services'];\nconst serviceType = input['Service Type'];\nconst monthsCleanup = parseInt(input['Months of Cleanup Needed']) || 0;\nconst num1099s = parseInt(input['Number of 1099s to File']) || 0;\nconst testMode = input['Test Mode'];\n\n// Pricing constants based on Booming Bookkeeping rates\nconst PRICING = {\n  DIY_MEMBERSHIP: 49,\n  QUICKBOOKS_SETUP: 199.99,\n  QUARTERLY_REVIEW: 447,\n  COMPREHENSIVE: 499.99,\n  ADVANCED: 999.99,\n  CLEANUP_MINIMUM: 500,\n  PER_1099: 20\n};\n\nconst lineItems = [];\nlet totalAmount = 0;\n\n// Determine if needs Advanced tier (A/R or A/P services)\nconst needsAdvanced = needsArAp && !needsArAp.includes('No');\n\n// Calculate based on service type\nif (serviceType.includes('Monthly Bookkeeping')) {\n  const monthlyRate = needsAdvanced ? PRICING.ADVANCED : PRICING.COMPREHENSIVE;\n  const tierName = needsAdvanced ? 'Advanced Bookkeeping Services' : 'Comprehensive Bookkeeping Services';\n  const description = needsAdvanced \n    ? 'Monthly bookkeeping with A/R, A/P management, payroll integration, sales tax support, and custom reporting. Deliverables guaranteed by the 15th.'\n    : 'Monthly bank/credit card reconciliation, transaction categorization, financial reports (P&L, Balance Sheet), and monthly check-ins. Deliverables guaranteed by the 15th.';\n  \n  lineItems.push({\n    LineNum: 1,\n    Description: tierName + ' - ' + description,\n    Amount: monthlyRate,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += monthlyRate;\n}\n\nif (serviceType.includes('QuickBooks Setup')) {\n  lineItems.push({\n    LineNum: lineItems.length + 1,\n    Description: 'QuickBooks Setup Package - QBO setup, Chart of Accounts customization, bank integration, customer/vendor import, initial training session. Includes $15/month discount on DIY Membership.',\n    Amount: PRICING.QUICKBOOKS_SETUP,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += PRICING.QUICKBOOKS_SETUP;\n}\n\nif (serviceType.includes('Quarterly Review')) {\n  lineItems.push({\n    LineNum: lineItems.length + 1,\n    Description: 'Quarterly Review & Insights Package - Comprehensive quarterly review, reconciliation audit, financial statement analysis, 60-90 min strategy session, summary report, and email support.',\n    Amount: PRICING.QUARTERLY_REVIEW,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += PRICING.QUARTERLY_REVIEW;\n}\n\nif (serviceType.includes('DIY Bookkeeping')) {\n  lineItems.push({\n    LineNum: lineItems.length + 1,\n    Description: 'DIY Bookkeeping Membership - Access to educational resources, templates, community forum, monthly Q&A sessions, and discounted consulting rates.',\n    Amount: PRICING.DIY_MEMBERSHIP,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += PRICING.DIY_MEMBERSHIP;\n}\n\nif (serviceType.includes('Cleanup Services') && monthsCleanup > 0) {\n  const monthlyRate = needsAdvanced ? PRICING.ADVANCED : PRICING.COMPREHENSIVE;\n  const cleanupCost = Math.max(PRICING.CLEANUP_MINIMUM, monthlyRate * monthsCleanup);\n  \n  lineItems.push({\n    LineNum: lineItems.length + 1,\n    Description: `Cleanup Services (${monthsCleanup} months) - Historical transaction catch-up, Chart of Accounts optimization, error correction, and retrospective financial statements.`,\n    Amount: cleanupCost,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += cleanupCost;\n}\n\n// Add 1099 filing if applicable\nif (num1099s > 0) {\n  const filing1099Cost = num1099s * PRICING.PER_1099;\n  lineItems.push({\n    LineNum: lineItems.length + 1,\n    Description: `1099 Filing Service (${num1099s} forms via QuickBooks)`,\n    Amount: filing1099Cost,\n    DetailType: 'SalesItemLineDetail'\n  });\n  totalAmount += filing1099Cost;\n}\n\nreturn {\n  json: {\n    businessName,\n    prospectEmail,\n    numTransactions,\n    numAccounts,\n    needsAdvanced,\n    serviceType,\n    monthsCleanup,\n    num1099s,\n    testMode,\n    isTestMode: testMode && testMode.includes('Yes'),\n    lineItems,\n    totalAmount,\n    estimateSummary: `Estimate for ${businessName}: $${totalAmount.toFixed(2)}`\n  }\n};"},"id":"ca40fd73-919c-403c-b118-aa86bb72341f","name":"Calculate Pricing","type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,112]},{"parameters":{"operation":"create","displayName":"={{ $json.businessName }}","additionalFields":{"PrimaryEmailAddr":"={{ $json.prospectEmail }}"}},"id":"344f9b84-9edf-499c-bd33-86a00a9df08a","name":"Create QuickBooks Customer","type":"n8n-nodes-base.quickbooks","typeVersion":1,"position":[352,16]},{"parameters":{"resource":"estimate","operation":"create","CustomerRef":"={{ $('Create QuickBooks Customer').item.json.Id }}","Line":[],"additionalFields":{"BillEmail":"={{ $('Calculate Pricing').item.json.prospectEmail }}"}},"id":"9e397c6b-1238-462d-ae5d-ff53c4b541d1","name":"Create QuickBooks Estimate","type":"n8n-nodes-base.quickbooks","typeVersion":1,"position":[576,16]},{"parameters":{"assignments":{"assignments":[{"id":"success-msg","name":"message","value":"={{ 'Estimate created successfully for ' + $('Calculate Pricing').item.json.businessName + '. Total: $' + $('Calculate Pricing').item.json.totalAmount.toFixed(2) }}","type":"string"},{"id":"estimate-id","name":"estimateId","value":"={{ $json.Id }}","type":"string"}]},"options":{}},"id":"910b3986-e760-4023-b77e-538a1925e442","name":"Format Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,16]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $('Calculate Pricing').item.json.isTestMode }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"bba15b7a-0c81-4a43-be0a-bb252c5e9fb1","name":"Check Test Mode","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[128,112]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"mode","value":"TEST MODE","type":"string"},{"id":"id-2","name":"message","value":"=TEST MODE - Estimate Preview for {{ $('Calculate Pricing').item.json.businessName }}\n\nTotal Amount: ${{ $('Calculate Pricing').item.json.totalAmount.toFixed(2) }}\n\nLine Items:\n{{ $('Calculate Pricing').item.json.lineItems.map(item => `- ${item.Description}: $${item.Amount.toFixed(2)}`).join('\\n') }}\n\nNo QuickBooks estimate was created in test mode.","type":"string"},{"id":"id-3","name":"businessName","value":"={{ $('Calculate Pricing').item.json.businessName }}","type":"string"},{"id":"id-4","name":"totalAmount","value":"={{ $('Calculate Pricing').item.json.totalAmount }}","type":"number"},{"id":"id-5","name":"lineItems","value":"={{ $('Calculate Pricing').item.json.lineItems }}","type":"array"}]},"options":{}},"id":"6d0bd28f-988e-4b6b-abca-647e40118991","name":"Format Test Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,208]}],"connections":{"Prospect Intake Form":{"main":[[{"node":"Calculate Pricing","type":"main","index":0}]]},"Create QuickBooks Customer":{"main":[[{"node":"Create QuickBooks Estimate","type":"main","index":0}]]},"Create QuickBooks Estimate":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Calculate Pricing":{"main":[[{"node":"Check Test Mode","type":"main","index":0}]]},"Check Test Mode":{"main":[[{"node":"Format Test Response","type":"main","index":0}],[{"node":"Create QuickBooks Customer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c715557c-d434-4527-97b3-7b2cea642d00","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-21T00:48:46.024Z","createdAt":"2026-01-21T00:48:46.024Z","role":"workflow:owner","workflowId":"aswlmHPAlldh_N7M8NOiB","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-02-02T05:14:12.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-02","isPending":false}}]}}],"tags":[],"activeVersion":null}