hbf_online/2026/01/Nano Banana/0wqC6M7gQD3CTez1hBnEv.json
{"updatedAt":"2026-01-24T19:25:34.000Z","createdAt":"2026-01-24T19:25:34.452Z","id":"0wqC6M7gQD3CTez1hBnEv","name":"Nano Banana","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# 📸 Viral Asset Delivery Engine  \n### *Downloads & organizes high-converting UGC creatives for immediate campaign deployment*\n\n1. **Retrieve Final Results** – *Fetches completed AI-generated image URLs from Nano Banana*\n2. **Download Creative Assets** – *Pulls high-res UGC creative files to local storage*\n3. **Cross-Reference Ads Table** – *Checks existing creative library for duplicate prevention*\n4. **Smart Asset Merge** – *Combines new creative with existing outputs if applicable*\n5. **Update Viral Ready Status** – *Marks record as ✅ Completed with attached creative files*\n\n**Final Output:** Production-ready UGC ad creative stored in Airtable for campaign launch","height":460,"width":1580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,480],"id":"2f295dc7-bd58-452b-b9cd-bf44d0659919","name":"Viral Asset Delivery Engine"},{"parameters":{"content":"# ⏱️ Smart Polling System  \n### *Intelligently monitors AI generation progress with optimized wait cycles*\n\n1. **Status Check** – *Queries Nano Banana API for current generation status*\n2. **Completion Validator** – *Checks if status equals 'COMPLETED' for processing*\n3. **Smart Wait Loop** – *10-second intervals to avoid API rate limits while ensuring responsiveness*\n\n**Logic:** Continues polling until AI finishes generating hyper-realistic UGC creative\n**Efficiency:** Prevents unnecessary API calls while maintaining near real-time updates","height":460,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,0],"id":"be003c8d-e85f-43c2-8cfd-875d121fdba6","name":"Smart Polling System"},{"parameters":{"content":"# 🎨 Creative Intelligence Engine  \n### *Transforms product images into hyper-realistic UGC ads using AI-powered visual synthesis*\n\n1. **Webhook Trigger** – *Receives creative brief request from Airtable automation*\n2. **Fetch Creative Brief** – *Pulls product spotlight image & creative brief from Nano Banana table*\n3. **Set Running Status** – *Updates Airtable record to show ⚙️ Running state*\n4. **Launch AI Generation** – *Sends product image + brief to Nano Banana API for UGC transformation*\n\n\n**Output:** Request ID for tracking AI generation progress","height":460,"width":840,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"33d7eb59-0ea5-445f-85c2-6d39f2681dd7","name":"Creative Intelligence Engine"},{"parameters":{"path":"222038dd-67b3-4702-a665-68cdec28ced5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,288],"id":"c9939a68-4877-47cc-ad61-4f8df0ca9585","name":"Viral Spark Trigger","webhookId":"222038dd-67b3-4702-a665-68cdec28ced5"},{"parameters":{"base":{"__rl":true,"value":"appqk7BokZYg59TII","mode":"list","cachedResultName":"Viral AI Ads OS","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII"},"table":{"__rl":true,"value":"tblaTcjdp5NvTsOYL","mode":"list","cachedResultName":"Nano Banana","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII/tblaTcjdp5NvTsOYL"},"id":"={{ $json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[272,288],"id":"75dc33a3-5697-492e-bcd9-6ec98e077414","name":"Creative DNA Extractor"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Creative DNA Extractor').item.json['Creative Brief'].replace(/\\r?\\n|\\r/g, ' ').replace(/\"/g, '\\\\\"') }}\",\n  \"image_urls\": [\n    \"{{ $('Creative DNA Extractor').item.json['Product Spotlight'][0].url }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,288],"id":"53916155-5016-48cf-bfe4-a1c81fae7a40","name":"Viral Vision Generator"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqk7BokZYg59TII","mode":"list","cachedResultName":"Viral AI Ads OS","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII"},"table":{"__rl":true,"value":"tblaTcjdp5NvTsOYL","mode":"list","cachedResultName":"Viral UGC Asserts","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII/tblaTcjdp5NvTsOYL"},"columns":{"mappingMode":"defineBelow","value":{"Status":"⚙️ Running","id":"={{ $('Viral Spark Trigger').item.json.query.recordId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Creator Code","displayName":"Creator Code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Featured Item","displayName":"Featured Item","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Product Spotlight","displayName":"Product Spotlight","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Creative Brief","displayName":"Creative Brief","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Remix Magic","displayName":"Remix Magic","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Viral Ready Creatives","displayName":"Viral Ready Creatives","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"💥 Sent","value":"💥 Sent"},{"name":"⚙️ Running","value":"⚙️ Running"},{"name":"✅ Completed","value":"✅ Completed"}],"readOnly":false,"removed":false},{"id":"Drop Time","displayName":"Drop Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,288],"id":"f0050728-7930-4c36-994d-3beccaad38a4","name":"Hype Status Broadcaster"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $('Viral Vision Generator').item.json.request_id }}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,288],"id":"08013172-3468-4044-a790-7a05f5870644","name":"Viral Pulse Checker"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be7f3581-7a5b-471f-b13e-9c55693158b4","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,288],"id":"7edfa289-ab37-481e-8e30-a2a8428191c4","name":"Ready-to-Explode Validator"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,288],"id":"7fe5c1cc-93e7-44f9-8991-9c63f9d105c9","name":"Anticipation Builder","webhookId":"d688b8da-d697-4ae4-b2f4-6cb760e8f675"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,800],"id":"95b1dc49-72f7-4cd5-9479-f51cae8516a7","name":"Viral Payload Harvester"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,768],"id":"1115f96c-52d0-4044-b458-b38bda5f7b71","name":"Viral Asset Downloader"},{"parameters":{"base":{"__rl":true,"value":"appqk7BokZYg59TII","mode":"list","cachedResultName":"AI Ad Creative Agent","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII"},"table":{"__rl":true,"value":"tblhrssHAlVHgdPs1","mode":"list","cachedResultName":"Ads","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII/tblhrssHAlVHgdPs1"},"id":"={{ $('Viral Spark Trigger').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[704,704],"id":"bd091007-4ecd-492e-8552-674d1e9cefa5","name":"Viral Library Scanner","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aa8c0a4-04f1-41ee-b5cc-a692c350bbfb","leftValue":"={{ $json['Viral Ready Creatives'] }}","rightValue":"","operator":{"type":"array","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,640],"id":"987cbbcc-5940-4e8c-9a26-14920227c688","name":"Viral Collection Detective"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqk7BokZYg59TII","mode":"list","cachedResultName":"Viral AI Ads OS","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII"},"table":{"__rl":true,"value":"tblaTcjdp5NvTsOYL","mode":"list","cachedResultName":"Nano Banana","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII/tblaTcjdp5NvTsOYL"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Creative DNA Extractor').item.json.id }}","Viral Ready Creatives":"={{ [ { url: $('Viral Asset Downloader').item.json.images[0].url  } ] }}","Status":"✅ Completed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Creator Code","displayName":"Creator Code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Featured Item","displayName":"Featured Item","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Product Spotlight","displayName":"Product Spotlight","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Creative Brief","displayName":"Creative Brief","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Remix Magic","displayName":"Remix Magic","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Viral Ready Creatives","displayName":"Viral Ready Creatives","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"💥 Sent","value":"💥 Sent"},{"name":"⚙️ Running","value":"⚙️ Running"},{"name":"✅ Completed","value":"✅ Completed"}],"readOnly":false,"removed":false},{"id":"Drop Time","displayName":"Drop Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1152,528],"id":"1bd35231-6af0-4112-9064-bbe713f6dc49","name":"Victory Status Publisher"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqk7BokZYg59TII","mode":"list","cachedResultName":"AI Ad Creative Agent","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII"},"table":{"__rl":true,"value":"tblaTcjdp5NvTsOYL","mode":"list","cachedResultName":"Nano Banana","cachedResultUrl":"https://airtable.com/appqk7BokZYg59TII/tblaTcjdp5NvTsOYL"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Viral Spark Trigger').item.json.query.recordId }}","Viral Ready Creatives":"={{ $json.mergedAttachments.toJsonString() }}","Status":"✅ Completed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Creator Code","displayName":"Creator Code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Featured Item","displayName":"Featured Item","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Product Spotlight","displayName":"Product Spotlight","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Creative Brief","displayName":"Creative Brief","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Remix Magic","displayName":"Remix Magic","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Viral Ready Creatives","displayName":"Viral Ready Creatives","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"💥 Sent","value":"💥 Sent"},{"name":"⚙️ Running","value":"⚙️ Running"},{"name":"✅ Completed","value":"✅ Completed"}],"readOnly":false,"removed":false},{"id":"Drop Time","displayName":"Drop Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1360,784],"id":"abb908f2-087a-4b55-8df0-268b1102de34","name":"Viral Archive Master","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const existingAttachments = $('Viral Library Scanner').first().json['Viral Ready Creatives'] || [];\nconst newFile = {\n  url: $('Viral Asset Downloader').item.json.images[0].url,\n  filename:'creatives.png'\n};\n\nreturn [\n  {\n    json: {\n      mergedAttachments: [...existingAttachments, newFile]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,752],"id":"c7821fbd-f91e-4d59-8784-823fc2c356cb","name":"Viral Asset Fusion Engine"}],"connections":{"Viral Spark Trigger":{"main":[[{"node":"Creative DNA Extractor","type":"main","index":0}]]},"Creative DNA Extractor":{"main":[[{"node":"Hype Status Broadcaster","type":"main","index":0}]]},"Viral Vision Generator":{"main":[[{"node":"Viral Pulse Checker","type":"main","index":0}]]},"Hype Status Broadcaster":{"main":[[{"node":"Viral Vision Generator","type":"main","index":0}]]},"Viral Pulse Checker":{"main":[[{"node":"Ready-to-Explode Validator","type":"main","index":0}]]},"Ready-to-Explode Validator":{"main":[[{"node":"Viral Payload Harvester","type":"main","index":0}],[{"node":"Anticipation Builder","type":"main","index":0}]]},"Anticipation Builder":{"main":[[{"node":"Viral Pulse Checker","type":"main","index":0}]]},"Viral Payload Harvester":{"main":[[{"node":"Viral Asset Downloader","type":"main","index":0}]]},"Viral Asset Downloader":{"main":[[{"node":"Viral Library Scanner","type":"main","index":0}]]},"Viral Library Scanner":{"main":[[{"node":"Viral Collection Detective","type":"main","index":0}]]},"Viral Collection Detective":{"main":[[{"node":"Victory Status Publisher","type":"main","index":0}],[{"node":"Viral Asset Fusion Engine","type":"main","index":0}]]},"Viral Asset Fusion Engine":{"main":[[{"node":"Viral Archive Master","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f9385ff2-7e70-4d84-b21a-561f76607795","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-24T19:25:34.464Z","createdAt":"2026-01-24T19:25:34.464Z","role":"workflow:owner","workflowId":"0wqC6M7gQD3CTez1hBnEv","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-25T15:49:07.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-25","isPending":false}}]}}],"tags":[],"activeVersion":null}