hbf_online/2026/02/Church Social Media Script Generator and Documentation/KcjFA85Xu6XDLpil.json
{"updatedAt":"2026-02-27T23:01:01.000Z","createdAt":"2026-02-27T22:56:11.579Z","id":"KcjFA85Xu6XDLpil","name":"Church Social Media Script Generator and Documentation","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Church Content Idea Submission","formDescription":"Share your content idea and we'll create platform-specific scripts for TikTok, LinkedIn, and Facebook","formFields":{"values":[{"fieldLabel":"Content Idea","fieldName":"contentIdea","placeholder":"Describe your video content idea for the church","requiredField":true}]},"options":{"appendAttribution":false}},"id":"76b59d7b-1e81-4619-b82b-8e430b48e538","name":"Content Idea Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[256,496],"webhookId":"4d3315aa-14f5-45c2-9457-93440dafccf3"},{"parameters":{"promptType":"define","text":"={{ $json.contentIdea }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert content creator and movie director specializing in Christian church content. Your role is to transform content ideas into compelling, platform-optimized video scripts for TikTok, LinkedIn, and Facebook. \n\nFor each platform, consider:\n- TikTok: Short, dynamic, attention-grabbing (15-60 seconds), use trending formats, speak directly to viewers, fast-paced\n- LinkedIn: Professional, inspirational, community-focused (1-2 minutes), emphasize impact and mission\n- Facebook: Warm, inclusive, story-driven (1-3 minutes), encourage engagement and sharing\n\nAll scripts should reflect Christian values, be authentic, and inspire action. Include visual direction, tone guidance, and key messaging for each platform."}},"id":"3d182afe-b34e-4a72-b529-03b805d32629","name":"Script Generator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[480,496]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.7}},"id":"c8d0d976-392a-44b8-a4b0-a5c572ba071a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,720],"credentials":{"openAiApi":{"id":"YkNmbyZnv2KRWq6X","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"tiktok_script\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Script optimized for TikTok platform\"\n\t\t},\n\t\t\"linkedin_script\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Script optimized for LinkedIn platform\"\n\t\t},\n\t\t\"facebook_script\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Script optimized for Facebook platform\"\n\t\t}\n\t}\n}"},"id":"8828d2d2-501c-42c7-b1ab-9b42c25feabd","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,704]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"=TikTok Script - {{ $json.contentIdea.substring(0, 50) }}","type":"string"},{"id":"id-2","name":"content","value":"={{ $json.output.tiktok_script }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"8dfd3938-0c04-4f6f-bfc7-01935d3673a7","name":"Prepare TikTok Doc","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,304]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"=LinkedIn Script - {{ $json.contentIdea.substring(0, 50) }}","type":"string"},{"id":"id-2","name":"content","value":"={{ $json.output.linkedin_script }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6c4504c9-5a00-4113-b3d9-caa5acd15823","name":"Prepare LinkedIn Doc","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,496]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"=Facebook Script - {{ $json.contentIdea.substring(0, 50) }}","type":"string"},{"id":"id-2","name":"content","value":"={{ $json.output.facebook_script }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2ec428ae-a8d1-46af-ac8c-b8ef5e335cb6","name":"Prepare Facebook Doc","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,688]},{"parameters":{"folderId":{"__rl":true,"mode":"list","value":""},"title":"={{ $json.title }}"},"id":"a963c356-ecd7-4acd-8d32-54a93a60c3e4","name":"Save TikTok Script","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1056,304],"credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}},{"parameters":{"folderId":{"__rl":true,"mode":"list","value":""},"title":"={{ $json.title }}"},"id":"543c7d1f-4011-4d8c-9d3b-e309fa822037","name":"Save LinkedIn Script","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1056,496],"credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}},{"parameters":{"folderId":{"__rl":true,"mode":"list","value":""},"title":"={{ $json.title }}"},"id":"6b987702-5e2a-4c21-b049-4ff04a013e32","name":"Save Facebook Script","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1056,688],"credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}}],"connections":{"Content Idea Form":{"main":[[{"node":"Script Generator Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Script Generator Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Script Generator Agent","type":"ai_outputParser","index":0}]]},"Script Generator Agent":{"main":[[{"node":"Prepare TikTok Doc","type":"main","index":0},{"node":"Prepare LinkedIn Doc","type":"main","index":0},{"node":"Prepare Facebook Doc","type":"main","index":0}]]},"Prepare TikTok Doc":{"main":[[{"node":"Save TikTok Script","type":"main","index":0}]]},"Prepare LinkedIn Doc":{"main":[[{"node":"Save LinkedIn Script","type":"main","index":0}]]},"Prepare Facebook Doc":{"main":[[{"node":"Save Facebook Script","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"97b0e0a5-f2c1-4a5b-8023-a372ba9a35b3","activeVersionId":null,"versionCounter":8,"triggerCount":0,"shared":[{"updatedAt":"2026-02-27T22:56:11.584Z","createdAt":"2026-02-27T22:56:11.584Z","role":"workflow:owner","workflowId":"KcjFA85Xu6XDLpil","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}