hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive V2/6WGNn2lWONrAV6E2.json
{"updatedAt":"2026-06-26T16:20:48.554Z","createdAt":"2026-06-26T16:20:48.554Z","id":"6WGNn2lWONrAV6E2","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive V2","description":"Polls Gmail every Monday at 8am for invoices and receipts. Saves attachments to Google Drive with date-stamped filenames (receipt/invoice date from subject, or email date as fallback). Checks for duplicates in Drive before uploading. Logs all processed fi","active":false,"isArchived":false,"nodes":[{"id":"e14af447-cb12-40b5-9826-4e5cc3328987","name":"Sticky Note a0cb7063","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## Gmail Invoice & Receipt Auto-Organizer V2\nPolls Gmail every Monday at 8am.\n**maxResults raised to 500** to pull all matching emails per run (was 20).\nFilenames are now prefixed with the document date (parsed from subject if found, otherwise email send date).","color":3,"width":300,"height":200}},{"id":"80e11c2d-0e60-4cfb-984e-a48a1f11a2c7","name":"Sticky Note a4b533f2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## Folder Resolution\nAccounting > Receipts > YYYY > VendorName","color":5,"width":300,"height":200}},{"id":"302351ab-38d0-4159-9994-8999fed2a27c","name":"Sticky Note 55595685","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## Duplicate Check (Google Drive)\nSearches the vendor folder in Drive for a file with the same dated filename BEFORE uploading. Skips silently if already there — no duplicate files ever land in Drive.","color":6,"width":300,"height":200}},{"id":"9d498452-143a-46cb-9292-864716c8b2b7","name":"Sticky Note 0e5ece55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## Log Spreadsheet\n\"Invoice and Receipt Log\" in My Drive root.\nOne tab per month. Logs: Invoice/Receipt Date, Date Processed, Type, Vendor, Subject, From, File Name, Drive Link.","color":4,"width":300,"height":200}},{"id":"3cfa496e-9841-4ce3-a6b7-28fada1a0bf5","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,96],"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","hour":8}]},"simple":false,"maxResults":500,"filters":{"q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment","readStatus":"unread"},"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"id":"1ee2e295-cded-4dba-b042-74246d364c45","name":"Extract Email Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"parameters":{"jsCode":"const now = new Date();\nconst year = now.getFullYear().toString();\nconst monthTabName = now.toLocaleString(\"en-US\", { month: \"long\", year: \"numeric\" });\nconst dateProcessed = now.toISOString().split(\"T\")[0];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || \"\";\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || \"unknown\";\n  const fromText = item.json.from?.text || \"\";\n  const fromName = item.json.from?.value?.[0]?.name || \"\";\n\n  // Determine document date: try email date header first, fall back to processed date\n  const emailDate = item.json.date ? new Date(item.json.date).toISOString().split(\"T\")[0] : dateProcessed;\n\n  // Attempt to parse an explicit receipt/invoice date from the subject line\n  let docDate = null;\n  const datePatterns = [\n    /\\b(\\d{4}-\\d{2}-\\d{2})\\b/,\n    /\\b(\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4})\\b/,\n    /\\b(\\w+ \\d{1,2},? \\d{4})\\b/i\n  ];\n  for (const pat of datePatterns) {\n    const m = subject.match(pat);\n    if (m) {\n      const parsed = new Date(m[1]);\n      if (!isNaN(parsed.getTime())) {\n        docDate = parsed.toISOString().split(\"T\")[0];\n        break;\n      }\n    }\n  }\n\n  // Use detected date, else email date header\n  const receiptDate = docDate || emailDate;\n\n  let senderFolder = \"Unknown\";\n  if (fromText.toLowerCase().includes(\"heyreach\") || fromName.toLowerCase().includes(\"heyreach\") || subject.toLowerCase().includes(\"heyreach\")) {\n    senderFolder = \"Heyreach\";\n  } else if (fromName && fromName !== from) {\n    senderFolder = fromName.replace(/[^a-zA-Z0-9 ]/g, \"\").trim().substring(0, 30);\n  } else {\n    const emailMatch = from.match(/@([^.]+)/);\n    const senderKey = emailMatch ? emailMatch[1] : from.split(\"@\")[0];\n    senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n  }\n\n  const subjectLower = subject.toLowerCase();\n  let docType = \"Receipt\";\n  if (subjectLower.includes(\"invoice\") || subjectLower.includes(\"billing statement\")) {\n    docType = \"Invoice\";\n  }\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith(\"attachment_\"));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      const origFileName = item.binary[attachKey]?.fileName || attachKey + \".pdf\";\n      const ext = origFileName.includes(\".\") ? origFileName.substring(origFileName.lastIndexOf(\".\")) : \".pdf\";\n      const baseName = origFileName.includes(\".\") ? origFileName.substring(0, origFileName.lastIndexOf(\".\")) : origFileName;\n      // Prefix filename with the document date\n      const datedFileName = receiptDate + \"_\" + baseName + ext;\n      results.push({\n        json: {\n          docType,\n          senderFolder,\n          year,\n          monthTabName,\n          dateProcessed,\n          emailDate,\n          receiptDate,\n          subject,\n          from,\n          origFileName,\n          fileName: datedFileName\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;"}},{"id":"5617c240-6b6e-4cb8-9a5b-24170af100c4","name":"Get Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,96],"parameters":{"resource":"fileFolder","operation":"search","queryString":"Receipts","limit":1,"filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1ov1esrgadbn2qNDggi6IpHwkWNg-ad8X"},"whatToSearch":"folders"},"options":{}},"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"c6d77801-5222-4b79-b4f3-2d87898a7ff7","name":"Search Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,96],"parameters":{"resource":"fileFolder","operation":"search","queryString":"={{ $('Extract Email Metadata').item.json.year }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"385eb378-ef86-433f-8ed0-c1f9024a54ed","name":"Resolve Year Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,96],"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Extract Email Metadata\").first();\nconst expectedYear = meta.json.year;\nconst match = items.find(i => (i.json.name || \"\") === expectedYear);\nreturn [{ json: { ...meta.json, yearFolderId: match ? match.json.id : \"\", yearExists: !!match }, binary: meta.binary || {} }];"}},{"id":"bcc04029-b207-4427-9136-709d206dd4e7","name":"Year Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.yearExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"29bb96ee-51f3-468b-94db-57b590583241"}],"combinator":"and"},"options":{}},"executeOnce":true,"retryOnFail":true},{"id":"c00a2836-d01a-4f16-a3f5-9f0018db679b","name":"Set Year Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0],"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json;\nif (meta.yearExists) {\n  return { json: { ...meta }, binary: $input.item.binary || {} };\n} else {\n  const createdFolder = $(\"Create Year Folder\").item.json;\n  return { json: { ...meta, yearFolderId: createdFolder.id }, binary: $input.item.binary || {} };\n}"},"executeOnce":true,"retryOnFail":true},{"id":"971e0401-0f5c-413d-a5ca-972a9ab52f71","name":"Create Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,384],"parameters":{"resource":"folder","name":"={{ $('Extract Email Metadata').item.json.year }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1yFf6yOaRqyseUTE5T7OzpyQq9oXRww6Y"},"options":{}},"executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"5373aaf1-e222-4d15-8d04-577df207b4a9","name":"Search Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,192],"parameters":{"resource":"fileFolder","operation":"search","queryString":"={{ $('Extract Email Metadata').item.json.senderFolder }}","limit":1,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.yearFolderId }}"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"d3e9c453-71c3-4e39-8267-a90df2829d8e","name":"Resolve Vendor Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,192],"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Set Year Folder ID\").first();\nconst expectedVendor = meta.json.senderFolder;\nconst match = items.find(i => (i.json.name || \"\") === expectedVendor);\nreturn [{ json: { ...meta.json, vendorFolderId: match ? match.json.id : \"\", vendorFolderExists: !!match }, binary: meta.binary || {} }];"}},{"id":"12495ecb-e070-4dae-a64b-8904c3fdc61a","name":"Vendor Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,192],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.vendorFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"dc9c7f82-f48e-4aee-8ca0-bd6c2e99854c"}],"combinator":"and"},"options":{}},"executeOnce":true},{"id":"8a5c0b26-5873-4168-8ee9-48c65fe2ccdd","name":"Set Vendor Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,0],"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json;\nif (meta.vendorFolderExists) {\n  return { json: { ...meta }, binary: $input.item.binary || {} };\n} else {\n  const createdFolder = $(\"Create Vendor Folder\").item.json;\n  return { json: { ...meta, vendorFolderId: createdFolder.id }, binary: $input.item.binary || {} };\n}"},"executeOnce":true},{"id":"a730a5cd-87b8-4be9-892a-9d687341111e","name":"Create Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2016,288],"parameters":{"resource":"folder","name":"={{ $('Extract Email Metadata').item.json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Set Year Folder ID').item.json.yearFolderId }}","mode":"id"},"options":{}},"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"ea42b34f-c591-4482-b439-9b9735bb3465","name":"Search Drive for Duplicate","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2016,96],"parameters":{"resource":"fileFolder","operation":"search","queryString":"={{ $json.fileName }}","limit":1,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.vendorFolderId }}"},"whatToSearch":"files"},"options":{"fields":["id","name"]}},"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"65ee2707-0092-4435-9d9d-a5fd4f17577e","name":"Skip If Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,192],"parameters":{"jsCode":"const searchResults = $input.all();\nconst meta = $(\"Set Vendor Folder ID\").first();\nconst expectedFileName = meta.json.fileName;\nconst match = searchResults.find(i => (i.json.name || \"\") === expectedFileName);\nif (match) {\n  // Duplicate found — skip this attachment\n  return [];\n} else {\n  return [{ json: { ...meta.json }, binary: meta.binary || {} }];\n}"}},{"id":"ccecff53-8f14-4889-9add-b87076e3982d","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,192],"parameters":{"resource":"file","operation":"upload","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.vendorFolderId }}"},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"a28e6061-a6ff-431a-a2dd-acb755af2250","name":"Search Log Spreadsheet","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2688,192],"parameters":{"resource":"fileFolder","operation":"search","queryString":"Invoice and Receipt Log","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.spreadsheet"]},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"d971f30d-58b5-469d-9b15-cac30357d112","name":"Resolve Log Spreadsheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,192],"parameters":{"jsCode":"const items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || \"\").toLowerCase() === \"invoice and receipt log\");\nreturn [{ json: { ...meta.json, logSpreadsheetId: match ? match.json.id : \"\", logSpreadsheetExists: !!match }, binary: meta.binary || {} }];"}},{"id":"b9e84fb5-b21b-4683-9bd0-3fa7733ce2df","name":"Log Spreadsheet Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3136,192],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.logSpreadsheetExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}}},{"id":"b1f78bea-c350-4f8f-b151-d48f85d72a93","name":"Ensure Month Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3360,0],"parameters":{"resource":"sheet","operation":"create","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"title":"={{ $json.monthTabName }}","options":{}},"onError":"continueRegularOutput","credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"id":"5c575909-7dc4-4adc-915b-87983d8896f8","name":"Create Log Spreadsheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3360,384],"parameters":{"resource":"spreadsheet","operation":"create","title":"Invoice and Receipt Log","sheetsUi":{"sheetValues":[{"title":"={{ $json.monthTabName }}"}]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"id":"eb0b5d70-350a-410a-a819-785e4ed882f1","name":"Set Log Spreadsheet ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3584,384],"parameters":{"assignments":{"assignments":[{"id":"l1","name":"logSpreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]},"includeOtherFields":true,"options":{}}},{"id":"776ad8a0-b8e5-4755-bca0-dcca1f8d2274","name":"Append Log Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3360,192],"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"columns":{"mappingMode":"defineBelow","value":{"Invoice/Receipt Date":"={{ $('Skip If Duplicate').item.json.receiptDate }}","Date Processed":"={{ $('Skip If Duplicate').item.json.dateProcessed }}","Document Type":"={{ $('Skip If Duplicate').item.json.docType }}","Vendor":"={{ $('Skip If Duplicate').item.json.senderFolder }}","Subject":"={{ $('Skip If Duplicate').item.json.subject }}","From":"={{ $('Skip If Duplicate').item.json.from }}","File Name":"={{ $('Skip If Duplicate').item.json.fileName }}","Drive Link":"={{ $('Upload Attachment to Drive').item.json.webViewLink }}"},"schema":[{"id":"Invoice/Receipt Date","displayName":"Invoice/Receipt Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Processed","displayName":"Date Processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Document Type","displayName":"Document Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract Email Metadata","type":"main","index":0}]]},"Extract Email Metadata":{"main":[[{"node":"Get Receipts Folder","type":"main","index":0}]]},"Get Receipts Folder":{"main":[[{"node":"Search Year Folder","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Resolve Year Folder","type":"main","index":0}]]},"Resolve Year Folder":{"main":[[{"node":"Year Folder Exists?","type":"main","index":0}]]},"Year Folder Exists?":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0},{"node":"Search Vendor Folder","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}]]},"Search Vendor Folder":{"main":[[{"node":"Resolve Vendor Folder","type":"main","index":0}]]},"Resolve Vendor Folder":{"main":[[{"node":"Vendor Folder Exists?","type":"main","index":0}]]},"Vendor Folder Exists?":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0},{"node":"Search Drive for Duplicate","type":"main","index":0}],[{"node":"Create Vendor Folder","type":"main","index":0}]]},"Create Vendor Folder":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0}]]},"Search Drive for Duplicate":{"main":[[{"node":"Skip If Duplicate","type":"main","index":0}]]},"Skip If Duplicate":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]},"Upload Attachment to Drive":{"main":[[{"node":"Search Log Spreadsheet","type":"main","index":0}]]},"Search Log Spreadsheet":{"main":[[{"node":"Resolve Log Spreadsheet","type":"main","index":0}]]},"Resolve Log Spreadsheet":{"main":[[{"node":"Log Spreadsheet Exists?","type":"main","index":0}]]},"Log Spreadsheet Exists?":{"main":[[{"node":"Ensure Month Tab","type":"main","index":0},{"node":"Append Log Row","type":"main","index":0}],[{"node":"Create Log Spreadsheet","type":"main","index":0}]]},"Create Log Spreadsheet":{"main":[[{"node":"Set Log Spreadsheet ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"c7ed2949-6836-4117-a667-ffe777a948af","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-26T16:20:48.557Z","createdAt":"2026-06-26T16:20:48.557Z","role":"workflow:owner","workflowId":"6WGNn2lWONrAV6E2","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}