hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive V2/btClCsscOdDlXxia.json
{"updatedAt":"2026-06-26T16:47:22.292Z","createdAt":"2026-06-26T16:37:18.753Z","id":"btClCsscOdDlXxia","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive V2","description":"VA automation: pulls Gmail invoices and receipts weekly on Fridays, deduplicates, saves to Google Drive under Accounting/Receipts/YYYY/VendorName/ and logs to Google Sheet.","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 5"}]}},"id":"9299ae66-72a7-47a4-a342-e0c1044949d9","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,96]},{"parameters":{"jsCode":"\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst monthTabName = now.toLocaleString('en-US', { month: 'long', year: 'numeric' });\nconst dateProcessed = now.toISOString().split('T')[0];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromText = item.json.from?.text || '';\n  const fromName = item.json.from?.value?.[0]?.name || '';\n  const emailDate = item.json.date ? new Date(item.json.date).toISOString().split('T')[0] : dateProcessed;\n\n  let senderFolder = 'Unknown';\n  if (fromText.toLowerCase().includes('heyreach') || fromName.toLowerCase().includes('heyreach') || subject.toLowerCase().includes('heyreach')) {\n    senderFolder = 'Heyreach';\n  } else if (fromName && fromName !== from) {\n    senderFolder = fromName.replace(/[^a-zA-Z0-9 ]/g, '').trim().substring(0, 30);\n  } else {\n    const emailMatch = from.match(/@([^.]+)/);\n    const senderKey = emailMatch ? emailMatch[1] : from.split('@')[0];\n    senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n  }\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipt';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoice';\n  }\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType,\n          senderFolder,\n          year,\n          monthTabName,\n          dateProcessed,\n          emailDate,\n          subject,\n          from,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf'\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n"},"id":"f0e17765-5b68-4a4a-b53d-a93b38b54e64","name":"Extract Email Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,96]},{"parameters":{"resource":"fileFolder","queryString":"Receipts","limit":1,"filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1ov1esrgadbn2qNDggi6IpHwkWNg-ad8X"},"whatToSearch":"folders"},"options":{}},"id":"1defb4d7-67f9-4542-a09c-7284792e23db","name":"Get Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,96],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $(\"Extract Email Metadata\").item.json.year }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"id":"29085c75-60f9-4e4e-b80f-2da1243ef274","name":"Search Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,96],"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Extract Email Metadata\").first();\nconst expectedYear = meta.json.year;\nconst match = items.find(i => (i.json.name || \"\") === expectedYear);\nreturn [{ json: { ...meta.json, year: meta.json.year, yearFolderId: match ? match.json.id : \"\", yearExists: !!match }, binary: meta.binary || {} }];"},"id":"1be0a21e-f36e-49a9-ba14-d1d0babe496f","name":"Resolve Year Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.yearExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"29bb96ee-51f3-468b-94db-57b590583241"}],"combinator":"and"},"options":{}},"id":"35e0a649-315f-4a08-9230-0ad5dc3ee843","name":"Year Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1344,96],"executeOnce":true,"retryOnFail":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json;\nif (meta.yearExists) {\n  return { json: { ...meta }, binary: $input.item.binary || {} };\n} else {\n  const createdFolder = $(\"Create Year Folder\").item.json;\n  return { json: { ...meta, yearFolderId: createdFolder.id }, binary: $input.item.binary || {} };\n}"},"id":"bf6d2fa2-d122-4953-b6ab-cf13894f7d5b","name":"Set Year Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,96],"executeOnce":true,"retryOnFail":true},{"parameters":{"resource":"folder","name":"={{ $(\"Extract Email Metadata\").item.json.year }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1yFf6yOaRqyseUTE5T7OzpyQq9oXRww6Y"},"options":{}},"id":"a6f38bd0-82a2-4c06-9b63-c05324f8715b","name":"Create Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,288],"executeOnce":true,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $(\"Extract Email Metadata\").item.json.senderFolder }}","limit":1,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.yearFolderId }}"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"id":"493d6c25-1155-42a1-93c1-b08906bd348e","name":"Search Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2016,96],"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Set Year Folder ID\").first();\nconst expectedVendor = meta.json.senderFolder;\nconst match = items.find(i => (i.json.name || \"\") === expectedVendor);\nreturn [{ json: { ...meta.json, vendorFolderId: match ? match.json.id : \"\", vendorFolderExists: !!match }, binary: meta.binary || {} }];"},"id":"ea55da13-1c35-4393-83b0-b6513189b48a","name":"Resolve Vendor Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.vendorFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"dc9c7f82-f48e-4aee-8ca0-bd6c2e99854c"}],"combinator":"and"},"options":{}},"id":"7d31ec6e-ba62-4ae5-bc5a-60c040f3d794","name":"Vendor Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2464,96],"executeOnce":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json;\nif (meta.vendorFolderExists) {\n  return { json: { ...meta }, binary: $input.item.binary || {} };\n} else {\n  const createdFolder = $(\"Create Vendor Folder\").item.json;\n  return { json: { ...meta, vendorFolderId: createdFolder.id }, binary: $input.item.binary || {} };\n}"},"id":"3b4e6d7e-d7b0-4ea4-8431-da1c094fdcd1","name":"Set Vendor Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,96],"executeOnce":true},{"parameters":{"resource":"folder","name":"={{ $(\"Extract Email Metadata\").item.json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $(\"Set Year Folder ID\").item.json.yearFolderId }}","mode":"id"},"options":{}},"id":"6106af3e-6c32-4c1e-a83e-587d123fad83","name":"Create Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2688,288],"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.vendorFolderId }}"},"options":{}},"id":"645b4975-32b8-4728-8980-fbdf91ae5b93","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3136,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"Invoice and Receipt Log","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.spreadsheet"]},"options":{}},"id":"ff44b18e-65fb-4ea3-913e-ec35fe66c6c8","name":"Search Log Spreadsheet","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all(); const meta = items[0]; const match = items.find(i => (i.json.name || \"\").toLowerCase() === \"invoice and receipt log\"); return [{ json: { ...meta.json, logSpreadsheetId: match ? match.json.id : \"\", logSpreadsheetExists: !!match }, binary: meta.binary || {} }];"},"id":"1a245ad7-edcf-4b9f-93f7-6747523b75e9","name":"Resolve Log Spreadsheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.logSpreadsheetExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"fa596973-6369-4179-8d61-0d21f368b33d","name":"Log Spreadsheet Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3808,96]},{"parameters":{"operation":"create","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"title":"={{ $json.monthTabName }}","options":{}},"id":"01cb7d2b-d352-4a40-bc34-7acc6a55583e","name":"Ensure Month Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4032,0],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"spreadsheet","title":"Invoice and Receipt Log","sheetsUi":{"sheetValues":[{"title":"={{ $json.monthTabName }}"}]},"options":{}},"id":"5f0b7e6c-ab80-4e0a-89c3-0ed9212a9032","name":"Create Log Spreadsheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4032,288],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"l1","name":"logSpreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2143c0ce-78d6-4e98-9c80-7a244b5a5d5a","name":"Set Log Spreadsheet ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4256,288]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"filtersUI":{"values":[{"lookupColumn":"File Name","lookupValue":"={{ $json.fileName }}"}]},"options":{"returnFirstMatch":true}},"id":"87942b1b-6072-4432-b5bb-d18d2400a1bc","name":"Check Existing Entry","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4032,192],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const checkResult = $input.all();\nconst meta = $(\"Set Vendor Folder ID\").first();\nconst isDuplicate = checkResult.length > 0 && checkResult[0].json[\"File Name\"];\nif (isDuplicate) {\n  return [];\n} else {\n  return [{ json: { ...meta.json }, binary: meta.binary || {} }];\n}"},"id":"b963c820-edb1-4d5f-990f-54f096432ef0","name":"Is Duplicate?","type":"n8n-nodes-base.code","typeVersion":2,"position":[4256,192]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"columns":{"mappingMode":"defineBelow","value":{"Invoice/Receipt Date":"={{ $json.emailDate }}","Date Processed":"={{ $json.dateProcessed }}","Document Type":"={{ $json.docType }}","Vendor":"={{ $json.senderFolder }}","Subject":"={{ $json.subject }}","From":"={{ $json.from }}","File Name":"={{ $json.fileName }}","Drive Link":"={{ $(\"Upload Attachment to Drive\").item.json.webViewLink }}"},"schema":[{"id":"Invoice/Receipt Date","displayName":"Invoice/Receipt Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Processed","displayName":"Date Processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Document Type","displayName":"Document Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"e328e006-d057-4a93-a901-b882e31101b1","name":"Append Log Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4480,192],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"content":"## Schedule: Weekly on Fridays at 8:00 AM\n\nCron: 0 8 * * 5\nPrevious trigger: Monday 8AM\nNew trigger: Friday 8AM\n\nSearches Gmail for the past week of invoices and receipts, deduplicates, and saves to Google Drive.","height":200,"width":300,"color":3},"id":"0b826ebf-d8a0-47c6-a32a-4b9ca2e1ea85","name":"Sticky Note 6db035b3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-320]},{"parameters":{"content":"Folder Resolution: Accounting > Receipts > YYYY > VendorName","color":5},"id":"5efe6448-e7e7-4e18-9666-2b6bb1baa032","name":"Sticky Note f11466d2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,288]},{"parameters":{"content":"Log Spreadsheet: Invoice and Receipt Log in My Drive root","color":4},"id":"c674676b-fcf3-4e9c-8ce1-54ab07817ec5","name":"Sticky Note af2481b3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,544]},{"id":"d42a477e-92f0-483a-96d0-16145618c866","name":"Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"parameters":{"jsCode":"const patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: '[SSN-REDACTED]' },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: '[EIN-REDACTED]' },\n  { regex: /\\b\\d{8,17}\\b/g, token: '[ACCOUNT-REDACTED]' },\n  { regex: /\\b\\d{9}\\b/g, token: '[ROUTING-REDACTED]' },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: '[CARD-REDACTED]' },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    },\n    binary: item.binary || {}\n  };\n});\n"}}],"connections":{"Extract Email Metadata":{"main":[[{"node":"Get Receipts Folder","type":"main","index":0}]]},"Get Receipts Folder":{"main":[[{"node":"Search Year Folder","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Resolve Year Folder","type":"main","index":0}]]},"Resolve Year Folder":{"main":[[{"node":"Year Folder Exists?","type":"main","index":0}]]},"Year Folder Exists?":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0},{"node":"Search Vendor Folder","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}]]},"Search Vendor Folder":{"main":[[{"node":"Resolve Vendor Folder","type":"main","index":0}]]},"Resolve Vendor Folder":{"main":[[{"node":"Vendor Folder Exists?","type":"main","index":0}]]},"Vendor Folder Exists?":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0},{"node":"Upload Attachment to Drive","type":"main","index":0}],[{"node":"Create Vendor Folder","type":"main","index":0}]]},"Create Vendor Folder":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0}]]},"Upload Attachment to Drive":{"main":[[{"node":"Search Log Spreadsheet","type":"main","index":0}]]},"Search Log Spreadsheet":{"main":[[{"node":"Resolve Log Spreadsheet","type":"main","index":0}]]},"Resolve Log Spreadsheet":{"main":[[{"node":"Log Spreadsheet Exists?","type":"main","index":0}]]},"Log Spreadsheet Exists?":{"main":[[{"node":"Ensure Month Tab","type":"main","index":0},{"node":"Check Existing Entry","type":"main","index":0}],[{"node":"Create Log Spreadsheet","type":"main","index":0}]]},"Create Log Spreadsheet":{"main":[[{"node":"Set Log Spreadsheet ID","type":"main","index":0}]]},"Check Existing Entry":{"main":[[{"node":"Is Duplicate?","type":"main","index":0}]]},"Is Duplicate?":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]},"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Redact Sensitive Data","type":"main","index":0}]]},"Redact Sensitive Data":{"main":[[{"node":"Extract Email Metadata","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"b3f58410-9285-4921-beca-37147f7e28a5","activeVersionId":null,"versionCounter":4,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-26T16:37:18.757Z","createdAt":"2026-06-26T16:37:18.757Z","role":"workflow:owner","workflowId":"btClCsscOdDlXxia","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}