hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive V2/MXLbq1mwOOX9kmwG.json
{"updatedAt":"2026-06-15T19:28:51.186Z","createdAt":"2026-06-15T15:37:12.660Z","id":"MXLbq1mwOOX9kmwG","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive V2","description":"New simplified version: both invoices and receipts go to Accounting/Receipts/[CurrentYear]/VendorName/ in Google Drive. Adds a \"Invoice and Receipt Log\" Google Sheet with one tab per month logging every processed file.","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 📧 Gmail Invoice & Receipt Auto-Organizer\n\n**Polls Gmail every Monday at 8am.**\n\n**Google Drive structure:**\n```\nAccounting/\n  Receipts/\n    2026/\n      VendorName/   <- both invoices and receipts land here\n```\n\n**Folder matching:** Case-insensitive exact match first, then partial match (e.g. \"NetflixInc\" matches \"Netflix\"). Only creates a new folder if neither matches.\n\n**Logging:** Every processed file is logged to a Google Sheet \"Invoice and Receipt Log\" (created in My Drive root if missing), with one tab per month (e.g. \"June 2026\"). The \"Document Type\" column records whether it was an Invoice or Receipt.\n\n**Setup:** Connect Gmail OAuth2, Google Drive OAuth2, and Google Sheets OAuth2 credentials. The workflow will search for \"Accounting\" and \"Receipts\" folders automatically.","height":200,"width":300,"color":3},"id":"10bca757-15a9-4e94-a853-c37050709c70","name":"Sticky Note 7aeb787c","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,-320]},{"parameters":{"content":"## 📁 Folder Resolution (4 levels, find-or-create)\n1. Accounting/ in My Drive root (must exist)\n2. Receipts/ inside Accounting (must exist)\n3. CURRENT YEAR (e.g. 2026) inside Receipts (created if missing)\n4. VendorName/ inside the Year folder — case-insensitive + partial match (created if missing)\n5. Upload file (invoices and receipts both go here)\n6. Log the upload to the monthly tab of \"Invoice and Receipt Log\"","height":424,"width":300,"color":5},"id":"ac18d5e3-7ce2-4a33-8cb3-74350d4ab0fd","name":"Sticky Note 13eb2481","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-464]},{"parameters":{"content":"## 📊 Log Spreadsheet\nLooks for \"Invoice and Receipt Log\" in My Drive root.\n- If missing, creates it with a tab for the current month.\n- If found, ensures a tab for the current month exists.\nEach processed attachment gets one row, with Document Type = Invoice or Receipt.","height":328,"width":300,"color":4},"id":"3195dcf7-51ee-404a-9205-4c836c3a3108","name":"Sticky Note 497c834e","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3552,-320]},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","hour":8}]},"simple":false,"maxResults":20,"filters":{"q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment","readStatus":"unread"},"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"id":"3d3090c5-ac88-4930-b62f-bc8a031605de","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,96],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"parameters":{"jsCode":"\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst monthTabName = now.toLocaleString('en-US', { month: 'long', year: 'numeric' });\nconst dateProcessed = now.toISOString().split('T')[0];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromName = item.json.from?.value?.[0]?.name || from;\n  const emailDate = item.json.date ? new Date(item.json.date).toISOString().split('T')[0] : dateProcessed;\n\n  const emailMatch = from.match(/@([^.]+)/);\n  const senderKey = emailMatch ? emailMatch[1] : fromName.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n  const senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipt';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoice';\n  }\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType,\n          senderFolder,\n          year,\n          monthTabName,\n          dateProcessed,\n          emailDate,\n          subject,\n          from,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf'\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n      "},"id":"569a9a58-334c-4dfe-8c86-ed0082cd4790","name":"Extract Email Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.year }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.receiptsFolderId }}","mode":"id"},"whatToSearch":"folders"},"options":{}},"id":"9c0a1be4-d80d-4eb9-bb89-7449304d97d3","name":"Search Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '') === meta.json.year);\nreturn [{ json: { ...meta.json, yearFolderId: match ? match.json.id : '', yearExists: !!match }, binary: meta.binary || {} }];\n      "},"id":"6130fd01-dc85-4910-9f56-f661a5530fa4","name":"Resolve Year Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.yearExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"0f592125-f991-45a7-816d-0a6029be434e","name":"Year Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,96]},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.senderFolder }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.yearFolderId }}"},"whatToSearch":"folders"},"options":{}},"id":"16239a27-edd6-47e4-a463-d7fb057e73c0","name":"Search Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $json.year }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.receiptsFolderId }}"},"options":{}},"id":"cdda199d-17f1-4d6b-a81f-35def1022785","name":"Create Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1792,176],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"y1","name":"yearFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"f44af02d-50c2-42b7-89b7-35f7a1320433","name":"Set Year Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,176]},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst senderFolder = (meta.json.senderFolder || '').toLowerCase();\n\nconst exactMatch = items.find(i => (i.json.name || '').toLowerCase() === senderFolder);\nconst partialMatch = !exactMatch\n  ? items.find(i => {\n      const name = (i.json.name || '').toLowerCase();\n      return name.includes(senderFolder) || senderFolder.includes(name);\n    })\n  : null;\n\nconst match = exactMatch || partialMatch;\nconst vendorFolderId = match ? match.json.id : '';\n\nreturn [{ json: { ...meta.json, vendorFolderId, vendorFolderExists: !!vendorFolderId, matchedFolderName: match ? match.json.name : '' }, binary: meta.binary || {} }];\n      "},"id":"4c857994-1dd1-4114-bcaa-a92dc3e64144","name":"Resolve Vendor Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.vendorFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"242d1ccb-a8e6-4aa4-aa0f-a48f3ad566a0","name":"Vendor Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2688,96]},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.vendorFolderId }}"},"options":{}},"id":"34fcd813-4c1c-4714-81c3-f90ad110bbf4","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.yearFolderId }}"},"options":{}},"id":"fffa5d69-a654-4e7a-99c5-618e79b8df0f","name":"Create Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2912,176],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"v1","name":"vendorFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"50c92469-176e-4031-9bce-538870dd049f","name":"Set New Vendor Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3136,176]},{"parameters":{"resource":"fileFolder","queryString":"Invoice and Receipt Log","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.spreadsheet"]},"options":{}},"id":"ade503c6-ae4d-45dc-b0f7-c7d3067f3d5d","name":"Search Log Spreadsheet","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3584,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'invoice and receipt log');\nreturn [{ json: { ...meta.json, logSpreadsheetId: match ? match.json.id : '', logSpreadsheetExists: !!match }, binary: meta.binary || {} }];\n      "},"id":"49d1c663-1c52-422d-b14c-f1a11d8c3154","name":"Resolve Log Spreadsheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.logSpreadsheetExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"57f718f8-02de-4f10-80aa-57760db34d90","name":"Log Spreadsheet Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4032,96]},{"parameters":{"operation":"create","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"title":"={{ $json.monthTabName }}","options":{}},"id":"5504f53f-f45b-4abb-91cb-e50a1b4b3149","name":"Ensure Month Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4480,0],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"spreadsheet","title":"Invoice and Receipt Log","sheetsUi":{"sheetValues":[{"title":"={{ $json.monthTabName }}"}]},"options":{}},"id":"efc90d4e-f9df-4724-87d8-2aceb6b31020","name":"Create Log Spreadsheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4256,192],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"l1","name":"logSpreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"5b466acc-3d79-41c9-98c7-5fe22662ea7a","name":"Set Log Spreadsheet ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4480,192]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"columns":{"mappingMode":"defineBelow","value":{"Date Processed":"={{ $json.dateProcessed }}","Document Type":"={{ $json.docType }}","Vendor":"={{ $json.senderFolder }}","Subject":"={{ $json.subject }}","From":"={{ $json.from }}","File Name":"={{ $json.fileName }}","Email Date":"={{ $json.emailDate }}","Drive Link":"={{ $(\"Upload Attachment to Drive\").item.json.webViewLink }}"},"schema":[{"id":"Date Processed","displayName":"Date Processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Document Type","displayName":"Document Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Email Date","displayName":"Email Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"36c3b97b-7a06-4079-93bf-06f9fb229c75","name":"Append Log Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4704,96],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"resource":"fileFolder","queryString":"Receipts","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.accountingFolderId }}"},"whatToSearch":"folders"},"options":{}},"id":"4be90d86-a3ff-4b50-8860-761467930001","name":"Search Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'receipts');\nreturn [{ json: { ...meta.json, receiptsFolderId: match ? match.json.id : '', receiptsExists: !!match }, binary: meta.binary || {} }];\n      "},"id":"f0b1e4c2-8a3f-401a-a855-a04186bced9e","name":"Resolve Receipts Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,96]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"accountingFolderId","value":"1ov1esrgadbn2qNDggi6IpHwkWNg-ad8X","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fb7f6ace-6eb6-441b-9d42-841f8818a32d","name":"Set Accounting Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,96],"executeOnce":true}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract Email Metadata","type":"main","index":0}]]},"Extract Email Metadata":{"main":[[{"node":"Set Accounting Folder ID","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Resolve Year Folder","type":"main","index":0}]]},"Resolve Year Folder":{"main":[[{"node":"Year Folder Exists?","type":"main","index":0}]]},"Year Folder Exists?":{"main":[[{"node":"Search Vendor Folder","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Search Vendor Folder":{"main":[[{"node":"Resolve Vendor Folder","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}]]},"Set Year Folder ID":{"main":[[{"node":"Search Vendor Folder","type":"main","index":0}]]},"Resolve Vendor Folder":{"main":[[{"node":"Vendor Folder Exists?","type":"main","index":0}]]},"Vendor Folder Exists?":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}],[{"node":"Create Vendor Folder","type":"main","index":0}]]},"Upload Attachment to Drive":{"main":[[{"node":"Search Log Spreadsheet","type":"main","index":0}]]},"Create Vendor Folder":{"main":[[{"node":"Set New Vendor Folder ID","type":"main","index":0}]]},"Set New Vendor Folder ID":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]},"Search Log Spreadsheet":{"main":[[{"node":"Resolve Log Spreadsheet","type":"main","index":0}]]},"Resolve Log Spreadsheet":{"main":[[{"node":"Log Spreadsheet Exists?","type":"main","index":0}]]},"Log Spreadsheet Exists?":{"main":[[{"node":"Ensure Month Tab","type":"main","index":0}],[{"node":"Create Log Spreadsheet","type":"main","index":0}]]},"Ensure Month Tab":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]},"Create Log Spreadsheet":{"main":[[{"node":"Set Log Spreadsheet ID","type":"main","index":0}]]},"Set Log Spreadsheet ID":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]},"Search Receipts Folder":{"main":[[{"node":"Resolve Receipts Folder","type":"main","index":0}]]},"Resolve Receipts Folder":{"main":[[{"node":"Search Year Folder","type":"main","index":0}]]},"Set Accounting Folder ID":{"main":[[{"node":"Search Receipts Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"fab1f046-145a-42af-b866-ace6f61a195a","activeVersionId":null,"versionCounter":35,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-15T15:37:12.664Z","createdAt":"2026-06-15T15:37:12.664Z","role":"workflow:owner","workflowId":"MXLbq1mwOOX9kmwG","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}