hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive V2/MXLbq1mwOOX9kmwG.json
{"updatedAt":"2026-06-20T19:27:27.131Z","createdAt":"2026-06-15T15:37:12.660Z","id":"MXLbq1mwOOX9kmwG","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive V2","description":"New simplified version: both invoices and receipts go to Accounting/Receipts/[CurrentYear]/VendorName/ in Google Drive. Adds a \"Invoice and Receipt Log\" Google Sheet with one tab per month logging every processed file.","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"Gmail Invoice & Receipt Auto-Organizer - Polls Gmail every Monday at 8am for invoices and receipts","height":200,"width":300,"color":3},"id":"10bca757-15a9-4e94-a853-c37050709c70","name":"Sticky Note 7aeb787c","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,-320]},{"parameters":{"content":"Folder Resolution: Accounting > Receipts > YYYY > VendorName","height":424,"width":300,"color":5},"id":"ac18d5e3-7ce2-4a33-8cb3-74350d4ab0fd","name":"Sticky Note 13eb2481","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-464]},{"parameters":{"content":"Log Spreadsheet: Invoice and Receipt Log in My Drive root","height":328,"width":300,"color":4},"id":"3195dcf7-51ee-404a-9205-4c836c3a3108","name":"Sticky Note 497c834e","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3552,-320]},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","hour":8}]},"simple":false,"maxResults":20,"filters":{"q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment","readStatus":"unread"},"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"id":"3d3090c5-ac88-4930-b62f-bc8a031605de","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,96],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"parameters":{"jsCode":"\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst monthTabName = now.toLocaleString('en-US', { month: 'long', year: 'numeric' });\nconst dateProcessed = now.toISOString().split('T')[0];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromText = item.json.from?.text || '';\n  const fromName = item.json.from?.value?.[0]?.name || '';\n  const emailDate = item.json.date ? new Date(item.json.date).toISOString().split('T')[0] : dateProcessed;\n\n  let senderFolder = 'Unknown';\n  if (fromText.toLowerCase().includes('heyreach') || fromName.toLowerCase().includes('heyreach') || subject.toLowerCase().includes('heyreach')) {\n    senderFolder = 'Heyreach';\n  } else if (fromName && fromName !== from) {\n    senderFolder = fromName.replace(/[^a-zA-Z0-9 ]/g, '').trim().substring(0, 30);\n  } else {\n    const emailMatch = from.match(/@([^.]+)/);\n    const senderKey = emailMatch ? emailMatch[1] : from.split('@')[0];\n    senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n  }\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipt';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoice';\n  }\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType,\n          senderFolder,\n          year,\n          monthTabName,\n          dateProcessed,\n          emailDate,\n          subject,\n          from,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf'\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n      "},"id":"569a9a58-334c-4dfe-8c86-ed0082cd4790","name":"Extract Email Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96]},{"parameters":{"resource":"fileFolder","queryString":"={{ $(\"Extract Email Metadata\").item.json.year }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"id":"9c0a1be4-d80d-4eb9-bb89-7449304d97d3","name":"Search Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,96],"alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Extract Email Metadata\").first();\nconst expectedYear = meta.json.year;\nconst match = items.find(i => (i.json.name || \"\") === expectedYear);\nreturn [{ json: { ...meta.json, year: meta.json.year, yearFolderId: match ? match.json.id : \"\", yearExists: !!match }, binary: meta.binary || {} }];"},"id":"6130fd01-dc85-4910-9f56-f661a5530fa4","name":"Resolve Year Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.yearExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"29bb96ee-51f3-468b-94db-57b590583241"}],"combinator":"and"},"options":{}},"id":"0f592125-f991-45a7-816d-0a6029be434e","name":"Year Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,96],"executeOnce":true,"retryOnFail":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $(\"Extract Email Metadata\").item.json.senderFolder }}","limit":1,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.yearFolderId }}"},"whatToSearch":"folders"},"options":{"fields":["id","name"]}},"id":"16239a27-edd6-47e4-a463-d7fb057e73c0","name":"Search Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1792,96],"alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $(\"Extract Email Metadata\").item.json.year }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1yFf6yOaRqyseUTE5T7OzpyQq9oXRww6Y"},"options":{}},"id":"cdda199d-17f1-4d6b-a81f-35def1022785","name":"Create Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,176],"executeOnce":true,"retryOnFail":true,"alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst meta = $(\"Set Year Folder ID\").first();\nconst expectedVendor = meta.json.senderFolder;\nconst match = items.find(i => (i.json.name || \"\") === expectedVendor);\nreturn [{ json: { ...meta.json, vendorFolderId: match ? match.json.id : \"\", vendorFolderExists: !!match }, binary: meta.binary || {} }];"},"id":"4c857994-1dd1-4114-bcaa-a92dc3e64144","name":"Resolve Vendor Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.vendorFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true,"id":"dc9c7f82-f48e-4aee-8ca0-bd6c2e99854c"}],"combinator":"and"},"options":{}},"id":"242d1ccb-a8e6-4aa4-aa0f-a48f3ad566a0","name":"Vendor Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2240,96],"executeOnce":true},{"parameters":{"name":"={{ $(\"Extract Email Metadata\").item.json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.vendorFolderId }}"},"options":{}},"id":"34fcd813-4c1c-4714-81c3-f90ad110bbf4","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2912,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $(\"Extract Email Metadata\").item.json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $(\"Set Year Folder ID\").item.json.yearFolderId }}","mode":"id"},"options":{}},"id":"fffa5d69-a654-4e7a-99c5-618e79b8df0f","name":"Create Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,176],"executeOnce":false,"retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","queryString":"Invoice and Receipt Log","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.spreadsheet"]},"options":{}},"id":"ade503c6-ae4d-45dc-b0f7-c7d3067f3d5d","name":"Search Log Spreadsheet","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3136,96],"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const items = $input.all(); const meta = items[0]; const match = items.find(i => (i.json.name || \"\").toLowerCase() === \"invoice and receipt log\"); return [{ json: { ...meta.json, logSpreadsheetId: match ? match.json.id : \"\", logSpreadsheetExists: !!match }, binary: meta.binary || {} }];"},"id":"49d1c663-1c52-422d-b14c-f1a11d8c3154","name":"Resolve Log Spreadsheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.logSpreadsheetExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"},"options":{}},"id":"57f718f8-02de-4f10-80aa-57760db34d90","name":"Log Spreadsheet Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3584,96]},{"parameters":{"operation":"create","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"title":"={{ $json.monthTabName }}","options":{}},"id":"5504f53f-f45b-4abb-91cb-e50a1b4b3149","name":"Ensure Month Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4032,0],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"spreadsheet","title":"Invoice and Receipt Log","sheetsUi":{"sheetValues":[{"title":"={{ $json.monthTabName }}"}]},"options":{}},"id":"efc90d4e-f9df-4724-87d8-2aceb6b31020","name":"Create Log Spreadsheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3808,192],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"l1","name":"logSpreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"5b466acc-3d79-41c9-98c7-5fe22662ea7a","name":"Set Log Spreadsheet ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4032,192]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"columns":{"mappingMode":"defineBelow","value":{"Invoice/Receipt Date":"={{ $json.emailDate }}","Date Processed":"={{ $json.dateProcessed }}","Document Type":"={{ $json.docType }}","Vendor":"={{ $json.senderFolder }}","Subject":"={{ $json.subject }}","From":"={{ $json.from }}","File Name":"={{ $json.fileName }}","Drive Link":"={{ $(\"Upload Attachment to Drive\").item.json.webViewLink }}"},"schema":[{"id":"Invoice/Receipt Date","displayName":"Invoice/Receipt Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Processed","displayName":"Date Processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Document Type","displayName":"Document Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"36c3b97b-7a06-4079-93bf-06f9fb229c75","name":"Append Log Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4704,96],"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"parameters":{"resource":"fileFolder","queryString":"Receipts","limit":1,"filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1ov1esrgadbn2qNDggi6IpHwkWNg-ad8X"},"whatToSearch":"folders"},"options":{}},"id":"5617c240-6b6e-4cb8-9a5b-24170af100c4","name":"Get Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,96],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json;\nif (meta.yearExists) {\n  return { json: { ...meta }, binary: $input.item.binary || {} };\n} else {\n  const createdFolder = $(\"Create Year Folder\").item.json;\n  return { json: { ...meta, yearFolderId: createdFolder.id }, binary: $input.item.binary || {} };\n}"},"id":"c00a2836-d01a-4f16-a3f5-9f0018db679b","name":"Set Year Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,96],"executeOnce":true,"retryOnFail":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const meta = $input.item.json; if (meta.vendorFolderExists) { return { json: { ...meta }, binary: $input.item.binary || {} }; } else { const createdFolder = $(\"Create Vendor Folder\").item.json; return { json: { ...meta, vendorFolderId: createdFolder.id }, binary: $input.item.binary || {} }; }"},"id":"8a5c0b26-5873-4168-8ee9-48c65fe2ccdd","name":"Set Vendor Folder ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,96],"executeOnce":true},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"filtersUI":{"values":[{"lookupColumn":"File Name","lookupValue":"={{ $json.fileName }}"}]},"options":{"returnFirstMatch":true}},"id":"048b7b6b-a274-4b4f-b646-4163747ee068","name":"Check Existing Entry","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4256,96],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const checkResult = $input.all();\nconst meta = $(\"Set Vendor Folder ID\").first();\nconst isDuplicate = checkResult.length > 0 && checkResult[0].json[\"File Name\"];\nif (isDuplicate) {\n  return [];\n} else {\n  return [{ json: { ...meta.json }, binary: meta.binary || {} }];\n}"},"id":"0288edb8-2d73-4f5b-80d5-0fa80b7cf736","name":"Is Duplicate?","type":"n8n-nodes-base.code","typeVersion":2,"position":[4480,96]}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract Email Metadata","type":"main","index":0}]]},"Extract Email Metadata":{"main":[[{"node":"Get Receipts Folder","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Resolve Year Folder","type":"main","index":0}]]},"Resolve Year Folder":{"main":[[{"node":"Year Folder Exists?","type":"main","index":0}]]},"Year Folder Exists?":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Search Vendor Folder":{"main":[[{"node":"Resolve Vendor Folder","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}]]},"Resolve Vendor Folder":{"main":[[{"node":"Vendor Folder Exists?","type":"main","index":0}]]},"Vendor Folder Exists?":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0}],[{"node":"Create Vendor Folder","type":"main","index":0}]]},"Upload Attachment to Drive":{"main":[[{"node":"Search Log Spreadsheet","type":"main","index":0}]]},"Create Vendor Folder":{"main":[[{"node":"Set Vendor Folder ID","type":"main","index":0}]]},"Search Log Spreadsheet":{"main":[[{"node":"Resolve Log Spreadsheet","type":"main","index":0}]]},"Resolve Log Spreadsheet":{"main":[[{"node":"Log Spreadsheet Exists?","type":"main","index":0}]]},"Log Spreadsheet Exists?":{"main":[[{"node":"Ensure Month Tab","type":"main","index":0}],[{"node":"Create Log Spreadsheet","type":"main","index":0}]]},"Ensure Month Tab":{"main":[[{"node":"Check Existing Entry","type":"main","index":0}]]},"Create Log Spreadsheet":{"main":[[{"node":"Set Log Spreadsheet ID","type":"main","index":0}]]},"Set Log Spreadsheet ID":{"main":[[{"node":"Check Existing Entry","type":"main","index":0}]]},"Get Receipts Folder":{"main":[[{"node":"Search Year Folder","type":"main","index":0}]]},"Set Year Folder ID":{"main":[[{"node":"Search Vendor Folder","type":"main","index":0}]]},"Set Vendor Folder ID":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]},"Check Existing Entry":{"main":[[{"node":"Is Duplicate?","type":"main","index":0}]]},"Is Duplicate?":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"1ae2b812-34a4-4ac3-9a44-9f8cc2d23bd3","activeVersionId":null,"versionCounter":106,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-15T15:37:12.664Z","createdAt":"2026-06-15T15:37:12.664Z","role":"workflow:owner","workflowId":"MXLbq1mwOOX9kmwG","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}