hbf_online/2026/01/Clean Eatz Macro PDF Download, Archive, and Email Distribution/yYiXyMCxB8864iT7VyNAH.json
{"updatedAt":"2026-01-26T18:00:49.000Z","createdAt":"2026-01-25T17:41:25.183Z","id":"yYiXyMCxB8864iT7VyNAH","name":"Clean Eatz Macro PDF Download, Archive, and Email Distribution","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":9}]}},"id":"57fe8492-0795-4060-9f91-1d37217c691a","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1712,256]},{"parameters":{"assignments":{"assignments":[{"id":"id-2","name":"parentFolderId","value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","type":"string"},{"id":"id-3","name":"fromEmail","value":"zac16530@gmail.com","type":"string"},{"id":"id-4","name":"cleanEatzPageUrl","value":"https://cleaneatz.com/healthy-meal-plans","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"caa76b8a-c017-44e0-8c61-09625ae0b13f","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,256]},{"parameters":{"url":"={{ $json.thisWeekUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"29fae273-b3c3-43c4-b1d2-8e36a15c7718","name":"Download Clean Eatz PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-816,256]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"},{"id":"id-2","name":"month","value":"={{ $now.format('MM') }}","type":"string"},{"id":"id-3","name":"week","value":"={{ $now.format('WW') }}","type":"string"},{"id":"id-4","name":"fileName","value":"=Clean_Eatz_Macros_{{ $now.format('yyyy') }}_Week{{ $now.format('WW') }}.pdf","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"267ae4c0-9ca5-42cf-8d26-504b8c4d18bb","name":"Prepare Folder Path","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,256]},{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.parents }}"},"options":{"ocrLanguage":"en"}},"id":"d2d250f4-2b2d-4fc4-999e-bc734f9c1b9e","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,240],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.cleanEatzPageUrl }}","options":{}},"id":"e94bcc48-bd68-4218-81c6-d357a13a18c2","name":"Fetch Clean Eatz Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1264,256]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"thisWeekUrl","cssSelector":"a:contains('This Week'), a:contains('this week')","returnValue":"attribute","attribute":"href"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"0a2bbbde-d96b-4bbe-8e4b-ca7454035af0","name":"Extract This Week Button URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1040,256]},{"parameters":{"sendTo":"astiner21@gmail.com, zac16530@gmail.com, clifton-home@hpeprint.com","subject":"=Clean Eatz Macro List - Week {{ $('Prepare Folder Path').first().json.week }}, {{ $('Prepare Folder Path').first().json.year }}","message":"=Here is the Clean Eatz macro list for Week {{ $('Prepare Folder Path').first().json.week }} of {{ $('Prepare Folder Path').first().json.year }}. The PDF has been uploaded to Google Drive and is attached to this email.","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[848,240],"id":"b7eb70db-8761-4457-9ba0-be850298a2f6","name":"Send a message","webhookId":"41f595a4-fa2b-4bd6-af41-fef77e3eede3","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"resource":"folder","name":"={{ $('Prepare Folder Path').item.json.year }}/{{ $('Prepare Folder Path').item.json.month }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,336],"id":"16fc69af-47aa-49c7-8db5-2ed1dc0cf5ae","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,240],"id":"ef329157-c323-49a4-a888-4a3a844d44bc","name":"Merge"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.year }}/{{ $json.month }}","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"list","cachedResultName":"clean-eatz-macros","cachedResultUrl":"https://drive.google.com/drive/folders/1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9"},"whatToSearch":"folders","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-368,368],"id":"a9f4915a-9d48-4240-aa61-2e4e0eafc4a8","name":"Search files and folders","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"981baa5b-da44-4f82-9c48-ef656678df4b","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,496],"id":"69cce6ff-b4f7-48e2-9f41-583c8353fb02","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"3794d149-1c58-442c-8c90-31782740d1a9","name":"parents","value":"={{ $('Create folder').first().json.id || $('Search files and folders').item.json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,240],"id":"be3b9a84-3df0-4cc6-9365-ea5910e770c0","name":"Edit Fields"}],"connections":{"Weekly Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Clean Eatz Page","type":"main","index":0}]]},"Download Clean Eatz PDF":{"main":[[{"node":"Prepare Folder Path","type":"main","index":0}]]},"Prepare Folder Path":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Fetch Clean Eatz Page":{"main":[[{"node":"Extract This Week Button URL","type":"main","index":0}]]},"Extract This Week Button URL":{"main":[[{"node":"Download Clean Eatz PDF","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f545cca7-a7be-4263-9809-74201262f73f","activeVersionId":null,"versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-01-25T17:41:25.187Z","createdAt":"2026-01-25T17:41:25.187Z","role":"workflow:owner","workflowId":"yYiXyMCxB8864iT7VyNAH","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-16T05:33:07.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-16","isPending":false}}]}}],"tags":[],"activeVersion":null}