clifton_home/2026/01/Back Up n8n Workflows To Github/MsLT810d05Z0WgATw251C.json
{"updatedAt":"2026-01-20T02:39:04.821Z","createdAt":"2026-01-20T01:21:44.586Z","id":"MsLT810d05Z0WgATw251C","name":"Back Up n8n Workflows To Github","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"137e940e-419c-4bf2-9293-cd9f9e154771","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":732,"width":2407,"color":6},"id":"0a0da29d-763b-4faa-a8f9-9ed06db9ac2b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-192,464],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"c3100313-504c-434a-8599-04d6a4f9063a","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,192],"typeVersion":1,"credentials":{"n8nApi":{"id":"6BR7mT0srBCFBON9","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"87a7e8d3-9c6e-48f6-8a3b-2651d60c0b1a","name":"Return","type":"n8n-nodes-base.set","position":[2000,672],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"52713b49-11e0-450a-975c-9065065949b7","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[688,544],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"6e0d8c70-d072-47ab-aceb-7c4bd68289f7","name":"If file too large","type":"n8n-nodes-base.if","position":[448,560],"typeVersion":2},{"parameters":{},"id":"de7b2714-2394-4dcf-85f8-90d9e491abf8","name":"Merge Items","type":"n8n-nodes-base.merge","position":[496,816],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"581a8cbb-0498-4532-a06e-3acc8db82e59","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[736,816],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"42228431-d665-4951-a63f-b22e42b76833","name":"Check Status","type":"n8n-nodes-base.switch","position":[992,784],"typeVersion":1},{"parameters":{},"id":"7c7f193b-f54e-4678-b438-bbb37634bcc5","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1232,672],"typeVersion":1},{"parameters":{},"id":"27b7c94b-04a8-4ce2-b777-69757351da65","name":"File is different","type":"n8n-nodes-base.noOp","position":[1232,832],"typeVersion":1},{"parameters":{},"id":"001d8731-4d5e-4261-9f00-bdc5e1f4eabb","name":"File is new","type":"n8n-nodes-base.noOp","position":[1232,992],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Create {{$('When Executed by Another Workflow').first().json.name}}"},"id":"fcb667c5-678c-4ba6-8b41-9ac71e9cb814","name":"Create new file","type":"n8n-nodes-base.github","position":[1712,1024],"typeVersion":1,"webhookId":"3070bd40-31e7-47e2-98f5-d0ac1f560545","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Update {{$('When Executed by Another Workflow').first().json.name}} due to drift"},"id":"9034b9f2-7c94-4409-92cf-6900c532c376","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1712,832],"typeVersion":1,"webhookId":"86abd804-f3db-4719-b079-9742c2553962","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"b5fe13ac-845f-49d5-a6f1-28b05d0f7f3c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1088,192],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":33}]}},"id":"6d67fd90-d65d-403b-a2bb-72cdd3007a83","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,288],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"5c3b80ad-e247-439a-9f3e-eb91028c788f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416,"width":1753,"color":7},"id":"e46bd63b-9d63-4e05-b99c-d770a544b479","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.createdAt.split('-')[0] }}/{{ $('Config').item.json.createdAt.split('-')[1] }}/{{$json.name}}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b4f4ef03-3f93-4eab-ab02-d58ebc1c080e","name":"Get file data","type":"n8n-nodes-base.github","position":[240,560],"typeVersion":1,"alwaysOutputData":true,"webhookId":"3d31dc34-3dbc-4967-87cd-781ce2b1eb43","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"id\": \"{{ $json.id }}\",\n\"name\": \"{{ $json.name }}\",\n\"createdAt\": \"{{ $json.createdAt }}\",\n\"repo_owner\": \"cliftonz\",\n\"repo_name\": \"backups\",\n\"repo_path\": \"clifton_home\",\n\"subpath\": \"{{ $json.createdAt.split('-')[0] }}/{{ $json.createdAt.split('-')[1] }}/{{ $json.name }}\"\n}\n","includeOtherFields":true,"options":{}},"id":"3ad72edc-e8aa-478a-a96a-67d67c362cf5","name":"Config","type":"n8n-nodes-base.set","position":[48,720],"typeVersion":3.4},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"string\",\n  \"name\": \"string\",\n  \"createdAt\": \"string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,720],"id":"efa73cb8-3f76-426d-957d-094bf6d88ccc","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,32],"id":"192334f4-f498-4a72-82c2-47f98c4e25a0","name":"Completed"},{"parameters":{"workflowId":{"__rl":true,"value":"MsLT810d05Z0WgATw251C","mode":"list","cachedResultUrl":"/workflow/MsLT810d05Z0WgATw251C","cachedResultName":"Back Up n8n Workflows To Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","createdAt":"={{ $json.createdAt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1376,224],"id":"d0e535e2-d537-4aa9-b032-9566b48ce732","name":"Execute Workflow1","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Config').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,896],"id":"f2101d87-b198-4085-a46a-1cd6df9fd405","name":"Get a workflow","credentials":{"n8nApi":{"id":"6BR7mT0srBCFBON9","name":"n8n account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1536,832],"id":"ad0ca9e0-b56b-4573-a2a4-590ca57649b7","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1536,1024],"id":"cffeb1e3-00fa-42d2-9b86-37010c8c73f3","name":"Merge1"},{"parameters":{"jsCode":"const bin_val = Buffer.from(JSON.stringify($input.first().json)).toString('base64')\n\nreturn [\n  {\n  \"data\": bin_val\n   }\n  ]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1056],"id":"5a3aeea8-e62d-4d6d-b2dc-2576bf24fa89","name":"Convert to binary"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Get a workflow","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to binary","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Convert to binary":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create new file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":10,"errorWorkflow":"lumsfsJn-11VSs7gepTrz"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"7iIS2TZDqvY571N6","name":"Gmail AI Labels","createdAt":"2025-12-21T17:18:49.055Z"}}]},"versionId":"9b4705e9-b1e3-434c-af8e-f8d4f723e28d","activeVersionId":"9b4705e9-b1e3-434c-af8e-f8d4f723e28d","versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2026-01-20T01:21:44.586Z","createdAt":"2026-01-20T01:21:44.586Z","role":"workflow:owner","workflowId":"MsLT810d05Z0WgATw251C","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-02-08T08:33:31.314Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770390580432}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-08","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-20T01:31:49.693Z","createdAt":"2026-01-20T01:31:42.516Z","versionId":"9b4705e9-b1e3-434c-af8e-f8d4f723e28d","workflowId":"MsLT810d05Z0WgATw251C","nodes":[{"parameters":{},"id":"137e940e-419c-4bf2-9293-cd9f9e154771","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":732,"width":2407,"color":6},"id":"0a0da29d-763b-4faa-a8f9-9ed06db9ac2b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-192,464],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"c3100313-504c-434a-8599-04d6a4f9063a","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,192],"typeVersion":1,"credentials":{"n8nApi":{"id":"6BR7mT0srBCFBON9","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"87a7e8d3-9c6e-48f6-8a3b-2651d60c0b1a","name":"Return","type":"n8n-nodes-base.set","position":[2000,672],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"52713b49-11e0-450a-975c-9065065949b7","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[688,544],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"6e0d8c70-d072-47ab-aceb-7c4bd68289f7","name":"If file too large","type":"n8n-nodes-base.if","position":[448,560],"typeVersion":2},{"parameters":{},"id":"de7b2714-2394-4dcf-85f8-90d9e491abf8","name":"Merge Items","type":"n8n-nodes-base.merge","position":[496,816],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"581a8cbb-0498-4532-a06e-3acc8db82e59","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[736,816],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"42228431-d665-4951-a63f-b22e42b76833","name":"Check Status","type":"n8n-nodes-base.switch","position":[992,784],"typeVersion":1},{"parameters":{},"id":"7c7f193b-f54e-4678-b438-bbb37634bcc5","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1232,672],"typeVersion":1},{"parameters":{},"id":"27b7c94b-04a8-4ce2-b777-69757351da65","name":"File is different","type":"n8n-nodes-base.noOp","position":[1232,832],"typeVersion":1},{"parameters":{},"id":"001d8731-4d5e-4261-9f00-bdc5e1f4eabb","name":"File is new","type":"n8n-nodes-base.noOp","position":[1232,992],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Create {{$('When Executed by Another Workflow').first().json.name}}"},"id":"fcb667c5-678c-4ba6-8b41-9ac71e9cb814","name":"Create new file","type":"n8n-nodes-base.github","position":[1712,1024],"typeVersion":1,"webhookId":"3070bd40-31e7-47e2-98f5-d0ac1f560545","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Update {{$('When Executed by Another Workflow').first().json.name}} due to drift"},"id":"9034b9f2-7c94-4409-92cf-6900c532c376","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1712,832],"typeVersion":1,"webhookId":"86abd804-f3db-4719-b079-9742c2553962","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"b5fe13ac-845f-49d5-a6f1-28b05d0f7f3c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1088,192],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":33}]}},"id":"6d67fd90-d65d-403b-a2bb-72cdd3007a83","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,288],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"5c3b80ad-e247-439a-9f3e-eb91028c788f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416,"width":1753,"color":7},"id":"e46bd63b-9d63-4e05-b99c-d770a544b479","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.createdAt.split('-')[0] }}/{{ $('Config').item.json.createdAt.split('-')[1] }}/{{$json.name}}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b4f4ef03-3f93-4eab-ab02-d58ebc1c080e","name":"Get file data","type":"n8n-nodes-base.github","position":[240,560],"typeVersion":1,"alwaysOutputData":true,"webhookId":"3d31dc34-3dbc-4967-87cd-781ce2b1eb43","credentials":{"githubApi":{"id":"EgNNIV2n8hE5z8RC","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"id\": \"{{ $json.id }}\",\n\"name\": \"{{ $json.name }}\",\n\"createdAt\": \"{{ $json.createdAt }}\",\n\"repo_owner\": \"cliftonz\",\n\"repo_name\": \"backups\",\n\"repo_path\": \"clifton_home\",\n\"subpath\": \"{{ $json.createdAt.split('-')[0] }}/{{ $json.createdAt.split('-')[1] }}/{{ $json.name }}\"\n}\n","includeOtherFields":true,"options":{}},"id":"3ad72edc-e8aa-478a-a96a-67d67c362cf5","name":"Config","type":"n8n-nodes-base.set","position":[48,720],"typeVersion":3.4},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"string\",\n  \"name\": \"string\",\n  \"createdAt\": \"string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,720],"id":"efa73cb8-3f76-426d-957d-094bf6d88ccc","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,32],"id":"192334f4-f498-4a72-82c2-47f98c4e25a0","name":"Completed"},{"parameters":{"workflowId":{"__rl":true,"value":"MsLT810d05Z0WgATw251C","mode":"list","cachedResultUrl":"/workflow/MsLT810d05Z0WgATw251C","cachedResultName":"Back Up n8n Workflows To Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","createdAt":"={{ $json.createdAt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1376,224],"id":"d0e535e2-d537-4aa9-b032-9566b48ce732","name":"Execute Workflow1","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Config').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[240,896],"id":"f2101d87-b198-4085-a46a-1cd6df9fd405","name":"Get a workflow","credentials":{"n8nApi":{"id":"6BR7mT0srBCFBON9","name":"n8n account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1536,832],"id":"ad0ca9e0-b56b-4573-a2a4-590ca57649b7","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1536,1024],"id":"cffeb1e3-00fa-42d2-9b86-37010c8c73f3","name":"Merge1"},{"parameters":{"jsCode":"const bin_val = Buffer.from(JSON.stringify($input.first().json)).toString('base64')\n\nreturn [\n  {\n  \"data\": bin_val\n   }\n  ]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1056],"id":"5a3aeea8-e62d-4d6d-b2dc-2576bf24fa89","name":"Convert to binary"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Get a workflow","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to binary","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Convert to binary":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create new file","type":"main","index":0}]]}},"authors":"Zac Clifton","name":"Version 9b4705e9","description":"add error workflow","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-20T01:31:49.682Z","id":6,"workflowId":"MsLT810d05Z0WgATw251C","versionId":"9b4705e9-b1e3-434c-af8e-f8d4f723e28d","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"},{"createdAt":"2026-01-20T02:39:04.966Z","id":7,"workflowId":"MsLT810d05Z0WgATw251C","versionId":"9b4705e9-b1e3-434c-af8e-f8d4f723e28d","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}]}}