hbf_online/2025/12/Monthly Newsletter Compilation and Draft Generation/adyw68pMQSh7USAS.json
{"updatedAt":"2026-01-01T13:07:03.526Z","createdAt":"2025-12-15T15:10:42.416Z","id":"adyw68pMQSh7USAS","name":"Monthly Newsletter Compilation and Draft Generation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"vectorStoreTable","value":"<__PLACEHOLDER_VALUE__Vector store table name__>","type":"string"},{"id":"id-2","name":"snippetsTable","value":"<__PLACEHOLDER_VALUE__Newsletter snippets table name__>","type":"string"},{"id":"id-3","name":"newslettersTable","value":"<__PLACEHOLDER_VALUE__Newsletters tracking table name__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"1e05c58e-c4db-42db-87c8-ae3fe6d0fb2e","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json.snippetsTable }} WHERE used_in_newsletter = false ORDER BY created_at DESC LIMIT 2","options":{}},"id":"7cedb359-1d3a-4f54-93a3-d17a406418db","name":"Get Newsletter Snippets","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,0]},{"parameters":{},"id":"57be5492-e081-42b3-8d97-e310c0fcaeb1","name":"Embeddings Cohere","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[1552,432]},{"parameters":{"promptType":"define","text":"=Create a newsletter for {{ $('Calculate Next Month').first().json.nextMonth }} from these snippets: {{ JSON.stringify($json) }}","hasOutputParser":true,"options":{"systemMessage":"You are a professional newsletter writer tasked with creating engaging monthly newsletters.\n\nYour task is to:\n1. Review all the newsletter snippets provided from the past month\n2. Use the Quality Newsletter Vector Store tool to find examples of well-written newsletters for inspiration on structure, tone, and formatting\n3. Organize the snippets into logical sections with compelling headlines\n4. Write smooth transitions between sections\n5. Create an engaging introduction and conclusion\n6. Ensure the newsletter has a consistent, professional tone\n7. Format the output as HTML suitable for email\n\nReturn the complete newsletter in the structured format with subject line and HTML body."}},"id":"d99bfc5e-37e9-46a1-bfc6-9819e4bb08d2","name":"Newsletter Generator Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1488,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"id":"47bf96d0-54e7-47a6-b2b4-11a5aa6b9669","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1152,224],"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"subject\": \"Monthly Newsletter - January 2024\",\n\t\"htmlBody\": \"<html><body><h1>Newsletter Title</h1><p>Newsletter content goes here...</p></body></html>\"\n}"},"id":"b675e15e-3d74-40da-9011-34c0f381b9a7","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1872,240]},{"parameters":{"resource":"draft","subject":"={{ $json.subject }}","emailType":"html","message":"={{ $json.htmlBody }}","options":{}},"id":"f630eeb0-b734-44a0-b5d1-1b0948cf7d5a","name":"Create Gmail Draft","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2416,0],"webhookId":"1d1e72d1-86c5-4caf-be9f-dd8999626d8f","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search through a database of quality newsletter examples to find relevant writing styles, structures, and best practices","tableName":"={{ $('Workflow Configuration').first().json.vectorStoreTable }}","topK":5,"options":{}},"id":"1c4a33a1-e08e-482b-b42f-6c6ce2f88f39","name":"Quality Newsletter Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1568,240]},{"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(MAX(newsletter_month), '1900-01-01'::date) as latest_month FROM {{ $('Workflow Configuration').first().json.newslettersTable }}","options":{}},"id":"718b96bd-806c-4815-a4e6-3c759cc82127","name":"Get Latest Newsletter Month","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0]},{"parameters":{"jsCode":"const latestMonth = $input.first().json.latest_month;\nconst nextMonth = new Date(latestMonth);\nnextMonth.setMonth(nextMonth.getMonth() + 1);\n\nconst config = $('Workflow Configuration').first().json;\n\nreturn [{\n  json: {\n    nextMonth: nextMonth.toISOString().split('T')[0],\n    nextMonthYear: nextMonth.getFullYear(),\n    nextMonthNum: nextMonth.getMonth() + 1,\n    ...config\n  }\n}];"},"id":"549fdd6b-2c3d-45cb-8b2d-8c343b599462","name":"Calculate Next Month","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $input.all().length }}","rightValue":"2","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"e6ba587a-72c1-46b2-9fff-8a6d21a3cf91","name":"Check Snippet Count","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"snippetIds","value":"={{ $('Check Snippet Count').all().map(item => item.json.id) }}","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"1602c224-839a-4c2a-89f1-09b21f34f2ab","name":"Mark Snippets as Used","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,0]},{"parameters":{"operation":"executeQuery","query":"=UPDATE {{ $('Calculate Next Month').first().json.snippetsTable }} SET used_in_newsletter = true WHERE id = ANY(ARRAY[{{ $json.snippetIds.join(',') }}]::int[]); INSERT INTO {{ $('Calculate Next Month').first().json.newslettersTable }} (newsletter_month, created_at) VALUES ('{{ $('Calculate Next Month').first().json.nextMonth }}', NOW())","options":{}},"id":"4acf171e-b15b-47f0-b0cb-413c6e0e8de6","name":"Update Snippet Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2192,0]},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"57c2b1eb-54b0-4ec4-88dc-0659ff87fea4","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1376,416],"id":"e2262465-a6e6-4962-92d7-a760c45a0b33","name":"Postgres Chat Memory"}],"connections":{"Embeddings Cohere":{"ai_embedding":[[{"node":"Quality Newsletter Vector Store","type":"ai_embedding","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Newsletter Generator Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Newsletter Generator Agent","type":"ai_outputParser","index":0}]]},"Quality Newsletter Vector Store":{"ai_tool":[[{"node":"Newsletter Generator Agent","type":"ai_tool","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Latest Newsletter Month","type":"main","index":0}]]},"Get Latest Newsletter Month":{"main":[[{"node":"Calculate Next Month","type":"main","index":0}]]},"Calculate Next Month":{"main":[[{"node":"Get Newsletter Snippets","type":"main","index":0}]]},"Get Newsletter Snippets":{"main":[[{"node":"Check Snippet Count","type":"main","index":0}]]},"Check Snippet Count":{"main":[[{"node":"Newsletter Generator Agent","type":"main","index":0}]]},"Newsletter Generator Agent":{"main":[[{"node":"Mark Snippets as Used","type":"main","index":0}]]},"Mark Snippets as Used":{"main":[[{"node":"Update Snippet Status","type":"main","index":0}]]},"Update Snippet Status":{"main":[[{"node":"Create Gmail Draft","type":"main","index":0}]]},"Weekly Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Newsletter Generator Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19cc7849-6b8d-4654-bbcf-8477797c8338","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T15:10:42.420Z","createdAt":"2025-12-15T15:10:42.420Z","role":"workflow:owner","workflowId":"adyw68pMQSh7USAS","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-07T14:56:11.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1767220479000}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-07","isPending":false}}]}}],"tags":[],"activeVersion":null}