hbf_online/2025/12/Automated New Analysis/PG4v9fzRWGT2zgia.json
{"updatedAt":"2025-12-21T20:14:53.525Z","createdAt":"2025-12-21T17:53:38.965Z","id":"PG4v9fzRWGT2zgia","name":"Automated New Analysis","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":20000}},"id":"08b9a10c-4506-4ad0-8896-93c85b87a646","name":"Anthropic Chat Model6","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[752,976],"typeVersion":1.3},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"id":"942f84d0-5988-48e9-b4ef-2553b80c4591","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1824,944],"typeVersion":1.2},{"parameters":{"content":"# Phase 1: Weekly Schedule Activation","height":320,"width":464},"id":"6c8e8ab3-1b23-4c09-b390-23b41b90f6de","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-2016,768],"typeVersion":1},{"parameters":{"content":"### What you do:\nConfigure the schedule trigger to set your preferred monitoring frequency (default: Mondays at 9 AM)\nDefine monitoring topics by adding search queries to the Google Sheets \"Query\" sheet\nEnsure Discord bot permissions are properly configured for the target channel\n\n### What the system does:\nTriggers workflow execution based on scheduled intervals (configurable via cron expression)\nInitiates comprehensive news monitoring cycle for all configured topics\nPrepares system for multi-topic news analysis and content generation\nCoordinates sequential processing of search queries and content delivery\n\n### Result:\n✅ Automated news monitoring without manual intervention\n✅ Customizable scheduling for optimal team communication timing\n✅ Scalable monitoring for multiple industry topics and keywords\n✅ Consistent intelligence gathering for competitive awareness","height":528,"width":464},"id":"eecfd295-4ecf-46af-a320-43cc808b76c8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2016,1136],"typeVersion":1},{"parameters":{"content":"# Phase 2: Search Query Management and Topic Processing","height":320,"width":464,"color":2},"id":"7318a2dd-1250-40c3-98e9-645b6e8e2c07","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1504,768],"typeVersion":1},{"parameters":{"content":"### What you do:\nMaintain and update search queries in the designated Google Sheets document\nAdd new monitoring topics, keywords, or industry-specific terms as needed\nReview and refine query effectiveness based on delivered content quality\n\n### What the system does:\nRetrieves monitoring topics from Google Sheets \"Query\" sheet\nProcesses each search query individually for comprehensive coverage\nInitiates sequential news searches to avoid API rate limiting\nPrepares topic-specific news collection for analysis and synthesis\n\n### Result:\n✅ Centralized management of monitoring topics and keywords\n✅ Easy addition and modification of search parameters\n✅ Systematic processing of all configured monitoring queries\n✅ Flexible topic management for evolving business needs\n","height":464,"width":464,"color":2},"id":"7018d415-c595-4234-a66c-94919465b616","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1504,1136],"typeVersion":1},{"parameters":{"content":"# Phase 3: Comprehensive News Discovery and Collection","height":320,"width":464,"color":3},"id":"4ded7d28-4a28-4731-aeb3-d0a2057b83aa","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-704,768],"typeVersion":1},{"parameters":{"content":"### What the system does:\nExecutes Google News searches for each configured query using SerpAPI\nRetrieves top news results with comprehensive metadata (titles, sources, dates, snippets)\nProcesses and ranks news articles by relevance and publication date\nExtracts the top 3 most relevant articles per topic for detailed analysis\nHandles API rate limiting and retry logic for reliable data collection\n\n**News Collection Features:**\n- Real-time Google News integration via SerpAPI\n- Automatic relevance scoring and article ranking\n- Comprehensive metadata extraction (source, date, snippet)\n- Multi-topic parallel processing capability\n\n### Result:\n✅ Comprehensive news coverage across all monitored topics\n✅ Top-quality article selection based on relevance and recency\n✅ Complete source attribution and publication timing\n✅ Reliable news discovery with error handling and retry mechanisms\n","height":512,"width":464,"color":3},"id":"0ece67fc-3f25-40fc-8fa6-a7c38035f103","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-704,1136],"typeVersion":1},{"parameters":{"content":"# Phase 4: Deep Content Analysis and Article Scraping","height":320,"width":752,"color":4},"id":"8ddc0304-b000-4219-b6c1-24276be116a8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-208,768],"typeVersion":1},{"parameters":{"content":"### What the system does:\nScrapes full content from the top 3 selected articles per topic using Firecrawl\nConverts article content to clean markdown format for AI processing\nImplements retry logic and error handling for reliable content extraction\nPreserves article structure, headings, and key formatting elements\nHandles various website formats and content management systems\n\n**Content Extraction Capabilities:**\n- Full-text article scraping with clean formatting\n- Multi-website compatibility and format handling\n- Automatic content structure preservation\n- Error handling for inaccessible or protected content\n\n### Result:\n✅ Complete article content captured for in-depth analysis\n✅ Clean, formatted content ready for AI processing\n✅ Comprehensive coverage of key industry developments\n✅ Reliable content extraction despite varied website formats","height":416,"width":752,"color":4},"id":"ffb1e672-da3c-4198-aca2-c3a1109ef8aa","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-208,1136],"typeVersion":1},{"parameters":{"content":"# Phase 5: AI-Powered Content Analysis and Synthesis","height":320,"width":752,"color":5},"id":"c3fd922d-86b9-4f2a-a4fc-888c4991abdf","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[592,768],"typeVersion":1},{"parameters":{"content":"### What the system does:\nProcesses scraped articles using Claude 4 Sonnet for intelligent analysis\nGenerates structured summaries following consistent formatting standards\nCreates topic-specific intelligence reports with key insights and implications\nMaintains professional tone and factual accuracy in all generated content\nFormats analysis results for optimal Discord presentation\n\n**AI Analysis Features:**\n- Advanced content comprehension and synthesis\n- Consistent formatting and structure across all topics\n- Key insight extraction and trend identification\n- Professional writing style suitable for business communication\n\n### Result:\n✅ High-quality intelligence reports generated automatically\n✅ Consistent professional formatting across all monitoring topics\n✅ Key insights and implications clearly highlighted\n✅ Actionable intelligence ready for team consumption","height":416,"width":752,"color":5},"id":"f79c649a-b7c5-4531-919f-ef6c8e4abfe2","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[592,1136],"typeVersion":1},{"parameters":{"content":"# Phase 6: Content Optimization for Discord Delivery","height":320,"width":752,"color":6},"id":"5c1a2b50-68ec-41b5-b4e7-b6f90d8a76b0","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1392,768],"typeVersion":1},{"parameters":{"content":"### What the system does:\nAggregates all topic analyses into comprehensive monitoring report\nImplements intelligent text segmentation to comply with Discord's 2000-character limit\nMaintains content coherence while splitting longer analyses into multiple messages\nPreserves formatting and readability across message segments\nOptimizes message flow for sequential delivery\n\n**Discord Optimization Features:**\n- Automatic message length compliance (under 2000 characters)\n- Intelligent text segmentation maintaining content flow\n- Formatting preservation across multiple messages\n- Sequential message preparation for smooth delivery\n\n### Result:\n✅ Content perfectly formatted for Discord platform constraints\n✅ Coherent message flow maintained across multiple segments\n✅ Professional presentation optimized for team communication\n✅ Automated compliance with platform messaging limitations\n","height":480,"width":752,"color":6},"id":"e2eaa7eb-67f1-4ffb-a3f6-f97bdfbd59ab","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1392,1152],"typeVersion":1},{"parameters":{"content":"# Phase 7: Automated Team Communication and Report Delivery","height":592,"width":928,"color":7},"id":"6cea2445-29c6-454f-8345-cd7ee5c34f35","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[2176,672],"typeVersion":1},{"parameters":{"content":"### What the system does:\nDelivers engaging introduction message to Discord channel with branded personality\nPosts segmented intelligence reports in proper sequence to maintain readability\nSends conclusion message to complete the monitoring cycle\nImplements message timing to ensure proper delivery order\nUses branded \"Claptrap\" persona for consistent team engagement\n\n**Discord Delivery Features:**\n- Branded bot persona for engaging team communication\n- Sequential message delivery maintaining proper flow\n- Professional intelligence reporting with personality elements\n- Automated conclusion and cycle completion messaging\n\n### Result:\n✅ Professional intelligence reports delivered directly to team Discord channel\n✅ Engaging branded communication maintaining team interest\n✅ Complete monitoring cycle with clear beginning and conclusion\n✅ Consistent timing and delivery for reliable team updates","height":448,"width":928,"color":7},"id":"403f2e01-edd9-4bcc-87c9-872c97a138e5","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[2176,1312],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1k6v6DeL_3cZ0U9kANAlrIIUIIOil959MaykV7JNAXro/edit?gid=0#gid=0"},"sheetName":{"__rl":true,"mode":"name","value":"Query"},"options":{}},"id":"ca0f6c52-5956-4be0-90b1-1e5ef4bb5136","name":"Get query","type":"n8n-nodes-base.googleSheets","position":[-1328,944],"typeVersion":4.6},{"parameters":{"options":{}},"id":"c67a6c21-a4f4-4334-8718-f9f713817f2f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-960,944],"typeVersion":3},{"parameters":{"resource":"search","operation":"google_news"},"id":"5bd82a92-7a8f-4330-a62b-594b09940704","name":"Search GNews","type":"n8n-nodes-preview-serpapi.serpApi","position":[-624,944],"retryOnFail":true,"typeVersion":1,"credentials":{}},{"parameters":{"jsCode":"// Récupérer les données d'entrée\nconst inputData = $input.all()[0].json;\n\n// Extraire les résultats de news\nconst newsResults = inputData.news_results || [];\n\n// Trier par position (ordre croissant)\nconst sortedResults = newsResults.sort((a, b) => a.position - b.position);\n\n// Prendre les 3 premiers résultats avec des propriétés nommées\nconst top3Results = sortedResults.slice(0, 3);\n\n// Créer un objet avec des propriétés distinctes pour chaque article\nconst result = {\n  article1: {\n    link: top3Results[0]?.link || null,\n    title: top3Results[0]?.title || null,\n    snippet: top3Results[0]?.snippet || null,\n    source: top3Results[0]?.source || null,\n    date: top3Results[0]?.date || null\n  },\n  article2: {\n    link: top3Results[1]?.link || null,\n    title: top3Results[1]?.title || null,\n    snippet: top3Results[1]?.snippet || null,\n    source: top3Results[1]?.source || null,\n    date: top3Results[1]?.date || null\n  },\n  article3: {\n    link: top3Results[2]?.link || null,\n    title: top3Results[2]?.title || null,\n    snippet: top3Results[2]?.snippet || null,\n    source: top3Results[2]?.source || null,\n    date: top3Results[2]?.date || null\n  },\n  // Pour compatibilité avec votre workflow existant\n  all_links: top3Results.map(result => result.link).filter(link => link !== null),\n  count: top3Results.length\n};\n\n// CORRECTION : Retourner un tableau avec un objet (format requis par n8n)\nreturn [{ json: result }];"},"id":"6b55d6c7-a8a5-43d4-83bb-ac3c2e47c6a0","name":"Return URL only","type":"n8n-nodes-base.code","position":[-416,944],"typeVersion":2},{"parameters":{"resource":"Default","operation":"scrape"},"id":"f40300c1-257c-4d3a-9397-ab4cd83c8eca","name":"Scrape article 1","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","maxTries":5,"position":[-128,944],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"211837eb-6c40-4147-8490-b3a5cefebd4b","name":"Scrape article 2","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","maxTries":5,"position":[112,944],"retryOnFail":true,"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"0b804b24-4a30-4734-ac75-b3e5e97c5d44","name":"Scrape article 3","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","maxTries":5,"position":[384,944],"retryOnFail":true,"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Source 1\n\nURL : {{ $('Return URL only').item.json.article1.link }}\nDate : {{ $('Return URL only').item.json.article1.date }}\nContenu de l'article : {{ $('Scrape article 1').item.json.data.markdown }}\n\n\nSource 2 \n\nURL : {{ $('Return URL only').item.json.article2.link }}\nDate : {{ $('Return URL only').item.json.article2.date }}\nContenu de l'article : {{ $('Scrape article 2').item.json.data.markdown }}\n\nSource 3\n\nURL : {{ $('Return URL only').item.json.article3.link }}\nDate : {{ $('Return URL only').item.json.article3.date }}\nContenu de l'article : {{ $('Scrape article 3').item.json.data.markdown }}\n","messages":{"messageValues":[{"message":"=Voilà le contenu de 3 article sur le thème \"{{ $('Loop Over Items').item.json.Query }}\".\n\n\n# Mission\nAnalysez les articles fournis et produisez une synthèse structurée.\n\n# Format de sortie requis\n\nUne fois au début : Veille **{{ $('Loop Over Items').item.json.Query }}**\n\nPuis pour chaque article, suivez exactement cette structure :\n\n```\n# Article [Titre]\n\n**Média :** [Nom du média]\n**Date :** [Date de publication]  \n**Lien :** [URL]\n**Résumé :** [2-3 phrases sur le contenu principal]\n\n---\n```\n\n## Consignes\n- Respecter l'ordre : Média → Date → Lien → Résumé\n- Numéroter les articles dans l'ordre d'apparition\n- Résumé maximum 3 phrases\n- Si une info manque, indiquer \"Non disponible\"\n\nSi il manque les informations d'un article ignore le et fait un rendu conséquent au nombre d'article que tu a pu traiter).\n\nTraitez maintenant le document fourni et donnez un rendu en français."}]},"batching":{}},"id":"f7794cc4-7486-4ab2-b943-501aab904c92","name":"Rédaction veille","type":"@n8n/n8n-nodes-langchain.chainLlm","maxTries":5,"position":[928,864],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"text","options":{}},"id":"2a9901ee-acda-41e0-9b80-2a6f034040a7","name":"Compilation données veilles","type":"n8n-nodes-base.aggregate","position":[1568,928],"typeVersion":1},{"parameters":{"jsCode":"// Code pour node n8n - Division de texte pour Discord\n// Limite Discord : 2000 caractères par message\n\nconst DISCORD_CHAR_LIMIT = 2000;\nconst SAFETY_MARGIN = 50; // Marge de sécurité pour éviter les dépassements\nconst EFFECTIVE_LIMIT = DISCORD_CHAR_LIMIT - SAFETY_MARGIN;\n\nfunction splitTextForDiscord(text) {\n  // Si le texte est plus court que la limite, on le retourne tel quel\n  if (text.length <= EFFECTIVE_LIMIT) {\n    return [text];\n  }\n\n  const messages = [];\n  let currentMessage = '';\n  \n  // Diviser le texte en paragraphes d'abord (séparés par \\n\\n ou ----)\n  const sections = text.split(/(?:\\n\\n|----)/);\n  \n  for (let i = 0; i < sections.length; i++) {\n    let section = sections[i].trim();\n    \n    // Si une section complète dépasse la limite, la diviser par phrases\n    if (section.length > EFFECTIVE_LIMIT) {\n      const sentences = section.split(/(?<=[.!?:])\\s+/);\n      \n      for (const sentence of sentences) {\n        // Si une phrase seule dépasse la limite, la couper brutalement\n        if (sentence.length > EFFECTIVE_LIMIT) {\n          const chunks = splitByLength(sentence, EFFECTIVE_LIMIT);\n          for (const chunk of chunks) {\n            if (currentMessage.length + chunk.length + 1 > EFFECTIVE_LIMIT) {\n              if (currentMessage.trim()) {\n                messages.push(currentMessage.trim());\n              }\n              currentMessage = chunk;\n            } else {\n              currentMessage += (currentMessage ? ' ' : '') + chunk;\n            }\n          }\n        } else {\n          // Ajouter la phrase si elle rentre dans le message actuel\n          if (currentMessage.length + sentence.length + 1 <= EFFECTIVE_LIMIT) {\n            currentMessage += (currentMessage ? ' ' : '') + sentence;\n          } else {\n            // Sauvegarder le message actuel et commencer un nouveau\n            if (currentMessage.trim()) {\n              messages.push(currentMessage.trim());\n            }\n            currentMessage = sentence;\n          }\n        }\n      }\n    } else {\n      // La section rentre dans la limite, vérifier si elle rentre dans le message actuel\n      if (currentMessage.length + section.length + 2 <= EFFECTIVE_LIMIT) {\n        currentMessage += (currentMessage ? '\\n\\n' : '') + section;\n      } else {\n        // Sauvegarder le message actuel et commencer un nouveau\n        if (currentMessage.trim()) {\n          messages.push(currentMessage.trim());\n        }\n        currentMessage = section;\n      }\n    }\n  }\n  \n  // Ajouter le dernier message s'il existe\n  if (currentMessage.trim()) {\n    messages.push(currentMessage.trim());\n  }\n  \n  return messages.length > 0 ? messages : [text];\n}\n\nfunction splitByLength(text, maxLength) {\n  const chunks = [];\n  for (let i = 0; i < text.length; i += maxLength) {\n    chunks.push(text.slice(i, i + maxLength));\n  }\n  return chunks;\n}\n\n// Code principal pour n8n\nconst inputData = $input.all();\nconst outputItems = [];\n\nfor (let i = 0; i < inputData.length; i++) {\n  const item = inputData[i];\n  \n  // Extraire le texte à diviser (adaptez selon votre structure de données)\n  // Exemple : si votre texte est dans item.json.content\n  let textToSplit = '';\n  \n  // Si c'est un tableau comme dans votre exemple\n  if (item.json.data && Array.isArray(item.json.data)) {\n    textToSplit = item.json.data.map(dataItem => dataItem.text || '').join('\\n\\n---\\n\\n');\n  } \n  // Si c'est directement du texte\n  else if (item.json.text) {\n    textToSplit = item.json.text;\n  }\n  // Si c'est dans un autre champ\n  else if (item.json.content) {\n    textToSplit = item.json.content;\n  }\n  // Fallback : convertir tout l'objet en texte\n  else {\n    textToSplit = JSON.stringify(item.json, null, 2);\n  }\n  \n  // Diviser le texte\n  const messages = splitTextForDiscord(textToSplit);\n  \n  // Créer un item de sortie pour chaque message\n  messages.forEach((message, index) => {\n    outputItems.push({\n      json: {\n        message: message,\n        messageIndex: index + 1,\n        totalMessages: messages.length,\n        characterCount: message.length,\n        originalItemIndex: i\n      }\n    });\n  });\n}\n\nreturn outputItems;"},"id":"8c631305-b190-4e00-ac06-6a09763cd7db","name":"Découpage message discord","type":"n8n-nodes-base.code","position":[1904,912],"typeVersion":2},{"parameters":{"resource":"message","guildId":{"__rl":true,"mode":"list","value":"919951151888236595","cachedResultUrl":"https://discord.com/channels/919951151888236595","cachedResultName":"Institut du référencement"},"channelId":{"__rl":true,"mode":"list","value":"1334455789284364309","cachedResultUrl":"https://discord.com/channels/919951151888236595/1334455789284364309","cachedResultName":"📝-veille-📝"},"content":"Hello everyone ! \n\nHere is your weekly dose of news !","options":{}},"id":"d0e3c34f-a5aa-454e-9f56-3c8305c21553","name":"Intro ","type":"n8n-nodes-base.discord","position":[2272,848],"webhookId":"47593169-e23c-4303-b8e2-7e93386c4c7a","typeVersion":2},{"parameters":{"resource":"message","guildId":{"__rl":true,"mode":"list","value":"919951151888236595","cachedResultUrl":"https://discord.com/channels/919951151888236595","cachedResultName":"Institut du référencement"},"channelId":{"__rl":true,"mode":"list","value":"1334455789284364309","cachedResultUrl":"https://discord.com/channels/919951151888236595/1334455789284364309","cachedResultName":"📝-veille-📝"},"content":"={{ $json.message }}","options":{"flags":["SUPPRESS_EMBEDS"]}},"id":"7b0f6770-c081-4737-9381-419524847cf1","name":"Veille","type":"n8n-nodes-base.discord","position":[2688,1024],"webhookId":"f3ee61cf-fbfa-447c-9fa8-78b7e5e1c4f7","typeVersion":2},{"parameters":{"resource":"message","guildId":{"__rl":true,"mode":"list","value":"919951151888236595","cachedResultUrl":"https://discord.com/channels/919951151888236595","cachedResultName":"Institut du référencement"},"channelId":{"__rl":true,"mode":"list","value":"1334455789284364309","cachedResultUrl":"https://discord.com/channels/919951151888236595/1334455789284364309","cachedResultName":"📝-veille-📝"},"content":"ET VOILÀ MINIONS ORGANIQUES ! Claptrap a terminé sa mission ÉPIQUE - à la semaine prochaine pour encore plus d'excellence robotique ! Bip boop 🤖✨","options":{}},"id":"1c3cd129-c194-4fd2-bfcd-a63fd5606d46","name":"Conclusion","type":"n8n-nodes-base.discord","position":[2896,880],"webhookId":"47593169-e23c-4303-b8e2-7e93386c4c7a","executeOnce":true,"typeVersion":2},{"parameters":{"options":{}},"id":"f4ac94c2-4a65-4c04-bf68-dfc4804ef073","name":"Loop Over Items 2","type":"n8n-nodes-base.splitInBatches","position":[2464,960],"typeVersion":3},{"parameters":{"content":"## Need more advanced automation solutions? Contact us for custom enterprise workflows!\n\n# Growth-AI.fr\n\n## https://www.linkedin.com/in/allanvaccarizi/\n## https://www.linkedin.com/in/hugo-marinier-%F0%9F%A7%B2-6537b633/","height":336,"width":816},"id":"0ee6872e-d46b-44aa-91ca-2681006361a5","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","position":[-3120,896],"typeVersion":1}],"connections":{"Veille":{"main":[[{"node":"Loop Over Items 2","type":"main","index":0}]]},"Get query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search GNews":{"main":[[{"node":"Return URL only","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Compilation données veilles","type":"main","index":0}],[{"node":"Search GNews","type":"main","index":0}]]},"Return URL only":{"main":[[{"node":"Scrape article 1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get query","type":"main","index":0}]]},"Scrape article 1":{"main":[[{"node":"Scrape article 2","type":"main","index":0}]]},"Scrape article 2":{"main":[[{"node":"Scrape article 3","type":"main","index":0}]]},"Scrape article 3":{"main":[[{"node":"Rédaction veille","type":"main","index":0}]]},"Loop Over Items 2":{"main":[[{"node":"Conclusion","type":"main","index":0}],[{"node":"Veille","type":"main","index":0}]]},"Rédaction veille":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model6":{"ai_languageModel":[[{"node":"Rédaction veille","type":"ai_languageModel","index":0}]]},"Découpage message discord":{"main":[[{"node":"Loop Over Items 2","type":"main","index":0}]]},"Compilation données veilles":{"main":[[{"node":"Découpage message discord","type":"main","index":0},{"node":"Intro ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"494d054a-6a24-49b9-8dff-c5534c910c1e","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T17:53:38.968Z","createdAt":"2025-12-21T17:53:38.968Z","role":"workflow:owner","workflowId":"PG4v9fzRWGT2zgia","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-01-12T05:04:36.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1767920967351}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-12","isPending":false}}]}}],"tags":[],"activeVersion":null}