hbf_online/2026/01/AI-powered Loom video Q&A with Gemini-2.5 and Slack notifications/GsBmGi3CFhmcpV00ji6QZ.json
{"updatedAt":"2026-01-10T14:39:29.610Z","createdAt":"2026-01-10T14:39:29.610Z","id":"GsBmGi3CFhmcpV00ji6QZ","name":"AI-powered Loom video Q&A with Gemini-2.5 and Slack notifications","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"videoId","value":"={{ $json['Loom Video URL'].split('/').pop().split(\"?\")[0] }}"}]},"options":{}},"id":"1b69f192-6e52-4484-8953-285441906bde","name":"Extract Video ID","type":"n8n-nodes-base.set","position":[1408,464],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://www.loom.com/api/campaigns/sessions/{{ $json.videoId }}/transcoded-url","options":{}},"id":"96a1f9d1-41da-4f73-aef1-5fc61a2ecbde","name":"Fetch Download URL","type":"n8n-nodes-base.httpRequest","position":[1632,464],"typeVersion":3},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"983e0686-6a65-495c-af5c-103001995271","name":"Download Video Content","type":"n8n-nodes-base.httpRequest","position":[1856,464],"typeVersion":3},{"parameters":{"formTitle":"Loom Video Downloader to Gemini","formDescription":"Enter a public loom video url and the video will be downloaded and provided as input to Google Gemini","formFields":{"values":[{"fieldLabel":"Loom Video URL","placeholder":"https://www.loom.com/share/4ef793670bfd4b06a7c042b1b439d51a","requiredField":true},{"fieldLabel":"Enter a question about the video","fieldType":"textarea","requiredField":true}]},"options":{}},"id":"9426bf71-eb18-419f-a693-a7b5832956a6","name":"Loom URL Form","type":"n8n-nodes-base.formTrigger","position":[976,464],"webhookId":"5c01bf3e-8c98-4311-859e-dac20b35d252","typeVersion":2.2},{"parameters":{"method":"PUT","url":"={{ $json.uploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Length","value":"={{ $json.fileSizeInBytes }}"},{"name":"X-Goog-Upload-Offset","value":"0"},{"name":"X-Goog-Upload-Command","value":"upload, finalize"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a7331691-acda-4191-add6-65ab1f61b1d5","name":"Upload Video Data","type":"n8n-nodes-base.httpRequest","position":[3168,464],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/upload/v1beta/files","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Protocol","value":"resumable"},{"name":"X-Goog-Upload-Command","value":"start"},{"name":"X-Goog-Upload-Header-Content-Length","value":"={{  $json.fileSizeInBytes }}"},{"name":"X-Goog-Upload-Header-Content-Type","value":"={{ $json.mimeType }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"file\": {\n    \"display_name\": \"{{ $json.displayName }}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"c24fb0b7-d21f-4fe7-bed4-b0e2ecd0c2b2","name":"Start Upload Session for Gemini","type":"n8n-nodes-base.httpRequest","position":[2512,384],"typeVersion":4.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"debf942c-92e7-43f0-9c9b-15d03aa6e507","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json['Loom Video URL'] }}","rightValue":"https://www.loom.com/share/"}]},"options":{}},"id":"e92b0b3d-e309-44b3-a288-2fea8f50c695","name":"Valid Loom URL?","type":"n8n-nodes-base.if","position":[1200,464],"typeVersion":2.2},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"3180c3a0-b5cc-4501-80ed-2ebce9463af2","name":"Merge","type":"n8n-nodes-base.merge","position":[2960,464],"typeVersion":3.1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"5c1a814e-041b-456d-89f2-22a1845d6693","name":"Merge1","type":"n8n-nodes-base.merge","position":[2288,464],"typeVersion":3.1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"geminiFileUri","value":"={{ $json.file.uri }}"},{"name":"geminiFileName","value":"={{ $json.file.name }}"},{"name":"geminiFileMimeType","value":"={{ $json.file.mimeType }}"}]},"options":{}},"id":"51021cc5-971d-4287-be7f-d102ccb2505f","name":"Extract File Details","type":"n8n-nodes-base.set","position":[3392,464],"typeVersion":1},{"parameters":{},"id":"a0b210dc-4d66-45eb-a1f6-526297049bea","name":"Wait 5 Seconds","type":"n8n-nodes-base.wait","position":[3872,480],"webhookId":"ccaddc3f-1091-4e08-a513-0f61bbfe025f","typeVersion":1.1},{"parameters":{"options":{"reset":false}},"id":"e36643d5-5102-4ef9-99ce-3777d38d0f16","name":"Loop Until Video Is Active","type":"n8n-nodes-base.splitInBatches","position":[3616,464],"typeVersion":3},{"parameters":{"url":"={{ $json.geminiFileUri }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"6496a5f2-b52a-4f68-bfef-09788e36aac1","name":"Get Video Status","type":"n8n-nodes-base.httpRequest","position":[4048,480],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0f9c3f19-3a7b-43c3-9e81-41cfcf649d00","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"ACTIVE"}]},"options":{}},"id":"4a822835-719f-46aa-8f0e-1715af385f7a","name":"Video Active?","type":"n8n-nodes-base.if","position":[4272,480],"typeVersion":2.2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro-preview-03-25:generateContent","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"file_data\": {\n            \"mime_type\": \"video/mp4\",\n            \"file_uri\": \"{{ $json.uri }}\"\n          }\n        },\n        {\n          \"text\": {{ JSON.stringify($('Loom URL Form').first().json['Enter a question about the video']) }}\n        }\n      ]\n    }\n  ]\n} ","options":{}},"id":"9e78e6d5-435c-4c8a-8cd4-64f0c5e4ff7f","name":"Ask Gemini to Summarize Video","type":"n8n-nodes-base.httpRequest","position":[4560,432],"typeVersion":4.2},{"parameters":{"content":"## Download Loom Video\n\nEnter loom video url via form, then make requests to loom api to get url of video and then download.","height":420,"width":1080,"color":7},"id":"77df9ffb-2a4d-46c9-a2a1-44eaf1f7a734","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[928,240],"typeVersion":1},{"parameters":{"content":"## Upload Video to Gemini\n\nExtract data from video needed for upload to Gemini. Then start an authenticated upload session, get the url to upload to and upload the video.","height":420,"width":1300,"color":5},"id":"89545746-96c1-4896-95bf-c5bca17b1ef3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2016,240],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"uploadUrl","value":"={{ $json.headers['x-goog-upload-url'] }}"}]},"options":{}},"id":"f35ceb48-2931-47b5-835a-bf3cfbec813b","name":"Extract URL for Uploading","type":"n8n-nodes-base.set","position":[2736,384],"typeVersion":1},{"parameters":{"content":"## Ensure Video Is Active Before Using with LLM Request\n\nUploaded videos start in \"PROCESSING\" state when first uploaded and need to be \"ACTIVE\" before they can be provided to a Gemini LLM request.","height":420,"width":1120},"id":"02cff2c4-5f4f-4422-acc8-bb5e6a125365","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[3312,240],"typeVersion":1},{"parameters":{"content":"## Send Request to Gemini LLM\n\nOnce video is active, send video to Gemini with prompt from the form","height":420,"width":580,"color":4},"id":"9f457708-2b80-403e-8030-1dbdbc81bc54","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[4432,240],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get the input item (using $input.item for single item processing is fine)\nconst item = $input.item;\n\n// --- Define the Expected Binary Property Name ---\n// This is crucial. If the node feeding this Code node outputs binary data\n// under a different property name (e.g., 'file', 'binaryOutput'),\n// you MUST change this value accordingly.\nconst binaryPropertyName = 'data';\n\n// --- Check if any binary data exists and if the specific property is present ---\nif (!item.binary || !item.binary[binaryPropertyName]) {\n  const availableProperties = item.binary ? Object.keys(item.binary).join(', ') : 'none';\n  throw new Error(`Binary property '${binaryPropertyName}' not found on input item. Available binary properties: ${availableProperties}. Check the 'Property Name' setting in the preceding node if it handles binary data (e.g., HTTP Request, Read File).`);\n}\n\n// --- Access Binary Data and Calculate Size using Helpers ---\n// Use the n8n helper function to get the buffer\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\n\n// The length of the buffer *is* the size in bytes\nconst fileSizeInBytes = buffer.length;\n\n// --- Prepare Output JSON ---\nconst outputJson = {\n  fileSizeInBytes: fileSizeInBytes,\n};\n\nreturn outputJson;"},"id":"33800aac-7646-40ce-98b2-213f48f91ad8","name":"Calculate File Size","type":"n8n-nodes-base.code","position":[2048,368],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"185823b8-48f0-423b-a670-33a5215cf348","name":"mimeType","type":"string","value":"={{ $binary.data.mimeType }}"},{"id":"94cce1af-7bcc-49ea-9968-c0b12c2fbc82","name":"displayName","type":"string","value":"=loom_{{ $('Extract Video ID').item.json.videoId }}"}]},"includeOtherFields":true,"options":{}},"id":"e6fdc875-2fde-4da3-8330-11e72ba02d33","name":"Set Video Attributes","type":"n8n-nodes-base.set","position":[2048,528],"typeVersion":3.4},{"parameters":{"select":"user","user":{"__rl":true,"mode":"username","value":"@giosegar"},"text":"=Loom video response from Gemini: {{ $json.candidates[0].content.parts[0].text }}","otherOptions":{}},"id":"3ae06fca-7edb-4949-a9e7-588256ffddd0","name":"Slack","type":"n8n-nodes-base.slack","position":[4832,432],"webhookId":"3ec96773-ccb6-446d-8b2f-0d53e50bfca8","typeVersion":2.3},{"parameters":{"content":"## How to use the workflow\nThis workflow takes a Loom link, extracts the video ID, uses the Loom API to download the video, then sends it to Gemini along with your question. Finally, it sends the output to Slack. \n\nTo use it, you just need to add your own [API key for Gemini](https://aistudio.google.com/app/apikey) and Slack connection. \n\nClick the link above to get your Gemini API key, then add a generic \"Query auth\" type credential in n8n. The name will be \"key\" and the value will be your API key.\n\nOne way to customize this workflow would be to make the trigger any received email, extract the Loom link, and run an auto-prompt like \"Describe this video in detail\". ","height":400,"width":420},"id":"b564cf3b-1fd7-4b4d-9fda-1e5ba2842224","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"Upload Video Data","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Start Upload Session for Gemini","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Loom URL Form":{"main":[[{"node":"Valid Loom URL?","type":"main","index":0}]]},"Video Active?":{"main":[[{"node":"Loop Until Video Is Active","type":"main","index":0}],[{"node":"Wait 5 Seconds","type":"main","index":0}]]},"Wait 5 Seconds":{"main":[[{"node":"Get Video Status","type":"main","index":0}]]},"Valid Loom URL?":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Fetch Download URL","type":"main","index":0}]]},"Get Video Status":{"main":[[{"node":"Video Active?","type":"main","index":0}]]},"Upload Video Data":{"main":[[{"node":"Extract File Details","type":"main","index":0}]]},"Fetch Download URL":{"main":[[{"node":"Download Video Content","type":"main","index":0}]]},"Calculate File Size":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Extract File Details":{"main":[[{"node":"Loop Until Video Is Active","type":"main","index":0}]]},"Set Video Attributes":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Download Video Content":{"main":[[{"node":"Calculate File Size","type":"main","index":0},{"node":"Set Video Attributes","type":"main","index":0}]]},"Extract URL for Uploading":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Until Video Is Active":{"main":[[{"node":"Ask Gemini to Summarize Video","type":"main","index":0}],[{"node":"Wait 5 Seconds","type":"main","index":0}]]},"Ask Gemini to Summarize Video":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Start Upload Session for Gemini":{"main":[[{"node":"Extract URL for Uploading","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"4472"},"pinData":{},"versionId":"fcb0251c-d168-4074-8aaf-46f2c6916716","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T14:39:29.613Z","createdAt":"2026-01-10T14:39:29.613Z","role":"workflow:owner","workflowId":"GsBmGi3CFhmcpV00ji6QZ","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-05T05:18:38.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-05","isPending":false}}]}}],"tags":[],"activeVersion":null}