clifton_home/2026/03/Birthday Greeter via Beeper/PgbyAFzDm6606USb.json
{"updatedAt":"2026-03-01T21:24:21.584Z","createdAt":"2026-03-01T21:24:21.584Z","id":"PgbyAFzDm6606USb","name":"Birthday Greeter via Beeper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"aea2bc0d-372b-4431-b935-c10f59c80434","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2848,528],"notes":"Click to test the full flow. Bypasses the Random Delay and uses the hardcoded phone number in Filter Todays Birthdays instead of reading from the Excel sheet."},{"parameters":{"jsCode":"return [\n  { json: { ip: '192.168.2.2' } },\n  { json: { ip: '192.168.10.181' } },\n  { json: { ip: '192.168.10.225' } }\n];"},"id":"c7b40c39-5078-4fff-b902-f4b91be8c882","name":"Generate IP Candidates","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,336],"notes":"Add/remove IPs here if your laptop's addresses change."},{"parameters":{"url":"=http://{{ $json.ip }}:23373/v1/chats?limit=1","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"timeout":5000}},"id":"810cb396-483f-42f8-8396-f5e51bac43e4","name":"Beeper Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,336],"continueOnFail":true,"notes":"Pings each IP on port 23373. continueOnFail lets failed IPs pass through so the next node can pick the live one. Requires Beeper Desktop to be running with Remote Access enabled and the BEEPER_API_KEY environment variable set in n8n."},{"parameters":{"jsCode":"const checks = $input.all();\nconst ips = $('Generate IP Candidates').all();\n\nfor (let i = 0; i < checks.length; i++) {\n  if (checks[i].json.items !== undefined) {\n    return [{ json: { beeperHost: 'http://' + ips[i].json.ip + ':23373' } }];\n  }\n}\n\nthrow new Error('Beeper Desktop not reachable on any configured IP. Ensure it is running with Remote Access enabled.');"},"id":"c9e020af-e2e6-4ff7-b784-44e6a14b3792","name":"Select Live Host","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,336],"onError":"continueErrorOutput","notes":"Picks the first IP that returned a valid Beeper API response."},{"parameters":{"documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=0"},"options":{}},"id":"0f3095b4-af86-41c2-ba7f-10ec9b26cff6","name":"Read Birthday Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1840,336],"notes":"Configure: 1) Set Google Sheets OAuth2 credential. 2) Paste your Google Sheet URL in the Document field.\\n\\nGoogle Sheet columns:\\n- Name: person's name (used in the birthday message)\\n- Birthday: supports MM-DD, MM/DD, YYYY-MM-DD, YYYY/MM/DD formats\\n- Phone: number without the + prefix (e.g. 14155552671). The workflow adds the + automatically since Google Sheets strips it\\n- Relay: boolean (TRUE/FALSE). If TRUE, sends 'Tell <Name> I said happy birthday!' to the Phone number instead of a direct greeting. Use this when the phone number belongs to someone else (e.g. sending to mom for the kid).\\n- Dinner: boolean (TRUE/FALSE). If TRUE, sends a follow-up message after 4-12 seconds asking about dinner plans."},{"parameters":{"jsCode":"const timeZone = 'America/New_York'; // Change to your timezone\nconst today = new Date().toLocaleDateString('en-US', { timeZone });\nconst [todayMonth, todayDay] = today.split('/').map(Number);\n\nreturn $input.all()\n  .filter(item => {\n    const phone = String(item.json.Phone || '').trim();\n    const bday = String(item.json.Birthday || '').trim();\n    if (!phone || !bday) return false;\n\n    // Strip invisible characters then split on / or -\n    const clean = bday.replace(/[^\\d\\/-]/g, '');\n    const parts = clean.split(/[\\/\\-]/);\n\n    let month, day;\n    if (parts.length === 3) {\n      if (parts[0].length === 4) {\n        // YYYY-MM-DD\n        month = parseInt(parts[1], 10);\n        day = parseInt(parts[2], 10);\n      } else {\n        // MM/DD/YYYY\n        month = parseInt(parts[0], 10);\n        day = parseInt(parts[1], 10);\n      }\n    } else if (parts.length === 2) {\n      // MM-DD or MM/DD\n      month = parseInt(parts[0], 10);\n      day = parseInt(parts[1], 10);\n    } else {\n      return false;\n    }\n\n    return month === todayMonth && day === todayDay;\n  })\n  .map(item => {\n    let phone = String(item.json.Phone).trim();\n    if (!phone.startsWith('+')) phone = '+' + phone;\n    return { json: { ...item.json, Phone: phone } };\n  });"},"id":"df8fb6fd-3237-4e5b-a6a5-a85f40270d6e","name":"Filter Todays Birthdays","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,336],"notes":"Supports MM-DD, MM/DD, YYYY-MM-DD, YYYY/MM/DD date formats. Skips rows with missing Phone or Birthday. Prepends '+' to phone numbers (Google Sheets strips the +)."},{"parameters":{"url":"={{ $('Select Live Host').first().json.beeperHost }}/v1/chats/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.Phone }}"},{"name":"scope","value":"participants"},{"name":"type","value":"single"},{"name":"accountIDs","value":"imessage_c486047869de25aa846dda045493a09a"}]},"options":{}},"id":"aacbd374-e08c-4fbd-8e71-eabc57feeadc","name":"Search Chat by Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,336],"notes":"Searches Beeper for a DM chat matching this phone number. Phone must be in E.164 format (+country code + number) to match correctly."},{"parameters":{"jsCode":"const searches = $input.all();\nconst people = $('Filter Todays Birthdays').all();\nconst host = $('Select Live Host').first().json.beeperHost;\n\nconst directTemplates = [\n  () => `Happy Birthday! \\ud83c\\udf82 Hope your day is as sweet as cake!`,\n  () => `Happy Birthday!!! \\ud83c\\udf89\\ud83c\\udf89\\ud83c\\udf89`,\n  () => `It's your birthday! \\ud83c\\udf88\\ud83c\\udf88 Sending you all the balloons!`,\n  () => `Happy Birthday! \\ud83c\\udf1f Hope it's a great one!`,\n  () => `Wishing you a wonderful birthday! \\ud83e\\udd73\\ud83c\\udf8a`,\n  () => `Happy Birthday! \\ud83c\\udf82\\ud83c\\udf88\\ud83c\\udf81 Party time!`,\n  () => `Happy birthday!! \\ud83e\\udd42 Cheers to another year!`\n];\n\nreturn searches.map((search, i) => {\n  const person = people[i].json;\n  const items = search.json.items || [];\n  const chatID = items.length > 0 ? items[0].id : null;\n  const relay = String(person.Relay || '').toLowerCase() === 'true' || person.Relay === true;\n  let message;\n  if (relay) {\n    message = `Tell ${person.Name.split(\" \")[0]} I said happy birthday!`;\n  } else {\n    const template = directTemplates[Math.floor(Math.random() * directTemplates.length)];\n    message = template();\n  }\n\n  const dinner = String(person.Dinner || '').toLowerCase() === 'true' || person.Dinner === true;\n\n  const dinnerTemplates = [\n    'Want to grab dinner sometime to celebrate?',\n    'Lets do a birthday dinner soon!',\n    'Let me know if you want to grab dinner sometime to celebrate!',\n    'Down for a birthday dinner sometime soon?'\n  ];\n  const dinnerMessage = dinnerTemplates[Math.floor(Math.random() * dinnerTemplates.length)];\n\n  return {\n    json: {\n      chatID: chatID ? encodeURIComponent(chatID) : null,\n      chatFound: chatID !== null,\n      name: person.Name,\n      phone: person.Phone,\n      beeperHost: host,\n      message: message,\n      dinner: dinner,\n      dinnerMessage: dinnerMessage\n    }\n  };\n});"},"id":"8b04513a-5de9-4220-a46a-b5f05fe9827e","name":"Extract Chat ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,336],"notes":"Pairs search results with person data from the birthday filter. Picks a random greeting from 8 templates. If Relay is true, sends 'Tell <Name> I said happy birthday!' instead."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_chat_found","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.chatFound }}","rightValue":""}]},"options":{}},"id":"bb0acf86-4fe9-451e-9c93-9271491b6299","name":"Chat Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,336],"notes":"TRUE: existing chat found, sends message directly. FALSE: no chat found, creates a new chat and sends the message via the Create Chat API."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats/{{ $json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.message }}\"}","options":{}},"id":"386f93f7-346a-471a-ae6d-2a732b711a3e","name":"Send Birthday Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,336],"notes":"Sends the birthday greeting via Beeper Desktop API v1."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Chat Found?').item.json.name }}","Message":"={{ $('Chat Found?').item.json.message }}","Phone":"={{ $('Chat Found?').item.json.phone }}","Type":"birthday (existing chat)"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0804a8a2-2b60-4fcc-851b-29fa69a7beeb","name":"Log Birthday Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,336],"notes":"Logs the birthday message send to the 'Log' sheet tab. Configure: set the same Google Sheet URL and OAuth2 credential as 'Read Birthday Sheet'. Create a 'Log' sheet tab with columns: Date, Name, Phone, Type, Message."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_dinner","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Extract Chat ID').item.json.dinner }}","rightValue":""}]},"options":{}},"id":"ce3359e3-42af-4254-8f15-fbb761deb55d","name":"Dinner Plans?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,336],"notes":"Checks if the Dinner column is TRUE for this person."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 9) + 4 }}"},"id":"2f8363cf-ee7d-475f-be66-19ea0bc7cc60","name":"Dinner Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[928,336],"webhookId":"059e9f53-6fdb-4327-91ec-70c6a2397488","notes":"Waits a random 4-12 seconds before sending the dinner follow-up so it feels natural."},{"parameters":{"method":"POST","url":"={{ $('Extract Chat ID').item.json.beeperHost }}/v1/chats/{{ $('Extract Chat ID').item.json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $('Extract Chat ID').item.json.dinnerMessage }}\"}","options":{}},"id":"33b3a424-7132-4e7b-98d6-dc52da735e2f","name":"Send Dinner Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,336],"notes":"Sends a follow-up message asking about dinner plans."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Message":"={{ $('Chat Found?').item.json.message }}","Name":"={{ $('Chat Found?').item.json.name }}","Phone":"={{ $('Chat Found?').item.json.phone }}","Type":"Birthday Dinner (existing chat)","Date":"={{ new Date().toISOString() }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ccc33c98-c0c2-4708-afd2-931506ba6f68","name":"Log Dinner Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1424,336],"notes":"Logs the dinner follow-up send to the 'Log' sheet tab."},{"parameters":{"jsCode":"const accountID = \"imessage_c486047869de25aa846dda045493a09a\";\n\nreturn $(\"Chat Found?\").all().map((data) => {\n  return {\n    json: {\n      accountID: accountID,\n      phone: data.json.phone,\n      beeperHost: data.json.beeperHost,\n      message: data.json.message,\n      name: data.json.name,\n      dinner: data.json.dinner,\n      dinnerMessage: data.json.dinnerMessage\n    }\n  };\n});"},"id":"0261e108-2a3c-4fdd-acb1-95c49edb310f","name":"Prepare New Chat","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,608],"notes":"Picks the accountID for chat creation. Change preferredNetwork to match your primary messaging service (iMessage, WhatsApp, etc.)."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BEEPER_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"accountID\": \"{{ $json.accountID }}\", \"participantIDs\": [\"{{ $json.phone }}\"], \"type\": \"single\", \"messageText\": \"{{ $json.message }}\"}","options":{}},"id":"34621605-079a-4248-a04e-830a5feeccbd","name":"Create Chat & Send","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,608],"notes":"Creates a new Beeper chat with the phone number and sends the birthday message as the first message via the messageText field."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Prepare New Chat').item.json.name }}","Phone":"={{ $('Prepare New Chat').item.json.phone }}","Type":"birthday (new chat)","Message":"={{ $('Prepare New Chat').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"ff19de57-f81c-4972-a871-01d6ac3a7b99","name":"Log New Chat Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,608],"notes":"Logs the new chat birthday send to the 'Log' sheet tab."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_new_dinner","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Prepare New Chat').item.json.dinner }}","rightValue":""}]},"options":{}},"id":"d1279166-edf3-4882-b101-defe7b85cae7","name":"New Chat Dinner?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,608],"notes":"Checks dinner flag for newly created chats."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 9) + 4 }}"},"id":"4bb9a19c-63de-491d-ae0f-71cf062004a2","name":"New Chat Dinner Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1168,608],"webhookId":"fa57ba51-cf58-4468-9514-fab7f3c1992f","notes":"Random 4-12 second delay before dinner follow-up on new chat."},{"parameters":{"method":"POST","url":"={{ $('Prepare New Chat').item.json.beeperHost }}/v1/chats/{{ encodeURIComponent($('Create Chat & Send').item.json.chatID) }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BEEPER_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $('Prepare New Chat').item.json.dinnerMessage }}\"}","options":{}},"id":"9aef1f8b-ba5f-4f74-bead-c7e414806058","name":"Send New Chat Dinner","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,608],"notes":"Sends dinner follow-up to the newly created chat."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Prepare New Chat').item.json.name }}","Phone":"={{ $('Prepare New Chat').item.json.phone }}","Type":"dinner (new chat)","Message":"={{ $('Prepare New Chat').item.json.dinnerMessage }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"aea8ab84-3685-45ec-bbff-57d0d608b2f6","name":"Log New Chat Dinner Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1664,608],"notes":"Logs the new chat dinner follow-up send to the 'Log' sheet tab."},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6-22 * * *"}]}},"id":"d619c378-7553-4c07-b7ae-e8cb99467d0b","name":"Daily 6AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2848,336],"notes":"Runs daily at 6 AM. Adjust triggerAtHour for your timezone."},{"parameters":{"jsCode":"const timeZone = 'America/New_York';\nconst today = new Date().toLocaleDateString('en-US', { timeZone });\nconst [todayMonth, todayDay] = today.split('/').map(Number);\n\nconst missedDates = [];\nfor (let i = 1; i <= 7; i++) {\n  const d = new Date();\n  d.setDate(d.getDate() - i);\n  const ds = d.toLocaleDateString('en-US', { timeZone });\n  const [m, day] = ds.split('/').map(Number);\n  missedDates.push({ month: m, day: day, daysLate: i });\n}\n\nreturn $input.all()\n  .map(item => {\n    const phone = String(item.json.Phone || '').trim();\n    const bday = String(item.json.Birthday || '').trim();\n    if (!phone || !bday) return null;\n\n    const clean = bday.replace(/[^\\d\\/-]/g, '');\n    const parts = clean.split(/[\\/\\-]/);\n\n    let month, day;\n    if (parts.length === 3) {\n      if (parts[0].length === 4) {\n        month = parseInt(parts[1], 10);\n        day = parseInt(parts[2], 10);\n      } else {\n        month = parseInt(parts[0], 10);\n        day = parseInt(parts[1], 10);\n      }\n    } else if (parts.length === 2) {\n      month = parseInt(parts[0], 10);\n      day = parseInt(parts[1], 10);\n    } else {\n      return null;\n    }\n\n    const match = missedDates.find(d => d.month === month && d.day === day);\n    if (!match) return null;\n\n    let phoneClean = phone;\n    if (!phoneClean.startsWith('+')) phoneClean = '+' + phoneClean;\n\n    return { json: { ...item.json, Phone: phoneClean, daysLate: match.daysLate } };\n  })\n  .filter(item => item !== null);"},"id":"ce9abf7b-e892-4dc8-a58f-247f0f266702","name":"Filter Missed Birthdays","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,96],"notes":"Checks last 7 days for birthdays that may have been missed. Same date parsing as Filter Todays Birthdays. Outputs matching rows with daysLate field."},{"parameters":{"documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"options":{}},"id":"a12316e9-e267-44be-8fbe-d996c0a36ec5","name":"Read Sent Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1280,96],"executeOnce":true,"alwaysOutputData":true,"notes":"Reads all entries from the Sent-log sheet to check which birthdays were already sent."},{"parameters":{"jsCode":"const missedBirthdays = $('Filter Missed Birthdays').all();\nconst logEntries = $input.all();\nconst fourteenDaysAgo = new Date(Date.now() - 8 * 24 * 60 * 60 * 1000);\n\n// Filter log to last 8 days only\nconst recentLogs = logEntries.filter(log => {\n  const logDate = new Date(log.json.Date);\n  return !isNaN(logDate) && logDate >= fourteenDaysAgo;\n});\n\nconst unsent = missedBirthdays.filter(mb => {\n  const phone = String(mb.json.Phone || '').trim().replace(/^\\+/, '');\n  return !recentLogs.some(log => {\n    const logPhone = String(log.json.Phone || '').trim().replace(/^\\+/, '');\n    const logType = String(log.json.Type || '').toLowerCase();\n    return logPhone === phone && logType.includes('birthday');\n  });\n});\n\nreturn unsent.map(mb => ({ json: { ...mb.json } }));"},"id":"a8594562-0e6a-4167-ab62-4de913adced3","name":"Find Unsent Birthdays","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,96],"notes":"Cross-references missed birthdays with the Sent-log. Filters out anyone who already received a birthday message in the last 8 days."},{"parameters":{"url":"={{ $('Select Live Host').first().json.beeperHost }}/v1/chats/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.Phone }}"},{"name":"scope","value":"participants"},{"name":"type","value":"single"},{"name":"accountIDs","value":"imessage_c486047869de25aa846dda045493a09a"}]},"options":{}},"id":"513e1b2c-984f-49c2-b337-b2828d36bf8e","name":"Search Missed Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,96],"notes":"Searches Beeper for a DM chat matching the missed birthday person's phone number."},{"parameters":{"jsCode":"const searches = $input.all();\nconst people = $('Find Unsent Birthdays').all();\nconst host = $('Select Live Host').first().json.beeperHost;\n\nconst belatedTemplates = [\n  () => `Happy belated birthday! Hope you had an amazing day!`,\n  () => `Happy late birthday! Sorry I missed it!`,\n  () => `Better late than never — Happy birthday!`,\n  () => `Happy belated Birthday! Hope it was great!`,\n  () => `Late happy birthday! Wishing you the best!`,\n  () => `Happy belated birthday!! Hope it was a good one!`\n];\n\nreturn searches.map((search, i) => {\n  const person = people[i].json;\n  const items = search.json.items || [];\n  const chatID = items.length > 0 ? items[0].id : null;\n  const relay = String(person.Relay || '').toLowerCase() === 'true' || person.Relay === true;\n  let message;\n  if (relay) {\n    message = `Tell ${person.Name.split(' ')[0]} I said happy belated birthday!`;\n  } else {\n    const template = belatedTemplates[Math.floor(Math.random() * belatedTemplates.length)];\n    message = template();\n  }\n\n  return {\n    json: {\n      chatID: chatID ? encodeURIComponent(chatID) : null,\n      chatFound: chatID !== null,\n      name: person.Name,\n      phone: person.Phone,\n      beeperHost: host,\n      message: message\n    }\n  };\n});"},"id":"16eb28b0-c21e-4c59-8d33-adc994055ea4","name":"Extract Missed Chat ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,96],"notes":"Pairs search results with missed birthday data. Picks a random belated greeting from 6 templates. No dinner follow-up for late birthdays."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_missed_chat_found","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.chatFound }}","rightValue":""}]},"options":{}},"id":"9f5d0f9b-606c-4b5b-ac31-bd0705a41d7e","name":"Missed Chat Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,96],"notes":"TRUE: existing chat found, sends late birthday directly. FALSE: creates a new chat and sends the late birthday message."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats/{{ $json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.message }}\"}","options":{}},"id":"11ed9f04-cb53-4ab6-a91d-0b294ac5b501","name":"Send Late Birthday","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"notes":"Sends the belated birthday greeting to an existing Beeper chat."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Missed Chat Found?').item.json.name }}","Phone":"={{ $('Missed Chat Found?').item.json.phone }}","Type":"late birthday (existing chat)","Message":"={{ $('Missed Chat Found?').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0f549e63-a492-47cc-a715-512d292eccf0","name":"Log Late Birthday Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,0],"notes":"Logs the late birthday send to the Sent-log sheet."},{"parameters":{"jsCode":"const accountID = \"imessage_c486047869de25aa846dda045493a09a\";\n\nreturn $(\"Missed Chat Found?\").all().map((data) => {\n  return {\n    json: {\n      accountID: accountID,\n      phone: data.json.phone,\n      beeperHost: data.json.beeperHost,\n      message: data.json.message,\n      name: data.json.name\n    }\n  };\n});"},"id":"e789f5c9-a8c8-405a-b5a7-df34fa0d450e","name":"Prepare Missed New Chat","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,144],"notes":"Picks the accountID for new chat creation for missed birthdays. Uses the same preferred network as the main flow."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BEEPER_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"accountID\": \"{{ $json.accountID }}\", \"participantIDs\": [\"{{ $json.phone }}\"], \"type\": \"single\"}","options":{}},"id":"008f5b28-4035-4b8c-8ebc-2e1eae8308c7","name":"Create Missed Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,144],"notes":"Creates a new Beeper chat with the phone number. Does not send a message — that happens in the next node."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Prepare Missed New Chat').item.json.name }}","Phone":"={{ $('Prepare Missed New Chat').item.json.phone }}","Type":"late birthday (new chat)","Message":"={{ $('Prepare Missed New Chat').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7861a0e6-949c-4aaf-92a4-c5fb2df707fc","name":"Log Missed New Chat Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,144],"notes":"Logs the late birthday new chat send to the Sent-log sheet."},{"parameters":{"method":"POST","url":"={{ $(\"Prepare Missed New Chat\").first().json.beeperHost }}/v1/chats/{{ encodeURIComponent($json.id) }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $(\"Prepare Missed New Chat\").first().json.message }}\"}","options":{}},"id":"b2d0a4d4-07dc-4ad5-9420-6fa177074ae8","name":"Send Missed Birthday Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,144],"notes":"Sends the belated birthday message to the newly created chat."},{"parameters":{"documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"options":{}},"id":"40c21da1-875b-4957-a0c0-48ae4afec2cd","name":"Read Sent Log Today","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1280,336],"executeOnce":true,"alwaysOutputData":true,"notes":"Reads the Sent-log to check if today's birthday messages were already sent."},{"parameters":{"jsCode":"const todaysBirthdays = $('Filter Todays Birthdays').all();\nconst logEntries = $input.all();\nconst eightDaysAgo = new Date(Date.now() - 8 * 24 * 60 * 60 * 1000);\n\nconst recentLogs = logEntries.filter(log => {\n  const logDate = new Date(log.json.Date);\n  return !isNaN(logDate) && logDate >= eightDaysAgo;\n});\n\nconst unsent = todaysBirthdays.filter(tb => {\n  const phone = String(tb.json.Phone || '').trim().replace(/^\\+/, '');\n  return !recentLogs.some(log => {\n    const logPhone = String(log.json.Phone || '').trim().replace(/^\\+/, '');\n    const logType = String(log.json.Type || '').toLowerCase();\n    return logPhone === phone && logType.includes('birthday');\n  });\n});\n\nreturn unsent.map(tb => ({ json: { ...tb.json } }));"},"id":"ca719e4b-0d02-464c-b315-9ec7e59cb761","name":"Filter Unsent Today","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,336],"notes":"Filters out anyone who already received a birthday message in the last 8 days. Prevents duplicate sends on re-runs."}],"connections":{"Manual Trigger":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Generate IP Candidates":{"main":[[{"node":"Beeper Health Check","type":"main","index":0}]]},"Beeper Health Check":{"main":[[{"node":"Select Live Host","type":"main","index":0}]]},"Select Live Host":{"main":[[{"node":"Read Birthday Sheet","type":"main","index":0}]]},"Read Birthday Sheet":{"main":[[{"node":"Filter Todays Birthdays","type":"main","index":0},{"node":"Filter Missed Birthdays","type":"main","index":0}]]},"Filter Todays Birthdays":{"main":[[{"node":"Read Sent Log Today","type":"main","index":0}]]},"Search Chat by Phone":{"main":[[{"node":"Extract Chat ID","type":"main","index":0}]]},"Extract Chat ID":{"main":[[{"node":"Chat Found?","type":"main","index":0}]]},"Chat Found?":{"main":[[{"node":"Send Birthday Message","type":"main","index":0}],[{"node":"Prepare New Chat","type":"main","index":0}]]},"Send Birthday Message":{"main":[[{"node":"Log Birthday Send","type":"main","index":0}]]},"Log Birthday Send":{"main":[[{"node":"Dinner Plans?","type":"main","index":0}]]},"Dinner Plans?":{"main":[[{"node":"Dinner Delay","type":"main","index":0}]]},"Dinner Delay":{"main":[[{"node":"Send Dinner Message","type":"main","index":0}]]},"Send Dinner Message":{"main":[[{"node":"Log Dinner Send","type":"main","index":0}]]},"Prepare New Chat":{"main":[[{"node":"Create Chat & Send","type":"main","index":0}]]},"Create Chat & Send":{"main":[[{"node":"Log New Chat Send","type":"main","index":0}]]},"Log New Chat Send":{"main":[[{"node":"New Chat Dinner?","type":"main","index":0}]]},"New Chat Dinner?":{"main":[[{"node":"New Chat Dinner Delay","type":"main","index":0}]]},"New Chat Dinner Delay":{"main":[[{"node":"Send New Chat Dinner","type":"main","index":0}]]},"Send New Chat Dinner":{"main":[[{"node":"Log New Chat Dinner Send","type":"main","index":0}]]},"Daily 6AM Trigger":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Filter Missed Birthdays":{"main":[[{"node":"Read Sent Log","type":"main","index":0}]]},"Read Sent Log":{"main":[[{"node":"Find Unsent Birthdays","type":"main","index":0}]]},"Find Unsent Birthdays":{"main":[[{"node":"Search Missed Chat","type":"main","index":0}]]},"Search Missed Chat":{"main":[[{"node":"Extract Missed Chat ID","type":"main","index":0}]]},"Extract Missed Chat ID":{"main":[[{"node":"Missed Chat Found?","type":"main","index":0}]]},"Missed Chat Found?":{"main":[[{"node":"Send Late Birthday","type":"main","index":0}],[{"node":"Prepare Missed New Chat","type":"main","index":0}]]},"Send Late Birthday":{"main":[[{"node":"Log Late Birthday Send","type":"main","index":0}]]},"Prepare Missed New Chat":{"main":[[{"node":"Create Missed Chat","type":"main","index":0}]]},"Create Missed Chat":{"main":[[{"node":"Send Missed Birthday Message","type":"main","index":0}]]},"Send Missed Birthday Message":{"main":[[{"node":"Log Missed New Chat Send","type":"main","index":0}]]},"Read Sent Log Today":{"main":[[{"node":"Filter Unsent Today","type":"main","index":0}]]},"Filter Unsent Today":{"main":[[{"node":"Search Chat by Phone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"51c42f43-65cd-4d01-b8f4-16e4fbe1d7d8","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-01T21:24:21.584Z","createdAt":"2026-03-01T21:24:21.584Z","role":"workflow:owner","workflowId":"PgbyAFzDm6606USb","projectId":"breq9JgXWiQUjyug","project":{"updatedAt":"2026-03-01T14:50:08.421Z","createdAt":"2026-03-01T14:39:09.471Z","id":"breq9JgXWiQUjyug","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8bf7b849-38d9-4483-976e-aee3577c53f6"}}],"tags":[],"activeVersion":null}