hbf_online/2025/12/Edit Image Nanobanana Tool/HKLcCfRZSo8s5Ut7.json
{"updatedAt":"2025-12-15T01:05:11.595Z","createdAt":"2025-12-15T01:04:59.778Z","id":"HKLcCfRZSo8s5Ut7","name":"Edit Image Nanobanana Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"imageID"},{"name":"telegramID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,192],"id":"3a4ead32-aedd-436c-ab05-e40573f9f3bd","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,192],"id":"cd556713-f0ed-4b6d-ac20-95e4acec121e","name":"Get URL"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.imageID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,192],"id":"c309b61f-0f51-4a33-ac80-fae6688072e4","name":"Download file"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.imagePrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,192],"id":"c1dc7dfb-693b-4b4d-9a92-19c2d95127c2","name":"Create Image"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,192],"id":"25a87a2e-0799-4227-9273-715633a11caf","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Response","value":"=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,192],"id":"d1687478-bf80-435a-b65f-2acbdf7bbb42","name":"Result"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,192],"id":"93cfd7b3-1bc6-44f5-9015-68d01302cc65","name":"Download Image"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,192],"id":"45859472-8506-4818-92b0-9f11ab7c6bb7","name":"10 Seconds","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,192],"id":"9d413a2c-1f0d-4bba-92bb-e126ed0dc230","name":"Upload file"},{"parameters":{"content":"## Input","height":224,"width":176,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,128],"id":"ac02cd04-3e42-4732-853d-8c4f05e4e480","name":"Sticky Note"},{"parameters":{"content":"## Download File URL","height":224,"width":288,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,128],"id":"b201ac99-8e71-4599-b504-dc4418cd9b72","name":"Sticky Note1"},{"parameters":{"content":"## Create AI Image","height":224,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,128],"id":"98e0fec6-eac6-471c-9e2e-f0e2e8cd42ab","name":"Sticky Note2"},{"parameters":{"content":"## Polling","height":224,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,368],"id":"15846cbc-3261-429f-9628-801f31778b25","name":"Sticky Note3"},{"parameters":{"content":"## Output","height":224,"width":592,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,128],"id":"2c51808f-0729-4a0f-9e3f-214b890a2c40","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,448],"id":"f172be63-23f9-4ce2-8898-af7c76e9300f","name":"5 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.telegramID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,192],"id":"d342e566-389d-4b03-a0d8-7c7f6465050e","name":"Send a photo message","webhookId":"a67b9c43-8cbe-4859-b6bc-19c98d63e038"}],"connections":{"Get URL":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"10 Seconds","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"5 Seconds","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Send a photo message","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Result","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Download file","type":"main","index":0}]]},"5 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bfe410aa-c71f-4979-8ebe-e25efac2d244","activeVersionId":"bfe410aa-c71f-4979-8ebe-e25efac2d244","versionCounter":10,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T01:04:59.780Z","createdAt":"2025-12-15T01:04:59.780Z","role":"workflow:owner","workflowId":"HKLcCfRZSo8s5Ut7","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2025-12-27T23:07:44.560Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-15T01:04:59.782Z","createdAt":"2025-12-15T01:04:59.782Z","versionId":"bfe410aa-c71f-4979-8ebe-e25efac2d244","workflowId":"HKLcCfRZSo8s5Ut7","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"imageID"},{"name":"telegramID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,192],"id":"3a4ead32-aedd-436c-ab05-e40573f9f3bd","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,192],"id":"cd556713-f0ed-4b6d-ac20-95e4acec121e","name":"Get URL"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.imageID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,192],"id":"c309b61f-0f51-4a33-ac80-fae6688072e4","name":"Download file"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.imagePrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,192],"id":"c1dc7dfb-693b-4b4d-9a92-19c2d95127c2","name":"Create Image"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,192],"id":"25a87a2e-0799-4227-9273-715633a11caf","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Response","value":"=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,192],"id":"d1687478-bf80-435a-b65f-2acbdf7bbb42","name":"Result"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,192],"id":"93cfd7b3-1bc6-44f5-9015-68d01302cc65","name":"Download Image"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,192],"id":"45859472-8506-4818-92b0-9f11ab7c6bb7","name":"10 Seconds","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,192],"id":"9d413a2c-1f0d-4bba-92bb-e126ed0dc230","name":"Upload file"},{"parameters":{"content":"## Input","height":224,"width":176,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,128],"id":"ac02cd04-3e42-4732-853d-8c4f05e4e480","name":"Sticky Note"},{"parameters":{"content":"## Download File URL","height":224,"width":288,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,128],"id":"b201ac99-8e71-4599-b504-dc4418cd9b72","name":"Sticky Note1"},{"parameters":{"content":"## Create AI Image","height":224,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,128],"id":"98e0fec6-eac6-471c-9e2e-f0e2e8cd42ab","name":"Sticky Note2"},{"parameters":{"content":"## Polling","height":224,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,368],"id":"15846cbc-3261-429f-9628-801f31778b25","name":"Sticky Note3"},{"parameters":{"content":"## Output","height":224,"width":592,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,128],"id":"2c51808f-0729-4a0f-9e3f-214b890a2c40","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,448],"id":"f172be63-23f9-4ce2-8898-af7c76e9300f","name":"5 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.telegramID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,192],"id":"d342e566-389d-4b03-a0d8-7c7f6465050e","name":"Send a photo message","webhookId":"a67b9c43-8cbe-4859-b6bc-19c98d63e038"}],"connections":{"Get URL":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"10 Seconds","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"5 Seconds","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Send a photo message","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Result","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Download file","type":"main","index":0}]]},"5 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"authors":"Alex  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[]}}