hbf_online/2025/12/Combine Images Nanobanana/gi0JcezElVuY999e.json
{"updatedAt":"2025-12-15T01:05:36.000Z","createdAt":"2025-12-15T01:05:36.434Z","id":"gi0JcezElVuY999e","name":"Combine Images Nanobanana","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,64],"id":"ed5a5a24-b1d9-4a02-925b-2ffdaeab67eb","name":"Get URL"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"image1"},{"name":"image2"},{"name":"imageTitle"},{"name":"telegramID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[48,64],"id":"e5a1ae22-0e07-4b7e-925e-e8a9eedd5ea9","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $json.image1 }}','{{ $json.image2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,64],"id":"e3e2bfef-4f82-4d18-b88f-18f8972457a6","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,64],"id":"deae3df1-9976-4750-b017-f64f9f8fcd3f","name":"Split Out"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,64],"id":"61b6c301-822d-4cc9-9d82-02e655e7922e","name":"Download file"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,64],"id":"a656683c-d75a-4995-b37d-16fb248fe269","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,64],"id":"be12405b-3cef-45fd-aa8d-db2fb18d75fe","name":"Create Image"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,64],"id":"15f34e1c-26e3-4035-acc9-0da546879b1a","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Response","value":"=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,64],"id":"b2a96c0e-af45-4145-9d41-388558d7fd7a","name":"Result"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,64],"id":"0f549047-b9b3-46c8-b53f-40193a960449","name":"Download Image"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1072,64],"id":"054a7423-cbe1-4391-81d0-750956896263","name":"10 Seconds","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"content":"## Input","height":224,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"02618dd8-e249-4fad-8a6e-79881affc37c","name":"Sticky Note"},{"parameters":{"content":"## Download File URLs","height":224,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,0],"id":"dcc5239d-9396-43df-8ba0-65bf14b1b2ca","name":"Sticky Note1"},{"parameters":{"content":"## Create AI Image","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,0],"id":"358fef22-2590-46b8-b5e3-47084d3c7d75","name":"Sticky Note2"},{"parameters":{"content":"## Polling","height":224,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,240],"id":"2c8107d6-1edb-4680-92d8-e191a15204bc","name":"Sticky Note3"},{"parameters":{"content":"## Output","height":224,"width":592,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,0],"id":"8f20f5a3-1d35-4d4a-837f-0e6735fdcda5","name":"Sticky Note4"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1536,64],"id":"004106f1-5cab-4860-a05d-52674839edd6","name":"Upload file"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,304],"id":"783a8bfa-dfee-406e-80c0-b078c3550651","name":"5 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.telegramID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,64],"id":"d939aaab-eaaf-4bd3-aa6d-d1decb56e180","name":"Send a photo message","webhookId":"394977f6-d15f-4e37-9376-623b5c133399"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Get URL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"5 Seconds","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"10 Seconds","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Send a photo message","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Result","type":"main","index":0}]]},"5 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"578b50f3-e851-4bc0-9467-f603cc2d07b4","activeVersionId":null,"versionCounter":11,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T01:05:36.442Z","createdAt":"2025-12-15T01:05:36.442Z","role":"workflow:owner","workflowId":"gi0JcezElVuY999e","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-15T05:33:50.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1767920967351}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-15","isPending":false}}]}}],"tags":[],"activeVersion":null}