hbf_online/2026/01/HARO Opportunity Matcher and Response Generator/aUtrEPrmPawBXQqz8xBhg.json
{"updatedAt":"2026-01-26T20:33:42.000Z","createdAt":"2026-01-26T18:06:39.283Z","id":"aUtrEPrmPawBXQqz8xBhg","name":"HARO Opportunity Matcher and Response Generator","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":5}]},"filters":{"sender":"haro@helpareporter.com"}},"id":"d4987ba2-0a44-4763-87ba-6a9a11d28b96","name":"Watch for HARO Emails","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[2112,48],"credentials":{"gmailOAuth2":{"id":"xmJnd4qGDzBuq1hH","name":"Gmail account 2"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"processed_haro_emails"},"limit":1,"where":{"values":[{"column":"email_id","value":"={{ $json.id }}"}]},"options":{}},"id":"3d85b7c8-15b6-404c-9f29-5cd4ec091891","name":"Check if Email Already Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2336,48],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Check if email was found in database\nconst dbResult = $input.item.json;\n\n// If the database returned a result with a count > 0, it's a duplicate\nconst isDuplicate = dbResult.count && dbResult.count > 0;\n\n// Get the original email data from the previous node\nconst emailData = $('Watch for HARO Emails').item.json;\n\n// Return the result with isDuplicate flag and original email data\nreturn {\n  json: {\n    isDuplicate: isDuplicate,\n    ...emailData\n  }\n};"},"id":"dd0e109c-e814-4892-8f7e-24ea8e6088f0","name":"Check Duplicate Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $('Check Duplicate Status').item.json.isDuplicate }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9f321b9d-91fb-490e-b1e0-96feec6286dd","name":"Is New Email?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2784,48]},{"parameters":{"operation":"text","options":{}},"id":"0f10d34e-2f8f-4ef8-8026-9c03444c535f","name":"Extract Email Content","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[3008,48]},{"parameters":{"promptType":"define","text":"={{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at analyzing HARO (Help A Reporter Out) emails to identify opportunities for subject matter experts.\n\nYour task is to:\n1. Read the HARO email content carefully\n2. Identify any queries where the following expertise would be valuable:\n   - Kubernetes and software infrastructure\n   - Enterprise software architecture\n   - Software development and SaaS products\n   - Business automation at scale\n   - AI automation for businesses\n   - Private aviation/piloting\n   - Location-specific: Louisville, Kentucky\n\n3. For each relevant opportunity, extract:\n   - The reporter's query/request\n   - Why this person's expertise matches\n   - The deadline (if mentioned)\n   - Contact information for the reporter\n\n4. Only return opportunities that are a strong match for the expertise areas listed above\n5. If no relevant opportunities are found, return an empty array\n\nReturn your findings in the structured format defined by the output parser."}},"id":"5b58bc61-5f1e-4c61-b986-31adf1a4cd26","name":"Analyze HARO Opportunities","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3232,48]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{}},"id":"a1ac80cf-97c9-4801-90bc-5d9cf9ce316c","name":"OpenAI GPT-4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3248,272],"credentials":{"openAiApi":{"id":"y07JKh2ymmrkYLKR","name":"n8n free OpenAI API credits"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"opportunities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"query\": {\n            \"type\": \"string\"\n          },\n          \"matchReason\": {\n            \"type\": \"string\"\n          },\n          \"deadline\": {\n            \"type\": \"string\"\n          },\n          \"contactInfo\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"hasRelevantOpportunities\": {\n      \"type\": \"boolean\"\n    }\n  }\n}"},"id":"b52c7457-dcda-4187-a4d4-b2709b60f6c5","name":"Structure Opportunity Data","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3376,272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.hasRelevantOpportunities }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f35d26c4-76b7-43de-ab49-15fca3ef16f9","name":"Found Relevant Opportunities?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3584,48]},{"parameters":{"promptType":"define","text":"=Opportunity: {{ $json.opportunities[0].query }}\n\nWhy I match: {{ $json.opportunities[0].matchReason }}\n\nDeadline: {{ $json.opportunities[0].deadline }}\n\nContact: {{ $json.opportunities[0].contactInfo }}","options":{"systemMessage":"You are an expert at crafting professional, compelling responses to HARO (Help A Reporter Out) queries.\n\nYour task is to:\n1. Review the opportunity details provided\n2. Draft a professional response email that:\n   - Introduces the expert briefly\n   - Explains their relevant expertise and credentials\n   - Provides a thoughtful, helpful response to the reporter's query\n   - Offers to provide additional information if needed\n   - Is concise but informative (2-3 paragraphs)\n   - Uses a professional but friendly tone\n\nExpert background to reference:\n- Kubernetes and software infrastructure specialist\n- Enterprise software architect\n- Software developer and SaaS founder\n- Private pilot\n- Based in Louisville, Kentucky\n- Business automation at scale specialist\n- AI automation consultant for businesses\n\nReturn ONLY the email body text, ready to be sent."}},"id":"1183fa84-394a-471b-9a21-d6b6617e8f7f","name":"Generate Response Draft","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3808,48]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{}},"id":"dab17565-3637-4cf4-b914-ae49e02e0185","name":"OpenAI GPT-4 for Response","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3888,272],"credentials":{"openAiApi":{"id":"y07JKh2ymmrkYLKR","name":"n8n free OpenAI API credits"}}},{"parameters":{"schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"processed_haro_emails"},"columns":{"mappingMode":"defineBelow","value":{"email_id":"={{ $('Watch for HARO Emails').item.json.id }}","processed_at":"={{ $now.toISO() }}","found_opportunities":"={{ $json.opportunities.length }}"}},"options":{}},"id":"48ce6668-0acc-4482-baa4-a59e12f3e208","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4384,48],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"sendTo":"zac16530@gmail.com","subject":"=HARO Opportunity Found: {{ $json.opportunities[0].query.substring(0, 50) }}...","emailType":"text","message":"=HARO Opportunity Alert\n\n{{ $json.opportunities[0].query }}\n\nWhy this matches your expertise:\n{{ $json.opportunities[0].matchReason }}\n\nDeadline: {{ $json.opportunities[0].deadline }}\nContact: {{ $json.opportunities[0].contactInfo }}\n\n---\n\nSUGGESTED RESPONSE:\n\n{{ $('Generate Response Draft').item.json.output }}","options":{}},"id":"300a6dd3-6a88-4b08-b2a7-41c07362d384","name":"Send Opportunity Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[4160,48],"webhookId":"785964ed-b905-4ad6-808c-fe79773dd143","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}}],"connections":{"Watch for HARO Emails":{"main":[[{"node":"Check if Email Already Processed","type":"main","index":0}]]},"Check if Email Already Processed":{"main":[[{"node":"Check Duplicate Status","type":"main","index":0}]]},"Check Duplicate Status":{"main":[[{"node":"Is New Email?","type":"main","index":0}]]},"Is New Email?":{"main":[[{"node":"Extract Email Content","type":"main","index":0}]]},"Extract Email Content":{"main":[[{"node":"Analyze HARO Opportunities","type":"main","index":0}]]},"OpenAI GPT-4":{"ai_languageModel":[[{"node":"Analyze HARO Opportunities","type":"ai_languageModel","index":0}]]},"Structure Opportunity Data":{"ai_outputParser":[[{"node":"Analyze HARO Opportunities","type":"ai_outputParser","index":0}]]},"Analyze HARO Opportunities":{"main":[[{"node":"Found Relevant Opportunities?","type":"main","index":0}]]},"Found Relevant Opportunities?":{"main":[[{"node":"Generate Response Draft","type":"main","index":0}]]},"OpenAI GPT-4 for Response":{"ai_languageModel":[[{"node":"Generate Response Draft","type":"ai_languageModel","index":0}]]},"Generate Response Draft":{"main":[[{"node":"Send Opportunity Email","type":"main","index":0}]]},"Send Opportunity Email":{"main":[[{"node":"Mark Email as Processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"80d3810b-be28-410d-8295-bc14b0cf976e","activeVersionId":null,"versionCounter":13,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T18:06:39.293Z","createdAt":"2026-01-26T18:06:39.293Z","role":"workflow:owner","workflowId":"aUtrEPrmPawBXQqz8xBhg","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-13T05:33:06.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-13","isPending":false}}]}}],"tags":[],"activeVersion":null}