hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive (v2)/LNEZu6mfCezjbB3J.json
{"updatedAt":"2026-06-14T23:04:46.149Z","createdAt":"2026-06-14T23:04:46.149Z","id":"LNEZu6mfCezjbB3J","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive (v2)","description":"Invoices and receipts both go to Accounting/Receipts/Year/Vendor in Drive, plus logs each file to a monthly-tabbed Google Sheet.","active":false,"isArchived":false,"nodes":[{"id":"6ae27cf2-fc58-44d6-9ce8-b82c973c5975","name":"Sticky Note 4d98990b","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## 📧 Gmail Invoice & Receipt Auto-Organizer\n\n**Polls Gmail every Monday at 8am.**\n\n**Google Drive structure:**\n```\nAccounting/\n  Receipts/\n    2026/\n      VendorName/   <- both invoices AND receipts land here\n```\n\n**Folder matching:** Case-insensitive exact match first, then partial match (e.g. \"NetflixInc\" matches \"Netflix\"). Only creates a new folder if neither matches.\n\n**Logging:** Every processed file is logged to a Google Sheet \"Invoice and Receipt Log\" (created in My Drive root if missing), with one tab per month (e.g. \"June 2026\"). The \"Document Type\" column records whether it was an Invoice or Receipt.\n\n**Setup:** Connect Gmail OAuth2, Google Drive OAuth2, and Google Sheets OAuth2 credentials, then activate.","color":3,"width":300,"height":200}},{"id":"c536a711-5d5f-49c1-9d6e-740ff864bd84","name":"Sticky Note c14232b7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## 📁 Folder Resolution\n1. Accounting/ (root) — find or create\n2. Receipts/ inside Accounting — find or create\n3. Current YEAR folder (e.g. 2026) inside Receipts — find or create\n4. VendorName/ — case-insensitive + partial match — inside the Year folder\n5. Upload file (invoice or receipt, same destination)\n6. Log the upload to the monthly tab of \"Invoice and Receipt Log\"","color":5,"width":300,"height":200}},{"id":"a1becd32-d879-44b0-98e2-c5718f11d789","name":"Sticky Note 7add1f81","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## 📊 Log Spreadsheet\nLooks for a spreadsheet named \"Invoice and Receipt Log\" in My Drive root.\n- If missing, creates it with a tab for the current month.\n- If found, ensures a tab for the current month exists (creates if missing).\nEach processed attachment gets one row, tagged Invoice or Receipt in the Document Type column.","color":4,"width":300,"height":200}},{"id":"3d3090c5-ac88-4930-b62f-bc8a031605de","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,96],"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","weekday":"1","hour":8,"minute":0}]},"simple":false,"maxResults":20,"filters":{"readStatus":"unread","q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment"},"options":{"downloadAttachments":true,"dataPropertyAttachmentsPrefixName":"attachment_"}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"id":"569a9a58-334c-4dfe-8c86-ed0082cd4790","name":"Extract Email Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst monthTabName = now.toLocaleString('en-US', { month: 'long', year: 'numeric' });\nconst dateProcessed = now.toISOString().split('T')[0];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromName = item.json.from?.value?.[0]?.name || from;\n  const emailDate = item.json.date ? new Date(item.json.date).toISOString().split('T')[0] : dateProcessed;\n\n  const emailMatch = from.match(/@([^.]+)/);\n  const senderKey = emailMatch ? emailMatch[1] : fromName.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n  const senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipt';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoice';\n  }\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType, senderFolder, year, monthTabName, dateProcessed, emailDate, subject, from,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf'\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n      "}},{"id":"29b7629a-f5e4-42f2-af21-e02c5c7ae13c","name":"Search Accounting Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,96],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"Accounting","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"5c7f5a2e-12ea-4641-9d7d-50173e12c8b9","name":"Resolve Accounting Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'accounting');\nreturn [{ json: { ...meta.json, accountingFolderId: match ? match.json.id : '', accountingExists: !!match }, binary: meta.binary || {} }];\n      "}},{"id":"02908f42-43b2-4a79-ac5d-b67147be81f5","name":"Accounting Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.accountingExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"18acb12f-89de-4e20-91ff-6825f2706021","name":"Search Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,96],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"Receipts","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Accounting Folder').item.json.accountingFolderId || $('Set Accounting Folder ID').item.json.accountingFolderId }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"f1e28c04-8e82-4de2-ad8a-e57b078c2eb5","name":"Create Accounting Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,176],"parameters":{"resource":"folder","operation":"create","name":"Accounting","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"aa45a25c-03b3-4047-a846-82392e0d23f2","name":"Set Accounting Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,176],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"c1","name":"accountingFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"00f57c6e-4202-41f5-b6f5-ef9e7103a84b","name":"Resolve Receipts Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'receipts');\nreturn [{ json: { ...meta.json, receiptsFolderId: match ? match.json.id : '', receiptsExists: !!match }, binary: meta.binary || {} }];\n      "}},{"id":"7d8ea3b6-8385-4279-8d73-32c6f00df635","name":"Receipts Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2016,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.receiptsExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"9c0a1be4-d80d-4eb9-bb89-7449304d97d3","name":"Search Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2688,96],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"={{ $json.year }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Receipts Folder').item.json.receiptsFolderId || $('Set Receipts Folder ID').item.json.receiptsFolderId }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"a11594e3-10d6-4987-a77e-bca2a1437e57","name":"Create Receipts Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,176],"parameters":{"resource":"folder","operation":"create","name":"Receipts","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.accountingFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"2051dc4c-e137-4ace-b3ff-87477e138018","name":"Set Receipts Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,176],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"r1","name":"receiptsFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"6130fd01-dc85-4910-9f56-f661a5530fa4","name":"Resolve Year Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '') === meta.json.year);\nreturn [{ json: { ...meta.json, yearFolderId: match ? match.json.id : '', yearExists: !!match }, binary: meta.binary || {} }];\n      "}},{"id":"0f592125-f991-45a7-816d-0a6029be434e","name":"Year Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3136,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.yearExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"16239a27-edd6-47e4-a463-d7fb057e73c0","name":"Search Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3808,96],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"={{ $json.senderFolder }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Year Folder').item.json.yearFolderId || $('Set Year Folder ID').item.json.yearFolderId }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"cdda199d-17f1-4d6b-a81f-35def1022785","name":"Create Year Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,176],"parameters":{"resource":"folder","operation":"create","name":"={{ $json.year }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Receipts Folder').item.json.receiptsFolderId || $('Set Receipts Folder ID').item.json.receiptsFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"f44af02d-50c2-42b7-89b7-35f7a1320433","name":"Set Year Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3584,176],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"y1","name":"yearFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"4c857994-1dd1-4114-bcaa-a92dc3e64144","name":"Resolve Vendor Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst senderFolder = (meta.json.senderFolder || '').toLowerCase();\n\nconst exactMatch = items.find(i => (i.json.name || '').toLowerCase() === senderFolder);\nconst partialMatch = !exactMatch\n  ? items.find(i => {\n      const name = (i.json.name || '').toLowerCase();\n      return name.includes(senderFolder) || senderFolder.includes(name);\n    })\n  : null;\n\nconst match = exactMatch || partialMatch;\nconst vendorFolderId = match ? match.json.id : '';\n\nreturn [{\n  json: { ...meta.json, vendorFolderId, vendorFolderExists: !!vendorFolderId, matchedFolderName: match ? match.json.name : '' },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"242d1ccb-a8e6-4aa4-aa0f-a48f3ad566a0","name":"Vendor Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4256,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.vendorFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"34fcd813-4c1c-4714-81c3-f90ad110bbf4","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4928,96],"parameters":{"resource":"file","operation":"upload","inputDataFieldName":"data","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Vendor Folder').item.json.vendorFolderId || $('Set New Vendor Folder ID').item.json.vendorFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"fffa5d69-a654-4e7a-99c5-618e79b8df0f","name":"Create Vendor Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4480,176],"parameters":{"resource":"folder","operation":"create","name":"={{ $json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Year Folder').item.json.yearFolderId || $('Set Year Folder ID').item.json.yearFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"50c92469-176e-4031-9bce-538870dd049f","name":"Set New Vendor Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4704,176],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"v1","name":"vendorFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"ade503c6-ae4d-45dc-b0f7-c7d3067f3d5d","name":"Search Log Spreadsheet","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[5152,96],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"Invoice and Receipt Log","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.spreadsheet"]}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"49d1c663-1c52-422d-b14c-f1a11d8c3154","name":"Resolve Log Spreadsheet","type":"n8n-nodes-base.code","typeVersion":2,"position":[5376,96],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'invoice and receipt log');\nreturn [{ json: { ...meta.json, logSpreadsheetId: match ? match.json.id : '', logSpreadsheetExists: !!match }, binary: meta.binary || {} }];\n      "}},{"id":"57f718f8-02de-4f10-80aa-57760db34d90","name":"Log Spreadsheet Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5600,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.logSpreadsheetExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"5504f53f-f45b-4abb-91cb-e50a1b4b3149","name":"Ensure Month Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6048,0],"parameters":{"resource":"sheet","operation":"create","documentId":{"__rl":true,"mode":"id","value":"={{ $json.logSpreadsheetId }}"},"title":"={{ $json.monthTabName }}"},"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"id":"efc90d4e-f9df-4724-87d8-2aceb6b31020","name":"Create Log Spreadsheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5824,192],"parameters":{"resource":"spreadsheet","operation":"create","title":"Invoice and Receipt Log","sheetsUi":{"sheetValues":[{"title":"={{ $json.monthTabName }}"}]}},"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}},{"id":"5b466acc-3d79-41c9-98c7-5fe22662ea7a","name":"Set Log Spreadsheet ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6048,192],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"l1","name":"logSpreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]}}},{"id":"36c3b97b-7a06-4079-93bf-06f9fb229c75","name":"Append Log Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6272,96],"parameters":{"resource":"sheet","operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Log Spreadsheet').item.json.logSpreadsheetId || $('Set Log Spreadsheet ID').item.json.logSpreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.monthTabName }}"},"columns":{"mappingMode":"defineBelow","value":{"Date Processed":"={{ $json.dateProcessed }}","Document Type":"={{ $json.docType }}","Vendor":"={{ $json.senderFolder }}","Subject":"={{ $json.subject }}","From":"={{ $json.from }}","File Name":"={{ $json.fileName }}","Email Date":"={{ $json.emailDate }}","Drive Link":"={{ $('Upload Attachment to Drive').item.json.webViewLink }}"},"schema":[{"id":"Date Processed","displayName":"Date Processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Document Type","displayName":"Document Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Email Date","displayName":"Email Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]}},"credentials":{"googleSheetsOAuth2Api":{"id":"lzhy9VSMiDMFlAm7","name":"Google Sheets account"}}}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract Email Metadata","type":"main","index":0}]]},"Extract Email Metadata":{"main":[[{"node":"Search Accounting Folder","type":"main","index":0}]]},"Search Accounting Folder":{"main":[[{"node":"Resolve Accounting Folder","type":"main","index":0}]]},"Resolve Accounting Folder":{"main":[[{"node":"Accounting Folder Exists?","type":"main","index":0}]]},"Accounting Folder Exists?":{"main":[[{"node":"Search Receipts Folder","type":"main","index":0}],[{"node":"Create Accounting Folder","type":"main","index":0}]]},"Search Receipts Folder":{"main":[[{"node":"Resolve Receipts Folder","type":"main","index":0}]]},"Create Accounting Folder":{"main":[[{"node":"Set Accounting Folder ID","type":"main","index":0}]]},"Set Accounting Folder ID":{"main":[[{"node":"Search Receipts Folder","type":"main","index":0}]]},"Resolve Receipts Folder":{"main":[[{"node":"Receipts Folder Exists?","type":"main","index":0}]]},"Receipts Folder Exists?":{"main":[[{"node":"Search Year Folder","type":"main","index":0}],[{"node":"Create Receipts Folder","type":"main","index":0}]]},"Search Year Folder":{"main":[[{"node":"Resolve Year Folder","type":"main","index":0}]]},"Create Receipts Folder":{"main":[[{"node":"Set Receipts Folder ID","type":"main","index":0}]]},"Set Receipts Folder ID":{"main":[[{"node":"Search Year Folder","type":"main","index":0}]]},"Resolve Year Folder":{"main":[[{"node":"Year Folder Exists?","type":"main","index":0}]]},"Year Folder Exists?":{"main":[[{"node":"Search Vendor Folder","type":"main","index":0}],[{"node":"Create Year Folder","type":"main","index":0}]]},"Search Vendor Folder":{"main":[[{"node":"Resolve Vendor Folder","type":"main","index":0}]]},"Create Year Folder":{"main":[[{"node":"Set Year Folder ID","type":"main","index":0}]]},"Set Year Folder ID":{"main":[[{"node":"Search Vendor Folder","type":"main","index":0}]]},"Resolve Vendor Folder":{"main":[[{"node":"Vendor Folder Exists?","type":"main","index":0}]]},"Vendor Folder Exists?":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}],[{"node":"Create Vendor Folder","type":"main","index":0}]]},"Upload Attachment to Drive":{"main":[[{"node":"Search Log Spreadsheet","type":"main","index":0}]]},"Create Vendor Folder":{"main":[[{"node":"Set New Vendor Folder ID","type":"main","index":0}]]},"Set New Vendor Folder ID":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]},"Search Log Spreadsheet":{"main":[[{"node":"Resolve Log Spreadsheet","type":"main","index":0}]]},"Resolve Log Spreadsheet":{"main":[[{"node":"Log Spreadsheet Exists?","type":"main","index":0}]]},"Log Spreadsheet Exists?":{"main":[[{"node":"Ensure Month Tab","type":"main","index":0}],[{"node":"Create Log Spreadsheet","type":"main","index":0}]]},"Ensure Month Tab":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]},"Create Log Spreadsheet":{"main":[[{"node":"Set Log Spreadsheet ID","type":"main","index":0}]]},"Set Log Spreadsheet ID":{"main":[[{"node":"Append Log Row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"aa4ef1e5-8b13-473b-9ddb-e4fff915ee01","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-14T23:04:46.158Z","createdAt":"2026-06-14T23:04:46.158Z","role":"workflow:owner","workflowId":"LNEZu6mfCezjbB3J","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}