hbf_online/2025/12/Booming Bookkeeping Email Archive to Vector Database/vO1sjY85xzKiwYce.json
{"updatedAt":"2026-01-20T12:47:15.598Z","createdAt":"2025-12-15T14:43:19.987Z","id":"vO1sjY85xzKiwYce","name":"Booming Bookkeeping Email Archive to Vector Database","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"daysThreshold","value":30,"type":"number"},{"id":"id-2","name":"minDaysOld","value":30,"type":"number"},{"id":"id-3","name":"maxDaysOld","value":60,"type":"number"},{"id":"id-4","name":"senderEmail","value":"support@boomingbookkeeping.com","type":"string"},{"id":"id-5","name":"processAllEmails","value":true,"type":"boolean"},{"id":"id-6","name":"useCustomDateRange","value":false,"type":"boolean"},{"id":"id-7","name":"customStartDate","value":"","type":"string"},{"id":"id-8","name":"customEndDate","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fa5d11c5-c3ae-4a9f-9ce9-052e41f9dfb3","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6416,3824]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $('Workflow Configuration').first().json.processAllEmails }}","operator":{"type":"boolean","operation":"true"}},{"id":"id-2","leftValue":"={{ $('Workflow Configuration').first().json.processAllEmails }}","operator":{"type":"boolean","operation":"false"}},{"id":"id-3","leftValue":"={{ $now.diff($json.date, 'days') >= $('Workflow Configuration').first().json.minDaysOld }}","operator":{"type":"boolean","operation":"true"}},{"id":"id-4","leftValue":"={{ $now.diff($json.date, 'days') <= $('Workflow Configuration').first().json.maxDaysOld }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"or"},"options":{}},"id":"eb4eff97-df4b-4049-a22f-e9eac13ffcfe","name":"Check Email Age","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5552,3744]},{"parameters":{"promptType":"define","text":"={{ $json.email_thread }}","hasOutputParser":true,"options":{"systemMessage":"You are an AI assistant that summarizes email threads into a Question and Answer format.\n\nYour task is to:\n1. Analyze the ENTIRE email thread conversation provided\n2. Extract the main question or topic from the thread\n3. Provide a comprehensive answer based on ALL messages in the thread\n4. Consider the full context and conversation flow\n5. Return the result in the structured JSON format with \"question\" and \"answer\" fields\n\nBe concise but comprehensive in your summaries, capturing the essence of the entire conversation."}},"id":"1000003c-aa03-4de9-a59b-b09413359dfe","name":"Summarize Email to Q&A","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-5408,5264]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"question\": {\n      \"type\": \"string\",\n      \"description\": \"The main question or topic from the email\"\n    },\n    \"answer\": {\n      \"type\": \"string\",\n      \"description\": \"The answer or summary of the email content\"\n    }\n  },\n  \"required\": [\"question\", \"answer\"]\n}"},"id":"de7e4ca5-1d8f-4622-a7d4-83de32afd5f6","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-5264,5504]},{"parameters":{"jsCode":"\n\nreturn $input.all().map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},"id":"813c225d-121f-46e3-becf-d4a35b02664b","name":"Format for Vector Store","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4480,4768]},{"parameters":{"mode":"insert","tableName":"email_qa_vectors","options":{"columnNames":{"values":{"contentColumnName":"page_content"}}}},"id":"7458d106-81d1-4765-8b74-642871d208f0","name":"Postgres Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-4416,5056],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"d8c0fe3b-0f8c-49fa-b143-433392491793","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4512,5248],"credentials":{"openAiApi":{"id":"YkNmbyZnv2KRWq6X","name":"OpenAi account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"emailId","value":"={{ $('Format for Vector Store').item.json.metadata.emailId }}"},{"name":"emailThreadId","value":"={{ $('Format for Vector Store').item.json.metadata.emailThreadId }}"},{"name":"threadMessageCount","value":"={{ $('Format for Vector Store').item.json.metadata.threadMessageCount }}"},{"name":"question","value":"={{ $('Format for Vector Store').item.json.metadata.question }}"},{"name":"answer","value":"={{ $('Format for Vector Store').item.json.metadata.answer }}"}]}}},"id":"94006eea-82ab-47d5-92e4-671011da92e3","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-4272,5232],"notes":"\n\nreturn $items.map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"id":"3b69d009-379a-48cd-999c-27060fba482b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-6656,3696]},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"receivedAfter":"={{ $('Workflow Configuration').first().json.processAllEmails ? '1900-01-01T00:00:00.000Z' : ($('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customStartDate : $now.minus({ days: $('Workflow Configuration').first().json.maxDaysOld }).toISO()) }}","receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}","sender":"={{ $('Workflow Configuration').first().json.senderEmail }}"}},"id":"9ddd838f-fe3f-4fed-8711-336076a3c54c","name":"Get Emails from Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-6192,3728],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT thread_id FROM processed_emails","options":{}},"id":"72cce9d7-296e-45da-a9b2-f8bd4d571096","name":"Get Processed Email IDs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6192,3920],"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"processed_emails","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"processed_at":"={{ $now.toISO() }}","thread_id":"={{ $json.metadata.emailThreadId }}"},"matchingColumns":[],"schema":[{"id":"thread_id","displayName":"thread_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2c19901b-859e-4847-b334-9acd65f7920a","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3968,4768],"executeOnce":true,"credentials":{"postgres":{"id":"WWldlqVomwZ5VIIy","name":"Postgres account"}}},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE processed_emails (\n    thread_id VARCHAR(255) NOT NULL PRIMARY KEY,\n    processed_at TIMESTAMPTZ DEFAULT NOW()\n);\n```","height":240},"type":"n8n-nodes-base.stickyNote","position":[-6256,4128],"typeVersion":1,"id":"5c8ddf03-1a61-47e1-947c-37f199ad724c","name":"Sticky Note"},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE email_qa_vectors (\n    id BIGSERIAL PRIMARY KEY,\n\n    -- LangChain Document fields\n    page_content TEXT NOT NULL,\n    embedding VECTOR(1536) NOT NULL,\n\n    metadata JSONB,\n\n    created_at TIMESTAMPTZ DEFAULT NOW()\n);\n```\n\nVector indexs\n\n```\nCREATE INDEX email_qa_vectors_embedding_hnsw_idx\nON email_qa_vectors\nUSING hnsw (embedding vector_cosine_ops)\nWITH (\n    m = 16,\n    ef_construction = 64\n);\n```\n```\nCREATE INDEX idx_email_qa_vectors_metadata_emailThreadId\n    ON email_qa_vectors\n        USING GIN ((metadata->'emailThreadId'));\n```","height":656,"width":432},"type":"n8n-nodes-base.stickyNote","position":[-4160,5552],"typeVersion":1,"id":"45d8547d-285a-4bfb-8572-f3335f041863","name":"Sticky Note1","disabled":true},{"parameters":{"content":"Change processAllEmails to true to process all emails"},"type":"n8n-nodes-base.stickyNote","position":[-6736,3440],"typeVersion":1,"id":"cbabff83-b016-4b9d-bfda-e4c3474c6c20","name":"Sticky Note2"},{"parameters":{"resource":"thread","operation":"get","threadId":"={{ $json.threadId }}","options":{"returnOnlyMessages":true}},"id":"4431b07e-f5eb-493b-877e-ab1a29fbbccf","name":"Get Full Email Thread","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-6400,5360],"webhookId":"950c6421-cd18-4bed-b151-07fe464490ee","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"threadId","field2":"thread_id"}]},"joinMode":"keepNonMatches","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5792,3744],"id":"135577ad-23f9-4fc0-be4f-791aff224bc1","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5184,3728],"id":"704180a5-96e8-4961-a578-4ca4831d93be","name":"Loop Over Items1"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"53c2b9ed-d08c-45d2-9ef9-439fee719019","name":"Get Emails from Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-5920,5472],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6128,5344],"id":"7bea187f-6f23-49ac-b6f5-1a1d646fff6c","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"e97a37fe-6898-487c-b52f-0c6b11471d60","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5680,5472],"id":"d013a371-f68b-4b3b-8972-a7ed5325e59e","name":"Edit Fields"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction stripSignature(text) {\n  return text\n    // Remove everything after common sign-offs\n    .split(/\\n(?:Best regards|Best Regards|Regards|Thanks|Thank you|Sincerely|Have a wonderful day|Best,|--)\\b/i)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove phone / address blocks\n    .replace(/(\\nPhone:.*|\\n\\*Phone:.*)/gi, \"\")\n    // Remove LinkedIn lines\n    .replace(/LinkedIn:.*$/gim, \"\")\n    // Clean extra whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction cleanEmail(text) {\n  return text\n    // Remove quoted replies\n    .split(/\\nOn .* wrote:|\\n>/)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove excessive whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nconst thread = items.map((item, index) => {\n  const raw = item.json.text || \"\";\n\n  const sender =\n    raw.includes(\"Lauren Geneva\") || raw.includes(\"Booming Bookkeeping\")\n      ? \"Lauren Geneva (Support)\"\n      : \"Alex Clifton (Client)\";\n\n  return `--- Email ${index + 1} ---\nFrom: ${sender}\nMessage:\n${stripSignature(cleanEmail(raw))}\n`;\n}).join(\"\\n\\n\");\n\nreturn [\n  {\n    json: {\n      email_thread: `EMAIL THREAD (Chronological)\\n\\n${thread}`\n    }\n  }\n];"},"id":"5b6b8ba3-acf3-47b4-8724-53ef40de9e2a","name":"Combine Thread Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5760,5312]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-5424,5504],"id":"0830db42-67d1-48aa-9594-6e23b6e6a674","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4896,5152],"id":"31968c58-5b92-4b20-9d3f-bd0ffc0b5263","name":"Merge1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  return {\n    json: {\n        question: item.json.output.question,\n        answer: item.json.output.answer\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5056,5248],"id":"ca274567-369d-438a-940c-f2f72bf3d1f4","name":"Correct output"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      threadId: $input.first().json.threadId,\n      itemCount: $input.all().length\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6128,5152],"id":"cfb5be85-3f01-4b76-948d-e43d661be5ff","name":"Get Number of Emails"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3680,5376],"id":"772be71a-2842-4fa5-b00e-215c16cc54cd","name":"Merge3"},{"parameters":{"options":{"splitCode":"js"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-4272,5392],"id":"82b1718f-ec84-4880-985d-21a1fb389693","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["Label_2283890139563590331"],"receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}"}},"id":"ce22305b-cef9-4b88-b4e3-858d1f866752","name":"Get Emails from Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-6192,3552],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5984,3632],"id":"c716ffde-81e9-4253-8647-63bc5b68342e","name":"Merge4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-6656,3936],"id":"68245859-9231-4f20-9849-49f058c57d98","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4912,3712],"id":"7857a150-ad68-4bef-8d29-7255defb8081","name":"No Operation, do nothing"},{"parameters":{"workflowInputs":{"values":[{"name":"threadId"},{"name":"summarize","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-6944,4944],"id":"6cd33626-b0b5-483d-be4c-559546523d50","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"vO1sjY85xzKiwYce","mode":"list","cachedResultUrl":"/workflow/vO1sjY85xzKiwYce","cachedResultName":"HBF — Booming Bookkeeping Email Archive to Vector Database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"threadId":"={{ $json.thread_id }}","summarize":false},"matchingColumns":["threadId"],"schema":[{"id":"threadId","displayName":"threadId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"summarize","displayName":"summarize","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4912,3872],"id":"42b9ad07-9be5-4185-97d0-2110811ee129","name":"Call 'Booming Bookkeeping Email Archive to Vector Database'"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d3e7817-3bfa-4c37-a660-4835d59f255a","leftValue":"={{ $json.summarize }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.summarize }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"aa4b511c-cabc-4196-bdd7-a929e3937d8f"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-6672,4960],"id":"440b3701-850e-4edc-887c-814eee4b57b2","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"vO1sjY85xzKiwYce","mode":"list","cachedResultUrl":"/workflow/vO1sjY85xzKiwYce","cachedResultName":"HBF — Booming Bookkeeping Email Archive to Vector Database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"threadId":"={{ $json.threadId }}","summarize":true},"matchingColumns":["threadId"],"schema":[{"id":"threadId","displayName":"threadId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"summarize","displayName":"summarize","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-5536,4816],"id":"c7168133-2157-4739-abc1-1299e8e6923e","name":"Call 'Booming Bookkeeping Email Archive to Vector Database'1"}],"connections":{"Workflow Configuration":{"main":[[{"node":"Get Emails from Gmail","type":"main","index":0},{"node":"Get Processed Email IDs","type":"main","index":0},{"node":"Get Emails from Gmail2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarize Email to Q&A","type":"ai_outputParser","index":0}]]},"Summarize Email to Q&A":{"main":[[{"node":"Correct output","type":"main","index":0}]]},"Format for Vector Store":{"main":[[{"node":"Postgres Vector Store","type":"main","index":0},{"node":"Mark Email as Processed","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres Vector Store","type":"ai_document","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Get Emails from Gmail":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Get Processed Email IDs":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres Vector Store":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Check Email Age":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get Full Email Thread":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Get Number of Emails","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Check Email Age","type":"main","index":0}]]},"Mark Email as Processed":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Call 'Booming Bookkeeping Email Archive to Vector Database'","type":"main","index":0}]]},"Get Emails from Gmail1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Combine Thread Messages","type":"main","index":0}],[{"node":"Get Emails from Gmail1","type":"main","index":0}]]},"Combine Thread Messages":{"main":[[{"node":"Summarize Email to Q&A","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Summarize Email to Q&A","type":"ai_languageModel","index":0}]]},"Correct output":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get Number of Emails":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get Emails from Gmail2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call 'Booming Bookkeeping Email Archive to Vector Database'":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'Booming Bookkeeping Email Archive to Vector Database'1","type":"main","index":0}],[{"node":"Get Full Email Thread","type":"main","index":0}]]},"Call 'Booming Bookkeeping Email Archive to Vector Database'1":{"main":[[{"node":"Format for Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedPerExecution":5,"errorWorkflow":"AqqHC4HlzK2Gq3eR"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c553da89-4b5d-4f75-b7f3-80563f9af6d3","activeVersionId":null,"versionCounter":96,"triggerCount":1,"shared":[{"updatedAt":"2026-01-09T13:05:06.780Z","createdAt":"2026-01-09T13:05:06.780Z","role":"workflow:owner","workflowId":"vO1sjY85xzKiwYce","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-01-24T05:10:56.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-24","isPending":false}}]}}],"tags":[],"activeVersion":null}