hbf_online/2025/12/Back Up n8n Workflows To Github/Dqgqho7vE223Nz3K.json
{"updatedAt":"2025-12-27T23:08:49.811Z","createdAt":"2025-12-27T21:04:07.561Z","id":"Dqgqho7vE223Nz3K","name":"Back Up n8n Workflows To Github","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"421824c2-59a2-441b-aacc-7dadf2ec153b","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[1136,944],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":732,"width":2407,"color":6},"id":"c6024a57-1957-4714-84e3-8d326c83cd89","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[464,1328],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2b1dd138-7872-42ea-9882-8750ef4cf227","name":"n8n","type":"n8n-nodes-base.n8n","position":[1536,1056],"typeVersion":1,"credentials":{"n8nApi":{"id":"Rcn6wWc23XPveIhX","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"96c0c6a7-2a11-441d-8177-e0a18030daf9","name":"Return","type":"n8n-nodes-base.set","position":[2656,1536],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"6715d1ff-a1f0-4e1a-b96e-f680d1495047","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1344,1408],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"443b18e8-c05b-444f-b323-dea0b3041939","name":"If file too large","type":"n8n-nodes-base.if","position":[1104,1424],"typeVersion":2},{"parameters":{},"id":"e460a2cd-f7af-4551-8ea2-84d9b9e5cb7f","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1152,1680],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"f795180a-66aa-4a86-acb0-96cf8c487db0","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1392,1680],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"30e7d6fc-327e-4693-95ce-376a3b1f145c","name":"Check Status","type":"n8n-nodes-base.switch","position":[1648,1648],"typeVersion":1},{"parameters":{},"id":"36f12309-c7fe-446f-9571-bd1005c18ed8","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1888,1536],"typeVersion":1},{"parameters":{},"id":"45f0eaa7-259b-4908-b567-af2b3b5abb6d","name":"File is different","type":"n8n-nodes-base.noOp","position":[1888,1696],"typeVersion":1},{"parameters":{},"id":"d16ec06b-7a3f-486e-8328-935ed3b4d565","name":"File is new","type":"n8n-nodes-base.noOp","position":[1888,1856],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Create {{$('When Executed by Another Workflow').first().json.name}}"},"id":"cdc7f306-b7d2-4de1-8e44-0bd8d49a679f","name":"Create new file","type":"n8n-nodes-base.github","position":[2368,1888],"typeVersion":1,"webhookId":"3070bd40-31e7-47e2-98f5-d0ac1f560545","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Update {{$('When Executed by Another Workflow').first().json.name}} due to drift"},"id":"9785333a-4a86-448d-afc2-58b0aa50ea96","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2368,1696],"typeVersion":1,"webhookId":"86abd804-f3db-4719-b079-9742c2553962","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"806db72c-c9f6-461d-be1a-1e6867a25382","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1744,1056],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":33}]}},"id":"e5c433e4-bf56-4a0a-906c-7d74f6fe7287","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1136,1152],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"9e2412f6-df25-4c12-8faf-0200558b537c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[656,864],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416,"width":1753,"color":7},"id":"00fdb977-4f3e-49f6-81c3-bc7f9520914f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1104,864],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.createdAt.split('-')[0] }}/{{ $('Config').item.json.createdAt.split('-')[1] }}/{{$json.name}}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"e4d70af5-5c21-4340-8054-7ba0203f3ee1","name":"Get file data","type":"n8n-nodes-base.github","position":[896,1424],"typeVersion":1,"alwaysOutputData":true,"webhookId":"3d31dc34-3dbc-4967-87cd-781ce2b1eb43","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"id\": \"{{ $json.id }}\",\n\"name\": \"{{ $json.name }}\",\n\"createdAt\": \"{{ $json.createdAt }}\",\n\"repo_owner\": \"cliftonz\",\n\"repo_name\": \"backups\",\n\"repo_path\": \"hbf_online\",\n\"subpath\": \"{{ $json.createdAt.split('-')[0] }}/{{ $json.createdAt.split('-')[1] }}/{{ $json.name }}\"\n}\n","includeOtherFields":true,"options":{}},"id":"42ad4762-26fb-4686-9016-729e95c95324","name":"Config","type":"n8n-nodes-base.set","position":[704,1584],"typeVersion":3.4},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"string\",\n  \"name\": \"string\",\n  \"createdAt\": \"string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[496,1584],"id":"a3852cbb-491e-475b-a034-46db93ece763","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,896],"id":"85e0a063-af2c-49a6-b6bc-c39930417af4","name":"Completed"},{"parameters":{"workflowId":{"__rl":true,"value":"Dqgqho7vE223Nz3K","mode":"list","cachedResultUrl":"/workflow/Dqgqho7vE223Nz3K","cachedResultName":"Back Up n8n Workflows To Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","createdAt":"={{ $json.createdAt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,1088],"id":"c2df9be5-9a16-42eb-96d1-1d72f79a03a7","name":"Execute Workflow1","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Config').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[896,1760],"id":"e76ca987-ddb6-48ae-b5bb-e86aca419381","name":"Get a workflow","credentials":{"n8nApi":{"id":"Rcn6wWc23XPveIhX","name":"n8n account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2192,1696],"id":"5257547b-3ee1-466e-bf0c-4edcf8c54f85","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2192,1888],"id":"f9534698-f558-4e2a-9abe-215f6b97c0eb","name":"Merge1"},{"parameters":{"jsCode":"const bin_val = Buffer.from(JSON.stringify($input.first().json)).toString('base64')\n\nreturn [\n  {\n  \"data\": bin_val\n   }\n  ]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,1920],"id":"4e044da9-b1f7-4108-8071-9e0ea1f4b7bc","name":"Convert to binary"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Get a workflow","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Get a workflow":{"main":[[{"node":"Convert to binary","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Convert to binary":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create new file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5,"errorWorkflow":"AqqHC4HlzK2Gq3eR"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"1534","templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"7iIS2TZDqvY571N6","name":"Gmail AI Labels","createdAt":"2025-12-21T17:18:49.055Z"}}]},"versionId":"401c992e-66d1-465e-b353-cd554d67776a","activeVersionId":"401c992e-66d1-465e-b353-cd554d67776a","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2025-12-27T21:04:07.564Z","createdAt":"2025-12-27T21:04:07.564Z","role":"workflow:owner","workflowId":"Dqgqho7vE223Nz3K","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2025-12-27T23:07:44.560Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-27T23:08:55.000Z","createdAt":"2025-12-27T23:08:49.813Z","versionId":"401c992e-66d1-465e-b353-cd554d67776a","workflowId":"Dqgqho7vE223Nz3K","nodes":[{"parameters":{},"id":"421824c2-59a2-441b-aacc-7dadf2ec153b","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[1136,944],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":732,"width":2407,"color":6},"id":"c6024a57-1957-4714-84e3-8d326c83cd89","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[464,1328],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2b1dd138-7872-42ea-9882-8750ef4cf227","name":"n8n","type":"n8n-nodes-base.n8n","position":[1536,1056],"typeVersion":1,"credentials":{"n8nApi":{"id":"Rcn6wWc23XPveIhX","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"96c0c6a7-2a11-441d-8177-e0a18030daf9","name":"Return","type":"n8n-nodes-base.set","position":[2656,1536],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"6715d1ff-a1f0-4e1a-b96e-f680d1495047","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1344,1408],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"443b18e8-c05b-444f-b323-dea0b3041939","name":"If file too large","type":"n8n-nodes-base.if","position":[1104,1424],"typeVersion":2},{"parameters":{},"id":"e460a2cd-f7af-4551-8ea2-84d9b9e5cb7f","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1152,1680],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"f795180a-66aa-4a86-acb0-96cf8c487db0","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1392,1680],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"30e7d6fc-327e-4693-95ce-376a3b1f145c","name":"Check Status","type":"n8n-nodes-base.switch","position":[1648,1648],"typeVersion":1},{"parameters":{},"id":"36f12309-c7fe-446f-9571-bd1005c18ed8","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1888,1536],"typeVersion":1},{"parameters":{},"id":"45f0eaa7-259b-4908-b567-af2b3b5abb6d","name":"File is different","type":"n8n-nodes-base.noOp","position":[1888,1696],"typeVersion":1},{"parameters":{},"id":"d16ec06b-7a3f-486e-8328-935ed3b4d565","name":"File is new","type":"n8n-nodes-base.noOp","position":[1888,1856],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Create {{$('When Executed by Another Workflow').first().json.name}}"},"id":"cdc7f306-b7d2-4de1-8e44-0bd8d49a679f","name":"Create new file","type":"n8n-nodes-base.github","position":[2368,1888],"typeVersion":1,"webhookId":"3070bd40-31e7-47e2-98f5-d0ac1f560545","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.subpath }}/{{$('When Executed by Another Workflow').first().json.id}}.json","fileContent":"={{ $input.item.json.data }}","commitMessage":"=Update {{$('When Executed by Another Workflow').first().json.name}} due to drift"},"id":"9785333a-4a86-448d-afc2-58b0aa50ea96","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2368,1696],"typeVersion":1,"webhookId":"86abd804-f3db-4719-b079-9742c2553962","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"806db72c-c9f6-461d-be1a-1e6867a25382","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1744,1056],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12,"triggerAtMinute":33}]}},"id":"e5c433e4-bf56-4a0a-906c-7d74f6fe7287","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1136,1152],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"9e2412f6-df25-4c12-8faf-0200558b537c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[656,864],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416,"width":1753,"color":7},"id":"00fdb977-4f3e-49f6-81c3-bc7f9520914f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1104,864],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.createdAt.split('-')[0] }}/{{ $('Config').item.json.createdAt.split('-')[1] }}/{{$json.name}}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"e4d70af5-5c21-4340-8054-7ba0203f3ee1","name":"Get file data","type":"n8n-nodes-base.github","position":[896,1424],"typeVersion":1,"alwaysOutputData":true,"webhookId":"3d31dc34-3dbc-4967-87cd-781ce2b1eb43","credentials":{"githubOAuth2Api":{"id":"ebAOm9OwjCgjXalq","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"id\": \"{{ $json.id }}\",\n\"name\": \"{{ $json.name }}\",\n\"createdAt\": \"{{ $json.createdAt }}\",\n\"repo_owner\": \"cliftonz\",\n\"repo_name\": \"backups\",\n\"repo_path\": \"hbf_online\",\n\"subpath\": \"{{ $json.createdAt.split('-')[0] }}/{{ $json.createdAt.split('-')[1] }}/{{ $json.name }}\"\n}\n","includeOtherFields":true,"options":{}},"id":"42ad4762-26fb-4686-9016-729e95c95324","name":"Config","type":"n8n-nodes-base.set","position":[704,1584],"typeVersion":3.4},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"string\",\n  \"name\": \"string\",\n  \"createdAt\": \"string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[496,1584],"id":"a3852cbb-491e-475b-a034-46db93ece763","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,896],"id":"85e0a063-af2c-49a6-b6bc-c39930417af4","name":"Completed"},{"parameters":{"workflowId":{"__rl":true,"value":"Dqgqho7vE223Nz3K","mode":"list","cachedResultUrl":"/workflow/Dqgqho7vE223Nz3K","cachedResultName":"Back Up n8n Workflows To Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","createdAt":"={{ $json.createdAt }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,1088],"id":"c2df9be5-9a16-42eb-96d1-1d72f79a03a7","name":"Execute Workflow1","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Config').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[896,1760],"id":"e76ca987-ddb6-48ae-b5bb-e86aca419381","name":"Get a workflow","credentials":{"n8nApi":{"id":"Rcn6wWc23XPveIhX","name":"n8n account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2192,1696],"id":"5257547b-3ee1-466e-bf0c-4edcf8c54f85","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2192,1888],"id":"f9534698-f558-4e2a-9abe-215f6b97c0eb","name":"Merge1"},{"parameters":{"jsCode":"const bin_val = Buffer.from(JSON.stringify($input.first().json)).toString('base64')\n\nreturn [\n  {\n  \"data\": bin_val\n   }\n  ]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,1920],"id":"4e044da9-b1f7-4108-8071-9e0ea1f4b7bc","name":"Convert to binary"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Get a workflow","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Get a workflow":{"main":[[{"node":"Convert to binary","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Convert to binary":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create new file","type":"main","index":0}]]}},"authors":"Alex  ","name":"V1.2.1","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-27T23:08:55.951Z","id":10,"workflowId":"Dqgqho7vE223Nz3K","versionId":"401c992e-66d1-465e-b353-cd554d67776a","event":"activated","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}]}}