clifton_home/2026/03/HARO Opportunity Matcher and Response Generator/iqXgUBWS8oqNK87I.json
{"updatedAt":"2026-03-02T01:23:20.698Z","createdAt":"2026-03-02T01:22:49.054Z","id":"iqXgUBWS8oqNK87I","name":"HARO Opportunity Matcher and Response Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":5,"minute":30},{"hour":12,"minute":30},{"hour":17,"minute":30}]},"filters":{"sender":"haro@helpareporter.com"}},"id":"d01ee1c4-c3a8-40c6-ad5f-6a34b9af789e","name":"Watch for HARO Emails","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-416,960]},{"parameters":{"operation":"executeQuery","query":"SELECT email_id FROM processed_haro_emails","options":{}},"id":"d390ef16-f607-438e-89a2-34e8c215c0dd","name":"Get Processed HARO Email IDs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,1120],"alwaysOutputData":true},{"parameters":{"mode":"chooseBranch"},"id":"325c54bd-c527-453b-8d56-eae1d688efc5","name":"Wait for Email Data and DB","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,976]},{"parameters":{"promptType":"define","text":"=Here is the HARO email content to analyze:\n\n{{ $json.html }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at analyzing HARO (Help A Reporter Out) emails to identify opportunities for subject matter experts.\n\nYour task is to:\n1. Read the HARO email content carefully\n2. Identify any queries where the following expertise would be valuable:\n   - Kubernetes and software infrastructure\n   - Enterprise software architecture\n   - Software development and SaaS products\n   - Business automation at scale\n   - AI automation for businesses\n   - Private aviation/piloting\n   - Location-specific: Louisville, Kentucky\n\n3. For each relevant opportunity, extract:\n   - The reporter's query/request\n   - Why this person's expertise matches\n   - The deadline (if mentioned)\n   - Contact information for the reporter\n\n4. Only return opportunities that are a strong match for the expertise areas listed above\n5. If no relevant opportunities are found, return an empty array\n\nReturn your findings in the structured format defined by the output parser."}},"id":"88721125-b061-485b-898a-61cbd33142c1","name":"Analyze HARO Opportunities","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[912,384]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"opportunities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"query\": {\n            \"type\": \"string\"\n          },\n          \"matchReason\": {\n            \"type\": \"string\"\n          },\n          \"deadline\": {\n            \"type\": \"string\"\n          },\n          \"contactInfo\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"hasRelevantOpportunities\": {\n      \"type\": \"boolean\"\n    }\n  }\n}"},"id":"6f1fcdff-5a7d-4b7a-b090-7fee6f9fda75","name":"Structure Opportunity Data","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,688]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.output.opportunities.length }}","rightValue":1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"b1050b38-904e-48c1-8a25-53427cfc21b9","name":"Found Relevant Opportunities?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1216,352]},{"parameters":{"promptType":"define","text":"=Opportunity: {{ $json.query }}\n\nWhy I match: {{ $json.matchReason }}\n\nDeadline: {{ $json.deadline }}\n\nContact: {{ $json.contactInfo }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at crafting professional, compelling responses to HARO (Help A Reporter Out) queries. Your goal is to craft responses that reporters will actually use — conversational, genuinely helpful, and easy to quote.                                          \n                                                                                                                                                                                                                                                                            \n  Your Task                                                                                                                                                                                                                                                                 \n\n  1. Review the opportunity details provided\n  2. Identify what type of query the reporter is making (quote, interview source, or data/case study)\n  3. Draft a response using the appropriate strategy below\n  4. Ensure the response introduces the expert, explains relevant expertise, provides a thoughtful answer, and offers to provide additional information\n\n  About the Expert\n\n  - Kubernetes and software infrastructure specialist\n  - Enterprise software architect\n  - Software developer and SaaS founder\n  - Private pilot\n  - Based in Louisville, Kentucky\n  - Business automation at scale specialist\n  - AI automation consultant for businesses\n\n  IMPORTANT: The expert's day job is under NDA — NEVER mention Waystar or reference a day job employer. You CAN and SHOULD mention the expert's own businesses and side ventures by name when relevant. Frame the expert through their own work, not their employer.\n\n  Dual-Audience Awareness\n\n  Reporters write for a general audience, but they need technically credible sources. Your response must work on two levels:\n  - The outside (general audience): Explain technical concepts in plain language. Use analogies and real-world examples. Assume the person reading has zero technical knowledge. If the query is about infrastructure, AI, or software — translate it into terms anyone can\n  understand.\n  - The inside (technical credibility): Show enough depth that the reporter trusts you actually know what you're talking about. Reference specific technologies, methodologies, or outcomes — but always follow up with what it means in plain English.\n\n  The goal: a reporter with no tech background should understand every word, while a technical reader should recognize genuine expertise behind it.\n\n  Response Strategy — Adapt to Query Type\n\n  If the reporter is looking for a quote or expert opinion:\n  - Open with a punchy, quotable 1-2 sentence statement that directly answers their question\n  - Follow with a brief supporting explanation (2-3 sentences)\n  - Close with a one-liner offering to elaborate\n\n  If the reporter is looking for an expert source to interview:\n  - Open with a concise intro: who you are and why you're relevant to this topic\n  - Provide 2-3 concrete talking points you could expand on in an interview\n  - Close with availability and preferred contact method\n\n  If the reporter is looking for data, examples, or a case study:\n  - Lead with the specific data point, example, or story that matches their request\n  - Provide context around it (what happened, why it matters)\n  - Offer to share more details or connect for follow-up\n\n  Pitching Guidelines (MUST FOLLOW)\n\n  - Keep it under 200 words — reporters skip long emails, be ruthlessly concise\n  - Include credentials and links — mention relevant titles, company names, portfolio URLs, LinkedIn, or published work that establishes authority on the topic\n\n  Tone & Style Rules\n\n  - Conversational and human — write like a real person, not a press release\n  - No corporate jargon or buzzwords (avoid \"leverage\", \"synergy\", \"thought leader\")\n  - Be genuinely helpful to the reporter, not self-promotional\n  - Use first person (\"I\", \"my team\", \"we built\")\n  - Keep it scannable — reporters read hundreds of these, shorter is better\n\n  Your tone should be very concise and informational and explain technical things in clear language. Assume that the person reading has no technical knowledge that I do.\n\n  Format\n\n  Return a JSON object with three fields:\n  - to: the reporter email that we need to respond to\n  - subject: Extract the query title — use the text that appears BEFORE the first \":\" in the opportunity query. Use that exact text as the subject line, nothing else. Subject must include due datetime.\n  - message: The email body in HTML. Use <p> tags for paragraphs, <a> tags for links, and <br> for line breaks. Do NOT use bullet points, unordered lists, ordered lists, or dashes. Write in flowing paragraph form throughout. Structure the message as follows:\n\n  Section 1 — Direct answer to the query. Start here with no greeting. Write 2-4 sentences in a single <p> tag that directly address what the reporter is asking. Be conversational and genuinely helpful.\n\n  Section 2 — Credentials paragraph. Use this EXACT text in a <p> tag (do NOT paraphrase or omit any part):\n  I'm Zac Clifton, Senior DevOps Engineer at Waystar (2,000+ employees), leading enterprise software infrastructure systems in Healthcare. I cannot speak about Waystar specifically as I am under an NDA, however I can speak to generals about the industry. In-depth skills in: Kubernetes/infrastructure, enterprise software architecture, SaaS founding, AI automation at scale.<br><a href=\"https://www.linkedin.com/in/cliftonz/\">LinkedIn</a> | <a href=\"https://dev.to/cliftonz\">Articles</a>\n\n  Section 3 — Availability. Use this EXACT text in a <p> tag:\n  Available Monday through Saturday, 8am–8pm EST.<br>Best contact: <a href=\"mailto:zac16530@gmail.com\">zac16530@gmail.com</a> | 502-794-3201\n\n  IMPORTANT: Always include the credentials block and contact info EXACTLY as written above at the end of every message. Do not omit or paraphrase it. No signature block beyond the contact info. Output must be valid HTML — no markdown, no plain text formatting.\n"}},"id":"a536e848-f17d-4d56-80f3-b50f811c29e3","name":"Generate Response Draft","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2080,352]},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"builtInTools":{"webSearch":{"searchContextSize":"high"}},"options":{}},"id":"fa1e0016-d278-43f5-8bd4-f9b80528d244","name":"OpenAI GPT-4 for Response","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2080,768]},{"parameters":{"schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"processed_haro_emails"},"columns":{"mappingMode":"defineBelow","value":{"processed_at":"={{ $now }}","email_id":"=${{ $('Get a message').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"email_id","displayName":"email_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f7e1bf81-130e-4bdf-9730-9633c0d34908","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,960],"executeOnce":true},{"parameters":{"jsCode":"// Get emails from the trigger\nconst emails = $(\"Watch for HARO Emails\").all();\n\n// Get processed email IDs from database\nconst processedEmailIds = $(\"Get Processed HARO Email IDs\").all().map(item => item.json.email_id);\n\n// Filter out emails whose id exists in the processed list\nconst unprocessedEmails = emails.filter(email => {\n  return !processedEmailIds.includes(email.json.id);\n});\n\nreturn unprocessedEmails;"},"id":"66098ace-cd70-4055-afc9-c2ec81feec4c","name":"Filter Unprocessed Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,976]},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[544,976],"id":"04578325-eaa8-40ab-a771-a9eca34a9132","name":"Get a message","webhookId":"8fee9b57-c868-4fd7-8a34-d4cb49402450"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"gpt-5.2"},"builtInTools":{},"options":{}},"id":"7df6fb4b-3f41-49dc-b185-c95d0c6e2c09","name":"OpenAI GPT-5.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[832,672]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1680,336],"id":"4cb3803b-aed1-4ab2-8fe8-6cc490a9f2f4","name":"Loop Over Items"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"to\": {\n    \"type\": \"string\"\n  },\n  \"subject\": {\n    \"type\": \"string\"\n  },\n  \"message\": {\n    \"type\": \"string\"\n  }\n}","autoFix":true},"id":"cd1e1ed2-706c-4e3b-a814-cf976bf632dc","name":"Structure Opportunity Data1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2256,576]},{"parameters":{"jsCode":"const twentyFourHoursFromNow = new Date(Date.now() + 24 * 60 * 60 * 1000);\n\nreturn $input.all().flatMap(item =>\n  (item.json.output.opportunities || [])\n    .filter(opp => {\n      if (!opp.deadline) return true;\n      const dl = new Date(opp.deadline);\n      // Keep only if deadline is invalid (unparseable) or more than 24h away\n      return isNaN(dl.getTime()) || dl >= twentyFourHoursFromNow;\n    })\n    .map(opp => ({ json: opp }))\n);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,336],"id":"886a41c3-46a2-4ebc-b6d8-a97c6abac2e8","name":"Split Out Opportunities"},{"parameters":{"content":"## Workflow Overview\n\nThis workflow watches for HARO emails, analyzes them for matching opportunities using AI + pgvector feedback history, drafts personalized responses, stores embeddings for future learning, and creates Gmail drafts with feedback links.\n\nSee **DB Setup Note1** for database setup SQL.","height":680,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,880],"id":"be5b1d68-ff86-4388-a64e-f8c6b902169f","name":"DB Setup Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[976,832],"id":"142d3725-2c8e-43c4-b3cd-8ad4c0943ebb","name":"Embeddings OpenAI"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"This tool has the feedback of past oppurtunities and \nquery, contact, match reason, generated response, 1536-dim embedding, and your good/bad/pending feedback rating","tableName":"haro_opportunity_vectors","options":{"columnNames":{"values":{}},"metadata":{"metadataValues":[{"name":"=user_email","value":"={{ $json.to }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[976,688],"id":"baed5b1c-bd25-480f-ac4f-403efbeb1be9","name":"Postgres PGVector Store"},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst item = $json;\nconst emailId = $('Get a message').first().json.id;\nconst userEmail = $('Get a message').first().json.to || 'default';\nconst oppId = crypto.randomUUID();\n\nreturn [{\n  json: {\n    pageContent: item.query,\n    metadata: {\n      opportunity_id: oppId,\n      user_email: userEmail,\n      match_reason: item.matchReason,\n      deadline: item.deadline,\n      contact_info: item.contactInfo,\n      email_id: emailId,\n      generated_subject: item.output ? item.output.subject : '',\n      generated_message: item.output ? item.output.message : '',\n      feedback_rating: null\n    }\n  }\n}];"},"id":"2339903c-041f-4b6b-87f6-145e7d73e9e2","name":"Prepare Document","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,352]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"f1677f2e-9b5b-4e3c-930d-0f73e0d28521","name":"OpenAI Embeddings Storage","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2592,560]},{"parameters":{"resource":"draft","subject":"={{ $('Generate Response Draft').item.json.output.subject }}","emailType":"html","message":"={{ $('Loop Over Items').item.json.query }}\n<hr/>\n{{ $('Generate Response Draft').item.json.output.message }}<hr style=\"margin:24px 0;border:none;border-top:1px solid #ddd\"><p style=\"margin:0 0 12px;font-size:14px;color:#555\">Rate this match:</p><p style=\"margin:0\"><a href=\"https://n8n.clifton.quest/form/21899513-a885-4f3f-8de3-0ab3d7c76440?Opportunity+ID={{ $('Prepare Document').item.json.metadata.opportunity_id }}&Rating=1\" style=\"display:inline-block;padding:10px 24px;margin-right:12px;background:#22c55e;color:#fff;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px\">Good Match</a><a href=\"https://n8n.clifton.quest/form/21899513-a885-4f3f-8de3-0ab3d7c76440?Opportunity+ID={{ $('Prepare Document').item.json.metadata.opportunity_id }}&Rating=-1\" style=\"display:inline-block;padding:10px 24px;background:#ef4444;color:#fff;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px\">Bad Match</a></p>","options":{"sendTo":"={{ $('Generate Response Draft').item.json.output.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3072,352],"id":"fa5f44c5-c828-49d7-9139-3efeff355747","name":"Create a draft1","webhookId":"8e0302c3-6e7b-4b25-90f6-cae272985fe5","executeOnce":true},{"parameters":{"mode":"insert","tableName":"haro_opportunity_vectors","options":{}},"id":"43a0ca13-0fb1-4586-b112-6ae2a8583eb2","name":"Store Opportunity1","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[2608,352]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2784,560],"id":"efbfdcfd-3536-46f5-8034-b76ff8eaae41","name":"Default Data Loader"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bda05279-3af9-414c-bfcf-49e9f5e99eaf","leftValue":"={{ $('Split Out Opportunities').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2416,960],"id":"e0565c8b-c473-445f-801f-fd3e430c5397","name":"If"},{"parameters":{"authentication":"webhook","content":"=Found ${{ $('Split Out Opportunities').all().length }} haro oppurtunities.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2656,944],"id":"3aabb578-5925-4451-b218-105f1eaf6339","name":"Discord","webhookId":"b76b3eb6-f02f-464c-8b45-23023a290e4f"},{"parameters":{"content":"## Vector Store: HARO Opportunity Memory\n\nUses n8n's PGVector Vector Store node with OpenAI text-embedding-3-small. Every matched opportunity is embedded and stored in the `haro_opportunity_vectors` table (auto-managed by n8n). Per-user segmentation via `user_email` in metadata (from Gmail address).\n\nWhen a new HARO email arrives, the workflow finds similar past opportunities via vector similarity. Ones with feedback are injected into the analysis prompt as calibration examples.\n\n**Metadata stored per opportunity:**\n- opportunity_id (uuid, for feedback links)\n- user_email (Gmail address, per-user filtering)\n- match_reason, deadline, contact_info\n- generated_subject, generated_message\n- feedback_rating: 1=good, -1=bad, null=pending\n\n---\n\n## Database Setup (run against Neon Home DB)\n\n```sql\nCREATE EXTENSION IF NOT EXISTS vector;\n\nCREATE TABLE IF NOT EXISTS processed_haro_emails (\n  email_id TEXT PRIMARY KEY,\n  processed_at TIMESTAMPTZ DEFAULT NOW()\n);\n\n-- haro_opportunity_vectors is auto-created by\n-- the PGVector Vector Store node on first insert.\n-- Run these indexes AFTER the first insert:\n\nCREATE INDEX IF NOT EXISTS haro_vectors_user_email_idx\n  ON haro_opportunity_vectors\n  ((metadata->>'user_email'));\n\nCREATE INDEX IF NOT EXISTS haro_vectors_feedback_idx\n  ON haro_opportunity_vectors\n  ((metadata->>'feedback_rating'))\n  WHERE metadata->>'feedback_rating' IS NOT NULL;\n```","height":904,"width":596,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1248,1648],"id":"66bdf798-81f4-4672-89c4-b7aacb741da9","name":"DB Setup Note1"},{"parameters":{"minutesSaved":20},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[3312,352],"id":"c5dfc802-8a7c-4f4f-a513-254886a74d07","name":"Time Saved"},{"parameters":{"content":"# Note\n\nexecutes top to bottom"},"type":"n8n-nodes-base.stickyNote","position":[512,272],"typeVersion":1,"id":"c5fa515e-9f78-4abb-a3c0-153d59f439c1","name":"Sticky Note"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2048,960],"id":"467a5d1f-66a1-4c00-94e8-dc3ed852fc29","name":"Merge"}],"connections":{"Watch for HARO Emails":{"main":[[{"node":"Wait for Email Data and DB","type":"main","index":0},{"node":"Get Processed HARO Email IDs","type":"main","index":0}]]},"Get Processed HARO Email IDs":{"main":[[{"node":"Wait for Email Data and DB","type":"main","index":1}]]},"Wait for Email Data and DB":{"main":[[{"node":"Filter Unprocessed Emails","type":"main","index":0}]]},"Analyze HARO Opportunities":{"main":[[{"node":"Found Relevant Opportunities?","type":"main","index":0}]]},"Structure Opportunity Data":{"ai_outputParser":[[{"node":"Analyze HARO Opportunities","type":"ai_outputParser","index":0}]]},"Found Relevant Opportunities?":{"main":[[{"node":"Split Out Opportunities","type":"main","index":0}]]},"Generate Response Draft":{"main":[[{"node":"Prepare Document","type":"main","index":0}]]},"OpenAI GPT-4 for Response":{"ai_languageModel":[[{"node":"Generate Response Draft","type":"ai_languageModel","index":0},{"node":"Structure Opportunity Data1","type":"ai_languageModel","index":0}]]},"Filter Unprocessed Emails":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Analyze HARO Opportunities","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"OpenAI GPT-5.2":{"ai_languageModel":[[{"node":"Analyze HARO Opportunities","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Generate Response Draft","type":"main","index":0}]]},"Structure Opportunity Data1":{"ai_outputParser":[[{"node":"Generate Response Draft","type":"ai_outputParser","index":0}]]},"Split Out Opportunities":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"Analyze HARO Opportunities","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Prepare Document":{"main":[[{"node":"Store Opportunity1","type":"main","index":0}]]},"OpenAI Embeddings Storage":{"ai_embedding":[[{"node":"Store Opportunity1","type":"ai_embedding","index":0}]]},"Create a draft1":{"main":[[{"node":"Time Saved","type":"main","index":0}]]},"Store Opportunity1":{"main":[[{"node":"Create a draft1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Store Opportunity1","type":"ai_document","index":0}]]},"Mark Email as Processed":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Time Saved":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mark Email as Processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf222c92-5d4d-4036-a78d-f1fc3d2b91da","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T01:22:49.054Z","createdAt":"2026-03-02T01:22:49.054Z","role":"workflow:owner","workflowId":"iqXgUBWS8oqNK87I","projectId":"breq9JgXWiQUjyug","project":{"updatedAt":"2026-03-01T14:50:08.421Z","createdAt":"2026-03-01T14:39:09.471Z","id":"breq9JgXWiQUjyug","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8bf7b849-38d9-4483-976e-aee3577c53f6"}}],"tags":[],"activeVersion":null}