clifton_home/2026/02/Monitor Sander Processing Chicken Breast Sale/9rOiMGpXzkuK1e9r.json
{"updatedAt":"2026-02-21T21:46:50.061Z","createdAt":"2026-02-21T21:45:39.155Z","id":"9rOiMGpXzkuK1e9r","name":"Monitor Sander Processing Chicken Breast Sale","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"cce58b41-08d1-438a-94e5-bb26012bfabb","name":"Check Weekly Specials","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"url":"http://www.sanderprocessing.com/weekly-specials.html","options":{}},"id":"732a8aa2-a98c-419b-a3c5-4afcf06e2a3d","name":"Fetch Webpage","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.contains }}","rightValue":"YES","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"6013249f-893f-4b49-8f70-74445ee1a364","name":"Chicken Breast Detected?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1168,0]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"imageSrc","cssSelector":".wsite-image img","returnValue":"attribute","attribute":"src"}]},"options":{}},"id":"6b31707f-6317-4009-a85a-265fca4cbdf1","name":"Extract Image URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,0]},{"parameters":{"url":"=http://www.sanderprocessing.com{{ $json.imageSrc }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"d984b291-da02-43a7-8145-0c3ec142a9b6","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"text":"You are a sales analyzer. Review the image and determine if chicken breast is mentioned or shown in the weekly specials. Respond with ONLY \"YES\" if chicken breast is mentioned or visible, or \"NO\" if it is not.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[800,0],"id":"9cf3c0c0-41c7-42cb-9c9c-346cd20b0268","name":"Analyze image","credentials":{"anthropicApi":{"id":"uch0Rcb3BF9tligH","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"689671dd-a8a8-433b-8d26-e12d494587d2","name":"contains","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,0],"id":"1c18d724-ec62-450d-9763-00ccd00b96da","name":"Edit Fields"},{"parameters":{"authentication":"webhook","content":"Chicken breasts are for sale:\nhttp://www.sanderprocessing.com/weekly-specials.html","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1440,-16],"id":"ab9b4cd7-8aa8-4a65-a7cb-cebb5c7b6315","name":"Discord","webhookId":"3179fdad-d3fa-4342-bb1c-d7be3ec5c5f8","credentials":{"discordWebhookApi":{"id":"itxZeAJbs9N1NxYG","name":"Zac Information Channel"}}}],"connections":{"Check Weekly Specials":{"main":[[{"node":"Fetch Webpage","type":"main","index":0}]]},"Fetch Webpage":{"main":[[{"node":"Extract Image URL","type":"main","index":0}]]},"Extract Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Chicken Breast Detected?","type":"main","index":0}]]},"Chicken Breast Detected?":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"lumsfsJn-11VSs7gepTrz","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":{"node:Check Weekly Specials":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","activeVersionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T21:45:39.155Z","createdAt":"2026-02-21T21:45:39.155Z","role":"workflow:owner","workflowId":"9rOiMGpXzkuK1e9r","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-21T21:46:33.436Z","createdAt":"2026-02-21T21:46:30.264Z","versionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","workflowId":"9rOiMGpXzkuK1e9r","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"cce58b41-08d1-438a-94e5-bb26012bfabb","name":"Check Weekly Specials","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"url":"http://www.sanderprocessing.com/weekly-specials.html","options":{}},"id":"732a8aa2-a98c-419b-a3c5-4afcf06e2a3d","name":"Fetch Webpage","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.contains }}","rightValue":"YES","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"6013249f-893f-4b49-8f70-74445ee1a364","name":"Chicken Breast Detected?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1168,0]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"imageSrc","cssSelector":".wsite-image img","returnValue":"attribute","attribute":"src"}]},"options":{}},"id":"6b31707f-6317-4009-a85a-265fca4cbdf1","name":"Extract Image URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,0]},{"parameters":{"url":"=http://www.sanderprocessing.com{{ $json.imageSrc }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"d984b291-da02-43a7-8145-0c3ec142a9b6","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"text":"You are a sales analyzer. Review the image and determine if chicken breast is mentioned or shown in the weekly specials. Respond with ONLY \"YES\" if chicken breast is mentioned or visible, or \"NO\" if it is not.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[800,0],"id":"9cf3c0c0-41c7-42cb-9c9c-346cd20b0268","name":"Analyze image","credentials":{"anthropicApi":{"id":"uch0Rcb3BF9tligH","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"689671dd-a8a8-433b-8d26-e12d494587d2","name":"contains","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,0],"id":"1c18d724-ec62-450d-9763-00ccd00b96da","name":"Edit Fields"},{"parameters":{"authentication":"webhook","content":"Chicken breasts are for sale:\nhttp://www.sanderprocessing.com/weekly-specials.html","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1440,-16],"id":"ab9b4cd7-8aa8-4a65-a7cb-cebb5c7b6315","name":"Discord","webhookId":"3179fdad-d3fa-4342-bb1c-d7be3ec5c5f8","credentials":{"discordWebhookApi":{"id":"itxZeAJbs9N1NxYG","name":"Zac Information Channel"}}}],"connections":{"Check Weekly Specials":{"main":[[{"node":"Fetch Webpage","type":"main","index":0}]]},"Fetch Webpage":{"main":[[{"node":"Extract Image URL","type":"main","index":0}]]},"Extract Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Chicken Breast Detected?","type":"main","index":0}]]},"Chicken Breast Detected?":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"authors":"Zac Clifton","name":"Version 0017381e","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-21T21:46:33.424Z","id":38,"workflowId":"9rOiMGpXzkuK1e9r","versionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"},{"createdAt":"2026-02-21T21:46:50.133Z","id":39,"workflowId":"9rOiMGpXzkuK1e9r","versionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","event":"deactivated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"},{"createdAt":"2026-02-21T21:46:50.344Z","id":40,"workflowId":"9rOiMGpXzkuK1e9r","versionId":"0017381e-c08f-4d3a-b934-c9bf99fe84da","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}]}}