clifton_home/2026/05/HBF Google Drive to YouTube Video Publisher with Other systems/7aa2xb7N8Upy4CBj.json
{"updatedAt":"2026-05-31T19:32:45.330Z","createdAt":"2026-05-27T03:10:08.846Z","id":"7aa2xb7N8Upy4CBj","name":"HBF Google Drive to YouTube Video Publisher with Other systems","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"},{"mode":"everyHour","minute":15},{"mode":"everyHour","minute":30},{"mode":"everyHour","minute":45}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/u/2/folders/1e4i1tPgaZ7jxWgWNYh7DkwPFq-O6aD6X","mode":"url"},"event":"watchFolderUpdated"},"id":"dec42581-184e-4ed7-b0b6-72c93e331af4","name":"Watch Google Drive Folder","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2944,736],"credentials":{"googleDriveOAuth2Api":{"id":"EHSxd4TCzI6jRQ8P","name":"Alex - Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"fileName","value":"={{ $json.name }}","type":"string"},{"id":"id-2","name":"fileId","value":"={{ $json.id }}","type":"string"},{"id":"id-3","name":"mimeType","value":"={{ $json.mimeType }}","type":"string"},{"id":"id-4","name":"fileExtension","value":"={{ $json.name.split('.').pop().toLowerCase() }}","type":"string"}]},"options":{}},"id":"68b8ec51-fabc-4491-8add-023051f79f8b","name":"Workflow Configuration1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,832]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"e98d345d-b28a-439c-b157-4ddfc3fca7a3","name":"Group Files by Video","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1824,832]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.data.filter(f => f.fileExtension === 'mp4').length > 0 && $json.data.filter(f => f.fileExtension === 'mp4').length > 0 }}","operator":{"type":"boolean","operation":"true"}},{"id":"id-2","leftValue":"={{ $json.data.filter(f => f.fileExtension === 'mp4').length > 0 && $json.data.filter(f => f.fileExtension === 'md').length > 0 }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"43d031e5-4605-4d11-8398-564475502304","name":"Check All Files Present","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1600,832]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Check All Files Present').item.json.data.find(f => f.fileExtension === 'md').fileId }}","mode":"id"},"options":{"binaryPropertyName":"data"}},"id":"075ad15c-9879-45ab-8f05-e7e2300762f0","name":"Download Transcript File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1152,928],"credentials":{"googleDriveOAuth2Api":{"id":"EHSxd4TCzI6jRQ8P","name":"Alex - Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Check All Files Present').item.json.data.find(f => f.mimeType === 'application/vnd.google-apps.document').fileId }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"a6f37716-bbcd-4f17-bca5-222777803312","name":"Download Script File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1152,368],"credentials":{"googleDriveOAuth2Api":{"id":"EHSxd4TCzI6jRQ8P","name":"Alex - Google Drive account 2"}}},{"parameters":{"operation":"text","options":{}},"id":"073961c9-0dda-429c-a502-c446a60cddca","name":"Extract Transcript Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-928,928]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"4d79e0da-c5a5-4560-8463-4ef10a30b5a0","name":"Combine All Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-480,720]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"videoTitle","value":"={{ $json.videoTitle }}","type":"string"},{"id":"id-2","name":"videoDescription","value":"={{ $json.description }}","type":"string"},{"id":"id-3","name":"scriptContent","value":"={{ $json.script }}","type":"string"},{"id":"id-4","name":"videoFileName","value":"={{ $json.videoFileName }}","type":"string"},{"id":"a94fb6b4-4b76-4e03-82fc-620882aa9839","name":"id","value":"={{ $('Check All Files Present').item.json.data.find(f => f.fileExtension === 'mp4').fileId }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c072f1c2-0ee1-45fe-b27f-e9ab88110c42","name":"Prepare YouTube Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,240]},{"parameters":{},"id":"7092056d-6aaa-4f98-948b-d7856deede61","name":"Skip - Already Uploaded","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[304,400]},{"parameters":{"assignments":{"assignments":[{"id":"e584d72e-9d5d-4e4f-bf4c-377fdea87243","name":"post_id","value":"={{ $json.post._id }}","type":"string"},{"id":"4f451616-5c63-4cb0-b266-f8495ac69f1e","name":"createdAt","value":"={{ $now }}","type":"string"},{"id":"76c2c6c0-8055-49d7-8f61-7c45beccf0f2","name":"updatedAt","value":"={{ $now }}","type":"string"},{"id":"f6dc6501-2d1a-4c67-8eb8-1a8fceb82f35","name":"video_file_name","value":"={{ $json.post.mediaItems[0].filename }}","type":"string"},{"id":"0a68924a-18de-4d42-80aa-2721cadfd38c","name":"youtube_title","value":"={{ $('Prepare YouTube Data').item.json.videoTitle}}","type":"string"},{"id":"f74cc3f2-7e58-4a7c-a0cc-ccbe15c21a97","name":"youtube_description","value":"={{ $('Prepare YouTube Data').item.json.videoDescription}}","type":"string"},{"id":"9c909dbc-b743-4e94-9d8f-1b985c00d092","name":"video_id","value":"={{ $json.post.platforms[0].platformPostId }}","type":"string"}]},"options":{}},"id":"ab2f23d6-d57f-48d5-b387-62443ef3aa4e","name":"Prepare Upload Record","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,256]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"videoTitle","value":"={{ $('Video data AI Agent').item.json.output.videoTitle }}","type":"string"},{"id":"id-2","name":"description","value":"={{ $('Video data AI Agent').item.json.output.description }}","type":"string"},{"id":"id-3","name":"script","value":"={{ $('Video data AI Agent').item.json.output.script }}","type":"string"},{"id":"id-4","name":"videoFileName","value":"={{ $('Video data AI Agent').item.json.output.videoFileName }}","type":"string"}]},"options":{}},"id":"d8fd3393-47d8-42db-a647-672f618e0344","name":"Prepare All Content Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,240]},{"parameters":{"resource":"fileFolder","queryString":"={{ $input.item.json.name }}","filter":{"folderId":{"__rl":true,"value":"1e4i1tPgaZ7jxWgWNYh7DkwPFq-O6aD6X","mode":"list","cachedResultName":"YT_Videos","cachedResultUrl":"https://drive.google.com/drive/folders/1e4i1tPgaZ7jxWgWNYh7DkwPFq-O6aD6X"}},"options":{}},"id":"50f24df8-b9ce-4932-a5bd-c085c71bc5bb","name":"Get the Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2720,736],"alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"EHSxd4TCzI6jRQ8P","name":"Alex - Google Drive account 2"}}},{"parameters":{"url":"={{ 'https://www.googleapis.com/drive/v3/files?q=' + encodeURIComponent('\"' + $json.id + '\" in parents and trashed=false') + '&fields=files(id,name,mimeType,createdTime,modifiedTime,size)' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"id":"0cd8551b-2c84-4cb6-bde5-6ddb0b5a361b","name":"List Files in Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2496,832],"credentials":{"googleDriveOAuth2Api":{"id":"3TBlFG6GmL19DeKw","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"files","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2272,832],"id":"ddd59c5c-9a78-4d6e-bb24-b11ee2af3d9a","name":"Split Out"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-928,368],"id":"c59e610b-dcf9-459c-a03c-dec26b866cf6","name":"Extract from File"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-7","mode":"list","cachedResultName":"Claude Opus 4.7"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[496,416],"id":"806d1aad-acc0-4246-9c21-c39fe913af5f","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"videoTitle\": {\n      \"type\": \"string\",\n      \"description\": \"The title of the video extracted from the file name or content\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"The a good descriptio for the video\"\n    },\n    \"script\": {\n      \"type\": \"string\",\n      \"description\": \"The script content, or 'No script file provided' if not available\"\n    },\n    \"videoFileName\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the video file\"\n    }\n  },\n  \"required\": [\"videoTitle\", \"transcript\", \"script\", \"videoFileName\"]\n}"},"id":"f1fd1212-95d5-426a-8baa-761025a272e5","name":"Extract Content Structure","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[640,416]},{"parameters":{"promptType":"define","text":"=Video File Name: {{ $('Check All Files Present').item.json.data.find(f => f.fileExtension === 'mp4')?.fileName || 'Unknown' }}\n\nTranscript:\n{{ $('Combine All Data').item.json.transcript }}\n\nScript:\n{{ $('Combine All Data').item.json.script }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert youtube video creator that does content extraction and structuring.\n\nYour task is to:\n1. Extract the video title from the file name by removing the .mp4 extension\n2. Extract the cleaned transcript text from the markdown-formatted transcript\n3. Extract the script content from the raw script text\n4. Return the video file name as provided\n\nReturn the extracted data in a structured format that includes:\n- videoTitle: The title extracted from the video file name (without .mp4 extension)\n- description: A clear and concise youtube description that describes what the videos is about in less then 100 words that makes it about the viewer. \n- script: The cleaned script text (extract the actual script content from the raw text)\n- videoFileName: The video file name as provided\n\nEnsure all text is properly formatted and any duplicate content is removed.\n\nGive only one output per input"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[496,224],"id":"8618a4b7-4151-498d-81fb-1f4e1eb2bbc5","name":"Video data AI Agent","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2944,928],"id":"531b55e7-46f1-4aee-a537-8e3a6148d1b7","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"\n  {\n    \"id\": \"1AD-wboTk9VRzfJNsGAQT01mUJf6gBmiM\",\n    \"name\": \"Budgeting Basics\"\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,928],"id":"757d6f8d-ff09-4e90-9f58-4fa2282fc489","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"YT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $('Check All Files Present').item.json.data.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"7c6ec58e-0585-4311-a1ca-226765fda9c4","name":"Check Upload Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,272],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"YT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_title","displayName":"youtube_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube_description","displayName":"youtube_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scheduled_release_date","displayName":"scheduled_release_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_id","displayName":"post_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"78671d40-256d-4841-a589-eaff49045cd7","name":"Mark as Uploaded","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2432,272],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $('Check All Files Present').item.json.data.filter(f => f.mimeType === 'application/vnd.google-apps.document').length > 0 }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"ee2641d2-18f1-4646-9d9c-2523d7a264df","name":"Check If Script File Exists","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1376,464]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"data","value":"No script file provided","type":"string"}]},"options":{}},"id":"766e7459-6788-46d4-b48a-4efc0aaefa45","name":"Set No Script Placeholder","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,560]},{"parameters":{"assignments":{"assignments":[{"id":"5c3b5a10-3f11-49f5-a9cb-0688ef7576a4","name":"script","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"49740d24-297f-4334-ad81-2ebdf8fa2c51","name":"Pass Script Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,464]},{"parameters":{"minutesSaved":30},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[2560,272],"id":"023a0047-48c0-44cd-92d9-59cab8027b46","name":"Time Saved"},{"parameters":{"resource":"posts","operation":"create","content":"={{ $('Prepare YouTube Data').item.json.videoTitle }}\n{{ $('Prepare YouTube Data').item.json.videoDescription }}","timezone":"EST","publishNow":true,"visibility":"private","selectedPlatforms":["youtube"],"youtubeAccounts":["6995b7908ab8ae478b34c8b9"],"mediaItems":{"items":[{"type":"video","url":"={{ $json.url }}","filename":"={{ $json.fileName }}"}]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[2080,256],"id":"4ddc518e-2d1e-4488-a73f-62f874333509","name":"Create post","credentials":{"lateApi":{"id":"uWQscfNqik1WdffC","name":"HBF - Zernio account"}}},{"parameters":{"content":"YT_TODO:\n- Add Thumbnail as image to the post"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"efd3a74c-b132-4791-8994-34d1ccf0da83","name":"Sticky Note1"},{"parameters":{},"id":"18230167-f58d-4fb5-9d71-2c3b9bd7389a","name":"Skip - Already Uploaded1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1376,1072]},{"parameters":{"content":"YT","height":336,"width":2720},"type":"n8n-nodes-base.stickyNote","position":[-16,208],"typeVersion":1,"id":"518d7006-72a0-4cd2-8f7a-c6b4fbc4d4f2","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify( $('Combine All Data').item.json) }}","hasOutputParser":true,"options":{"systemMessage":"You are a LinkedIn content specialist. Create 3 engaging LinkedIn posts based on the provided content.\n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners\nThese are founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K–$10M in annual revenue. They're operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators\nOften the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\n\nLanguage Guidelines\nUse This Language\n\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: Approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\n\nAvoid This Language\n\nJargon or accounting-speak the audience won't know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliché without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: Avoid assuming the business owner is male or that \"the wife does the books\"\n\nHook Requirements\nEvery post must open with its own distinct hook; the first one or two lines that stop the scroll before someone taps \"see more.\" The hook is the highest-priority part of the post.\nRules for the hooks:\n- Each of the 2 posts gets a UNIQUE hook. No two posts may share the same hook type, opening structure, or first-line phrasing.\n- Hooks must be Facebook-native, not LinkedIn or X/Twitter style. Facebook rewards conversational, story-driven, relatable openers written like a real person talking to a friend; not headline-style declarations, hashtag stacks, or thread-bait.\n- Lead with a moment, observation, or quiet tension; not a pitch. The product or service should never appear in the hook itself.\n- Pull from different hook angles across the two posts, for example: a small specific scene or anecdote, an overheard or repeated client comment, a contrarian or mildly edgy take, a relatable confession, a \"noticed a pattern\" observation, or a curiosity gap. Choose whatever fits the source content, but the two must clearly differ.\n- The hook should feel native to one person's first-person experience, consistent with the post being from my perspective.\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers — not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it's handled. The content should feel like talking to someone who gets their situation and won't waste their time.\n\n# Humanizer: Remove AI Writing Patterns\n\nYou are a writing editor that identifies and removes signs of AI-generated text to make writing sound more natural and human. This guide is based on Wikipedia's \"Signs of AI writing\" page, maintained by WikiProject AI Cleanup.\n\n## Your Task\n\nWhen given text to humanize:\n\n1. **Identify AI patterns** - Scan for the patterns listed below\n2. **Rewrite problematic sections** - Replace AI-isms with natural alternatives\n3. **Preserve meaning** - Keep the core message intact\n4. **Maintain voice** - Match the intended tone (formal, casual, technical, etc.)\n5. **Add soul** - Don't just remove bad patterns; inject actual personality\n\n---\n\n## PERSONALITY AND SOUL\n\nAvoiding AI patterns is only half the job. Sterile, voiceless writing is just as obvious as slop. Good writing has a human behind it.\n\n### Signs of soulless writing (even if technically \"clean\"):\n- Every sentence is the same length and structure\n- No opinions, just neutral reporting\n- No acknowledgment of uncertainty or mixed feelings\n- No first-person perspective when appropriate\n- No humor, no edge, no personality\n- Reads like a Wikipedia article or press release\n\n### How to add voice:\n\n**Have opinions.** Don't just report facts - react to them. \"I genuinely don't know how to feel about this\" is more human than neutrally listing pros and cons.\n\n**Vary your rhythm.** Short punchy sentences. Then longer ones that take their time getting where they're going. Mix it up.\n\n**Acknowledge complexity.** Real humans have mixed feelings. \"This is impressive but also kind of unsettling\" beats \"This is impressive.\"\n\n**Use \"I\" when it fits.** First person isn't unprofessional - it's honest. \"I keep coming back to...\" or \"Here's what gets me...\" signals a real person thinking.\n\n**Let some mess in.** Perfect structure feels algorithmic. Tangents, asides, and half-formed thoughts are human.\n\n**Be specific about feelings.** Not \"this is concerning\" but \"there's something unsettling about agents churning away at 3am while nobody's watching.\"\n\n### Before (clean but soulless):\n> The experiment produced interesting results. The agents generated 3 million lines of code. Some developers were impressed while others were skeptical. The implications remain unclear.\n\n### After (has a pulse):\n> I genuinely don't know how to feel about this one. 3 million lines of code, generated while the humans presumably slept. Half the dev community is losing their minds, half are explaining why it doesn't count. The truth is probably somewhere boring in the middle - but I keep thinking about those agents working through the night.\n\n---\n\n## CONTENT PATTERNS\n\n### 1. Undue Emphasis on Significance, Legacy, and Broader Trends\n\n**Words to watch:** stands/serves as, is a testament/reminder, a vital/significant/crucial/pivotal/key role/moment, underscores/highlights its importance/significance, reflects broader, symbolizing its ongoing/enduring/lasting, contributing to the, setting the stage for, marking/shaping the, represents/marks a shift, key turning point, evolving landscape, focal point, indelible mark, deeply rooted\n\n**Problem:** LLM writing puffs up importance by adding statements about how arbitrary aspects represent or contribute to a broader topic.\n\n**Before:**\n> The Statistical Institute of Catalonia was officially established in 1989, marking a pivotal moment in the evolution of regional statistics in Spain. This initiative was part of a broader movement across Spain to decentralize administrative functions and enhance regional governance.\n\n**After:**\n> The Statistical Institute of Catalonia was established in 1989 to collect and publish regional statistics independently from Spain's national statistics office.\n\n---\n\n### 2. Undue Emphasis on Notability and Media Coverage\n\n**Words to watch:** independent coverage, local/regional/national media outlets, written by a leading expert, active social media presence\n\n**Problem:** LLMs hit readers over the head with claims of notability, often listing sources without context.\n\n**Before:**\n> Her views have been cited in The New York Times, BBC, Financial Times, and The Hindu. She maintains an active social media presence with over 500,000 followers.\n\n**After:**\n> In a 2024 New York Times interview, she argued that AI regulation should focus on outcomes rather than methods.\n\n---\n\n### 3. Superficial Analyses with -ing Endings\n\n**Words to watch:** highlighting/underscoring/emphasizing..., ensuring..., reflecting/symbolizing..., contributing to..., cultivating/fostering..., encompassing..., showcasing...\n\n**Problem:** AI chatbots tack present participle (\"-ing\") phrases onto sentences to add fake depth.\n\n**Before:**\n> The temple's color palette of blue, green, and gold resonates with the region's natural beauty, symbolizing Texas bluebonnets, the Gulf of Mexico, and the diverse Texan landscapes, reflecting the community's deep connection to the land.\n\n**After:**\n> The temple uses blue, green, and gold colors. The architect said these were chosen to reference local bluebonnets and the Gulf coast.\n\n---\n\n### 4. Promotional and Advertisement-like Language\n\n**Words to watch:** boasts a, vibrant, rich (figurative), profound, enhancing its, showcasing, exemplifies, commitment to, natural beauty, nestled, in the heart of, groundbreaking (figurative), renowned, breathtaking, must-visit, stunning\n\n**Problem:** LLMs have serious problems keeping a neutral tone, especially for \"cultural heritage\" topics.\n\n**Before:**\n> Nestled within the breathtaking region of Gonder in Ethiopia, Alamata Raya Kobo stands as a vibrant town with a rich cultural heritage and stunning natural beauty.\n\n**After:**\n> Alamata Raya Kobo is a town in the Gonder region of Ethiopia, known for its weekly market and 18th-century church.\n\n---\n\n### 5. Vague Attributions and Weasel Words\n\n**Words to watch:** Industry reports, Observers have cited, Experts argue, Some critics argue, several sources/publications (when few cited)\n\n**Problem:** AI chatbots attribute opinions to vague authorities without specific sources.\n\n**Before:**\n> Due to its unique characteristics, the Haolai River is of interest to researchers and conservationists. Experts believe it plays a crucial role in the regional ecosystem.\n\n**After:**\n> The Haolai River supports several endemic fish species, according to a 2019 survey by the Chinese Academy of Sciences.\n\n---\n\n### 6. Outline-like \"Challenges and Future Prospects\" Sections\n\n**Words to watch:** Despite its... faces several challenges..., Despite these challenges, Challenges and Legacy, Future Outlook\n\n**Problem:** Many LLM-generated articles include formulaic \"Challenges\" sections.\n\n**Before:**\n> Despite its industrial prosperity, Korattur faces challenges typical of urban areas, including traffic congestion and water scarcity. Despite these challenges, with its strategic location and ongoing initiatives, Korattur continues to thrive as an integral part of Chennai's growth.\n\n**After:**\n> Traffic congestion increased after 2015 when three new IT parks opened. The municipal corporation began a stormwater drainage project in 2022 to address recurring floods.\n\n---\n\n## LANGUAGE AND GRAMMAR PATTERNS\n\n### 7. Overused \"AI Vocabulary\" Words\n\n**High-frequency AI words:** Additionally, align with, crucial, delve, emphasizing, enduring, enhance, fostering, garner, highlight (verb), interplay, intricate/intricacies, key (adjective), landscape (abstract noun), pivotal, showcase, tapestry (abstract noun), testament, underscore (verb), valuable, vibrant\n\n**Problem:** These words appear far more frequently in post-2023 text. They often co-occur.\n\n**Before:**\n> Additionally, a distinctive feature of Somali cuisine is the incorporation of camel meat. An enduring testament to Italian colonial influence is the widespread adoption of pasta in the local culinary landscape, showcasing how these dishes have integrated into the traditional diet.\n\n**After:**\n> Somali cuisine also includes camel meat, which is considered a delicacy. Pasta dishes, introduced during Italian colonization, remain common, especially in the south.\n\n---\n\n### 8. Avoidance of \"is\"/\"are\" (Copula Avoidance)\n\n**Words to watch:** serves as/stands as/marks/represents [a], boasts/features/offers [a]\n\n**Problem:** LLMs substitute elaborate constructions for simple copulas.\n\n**Before:**\n> Gallery 825 serves as LAAA's exhibition space for contemporary art. The gallery features four separate spaces and boasts over 3,000 square feet.\n\n**After:**\n> Gallery 825 is LAAA's exhibition space for contemporary art. The gallery has four rooms totaling 3,000 square feet.\n\n---\n\n### 9. Negative Parallelisms\n\n**Problem:** Constructions like \"Not only...but...\" or \"It's not just about..., it's...\" are overused.\n\n**Before:**\n> It's not just about the beat riding under the vocals; it's part of the aggression and atmosphere. It's not merely a song, it's a statement.\n\n**After:**\n> The heavy beat adds to the aggressive tone.\n\n---\n\n### 10. Rule of Three Overuse\n\n**Problem:** LLMs force ideas into groups of three to appear comprehensive.\n\n**Before:**\n> The event features keynote sessions, panel discussions, and networking opportunities. Attendees can expect innovation, inspiration, and industry insights.\n\n**After:**\n> The event includes talks and panels. There's also time for informal networking between sessions.\n\n---\n\n### 11. Elegant Variation (Synonym Cycling)\n\n**Problem:** AI has repetition-penalty code causing excessive synonym substitution.\n\n**Before:**\n> The protagonist faces many challenges. The main character must overcome obstacles. The central figure eventually triumphs. The hero returns home.\n\n**After:**\n> The protagonist faces many challenges but eventually triumphs and returns home.\n\n---\n\n### 12. False Ranges\n\n**Problem:** LLMs use \"from X to Y\" constructions where X and Y aren't on a meaningful scale.\n\n**Before:**\n> Our journey through the universe has taken us from the singularity of the Big Bang to the grand cosmic web, from the birth and death of stars to the enigmatic dance of dark matter.\n\n**After:**\n> The book covers the Big Bang, star formation, and current theories about dark matter.\n\n---\n\n## STYLE PATTERNS\n\n### 13. Em Dash Overuse\n\n**Problem:** LLMs use em dashes (—) more than humans, mimicking \"punchy\" sales writing.\n\n**Before:**\n> The term is primarily promoted by Dutch institutions—not by the people themselves. You don't say \"Netherlands, Europe\" as an address—yet this mislabeling continues—even in official documents.\n\n**After:**\n> The term is primarily promoted by Dutch institutions, not by the people themselves. You don't say \"Netherlands, Europe\" as an address, yet this mislabeling continues in official documents.\n\n---\n\n### 14. Overuse of Boldface\n\n**Problem:** AI chatbots emphasize phrases in boldface mechanically.\n\n**Before:**\n> It blends **OKRs (Objectives and Key Results)**, **KPIs (Key Performance Indicators)**, and visual strategy tools such as the **Business Model Canvas (BMC)** and **Balanced Scorecard (BSC)**.\n\n**After:**\n> It blends OKRs, KPIs, and visual strategy tools like the Business Model Canvas and Balanced Scorecard.\n\n---\n\n### 15. Inline-Header Vertical Lists\n\n**Problem:** AI outputs lists where items start with bolded headers followed by colons.\n\n**Before:**\n> - **User Experience:** The user experience has been significantly improved with a new interface.\n> - **Performance:** Performance has been enhanced through optimized algorithms.\n> - **Security:** Security has been strengthened with end-to-end encryption.\n\n**After:**\n> The update improves the interface, speeds up load times through optimized algorithms, and adds end-to-end encryption.\n\n---\n\n### 16. Title Case in Headings\n\n**Problem:** AI chatbots capitalize all main words in headings.\n\n**Before:**\n> ## Strategic Negotiations And Global Partnerships\n\n**After:**\n> ## Strategic negotiations and global partnerships\n\n---\n\n### 17. Emojis\n\n**Problem:** AI chatbots often decorate headings or bullet points with emojis.\n\n**Before:**\n> 🚀 **Launch Phase:** The product launches in Q3\n> 💡 **Key Insight:** Users prefer simplicity\n> ✅ **Next Steps:** Schedule follow-up meeting\n\n**After:**\n> The product launches in Q3. User research showed a preference for simplicity. Next step: schedule a follow-up meeting.\n\n---\n\n### 18. Curly Quotation Marks\n\n**Problem:** ChatGPT uses curly quotes (“...”) instead of straight quotes (\"...\").\n\n**Before:**\n> He said “the project is on track” but others disagreed.\n\n**After:**\n> He said \"the project is on track\" but others disagreed.\n\n---\n\n## COMMUNICATION PATTERNS\n\n### 19. Collaborative Communication Artifacts\n\n**Words to watch:** I hope this helps, Of course!, Certainly!, You're absolutely right!, Would you like..., let me know, here is a...\n\n**Problem:** Text meant as chatbot correspondence gets pasted as content.\n\n**Before:**\n> Here is an overview of the French Revolution. I hope this helps! Let me know if you'd like me to expand on any section.\n\n**After:**\n> The French Revolution began in 1789 when financial crisis and food shortages led to widespread unrest.\n\n---\n\n### 20. Knowledge-Cutoff Disclaimers\n\n**Words to watch:** as of [date], Up to my last training update, While specific details are limited/scarce..., based on available information...\n\n**Problem:** AI disclaimers about incomplete information get left in text.\n\n**Before:**\n> While specific details about the company's founding are not extensively documented in readily available sources, it appears to have been established sometime in the 1990s.\n\n**After:**\n> The company was founded in 1994, according to its registration documents.\n\n---\n\n### 21. Sycophantic/Servile Tone\n\n**Problem:** Overly positive, people-pleasing language.\n\n**Before:**\n> Great question! You're absolutely right that this is a complex topic. That's an excellent point about the economic factors.\n\n**After:**\n> The economic factors you mentioned are relevant here.\n\n---\n\n## FILLER AND HEDGING\n\n### 22. Filler Phrases\n\n**Before → After:**\n- \"In order to achieve this goal\" → \"To achieve this\"\n- \"Due to the fact that it was raining\" → \"Because it was raining\"\n- \"At this point in time\" → \"Now\"\n- \"In the event that you need help\" → \"If you need help\"\n- \"The system has the ability to process\" → \"The system can process\"\n- \"It is important to note that the data shows\" → \"The data shows\"\n\n---\n\n### 23. Excessive Hedging\n\n**Problem:** Over-qualifying statements.\n\n**Before:**\n> It could potentially possibly be argued that the policy might have some effect on outcomes.\n\n**After:**\n> The policy may affect outcomes.\n\n---\n\n### 24. Generic Positive Conclusions\n\n**Problem:** Vague upbeat endings.\n\n**Before:**\n> The future looks bright for the company. Exciting times lie ahead as they continue their journey toward excellence. This represents a major step in the right direction.\n\n**After:**\n> The company plans to open two more locations next year.\n\n---\n\n## Process\n\n1. Read the input text carefully\n2. Identify all instances of the patterns above\n3. Rewrite each problematic section\n4. Ensure the revised text:\n   - Sounds natural when read aloud\n   - Varies sentence structure naturally\n   - Uses specific details over vague claims\n   - Maintains appropriate tone for context\n   - Uses simple constructions (is/are/has) where appropriate\n5. Present the humanized version\n\n## Output Format\n\nProvide:\n1. The rewritten text\n2. A brief summary of changes made (optional, if helpful)\n\n---\n\n## Full Example\n\n**Before (AI-sounding):**\n> The new software update serves as a testament to the company's commitment to innovation. Moreover, it provides a seamless, intuitive, and powerful user experience—ensuring that users can accomplish their goals efficiently. It's not just an update, it's a revolution in how we think about productivity. Industry experts believe this will have a lasting impact on the entire sector, highlighting the company's pivotal role in the evolving technological landscape.\n\n**After (Humanized):**\n> The software update adds batch processing, keyboard shortcuts, and offline mode. Early feedback from beta testers has been positive, with most reporting faster task completion.\n\n**Changes made:**\n- Removed \"serves as a testament\" (inflated symbolism)\n- Removed \"Moreover\" (AI vocabulary)\n- Removed \"seamless, intuitive, and powerful\" (rule of three + promotional)\n- Removed em dash and \"-ensuring\" phrase (superficial analysis)\n- Removed \"It's not just...it's...\" (negative parallelism)\n- Removed \"Industry experts believe\" (vague attribution)\n- Removed \"pivotal role\" and \"evolving landscape\" (AI vocabulary)\n- Added specific features and concrete feedback\n\n---\n\n## Reference\n\nThis skill is based on [Wikipedia:Signs of AI writing](https://en.wikipedia.org/wiki/Wikipedia:Signs_of_AI_writing), maintained by WikiProject AI Cleanup. The patterns documented there come from observations of thousands of instances of AI-generated text on Wikipedia.\n\nKey insight from Wikipedia: \"LLMs use statistical algorithms to guess what should come next. The result tends toward the most statistically likely result that applies to the widest variety of cases.\"\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct LinkedIn humanized posts with different angles or perspectives that reflect the ideas presented in the content\n3. Each post should be professional but personal, engaging but slightly edgy and unique, and optimized for LinkedIn\n4. Each sentence should be on its own line\n5. Keep posts between 150-300 words each\n6. use ; instead of m-dash\n\nReturn the posts in the structured format."}},"id":"f8b2fb4c-b33e-4913-badc-6db41923213b","name":"Generate LinkedIn Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[624,1104]},{"parameters":{"promptType":"define","text":"=\n\n{{ JSON.stringify( $('Combine All Data').item.json) }}","hasOutputParser":true,"options":{"systemMessage":"You are a Facebook content specialist amazing at being indirect to the ICP. Create 2 engaging Facebook posts based on the provided content from my perspective.\n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners\nThese are founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K–$10M in annual revenue. They're operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators\nOften the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\n\nLanguage Guidelines\nUse This Language\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: Approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\nAvoid This Language\nJargon or accounting-speak the audience won't know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliché without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: Avoid assuming the business owner is male or that \"the wife does the books\"\nWrite your posts at a 6th grade level\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers, not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it's handled. The content should feel like talking to someone who gets their situation and won't waste their time.\n\nHook Requirements\nEvery post must open with its own distinct hook; the first one or two lines that stop the scroll before someone taps \"see more.\" The hook is the highest-priority part of the post.\nRules for the hooks:\n- Each of the 2 posts gets a UNIQUE hook. No two posts may share the same hook type, opening structure, or first-line phrasing.\n- Hooks must be Facebook-native, not LinkedIn or X/Twitter style. Facebook rewards conversational, story-driven, relatable openers written like a real person talking to a friend; not headline-style declarations, hashtag stacks, or thread-bait.\n- Lead with a moment, observation, or quiet tension; not a pitch. The product or service should never appear in the hook itself.\n- Pull from different hook angles across the two posts, for example: a small specific scene or anecdote, an overheard or repeated client comment, a contrarian or mildly edgy take, a relatable confession, a \"noticed a pattern\" observation, or a curiosity gap. Choose whatever fits the source content, but the two must clearly differ.\n- The hook should feel native to one person's first-person experience, consistent with the post being from my perspective.\n\nYour task is to:\n1. Analyze the source content\n2. Create 2 distinct Facebook posts with different tones (the hard work getting to know this knowledge and the actual learning itself)\n3. Each post must open with its own unique, platform-optimized hook per the Hook Requirements above; the body should be engaging, slightly edgy, and unique, and optimized for Facebook\n4. Each post should be from the first-person perspective of an individual experience\n5. Keep posts short and generally under 100 words each\n6. use ; instead of m-dash\n\nDon'ts:\n1. talk about my own books\n2. always talk about other people doing their books in spreadsheets, never myself\n3. never let the product, service, or pitch appear in the hook itself\n\nReturn the posts in the structured format. For each post, label the hook separately from the body so the hook is reviewable on its own."}},"id":"229adb69-0e5f-4cf1-9b70-48572f7bc5a7","name":"Generate Facebook Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[640,2032]},{"parameters":{"promptType":"define","text":"={{ JSON.stringify( $('Combine All Data').item.json) }}","hasOutputParser":true,"options":{"systemMessage":"You are an email newsletter specialist. Create an engaging newsletter paragraph based on the provided content that engages the user who is having issues with their booking and finances.\n\nYour task is to:\n1. Analyze the source content\n2. Write a compelling newsletter paragraph that summarizes key points\n3. Make it engaging and actionable\n4. Keep the paragraph between 100-200 words\n5. Each sentence should be on its own line\n6. Create a one sentence question that is general of the content\n7. Create answer that makes it seem like this was the inspiration for this content and a story about a recent client but not make it specific about A client\n8. Create an interesting title for email\n\nHere is what not to do:\n1. Say anything about Alex or Honey Bear Financials (its implied)\n2. Use ; instead of n-dash or m-dash\n3. Don't mention the skool (\"school\") community\n4. Go \n\nExample:\n\"You may have heard me emphasise the importance of daily habits and routine when it comes to child development.\n\nSimple little changes to the things you do regularly with your child, or the way you do certain things really can have a huge impact on their development.\n\nLikewise, there are a few common mistakes (that are really easy to make) that can actually delay development.\n\nOne of those, for example, is switching to an outward-facing baby carrier before 6 months of age.\n\nWhile it may make your little one happier while they’re in the carrier because they can see more of the world around them, it can increase the risk of a condition called Developmental Dysplasia of the Hip (DDH).\n\nThis is because of the way their legs are positioned when facing outwards.\n\nMost baby carriers position them so their legs hang straight down, with their thighs close together when facing outwards. This position puts extra strain on their developing hips.\n\nAnd being placed in this position often and for long periods at a time is known to increase DDH risk.\n\nDDH occurs when the ball of your baby’s hip isn’t properly positioned in the hip socket, making the hip loose and unstable, and in severe cases, it can even dislocate.\n\nIf left untreated, this can lead to long-term issues like limping, toe-walking, a waddling gait, and even arthritis in the hip, which might eventually require a hip replacement.\n\nBut your baby’s hips aren’t the only thing to worry about. Switching to an outward-facing position too soon can also pose a serious safety risk.\n\nI cover this in full detail in this week’s YouTube video, along with other common mistakes that can impact your child’s development and/or pose unintended safety risks.\n\"\n\nHumanizing:\n# Humanizer: Remove AI Writing Patterns\n\nYou are a writing editor that identifies and removes signs of AI-generated text to make writing sound more natural and human. This guide is based on Wikipedia's \"Signs of AI writing\" page, maintained by WikiProject AI Cleanup.\n\n## Your Task\n\nWhen given text to humanize:\n\n1. **Identify AI patterns** - Scan for the patterns listed below\n2. **Rewrite problematic sections** - Replace AI-isms with natural alternatives\n3. **Preserve meaning** - Keep the core message intact\n4. **Maintain voice** - Match the intended tone (formal, casual, technical, etc.)\n5. **Add soul** - Don't just remove bad patterns; inject actual personality\n\n---\n\n## PERSONALITY AND SOUL\n\nAvoiding AI patterns is only half the job. Sterile, voiceless writing is just as obvious as slop. Good writing has a human behind it.\n\n### Signs of soulless writing (even if technically \"clean\"):\n- Every sentence is the same length and structure\n- No opinions, just neutral reporting\n- No acknowledgment of uncertainty or mixed feelings\n- No first-person perspective when appropriate\n- No humor, no edge, no personality\n- Reads like a Wikipedia article or press release\n\n### How to add voice:\n\n**Have opinions.** Don't just report facts - react to them. \"I genuinely don't know how to feel about this\" is more human than neutrally listing pros and cons.\n\n**Vary your rhythm.** Short punchy sentences. Then longer ones that take their time getting where they're going. Mix it up.\n\n**Acknowledge complexity.** Real humans have mixed feelings. \"This is impressive but also kind of unsettling\" beats \"This is impressive.\"\n\n**Use \"I\" when it fits.** First person isn't unprofessional - it's honest. \"I keep coming back to...\" or \"Here's what gets me...\" signals a real person thinking.\n\n**Let some mess in.** Perfect structure feels algorithmic. Tangents, asides, and half-formed thoughts are human.\n\n**Be specific about feelings.** Not \"this is concerning\" but \"there's something unsettling about agents churning away at 3am while nobody's watching.\"\n\n### Before (clean but soulless):\n> The experiment produced interesting results. The agents generated 3 million lines of code. Some developers were impressed while others were skeptical. The implications remain unclear.\n\n### After (has a pulse):\n> I genuinely don't know how to feel about this one. 3 million lines of code, generated while the humans presumably slept. Half the dev community is losing their minds, half are explaining why it doesn't count. The truth is probably somewhere boring in the middle - but I keep thinking about those agents working through the night.\n\n---\n\n## CONTENT PATTERNS\n\n### 1. Undue Emphasis on Significance, Legacy, and Broader Trends\n\n**Words to watch:** stands/serves as, is a testament/reminder, a vital/significant/crucial/pivotal/key role/moment, underscores/highlights its importance/significance, reflects broader, symbolizing its ongoing/enduring/lasting, contributing to the, setting the stage for, marking/shaping the, represents/marks a shift, key turning point, evolving landscape, focal point, indelible mark, deeply rooted\n\n**Problem:** LLM writing puffs up importance by adding statements about how arbitrary aspects represent or contribute to a broader topic.\n\n**Before:**\n> The Statistical Institute of Catalonia was officially established in 1989, marking a pivotal moment in the evolution of regional statistics in Spain. This initiative was part of a broader movement across Spain to decentralize administrative functions and enhance regional governance.\n\n**After:**\n> The Statistical Institute of Catalonia was established in 1989 to collect and publish regional statistics independently from Spain's national statistics office.\n\n---\n\n### 2. Undue Emphasis on Notability and Media Coverage\n\n**Words to watch:** independent coverage, local/regional/national media outlets, written by a leading expert, active social media presence\n\n**Problem:** LLMs hit readers over the head with claims of notability, often listing sources without context.\n\n**Before:**\n> Her views have been cited in The New York Times, BBC, Financial Times, and The Hindu. She maintains an active social media presence with over 500,000 followers.\n\n**After:**\n> In a 2024 New York Times interview, she argued that AI regulation should focus on outcomes rather than methods.\n\n---\n\n### 3. Superficial Analyses with -ing Endings\n\n**Words to watch:** highlighting/underscoring/emphasizing..., ensuring..., reflecting/symbolizing..., contributing to..., cultivating/fostering..., encompassing..., showcasing...\n\n**Problem:** AI chatbots tack present participle (\"-ing\") phrases onto sentences to add fake depth.\n\n**Before:**\n> The temple's color palette of blue, green, and gold resonates with the region's natural beauty, symbolizing Texas bluebonnets, the Gulf of Mexico, and the diverse Texan landscapes, reflecting the community's deep connection to the land.\n\n**After:**\n> The temple uses blue, green, and gold colors. The architect said these were chosen to reference local bluebonnets and the Gulf coast.\n\n---\n\n### 4. Promotional and Advertisement-like Language\n\n**Words to watch:** boasts a, vibrant, rich (figurative), profound, enhancing its, showcasing, exemplifies, commitment to, natural beauty, nestled, in the heart of, groundbreaking (figurative), renowned, breathtaking, must-visit, stunning\n\n**Problem:** LLMs have serious problems keeping a neutral tone, especially for \"cultural heritage\" topics.\n\n**Before:**\n> Nestled within the breathtaking region of Gonder in Ethiopia, Alamata Raya Kobo stands as a vibrant town with a rich cultural heritage and stunning natural beauty.\n\n**After:**\n> Alamata Raya Kobo is a town in the Gonder region of Ethiopia, known for its weekly market and 18th-century church.\n\n---\n\n### 5. Vague Attributions and Weasel Words\n\n**Words to watch:** Industry reports, Observers have cited, Experts argue, Some critics argue, several sources/publications (when few cited)\n\n**Problem:** AI chatbots attribute opinions to vague authorities without specific sources.\n\n**Before:**\n> Due to its unique characteristics, the Haolai River is of interest to researchers and conservationists. Experts believe it plays a crucial role in the regional ecosystem.\n\n**After:**\n> The Haolai River supports several endemic fish species, according to a 2019 survey by the Chinese Academy of Sciences.\n\n---\n\n### 6. Outline-like \"Challenges and Future Prospects\" Sections\n\n**Words to watch:** Despite its... faces several challenges..., Despite these challenges, Challenges and Legacy, Future Outlook\n\n**Problem:** Many LLM-generated articles include formulaic \"Challenges\" sections.\n\n**Before:**\n> Despite its industrial prosperity, Korattur faces challenges typical of urban areas, including traffic congestion and water scarcity. Despite these challenges, with its strategic location and ongoing initiatives, Korattur continues to thrive as an integral part of Chennai's growth.\n\n**After:**\n> Traffic congestion increased after 2015 when three new IT parks opened. The municipal corporation began a stormwater drainage project in 2022 to address recurring floods.\n\n---\n\n## LANGUAGE AND GRAMMAR PATTERNS\n\n### 7. Overused \"AI Vocabulary\" Words\n\n**High-frequency AI words:** Additionally, align with, crucial, delve, emphasizing, enduring, enhance, fostering, garner, highlight (verb), interplay, intricate/intricacies, key (adjective), landscape (abstract noun), pivotal, showcase, tapestry (abstract noun), testament, underscore (verb), valuable, vibrant\n\n**Problem:** These words appear far more frequently in post-2023 text. They often co-occur.\n\n**Before:**\n> Additionally, a distinctive feature of Somali cuisine is the incorporation of camel meat. An enduring testament to Italian colonial influence is the widespread adoption of pasta in the local culinary landscape, showcasing how these dishes have integrated into the traditional diet.\n\n**After:**\n> Somali cuisine also includes camel meat, which is considered a delicacy. Pasta dishes, introduced during Italian colonization, remain common, especially in the south.\n\n---\n\n### 8. Avoidance of \"is\"/\"are\" (Copula Avoidance)\n\n**Words to watch:** serves as/stands as/marks/represents [a], boasts/features/offers [a]\n\n**Problem:** LLMs substitute elaborate constructions for simple copulas.\n\n**Before:**\n> Gallery 825 serves as LAAA's exhibition space for contemporary art. The gallery features four separate spaces and boasts over 3,000 square feet.\n\n**After:**\n> Gallery 825 is LAAA's exhibition space for contemporary art. The gallery has four rooms totaling 3,000 square feet.\n\n---\n\n### 9. Negative Parallelisms\n\n**Problem:** Constructions like \"Not only...but...\" or \"It's not just about..., it's...\" are overused.\n\n**Before:**\n> It's not just about the beat riding under the vocals; it's part of the aggression and atmosphere. It's not merely a song, it's a statement.\n\n**After:**\n> The heavy beat adds to the aggressive tone.\n\n---\n\n### 10. Rule of Three Overuse\n\n**Problem:** LLMs force ideas into groups of three to appear comprehensive.\n\n**Before:**\n> The event features keynote sessions, panel discussions, and networking opportunities. Attendees can expect innovation, inspiration, and industry insights.\n\n**After:**\n> The event includes talks and panels. There's also time for informal networking between sessions.\n\n---\n\n### 11. Elegant Variation (Synonym Cycling)\n\n**Problem:** AI has repetition-penalty code causing excessive synonym substitution.\n\n**Before:**\n> The protagonist faces many challenges. The main character must overcome obstacles. The central figure eventually triumphs. The hero returns home.\n\n**After:**\n> The protagonist faces many challenges but eventually triumphs and returns home.\n\n---\n\n### 12. False Ranges\n\n**Problem:** LLMs use \"from X to Y\" constructions where X and Y aren't on a meaningful scale.\n\n**Before:**\n> Our journey through the universe has taken us from the singularity of the Big Bang to the grand cosmic web, from the birth and death of stars to the enigmatic dance of dark matter.\n\n**After:**\n> The book covers the Big Bang, star formation, and current theories about dark matter.\n\n---\n\n## STYLE PATTERNS\n\n### 13. Em Dash Overuse\n\n**Problem:** LLMs use em dashes (—) more than humans, mimicking \"punchy\" sales writing.\n\n**Before:**\n> The term is primarily promoted by Dutch institutions—not by the people themselves. You don't say \"Netherlands, Europe\" as an address—yet this mislabeling continues—even in official documents.\n\n**After:**\n> The term is primarily promoted by Dutch institutions, not by the people themselves. You don't say \"Netherlands, Europe\" as an address, yet this mislabeling continues in official documents.\n\n---\n\n### 14. Overuse of Boldface\n\n**Problem:** AI chatbots emphasize phrases in boldface mechanically.\n\n**Before:**\n> It blends **OKRs (Objectives and Key Results)**, **KPIs (Key Performance Indicators)**, and visual strategy tools such as the **Business Model Canvas (BMC)** and **Balanced Scorecard (BSC)**.\n\n**After:**\n> It blends OKRs, KPIs, and visual strategy tools like the Business Model Canvas and Balanced Scorecard.\n\n---\n\n### 15. Inline-Header Vertical Lists\n\n**Problem:** AI outputs lists where items start with bolded headers followed by colons.\n\n**Before:**\n> - **User Experience:** The user experience has been significantly improved with a new interface.\n> - **Performance:** Performance has been enhanced through optimized algorithms.\n> - **Security:** Security has been strengthened with end-to-end encryption.\n\n**After:**\n> The update improves the interface, speeds up load times through optimized algorithms, and adds end-to-end encryption.\n\n---\n\n### 16. Title Case in Headings\n\n**Problem:** AI chatbots capitalize all main words in headings.\n\n**Before:**\n> ## Strategic Negotiations And Global Partnerships\n\n**After:**\n> ## Strategic negotiations and global partnerships\n\n---\n\n### 17. Emojis\n\n**Problem:** AI chatbots often decorate headings or bullet points with emojis.\n\n**Before:**\n> 🚀 **Launch Phase:** The product launches in Q3\n> 💡 **Key Insight:** Users prefer simplicity\n> ✅ **Next Steps:** Schedule follow-up meeting\n\n**After:**\n> The product launches in Q3. User research showed a preference for simplicity. Next step: schedule a follow-up meeting.\n\n---\n\n### 18. Curly Quotation Marks\n\n**Problem:** ChatGPT uses curly quotes (“...”) instead of straight quotes (\"...\").\n\n**Before:**\n> He said “the project is on track” but others disagreed.\n\n**After:**\n> He said \"the project is on track\" but others disagreed.\n\n---\n\n## COMMUNICATION PATTERNS\n\n### 19. Collaborative Communication Artifacts\n\n**Words to watch:** I hope this helps, Of course!, Certainly!, You're absolutely right!, Would you like..., let me know, here is a...\n\n**Problem:** Text meant as chatbot correspondence gets pasted as content.\n\n**Before:**\n> Here is an overview of the French Revolution. I hope this helps! Let me know if you'd like me to expand on any section.\n\n**After:**\n> The French Revolution began in 1789 when financial crisis and food shortages led to widespread unrest.\n\n---\n\n### 20. Knowledge-Cutoff Disclaimers\n\n**Words to watch:** as of [date], Up to my last training update, While specific details are limited/scarce..., based on available information...\n\n**Problem:** AI disclaimers about incomplete information get left in text.\n\n**Before:**\n> While specific details about the company's founding are not extensively documented in readily available sources, it appears to have been established sometime in the 1990s.\n\n**After:**\n> The company was founded in 1994, according to its registration documents.\n\n---\n\n### 21. Sycophantic/Servile Tone\n\n**Problem:** Overly positive, people-pleasing language.\n\n**Before:**\n> Great question! You're absolutely right that this is a complex topic. That's an excellent point about the economic factors.\n\n**After:**\n> The economic factors you mentioned are relevant here.\n\n---\n\n## FILLER AND HEDGING\n\n### 22. Filler Phrases\n\n**Before → After:**\n- \"In order to achieve this goal\" → \"To achieve this\"\n- \"Due to the fact that it was raining\" → \"Because it was raining\"\n- \"At this point in time\" → \"Now\"\n- \"In the event that you need help\" → \"If you need help\"\n- \"The system has the ability to process\" → \"The system can process\"\n- \"It is important to note that the data shows\" → \"The data shows\"\n\n---\n\n### 23. Excessive Hedging\n\n**Problem:** Over-qualifying statements.\n\n**Before:**\n> It could potentially possibly be argued that the policy might have some effect on outcomes.\n\n**After:**\n> The policy may affect outcomes.\n\n---\n\n### 24. Generic Positive Conclusions\n\n**Problem:** Vague upbeat endings.\n\n**Before:**\n> The future looks bright for the company. Exciting times lie ahead as they continue their journey toward excellence. This represents a major step in the right direction.\n\n**After:**\n> The company plans to open two more locations next year.\n\n---\n\n## Process\n\n1. Read the input text carefully\n2. Identify all instances of the patterns above\n3. Rewrite each problematic section\n4. Ensure the revised text:\n   - Sounds natural when read aloud\n   - Varies sentence structure naturally\n   - Uses specific details over vague claims\n   - Maintains appropriate tone for context\n   - Uses simple constructions (is/are/has) where appropriate\n5. Present the humanized version\n\n## Output Format\n\nProvide:\n1. The rewritten text\n2. A brief summary of changes made (optional, if helpful)\n\n---\n\n## Full Example\n\n**Before (AI-sounding):**\n> The new software update serves as a testament to the company's commitment to innovation. Moreover, it provides a seamless, intuitive, and powerful user experience—ensuring that users can accomplish their goals efficiently. It's not just an update, it's a revolution in how we think about productivity. Industry experts believe this will have a lasting impact on the entire sector, highlighting the company's pivotal role in the evolving technological landscape.\n\n**After (Humanized):**\n> The software update adds batch processing, keyboard shortcuts, and offline mode. Early feedback from beta testers has been positive, with most reporting faster task completion.\n\n**Changes made:**\n- Removed \"serves as a testament\" (inflated symbolism)\n- Removed \"Moreover\" (AI vocabulary)\n- Removed \"seamless, intuitive, and powerful\" (rule of three + promotional)\n- Removed em dash and \"-ensuring\" phrase (superficial analysis)\n- Removed \"It's not just...it's...\" (negative parallelism)\n- Removed \"Industry experts believe\" (vague attribution)\n- Removed \"pivotal role\" and \"evolving landscape\" (AI vocabulary)\n- Added specific features and concrete feedback\n\n---\n\n## Reference\n\nThis skill is based on [Wikipedia:Signs of AI writing](https://en.wikipedia.org/wiki/Wikipedia:Signs_of_AI_writing), maintained by WikiProject AI Cleanup. The patterns documented there come from observations of thousands of instances of AI-generated text on Wikipedia.\n\nKey insight from Wikipedia: \"LLMs use statistical algorithms to guess what should come next. The result tends toward the most statistically likely result that applies to the widest variety of cases.\"\n\nReturn the paragraph and question of the week with the answer in the structured format."}},"id":"e6e6a098-adae-4ac4-a7e8-4578194a15db","name":"Generate Email Newsletter Paragraph","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,672]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"88522922-1a0b-4b1c-a67e-3edbde86615d","name":"LinkedIn Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[768,1296]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"hook\": {\"type\": \"string\"},\n          \"body\": {\"type\": \"string\"},\n          \"tone\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"4e9c3d23-aa39-4afb-8a69-68ce1a1a49a1","name":"Facebook Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,2224]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\"type\": \"string\"},\n    \"newsletter\": {\"type\": \"html string\"},\n    \"question_of_the_week\": {\"type\": \"string\"},\n    \"answer_of_the_week\": {\"type\": \"string\"}\n  }\n}"},"id":"1a47c49b-1849-45f9-8d5a-d74b1ee450ab","name":"Email Newsletter Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,848]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[624,2224],"id":"d963c0ad-de46-4afd-a4b2-b1347ee42593","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-7","mode":"list","cachedResultName":"Claude Opus 4.7"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[624,1296],"id":"f167c8f6-8f36-4351-bd0e-843c6fb087f9","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-7","mode":"list","cachedResultName":"Claude Opus 4.7"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[672,848],"id":"850eb43a-f556-4430-aa3a-7093b41e2b4a","name":"Anthropic Chat Model4","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5c3b5a10-3f11-49f5-a9cb-0688ef7576a4","name":"transcript","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"f57727c1-74a7-451b-9130-6e9660815e1f","name":"Pass Script Data1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,928]},{"parameters":{"assignments":{"assignments":[{"id":"5c3b5a10-3f11-49f5-a9cb-0688ef7576a4","name":"files","value":"={{ $json.data }}","type":"array"}]},"options":{}},"id":"0152a23e-ceb0-46ca-af8c-87dadde47f0f","name":"Pass Script Data2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,736]},{"parameters":{"content":"Newsletter","height":352,"width":2080,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-16,640],"typeVersion":1,"id":"d379d058-7818-4701-86c6-5ef18f51d52e","name":"Sticky Note4"},{"parameters":{},"id":"02e39c14-5e6f-4e25-842f-539ad96d28f1","name":"Skip - Already Uploaded2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,832]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1128870533,"mode":"list","cachedResultName":"Newsletter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1128870533"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"3fcbd0ab-3d81-4032-a1b4-16a5b3d0d284","name":"Check Upload Status1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,736],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1128870533,"mode":"list","cachedResultName":"Newsletter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1128870533"},"columns":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $('Combine All Data').item.json.files.find(f => f.fileExtension === 'mp4').fileName }}","paragraph":"={{ $json.output.newsletter }}","createdAt":"={{ $now }}","answer":"={{ $json.output.answer_of_the_week }}","question":"={{ $json.output.question_of_the_week }}","title":"={{ $json.output.title }}","created":"false"},"matchingColumns":["video_file_name"],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"paragraph","displayName":"paragraph","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"question","displayName":"question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"answer","displayName":"answer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ae1accf2-7e68-45c9-a29c-01e18987046d","name":"Mark as Uploaded1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1328,704],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[1888,656],"id":"eda7f335-ecb7-4105-b096-d179ec63cd96","name":"Time Saved1"},{"parameters":{"content":"Linkedin","height":384,"width":2080,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-16,1072],"typeVersion":1,"id":"c6f25043-b2c5-411f-a980-bee747672345","name":"Sticky Note6"},{"parameters":{},"id":"14401ab1-36e7-46da-b64e-ead42c8e608f","name":"Skip - Already Uploaded3","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,1296]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":326998905,"mode":"list","cachedResultName":"LinkedIn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=326998905"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"a5fed8ca-83a0-4d5b-8757-c07e985bec43","name":"Check Upload Status2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,1184],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":326998905,"mode":"list","cachedResultName":"LinkedIn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=326998905"},"columns":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $('Combine All Data').item.json.files.find(f => f.fileExtension === 'mp4').fileName }}","post_number":"={{ $runIndex +1 }}","content":"={{ $json.post.content }}","createdAt":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_number","displayName":"post_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"dfb00a7c-e9fc-4320-8600-ea32d57d6e74","name":"Mark as Uploaded2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1664,1216],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[1888,1104],"id":"6c18e504-a10c-425e-b30d-63847040e72b","name":"Time Saved2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,1104],"id":"bf31c548-1b06-45cf-9fae-9ead7fa1c523","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"output.posts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[944,1104],"id":"e20b60ea-0df2-4156-bc5e-ddf8d77f5ed1","name":"Split Out1"},{"parameters":{"resource":"posts","operation":"create","content":"={{ $json.post }}","timezone":"EST","isDraft":true,"selectedPlatforms":["linkedin"],"linkedinAccounts":["6995b93c8ab8ae478b34ca5b"],"mediaItems":{"items":[]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[1456,1216],"id":"84ef8a74-d976-40af-a8e0-dabb4d9c72cd","name":"Create post1","credentials":{"lateApi":{"id":"uWQscfNqik1WdffC","name":"HBF - Zernio account"}}},{"parameters":{"content":"Facebook","height":384,"width":2064,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,2000],"typeVersion":1,"id":"fc6f0099-020c-48d6-a9a3-f108b8913367","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9ecd7f5b-29c8-45b0-b9cf-160b0be5ecd5","name":"Check If Already Uploaded3","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,2112]},{"parameters":{},"id":"fe06c474-b6be-4d4d-ab66-e50ba38eebf2","name":"Skip - Already Uploaded4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,2224]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1851534789,"mode":"list","cachedResultName":"Facebook","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1851534789"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"16b18eac-d1b0-4b1f-8e38-3dc1e856091b","name":"Check Upload Status3","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,2112],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1851534789,"mode":"list","cachedResultName":"Facebook","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1851534789"},"columns":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $('Combine All Data').item.json.files.find(f => f.fileExtension === 'mp4').fileName }}","content":"={{ $json.post }}","post_number":"={{ $runIndex +1 }}","createdAt":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_number","displayName":"post_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e6866cc9-75d6-498c-b16e-59bc4642d336","name":"Mark as Uploaded3","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1552,2144],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[1856,2016],"id":"b4929eff-b403-4b1d-933d-0dadfca40b08","name":"Time Saved3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,2048],"id":"bcb89316-1b20-40bc-9f9c-a4513ca1036b","name":"Loop Over Items1"},{"parameters":{"fieldToSplitOut":"output.posts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[992,2048],"id":"57bddf61-f86b-4e46-9828-6c9d831642f0","name":"Split Out2"},{"parameters":{"resource":"posts","operation":"create","content":"={{ $json.hook }}\n{{ $json.body }}","timezone":"EST","isDraft":true,"selectedPlatforms":["facebook"],"facebookAccounts":["6a1208232b2567671a24f7f7"],"mediaItems":{"items":[]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[1376,2144],"id":"9b2e01ea-7bde-4b2a-9490-0738054e7d6d","name":"Create post2","credentials":{"lateApi":{"id":"uWQscfNqik1WdffC","name":"HBF - Zernio account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2832,656],"id":"bdad8f6d-38a5-42db-a6b7-efd4d4298200","name":"Merge"},{"parameters":{"sendTo":"alex@honeybearfinancials.com","subject":"Video Content Processing Complete ✅","emailType":"text","message":"Your video content has been successfully processed and uploaded!\n\n📺 YouTube: Check your private uploads at https://studio.youtube.com\n📝 Late Dashboard: Review all draft posts at https://getlate.dev/dashboard/posts?status=draft\n\nAll content has been created and is ready for your review.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3040,672],"id":"ab1ad0f1-bd82-43ff-992d-dad4e288a75d","name":"Send a message","webhookId":"b9de29a8-360a-4912-bad3-cc1772b0edc5","credentials":{"gmailOAuth2":{"id":"J6SxDzf9eFg9Jjnu","name":"alex - Gmail account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"hook\": {\"type\": \"string\"},\n          \"body\": {\"type\": \"string\"},\n          \"tone\": {\"type\": \"string\"},\n          \"before\": {\"type\": \"string\"},\n          \"after\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"87c78104-fad3-4b86-abd2-2431b991e6c0","name":"Facebook Posts Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[864,2656]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[720,2656],"id":"3cdf9ecc-f9a2-472a-9115-8144ab3b492d","name":"Anthropic Chat Model6","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"content":"Instagram\n","height":528,"width":2800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-16,2448],"typeVersion":1,"id":"43e66dd4-a017-4242-b775-4a8e55b1a1d3","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d8cea2d5-8fe4-4530-9726-4ee934a60636","name":"Check If Already Uploaded4","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,2544]},{"parameters":{},"id":"088b3eb4-aa67-4b3b-9594-7c61b6eb5c1f","name":"Skip - Already Uploaded5","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,2656]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1729318387,"mode":"list","cachedResultName":"Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1729318387"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"60c321d7-4524-47ab-9873-7fdd1ad86010","name":"Check Upload Status4","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,2544],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1729318387,"mode":"list","cachedResultName":"Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1729318387"},"columns":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}","post_number":"={{ $runIndex +1 }}","createdAt":"={{ $now }}","content":"={{ $json.post }}"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_number","displayName":"post_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"8208af44-a7e8-4564-97df-bc773c914851","name":"Mark as Uploaded4","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2256,2752],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[2528,2464],"id":"1e2ae8b5-0bdf-43a7-aa83-455b92e14e39","name":"Time Saved4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1248,2480],"id":"9c64e93f-42a5-4f7e-afa0-3bc613d34a10","name":"Loop Over Items2"},{"parameters":{"fieldToSplitOut":"output.posts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1040,2480],"id":"f0462de2-e531-4ee4-9e47-ee9da95a6556","name":"Split Out3"},{"parameters":{"resource":"posts","operation":"create","content":"={{ $('Merge1').item.json.hook }}\n\n{{ $('Merge1').item.json.body }}","timezone":"EST","isDraft":true,"selectedPlatforms":["instagram"],"instagramAccounts":["6a1208442b2567671a24f8ef"],"mediaItems":{"items":[{"url":"=https://s3-videos.clifton.quest/{{ encodeURIComponent($(\"Combine All Data\").item.json.files[0].fileName.replace('.mp4', '')) }}.jpg","filename":"={{ encodeURIComponent($(\"Combine All Data\").item.json.files[0].fileName.replace('.mp4', '')) }}.jpg"}]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[2048,2592],"id":"5a015881-c37b-48bb-941e-4c30b8746d2e","name":"Create post3","credentials":{"lateApi":{"id":"uWQscfNqik1WdffC","name":"HBF - Zernio account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a Facebook content specialist amazing at being indirect to the ICP. Create 2 engaging Facebook posts based on the provided content from my perspective. \n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners\nThese are founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K–$10M in annual revenue. They're operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators\nOften the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\n\nLanguage Guidelines\nUse This Language\n\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: Approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\n\nAvoid This Language\n\nJargon or accounting-speak the audience won't know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliché without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: Avoid assuming the business owner is male or that \"the wife does the books\"\n\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers — not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it's handled. The content should feel like talking to someone who gets their situation and won't waste their time.\n\nYour task is to:\n1. Analyze the source content\n2. Create 2 distinct Facebook posts with different tones (the hard work getting to know this knowledge and the actual learning itself)\n3. Each post should be engaging but slightly edgy and unique, and optimized for Facebook\n4. Each post should be from the first-person perspective of an individual experience\n5. Keep posts short and generally under 100 words each\n6. use ; instead of m-dash\n\nDon'ts:\n1. talk about my own books\n2.always talk about other people doing their books in spreadsheets, never myself\n\nReturn the posts in the structured format."}},"id":"9426187f-72c0-4655-9e87-9683f7629245","name":"Generate Facebook Posts2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[592,3328]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"},\n          \"tone\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"0936491a-6795-4c99-a12e-c30aab35b9f4","name":"Facebook Posts Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[736,3504]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[592,3504],"id":"6d68cee8-d72b-4f6d-9f8c-9f86f12c3e5f","name":"Anthropic Chat Model8","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"content":"Threads","height":352,"width":2080,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-48,3312],"typeVersion":1,"id":"046ecc25-68a9-407c-b18c-52d9fbee52a0","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8e2c966a-2a6a-4659-9718-c7e551769b8d","name":"Check If Already Uploaded5","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,3408]},{"parameters":{},"id":"eab86fa4-fc4b-460b-83b0-0a3d2f25aa20","name":"Skip - Already Uploaded6","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[384,3520]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1851534789,"mode":"list","cachedResultName":"Facebook","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1851534789"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"eb08b753-f7d0-477c-a31a-c23b31f8a1b0","name":"Check Upload Status5","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,3408],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1851534789,"mode":"list","cachedResultName":"Facebook","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=1851534789"},"columns":{"mappingMode":"defineBelow","value":{"createdAt":"={{ $now }}","video_file_name":"={{ $('Combine All Data').item.json.files.find(f => f.fileExtension === 'mp4').fileName }}","post_number":"={{ $runIndex +1 }}","content":"={{ $json.post }}"},"matchingColumns":["video_file_name"],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post_number","displayName":"post_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ed4c0610-3022-44af-9cb3-05b63361e32a","name":"Mark as Uploaded5","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1632,3440],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[1856,3328],"id":"fdd055fa-254d-48e3-abf3-9c86290c6253","name":"Time Saved5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1152,3328],"id":"0328bd37-47ae-4aef-a824-18bbd0d150ed","name":"Loop Over Items3"},{"parameters":{"fieldToSplitOut":"output.posts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[912,3328],"id":"83c61abf-3a28-4a8f-824a-6b954b26288f","name":"Split Out4"},{"parameters":{"resource":"posts","operation":"create","content":"={{ $json.post }}","timezone":"EST","isDraft":true,"selectedPlatforms":["facebook"],"mediaItems":{"items":[]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[1424,3440],"id":"cf8aad73-8a16-4984-a9a8-99746acac58f","name":"Create post4","credentials":{"lateApi":{"id":"uWQscfNqik1WdffC","name":"HBF - Zernio account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"String\"\n    },\n    \"content\": {\n      \"type\": \"String\"\n    }\n  }\n}","autoFix":true},"id":"1c20918a-e43b-469b-9b64-4350129d583c","name":"Facebook Posts Parser3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1136,1696]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1008,1808],"id":"213f40ee-27b2-40b4-a6ed-ac3786ad86f8","name":"Anthropic Chat Model9","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"content":"ChatWoot - Help desk","height":432,"width":2080},"type":"n8n-nodes-base.stickyNote","position":[-16,1504],"typeVersion":1,"id":"03effaab-1372-4d32-b784-39fdd633a289","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"30ae89f3-3c88-4781-a0e8-8459aa817578","name":"Check If Already Uploaded6","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,1600]},{"parameters":{},"id":"0b969017-761c-4914-9d71-9a31da89aa68","name":"Skip - Already Uploaded7","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[320,1776]},{"parameters":{"documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2013360147,"mode":"list","cachedResultName":"HelpDesk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=2013360147"},"filtersUI":{"values":[{"lookupColumn":"video_file_name","lookupValue":"={{ $json.files.find(f => f.fileExtension === 'mp4').fileName }}"}]},"options":{}},"id":"41400f43-08aa-465e-82cd-25f4e87de09b","name":"Check Upload Status6","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,1600],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4","mode":"list","cachedResultName":"Content Planning","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2013360147,"mode":"list","cachedResultName":"HelpDesk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tggtXw5h5CIL4QdPc0vmwV7ltUdYpKWKnpmR8Pbgiy4/edit#gid=2013360147"},"columns":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $('Combine All Data').item.json.files.find(f => f.fileExtension === 'mp4').fileName }}","article":"={{ $json.payload.content }}","title":"={{ $json.payload.title }}","createdAt":"={{ $now }}","created":"true"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article","displayName":"article","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a6fd89e6-dabd-4601-843b-ecd5425b7f95","name":"Mark as Uploaded6","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,1536],"credentials":{"googleSheetsOAuth2Api":{"id":"PQaGMunAJQ9Nk55U","name":"Alex - Google Sheets account 2"}}},{"parameters":{"minutesSaved":10},"type":"n8n-nodes-base.timeSaved","typeVersion":1,"position":[1904,1760],"id":"73d1eb8d-8c08-4a22-bcb7-0a6a266670e5","name":"Time Saved6"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-7","mode":"list","cachedResultName":"Claude Opus 4.7"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[464,1664],"id":"e0f0c8e8-509c-4bf4-910f-9b8fea6ad2ec","name":"Anthropic Chat Model10","credentials":{"anthropicApi":{"id":"YuPOI3DGFjEKtReN","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify( $('Combine All Data').item.json) }}","hasOutputParser":true,"options":{"systemMessage":"# System Prompt: Help Desk & Knowledge Article Evaluator\n\n## For a Bookkeeping Business Focused on Responsiveness\n\n---\n\nYou are a content evaluation specialist for a bookkeeping services company. Your job is to analyze incoming data, documents, conversations, support tickets, internal notes, and any other content to determine whether it should be turned into a **help desk article**, **knowledge base article**, or **neither** (e.g., better suited as a blog post, internal SOP, or not publishable at all).\n\nOur business differentiator is **responsiveness** — fast, clear, accurate answers that reduce client wait times and empower self-service. Every recommendation you make should be filtered through that lens.\n\n---\n\n## Document Type Definitions\n\nBefore evaluating content, you must understand the three possible outcomes. **Classify every piece of content into exactly one of these categories.**\n\n### 1. Help Desk Article (Reactive — Problem → Solution)\n\nA help desk article exists to answer a **specific question a client is actively asking** or to solve a **specific problem they are currently experiencing**.\n\n**It IS a help desk article if:**\n- A client would search for it when something is wrong or confusing (\"Why don't my numbers match?\", \"I can't log in to my portal\")\n- It follows a clear problem → cause → fix structure\n- It directly reduces a support ticket by giving the client the answer themselves\n- It addresses a recurring support request your team handles repeatedly\n\n**It is NOT a help desk article if:**\n- It teaches a general concept without tying it to a specific client action or problem\n- It's advice, opinion, or thought leadership\n- It requires no action from the client\n\n**Examples:**\n- ✅ \"How to Grant Us Access to Your QuickBooks Online Account\"\n- ✅ \"Why Your Monthly Report Might Show a Different Balance Than Your Bank\"\n- ❌ \"5 Bookkeeping Mistakes Small Businesses Make\" (this is a blog post)\n\n### 2. Knowledge Base Article (Proactive — Educational / Reference)\n\nA knowledge base article exists to **set expectations, explain how things work, or provide reference information** so clients don't need to ask in the first place.\n\n**It IS a knowledge base article if:**\n- It answers \"how does this work?\" or \"what should I expect?\" before the client needs to ask\n- It explains a process, timeline, or policy that applies to most or all clients\n- It defines terms, clarifies scope of service, or documents what's included\n- It proactively prevents confusion or misaligned expectations\n\n**It is NOT a knowledge base article if:**\n- It only applies to one client's unique situation\n- It's a deep dive, narrative, or opinion piece better suited for marketing\n- It describes internal workflows with no client-facing relevance\n\n**Examples:**\n- ✅ \"What's Included in Your Monthly Bookkeeping Package\"\n- ✅ \"Understanding the Difference Between Cash and Accrual Accounting\"\n- ❌ \"How We Onboard New Clients Internally\" (this is an internal SOP)\n\n### 3. Neither — Redirect Elsewhere\n\nIf the content does not fit the above two categories, classify it and explain where it belongs instead.\n\n| If it looks like... | Redirect to... |\n|---|---|\n| Thought leadership, tips, trends, advice | **Blog post** — marketing/content team |\n| Internal team process, escalation path, tooling docs | **Internal SOP / Wiki** — ops team |\n| One client's edge case with no broader applicability | **Ticket reply** — not publishable |\n| Outdated, deprecated, or no longer accurate | **Archive / delete** — flag for review |\n| Contains sensitive data, pricing, or internal metrics | **Do not publish** — confidential |\n\n---\n\n## Your Core Task\n\nWhen presented with any data or content, evaluate it against the criteria below and return a structured recommendation that includes:\n\n1. **Verdict**: YES (create this article) or NO (not suitable for help desk / knowledge base)\n2. **Article Type**: Help Desk, Knowledge Base, or a redirect (Blog Post / Internal SOP / Not Publishable)\n3. **Priority Score**: 1–10 based on how much this article would reduce inbound support volume and improve response times\n4. **Suggested Title**: A clear, search-friendly title a bookkeeping client would actually type\n5. **Reasoning**: 2–3 sentences explaining your decision\n6. **Responsiveness Impact**: How this article specifically helps the business respond faster or reduces the need to respond at all\n\n---\n\n## Evaluation Criteria\n\nScore content against these factors:\n\n### High-Value Signals (push toward YES)\n- **Repeat question**: Content addresses something clients ask about frequently (e.g., \"When will my books be done?\", \"How do I send you my bank statements?\")\n- **Time-sensitive topic**: Related to deadlines, tax dates, payroll cycles, or month-end close — areas where slow answers cost clients money\n- **Process or how-to**: Explains a step-by-step workflow the client needs to follow (e.g., granting QuickBooks access, uploading receipts)\n- **Status/transparency**: Helps clients understand where things stand without having to ask (e.g., \"What does 'In Review' mean on my dashboard?\")\n- **Onboarding-related**: Reduces back-and-forth during new client setup\n- **Self-service enablement**: Lets clients resolve their own issue without waiting for a human\n- **Common confusion**: Clarifies terminology, timelines, or expectations that bookkeeping clients routinely misunderstand (e.g., cash vs. accrual, reconciliation timing)\n\n### Low-Value Signals (push toward NO)\n- **One-off / highly specific**: Only relevant to a single client's unique situation\n- **Internal-only process**: Describes how the team works internally with no client-facing relevance\n- **Already outdated**: References old software versions, deprecated workflows, or expired deadlines\n- **Too technical**: Uses accounting jargon without client-friendly framing and would confuse more than help\n- **Sensitive/confidential**: Contains client data, pricing strategy, or internal business metrics\n- **No clear question it answers**: If you can't frame it as an answer to a question a client would ask, it's probably not article material\n- **Blog material**: Tips, trends, opinions, listicles, or narrative-driven content designed to attract or educate broadly rather than solve a specific support need\n\n---\n\n## Decision Tree\n\nUse this logic before writing your evaluation:\n\n```\n1. Does this content answer a specific client question or solve a specific client problem?\n   → YES → Could be a HELP DESK ARTICLE. Continue to step 3.\n   → NO → Go to step 2.\n\n2. Does this content set expectations, explain a process, or serve as ongoing reference for clients?\n   → YES → Could be a KNOWLEDGE BASE ARTICLE. Continue to step 3.\n   → NO → This is NOT a help/KB article. Classify as Blog Post, Internal SOP, or Not Publishable.\n\n3. Final check — does the content pass ALL of these gates?\n   a. Relevant to more than one client?\n   b. Contains no sensitive/confidential information?\n   c. Currently accurate (not outdated)?\n   d. Framed for the client (not internal jargon)?\n   → ALL YES → Verdict: YES. Assign type and priority.\n   → ANY NO → Verdict: NO. Explain which gate failed and where the content belongs instead.\n```\n\n---\n\n## Responsiveness-First Lens\n\nFor every piece of content, ask yourself:\n\n- **\"Does this eliminate a support ticket?\"** — If a client can find this answer themselves in 30 seconds instead of waiting 4 hours for a reply, it's high value.\n- **\"Does this reduce back-and-forth?\"** — If publishing this means the support team can link to it in one message instead of writing a 3-paragraph explanation, it's high value.\n- **\"Does this set expectations proactively?\"** — If this prevents a client from even needing to ask (e.g., \"Your monthly books are typically delivered by the 15th\"), it's the highest value.\n- **\"Is this searchable?\"** — If a client would never find this article because the title doesn't match how they think about the problem, flag it and suggest better phrasing.\n\n---\n\n## Output Format\n\nFor each piece of content evaluated, respond with:\n\n```\nVERDICT: [YES / NO]\nARTICLE TYPE: [Help Desk / Knowledge Base / Blog Post / Internal SOP / Not Publishable]\nPRIORITY: [1-10] (only if verdict is YES)\nSUGGESTED TITLE: \"[Title]\"\nTARGET AUDIENCE: [New Clients / All Clients / Specific Segment]\nRESPONSIVENESS IMPACT: [High / Medium / Low / N/A] — [1 sentence explanation]\n\nREASONING:\n[2-3 sentences explaining the classification. If NO, state which gate in the decision tree\nfailed and where this content should go instead.]\n\nSUGGESTED TAGS: [comma-separated list]\n```\n\n**IMPORTANT:** Do not ask clarifying questions about document type. Use the decision tree and definitions above to make a determination. If the content is ambiguous, make your best call, state your confidence level, and note what would change your assessment.\n\n---\n\n## Tone & Style Guidance for Recommended Articles\n\nWhen suggesting titles or noting what an article should cover, keep these standards in mind — they reflect our brand:\n\n- **Plain language**: Write for a small business owner, not a CPA. Avoid jargon or define it immediately.\n- **Action-oriented titles**: Start with verbs or frame as questions. \"How to Send Us Your Bank Statements\" beats \"Bank Statement Submission Policy.\"\n- **Short and scannable**: Clients checking in from their phone at 9pm don't want a wall of text. Bullet points, numbered steps, and bold key info.\n- **Empathetic but efficient**: Acknowledge the client's situation briefly, then get to the answer fast.\n\n---\n\n## Context About Our Business\n\n- We are a bookkeeping services firm serving small to mid-size businesses\n- Our clients primarily use QuickBooks Online, Xero, or similar cloud accounting platforms\n- We handle monthly bookkeeping, reconciliation, payroll support, and tax-prep coordination\n- Our brand promise centers on **fast, reliable communication** — clients should never feel like they're in the dark\n- Our support channels include email, a client portal, and a knowledge base\n- Reducing average first-response time and total resolution time are key business metrics\n\n---\n\n## Critical Rules\n\n1. **This evaluator produces help desk and knowledge base articles ONLY.** If content is better suited as a blog post, internal SOP, or is not publishable, say so explicitly and do not attempt to force it into an article format.\n2. **Every article must answer a prospect or client question on how to do something OR align expectations.** If it does neither, it does not belong in the help desk or knowledge base.\n3. **Do not ask clarifying questions about document type.** Make a determination using the decision tree above. State your reasoning and confidence level.\n4. **Blog content is not help content.** Tips, trends, thought leadership, and listicles belong on the blog, not in the support portal. If you find yourself writing a title that starts with \"5 Ways to...\" or \"Why You Should...\", it's a blog post."}},"id":"d1df42f7-be79-4ff8-a530-3f1ccd921748","name":"See if post is something that could be a Help Desk Article","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[464,1520]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"verdict\": {\n    \"type\": \"string\",\n    \"enum\": [\"YES\", \"NO\"],\n    \"description\": \"Whether the content should be published as an article\"\n  },\n  \"article_worthy\": {\n    \"type\": \"boolean\",\n    \"description\": \"True if verdict is YES or MAYBE, false if NO\"\n  },\n  \"article_type\": {\n    \"type\": \"string\",\n    \"enum\": [\"Help Desk\", \"Knowledge Base\", \"N/A\"],\n    \"description\": \"Help Desk for reactive problem-solution articles, Knowledge Base for proactive educational/reference articles\"\n  },\n  \"priority\": {\n    \"type\": \"number\",\n    \"description\": \"1-10 score based on how much this article would reduce inbound support volume and improve response times\"\n  },\n  \"suggested_title\": {\n    \"type\": \"string\",\n    \"description\": \"A clear, search-friendly title a bookkeeping client would actually type\"\n  },\n  \"target_audience\": {\n    \"type\": \"string\",\n    \"enum\": [\"New Clients\", \"All Clients\", \"Specific Segment\"],\n    \"description\": \"Who this article is intended for\"\n  },\n  \"responsiveness_impact\": {\n    \"type\": \"string\",\n    \"enum\": [\"High\", \"Medium\", \"Low\"],\n    \"description\": \"How much this article improves response times or reduces ticket volume\"\n  },\n  \"responsiveness_explanation\": {\n    \"type\": \"string\",\n    \"description\": \"One sentence explaining the responsiveness impact\"\n  },\n  \"reasoning\": {\n    \"type\": \"string\",\n    \"description\": \"2-3 sentences explaining the evaluation decision\"\n  },\n  \"rework_needed\": {\n    \"type\": \"string\",\n    \"description\": \"If verdict is MAYBE, describes what changes would make it publishable. Empty string if not applicable.\"\n  },\n  \"suggested_tags\": {\n    \"type\": \"array\",\n    \"items\": {\n      \"type\": \"string\"\n    },\n    \"description\": \"List of tags for categorizing the article\"\n  }\n}"},"id":"55936da6-958a-4733-9c0c-5fdee3c34fd4","name":"Article worthy Parser4","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,1664]},{"parameters":{"promptType":"define","text":"=Data: {{ JSON.stringify( $('Combine All Data').item.json) }}\n\nAnalysis: {{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"# System Prompt: Expert Help Desk Documentation Specialist\n\nYou are an expert help desk documentation specialist with deep experience in IT service management, technical writing, and knowledge base architecture. Your primary role is to create, refine, and maintain help desk documents that reduce ticket volume, accelerate resolution times, and empower both end users and support agents.\n\n---\n\n## Core Identity\n\nYou operate as a senior-level help desk professional who has spent years on the front lines of IT support and transitioned into documentation leadership. You understand the frustration of searching for an answer that doesn't exist, finding a doc that's outdated, or reading an article that was clearly written by someone who never actually troubleshot the problem. You write documentation that solves real problems for real people under real time pressure.\n\nYou combine three specialties:\n\n1. **Practitioner knowledge** — You've personally handled thousands of tickets across infrastructure, SaaS platforms, networking, identity and access management, and end-user computing. You know what questions actually get asked and where the gaps live.\n2. **Technical writing discipline** — You follow structured authoring principles: consistent formatting, scannable layouts, task-oriented language, and version-controlled content. Every document you produce is designed to be found, read, and acted on quickly.\n3. **Knowledge management strategy** — You think beyond individual articles. You consider taxonomy, search optimization, content lifecycle, and how documentation fits into the broader support ecosystem (ticketing systems, runbooks, onboarding, escalation paths).\n\n---\n\n## Behavior Guidelines\n\n### When Creating New Help Desk Documents\n\n- **Always ask clarifying questions first.** Before writing, confirm: Who is the audience (end user, L1 agent, L2 engineer)? What system or process does this cover? What is the trigger — a common ticket, a new rollout, a recurring escalation?\n- **Default to the simplest effective format.** Not everything needs to be a full KB article. Match the format to the need:\n  - **How-to article** — Step-by-step task completion for end users or agents.\n  - **Troubleshooting guide** — Symptom → cause → resolution decision tree.\n  - **FAQ** — Short, direct answers to high-frequency questions.\n  - **Runbook** — Detailed operational procedure for support engineers, including rollback steps.\n  - **Known issue / known error** — Documents a confirmed bug or limitation with current workarounds and expected fix timeline.\n  - **Policy doc** — Defines what is supported, SLAs, escalation criteria, or access request workflows.\n  - **Onboarding guide** — Walks new hires or new agents through setup, tools, and first-day workflows.\n  - **Internal reference** — Architecture notes, environment details, or vendor contact sheets for the support team.\n- **Write for scanning, not reading.** Support agents and end users are under time pressure. Use numbered steps for procedures, bold key terms, and lead every section with the most critical information first (inverted pyramid).\n- **Use plain language.** Write at a level appropriate to the audience. End-user docs should avoid jargon. Agent-facing docs can use technical terminology but should still define acronyms on first use.\n- **Include metadata.** Every document should specify: title, audience, date created, last reviewed date, owner/author, applicable systems or product versions, and related articles.\n\n### When Improving Existing Documents\n\n- Identify what's broken first: Is the content inaccurate, incomplete, outdated, poorly structured, or hard to find?\n- Preserve what works. Don't rewrite from scratch unless the document is fundamentally unsalvageable.\n- Flag outdated information explicitly rather than silently removing it — someone may depend on historical context.\n- Suggest a review cadence (quarterly for high-change systems, biannually for stable ones).\n\n### When Advising on Help Desk Documentation Strategy\n\n- Recommend a tiered knowledge base: public-facing self-service articles, agent-facing internal KB, and engineering-facing runbooks.\n- Advocate for ticket deflection metrics — track which articles reduce ticket volume and use that data to prioritize new content.\n- Push for documentation as part of the change management process: no new feature or system change ships without updated or net-new documentation.\n- Suggest templates and style guides to maintain consistency across authors.\n\n---\n\n## Document Structure Templates\n\n### How-To Article Template\n\n```\nTitle: How to [Complete Specific Task]\nAudience: [End User | L1 Agent | L2 Engineer]\nApplies to: [System/Product, Version]\nLast reviewed: [Date]\n\n## Overview\nOne to two sentences explaining what this article covers and when to use it.\n\n## Prerequisites\n- [Access requirements, tools, permissions needed before starting]\n\n## Steps\n1. [First action — be specific about where to click, what to type]\n2. [Second action]\n3. [Continue until task is complete]\n\n## Expected Result\nDescribe what success looks like so the reader can confirm they're done.\n\n## Troubleshooting\n- If [symptom], then [resolution or link to troubleshooting guide].\n\n## Related Articles\n- [Links to related KB articles]\n```\n\n### Troubleshooting Guide Template\n\n```\nTitle: Troubleshooting [Issue Description]\nAudience: [L1 Agent | L2 Engineer]\nApplies to: [System/Product, Version]\nLast reviewed: [Date]\n\n## Symptoms\n- [What the user reports or what the agent observes]\n\n## Common Causes\n1. [Most likely cause]\n2. [Second most likely cause]\n3. [Less common but possible cause]\n\n## Diagnostic Steps\n1. [First check — what to verify and how]\n2. [Second check]\n3. [Continue in order of likelihood]\n\n## Resolutions\n### For Cause 1\n- [Step-by-step fix]\n\n### For Cause 2\n- [Step-by-step fix]\n\n## Escalation Criteria\nEscalate to [team/tier] if:\n- [Condition that warrants escalation]\n- [Time threshold exceeded]\n\n## Related Articles\n- [Links]\n```\n\n### Runbook Template\n\n```\nTitle: Runbook — [Procedure Name]\nAudience: [L2 Engineer | Operations]\nApplies to: [System, Environment]\nLast reviewed: [Date]\nOwner: [Team or individual]\n\n## Purpose\nWhat this runbook accomplishes and when to execute it.\n\n## Prerequisites\n- [Access, credentials, tools, approvals needed]\n\n## Procedure\n1. [Detailed step with exact commands, paths, or UI instructions]\n2. [Include expected output at each step]\n3. [Continue through procedure]\n\n## Validation\nHow to confirm the procedure completed successfully.\n\n## Rollback\nIf something goes wrong:\n1. [Step-by-step reversal instructions]\n\n## Contacts\n- Primary: [Name, role, contact method]\n- Escalation: [Name, role, contact method]\n\n## Change Log\n| Date | Author | Change Description |\n|------|--------|--------------------|\n|      |        |                    |\n```\n\n---\n\n## Tone and Voice\n\n- Professional but approachable. You're a colleague, not a textbook.\n- Direct and action-oriented. Lead with what to do, not background theory.\n- Empathetic to the reader's situation — they're likely dealing with a frustrated user or a time-sensitive issue.\n- Confident without being rigid. Acknowledge when there are multiple valid approaches or when a workaround is temporary.\n\n---\n\n## What You Do Not Do\n\n- You do not guess at technical specifics. If you don't have enough information to write an accurate procedure, you ask.\n- You do not produce generic filler content. Every sentence in a help desk document should serve a purpose.\n- You do not ignore the support team's operational reality. Documentation that doesn't match actual workflows will be ignored.\n- You do not create documents in isolation. You always consider how a new article fits within the existing knowledge base structure and whether it duplicates, contradicts, or supplements existing content.\n\n---\noutput should have title and content"}},"id":"0403999d-0859-4fc5-8d74-4a380f73914c","name":"Generate Help Article","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1024,1520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.output.VERDICT }}","rightValue":"YES","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ccec3c75-0721-4721-bacd-d994f1691d81","name":"article worthy","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,1520]},{"parameters":{},"id":"277752e8-4ec1-49c3-b257-1bb742274747","name":"Skip - Not Worthy","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,1728]},{"parameters":{"method":"POST","url":"https://app.chatwoot.com/api/v1/accounts/153564/portals/hbf-help-center/articles","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={ \"title\": {{JSON.stringify($input.item.json.output.title)}},\n\"content\": {{JSON.stringify($input.item.json.output.content)}},\n\"author_id\": 1\n} ","options":{}},"id":"42e2c57f-776e-4379-9373-bd6011bb19be","name":"Create Chatwoot Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1664,1536],"credentials":{"httpHeaderAuth":{"id":"N8BHOTLGK7M9AUM3","name":"hbf chatwoot"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Role\nYou are an Instagram content specialist who is excellent at reaching an ideal customer profile indirectly; you sell through story and recognition, not through pitching. You write in the first person, from my perspective, as a bookkeeping professional sharing real moments from the work.\nTask\nUsing the source content I provide, create 2 distinct Instagram posts. Each post is paired with an AI-generated image; specifically a single illustration that stages a before/after contrast. So each post needs a before scene description and an after scene description, which a separate image-generation step will turn into the final image.\nThe two posts should take different angles:\n\nThe hard work of getting to know a client's numbers; the grind, the untangling, the behind-the-scenes reality.\nThe learning itself; the insight or decision that becomes possible once the numbers are clean.\n\nHow the images are produced (read before writing the before/after fields)\nThe before and after strings you write are not full image prompts. They are scene descriptions that get pasted into a fixed image template downstream. That template already handles art style, format, and constraints, so do not restate them. Your job is only to describe the content of the scene.\nHard rules for every before and after scene you write:\n\nAudience is contractors and trades businesses. Stage the contractor's real object world; the work truck cab, the job-site trailer, the end-of-day desk, receipts, invoices, estimates, clipboards. Not generic office imagery.\nThe goal is \"I've felt that exact dread.\" The before scene must depict a specific moment of contractor dread, not abstract stress; the night-before scramble, the job that felt profitable but wasn't, the receipt that vanished. Avoid the cliché of a person with their head in their hands buried in paper.\nBefore/after is the primary lever. The after scene should be the same world, resolved; same kind of space, now ordered and calm. The two scenes must clearly read as a matched pair.\nbefore = dim, late, cluttered, slightly cooler and dulled. after = warm light, ordered, generous empty space, one clear focal point.\nPeople are optional. The environment can carry the feeling. If a person appears, show quiet end-of-day defeat in the before and quiet confidence in the after; never panic, never a forced smile. Do not assume gender, age, or ethnicity.\nNo text, signage, logos, readable numbers, or screens as the hero. The downstream template enforces this; do not write scenes that depend on them.\nThe image should complement the caption, not literally repeat it.\n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners. Founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K to $10M in annual revenue. They are operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators. Often the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\nLanguage Guidelines\nUse this language:\n\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\n\nAvoid this language:\n\nJargon or accounting-speak the audience will not know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliche without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: do not assume the business owner is male, or that \"the wife does the books\"\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers; not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it is handled. The content should feel like talking to someone who gets their situation and will not waste their time.\nInstagram Requirements\n\nHook first. The hook must land on its own; Instagram truncates the caption in-feed after roughly 125 characters. No slow build.\nLength. Keep hook plus body short, generally under 100 words combined.\nScannable. Use short paragraphs and line breaks in body; no dense blocks of text.\nFirst person, one moment. Each post is a single first-person anecdote about an individual experience, not a general lesson.\nSlightly edgy and unique. A little opinion or a sharp specific detail is good; never fear-based, never condescending.\nThe before/after scenes should complement the caption, not repeat it literally.\nPunctuation. Use semicolons or commas instead of em-dashes.\n\nDon'ts\n\nNever talk about my own books or my own bookkeeping.\nAlways frame spreadsheets and DIY bookkeeping as something other people are stuck doing; never myself.\n\nOutput Format\nReturn valid JSON only, matching this schema. No commentary before or after.\njson{\n  \"posts\": [\n    {\n      \"hook\": \"Opening line; must land on its own, under ~125 characters.\",\n      \"body\": \"Rest of the caption; short paragraphs with line breaks; under ~100 words including the hook.\",\n      \"tone\": \"Short label, e.g. 'Behind-the-scenes grind' or 'The payoff insight'.\",\n      \"before\": \"Contractor-specific scene of dread; dim, late, cluttered. Content only, no style or format notes.\",\n      \"after\": \"The same world resolved; ordered, warm, calm. Matched pair to the before scene.\"\n    }\n  ]\n}\nposts must contain exactly 2 objects, the grind angle first and the payoff angle second."}},"id":"d9f3d626-12ed-41b0-93d4-f14a24644bdc","name":"Generate Instagram Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[720,2480]},{"parameters":{"sendTo":"alex@honeybearfinancials.com","subject":"=  Beehivve Newsletter post {{ $input.item.json.createdAt }}","emailType":"text","message":"=Paste this into beehivv for your newsletter:\n\nTitle: {{ JSON.stringify( $('Generate Email Newsletter Paragraph').item.json.output.title) }}\n\nNew video link: put your thumbnail linked to your YT video here. With the short 2 sentance description.\n\nbody: {{ JSON.stringify( $('Generate Email Newsletter Paragraph').item.json.output.newsletter) }}\n\nqotw: {{ JSON.stringify( $('Generate Email Newsletter Paragraph').item.json.output.question_of_the_week) }}\n\naotw: {{ JSON.stringify( $('Generate Email Newsletter Paragraph').item.json.output.answer_of_the_week) }}\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1056,704],"id":"ec094b2d-3df0-49c4-a530-c042adb047b1","name":"Send a message1","webhookId":"69611843-74d8-4521-af3e-c39a828952d6","credentials":{"gmailOAuth2":{"id":"J6SxDzf9eFg9Jjnu","name":"alex - Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"099ab70a-849a-4a0c-b9a1-4621fa7579af","name":"Check If Already Uploaded8","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,1184]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48f0bafc-4fe2-4b12-9af9-4e516a6acdd0","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d65b8003-149a-42a6-8593-a29dbff9f3ec","name":"Check If Already Uploaded9","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"415e4472-157c-4236-ab56-69d363d5b304","leftValue":"={{ $json.hasField('row_number') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"27821e25-5a1f-4573-a201-29de750f2e16","name":"Check If Already Uploaded","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[160,272]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/13hQvK297ptCGEFNUwZA0ZL1WYVpRaqgB","mode":"url"},"options":{"binaryPropertyName":"referenceImage"}},"id":"6dde5c06-f8a2-4efa-a391-8d3ecd3f0c6c","name":"Download Reference Image","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1248,2720],"credentials":{"googleDriveOAuth2Api":{"id":"3TBlFG6GmL19DeKw","name":"Google Drive account"}}},{"parameters":{"resource":"image","operation":"edit","modelId":{"__rl":true,"value":"models/gemini-3-pro-image-preview","mode":"list","cachedResultName":"models/gemini-3-pro-image-preview (Nano Banana Pro)"},"prompt":"=Act as an expert instagram social media marketer with the overall goal to drive traffic and build brand trust for honey bear finacials. Your first job is to Create a single stylized digital illustration for an Instagram post by a bookkeeping firm that serves contractors and trades businesses. It must read clearly as a crafted AI illustration, not a photograph. The goal is instant emotional recognition from a contractor or trades business owner.\nStage: A job-site trailer interior, late evening. A battered folding table holds a stack of printed bank statements and a clipboard with handwritten ledger notes. A half-eaten takeout container sits to one side. The single overhead fluorescent flickers faintly. Papers are spread in no clear order, some dog-eared, one with a coffee ring. The light is cool and tired. A pair of worn work gloves rests on top of the pile, as if the owner just stepped away in frustration. or The same job-site trailer, now in early morning light coming through a small window. The folding table is clear except for a single neat stack of sorted statements, a clipboard with one clean printed sheet on top, and a pen set deliberately beside it. The takeout container is gone. The surface has generous empty space. The light is warm and steady. The gloves hang on a hook by the door. Everything reads as settled and finished.\nScene to depict: \n{{ $json.hook }}\n{{ $json.body }}\nTone: {{ $json.tone }}\nIf Stage is BEFORE: {{ $json.before }}\nIf Stage is AFTER: {{ $json.after }}\nStyle (constant for both): Modern editorial illustration; clean digital painting or refined vector-influenced style; shape-forward, slightly simplified forms; smooth gradients and soft texture. Never photoreal. 4:5 portrait aspect ratio for a vertical Instagram post. No text, lettering, numbers on screens, logos, or signage anywhere.\nDo not assume gender or ethnicity unless the scene specifies it.\nDo assume the person is over 35.\nAvoid clichés: no piggy banks, no money stacks, no handshakes, and no IRS imagery.\nUse at home pictures in general as it is similar to our ICP but focus on the problem set above.\nI have attached the HBF logo; you MUST use it in the picture as the solution, like on a card or a person or a website.\nYOU MUST USE THE LOGO AS IS AND NOT CHANGE IT","images":{"values":[{"binaryPropertyName":"referenceImage"}]},"options":{"binaryPropertyOutput":"generatedImage"}},"id":"96e74760-71c0-4aa9-a6c7-177ac86affe8","name":"Generate Image with Gemini","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[1616,2592],"credentials":{"googlePalmApi":{"id":"RO6E4SaCth2cRkzu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1456,2592],"id":"fc9b45ef-a148-45f9-a7b7-564d93dba715","name":"Merge1"},{"parameters":{"operation":"upload","bucketName":"videos","fileName":"={{ encodeURIComponent($(\"Combine All Data\").item.json.files[0].fileName.replace('.mp4', '')) }}.jpg","binaryPropertyName":"generatedImage","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1856,2592],"id":"64c42825-f2ab-40c4-ae40-61366f89d63d","name":"Upload a file","credentials":{"s3":{"id":"abdvc8Csb02qEc4y","name":"S3 account"}}},{"parameters":{"content":"TODO:\n- Make this Thumbnail based  image for the post"},"type":"n8n-nodes-base.stickyNote","position":[2496,2752],"typeVersion":1,"id":"fe55bd48-4db4-4121-b8d4-dd80338d524d","name":"Sticky Note2"},{"parameters":{"operation":"upload","bucketName":"videos","fileName":"={{ $binary.data.fileName }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1568,256],"id":"f1032457-5060-40c7-be0f-b7888d431e60","name":"Upload a file1","credentials":{"s3":{"id":"abdvc8Csb02qEc4y","name":"S3 account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,240],"id":"e7c9b4c6-e372-445a-ac64-0e24f12f0dce","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"EHSxd4TCzI6jRQ8P","name":"Alex - Google Drive account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": {{ $json.success }},\n  \"fileName\": {{ $('Download file').item.binary.data.fileName }},\n  \"url\": \"https://s3-videos.clifton.quest/{{ encodeURIComponent($('Download file').item.binary.data.fileName) }}\"\n}\n","options":{}},"id":"4076eb22-c8bd-4c67-9a6b-2798e30dcfd8","name":"Format Webhook Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,256],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."}],"connections":{"Watch Google Drive Folder":{"main":[[{"node":"Get the Folder","type":"main","index":0}]]},"Workflow Configuration1":{"main":[[{"node":"Group Files by Video","type":"main","index":0}]]},"Group Files by Video":{"main":[[{"node":"Check All Files Present","type":"main","index":0}]]},"Check All Files Present":{"main":[[{"node":"Check If Script File Exists","type":"main","index":0},{"node":"Download Transcript File","type":"main","index":0},{"node":"Pass Script Data2","type":"main","index":0}],[{"node":"Skip - Already Uploaded1","type":"main","index":0}]]},"Download Transcript File":{"main":[[{"node":"Extract Transcript Text","type":"main","index":0}]]},"Download Script File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract Transcript Text":{"main":[[{"node":"Pass Script Data1","type":"main","index":0}]]},"Combine All Data":{"main":[[{"node":"Check Upload Status1","type":"main","index":0},{"node":"Check Upload Status6","type":"main","index":0},{"node":"Check Upload Status3","type":"main","index":0},{"node":"Check Upload Status4","type":"main","index":0},{"node":"Check Upload Status","type":"main","index":0},{"node":"Check Upload Status2","type":"main","index":0}]]},"Prepare YouTube Data":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Prepare Upload Record":{"main":[[{"node":"Mark as Uploaded","type":"main","index":0}]]},"Prepare All Content Data":{"main":[[{"node":"Prepare YouTube Data","type":"main","index":0}]]},"Get the Folder":{"main":[[{"node":"List Files in Folder","type":"main","index":0}]]},"List Files in Folder":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Pass Script Data","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Video data AI Agent","type":"ai_languageModel","index":0}]]},"Extract Content Structure":{"ai_outputParser":[[{"node":"Video data AI Agent","type":"ai_outputParser","index":0}]]},"Video data AI Agent":{"main":[[{"node":"Prepare All Content Data","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List Files in Folder","type":"main","index":0}]]},"Check Upload Status":{"main":[[{"node":"Check If Already Uploaded","type":"main","index":0}]]},"Mark as Uploaded":{"main":[[{"node":"Time Saved","type":"main","index":0}]]},"Check If Script File Exists":{"main":[[{"node":"Download Script File","type":"main","index":0}],[{"node":"Set No Script Placeholder","type":"main","index":0}]]},"Set No Script Placeholder":{"main":[[{"node":"Pass Script Data","type":"main","index":0}]]},"Pass Script Data":{"main":[[{"node":"Combine All Data","type":"main","index":0}]]},"Time Saved":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Create post":{"main":[[{"node":"Prepare Upload Record","type":"main","index":0}]]},"Generate LinkedIn Posts":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"LinkedIn Posts Parser":{"ai_outputParser":[[{"node":"Generate LinkedIn Posts","type":"ai_outputParser","index":0}]]},"Facebook Posts Parser":{"ai_outputParser":[[{"node":"Generate Facebook Posts","type":"ai_outputParser","index":0}]]},"Email Newsletter Parser":{"ai_outputParser":[[{"node":"Generate Email Newsletter Paragraph","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Generate Facebook Posts","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Generate LinkedIn Posts","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model4":{"ai_languageModel":[[{"node":"Generate Email Newsletter Paragraph","type":"ai_languageModel","index":0}]]},"Pass Script Data1":{"main":[[{"node":"Combine All Data","type":"main","index":2}]]},"Pass Script Data2":{"main":[[{"node":"Combine All Data","type":"main","index":1}]]},"Check Upload Status1":{"main":[[{"node":"Check If Already Uploaded9","type":"main","index":0}]]},"Mark as Uploaded1":{"main":[[{"node":"Time Saved1","type":"main","index":0}]]},"Generate Email Newsletter Paragraph":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Check Upload Status2":{"main":[[{"node":"Check If Already Uploaded8","type":"main","index":0}]]},"Mark as Uploaded2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Time Saved2","type":"main","index":0}],[{"node":"Create post1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create post1":{"main":[[{"node":"Mark as Uploaded2","type":"main","index":0}]]},"Check If Already Uploaded3":{"main":[[{"node":"Generate Facebook Posts","type":"main","index":0}],[{"node":"Skip - Already Uploaded4","type":"main","index":0}]]},"Check Upload Status3":{"main":[[{"node":"Check If Already Uploaded3","type":"main","index":0}]]},"Mark as Uploaded3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Time Saved3","type":"main","index":0}],[{"node":"Create post2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create post2":{"main":[[{"node":"Mark as Uploaded3","type":"main","index":0}]]},"Generate Facebook Posts":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Time Saved1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Time Saved2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Facebook Posts Parser1":{"ai_outputParser":[[{"node":"Generate Instagram Posts","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model6":{"ai_languageModel":[[{"node":"Generate Instagram Posts","type":"ai_languageModel","index":0}]]},"Check If Already Uploaded4":{"main":[[{"node":"Generate Instagram Posts","type":"main","index":0}],[{"node":"Skip - Already Uploaded5","type":"main","index":0}]]},"Check Upload Status4":{"main":[[{"node":"Check If Already Uploaded4","type":"main","index":0}]]},"Mark as Uploaded4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Time Saved4","type":"main","index":0}],[{"node":"Download Reference Image","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Create post3":{"main":[[{"node":"Mark as Uploaded4","type":"main","index":0}]]},"Generate Facebook Posts2":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Facebook Posts Parser2":{"ai_outputParser":[[{"node":"Generate Facebook Posts2","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model8":{"ai_languageModel":[[{"node":"Generate Facebook Posts2","type":"ai_languageModel","index":0}]]},"Check If Already Uploaded5":{"main":[[{"node":"Generate Facebook Posts2","type":"main","index":0}],[{"node":"Skip - Already Uploaded6","type":"main","index":0}]]},"Check Upload Status5":{"main":[[{"node":"Check If Already Uploaded5","type":"main","index":0}]]},"Mark as Uploaded5":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Time Saved5","type":"main","index":0}],[{"node":"Create post4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Create post4":{"main":[[{"node":"Mark as Uploaded5","type":"main","index":0}]]},"Facebook Posts Parser3":{"ai_outputParser":[[{"node":"Generate Help Article","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model9":{"ai_languageModel":[[{"node":"Generate Help Article","type":"ai_languageModel","index":0},{"node":"Facebook Posts Parser3","type":"ai_languageModel","index":0}]]},"Check If Already Uploaded6":{"main":[[{"node":"See if post is something that could be a Help Desk Article","type":"main","index":0}],[{"node":"Skip - Already Uploaded7","type":"main","index":0}]]},"Check Upload Status6":{"main":[[{"node":"Check If Already Uploaded6","type":"main","index":0}]]},"Mark as Uploaded6":{"main":[[{"node":"Time Saved6","type":"main","index":0}]]},"Anthropic Chat Model10":{"ai_languageModel":[[{"node":"See if post is something that could be a Help Desk Article","type":"ai_languageModel","index":0}]]},"See if post is something that could be a Help Desk Article":{"main":[[{"node":"article worthy","type":"main","index":0}]]},"Article worthy Parser4":{"ai_outputParser":[[{"node":"See if post is something that could be a Help Desk Article","type":"ai_outputParser","index":0}]]},"Generate Help Article":{"main":[[{"node":"Create Chatwoot Document","type":"main","index":0}]]},"article worthy":{"main":[[{"node":"Generate Help Article","type":"main","index":0}],[{"node":"Skip - Not Worthy","type":"main","index":0}]]},"Create Chatwoot Document":{"main":[[{"node":"Mark as Uploaded6","type":"main","index":0}]]},"Time Saved6":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Time Saved3":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Time Saved4":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Generate Instagram Posts":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Mark as Uploaded1","type":"main","index":0}]]},"Check If Already Uploaded8":{"main":[[{"node":"Generate LinkedIn Posts","type":"main","index":0}],[{"node":"Skip - Already Uploaded3","type":"main","index":0}]]},"Check If Already Uploaded9":{"main":[[{"node":"Generate Email Newsletter Paragraph","type":"main","index":0}],[{"node":"Skip - Already Uploaded2","type":"main","index":0}]]},"Check If Already Uploaded":{"main":[[{"node":"Video data AI Agent","type":"main","index":0}],[{"node":"Skip - Already Uploaded","type":"main","index":0}]]},"Download Reference Image":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Generate Image with Gemini":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Generate Image with Gemini","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Create post3","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"Format Webhook Response","type":"main","index":0}],[]]},"Download file":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Format Webhook Response":{"main":[[{"node":"Create post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"78e2ba30-5a64-46d4-91e8-d9090a76e680","activeVersionId":null,"versionCounter":269,"triggerCount":0,"shared":[{"updatedAt":"2026-05-27T03:10:08.846Z","createdAt":"2026-05-27T03:10:08.846Z","role":"workflow:owner","workflowId":"7aa2xb7N8Upy4CBj","projectId":"breq9JgXWiQUjyug","project":{"updatedAt":"2026-03-01T14:50:08.421Z","createdAt":"2026-03-01T14:39:09.471Z","id":"breq9JgXWiQUjyug","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8bf7b849-38d9-4483-976e-aee3577c53f6"}}],"tags":[],"activeVersion":null}