hbf_online/2025/12/Automated Content Strategy/OMHrkBmTdU498Zpd.json
{"updatedAt":"2025-12-27T18:37:55.517Z","createdAt":"2025-12-21T17:55:05.818Z","id":"OMHrkBmTdU498Zpd","name":"Automated Content Strategy","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"sheetName":{"__rl":true,"mode":"name","value":"Query"},"options":{}},"id":"8e0bdb6a-dbc4-46f9-be9e-0a4e79ae0417","name":"Get Query","type":"n8n-nodes-base.googleSheets","position":[-768,688],"typeVersion":4.6},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"sheetName":{"__rl":true,"mode":"name","value":"={{ new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).charAt(0).toUpperCase() + new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).slice(1) }} {{ $('Loop Over Items').item.json.Query }}"},"columns":{"value":{},"schema":[{"id":"Query","type":"string","display":true,"removed":false,"required":false,"displayName":"Query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Évolution","type":"string","display":true,"removed":false,"required":false,"displayName":"Évolution","defaultMatch":false,"canBeUsedToMatch":true},{"id":"News","type":"string","display":true,"removed":false,"required":false,"displayName":"News","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Idée","type":"string","display":true,"removed":false,"required":false,"displayName":"Idée","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"60a8dca2-3407-475e-9fe2-f97c5f96724c","name":"Add datas","type":"n8n-nodes-base.googleSheets","position":[1328,736],"typeVersion":4.6},{"parameters":{"jsonSchemaExample":"{\n\t\"query1\": [\"query\", \"évolution\"],\n    \"query2\": [\"query\", \"évolution\"],\n    \"query3\": [\"query\", \"évolution\"]\n}"},"id":"86808d99-d014-4a2b-9086-079268f989ac","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[640,736],"typeVersion":1.3},{"parameters":{"options":{}},"id":"b086c865-aa84-437f-b34c-c7f2d970bf5b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-544,688],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude Sonnet 4"},"options":{}},"id":"c89eefab-4603-4406-9399-3e74291741e6","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[432,720],"typeVersion":1.3},{"parameters":{"resource":"search","operation":"google_trends"},"id":"9dabf8f8-4526-4886-be2d-65fc3fe50d3f","name":"Search trend","type":"n8n-nodes-preview-serpapi.serpApi","maxTries":5,"position":[-272,688],"retryOnFail":true,"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// N8N Code Node - Create Nested Structure for Related Queries\n// This code creates a nested structure: Topic -> related queries\n// Get the input data (assuming it's the first item)\nconst inputData = $input.all()[0].json;\n// Initialize arrays to store extracted data\nlet relatedQueries = [];\nlet risingQueries = [];\ntry {\n  // Check if the response contains related_queries data\n  if (inputData.related_queries) {\n\n    // Extract \"top\" related queries if they exist\n    if (inputData.related_queries.top) {\n      relatedQueries = \n        inputData.related_queries.top.map((query, index) => ({\n          query: query.query,\n          value: query.value,\n          extracted_value: query.extracted_value,\n          link: query.link,\n          serpapi_link: query.serpapi_link,\n          type: 'top',\n          rank: index + 1\n        }));\n    }\n\n    // Extract \"rising\" related queries if they exist\n    if (inputData.related_queries.rising) {\n      risingQueries = \n        inputData.related_queries.rising.map((query, index) => ({\n          query: query.query,\n          value: query.value,\n          extracted_value: query.extracted_value,\n          link: query.link,\n          serpapi_link: query.serpapi_link,\n          type: 'rising',\n          rank: index + 1\n        }));\n    }\n  }\n\n  // Combine all queries with their types\n  const allQueries = [...relatedQueries, ...risingQueries];\n\n  // Sort by extracted_value (descending) to get top performers\n  const sortedQueries = allQueries.sort((a, b) => {\n    const aVal = typeof a.extracted_value === 'number' ? a.extracted_value : 0;\n    const bVal = typeof b.extracted_value === 'number' ? b.extracted_value : 0;\n    return bVal - aVal;\n  });\n\n  // Get top 10 queries\n  const top10Queries = sortedQueries.slice(0, 10);\n\n  // Return only top 10 queries\n  return [\n    {\n      json: {\n        topic: inputData.search_parameters?.q || 'Unknown',\n        top_10_queries: top10Queries\n      }\n    }\n  ];\n\n} catch (error) {\n  // Handle errors gracefully\n  return [\n    {\n      json: {\n        error: 'Failed to extract and structure related queries data',\n        error_message: error.message,\n        topic: inputData.search_parameters?.q || 'Unknown'\n      }\n    }\n  ];\n}"},"id":"100f4bdf-9de7-4bcc-b17d-15bd04305800","name":"Classing query","type":"n8n-nodes-base.code","position":[160,688],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Votre tâche est de sélectionner lister les requêtes qui correspond étroitement au créneau de \"{{ $('Loop Over Items').item.json.Query }}\" mais elle ne doit pas être géolocalisée, par exemple \"{{ $('Loop Over Items').item.json.Query }} Paris\" car nous ne voulons pas de sujets liés à la localisation.\nElle ne doivent pas avoir un lien direct avec ces sujets : {{ $('Loop Over Items').item.json['Query to avoid'] }}\n\nPour chaque requête indique son évolution en pourcentage (sans le +).\n\n{{ JSON.stringify($json.top_10_queries, null, 2) }}\n\n","hasOutputParser":true,"batching":{}},"id":"c54c76c2-7a71-43d8-879a-0848e55b182b","name":"Sorting queries","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[480,560],"typeVersion":1.7},{"parameters":{"jsCode":"// Récupérer les données d'entrée\nconst inputData = $input.all()[0].json.output;\n\n// Initialiser le tableau de sortie\nlet restructuredData = [];\n\n// Parcourir chaque query dans l'objet\nObject.keys(inputData).forEach(key => {\n  const queryData = inputData[key];\n  \n  // Vérifier que queryData existe et contient au moins 2 éléments non vides\n  if (queryData && \n      Array.isArray(queryData) && \n      queryData.length >= 2 && \n      queryData[0] && \n      queryData[0].trim() !== \"\" && \n      queryData[1] && \n      queryData[1].trim() !== \"\") {\n    \n    restructuredData.push({\n      Query: queryData[0],           // Le nom de la requête\n      Évolution: queryData[1],       // Le pourcentage d'évolution\n      News: \"\",                       // Colonne vide pour l'instant\n      Idée: \"\"                        // Colonne vide pour l'instant\n    }); \n  }\n});\n\n// Retourner le tableau restructuré\nreturn restructuredData.map(item => ({ json: item }));"},"id":"7b8100f2-a884-4741-9284-70a30361acb9","name":"Sorting output > table","type":"n8n-nodes-base.code","position":[1008,560],"typeVersion":2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"id":"ee84230f-42fd-424d-bc67-90fe78cd2d3e","name":"Anthropic Chat Model8","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[3552,448],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"id":"ca09dbf5-77de-4bf7-88e2-a594ac843846","name":"Anthropic Chat Model9","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[3536,864],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"id":"71fcbe51-9ca8-4bf2-a748-cd7bfd2cefaa","name":"Anthropic Chat Model10","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[3520,1312],"typeVersion":1.3},{"parameters":{"rule":{"interval":[{}]}},"id":"097089eb-daa5-4834-8b5d-08efca19fd29","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1120,688],"typeVersion":1.2},{"parameters":{"content":"### What the system does:\n\nSchedule Trigger activates the workflow automatically\nRetrieves query data from Google Sheets \"Query\" tab\nLoops through each query for individual processing\n\n### Result:\n✅ Automated workflow execution on schedule\n✅ Query data loaded from centralized spreadsheet\n✅ Ready to process multiple search terms\n","height":288,"width":800},"id":"d973eb91-1ad8-464d-ac61-a290c33fd079","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1184,992],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4cfb50c4-ade2-4a9e-b027-ddc1e08bca46","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.search_metadata.status }}","rightValue":"Success"}]},"options":{}},"id":"19db2421-6065-4d91-bbf9-878d83b9d5e5","name":"Trends OK ?","type":"n8n-nodes-base.if","position":[-64,688],"typeVersion":2.2},{"parameters":{"operation":"create","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"title":"={{ new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).charAt(0).toUpperCase() + new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).slice(1) }} {{ $('Loop Over Items').item.json.Query }}","options":{}},"id":"bdb90bd8-988d-49a5-b5ee-99a96d32bcc9","name":"Create sheets","type":"n8n-nodes-base.googleSheets","position":[1312,560],"typeVersion":4.6},{"parameters":{"jsCode":"// Récupération des données d'entrée\nconst inputData = $input.all();\n\n// Initialisation des tableaux de sortie\nlet query1 = [];\nlet query2 = [];\nlet query3 = [];\n\n// Parcours des données d'entrée\ninputData.forEach((item, index) => {\n  if (item.json.Query) {\n    // Attribution des queries selon leur position (index)\n    // On ne garde que la valeur de la colonne Query\n    if (index === 0) {\n      query1.push(item.json.Query);\n    } else if (index === 1) {\n      query2.push(item.json.Query);\n    } else if (index === 2) {\n      query3.push(item.json.Query);\n    }\n  }\n});\n\n// Construction de l'objet de sortie avec les données spécifiques des nodes\nconst output = {\n  // Récupération des données spécifiques des nodes précédentes\n  chatInput: $('When chat message received').first().json.chatInput,\n  loopQuery: $('Loop Over Items').first().json.Query,\n  \n  // Préservation de toutes les données d'entrée originales\n  originalData: inputData.map(item => item.json)\n};\n\n// Ajout des tableaux seulement s'ils contiennent des données\nif (query1.length > 0) {\n  output.query1 = query1;\n}\n\nif (query2.length > 0) {\n  output.query2 = query2;\n}\n\nif (query3.length > 0) {\n  output.query3 = query3;\n}\n\n// Retour du résultat\nreturn [output];"},"id":"c4df6abc-da86-4f0a-8bbe-6a30b73284aa","name":"Sort related query","type":"n8n-nodes-base.code","position":[1584,688],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd0a7eab-29a5-4a01-9d5b-1220a2c40e18","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.query1 }}","rightValue":""}]},"options":{}},"id":"bbb95cab-8689-437c-8845-024c2dd5a442","name":"If query 1","type":"n8n-nodes-base.if","position":[1968,272],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd0a7eab-29a5-4a01-9d5b-1220a2c40e18","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.query2 }}","rightValue":""}]},"options":{}},"id":"c393f76a-67c3-4c19-9ef5-2978a12e6861","name":"If query 2","type":"n8n-nodes-base.if","position":[1968,688],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd0a7eab-29a5-4a01-9d5b-1220a2c40e18","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.query3 }}","rightValue":""}]},"options":{}},"id":"4637c515-5029-41b8-9da2-7ebe8008e214","name":"If query 3","type":"n8n-nodes-base.if","position":[1968,1152],"typeVersion":2.2},{"parameters":{"resource":"search","operation":"google_news"},"id":"f156147e-7376-4177-8800-b868df1d9b3d","name":"Search GNews query 1","type":"n8n-nodes-preview-serpapi.serpApi","position":[2224,256],"typeVersion":1,"credentials":{}},{"parameters":{"resource":"search","operation":"google_news"},"id":"0868252e-ffb2-4e29-9f68-36ddfad7e1cc","name":"Search GNews query 2","type":"n8n-nodes-preview-serpapi.serpApi","position":[2224,672],"typeVersion":1,"credentials":{}},{"parameters":{"resource":"search","operation":"google_news"},"id":"b6cd5d9f-ca17-4fe8-af53-2e834d72a9d6","name":"Search GNews query 3","type":"n8n-nodes-preview-serpapi.serpApi","position":[2224,1136],"typeVersion":1,"credentials":{}},{"parameters":{"jsCode":"// Récupérer les données d'entrée\nconst inputData = $input.all()[0].json;\n\n// Extraire les résultats de news\nconst newsResults = inputData.news_results || [];\n\n// Trier par position (ordre croissant)\nconst sortedResults = newsResults.sort((a, b) => a.position - b.position);\n\n// Prendre les 3 premiers résultats\nconst top3Results = sortedResults.slice(0, 3);\n\n// Créer un objet avec les 3 liens séparés\nconst separatedLinks = {\n  link1: top3Results[0]?.link || null,\n  link2: top3Results[1]?.link || null,\n  link3: top3Results[2]?.link || null\n};\n\n// Retourner un seul objet avec les 3 liens\nreturn [{ json: separatedLinks }];"},"id":"ef58050d-bce5-4289-a0be-d54fc4114e7f","name":"Return URL only query 1","type":"n8n-nodes-base.code","position":[2432,256],"typeVersion":2},{"parameters":{"jsCode":"// Récupérer les données d'entrée\nconst inputData = $input.all()[0].json;\n\n// Extraire les résultats de news\nconst newsResults = inputData.news_results || [];\n\n// Trier par position (ordre croissant)\nconst sortedResults = newsResults.sort((a, b) => a.position - b.position);\n\n// Prendre les 3 premiers résultats\nconst top3Results = sortedResults.slice(0, 3);\n\n// Créer un objet avec les 3 liens séparés\nconst separatedLinks = {\n  link1: top3Results[0]?.link || null,\n  link2: top3Results[1]?.link || null,\n  link3: top3Results[2]?.link || null\n};\n\n// Retourner un seul objet avec les 3 liens\nreturn [{ json: separatedLinks }];"},"id":"66e0336e-6e40-47ad-adad-9dcc5288500d","name":"Return URL only query 2","type":"n8n-nodes-base.code","position":[2432,672],"typeVersion":2},{"parameters":{"jsCode":"// Récupérer les données d'entrée\nconst inputData = $input.all()[0].json;\n\n// Extraire les résultats de news\nconst newsResults = inputData.news_results || [];\n\n// Trier par position (ordre croissant)\nconst sortedResults = newsResults.sort((a, b) => a.position - b.position);\n\n// Prendre les 3 premiers résultats\nconst top3Results = sortedResults.slice(0, 3);\n\n// Créer un objet avec les 3 liens séparés\nconst separatedLinks = {\n  link1: top3Results[0]?.link || null,\n  link2: top3Results[1]?.link || null,\n  link3: top3Results[2]?.link || null\n};\n\n// Retourner un seul objet avec les 3 liens\nreturn [{ json: separatedLinks }];"},"id":"3ef01654-cecb-4b7b-ad62-83da50ac2543","name":"Return URL only query 3","type":"n8n-nodes-base.code","position":[2432,1136],"typeVersion":2},{"parameters":{"resource":"Default","operation":"scrape"},"id":"a685863c-6e02-41a8-a85c-ce04b4ee09cf","name":"Scrape article 1 query 1","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2672,256],"executeOnce":false,"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"723eea2a-e402-477b-8085-9b29fe457683","name":"Scrape article 1 query 2","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2672,672],"executeOnce":false,"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"de2ff3df-cdcb-4393-8363-f20705781060","name":"Scrape article 1 query 3","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2672,1136],"executeOnce":false,"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"71bc0d13-89e4-4a4c-99a6-1224eb06cc27","name":"Scrape article 2 query 1","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2864,256],"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"4c55a14b-0426-46c0-bf53-9baf1b6c2df1","name":"Scrape article 2 query 2","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2864,672],"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"18894628-0f78-4064-b379-d8fa0ecb883d","name":"Scrape article 2 query 3","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[2864,1136],"typeVersion":1,"alwaysOutputData":false,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"83ef4fd5-111e-4d10-87c1-42aa05d1e399","name":"Scrape article 3 query 1","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[3072,256],"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"0a6c2acd-d83f-4d27-b979-280520b63286","name":"Scrape article 3 query 2","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[3072,672],"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"resource":"Default","operation":"scrape"},"id":"915132cf-abbb-480c-a4cc-9c76d296ee7a","name":"Scrape article 3 query 3","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[3072,1136],"typeVersion":1,"credentials":{},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Source 1\n\n{{ $('Scrape article 1 query 1').item.json.data.markdown }}\n\nSource 2 \n\n{{ $('Scrape article 2 query 1').item.json.data.markdown }}\n\nSource 3\n\n{{ $json.data.markdown }}\n","messages":{"messageValues":[{"message":"=Voilà le contenu de 3 articles peux tu les analyser en en déduire 3 idée d'article de blog SEO avec à chaque fois une proposition de mot clé associé.\n\nExemple : \n\nThème de l'article 1, proposition de mot clé 1\nThème de l'article 2, proposition de mot clé 2\nThème de l'article 3, proposition de mot clé 3\n\nIl se peut qu'un article soit vide dans ce cas ne le traite pas.\n\nNe fais pas d'introduction ou de conclusion à ta réponse répond simplement à la requête."}]},"batching":{}},"id":"796d8de1-2726-4f47-a26e-39f072e71e4c","name":"Article analysis query 1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[3472,256],"typeVersion":1.7},{"parameters":{"promptType":"define","text":"=Source 1\n\n{{ $('Scrape article 1 query 2').item.json.data.markdown }}\n\nSource 2 \n\n{{ $('Scrape article 2 query 2').item.json.data.markdown }}\n\nSource 3\n\n{{ $json.data.markdown }}\n","messages":{"messageValues":[{"message":"=Voilà le contenu de 3 articles peux tu les analyser en en déduire 3 idée d'article de blog SEO avec à chaque fois une proposition de mot clé associé.\n\nExemple : \n\nThème de l'article 1, proposition de mot clé 1\nThème de l'article 2, proposition de mot clé 2\nThème de l'article 3, proposition de mot clé 3\n\nIl se peut qu'un article soit vide dans ce cas ne le traite pas.\n\nNe fais pas d'introduction ou de conclusion à ta réponse répond simplement à la requête."}]},"batching":{}},"id":"cb0b3105-3e48-4891-9e09-bc70d29360bf","name":"Article analysis query 2","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[3456,672],"typeVersion":1.7},{"parameters":{"promptType":"define","text":"=Source 1\n\nArticle indisponible\n\nSource 2 \n\n{{ $('Scrape article 2 query 3').item.json.data.markdown }}\n\nSource 3\n\n\n{{ $json.data.markdown }}","messages":{"messageValues":[{"message":"=Voilà le contenu de 3 articles peux tu les analyser en en déduire 3 idée d'article de blog SEO avec à chaque fois une proposition de mot clé associé.\n\nExemple : \n\nThème de l'article 1, proposition de mot clé 1\nThème de l'article 2, proposition de mot clé 2\nThème de l'article 3, proposition de mot clé 3\n\nIl se peut qu'un article soit vide dans ce cas ne le traite pas.\n\nNe fais pas d'introduction ou de conclusion à ta réponse répond simplement à la requête."}]},"batching":{}},"id":"36a00fc7-b89e-443e-9b43-692c9f1e65d9","name":"Article analysis query 3","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[3456,1136],"typeVersion":1.7},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"sheetName":{"__rl":true,"mode":"name","value":"={{ new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).charAt(0).toUpperCase() + new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).slice(1) }} {{ $('Sort related query').item.json.loopQuery }}"},"columns":{"value":{"News":"={{ $('Return URL only query 1').item.json.link1 }}\n{{ $('Return URL only query 1').item.json.link2 }}\n{{ $('Return URL only query 1').item.json.link3 }}","Idée":"={{ $json.text }}","Query":"={{ $('Sort related query').item.json.query1[0] }}"},"schema":[{"id":"Query","type":"string","display":true,"removed":false,"required":false,"displayName":"Query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Évolution","type":"string","display":true,"required":false,"displayName":"Évolution","defaultMatch":false,"canBeUsedToMatch":true},{"id":"News","type":"string","display":true,"required":false,"displayName":"News","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Idée","type":"string","display":true,"required":false,"displayName":"Idée","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Query"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9ef14e29-0268-41d0-98c0-a9866077d1a8","name":"Add article datas query 1","type":"n8n-nodes-base.googleSheets","position":[3776,256],"typeVersion":4.6},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"sheetName":{"__rl":true,"mode":"name","value":"={{ new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).charAt(0).toUpperCase() + new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).slice(1) }} {{ $('Sort related query').item.json.loopQuery }}"},"columns":{"value":{"News":"={{ $('Return URL only query 2').item.json.link1 }}\n{{ $('Return URL only query 2').item.json.link2 }}\n{{ $('Return URL only query 2').item.json.link3 }}","Idée":"={{ $json.text }}","Query":"={{ $('Sort related query').item.json.query2[0] }}"},"schema":[{"id":"Query","type":"string","display":true,"removed":false,"required":false,"displayName":"Query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Évolution","type":"string","display":true,"required":false,"displayName":"Évolution","defaultMatch":false,"canBeUsedToMatch":true},{"id":"News","type":"string","display":true,"required":false,"displayName":"News","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Idée","type":"string","display":true,"required":false,"displayName":"Idée","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Query"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2f67e3ae-57f1-498e-ba29-f693f6b7b630","name":"Add article datas query 2","type":"n8n-nodes-base.googleSheets","position":[3776,672],"typeVersion":4.6},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1z7iP_i98PT9BQuUypAi0c3NHkdhREEPJWkDjyj8Snfw/edit"},"sheetName":{"__rl":true,"mode":"name","value":"={{ new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).charAt(0).toUpperCase() + new Date(new Date().setMonth(new Date().getMonth() - 1)).toLocaleDateString('fr-FR', { month: 'long' }).slice(1) }} {{ $('Sort related query').item.json.loopQuery }}"},"columns":{"value":{"News":"={{ $('Return URL only query 3').item.json.link1 }}\n{{ $('Return URL only query 3').item.json.link2 }}\n{{ $('Return URL only query 3').item.json.link3 }}","Idée":"={{ $json.text }}","Query":"={{ $('Sort related query').item.json.query3[0] }}"},"schema":[{"id":"Query","type":"string","display":true,"removed":false,"required":false,"displayName":"Query","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Évolution","type":"string","display":true,"required":false,"displayName":"Évolution","defaultMatch":false,"canBeUsedToMatch":true},{"id":"News","type":"string","display":true,"required":false,"displayName":"News","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Idée","type":"string","display":true,"required":false,"displayName":"Idée","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Query"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"778ae106-89b9-4418-80ea-1af90c48c3d6","name":"Add article datas query 3","type":"n8n-nodes-base.googleSheets","position":[3776,1136],"typeVersion":4.6},{"parameters":{"numberInputs":3},"id":"9ce8842f-c80b-4f5d-9dd1-f07b3d1f83f7","name":"Merge queries","type":"n8n-nodes-base.merge","position":[4480,656],"executeOnce":true,"typeVersion":3.2},{"parameters":{"content":"# Phase 1: Data Collection & Initialization","height":496,"width":800},"id":"12ae9d08-85e2-4434-b26a-55fd4039789d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1184,464],"typeVersion":1},{"parameters":{"content":"# Phase 2: Trend Analysis","height":480,"width":624,"color":2},"id":"586d8a61-a570-427c-af9a-6031ef0a5b8a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-336,464],"typeVersion":1},{"parameters":{"content":"### What the system does:\n\nSearches Google Trends for each query using SerpAPI\nValidates search results - checks if trends data is available\nExtracts related queries and classifies them by performance\nSorts top 10 trending queries by popularity and growth\n\n### Result:\n✅ Real-time trend data from Google\n✅ Related search terms identified\n✅ Performance metrics captured","height":272,"width":640,"color":2},"id":"17948edd-63df-4920-a4d6-37812bb9f68d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-352,992],"typeVersion":1},{"parameters":{"content":"# Phase 3: Query Filtering & Selection","height":480,"width":512,"color":3},"id":"171d0afe-0789-4211-82a7-a3134fd14c08","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[336,464],"typeVersion":1},{"parameters":{"content":"### What the system does:\n\nAnalyzes trending queries with Claude AI\nFilters out location-based searches (e.g., \"Paris\" queries)\nRemoves unwanted topics based on predefined criteria\nExtracts growth percentages for each selected query\nStructures data into organized format\n\n### Result:\n✅ Relevant queries selected automatically\n✅ Growth metrics attached to each query\n✅ Geographic and unwanted topics filtered out","height":272,"width":512,"color":3},"id":"e610c88d-ad21-4dc1-9514-d9f19c549b26","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[336,992],"typeVersion":1},{"parameters":{"content":"# Phase 4: Spreadsheet Setup","height":480,"width":816,"color":4},"id":"e64a8df4-b71e-4090-a00b-33554e32974a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[896,464],"typeVersion":1},{"parameters":{"content":"### What the system does:\n\nCreates new sheet named with current month and query\nAdds filtered data to the spreadsheet\nOrganizes information into Query, Evolution, News, and Ideas columns\nSorts related queries into separate arrays (query1, query2, query3)\n\n### Result:\n✅ Dedicated sheet created for each main topic\n✅ Initial data structure established\n✅ Queries prepared for news research\n","height":272,"width":816,"color":4},"id":"a7f03e2e-4b03-4c0d-95bd-d9ce0998187a","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[896,992],"typeVersion":1},{"parameters":{"content":"# Phase 5: News Research (Parallel Processing)","height":1264,"width":1328,"color":5},"id":"d66d935f-ae22-4813-b958-407bcabde713","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1904,96],"typeVersion":1},{"parameters":{"content":"### What happens for each query:\n\nSearches Google News for current articles\nExtracts top 3 article URLs from search results\nScrapes article content using Firecrawl\nProcesses 3 articles simultaneously for comprehensive coverage\n\n### Result:\n✅ Current news articles retrieved\n✅ Full article content extracted\n✅ Multiple sources analyzed per query","height":272,"width":1328,"color":5},"id":"1a08a7fc-ba18-4824-813c-be304d44a524","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1904,1408],"typeVersion":1},{"parameters":{"content":"# Phase 6: Content Analysis & Idea Generation","height":1360,"width":688,"color":6},"id":"770098f8-6277-42b7-b0a7-f1c834a545fc","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[3280,96],"typeVersion":1},{"parameters":{"content":"### What the system does:\n\nAnalyzes scraped articles with Claude AI\nGenerates 3 SEO blog ideas per query\nProvides keyword suggestions for each idea\nCreates actionable content recommendations\n\n### Result:\n✅ Blog post ideas generated from current trends\n✅ SEO keywords identified\n✅ Content strategy suggestions provided","height":272,"width":688,"color":6},"id":"a3295960-6cb9-48eb-9173-6f74935a803c","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[3280,1504],"typeVersion":1},{"parameters":{"content":"## Need more advanced automation solutions? Contact us for custom enterprise workflows!\n\n# Growth-AI.fr\n\n## https://www.linkedin.com/in/allanvaccarizi/\n## https://www.linkedin.com/in/hugo-marinier-%F0%9F%A7%B2-6537b633/","height":336,"width":816},"id":"a9534a53-18d0-4eb2-89c3-a7c0176965a9","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[16,-208],"typeVersion":1}],"connections":{"Add datas":{"main":[[{"node":"Sort related query","type":"main","index":0}]]},"Get Query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If query 1":{"main":[[{"node":"Search GNews query 1","type":"main","index":0}]]},"If query 2":{"main":[[{"node":"Search GNews query 2","type":"main","index":0}]]},"If query 3":{"main":[[{"node":"Search GNews query 3","type":"main","index":0}]]},"Trends OK ?":{"main":[[{"node":"Classing query","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search trend":{"main":[[{"node":"Trends OK ?","type":"main","index":0}]]},"Merge queries":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Classing query":{"main":[[{"node":"Sorting queries","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search trend","type":"main","index":0}]]},"Sorting queries":{"main":[[{"node":"Sorting output > table","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Query","type":"main","index":0}]]},"Sort related query":{"main":[[{"node":"If query 2","type":"main","index":0},{"node":"If query 3","type":"main","index":0},{"node":"If query 1","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Sorting queries","type":"ai_languageModel","index":0}]]},"Search GNews query 1":{"main":[[{"node":"Return URL only query 1","type":"main","index":0}]]},"Search GNews query 2":{"main":[[{"node":"Return URL only query 2","type":"main","index":0}]]},"Search GNews query 3":{"main":[[{"node":"Return URL only query 3","type":"main","index":0}]]},"Anthropic Chat Model8":{"ai_languageModel":[[{"node":"Article analysis query 1","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model9":{"ai_languageModel":[[{"node":"Article analysis query 2","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model10":{"ai_languageModel":[[{"node":"Article analysis query 3","type":"ai_languageModel","index":0}]]},"Sorting output > table":{"main":[[{"node":"Create sheets","type":"main","index":0},{"node":"Add datas","type":"main","index":0}]]},"Return URL only query 1":{"main":[[{"node":"Scrape article 1 query 1","type":"main","index":0}]]},"Return URL only query 2":{"main":[[{"node":"Scrape article 1 query 2","type":"main","index":0}]]},"Return URL only query 3":{"main":[[{"node":"Scrape article 1 query 3","type":"main","index":0}]]},"Article analysis query 1":{"main":[[{"node":"Add article datas query 1","type":"main","index":0}]]},"Article analysis query 2":{"main":[[{"node":"Add article datas query 2","type":"main","index":0}]]},"Article analysis query 3":{"main":[[{"node":"Add article datas query 3","type":"main","index":0}]]},"Scrape article 1 query 1":{"main":[[{"node":"Scrape article 2 query 1","type":"main","index":0}]]},"Scrape article 1 query 2":{"main":[[{"node":"Scrape article 2 query 2","type":"main","index":0}]]},"Scrape article 1 query 3":{"main":[[{"node":"Scrape article 2 query 3","type":"main","index":0}]]},"Scrape article 2 query 1":{"main":[[{"node":"Scrape article 3 query 1","type":"main","index":0}]]},"Scrape article 2 query 2":{"main":[[{"node":"Scrape article 3 query 2","type":"main","index":0}]]},"Scrape article 2 query 3":{"main":[[{"node":"Scrape article 3 query 3","type":"main","index":0}]]},"Scrape article 3 query 1":{"main":[[{"node":"Article analysis query 1","type":"main","index":0}]]},"Scrape article 3 query 2":{"main":[[{"node":"Article analysis query 2","type":"main","index":0}]]},"Scrape article 3 query 3":{"main":[[{"node":"Article analysis query 3","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Sorting queries","type":"ai_outputParser","index":0}]]},"Add article datas query 1":{"main":[[{"node":"Merge queries","type":"main","index":0}]]},"Add article datas query 2":{"main":[[{"node":"Merge queries","type":"main","index":1}]]},"Add article datas query 3":{"main":[[{"node":"Merge queries","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d46d0a28-d1a8-460a-bc2e-dd0df4e7cf47","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T17:55:05.820Z","createdAt":"2025-12-21T17:55:05.820Z","role":"workflow:owner","workflowId":"OMHrkBmTdU498Zpd","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-04T05:01:55.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-04","isPending":false}}]}}],"tags":[],"activeVersion":null}