clifton_home/2026/01/Booming Bookkeeping Email Archive to Vector Database/gdz0DXPYRPWDOGnrlVR_E.json
{"updatedAt":"2026-01-20T13:14:56.452Z","createdAt":"2026-01-20T01:32:35.735Z","id":"gdz0DXPYRPWDOGnrlVR_E","name":"Booming Bookkeeping Email Archive to Vector Database","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"daysThreshold","value":30,"type":"number"},{"id":"id-2","name":"minDaysOld","value":30,"type":"number"},{"id":"id-3","name":"maxDaysOld","value":60,"type":"number"},{"id":"id-4","name":"senderEmail","value":"support@boomingbookkeeping.com","type":"string"},{"id":"id-5","name":"processAllEmails","value":true,"type":"boolean"},{"id":"id-6","name":"useCustomDateRange","value":false,"type":"boolean"},{"id":"id-7","name":"customStartDate","value":"","type":"string"},{"id":"id-8","name":"customEndDate","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"d7750ced-03e8-4d58-9c9b-3028b3326596","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,384]},{"parameters":{"promptType":"define","text":"={{ $json.email_thread }}","hasOutputParser":true,"options":{"systemMessage":"You are an AI assistant that summarizes email threads into a Question and Answer format.\n\nYour task is to:\n1. Analyze the ENTIRE email thread conversation provided\n2. Extract the main question or topic from the thread\n3. Provide a comprehensive answer based on ALL messages in the thread\n4. Consider the full context and conversation flow\n5. Return the result in the structured JSON format with \"question\" and \"answer\" fields\n\nBe concise but comprehensive in your summaries, capturing the essence of the entire conversation."}},"id":"71f832f1-5f7a-4273-80b1-988ad4d640e1","name":"Summarize Email to Q&A","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2816,624]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"question\": {\n      \"type\": \"string\",\n      \"description\": \"The main question or topic from the email\"\n    },\n    \"answer\": {\n      \"type\": \"string\",\n      \"description\": \"The answer or summary of the email content\"\n    }\n  },\n  \"required\": [\"question\", \"answer\"]\n}"},"id":"b0140912-c273-45c5-943d-6afa92515326","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2960,864]},{"parameters":{"jsCode":"\n\nreturn $input.all().map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},"id":"1a55d7e0-b579-4c26-ac95-458a861dc96e","name":"Format for Vector Store","type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,512]},{"parameters":{"mode":"insert","tableName":"email_qa_vectors","options":{"columnNames":{"values":{"contentColumnName":"page_content"}}}},"id":"114da630-a56c-4d06-beba-f3897f29d345","name":"Postgres Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[3712,800],"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"18a3f478-25d7-4128-ad51-2dd08d8c96d6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3616,992],"credentials":{"openAiApi":{"id":"QIZjLJ92uPOcCDE8","name":"OpenAi account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"emailId","value":"={{ $('Format for Vector Store').item.json.metadata.emailId }}"},{"name":"emailThreadId","value":"={{ $('Format for Vector Store').item.json.metadata.emailThreadId }}"},{"name":"threadMessageCount","value":"={{ $('Format for Vector Store').item.json.metadata.threadMessageCount }}"},{"name":"question","value":"={{ $('Format for Vector Store').item.json.metadata.question }}"},{"name":"answer","value":"={{ $('Format for Vector Store').item.json.metadata.answer }}"}]}}},"id":"52a62db9-4005-43cb-9a1f-86e3a91fc187","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[3856,976],"notes":"\n\nreturn $items.map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"id":"df1518f7-6312-4fd0-99e0-00cf8b790b0a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[80,256]},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"receivedAfter":"={{ $('Workflow Configuration').first().json.processAllEmails ? '2000-01-01T00:00:00.000Z' : ($('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customStartDate : $now.minus({ days: $('Workflow Configuration').first().json.maxDaysOld }).toISO()) }}","receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}","sender":"={{ $('Workflow Configuration').first().json.senderEmail }}"}},"id":"e26af2df-f070-4823-bf7c-74fc800567a8","name":"Get Emails from Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[544,288],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT thread_id FROM processed_emails","options":{}},"id":"d40db080-38c8-4d04-88f2-d4a6fc2bb4cf","name":"Get Processed Email IDs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,480],"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"processed_emails","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"processed_at":"={{ $now.toISO() }}","thread_id":"={{ $json.metadata.emailThreadId }}"},"matchingColumns":[],"schema":[{"id":"thread_id","displayName":"thread_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"726fcb4b-eaa5-46ee-b633-b7e9bf7b3241","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4160,512],"executeOnce":true,"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE processed_emails (\n    thread_id VARCHAR(255) NOT NULL PRIMARY KEY,\n    processed_at TIMESTAMPTZ DEFAULT NOW()\n);\n```","height":240},"type":"n8n-nodes-base.stickyNote","position":[480,688],"typeVersion":1,"id":"e8353e41-fa52-4d09-9e4c-0091a430409a","name":"Sticky Note"},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE email_qa_vectors (\n    id BIGSERIAL PRIMARY KEY,\n\n    -- LangChain Document fields\n    page_content TEXT NOT NULL,\n    embedding VECTOR(1536) NOT NULL,\n\n    metadata JSONB,\n\n    created_at TIMESTAMPTZ DEFAULT NOW()\n);\n```\n\nVector indexs\n\n```\nCREATE INDEX email_qa_vectors_embedding_hnsw_idx\nON email_qa_vectors\nUSING hnsw (embedding vector_cosine_ops)\nWITH (\n    m = 16,\n    ef_construction = 64\n);\n```\n```\nCREATE INDEX idx_email_qa_vectors_metadata_emailThreadId\n    ON email_qa_vectors\n        USING GIN ((metadata->'emailThreadId'));\n```","height":656,"width":432},"type":"n8n-nodes-base.stickyNote","position":[2576,2112],"typeVersion":1,"id":"f019b684-2502-4de3-8564-ecc86e4635ca","name":"Sticky Note1","disabled":true},{"parameters":{"content":"Change processAllEmails to true to process all emails"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"96d585fc-1d00-41ba-b757-2214c1c21b86","name":"Sticky Note2"},{"parameters":{"resource":"thread","operation":"get","threadId":"={{ $json.threadId }}","options":{"returnOnlyMessages":true}},"id":"3d9cc2b2-97bc-4f1d-af30-0790c67ee602","name":"Get Full Email Thread","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1824,720],"webhookId":"950c6421-cd18-4bed-b151-07fe464490ee","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,304],"id":"7bf918ee-5327-43e6-a4ab-c4d3f5edcf9b","name":"Loop Over Items1"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"d6601ac9-b1c3-43ee-9eae-dde81f803070","name":"Get Emails from Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2304,832],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,704],"id":"16d6ef67-cf31-42bc-b17d-d35bdb9ee7c1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"e97a37fe-6898-487c-b52f-0c6b11471d60","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,832],"id":"cb51b175-5abf-48be-bad9-391e04293ccf","name":"Edit Fields"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction stripSignature(text) {\n  return text\n    // Remove everything after common sign-offs\n    .split(/\\n(?:Best regards|Best Regards|Regards|Thanks|Thank you|Sincerely|Have a wonderful day|Best,|--)\\b/i)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove phone / address blocks\n    .replace(/(\\nPhone:.*|\\n\\*Phone:.*)/gi, \"\")\n    // Remove LinkedIn lines\n    .replace(/LinkedIn:.*$/gim, \"\")\n    // Clean extra whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction cleanEmail(text) {\n  return text\n    // Remove quoted replies\n    .split(/\\nOn .* wrote:|\\n>/)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove excessive whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nconst thread = items.map((item, index) => {\n  const raw = item.json.text || \"\";\n\n  const sender =\n    raw.includes(\"Lauren Geneva\") || raw.includes(\"Booming Bookkeeping\")\n      ? \"Lauren Geneva (Support)\"\n      : \"Alex Clifton (Client)\";\n\n  return `--- Email ${index + 1} ---\nFrom: ${sender}\nMessage:\n${stripSignature(cleanEmail(raw))}\n`;\n}).join(\"\\n\\n\");\n\nreturn [\n  {\n    json: {\n      email_thread: `EMAIL THREAD (Chronological)\\n\\n${thread}`\n    }\n  }\n];"},"id":"0b0265a2-6278-4514-92fd-338b5225e790","name":"Combine Thread Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,656]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2800,864],"id":"65e8ed43-bc24-4651-8920-7a33afd27ac0","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"uch0Rcb3BF9tligH","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3328,512],"id":"ca7ccb5f-b86c-4c33-8e2d-44dfac0553de","name":"Merge1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  return {\n    json: {\n        question: item.json.output.question,\n        answer: item.json.output.answer\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3168,608],"id":"935c88b1-79e8-4865-8744-9ea378a6c589","name":"Correct output"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      threadId: $input.first().json.threadId,\n      itemCount: $input.all().length\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,512],"id":"94b16be0-d0c4-4e29-9f71-fc4d7a45a197","name":"Get Number of Emails"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4464,896],"id":"4d1c5f3d-9d0c-420d-a49f-b6591582c3c7","name":"Merge3"},{"parameters":{"options":{"splitCode":"js"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3856,1136],"id":"48aca9b2-9cdc-40c6-99f3-061ce4998ba5","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["Label_2283890139563590331"],"receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}"}},"id":"1cedb417-ee73-4099-bd9f-028d9ea06b78","name":"Get Emails from Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[544,112],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,192],"id":"fc06bba5-d6be-4f9f-baec-053b269bb36e","name":"Merge4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,496],"id":"68a21864-e6a4-44dd-8b19-94e6b5aa987b","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1840,288],"id":"d3d0ced6-497d-4ed4-ab1e-2a139e0ba974","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// Get emails from Merge4 (input 0)\nconst emails = $(\"Merge4\").all();\nconsole.log(\"emails\", emails)\n\n// Get processed thread IDs from database (input 1)\nconst processedThreadIds = $(\"Get Processed Email IDs\").all().map(item => item.json.thread_id);\nconsole.log(\"processedThreadIds\", processedThreadIds)\n\n// Filter out emails whose threadId exists in the processed list\nconst unprocessedEmails = emails.filter(email => {\n  const retVal = !processedThreadIds.includes(email.json.threadId);\n  // console.log(`retval for ${email.json.threadId}`, retVal)\n  return retVal\n});\n\nconsole.log(\"unprocessedEmails\", unprocessedEmails)\n\nreturn unprocessedEmails;"},"id":"2e1e6a71-897a-4068-b102-fec35564d6ef","name":"Filter Unprocessed Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,304]},{"parameters":{"jsCode":"const items = $input.all();\nconst config = $('Workflow Configuration').first().json;\n\n// // Filter by age if processAllEmails is false\nlet filteredItems = items;\n\n// if (!config.processAllEmails) {\n//   filteredItems = items.filter(item => {\n//     const emailDate = new Date(item.json.date);\n//     const now = new Date();\n//     const daysDiff = Math.floor((now - emailDate) / (1000 * 60 * 60 * 24));\n    \n//     return daysDiff >= config.minDaysOld && daysDiff <= config.maxDaysOld;\n//   });\n// }\n\n// Remove duplicates by threadId - keep only the first occurrence of each thread\nconst seenThreadIds = new Set();\nconst uniqueItems = [];\n\nfor (const item of filteredItems) {\n  const threadId = item.json.threadId;\n  \n  if (!seenThreadIds.has(threadId)) {\n    seenThreadIds.add(threadId);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,304],"id":"27a366a6-1882-4f79-a3bb-661a260e83a4","name":"Filter and Deduplicate Emails"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,656],"id":"512a971e-19f6-4f98-a696-84779fe9ec1e","name":"Wait","webhookId":"efc97597-34c7-49a9-b0e0-738197153a34"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,304],"id":"35b68828-cee5-4128-affb-965390290870","name":"Merge"}],"connections":{"Workflow Configuration":{"main":[[{"node":"Get Emails from Gmail","type":"main","index":0},{"node":"Get Processed Email IDs","type":"main","index":0},{"node":"Get Emails from Gmail2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarize Email to Q&A","type":"ai_outputParser","index":0}]]},"Summarize Email to Q&A":{"main":[[{"node":"Correct output","type":"main","index":0}]]},"Format for Vector Store":{"main":[[{"node":"Postgres Vector Store","type":"main","index":0},{"node":"Mark Email as Processed","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres Vector Store","type":"ai_document","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Get Emails from Gmail":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Get Processed Email IDs":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres Vector Store":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Get Full Email Thread":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Get Number of Emails","type":"main","index":0}]]},"Mark Email as Processed":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Get Full Email Thread","type":"main","index":0}]]},"Get Emails from Gmail1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Combine Thread Messages","type":"main","index":0}],[{"node":"Get Emails from Gmail1","type":"main","index":0}]]},"Combine Thread Messages":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Summarize Email to Q&A","type":"ai_languageModel","index":0}]]},"Correct output":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get Number of Emails":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get Emails from Gmail2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Format for Vector Store","type":"main","index":0}]]},"Filter Unprocessed Emails":{"main":[[{"node":"Filter and Deduplicate Emails","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Filter and Deduplicate Emails":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Summarize Email to Q&A","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter Unprocessed Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"lumsfsJn-11VSs7gepTrz","timeSavedPerExecution":15},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[45]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a060467-7dbb-4f90-b5b9-270b0b7077c5","activeVersionId":"6a060467-7dbb-4f90-b5b9-270b0b7077c5","versionCounter":174,"triggerCount":1,"shared":[{"updatedAt":"2026-01-20T01:32:35.735Z","createdAt":"2026-01-20T01:32:35.735Z","role":"workflow:owner","workflowId":"gdz0DXPYRPWDOGnrlVR_E","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-20T13:22:34.565Z","createdAt":"2026-01-20T13:14:56.453Z","versionId":"6a060467-7dbb-4f90-b5b9-270b0b7077c5","workflowId":"gdz0DXPYRPWDOGnrlVR_E","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"daysThreshold","value":30,"type":"number"},{"id":"id-2","name":"minDaysOld","value":30,"type":"number"},{"id":"id-3","name":"maxDaysOld","value":60,"type":"number"},{"id":"id-4","name":"senderEmail","value":"support@boomingbookkeeping.com","type":"string"},{"id":"id-5","name":"processAllEmails","value":true,"type":"boolean"},{"id":"id-6","name":"useCustomDateRange","value":false,"type":"boolean"},{"id":"id-7","name":"customStartDate","value":"","type":"string"},{"id":"id-8","name":"customEndDate","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"d7750ced-03e8-4d58-9c9b-3028b3326596","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,384]},{"parameters":{"promptType":"define","text":"={{ $json.email_thread }}","hasOutputParser":true,"options":{"systemMessage":"You are an AI assistant that summarizes email threads into a Question and Answer format.\n\nYour task is to:\n1. Analyze the ENTIRE email thread conversation provided\n2. Extract the main question or topic from the thread\n3. Provide a comprehensive answer based on ALL messages in the thread\n4. Consider the full context and conversation flow\n5. Return the result in the structured JSON format with \"question\" and \"answer\" fields\n\nBe concise but comprehensive in your summaries, capturing the essence of the entire conversation."}},"id":"71f832f1-5f7a-4273-80b1-988ad4d640e1","name":"Summarize Email to Q&A","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2816,624]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"question\": {\n      \"type\": \"string\",\n      \"description\": \"The main question or topic from the email\"\n    },\n    \"answer\": {\n      \"type\": \"string\",\n      \"description\": \"The answer or summary of the email content\"\n    }\n  },\n  \"required\": [\"question\", \"answer\"]\n}"},"id":"b0140912-c273-45c5-943d-6afa92515326","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2960,864]},{"parameters":{"jsCode":"\n\nreturn $input.all().map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},"id":"1a55d7e0-b579-4c26-ac95-458a861dc96e","name":"Format for Vector Store","type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,512]},{"parameters":{"mode":"insert","tableName":"email_qa_vectors","options":{"columnNames":{"values":{"contentColumnName":"page_content"}}}},"id":"114da630-a56c-4d06-beba-f3897f29d345","name":"Postgres Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[3712,800],"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"18a3f478-25d7-4128-ad51-2dd08d8c96d6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3616,992],"credentials":{"openAiApi":{"id":"QIZjLJ92uPOcCDE8","name":"OpenAi account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"emailId","value":"={{ $('Format for Vector Store').item.json.metadata.emailId }}"},{"name":"emailThreadId","value":"={{ $('Format for Vector Store').item.json.metadata.emailThreadId }}"},{"name":"threadMessageCount","value":"={{ $('Format for Vector Store').item.json.metadata.threadMessageCount }}"},{"name":"question","value":"={{ $('Format for Vector Store').item.json.metadata.question }}"},{"name":"answer","value":"={{ $('Format for Vector Store').item.json.metadata.answer }}"}]}}},"id":"52a62db9-4005-43cb-9a1f-86e3a91fc187","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[3856,976],"notes":"\n\nreturn $items.map(item => ({\n  json: {\n    pageContent: `Question: ${item.json.question}\\n\\nAnswer: ${item.json.answer}`,\n    metadata: {\n      emailId: item.json.id,\n      emailThreadId: item.json.threadId,\n      threadMessageCount: item.json.itemCount,\n      question: item.json.question,\n      answer: item.json.answer\n    }\n  }\n}));"},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"id":"df1518f7-6312-4fd0-99e0-00cf8b790b0a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[80,256]},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"receivedAfter":"={{ $('Workflow Configuration').first().json.processAllEmails ? '2000-01-01T00:00:00.000Z' : ($('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customStartDate : $now.minus({ days: $('Workflow Configuration').first().json.maxDaysOld }).toISO()) }}","receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}","sender":"={{ $('Workflow Configuration').first().json.senderEmail }}"}},"id":"e26af2df-f070-4823-bf7c-74fc800567a8","name":"Get Emails from Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[544,288],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT thread_id FROM processed_emails","options":{}},"id":"d40db080-38c8-4d04-88f2-d4a6fc2bb4cf","name":"Get Processed Email IDs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,480],"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"processed_emails","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"processed_at":"={{ $now.toISO() }}","thread_id":"={{ $json.metadata.emailThreadId }}"},"matchingColumns":[],"schema":[{"id":"thread_id","displayName":"thread_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"726fcb4b-eaa5-46ee-b633-b7e9bf7b3241","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4160,512],"executeOnce":true,"credentials":{"postgres":{"id":"64vfs383hTo0m8pr","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE processed_emails (\n    thread_id VARCHAR(255) NOT NULL PRIMARY KEY,\n    processed_at TIMESTAMPTZ DEFAULT NOW()\n);\n```","height":240},"type":"n8n-nodes-base.stickyNote","position":[480,688],"typeVersion":1,"id":"e8353e41-fa52-4d09-9e4c-0091a430409a","name":"Sticky Note"},{"parameters":{"content":"## Table Setup\n\n```\nCREATE TABLE email_qa_vectors (\n    id BIGSERIAL PRIMARY KEY,\n\n    -- LangChain Document fields\n    page_content TEXT NOT NULL,\n    embedding VECTOR(1536) NOT NULL,\n\n    metadata JSONB,\n\n    created_at TIMESTAMPTZ DEFAULT NOW()\n);\n```\n\nVector indexs\n\n```\nCREATE INDEX email_qa_vectors_embedding_hnsw_idx\nON email_qa_vectors\nUSING hnsw (embedding vector_cosine_ops)\nWITH (\n    m = 16,\n    ef_construction = 64\n);\n```\n```\nCREATE INDEX idx_email_qa_vectors_metadata_emailThreadId\n    ON email_qa_vectors\n        USING GIN ((metadata->'emailThreadId'));\n```","height":656,"width":432},"type":"n8n-nodes-base.stickyNote","position":[2576,2112],"typeVersion":1,"id":"f019b684-2502-4de3-8564-ecc86e4635ca","name":"Sticky Note1","disabled":true},{"parameters":{"content":"Change processAllEmails to true to process all emails"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"96d585fc-1d00-41ba-b757-2214c1c21b86","name":"Sticky Note2"},{"parameters":{"resource":"thread","operation":"get","threadId":"={{ $json.threadId }}","options":{"returnOnlyMessages":true}},"id":"3d9cc2b2-97bc-4f1d-af30-0790c67ee602","name":"Get Full Email Thread","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1824,720],"webhookId":"950c6421-cd18-4bed-b151-07fe464490ee","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,304],"id":"7bf918ee-5327-43e6-a4ab-c4d3f5edcf9b","name":"Loop Over Items1"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"d6601ac9-b1c3-43ee-9eae-dde81f803070","name":"Get Emails from Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2304,832],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,704],"id":"16d6ef67-cf31-42bc-b17d-d35bdb9ee7c1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"e97a37fe-6898-487c-b52f-0c6b11471d60","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,832],"id":"cb51b175-5abf-48be-bad9-391e04293ccf","name":"Edit Fields"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction stripSignature(text) {\n  return text\n    // Remove everything after common sign-offs\n    .split(/\\n(?:Best regards|Best Regards|Regards|Thanks|Thank you|Sincerely|Have a wonderful day|Best,|--)\\b/i)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove phone / address blocks\n    .replace(/(\\nPhone:.*|\\n\\*Phone:.*)/gi, \"\")\n    // Remove LinkedIn lines\n    .replace(/LinkedIn:.*$/gim, \"\")\n    // Clean extra whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction cleanEmail(text) {\n  return text\n    // Remove quoted replies\n    .split(/\\nOn .* wrote:|\\n>/)[0]\n    // Remove confidentiality notices\n    .split(/CONFIDENTIALITY NOTICE/i)[0]\n    // Remove excessive whitespace\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nconst thread = items.map((item, index) => {\n  const raw = item.json.text || \"\";\n\n  const sender =\n    raw.includes(\"Lauren Geneva\") || raw.includes(\"Booming Bookkeeping\")\n      ? \"Lauren Geneva (Support)\"\n      : \"Alex Clifton (Client)\";\n\n  return `--- Email ${index + 1} ---\nFrom: ${sender}\nMessage:\n${stripSignature(cleanEmail(raw))}\n`;\n}).join(\"\\n\\n\");\n\nreturn [\n  {\n    json: {\n      email_thread: `EMAIL THREAD (Chronological)\\n\\n${thread}`\n    }\n  }\n];"},"id":"0b0265a2-6278-4514-92fd-338b5225e790","name":"Combine Thread Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,656]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2800,864],"id":"65e8ed43-bc24-4651-8920-7a33afd27ac0","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"uch0Rcb3BF9tligH","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3328,512],"id":"ca7ccb5f-b86c-4c33-8e2d-44dfac0553de","name":"Merge1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  return {\n    json: {\n        question: item.json.output.question,\n        answer: item.json.output.answer\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3168,608],"id":"935c88b1-79e8-4865-8744-9ea378a6c589","name":"Correct output"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      threadId: $input.first().json.threadId,\n      itemCount: $input.all().length\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,512],"id":"94b16be0-d0c4-4e29-9f71-fc4d7a45a197","name":"Get Number of Emails"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4464,896],"id":"4d1c5f3d-9d0c-420d-a49f-b6591582c3c7","name":"Merge3"},{"parameters":{"options":{"splitCode":"js"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3856,1136],"id":"48aca9b2-9cdc-40c6-99f3-061ce4998ba5","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["Label_2283890139563590331"],"receivedBefore":"={{ $('Workflow Configuration').first().json.useCustomDateRange ? $('Workflow Configuration').first().json.customEndDate : $now.minus({ days: $('Workflow Configuration').first().json.minDaysOld }).toISO() }}"}},"id":"1cedb417-ee73-4099-bd9f-028d9ea06b78","name":"Get Emails from Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[544,112],"webhookId":"62195df6-4078-40ee-9129-cd01d3b02095","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,192],"id":"fc06bba5-d6be-4f9f-baec-053b269bb36e","name":"Merge4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,496],"id":"68a21864-e6a4-44dd-8b19-94e6b5aa987b","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1840,288],"id":"d3d0ced6-497d-4ed4-ab1e-2a139e0ba974","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// Get emails from Merge4 (input 0)\nconst emails = $(\"Merge4\").all();\nconsole.log(\"emails\", emails)\n\n// Get processed thread IDs from database (input 1)\nconst processedThreadIds = $(\"Get Processed Email IDs\").all().map(item => item.json.thread_id);\nconsole.log(\"processedThreadIds\", processedThreadIds)\n\n// Filter out emails whose threadId exists in the processed list\nconst unprocessedEmails = emails.filter(email => {\n  const retVal = !processedThreadIds.includes(email.json.threadId);\n  // console.log(`retval for ${email.json.threadId}`, retVal)\n  return retVal\n});\n\nconsole.log(\"unprocessedEmails\", unprocessedEmails)\n\nreturn unprocessedEmails;"},"id":"2e1e6a71-897a-4068-b102-fec35564d6ef","name":"Filter Unprocessed Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,304]},{"parameters":{"jsCode":"const items = $input.all();\nconst config = $('Workflow Configuration').first().json;\n\n// // Filter by age if processAllEmails is false\nlet filteredItems = items;\n\n// if (!config.processAllEmails) {\n//   filteredItems = items.filter(item => {\n//     const emailDate = new Date(item.json.date);\n//     const now = new Date();\n//     const daysDiff = Math.floor((now - emailDate) / (1000 * 60 * 60 * 24));\n    \n//     return daysDiff >= config.minDaysOld && daysDiff <= config.maxDaysOld;\n//   });\n// }\n\n// Remove duplicates by threadId - keep only the first occurrence of each thread\nconst seenThreadIds = new Set();\nconst uniqueItems = [];\n\nfor (const item of filteredItems) {\n  const threadId = item.json.threadId;\n  \n  if (!seenThreadIds.has(threadId)) {\n    seenThreadIds.add(threadId);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,304],"id":"27a366a6-1882-4f79-a3bb-661a260e83a4","name":"Filter and Deduplicate Emails"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,656],"id":"512a971e-19f6-4f98-a696-84779fe9ec1e","name":"Wait","webhookId":"efc97597-34c7-49a9-b0e0-738197153a34"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,304],"id":"35b68828-cee5-4128-affb-965390290870","name":"Merge"}],"connections":{"Workflow Configuration":{"main":[[{"node":"Get Emails from Gmail","type":"main","index":0},{"node":"Get Processed Email IDs","type":"main","index":0},{"node":"Get Emails from Gmail2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarize Email to Q&A","type":"ai_outputParser","index":0}]]},"Summarize Email to Q&A":{"main":[[{"node":"Correct output","type":"main","index":0}]]},"Format for Vector Store":{"main":[[{"node":"Postgres Vector Store","type":"main","index":0},{"node":"Mark Email as Processed","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres Vector Store","type":"ai_document","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Get Emails from Gmail":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Get Processed Email IDs":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres Vector Store":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Get Full Email Thread":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Get Number of Emails","type":"main","index":0}]]},"Mark Email as Processed":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Get Full Email Thread","type":"main","index":0}]]},"Get Emails from Gmail1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Combine Thread Messages","type":"main","index":0}],[{"node":"Get Emails from Gmail1","type":"main","index":0}]]},"Combine Thread Messages":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Summarize Email to Q&A","type":"ai_languageModel","index":0}]]},"Correct output":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get Number of Emails":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get Emails from Gmail2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Format for Vector Store","type":"main","index":0}]]},"Filter Unprocessed Emails":{"main":[[{"node":"Filter and Deduplicate Emails","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Filter and Deduplicate Emails":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Summarize Email to Q&A","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter Unprocessed Emails","type":"main","index":0}]]}},"authors":"Zac Clifton","name":"Version 6a060467","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-20T13:22:34.554Z","id":13,"workflowId":"gdz0DXPYRPWDOGnrlVR_E","versionId":"6a060467-7dbb-4f90-b5b9-270b0b7077c5","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}]}}