hbf_online/2026/05/Gamma Competitor Research + Deck/4yU8GEjjVIncytz6.json
{"updatedAt":"2026-05-02T18:03:36.821Z","createdAt":"2026-05-02T18:03:34.013Z","id":"4yU8GEjjVIncytz6","name":"Gamma Competitor Research + Deck","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# 1. Competitive Intelligence Research & Data Aggregation Engine\n## *Automated multi-source competitor tracking with AI-powered enrichment and structured extraction*\n\n1. Triggers scheduled competitor monitoring runs at defined intervals\n2. Retrieves active competitor list from Airtable with company profiles and domains\n3. Enriches each competitor profile using Explorium MCP for firmographic data, funding rounds, and decision-maker intelligence\n4. Executes deep web research via Perplexity AI to capture latest news on funding, product launches, executive movements, and pricing changes (last 45 days)\n5. Extracts and structures insights into categorized markdown format (funding, features, executives, pricing) using Claude Sonnet 4\n6. Writes comprehensive research updates back to Airtable for centralized tracking and historical analysis","height":592,"width":2544,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"a6749ebd-25b0-4f30-8fc8-9da0aedc21a3","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[64,272],"id":"7925d09a-483f-475d-b471-27cbf6dd92e1","name":"Schedule Trigger"},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"=You are an expert competitive intelligence analyst with access to public sources (news, press releases, social media, funding databases, company websites, regulatory filings).\n\nYour task is to provide a comprehensive, structured update on competitors, focusing on news, product launches, funding, executive moves.\n\nIn addition extract the product pricing data from company website /pricing page whatever is current data extract that.\n\n# Instructions\n\n## Company to Track\nName: {{ $('Process Each Company').item.json.Name }}\nWebsite: {{ $('Process Each Company').item.json.Website }}\n\n## Time Frame:\nOnly include events from the last 45 days. Today is {{ $now }}\n\n## Types of Updates:\n\n- News & Press Releases: Major announcements, partnerships, acquisitions.\n- Product Launches: New features, versions, platforms, apps, or services.\n- Funding & Investments: Rounds raised, investors, valuations, strategic acquisitions.\n- Executive Moves: Hires, departures, promotions, board changes.\n- Pricing & Packaging: pricing plans, discounts, bundling, promotions.\n\n## Prioritize:\n- Accuracy and verified sources.\n- Material impact on market or strategy (don’t include trivial updates).\n- Latest, actionable, and relevant info for strategic decision-making.\n\n## Output\n* Complete Research Report with Data and Numbers.\n* No extra commentary than research report.\n\n"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[1472,288],"id":"ad6e7af3-3a46-4bc9-9a64-b5f1b467ebe1","name":"Research Company News"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appxCTpHC4V5tQENc","mode":"list","cachedResultName":"Competitor Intelligence","cachedResultUrl":"https://airtable.com/appxCTpHC4V5tQENc"},"table":{"__rl":true,"value":"tblKgamgGiBOPJdDo","mode":"list","cachedResultName":"Competitor List","cachedResultUrl":"https://airtable.com/appxCTpHC4V5tQENc/tblKgamgGiBOPJdDo"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,272],"id":"7a00e5fe-e656-45b3-a93d-ecc75abae664","name":"Get Competitors"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[912,272],"id":"3a548787-2275-4dbe-842c-158fdd23f4a1","name":"Process Each Company"},{"parameters":{"assignments":{"assignments":[{"id":"48ee5ebd-fedc-43a9-991c-b7981e204695","name":"gamma_key","value":"*****","type":"string"},{"id":"a9d729a3-7be8-4d56-81a6-a3a829317e94","name":"fal_key","value":"*****","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,272],"id":"4a0cb6a3-6583-41dc-9114-2a005b16a3d9","name":"Keys"},{"parameters":{"sseEndpoint":"https://mcp.explorium.ai/sse","authentication":"bearerAuth","options":{}},"id":"61952048-f057-4913-8255-4caab9536821","name":"Explorium MCP","type":"@n8n/n8n-nodes-langchain.mcpClientTool","position":[1216,448],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n  \"company_intelligence\": {\n    \"company_name\": \"\",\n    \"domain\": \"\",\n    \"industry\": \"\",\n    \"sector\": \"\",\n    \"company_size\": {\n      \"employees\": \"\",\n      \"revenue_range\": \"\"\n    },\n    \"headquarters_location\": \"\",\n    \"founded_year\": \"\",\n    \"business_model\": \"\"\n  },\n  \"financial_intelligence\": {\n    \"latest_funding_round\": {\n      \"series\": \"\",\n      \"amount\": \"\",\n      \"date\": \"\"\n    },\n    \"total_funding_raised\": \"\",\n    \"key_investors\": [],\n    \"valuation\": \"\",\n    \"revenue_estimates\": \"\",\n    \"growth_stage\": \"\"\n  },\n  \"decision_maker_intelligence\": {\n    \"c_level_executives\": [\n      {\n        \"name\": \"\",\n        \"title\": \"\",\n        \"linkedin_profile\": \"\",\n        \"contact_information\": {\n          \"email\": \"\",\n          \"phone\": \"\"\n        }\n      }\n    ],\n    \"department_heads\": [\n      {\n        \"name\": \"\",\n        \"title\": \"\",\n        \"linkedin_profile\": \"\",\n        \"contact_information\": {\n          \"email\": \"\",\n          \"phone\": \"\"\n        }\n      }\n    ]\n  },\n  \"sales_triggers_and_timing\": {\n    \"recent_news\": [],\n    \"product_launches\": [],\n    \"expansion_news\": [],\n    \"leadership_changes\": [],\n    \"technology_adoptions\": [],\n    \"job_postings\": []\n  },\n  \"competitive_intelligence\": {\n    \"main_competitors\": [],\n    \"market_position\": \"\",\n    \"technology_stack\": [],\n    \"pain_points\": []\n  }\n}"},"id":"61e7be8b-aab4-4e14-be82-adda85956a14","name":"Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1344,448],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=You will be provided with company information including:\n\nName: {{ $json.Name }}\nDomain: {{ $json.Website }}\n\nYour task is to research and extract the following key business metrics for this company:\nRequired Data Points:\n1. Company Intelligence\n\nCompany Name & Domain\nIndustry & Sector\nCompany Size (employees, revenue range)\nHeadquarters Location\nFounded Year\nBusiness Model (SaaS, E-commerce, Manufacturing, etc.)\n\n2. Financial Intelligence\n\nLatest Funding Round (Series, amount, date)\nTotal Funding Raised\nKey Investors\nValuation (if available)\nRevenue Estimates\nGrowth Stage (Startup, Scale-up, Enterprise)\n\n3. Decision Maker Intelligence\n\nC-Level Executives (CEO, CTO, CMO, etc.)\nDepartment Heads (Sales, Marketing, Engineering)\nRecent Hires (especially leadership)\nLinkedIn Profiles of key contacts\nContact Information (emails, phone when available)\n\n4. Sales Triggers & Timing\n\nRecent News/Press Releases\nProduct Launches\nExpansion News (new offices, markets)\nLeadership Changes\nTechnology Adoptions\nJob Postings (indicating growth/needs)\n\n5. Competitive Intelligence\n\nMain Competitors\nMarket Position\nTechnology Stack (from job posts, tech blogs)\nPain Points (from reviews, forums)\n\nUse the Explorium tools to:\n1. First use match-business to find the business ID\n2. Then use enrich-businesses-firmographics to get the company details\n\nReturn the data exactly in this format.\n{\n  \"company_intelligence\": {\n    \"company_name\": \"\",\n    \"domain\": \"\",\n    \"industry\": \"\",\n    \"sector\": \"\",\n    \"company_size\": {\n      \"employees\": \"\",\n      \"revenue_range\": \"\"\n    },\n    \"headquarters_location\": \"\",\n    \"founded_year\": \"\",\n    \"business_model\": \"\"\n  },\n  \"financial_intelligence\": {\n    \"latest_funding_round\": {\n      \"series\": \"\",\n      \"amount\": \"\",\n      \"date\": \"\"\n    },\n    \"total_funding_raised\": \"\",\n    \"key_investors\": [],\n    \"valuation\": \"\",\n    \"revenue_estimates\": \"\",\n    \"growth_stage\": \"\"\n  },\n  \"decision_maker_intelligence\": {\n    \"c_level_executives\": [\n      {\n        \"name\": \"\",\n        \"title\": \"\",\n        \"linkedin_profile\": \"\",\n        \"contact_information\": {\n          \"email\": \"\",\n          \"phone\": \"\"\n        }\n      }\n    ],\n    \"department_heads\": [\n      {\n        \"name\": \"\",\n        \"title\": \"\",\n        \"linkedin_profile\": \"\",\n        \"contact_information\": {\n          \"email\": \"\",\n          \"phone\": \"\"\n        }\n      }\n    ]\n  },\n  \"sales_triggers_and_timing\": {\n    \"recent_news\": [],\n    \"product_launches\": [],\n    \"expansion_news\": [],\n    \"leadership_changes\": [],\n    \"technology_adoptions\": [],\n    \"job_postings\": []\n  },\n  \"competitive_intelligence\": {\n    \"main_competitors\": [],\n    \"market_position\": \"\",\n    \"technology_stack\": [],\n    \"pain_points\": []\n  }\n}","hasOutputParser":true,"options":{}},"id":"a2cfecc4-8959-436f-94f6-09ca92b2f76c","name":"Company Enrich Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1136,288],"typeVersion":1.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1088,448],"id":"5ebd7a1e-73a9-40fd-890f-e2064742146d","name":"Anthropic Chat"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"messages":{"values":[{"content":"=You are an expert news analyst and structured content generator.\n\nINPUT:\nYou will receive:\n1) Raw JSON data (metadata, sources, dates, links, summaries, etc.)\n2) Unstructured or semi-structured news text (articles, press releases, bullet points)\n\n## INPUT 1\n{{ $('Company Enrich Agent').item.json.output.toJsonString() }}\n\n## INPUT 2\n{{ $json.data[0].choices[0].message.content }}\n\nYour task is to:\n- Analyze ALL input\n- Extract relevant news\n- Classify it into EXACTLY 4 categories\n- Present the extracted information as MARKDOWN-FORMATTED TEXT\n- Return everything inside ONE JSON object\n\n────────────────────────────────────────────\nOUTPUT FORMAT (STRICT — DO NOT DEVIATE)\n────────────────────────────────────────────\n\n{\n  \"funding_news\": \"\",\n  \"product_launch_news\": \"\",\n  \"executive_movement_news\": \"\",\n  \"pricing_update_news\": \"\"\n}\n\nEach value MUST be:\n- A single Markdown-formatted string\n- Empty string \"\" if no relevant news is found\n- NO nested JSON, NO arrays, NO extra keys\n\n────────────────────────────────────────────\nCONTENT RULES PER CATEGORY\n────────────────────────────────────────────\n\n### 1️⃣ funding_news\nInclude ONLY if the input mentions:\n- Fundraising rounds (Seed, Series A/B/C, etc.)\n- VC / Angel investments\n- Grants or strategic funding\n- Acquisitions where deal value is mentioned\n\nMarkdown format to follow:\n- **Company:**  \n- **Funding Type:**  \n- **Amount:**  \n- **Investors:**  \n- **Date:**  \n- **Source:**  \n\nIf multiple funding news exist, separate them with:\n---\n(horizontal rule)\n\n────────────────────────────────────────────\n\n### 2️⃣ product_launch_news\nInclude ONLY if the input mentions:\n- New product or platform launches\n- Major feature or AI model releases\n- Beta or public availability announcements\n\nMarkdown format to follow:\n- **Company:**  \n- **Product / Feature:**  \n- **Launch Type:**  \n- **Key Highlights:**  \n- **Target Users:**  \n- **Date:**  \n- **Source:**  \n\nUse bullet points under **Key Highlights** where applicable.\nSeparate multiple items with `---`.\n\n────────────────────────────────────────────\n\n### 3️⃣ executive_movement_news\nInclude ONLY if the input mentions:\n- Executive hires, promotions, exits\n- CEO, CTO, CFO, CMO, VP, Director-level changes\n\nMarkdown format to follow:\n- **Company:**  \n- **Executive Name:**  \n- **Role:**  \n- **Movement Type:** (Hired / Promoted / Resigned / Transitioned)\n- **Previous Company (if mentioned):**  \n- **Date:**  \n- **Source:**  \n\nSeparate multiple items with `---`.\n\n────────────────────────────────────────────\n\n### 4️⃣ pricing_update_news\nInclude ONLY if the input mentions:\n- Price increases or decreases\n- New pricing tiers or plans\n- Subscription or licensing changes\n\nMarkdown format to follow:\n- **Company:**  \n- **Product:**  \n- **Pricing Change:**  \n- **Old Price:**  \n- **New Price:**  \n- **Effective Date:**  \n- **Source:**  \n\nSeparate multiple items with `---`.\n\n────────────────────────────────────────────\nGLOBAL RULES (VERY IMPORTANT)\n────────────────────────────────────────────\n- Do NOT hallucinate information\n- Only extract what is explicitly stated or clearly implied\n- If a field is not mentioned, write `Not specified`\n- If a category has no relevant news, return an empty string \"\"\n- Output ONLY the final JSON — no explanations, no markdown outside JSON\n\nBEGIN ANALYSIS AND RETURN FINAL JSON OUTPUT ONLY."}]},"options":{"maxTokens":4096}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[1840,288],"id":"6aa04dc2-bfbe-4df9-83a2-7533e81fe19f","name":"Information Extraction"},{"parameters":{"jsCode":"const raw = $input.first().json.content[0].text;\n// remove ```json, ``` and trim\nconst cleaned = raw\n  .replace(/```json\\s*/i, '')\n  .replace(/```/g, '')\n  .trim();\n\n// parse to object\nconst parsed = JSON.parse(cleaned);\n\nreturn [\n  {\n    json: parsed\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,288],"id":"10c0f905-d455-44c0-9fd4-1856e40ee6b0","name":"Code in JavaScript"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appxCTpHC4V5tQENc","mode":"list","cachedResultName":"Competitor Intelligence","cachedResultUrl":"https://airtable.com/appxCTpHC4V5tQENc"},"table":{"__rl":true,"value":"tblCY9f6XEBtvcPJj","mode":"list","cachedResultName":"Competitor Research","cachedResultUrl":"https://airtable.com/appxCTpHC4V5tQENc/tblCY9f6XEBtvcPJj"},"columns":{"mappingMode":"defineBelow","value":{"Features Launch News":"={{ $json.product_launch_news }}","Funding News":"={{ $json.funding_news }}","Executive Movements":"={{ $json.executive_movement_news }}","Pricing Insights":"={{ $json.pricing_update_news }}","Company":"={{ [$('Process Each Company').item.json.id] }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Features Launch News","displayName":"Features Launch News","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pricing Insights","displayName":"Pricing Insights","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Executive Movements","displayName":"Executive Movements","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Funding News","displayName":"Funding News","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Research Date","displayName":"Research Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2336,288],"id":"458176d4-0c6b-4997-b3fb-54201ea551cd","name":"Update Research"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[688,272],"id":"ff9b9f41-3937-42f4-b7f4-e36c6d3983ce","name":"Limit"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"=**You are an elite FP&A visualization strategist specializing in competitor performance analysis.**\n\nYour task is to analyze the **competitor research data I provide** and generate **3 presentation-ready chart concepts** using **only the exact numbers from the data**.\n\nThese charts will be used in an **executive monthly business review / competitive intelligence deck**.\n\n---\n\n## 1. What to Output for Each Chart\n\nFor **each of the 3 chart ideas**, include:\n\n### A. Chart Name\n\n* Clear, concise, executive-friendly\n* Focused on competitive insight (e.g., share shift, growth gap, pricing delta)\n\n### B. Chart Type\n\nChoose **one** only:\n\n* `line`\n* `bar`\n* `combo`\n* `waterfall`\n* `variance bridge`\n* `area`\n* `pie/donut` (only if logically necessary)\n* `scatter`\n\n### C. Exact Numbers to Plot\n\n* Extract **directly** from the provided competitor data\n* **Do not invent, estimate, or round numbers**\n* Reorganize or normalize the data if needed (e.g., align months, competitors, metrics)\n* Present values as a **clean, ready-to-copy table** suitable for charting\n\n---\n\n## 2. Analysis Rules (Strict)\n\n* **Use only the numbers provided** in the input\n* If a metric is missing for a competitor, leave it out — do not infer\n* Each chart must highlight a **different competitive insight**, such as:\n\n  * Growth vs peers\n  * Market share or scale comparison\n  * Efficiency, pricing, or momentum gap\n* The 3 charts together must tell a **coherent competitive story**:\n\n  * *Where we stand*\n  * *Where competitors are winning*\n  * *Where risks or opportunities exist*\n\n---\n\n## 3. Output Format (Strict JSON Only)\n\nReturn **only** the JSON below.\nNo explanations. No commentary. No markdown.\n\n```json\n{\n  \"chart_list\": [\n    {\n      \"chart_name\": \"\",\n      \"chart_brief_with_numbers\": \"\",\n      \"chart_type\": \"\"\n    },\n    {\n      \"chart_name\": \"\",\n      \"chart_brief_with_numbers\": \"\",\n      \"chart_type\": \"\"\n    },\n    {\n      \"chart_name\": \"\",\n      \"chart_brief_with_numbers\": \"\",\n      \"chart_type\": \"\"\n    }\n  ]\n}\n```","role":"assistant"},{"content":"=Now read this analysis and generate me chart ideas and give output in strict json format.\n\n# Feature News:\n{{ $json.fields[\"Features Launch News\"] }}\n\n# Pricing News\n{{ $json.fields[\"Pricing Insights\"] }}\n\n# Executive Movement\n{{ $json.fields[\"Executive Movements\"] }}\n\n# Funding News\n{{ $json.fields[\"Funding News\"] }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[64,880],"id":"22e21886-cdea-4a06-bea2-b5b76835a350","name":"Presentation Brain"},{"parameters":{"jsCode":"// Get the raw LLM response text from previous node\n// e.g. previous node output: { \"response\": \"Here are your 5 CFO-grade charts:\\n\\n```json\\n{ ... }```\" }\nconst raw = $input.first().json.content[0].text;\n\n// Helper: extract JSON block inside ```json ... ```\nfunction extractJsonBlock(text) {\n  // Try to find fenced ```json code block first\n  const fenceStart = text.indexOf('```json');\n  if (fenceStart !== -1) {\n    const afterFence = text.slice(fenceStart + '```json'.length);\n    const fenceEnd = afterFence.indexOf('```');\n    const jsonSnippet = fenceEnd !== -1 ? afterFence.slice(0, fenceEnd) : afterFence;\n    return jsonSnippet.trim();\n  }\n\n  // Fallback: grab from first \"{\" to last \"}\"\n  const firstBrace = text.indexOf('{');\n  const lastBrace = text.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    return text.slice(firstBrace, lastBrace + 1).trim();\n  }\n\n  throw new Error('No JSON block found in text.');\n}\n\nlet parsed;\ntry {\n  const jsonString = extractJsonBlock(raw);\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error('Failed to parse JSON from response: ' + error.message);\n}\n\n// Ensure we have chart_list\nif (!parsed.chart_list || !Array.isArray(parsed.chart_list)) {\n  throw new Error('Parsed JSON does not contain a valid \"chart_list\" array.');\n}\n\n// Create one n8n item per chart\nconst outputItems = parsed.chart_list.map(chart => {\n  return {\n    json: {\n      chart_name: chart.chart_name,\n      chart_brief_with_numbers: chart.chart_brief_with_numbers,\n      chart_type: chart.chart_type,\n    },\n  };\n});\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,880],"id":"ac53ec67-dbf6-4855-bf25-6a837a36e655","name":"Code"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana-pro","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Key {{ $('Keys').item.json.fal_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.message.content.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,896],"id":"8e7c4014-6f37-4660-a3d4-0b7ffc3922e9","name":"Image Generation"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2016,960],"id":"6f29c124-aabc-4f77-8e1a-7b9adb1077f6","name":"Wait 15 sec","webhookId":"3784a101-68f6-4536-8231-441e39b8de80"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b88c45-8a24-4727-babe-4dd69cacf239","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,896],"id":"10dafab5-7447-4482-a9c3-57f549bc4195","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,880],"id":"239901f1-10d1-4bea-b519-e017bdf6deda","name":"Loop Over Items1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=On the basis of given input, create a clean minimalist image generation prompt for presenting data/numbers with exact numbers as in input. Charts should always use Orange and Baby Pink color.\n\n\n## Now Proceed with \nchart name: {{ $('Loop Over Items1').item.json.chart_name }}\ndata: {{ $('Loop Over Items1').item.json.chart_brief_with_numbers }}\nchart type: {{ $('Loop Over Items1').item.json.chart_type }}\nOutput format\n{\n  \"prompt\": \"Image of person eating food.\"\n}  "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,896],"id":"bf32ccab-5869-4e82-8454-16792b711115","name":"Chart Generation Prompt"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Key {{ $('Keys').item.json.fal_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,896],"id":"456be1d9-8fd7-4c53-b442-7b750775a3bf","name":"Image Gen Status"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Key {{ $('Keys').item.json.fal_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,832],"id":"28822e0b-a2d5-422b-9b49-c4b71de39793","name":"Get Image Link"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2352,864],"id":"8eb91da7-00e6-4b88-9111-1c63cd559b9e","name":"Aggregate2"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"You are a world-class competitive intelligence and strategy analyst, trusted by CEOs, CFOs, and Strategy Heads to brief boards and executive teams on market dynamics, competitive positioning, and strategic threats.\n\nYour task is to generate a presentation-ready monthly Competitor & Market Intelligence report, optimized for executive review and designed for clarity, signal over noise, and decision-making.\n\nPrimary Objective\n\nGenerate a 12–15 slide competitor research deck, formatted specifically for the Gamma Generations API.\n\nYour output must use:\n\n--- between slides\n\nFounder / C-suite narrative tone\n\nClear, decisive language suitable for board-level consumption\n\nThe deck should read as if prepared by a top-tier Strategy or Corporate Development leader.\n\nSlide Structure & Flow (Competitor-Focused)\n\nExecutive Market Snapshot\n\nHigh-level summary of competitive landscape changes this month\n\nKey Competitor Movements (Overview)\n\nFunding, launches, partnerships, M&A, pricing, leadership changes\n\nCompetitive Landscape Map\n\nDirect vs indirect competitors, positioning shifts\n\nCompetitor Revenue & Scale Signals\n\nRevenue estimates, ARR signals, customer growth, hiring velocity\n\nProduct & Feature Comparison\n\nKey launches, feature parity, differentiation gaps\n\nPricing & Packaging Intelligence\n\nPricing changes, discounting trends, enterprise vs SMB motion\n\nGo-To-Market Strategy Updates\n\nSales motion, channel strategy, geographic expansion\n\nCustomer & Segment Focus\n\nTarget ICPs, verticals, use cases, notable wins/losses\n\nMarketing & Brand Signals\n\nMessaging shifts, campaigns, positioning narratives\n\nOperational & Talent Signals\n\nHiring trends, leadership changes, org design clues\n\nCompetitive Threat Assessment\n\nNear-term vs long-term risks, disruption vectors\n\nStrategic Opportunities Identified\n\nWhite spaces, differentiation levers, counter-positioning\n\nMarket Outlook & Competitive Trajectory\n\nExpected moves, second-order effects, assumptions\n\nRecommended Strategic Responses\n\nDefensive actions, offensive bets, watchlist items\n\nNext Steps & Monitoring Priorities\n\nWhat to track next month, key triggers, decision checkpoints\n\nUse 12–15 slides depending on data richness.\nIf an image or visual is referenced, it must be a single slide.\n\nStyle & Tone Guidelines\nTone\n\nExecutive-ready\n\nClear, confident, insight-driven\n\nNeutral, analytical, non-speculative\n\nNarrative Style\n\nEmphasize implications over activity\n\nClearly distinguish signal vs noise\n\nHighlight why this matters now\n\nData Priority\n\nAlways include units (%, $, users, headcount, markets)\n\nCall out MoM / QoQ / YoY changes when available\n\nUse confidence qualifiers where estimates are used\n\nFormatting Rules\n\nHeadlines: ≤ 80 characters\n\nBullets: 3–5 per slide\n\nNarrative text: ≤ 80 words per slide\n\nSlides separated strictly with ---\n\nNo markdown fences\n\nNo JSON except final structure\n\nSelf-Check Before Output\n\n12–15 slides total\n\nEach slide starts with: # Slide N — Title\n\nInsights are actionable and decision-oriented\n\nNo speculative claims without signals\n\nDON’T\n\nDon’t fabricate metrics — use clear placeholders if unknown\n\nDon’t include tactical noise or press-release summaries\n\nDon’t add explanations outside the JSON output\n\nOutput Requirements\n\nYour final answer must be valid JSON only, with no extra text:\n\n{\n  \"pitch_deck\": \"\",\n  \"no_of_deck\": \"\"\n}\n\n\nWhere:\n\n\"pitch_deck\" = full competitor research deck content (slides separated by ---)\n\n\"no_of_deck\" = total number of slides generated","role":"assistant"},{"content":"=Now create competitor research report for this.\n\n# Features News\n{{ $('Update Research').item.json.fields[\"Features Launch News\"] }}\n\n# Pricing News\n{{ $('Update Research').item.json.fields[\"Pricing Insights\"] }}\n\n# Funding News\n{{ $('Update Research').item.json.fields[\"Funding News\"] }}\n\n# Executive Movement News\n{{ $('Update Research').item.json.fields[\"Executive Movements\"] }}\n\n## Images\n\nAdd all these reference images in a last deck as appendix.\n\n#1 \nLink: {{ $json.data[0].data[0].images[0].url }}\n\n#2\nLink: {{ $json.data[0].data[1].images[0].url }}\n\n#3\nLink: {{ $json.data[0].data[2].images[0].url }}"}]},"options":{"maxTokens":4096}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[592,1456],"id":"6a8e22cf-03d8-456a-a5e7-1e80e77fc6f5","name":"Presentation Ideation","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[112,1456],"id":"e38de5d4-6419-4108-a678-cda12dbe4b5b","name":"Merge2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[336,1456],"id":"2e46ad0b-6ee8-4b25-b373-46c15341e78c","name":"Aggregate3"},{"parameters":{"jsCode":"return $input.all().map(item => {\n\n  // Get the raw JSON string inside the text field\n  let raw = item.json.content[0].text;\n\n  // Remove ```json and ``` if present\n  raw = raw.replace(/^```json\\s*/, '').replace(/```$/, '');\n\n  // Parse it\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    item.json.error = \"Invalid JSON in content[0].text\";\n    item.json.errorMessage = e.message;\n    return item;\n  }\n\n  // Attach extracted values\n  item.json.pitch_deck = parsed.pitch_deck;\n  item.json.no_of_deck = parsed.no_of_deck;\n\n  // Optionally remove original content\n  delete item.json.content;\n\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,1456],"id":"c32a9e67-96d7-4c28-8728-a44abee01ec7","name":"JSON String -> JSON"},{"parameters":{"method":"POST","url":"https://public-api.gamma.app/v0.2/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $('Keys').item.json.gamma_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputText\":{{ $json.pitch_deck.toJsonString() }},\n  \"textMode\": \"preserve\",\n  \"format\": \"presentation\",\n  \"themeName\": \"Atacama\",\n  \"numCards\": {{ $json.no_of_deck.toNumber()}},\n  \"cardSplit\": \"auto\",\n  \"additionalInstructions\": \"Use bullet, lists, graphs and charts for numbers. Group the last 3 images into a gallery to showcase them together in appendix slide.\",\n  \"exportAs\": \"pdf\",\n  \"textOptions\": {\n    \"tone\": \"professional, inspiring\",\n    \"language\": \"en\"\n  },\n  \"imageOptions\": {\n    \"source\": \"noImages\"\n  },\n  \"cardOptions\": {\n    \"dimensions\": \"fluid\"\n  },\n  \"sharingOptions\": {\n    \"workspaceAccess\": \"view\",\n    \"externalAccess\": \"noAccess\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,1456],"id":"15d314f6-27e8-4210-81d8-0cbb617f6666","name":"Generate Presentation"},{"parameters":{"url":"=https://public-api.gamma.app/v0.2/generations/{{ $json.generationId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Keys').item.json.gamma_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,1456],"id":"44bb695f-93e1-42c0-b60b-56431589c32f","name":"Get Presentation from Gamma"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,1296],"id":"22b701b2-6dc1-4521-9d2a-f0c458f930de","name":"Get Presentation Link"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65e5b886-d623-48cc-83f9-e5339dad11e1","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,1456],"id":"482c4ad3-b9d7-4fa7-82bb-d228d7902605","name":"Is the presentation Complete?"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,1520],"id":"45d0625b-697b-4f43-babd-c51898b3ebee","name":"Wait 10s","webhookId":"4a351037-e33c-4c84-86d0-695da0e6902f"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1648,288],"id":"65c3ac5a-2cd1-4740-b79c-8e22869023ac","name":"Aggregate"},{"parameters":{"content":"# 2. Executive Visualization & Chart Generation Pipeline\n## *AI-driven competitive insight visualization with automated image generation*\n\n1. Analyzes structured competitor research data to identify top 3 data-driven chart concepts for executive presentation\n2. Converts chart concepts into specific visualization specifications (chart type, exact numbers, strategic narrative)\n3. Generates tailored image prompts optimized for clean, minimalist data presentation using GPT-4.1-mini\n4. Submits image generation requests to fal.ai Nano Banana Pro for professional chart rendering with orange/baby pink color scheme\n5. Polls image generation status with smart retry logic until all visualizations are complete\n6. Aggregates completed chart images for integration into final presentation deck","height":560,"width":2544,"color":2},"type":"n8n-nodes-base.stickyNote","position":[0,608],"typeVersion":1,"id":"1762dd79-5de3-4200-9f17-e5c35f0b054a","name":"Sticky Note1"},{"parameters":{"content":"# 3. Strategic Presentation Assembly & Delivery System\n## *Board-ready competitive intelligence deck generation with automated formatting and distribution*\n\n1. Merges all research insights (funding, features, executive movements, pricing) with generated visualization assets\n2. Constructs executive-level competitive intelligence narrative (12-15 slides) using Claude Sonnet 4 with founder/C-suite tone\n3. Formats presentation content following Gamma API specifications with proper slide separation and markdown structure\n4. Submits presentation generation request to Gamma with Atacama theme, auto-layout, and PDF export configuration\n5. Monitors generation status with polling mechanism until presentation rendering is complete\n6. Extracts and returns final presentation link for stakeholder distribution and board review","height":544,"width":2544,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,1184],"typeVersion":1,"id":"9740b7a6-f16b-46fe-8b84-8b0478f4c953","name":"Sticky Note2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Keys","type":"main","index":0}]]},"Research Company News":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Competitors":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Process Each Company":{"main":[[],[{"node":"Company Enrich Agent","type":"main","index":0}]]},"Keys":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]},"Explorium MCP":{"ai_tool":[[{"node":"Company Enrich Agent","type":"ai_tool","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"Company Enrich Agent","type":"ai_outputParser","index":0}]]},"Company Enrich Agent":{"main":[[{"node":"Research Company News","type":"main","index":0}]]},"Anthropic Chat":{"ai_languageModel":[[{"node":"Company Enrich Agent","type":"ai_languageModel","index":0}]]},"Information Extraction":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update Research","type":"main","index":0}]]},"Update Research":{"main":[[{"node":"Presentation Brain","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Process Each Company","type":"main","index":0}]]},"Presentation Brain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Image Generation":{"main":[[{"node":"Image Gen Status","type":"main","index":0}]]},"Wait 15 sec":{"main":[[{"node":"Image Gen Status","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Image Link","type":"main","index":0}],[{"node":"Wait 15 sec","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate2","type":"main","index":0}],[{"node":"Chart Generation Prompt","type":"main","index":0}]]},"Chart Generation Prompt":{"main":[[{"node":"Image Generation","type":"main","index":0}]]},"Image Gen Status":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Image Link":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Presentation Ideation":{"main":[[{"node":"JSON String -> JSON","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Presentation Ideation","type":"main","index":0}]]},"JSON String -> JSON":{"main":[[{"node":"Generate Presentation","type":"main","index":0}]]},"Generate Presentation":{"main":[[{"node":"Get Presentation from Gamma","type":"main","index":0}]]},"Get Presentation from Gamma":{"main":[[{"node":"Is the presentation Complete?","type":"main","index":0}]]},"Is the presentation Complete?":{"main":[[{"node":"Get Presentation Link","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Get Presentation from Gamma","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Information Extraction","type":"main","index":0}]]},"Get Presentation Link":{"main":[[{"node":"Process Each Company","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Company Enrich Agent":[{"json":{"output":{"company_intelligence":{"company_name":"Serval","domain":"https://www.serval.com/","industry":"Technology, Information and Internet","sector":"Custom Computer Programming Services (NAICS 541511)","company_size":{"employees":"11-50","revenue_range":"$1M-$5M"},"headquarters_location":"San Francisco, California, United States (650 California Street, 94108)","founded_year":"2024","business_model":"SaaS - AI-native ITSM platform for IT automation"},"financial_intelligence":{"latest_funding_round":{"series":"Series A","amount":"$47M","date":"October 22, 2025"},"total_funding_raised":"$52M","key_investors":["Redpoint Ventures (lead)","General Catalyst","First Round Capital","BoxGroup","Bessemer Venture Partners","Chemistry"],"valuation":"Not disclosed","revenue_estimates":"$1M-$5M annually","growth_stage":"Scale-up (Series A stage with rapid expansion)"},"decision_maker_intelligence":{"c_level_executives":[{"name":"Jake Stauch","title":"Founder and Chief Executive Officer","linkedin_profile":"https://linkedin.com/in/jakestauch","contact_information":{"email":"jake@serval.com","phone":"+18435139676"}},{"name":"Alex McLeod","title":"Founder and Chief Technology Officer","linkedin_profile":"https://linkedin.com/in/alexmcleodio","contact_information":{"email":"alex@serval.com","phone":"+14156909545"}},{"name":"Tatiana Birgisson","title":"Chief Operating Officer & Head of GTM","linkedin_profile":"https://linkedin.com/in/tbirgisson","contact_information":{"email":"tatiana@serval.com","phone":"+13149418015"}}],"department_heads":[{"name":"Alan Kidwell","title":"Founding Account Executive (Sales)","linkedin_profile":"Not available","contact_information":{"email":"Encrypted in system","phone":"Not available"}},{"name":"Lauren Kroeger","title":"Head of Growth","linkedin_profile":"Not available","contact_information":{"email":"Not available","phone":"Not available"}}]},"sales_triggers_and_timing":{"recent_news":["Series A funding announcement - $47M raised (Oct 22, 2025)","Featured in TechCrunch for funding round","Recognized in a16z Top 50 AI applications report","Major customer success story with Perplexity automating 50%+ tickets"],"product_launches":["AI-native access management solution launch (Nov 3, 2025)","Microsoft, ServiceNow, and Workday integrations launch (Sep 10, 2025)","Vibe code workflow builder for natural language automation"],"expansion_news":["Massive hiring spree - 67% increase in workforce in 2025","17 person increase in engineering team (Oct 2025)","Multiple conference presence: Gartner IT Symposium, VerkadaOne, Oktane"],"leadership_changes":["Spencer Lang joined as Forward Deployed Engineer (Oct 2025)","Derek Zheng joined as Forward Deployed Engineer (Oct 2025)","Gary Lee joined as Customer Success Engineer (Oct 2025)","Scott Covington joined as Head of Business Operations (Oct 2025)","Michaela Nam joined as Executive Assistant & Office Manager (Oct 2025)"],"technology_adoptions":["Advanced AI agent capabilities for IT automation","Natural language to code generation","Enterprise API integrations with major platforms"],"job_postings":["44% of workforce in engineering roles","Strong focus on engineering and technical talent","Forward deployed engineering positions for customer success"]},"competitive_intelligence":{"main_competitors":["ServiceNow","Traditional ITSM platforms","Legacy help desk solutions"],"market_position":"AI-native disruptor in ITSM space, positioning against ServiceNow with faster implementation and no consultant dependency","technology_stack":["AI/LLM-powered automation","Natural language processing","API integrations with enterprise systems","Python/Django backend","React frontend","Cloud-native infrastructure"],"pain_points":["Traditional ITSM complexity requiring consultants","Manual ticket handling and routing","Slow automation setup and maintenance","Legacy workflow builders"]}}}}],"Research Company News":[{"json":{"id":"5cc7005d-d597-4351-8520-e36ecffae8e9","model":"sonar-pro","created":1768901937,"usage":{"prompt_tokens":271,"completion_tokens":507,"total_tokens":778,"search_context_size":"low","cost":{"input_tokens_cost":0.001,"output_tokens_cost":0.008,"request_cost":0.006,"total_cost":0.014}},"citations":["https://www.investing.com/news/stock-market-news/ai-startup-serval-valued-at-1-billion-after-sequoialed-round-to-expand-it-automation-4402898","https://theaiinsider.tech/2025/12/17/serval-reaches-1b-valuation-with-75m-series-b-to-expand-ai-driven-it-automation/","https://siliconangle.com/2025/12/12/serval-raises-75m-1b-valuation-automate-help-desk-request-processing/","https://techcrunch.com/2025/10/21/serval-raises-47-million-to-bring-ai-agent-to-it-service-management/","https://www.ainvest.com/news/ai-driven-automation-serval-rapid-valuation-surge-strategic-implications-enterprise-ai-adoption-2512/","https://www.serval.com/updates/serval%E2%80%99s-next-chapter-raising-75m-to-build-the-new-era-of-enterprise-automation-and-service-management","https://neuron.expert/news/former-summerville-high-valedictorian-leads-ai-startup-to-1b-valuation/16255/en/"],"search_results":[{"title":"AI startup Serval valued at $1 billion after Sequoia-led round to ...","url":"https://www.investing.com/news/stock-market-news/ai-startup-serval-valued-at-1-billion-after-sequoialed-round-to-expand-it-automation-4402898","date":"2025-12-11","last_updated":"2025-12-11","snippet":"The new funding brings Serval's total capital raised to $127 million. The San Francisco-based company was valued at $232 million in August, ...","source":"web"},{"title":"Serval Reaches $1B Valuation With $75M Series B to Expand AI ...","url":"https://theaiinsider.tech/2025/12/17/serval-reaches-1b-valuation-with-75m-series-b-to-expand-ai-driven-it-automation/","date":"2025-12-17","last_updated":"2026-01-11","snippet":"Serval, an AI-powered IT support startup, has raised $75 million in a Series B round led by Sequoia, lifting the company to a $1 billion ...","source":"web"},{"title":"Serval raises $75M at $1B valuation to automate help desk request ...","url":"https://siliconangle.com/2025/12/12/serval-raises-75m-1b-valuation-automate-help-desk-request-processing/","date":"2025-12-12","last_updated":"2025-12-12","snippet":"Serval Inc., a startup using artificial intelligence to process help desk requests, has raised $75 million in funding at a $1 billion valuation.","source":"web"},{"title":"Serval raises $47M to bring AI agents to IT service management","url":"https://techcrunch.com/2025/10/21/serval-raises-47-million-to-bring-ai-agent-to-it-service-management/","date":"2025-10-21","last_updated":"2025-10-21","snippet":"Serval raises $47M to bring AI agents to IT service management ... Some startups pride themselves on having prestigious financial backers — but ...","source":"web"},{"title":"AI-Driven IT Automation: Serval's Rapid Valuation Surge ... - AInvest","url":"https://www.ainvest.com/news/ai-driven-automation-serval-rapid-valuation-surge-strategic-implications-enterprise-ai-adoption-2512/","date":"2025-12-11","last_updated":"2026-01-20","snippet":"Serval, an AI-native IT platform, secures $75M Series B led by Sequoia, hitting $1B valuation amid 500% revenue growth since 2025.","source":"web"},{"title":"Serval's Next Chapter: Raising $75M to Build the New Era of ...","url":"https://www.serval.com/updates/serval%E2%80%99s-next-chapter-raising-75m-to-build-the-new-era-of-enterprise-automation-and-service-management","date":"2025-12-11","last_updated":"2026-01-20","snippet":"Modern AI made a new approach possible. Serval allows IT teams, and now HR, Finance, and Legal, to go from a single sentence to a published ...","source":"web"},{"title":"Jake Stauch's Journey from Summerville Valedictorian to AI Pioneer ...","url":"https://neuron.expert/news/former-summerville-high-valedictorian-leads-ai-startup-to-1b-valuation/16255/en/","date":"2026-01-18","last_updated":"2026-01-20","snippet":"Established in 2024, Serval automates complex tasks across IT, HR, finance, and legal sectors, and recently achieved a $1 billion valuation ...","source":"web"}],"object":"chat.completion","choices":[{"index":0,"message":{"role":"assistant","content":"### Serval Competitive Intelligence Report\n**Time Frame Analyzed:** December 6, 2025 – January 20, 2026 (last 45 days). No material events identified outside funding announcements from December 2025.[1][2][3][6]\n\n#### Funding & Investments\n- Serval raised **$75 million** in a Series B round on December 11, 2025, led by **Sequoia Capital**, achieving a **$1 billion valuation**.[1][2][3][6]\n- Total capital raised now stands at **$127 million**, up from $52 million prior (including prior August 2025 valuation of $232 million).[1][2][3][6]\n- Participating investors: Redpoint, Meritech, General Catalyst, First Round, Evantic, Sound Ventures, Radical Ventures.[3][6]\n- Funds allocated to accelerate hiring (go-to-market and engineering teams), targeting growth from ~30 to over 100 employees in 2026; supports expansion into HR, legal, finance, cybersecurity, and enterprise features.[1][2][3]\n\n#### News & Press Releases\n- Company press release on December 11, 2025, announced Series B and strategic vision for AI-native IT service management (ITSM) platform, emphasizing \"rip and replace\" of incumbents like ServiceNow.[1][6]\n- Reuters coverage highlighted 500% revenue growth since August 2025 and automation of >50% IT tickets for customers including Perplexity and Together AI.[1]\n- Sequoia partner Anas Biad noted unprecedented customer feedback, comparing to early ServiceNow partnership.[1]\n\n#### Product Launches\n- No new product launches, features, versions, or platforms announced in the last 45 days.[1][2][3][6]\n- Ongoing platform capabilities referenced: AI agents for natural language \"vibe coding\" automations, employee-facing AI for IT/HR/legal/finance tasks, Serval Suggestions for auto-generating workflows from ticket patterns, and policy-based access (e.g., temporary firewall changes).[3]\n\n#### Executive Moves\n- No hires, departures, promotions, or board changes reported in the last 45 days.[1][2][3][6][7]\n\n#### Pricing & Packaging\n- No pricing plans, discounts, bundling, or promotions detailed on Serval's website or in recent sources; pricing page data unavailable in public results.[1][2][3][6]"},"delta":{"role":"assistant","content":""},"finish_reason":"stop"}]},"pairedItem":{"item":0}}],"Aggregate":[{"json":{"data":[{"id":"5cc7005d-d597-4351-8520-e36ecffae8e9","model":"sonar-pro","created":1768901937,"usage":{"prompt_tokens":271,"completion_tokens":507,"total_tokens":778,"search_context_size":"low","cost":{"input_tokens_cost":0.001,"output_tokens_cost":0.008,"request_cost":0.006,"total_cost":0.014}},"citations":["https://www.investing.com/news/stock-market-news/ai-startup-serval-valued-at-1-billion-after-sequoialed-round-to-expand-it-automation-4402898","https://theaiinsider.tech/2025/12/17/serval-reaches-1b-valuation-with-75m-series-b-to-expand-ai-driven-it-automation/","https://siliconangle.com/2025/12/12/serval-raises-75m-1b-valuation-automate-help-desk-request-processing/","https://techcrunch.com/2025/10/21/serval-raises-47-million-to-bring-ai-agent-to-it-service-management/","https://www.ainvest.com/news/ai-driven-automation-serval-rapid-valuation-surge-strategic-implications-enterprise-ai-adoption-2512/","https://www.serval.com/updates/serval%E2%80%99s-next-chapter-raising-75m-to-build-the-new-era-of-enterprise-automation-and-service-management","https://neuron.expert/news/former-summerville-high-valedictorian-leads-ai-startup-to-1b-valuation/16255/en/"],"search_results":[{"title":"AI startup Serval valued at $1 billion after Sequoia-led round to ...","url":"https://www.investing.com/news/stock-market-news/ai-startup-serval-valued-at-1-billion-after-sequoialed-round-to-expand-it-automation-4402898","date":"2025-12-11","last_updated":"2025-12-11","snippet":"The new funding brings Serval's total capital raised to $127 million. The San Francisco-based company was valued at $232 million in August, ...","source":"web"},{"title":"Serval Reaches $1B Valuation With $75M Series B to Expand AI ...","url":"https://theaiinsider.tech/2025/12/17/serval-reaches-1b-valuation-with-75m-series-b-to-expand-ai-driven-it-automation/","date":"2025-12-17","last_updated":"2026-01-11","snippet":"Serval, an AI-powered IT support startup, has raised $75 million in a Series B round led by Sequoia, lifting the company to a $1 billion ...","source":"web"},{"title":"Serval raises $75M at $1B valuation to automate help desk request ...","url":"https://siliconangle.com/2025/12/12/serval-raises-75m-1b-valuation-automate-help-desk-request-processing/","date":"2025-12-12","last_updated":"2025-12-12","snippet":"Serval Inc., a startup using artificial intelligence to process help desk requests, has raised $75 million in funding at a $1 billion valuation.","source":"web"},{"title":"Serval raises $47M to bring AI agents to IT service management","url":"https://techcrunch.com/2025/10/21/serval-raises-47-million-to-bring-ai-agent-to-it-service-management/","date":"2025-10-21","last_updated":"2025-10-21","snippet":"Serval raises $47M to bring AI agents to IT service management ... Some startups pride themselves on having prestigious financial backers — but ...","source":"web"},{"title":"AI-Driven IT Automation: Serval's Rapid Valuation Surge ... - AInvest","url":"https://www.ainvest.com/news/ai-driven-automation-serval-rapid-valuation-surge-strategic-implications-enterprise-ai-adoption-2512/","date":"2025-12-11","last_updated":"2026-01-20","snippet":"Serval, an AI-native IT platform, secures $75M Series B led by Sequoia, hitting $1B valuation amid 500% revenue growth since 2025.","source":"web"},{"title":"Serval's Next Chapter: Raising $75M to Build the New Era of ...","url":"https://www.serval.com/updates/serval%E2%80%99s-next-chapter-raising-75m-to-build-the-new-era-of-enterprise-automation-and-service-management","date":"2025-12-11","last_updated":"2026-01-20","snippet":"Modern AI made a new approach possible. Serval allows IT teams, and now HR, Finance, and Legal, to go from a single sentence to a published ...","source":"web"},{"title":"Jake Stauch's Journey from Summerville Valedictorian to AI Pioneer ...","url":"https://neuron.expert/news/former-summerville-high-valedictorian-leads-ai-startup-to-1b-valuation/16255/en/","date":"2026-01-18","last_updated":"2026-01-20","snippet":"Established in 2024, Serval automates complex tasks across IT, HR, finance, and legal sectors, and recently achieved a $1 billion valuation ...","source":"web"}],"object":"chat.completion","choices":[{"index":0,"message":{"role":"assistant","content":"### Serval Competitive Intelligence Report\n**Time Frame Analyzed:** December 6, 2025 – January 20, 2026 (last 45 days). No material events identified outside funding announcements from December 2025.[1][2][3][6]\n\n#### Funding & Investments\n- Serval raised **$75 million** in a Series B round on December 11, 2025, led by **Sequoia Capital**, achieving a **$1 billion valuation**.[1][2][3][6]\n- Total capital raised now stands at **$127 million**, up from $52 million prior (including prior August 2025 valuation of $232 million).[1][2][3][6]\n- Participating investors: Redpoint, Meritech, General Catalyst, First Round, Evantic, Sound Ventures, Radical Ventures.[3][6]\n- Funds allocated to accelerate hiring (go-to-market and engineering teams), targeting growth from ~30 to over 100 employees in 2026; supports expansion into HR, legal, finance, cybersecurity, and enterprise features.[1][2][3]\n\n#### News & Press Releases\n- Company press release on December 11, 2025, announced Series B and strategic vision for AI-native IT service management (ITSM) platform, emphasizing \"rip and replace\" of incumbents like ServiceNow.[1][6]\n- Reuters coverage highlighted 500% revenue growth since August 2025 and automation of >50% IT tickets for customers including Perplexity and Together AI.[1]\n- Sequoia partner Anas Biad noted unprecedented customer feedback, comparing to early ServiceNow partnership.[1]\n\n#### Product Launches\n- No new product launches, features, versions, or platforms announced in the last 45 days.[1][2][3][6]\n- Ongoing platform capabilities referenced: AI agents for natural language \"vibe coding\" automations, employee-facing AI for IT/HR/legal/finance tasks, Serval Suggestions for auto-generating workflows from ticket patterns, and policy-based access (e.g., temporary firewall changes).[3]\n\n#### Executive Moves\n- No hires, departures, promotions, or board changes reported in the last 45 days.[1][2][3][6][7]\n\n#### Pricing & Packaging\n- No pricing plans, discounts, bundling, or promotions detailed on Serval's website or in recent sources; pricing page data unavailable in public results.[1][2][3][6]"},"delta":{"role":"assistant","content":""},"finish_reason":"stop"}]}]},"pairedItem":[{"item":0}]}],"Information Extraction":[{"json":{"content":[{"type":"text","text":"```json\n{\n  \"funding_news\": \"- **Company:** Serval\\n- **Funding Type:** Series A\\n- **Amount:** $47M\\n- **Investors:** Redpoint Ventures (lead), General Catalyst, First Round Capital, BoxGroup, Bessemer Venture Partners, Chemistry\\n- **Date:** October 22, 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Funding Type:** Series B\\n- **Amount:** $75M\\n- **Investors:** Sequoia Capital (lead), Redpoint, Meritech, General Catalyst, First Round, Evantic, Sound Ventures, Radical Ventures\\n- **Date:** December 11, 2025\\n- **Source:** Company press release, Reuters\\n- **Additional Details:** Achieved $1 billion valuation; total capital raised now stands at $127 million; funds allocated to accelerate hiring (go-to-market and engineering teams), targeting growth from ~30 to over 100 employees in 2026; supports expansion into HR, legal, finance, cybersecurity, and enterprise features; 500% revenue growth since August 2025\",\n  \"product_launch_news\": \"- **Company:** Serval\\n- **Product / Feature:** AI-native access management solution\\n- **Launch Type:** New feature launch\\n- **Key Highlights:**\\n  - AI-powered access management capabilities\\n  - Integration with enterprise systems\\n- **Target Users:** Enterprise IT teams\\n- **Date:** November 3, 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Product / Feature:** Microsoft, ServiceNow, and Workday integrations\\n- **Launch Type:** Integration launch\\n- **Key Highlights:**\\n  - Enterprise API integrations with major platforms\\n  - Expanded platform connectivity\\n- **Target Users:** Enterprise customers using Microsoft, ServiceNow, and Workday\\n- **Date:** September 10, 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Product / Feature:** Vibe code workflow builder\\n- **Launch Type:** New feature launch\\n- **Key Highlights:**\\n  - Natural language automation capabilities\\n  - AI-powered workflow generation\\n  - No-code/low-code approach to IT automation\\n- **Target Users:** IT teams and service desk operators\\n- **Date:** Not specified\\n- **Source:** Not specified\",\n  \"executive_movement_news\": \"- **Company:** Serval\\n- **Executive Name:** Spencer Lang\\n- **Role:** Forward Deployed Engineer\\n- **Movement Type:** Hired\\n- **Previous Company (if mentioned):** Not specified\\n- **Date:** October 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Executive Name:** Derek Zheng\\n- **Role:** Forward Deployed Engineer\\n- **Movement Type:** Hired\\n- **Previous Company (if mentioned):** Not specified\\n- **Date:** October 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Executive Name:** Gary Lee\\n- **Role:** Customer Success Engineer\\n- **Movement Type:** Hired\\n- **Previous Company (if mentioned):** Not specified\\n- **Date:** October 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Executive Name:** Scott Covington\\n- **Role:** Head of Business Operations\\n- **Movement Type:** Hired\\n- **Previous Company (if mentioned):** Not specified\\n- **Date:** October 2025\\n- **Source:** Not specified\\n\\n---\\n\\n- **Company:** Serval\\n- **Executive Name:** Michaela Nam\\n- **Role:** Executive Assistant & Office Manager\\n- **Movement Type:** Hired\\n- **Previous Company (if mentioned):** Not specified\\n- **Date:** October 2025\\n- **Source:** Not specified\",\n  \"pricing_update_news\": \"\"\n}\n```"}]},"pairedItem":{"item":0}}],"Code in JavaScript":[{"json":{"funding_news":"- **Company:** Serval\n- **Funding Type:** Series A\n- **Amount:** $47M\n- **Investors:** Redpoint Ventures (lead), General Catalyst, First Round Capital, BoxGroup, Bessemer Venture Partners, Chemistry\n- **Date:** October 22, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Funding Type:** Series B\n- **Amount:** $75M\n- **Investors:** Sequoia Capital (lead), Redpoint, Meritech, General Catalyst, First Round, Evantic, Sound Ventures, Radical Ventures\n- **Date:** December 11, 2025\n- **Source:** Company press release, Reuters\n- **Additional Details:** Achieved $1 billion valuation; total capital raised now stands at $127 million; funds allocated to accelerate hiring (go-to-market and engineering teams), targeting growth from ~30 to over 100 employees in 2026; supports expansion into HR, legal, finance, cybersecurity, and enterprise features; 500% revenue growth since August 2025","product_launch_news":"- **Company:** Serval\n- **Product / Feature:** AI-native access management solution\n- **Launch Type:** New feature launch\n- **Key Highlights:**\n  - AI-powered access management capabilities\n  - Integration with enterprise systems\n- **Target Users:** Enterprise IT teams\n- **Date:** November 3, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Product / Feature:** Microsoft, ServiceNow, and Workday integrations\n- **Launch Type:** Integration launch\n- **Key Highlights:**\n  - Enterprise API integrations with major platforms\n  - Expanded platform connectivity\n- **Target Users:** Enterprise customers using Microsoft, ServiceNow, and Workday\n- **Date:** September 10, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Product / Feature:** Vibe code workflow builder\n- **Launch Type:** New feature launch\n- **Key Highlights:**\n  - Natural language automation capabilities\n  - AI-powered workflow generation\n  - No-code/low-code approach to IT automation\n- **Target Users:** IT teams and service desk operators\n- **Date:** Not specified\n- **Source:** Not specified","executive_movement_news":"- **Company:** Serval\n- **Executive Name:** Spencer Lang\n- **Role:** Forward Deployed Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Derek Zheng\n- **Role:** Forward Deployed Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Gary Lee\n- **Role:** Customer Success Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Scott Covington\n- **Role:** Head of Business Operations\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Michaela Nam\n- **Role:** Executive Assistant & Office Manager\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified","pricing_update_news":""},"pairedItem":{"item":0}}],"Update Research":[{"json":{"id":"recE1WD94e2UYac6a","createdTime":"2026-01-20T09:39:17.000Z","fields":{"ID":7,"Features Launch News":"- **Company:** Serval\n- **Product / Feature:** AI-native access management solution\n- **Launch Type:** New feature launch\n- **Key Highlights:**\n- AI-powered access management capabilities\n- Integration with enterprise systems\n- **Target Users:** Enterprise IT teams\n- **Date:** November 3, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Product / Feature:** Microsoft, ServiceNow, and Workday integrations\n- **Launch Type:** Integration launch\n- **Key Highlights:**\n- Enterprise API integrations with major platforms\n- Expanded platform connectivity\n- **Target Users:** Enterprise customers using Microsoft, ServiceNow, and Workday\n- **Date:** September 10, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Product / Feature:** Vibe code workflow builder\n- **Launch Type:** New feature launch\n- **Key Highlights:**\n- Natural language automation capabilities\n- AI-powered workflow generation\n- No-code/low-code approach to IT automation\n- **Target Users:** IT teams and service desk operators\n- **Date:** Not specified\n- **Source:** Not specified\n","Research Date":"2026-01-20T09:39:17.000Z","Company":["rec3UbSh3ybNJFY8R"],"Pricing Insights":"\n","Executive Movements":"- **Company:** Serval\n- **Executive Name:** Spencer Lang\n- **Role:** Forward Deployed Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Derek Zheng\n- **Role:** Forward Deployed Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Gary Lee\n- **Role:** Customer Success Engineer\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Scott Covington\n- **Role:** Head of Business Operations\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Executive Name:** Michaela Nam\n- **Role:** Executive Assistant & Office Manager\n- **Movement Type:** Hired\n- **Previous Company (if mentioned):** Not specified\n- **Date:** October 2025\n- **Source:** Not specified\n","Funding News":"- **Company:** Serval\n- **Funding Type:** Series A\n- **Amount:** $47M\n- **Investors:** Redpoint Ventures (lead), General Catalyst, First Round Capital, BoxGroup, Bessemer Venture Partners, Chemistry\n- **Date:** October 22, 2025\n- **Source:** Not specified\n\n---\n\n- **Company:** Serval\n- **Funding Type:** Series B\n- **Amount:** $75M\n- **Investors:** Sequoia Capital (lead), Redpoint, Meritech, General Catalyst, First Round, Evantic, Sound Ventures, Radical Ventures\n- **Date:** December 11, 2025\n- **Source:** Company press release, Reuters\n- **Additional Details:** Achieved $1 billion valuation; total capital raised now stands at $127 million; funds allocated to accelerate hiring (go-to-market and engineering teams), targeting growth from ~30 to over 100 employees in 2026; supports expansion into HR, legal, finance, cybersecurity, and enterprise features; 500% revenue growth since August 2025\n"}},"pairedItem":{"item":0}}],"Presentation Brain":[{"json":{"content":[{"type":"text","text":"```json\n{\n  \"chart_list\": [\n    {\n      \"chart_name\": \"Serval Funding Momentum: Series A to Unicorn Status\",\n      \"chart_brief_with_numbers\": \"Series A: $47M (Oct 2025), Series B: $75M (Dec 2025), Total Raised: $127M, Valuation: $1B\",\n      \"chart_type\": \"waterfall\"\n    },\n    {\n      \"chart_name\": \"Serval Aggressive Hiring Expansion by Function\",\n      \"chart_brief_with_numbers\": \"October 2025 hires: Forward Deployed Engineer (2), Customer Success Engineer (1), Head of Business Operations (1), Executive Assistant & Office Manager (1). Target growth: ~30 to 100+ employees in 2026\",\n      \"chart_type\": \"bar\"\n    },\n    {\n      \"chart_name\": \"Serval Product Launch Timeline & Market Expansion\",\n      \"chart_brief_with_numbers\": \"Sep 2025: Microsoft/ServiceNow/Workday integrations, Nov 2025: AI-native access management, Ongoing: Vibe code workflow builder. Revenue growth: 500% since Aug 2025\",\n      \"chart_type\": \"line\"\n    }\n  ]\n}\n```"}]},"pairedItem":{"item":0}}]},"versionId":"1c5e55af-cff4-4abe-a496-14ec6cdf2fe8","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-05-02T18:03:34.018Z","createdAt":"2026-05-02T18:03:34.018Z","role":"workflow:owner","workflowId":"4yU8GEjjVIncytz6","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[{"updatedAt":"2026-05-02T18:03:32.182Z","createdAt":"2026-05-02T18:03:32.182Z","id":"Mo6tjzuYkYm4xdhw","name":"Sponsored"}],"activeVersion":null}