hbf_online/2026/02/Auto-generate YouTube chapters with Gemini AI & YouTube Data API v3/L0FATmSaiYOh2v5qm9vvL.json
{"updatedAt":"2026-02-02T15:21:53.320Z","createdAt":"2026-02-02T15:21:31.892Z","id":"L0FATmSaiYOh2v5qm9vvL","name":"Auto-generate YouTube chapters with Gemini AI & YouTube Data API v3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"104fa4ce-cd86-4fff-b31c-0ef37fba6d93","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/captions?part=snippet&videoId={{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"c3b45480-3098-40f9-a77f-ada54481b590","name":"Get Caption ID","type":"n8n-nodes-base.httpRequest","position":[976,240],"typeVersion":4.2},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/captions/{{ $json.items[0].id }}?tfmt=srt","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"fe08adc4-e6ef-47ae-a946-1e6d5a85e10e","name":"Get Captions","type":"n8n-nodes-base.httpRequest","position":[1200,240],"typeVersion":4.2},{"parameters":{"operation":"text","options":{}},"id":"0e15f334-9ff8-4a7e-85a9-4cf8cf10ea55","name":"Extract Captions","type":"n8n-nodes-base.extractFromFile","position":[1408,240],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n\t\"description\": \"California\"\n\t\n}"},"id":"af99a919-7ebc-4a6c-80be-83e2ffa68d05","name":"Structured Captions","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1808,464],"typeVersion":1.2},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.video_id }}","options":{}},"id":"414a41a2-0715-4a57-a606-9f3678b2472a","name":"Get Video Meta Data","type":"n8n-nodes-base.youTube","position":[752,240],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-exp-0924","options":{}},"id":"7304d9b1-5956-41c3-b78a-2c409d0aa726","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1632,464],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"568762f7-e496-4550-8567-d49e2ce1676d","name":"video_id","type":"string","value":"r1wqsrW2vmE"}]},"options":{}},"id":"867a6ad6-0712-4fbf-97fd-ab054b783172","name":"Set Video ID","type":"n8n-nodes-base.set","position":[528,240],"typeVersion":3.4},{"parameters":{"resource":"video","operation":"update","videoId":"={{ $('Get Captions').item.json.items[0].snippet.videoId }}","title":"={{ $('Get Video Meta Data').item.json.snippet.title }}","regionCode":"US","categoryId":"22","updateFields":{"description":"={{ $json.output.description }}\nChapters\n{{ $json.output.description }}"}},"id":"dcd0c9d7-1a69-45e8-98e9-b7cf7d12734e","name":"Update Chapters","type":"n8n-nodes-base.youTube","position":[2112,240],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=This is an srt format data. please classify this data into chapters\nbased upon this transcript \n{{ $json.data }}\n{\n\"description\":\"00:00 Introduction\n02:15 Topic One\n05:30 Topic Two\n10:45 Conclusion\"\n}\n","hasOutputParser":true},"id":"916629c4-6e49-4432-88e8-626748cb3d24","name":"Tag Chapters in Description","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1632,240],"typeVersion":1.6},{"parameters":{"content":"\n## Get Captions","height":440,"width":1040},"id":"b0f56d68-b787-4ccc-8bb5-bdb5b04c3ae4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[496,160],"typeVersion":1},{"parameters":{"content":"## Generate Chapters\n","height":440,"width":420,"color":4},"id":"0bcee6b5-0e8b-4f85-8f83-c829e785467a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1552,160],"typeVersion":1},{"parameters":{"content":"## Update Description\n","height":440,"width":440,"color":6},"id":"0f90f6ec-2154-4945-b262-6531fef2334f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2000,160],"typeVersion":1}],"connections":{"Get Captions":{"main":[[{"node":"Extract Captions","type":"main","index":0}]]},"Set Video ID":{"main":[[{"node":"Get Video Meta Data","type":"main","index":0}]]},"Get Caption ID":{"main":[[{"node":"Get Captions","type":"main","index":0}]]},"Extract Captions":{"main":[[{"node":"Tag Chapters in Description","type":"main","index":0}]]},"Get Video Meta Data":{"main":[[{"node":"Get Caption ID","type":"main","index":0}]]},"Structured Captions":{"ai_outputParser":[[{"node":"Tag Chapters in Description","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Tag Chapters in Description","type":"ai_languageModel","index":0}]]},"Tag Chapters in Description":{"main":[[{"node":"Update Chapters","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Video ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"3450"},"pinData":{},"versionId":"3d305d71-16d1-42cf-ba83-7fb368231770","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-02T15:21:31.894Z","createdAt":"2026-02-02T15:21:31.894Z","role":"workflow:owner","workflowId":"L0FATmSaiYOh2v5qm9vvL","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-12T05:33:06.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-12","isPending":false}}]}}],"tags":[],"activeVersion":null}