hbf_online/2026/03/Create Help Article on Chatwoot/JrIiCx8UNIGlWii6.json
{"updatedAt":"2026-03-01T00:38:01.000Z","createdAt":"2026-03-01T00:33:01.673Z","id":"JrIiCx8UNIGlWii6","name":"Create Help Article on Chatwoot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"9a7c75b9-f57e-4a48-879b-411d56e201e2","name":"Start Workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[256,304]},{"parameters":{"promptType":"define","text":"=Create a help article about: {{ $json.topic }}","options":{"systemMessage":"You are a technical writer creating comprehensive help articles. Generate well-structured help articles with clear titles, detailed content, and helpful examples. Format the content in markdown for readability."}},"id":"89bcfffd-e89a-44f5-83f3-fc7f4169b89a","name":"Generate Help Article","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[480,304]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"builtInTools":{},"options":{}},"id":"3aee4be5-7179-46d3-8c25-d3d4af618a27","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[552,528],"credentials":{"openAiApi":{"id":"YkNmbyZnv2KRWq6X","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"={{ $json.topic }}","type":"string"},{"id":"id-2","name":"content","value":"={{ $('Generate Help Article').item.json.output }}","type":"string"},{"id":"id-3","name":"category_id","value":"<__PLACEHOLDER_VALUE__category_id__>","type":"string"},{"id":"id-4","name":"status","value":"published","type":"string"}]},"options":{}},"id":"9f28db3f-ddda-4814-85ad-9a1ffcc040a3","name":"Prepare Chatwoot Request","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,304]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__chatwoot_instance_url__>/api/v1/accounts/<__PLACEHOLDER_VALUE__account_id__>/portals/<__PLACEHOLDER_VALUE__portal_id__>/articles","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.title }}"},{"name":"content","value":"={{ $json.content }}"},{"name":"category_id","value":"={{ $json.category_id }}"},{"name":"status","value":"={{ $json.status }}"}]},"options":{}},"id":"f3534781-06ab-4cfb-9a3d-45e90102ea85","name":"Create Chatwoot Article","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1056,304]}],"connections":{"Prepare Chatwoot Request":{"main":[[{"node":"Create Chatwoot Article","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Generate Help Article","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate Help Article","type":"ai_languageModel","index":0}]]},"Generate Help Article":{"main":[[{"node":"Prepare Chatwoot Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"58f5cd8d-84bb-46df-8434-9b04d916a071","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-01T00:33:01.675Z","createdAt":"2026-03-01T00:33:01.675Z","role":"workflow:owner","workflowId":"JrIiCx8UNIGlWii6","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}