hbf_online/2025/12/Gmail AI Labels/7iIS2TZDqvY571N6.json
{"updatedAt":"2025-12-27T22:56:14.450Z","createdAt":"2025-12-21T17:18:49.055Z","id":"7iIS2TZDqvY571N6","name":"Gmail AI Labels","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"165f942c-34ff-44a3-ad7f-5e372d791e39","name":"Gmail trigger","type":"n8n-nodes-base.gmailTrigger","position":[512,192],"typeVersion":1},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"1124c37d-2274-483a-af62-1befa6e1643d","name":"Get message content","type":"n8n-nodes-base.gmail","position":[768,192],"typeVersion":2.1,"webhookId":"39298a80-b479-4979-a7de-05fbe1605086"},{"parameters":{"fields":{"values":[{"name":"labels","type":"arrayValue","arrayValue":"={{ $json.labels }}"}]},"options":{}},"id":"24339966-77e5-4725-b4e0-229a87ba8d45","name":"Set label values","type":"n8n-nodes-base.set","position":[1408,192],"typeVersion":3.2},{"parameters":{"resource":"label","returnAll":true},"id":"e40e592b-8095-4b43-bc4c-2700b03acb9e","name":"Get all labels","type":"n8n-nodes-base.gmail","position":[1680,64],"typeVersion":2.1,"webhookId":"d450dd59-e351-40d2-854e-571a8b957468"},{"parameters":{"fieldToSplitOut":"labels","options":{}},"id":"86863c25-056d-4646-a1ad-7187c9479240","name":"Split out assigned labels","type":"n8n-nodes-base.splitOut","position":[1680,304],"typeVersion":1},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"labels"}]},"outputDataFrom":"input1","options":{}},"id":"1d63e919-a4bb-490b-98e1-9d1cc4a21836","name":"Merge corresponding labels","type":"n8n-nodes-base.merge","position":[1968,192],"typeVersion":2.1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id","renameField":true,"outputFieldName":"label_ids"}]},"options":{}},"id":"6414913e-7028-4782-816c-2844511723cf","name":"Aggregate label IDs","type":"n8n-nodes-base.aggregate","position":[2224,192],"typeVersion":1},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail trigger').item.json[\"id\"] }}","labelIds":"={{ $json.label_ids }}"},"id":"61b4884f-d346-4747-80f5-e8664c4ef186","name":"Add labels to message","type":"n8n-nodes-base.gmail","position":[2448,192],"typeVersion":2.1,"webhookId":"2f7e06e1-6a37-42fe-8dc4-d5cb63b726d9"},{"parameters":{"prompt":"={{ $json.text }}","messages":{"messageValues":[{"message":"Your task is to categorize the message according to the following labels.\n\nPartnership - email about sponsored content, cooperation etc.\nInquiry - email about products, services.\nNotification - email that doesn't require response. \n\nOne email can have more than one label. Return only label names in JSON format, nothing else. Do not make things up. "}]}},"id":"14b0a02d-d81f-4eb2-bcc1-b6e8890a9a67","name":"Assign labels for message","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1024,192],"typeVersion":1.3},{"parameters":{"content":"## Add AI labels to Gmail messages\nWith this workflow you can automatically set labels for your Gmail message according to its content. \n\nIn this workflow available are 3 labels: \"Partnership\", \"Inquiry\" and \"Notification\". Feel free to adjust labels according to your needs. \n\n**Please remember to set label names both in your Gmail account and workflow.**","height":240.57943708322733,"width":420.4803040774015,"color":4},"id":"88f40e50-140b-4b4b-99e4-ea7876262734","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://youtu.be/a8Dhj3Zh9vQ). \n2. Remember to add your credentials and configure nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":257.42916378714597,"width":421.0932411886662},"id":"82f030c8-83aa-4619-a683-54e7f5c4ea94","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,272],"typeVersion":1},{"parameters":{"content":"### Gmail Trigger\nReceive data from Gmail about new incoming message. \n\n⚠️ Set polling interval according to your needs.","height":348.5873725349161,"width":238.4602598584674},"id":"1885f46a-842f-4991-bc5d-5c034b510eb6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"content":"###\n\n\n\n\n\n\n\n\n\n\n### JSON schema\nEdit JSON schema and label names according to your needs.\n\n⚠️ **Label names in system prompt and JSON schema should be the same.**","height":319.3323098457962,"width":241.53974014153226},"id":"90c4081b-8d18-4ca8-a175-a9682157d1ae","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1168,384],"typeVersion":1},{"parameters":{"content":"### Merge labels\nCombine labels retrieved from Gmail account and assigned by AI together.","height":347.0476323933831,"width":226.14233872620645},"id":"fd7e8a1f-c0bd-48e0-b649-f9b89d18f9bf","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1904,32],"typeVersion":1},{"parameters":{"content":"### Aggregarte labels and add to message\nCreate array of label IDs and add to the desired email message in Gmail.","height":347.0476323933831,"width":452.48413953150185},"id":"55fb918e-fcf8-463a-ab3c-6ca64b7a44c0","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2160,32],"typeVersion":1},{"parameters":{"content":"### Get message content\nBased on Gmail message ID retrieve body content of the email and pass it to AI chain.","height":348.5873725349161,"width":238.4602598584674},"id":"cad7198e-a33f-451b-8378-207760d4cc31","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[704,0],"typeVersion":1},{"parameters":{"content":"### Assign labels\nLet the AI decide which labels suit the best content of the message.\n\n⚠️ **Remember to edit system prompt** - modify label names and instructions according to your needs.","height":348.5873725349161,"width":378.57661273793565},"id":"4c76ebf6-eea9-4944-871f-6fd5c403b675","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[960,0],"typeVersion":1},{"parameters":{"jsonSchema":"{\n \"type\": \"object\",\n \"properties\": {\n \"labels\": {\n \"type\": \"array\",\n \"items\": {\n \"type\": \"string\",\n \"enum\": [\"Inquiry\", \"Partnership\", \"Notification\"]\n }\n }\n },\n \"required\": [\"labels\"]\n}\n","autoFix":true},"id":"56e82d44-59be-4a1b-93b2-b901add9c474","name":"JSON Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1248,400],"typeVersion":1},{"parameters":{"model":"gpt-4-turbo-preview","options":{"responseFormat":"json_object","temperature":0}},"id":"59fd54f6-d55a-4821-8c9f-98a526db6527","name":"OpenAI Chat","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[992,592],"typeVersion":1}],"connections":{"JSON Parser":{"ai_outputParser":[[{"node":"Assign labels for message","type":"ai_outputParser","index":0}]]},"OpenAI Chat":{"ai_languageModel":[[{"node":"Assign labels for message","type":"ai_languageModel","index":0},{"node":"JSON Parser","type":"ai_languageModel","index":0}]]},"Gmail trigger":{"main":[[{"node":"Get message content","type":"main","index":0}]]},"Get all labels":{"main":[[{"node":"Merge corresponding labels","type":"main","index":0}]]},"Set label values":{"main":[[{"node":"Get all labels","type":"main","index":0},{"node":"Split out assigned labels","type":"main","index":0}]]},"Aggregate label IDs":{"main":[[{"node":"Add labels to message","type":"main","index":0}]]},"Get message content":{"main":[[{"node":"Assign labels for message","type":"main","index":0}]]},"Assign labels for message":{"main":[[{"node":"Set label values","type":"main","index":0}]]},"Split out assigned labels":{"main":[[{"node":"Merge corresponding labels","type":"main","index":1}]]},"Merge corresponding labels":{"main":[[{"node":"Aggregate label IDs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c54e4e92-e2fb-4c17-af61-a17971cd866a","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T17:18:49.056Z","createdAt":"2025-12-21T17:18:49.056Z","role":"workflow:owner","workflowId":"7iIS2TZDqvY571N6","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-09T05:25:51.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1767920967351}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}