hbf_online/2026/02/ProspectIQ Engine/1lvAWhE8sBLxMxoW.json
{"updatedAt":"2026-02-23T14:19:20.000Z","createdAt":"2026-02-23T14:19:20.293Z","id":"1lvAWhE8sBLxMxoW","name":"ProspectIQ Engine","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,672],"id":"db0314c6-d0a6-4981-998d-4c24c759e16c","name":"Trigger Start"},{"parameters":{"assignments":{"assignments":[{"id":"21786399-4702-4f98-8165-dbb62cdd853e","name":"url","value":"https://app.apollo.io/#/people?page=1&personTitles[]=Process%20Development&personTitles[]=Downstream%20Processing&personTitles[]=CMC&personTitles[]=Technology%20Transfer&personTitles[]=Manufacturing&personNotTitles[]=marketing&personNotTitles[]=sales&personSeniorities[]=vp&personSeniorities[]=director&personSeniorities[]=manager&existFields[]=organization_linkedin_industry_tag_ids&personLocations[]=United%20States&personLocations[]=Canada&sortByField=%5Bnone%5D&sortAscending=false&revenueRange[min]=5000000&organizationTradingStatus[]=private","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,672],"id":"db258ef5-1468-42ee-b54c-258d828e1362","name":"Set Search Parameters"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/runs?token=API_KEY_HERE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"cleanOutput\": true,\n    \"fileName\": \"Apollo Scraping\",\n    \"totalRecords\": 500,\n    \"url\": {{ $json.url.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,672],"id":"0067e8fe-92c8-457a-8c49-16f3c31ad80b","name":"Launch Apollo Scraper"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"360"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,640],"id":"72d79ba9-ec7a-4c6f-9045-8de24eb9136b","name":"Monitor Scrape Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0daa220-82a1-4b6d-989c-81f09c4a2779","leftValue":"={{ $json.data.finishedAt }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,608],"id":"adcac949-4ff5-4011-8468-13de0b3f085b","name":"Check Completion"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,672],"id":"408899f3-95d1-4aa9-9e51-22fab0a4e2c1","name":"Wait for Results","webhookId":"53e99063-a73a-40c2-a543-314d3d3a9aa2"},{"parameters":{"assignments":{"assignments":[{"id":"af77e1f5-f2bf-4f04-b84a-03a673422e26","name":"defaultDatasetID","value":"={{ $json.data.defaultDatasetId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,624],"id":"3c4492fe-05ef-4fde-b896-3ef4028484f3","name":"Extract Dataset ID"},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.defaultDatasetID }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,544],"id":"ddfacc70-51c8-4c6c-ba3b-798606b23d20","name":"Fetch Raw Data"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1232,592],"id":"e90f8987-172c-49e9-83b1-ee7dc7b60758","name":"Limit Records"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1424,512],"id":"ebe51eb5-d2f5-427b-9d03-6925a9cc0490","name":"Parse Contacts"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[928,224],"id":"6e2356e0-0b26-4212-a372-8b5ca7d5daa3","name":"Process Each Contact"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1168,160],"id":"77281c91-ddcf-4f47-ada1-6ed53b8623fc","name":"Contact Processing Delay","webhookId":"f61059ae-1b82-4eef-918b-00957905e116"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblU1ziamyWym7XXx","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblU1ziamyWym7XXx"},"filterByFormula":"={ID}=\"{{ $json.id }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1344,240],"id":"baffbc09-cb4a-4b6a-ac38-173fe8f9cf47","name":"Check Contact Exists","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// collect all incoming items\nconst items = $input.all();\n\nconst valid = items.filter(item => Object.keys(item.json).length > 0);\n\nreturn [\n  {\n    json: {\n      length: valid.length\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,160],"id":"883e11c9-05d9-4f5c-bbd7-54a0fa1d0d8a","name":"Validate Contact Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"636667e2-46ab-4052-9482-41a1702f3794","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,240],"id":"0292be79-e4cf-443e-afd0-5f7b31d33329","name":"Route New Contacts"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblU1ziamyWym7XXx","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblU1ziamyWym7XXx"},"columns":{"mappingMode":"defineBelow","value":{"Photo":"={{ [ $('Process Each Contact').item.json.photo_url ].map(u => ({ url: u })) }}","City":"={{ $('Process Each Contact').item.json.city }}","Id":"={{ $('Process Each Contact').item.json.id }}","First Name":"={{ $('Process Each Contact').item.json.first_name }}","Last Name":"={{ $('Process Each Contact').item.json.last_name }}","Email":"={{ $('Process Each Contact').item.json.email }}","Full Name":"={{ $('Process Each Contact').item.json.name }}","Title":"={{ $('Process Each Contact').item.json.title }}","LinkedIn Url":"={{ $('Process Each Contact').item.json.linkedin_url }}","Organization Name":"={{ $('Process Each Contact').item.json.organization_name }}","Organization Website":"={{ $('Process Each Contact').item.json.organization_website_url }}","Industry":"={{ $('Process Each Contact').item.json.industry }}","Headline":"={{ $('Process Each Contact').item.json.headline }}","State":"={{ $('Process Each Contact').item.json.state }}","Country":"={{ $('Process Each Contact').item.json.country }}","Twitter Url":"={{ $('Process Each Contact').item.json.twitter_url }}","Organization Id":"={{ $('Process Each Contact').item.json.organization_id }}","Organization LinkedIn Url":"={{ $('Process Each Contact').item.json.organization_linkedin_url }}","Organization Phone":"={{ $('Process Each Contact').item.json.organization_phone }}","Organization Domain":"={{ $('Process Each Contact').item.json.organization_primary_domain }}","Facebook Url":"={{ $('Process Each Contact').item.json.facebook_url }}","Department":"={{ $('Process Each Contact').item.json.department }}","Campaign Name":"Test"},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Twitter Url","displayName":"Twitter Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Facebook Url","displayName":"Facebook Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Website","displayName":"Organization Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization LinkedIn Url","displayName":"Organization LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Domain","displayName":"Organization Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Phone","displayName":"Organization Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Id","displayName":"Organization Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Campaign Name","displayName":"Campaign Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1968,208],"id":"d5430caf-3fe1-4480-8fcf-7dc4fa08224b","name":"Create Contact Record","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblTtQxRl4ebAJ5m6","mode":"list","cachedResultName":"Companies","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblTtQxRl4ebAJ5m6"},"filterByFormula":"={ID}=\"{{ $json.fields['Organization Id'] }}\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2208,240],"id":"189da4ff-cc5a-4f45-9b00-826405b1cfc5","name":"Check Company Exists","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// collect all incoming items\nconst items = $input.all();\n\nconst valid = items.filter(item => Object.keys(item.json).length > 0);\n\nreturn [\n  {\n    json: {\n      length: valid.length\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,192],"id":"cd6b9225-00ed-4459-9ba1-f4d5064f564b","name":"Validate Company Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"636667e2-46ab-4052-9482-41a1702f3794","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2608,224],"id":"bdf2deb6-6135-4fe0-ba70-6db61fe04dfb","name":"Route New Companies"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblTtQxRl4ebAJ5m6","mode":"list","cachedResultName":"Companies","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblTtQxRl4ebAJ5m6"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Create Contact Record').item.json.fields['Organization Id'] }}","Organization Founded Year":"={{ $('Process Each Contact').item.json.organization_founded_year }}","Organization Name":"={{ $('Process Each Contact').item.json.organization_name }}","Industry":"={{ $('Process Each Contact').item.json.industry }}","Organization Website":"={{ $('Process Each Contact').item.json.organization_website_url }}","Organization LinkedIn Url":"={{ $('Process Each Contact').item.json.organization_linkedin_url }}","Organization Logo":"={{ [ $('Process Each Contact').item.json.organization_logo_url ].map(u => ({ url: u })) }}","Organization Twitter Url":"={{ $('Process Each Contact').item.json.organization_twitter_url }}","Organization Facebook Url":"={{ $('Process Each Contact').item.json.organization_facebook_url }}","Organization Primary Domain":"={{ $('Process Each Contact').item.json.organization_primary_domain }}","Organization Phone":"={{ $('Process Each Contact').item.json.organization_phone }}","Organization Street Address":"={{ $('Process Each Contact').item.json.organization_street_address }}","Organization City":"={{ $('Process Each Contact').item.json.organization_city }}","Organization State":"={{ $('Process Each Contact').item.json.organization_state }}","Organization Country":"={{ $('Process Each Contact').item.json.organization_country }}","Keywords":"={{ $('Process Each Contact').item.json.keywords }}","Organization SEO Description":"={{ $('Process Each Contact').item.json.organization_seo_description || $('Process Each Contact').item.json.organization_short_description  }}","Organization Market Cap":"={{ $('Process Each Contact').item.json.organization_market_cap }}","Organization Annual Revenue":"={{ $('Process Each Contact').item.json.organization_annual_revenue }}","Organization Total Funding":"={{ $('Process Each Contact').item.json.organization_total_funding }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Website","displayName":"Organization Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization LinkedIn Url","displayName":"Organization LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Logo","displayName":"Organization Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Organization Twitter Url","displayName":"Organization Twitter Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Facebook Url","displayName":"Organization Facebook Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Founded Year","displayName":"Organization Founded Year","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Organization Primary Domain","displayName":"Organization Primary Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Phone","displayName":"Organization Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Street Address","displayName":"Organization Street Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization City","displayName":"Organization City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization State","displayName":"Organization State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Country","displayName":"Organization Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization SEO Description","displayName":"Organization SEO Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Market Cap","displayName":"Organization Market Cap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Annual Revenue","displayName":"Organization Annual Revenue","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Total Funding","displayName":"Organization Total Funding","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Contacts","displayName":"Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2832,144],"id":"aeb0df9a-58af-4858-9daf-52a44c1e6a8d","name":"Create Company Profile","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblU1ziamyWym7XXx","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblU1ziamyWym7XXx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Create Contact Record').item.json.id }}","Company":"=[ {{ $json.id.toJsonString() }}]"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Twitter Profile","displayName":"Twitter Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Facebook Profile","displayName":"Facebook Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Id","displayName":"Organization Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Phone","displayName":"Organization Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Website Button","displayName":"Organization Website Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization LinkedIn Button","displayName":"Organization LinkedIn Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Domain Button","displayName":"Organization Domain Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Campaign Name","displayName":"Campaign Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Twitter Url","displayName":"Twitter Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Facebook Url","displayName":"Facebook Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Website","displayName":"Organization Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization LinkedIn Url","displayName":"Organization LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Domain","displayName":"Organization Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3024,208],"id":"944ba62e-336e-4334-a3b9-3e44aefa2bbe","name":"Link Contact to Company","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblU1ziamyWym7XXx","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblU1ziamyWym7XXx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Create Contact Record').item.json.id }}","Company":"=[{{ $('Check Company Exists').item.json.id.toJsonString() }}]"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Twitter Profile","displayName":"Twitter Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Facebook Profile","displayName":"Facebook Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Id","displayName":"Organization Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Phone","displayName":"Organization Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Website Button","displayName":"Organization Website Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization LinkedIn Button","displayName":"Organization LinkedIn Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Domain Button","displayName":"Organization Domain Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Campaign Name","displayName":"Campaign Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Twitter Url","displayName":"Twitter Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Facebook Url","displayName":"Facebook Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Website","displayName":"Organization Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization LinkedIn Url","displayName":"Organization LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Domain","displayName":"Organization Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true,"updateAllMatches":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2832,304],"id":"7f656f3a-9d4f-4858-9db1-9fe40a7578ec","name":"Update Contact Relations"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"},{"name":"Authorization","value":"Bearer API_KEY_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior biotech biopharmaceutical industry analyst conducting deep research on companies operating in the United States and Canada for strategic partnership evaluation. Your job is to thoroughly analyze companies and extract critical business intelligence.\\n\\nYour research methodology should be:\\n1) Start with the company website - examine homepage, about page, pipeline page, technology page, and press releases\\n2) If website data is insufficient, supplement with LinkedIn company page information\\n3) Look for investor relations pages, SEC filings, or scientific publications if available\\n\\nYou must extract specific data points about therapeutic focus, development approach, development stage, company maturity, and manufacturing signals. Provide honest, evidence-based analysis with clear confidence levels based on data availability.\\n\\nOutput your findings in the specified structured format. If insufficient information is available, clearly state this limitation while providing whatever data you did find.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research and analyze this biotech/biopharmaceutical company for strategic partnership evaluation:\\n\\n**COMPANY PROFILE:**\\n- Company Name: {{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }}\\n- Website: {{ $('Create Company Profile').item.json.fields['Organization Website'] || 'Nil'}}\\n- Industry: {{ $('Create Company Profile').item.json.fields['Industry'] || 'Nil' }}\\n- Founded: {{ $('Create Company Profile').item.json.fields['Organization Founded Year'] || 'Nil'}}\\n- Location: {{ $('Create Company Profile').item.json.fields['Organization City'] || 'Nil' }}, {{ $('Create Company Profile').item.json.fields['Organization State'] }}, {{ $('Create Company Profile').item.json.fields['Organization Country']|| 'Nil' }}\\n- LinkedIn: {{ $('Create Company Profile').item.json.fields['Organization LinkedIn Url'] || 'Nil'}}\\n- Description: {{ $('Create Company Profile').item.json.fields['Organization SEO Description'] || 'Nil'}}\\n- Keywords: {{ $('Create Company Profile').item.json.fields['Keywords']|| 'Nil' }}\\n- Market Cap: {{ $('Create Company Profile').item.json.fields['Organization Market Cap'] || 'Nil'}}\\n- Annual Revenue: {{ $('Create Company Profile').item.json.fields['Organization Annual Revenue']|| 'Nil' }}\\n- Total Funding: {{ $('Create Company Profile').item.json.fields['Organization Total Funding'] || 'Nil' }}\\n\\n**RESEARCH SOURCES TO USE:**\\n- Primary: {{ $('Create Company Profile').item.json.fields['Organization Website'] || 'Nil'}}\\n- Secondary: {{ $('Create Company Profile').item.json.fields['Organization LinkedIn Url'] || 'Nil'}}\\n- Domain: {{ $('Create Company Profile').item.json.fields['Organization Primary Domain'] || 'Nil'}}\\n\\n**SPECIFIC DATA TO EXTRACT:**\\n\\n**THERAPEUTIC FOCUS** (Priority 1):\\n- What therapeutic areas do they focus on? (oncology, rare diseases, immunology, etc.)\\n- What specific diseases/conditions are they targeting?\\n- How many programs are in their pipeline?\\n\\n**DEVELOPMENT APPROACH** (Priority 2):\\n- What type of therapeutic modality do they use? Look for keywords like:\\n  * Gene therapy, viral vectors, AAV, lentiviral\\n  * Cell therapy, CAR-T, TIL, stem cells, allogeneic, autologous\\n  * Antibodies, monoclonal, bispecific, multispecific, ADC, antibody-drug conjugate\\n  * mRNA\\n  * Small molecule, chemical entities\\n- What's their core technology platform?\\n\\n**DEVELOPMENT STAGE** (Priority 3):\\n- What stage are their lead programs in? Look for:\\n  * Preclinical, discovery, research\\n  * Phase 1, Phase 2, Phase 3 clinical trials\\n  * FDA approval, commercialized products\\n- Any recent clinical trial announcements or results?\\n\\n**COMPANY MATURITY** (Priority 4):\\n- Approximate company size (startup, small biotech, mid-size, large pharma)\\n- Recent funding rounds or partnerships\\n- Manufacturing capabilities mentioned\\n\\n**MANUFACTURING SIGNALS** (Priority 5):\\n- Any mentions of upstream processing, downstream processing, purification, manufacturing challenges\\n- Partnerships with CDMOs or contract manufacturers\\n- GMP manufacturing capabilities\\n\\n**REQUIRED OUTPUT FORMAT:**\\nCompany Description: [2-3 sentences about what the company does]\\nCompany Size: [Startup/Small/Mid/Large biotech with employee count if available]\\nTherapeutic Focus: [2-3 sentences]\\nPrimary Modality: [1 sentence with specific approach]\\nDevelopment Stage: [1-2 sentences about pipeline maturity]\\nCompany Type: [Small/Mid/Large biopharma with reasoning]\\nManufacturing Indicators: [Any relevant signals or \\\"None found\\\"]\\nConfidence Level: [High/Medium/Low based on data availability]\\n\\nIf you cannot find sufficient information from the provided sources, state \\\"Insufficient data - requires additional research sources\\\" and provide what limited information you did find.\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,672],"id":"e0b660d1-1ae7-410f-b598-f85983d5bcdc","name":"Deep Company Research","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a data extraction specialist. Your job is to parse biotech research analysis and convert it into a structured JSON format. Extract the specific fields requested and ensure all data is accurately represented in the JSON output. If any field is not found in the source text, use 'Not specified' as the value. Ensure the JSON is valid and properly formatted.","role":"system"},{"content":"=Parse the following biotech company research analysis and convert it into a structured JSON format:\n\n{{ $('Deep Company Research').item.json.choices[0].message.content }}\n\nExtract and format the data into this exact JSON structure:\n\n{\n  \"company_description\": \"[2-3 sentences about what the company does]\",\n  \"company_size\": \"[Startup/Small/Mid/Large biotech with employee count if available]\",\n  \"therapeutic_focus\": \"[2-3 sentences about therapeutic areas and targets]\",\n  \"primary_modality\": \"[1 sentence with specific therapeutic approach]\",\n  \"development_stage\": \"[1-2 sentences about pipeline maturity and clinical stages]\",\n  \"company_type\": \"[Small/Mid/Large biopharma with reasoning]\",\n  \"manufacturing_indicators\": \"[Any relevant manufacturing signals or 'None found']\",\n  \"confidence_level\": \"[High/Medium/Low based on data availability]\"\n}\n\nEnsure the output is valid JSON only, with no additional text or formatting."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1904,704],"id":"9cb46433-0190-4ff1-9612-bbec9835a3ed","name":"Structure Research Data","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"O3-MINI"},"messages":{"values":[{"content":"=You are a senior biotech/biopharmaceutical industry analyst with deep expertise in therapeutic modalities, development stages, company classification, and bioprocessing. You must perform comprehensive sequential analysis using structured thinking approaches when needed.\n\nYour task is to analyze biotech companies across four key dimensions:\n1. Therapeutic Modality Classification (Primary & Secondary)\n2. Development Stage Classification\n3. Company Size Classification\n4. Manufacturing Signals Extraction\n\nIMPORTANT: Use systematic thinking and reasoning for complex classifications. Break down your analysis step-by-step when facing ambiguous or multi-faceted company profiles.\n\nOUTPUT REQUIREMENTS:\n- Always output valid JSON format\n- Use exact label spellings from approved categories\n- Provide confidence scores as whole numbers (0-100)\n- Extract only relevant manufacturing signals\n- Follow sequential analysis approach for each classification task","role":"system"},{"content":"=Analyze this biotech company comprehensively using the research data provided:\n\n**COMPANY PROFILE:**\n- Company Name: {{ $('Create Company Profile').item.json.fields['Organization Name'] }}\n- Website: {{ $('Create Company Profile').item.json.fields['Organization Website'] }}\n- Industry: {{ $('Create Company Profile').item.json.fields['Industry'] || 'Nil' }}\n- Description: {{ $('Create Company Profile').item.json.fields['Organization SEO Description'] || 'Nil' }}\n- Keywords: {{ $('Create Company Profile').item.json.fields['Keywords'] || 'Nil'}}\n\n**RESEARCH DATA:**\n{{ $('Deep Company Research').item.json.choices[0].message.content }}\n\n**ANALYSIS TASKS:**\n\n**TASK 1: THERAPEUTIC MODALITY CLASSIFICATION**\n\nClassify the company's therapy modalities with primary focus and secondary classifications.\n\nAVAILABLE MODALITY LABELS (Use EXACT spellings):\n- Gene Therapy – Adeno-Associated Virus (AAV)\n- Gene Therapy – Lentivirus (LVV)\n- Gene Therapy - Other\n- Cell Therapy – Autologous\n- Cell Therapy – Allogeneic\n- Cell Therapy - Other\n- Next-Generation Antibodies – Multispecifics and Antibody Drug Conjugates (ADC)\n- mRNA\n- Small-Molecule / Other\n- Unknown\n\nKEYWORD MAPPING:\n- **Gene Therapy – AAV**: AAV, adeno-associated virus, AAV2, AAV6, AAV8, AAV9, AAV vectors, recombinant AAV, rAAV, capsid engineering\n- **Gene Therapy – Lentivirus**: lentiviral, lentivirus, LVV, HIV-based vectors, retroviral vectors, lentiviral transduction\n- **Gene Therapy - Other**: viral vectors (non-AAV/LVV), adenoviral, retroviral, herpes simplex virus, CRISPR-Cas9, base editing, prime editing\n- **Cell Therapy – Autologous**: autologous, patient-derived, CAR-T, chimeric antigen receptor, T cell therapy, TIL, patient-specific, iPSC\n- **Cell Therapy – Allogeneic**: allogeneic, \"off-the-shelf\", donor-derived, universal cells, allogeneic CAR-T, allogeneic NK, iPSC-derived\n- **Cell Therapy - Other**: cell engineering, CAR-NK, gamma delta T cells, regulatory T cells, dendritic cell therapy\n- **Next-Generation Antibodies**: bispecific antibody, trispecific, multispecific, ADC, antibody-drug conjugates, nanobody, BiTE\n- **mRNA**: messenger RNA, mRNA therapeutics, mRNA vaccines, lipid nanoparticles, LNP, mRNA delivery, IVT mRNA\n- **Small-Molecule / Other**: small molecule, chemical entities, synthetic compounds, drug discovery, biologics, protein therapeutics\n\n**TASK 2: DEVELOPMENT STAGE CLASSIFICATION**\n\nIdentify the primary development stage. Output ONE of these stages:\n- Research & Discovery\n- Pre-Clinical Research\n- Clinical Research Phase 1\n- Clinical Research Phase 2\n- Clinical Research Phase 3\n- Commercial/Approved\n- Unknown\n\nLook for keywords: preclinical, R&D, discovery, Phase 1, Phase 2, Phase 3, clinical trials, FDA approval, commercialized, approved product.\n\n**TASK 3: COMPANY SIZE CLASSIFICATION**\n\nClassify company size. Choose EXACTLY one:\n- Small-to-Mid Biopharma (Under 1000 employees, focused biotech developing own therapeutics)\n- Large Biopharma (1000+ employees, major pharmaceutical companies)\n- CMO/CDMO (Contract manufacturing/development organizations)\n\n**TASK 4: MANUFACTURING SIGNALS EXTRACTION**\n\nExtract manufacturing signals related to:\n- Custom manufacturing capabilities\n- GMP manufacturing capabilities\n- Contract manufacturing partnerships\n- Production facilities and capacity\n- Manufacturing challenges or needs\n- CDMO relationships\n\n**REQUIRED JSON OUTPUT FORMAT:**\n```json\n{\n  \"primary_modality\": \"[Single modality label]\",\n  \"secondary_modalities\": [\"Modality1\", \"Modality2\", \"Modality3\"],\n  \"modality_confidence\": 85,\n  \"development_stage\": \"[Single stage]\",\n  \"company_size\": \"[Single size category]\",\n  \"manufacturing_signals\": \"[Key manufacturing signals in 1-2 sentences, or 'No manufacturing signals identified']\"\n}\n```\n\n**EXAMPLES:**\n\nExample 1 - High Confidence Gene Therapy:\n```json\n{\n  \"primary_modality\": \"Gene Therapy – Adeno-Associated Virus (AAV)\",\n  \"secondary_modalities\": [\"Gene Therapy - Other\"],\n  \"modality_confidence\": 92,\n  \"development_stage\": \"Clinical Research Phase 2\",\n  \"company_size\": \"Small-to-Mid Biopharma\",\n  \"manufacturing_signals\": \"Company has in-house GMP manufacturing facility for AAV production with plans to expand capacity.\"\n}\n```\n\nExample 2 - Multi-Modal Cell Therapy:\n```json\n{\n  \"primary_modality\": \"Cell Therapy – Autologous\",\n  \"secondary_modalities\": [\"Cell Therapy – Allogeneic\", \"Next-Generation Antibodies – Multispecifics and Antibody Drug Conjugates (ADC)\"],\n  \"modality_confidence\": 78,\n  \"development_stage\": \"Clinical Research Phase 1\",\n  \"company_size\": \"Small-to-Mid Biopharma\",\n  \"manufacturing_signals\": \"Partners with multiple CDMOs for cell therapy manufacturing and exploring allogeneic production capabilities.\"\n}\n```\n\nExample 3 - Unknown/Low Confidence:\n```json\n{\n  \"primary_modality\": \"Unknown\",\n  \"secondary_modalities\": [],\n  \"modality_confidence\": 15,\n  \"development_stage\": \"Unknown\",\n  \"company_size\": \"Small-to-Mid Biopharma\",\n  \"manufacturing_signals\": \"No manufacturing signals identified\"\n}\n```\n\nProvide ONLY the JSON output with your analysis.\n\nMake Sure primary and secondary modality is not empty or always says Unknown all times."},{"content":"=## Thinking Framework\n\n### Phase 1: Information Gathering & Parsing\n```\n<think>\nLet me systematically analyze this company:\n\n1. **Initial Data Review:**\n   - Company name: [Extract]\n   - Industry classification: [Extract]\n   - Key descriptors: [Extract]\n   - Website/domain: [Extract]\n\n2. **Research Data Analysis:**\n   - Core business model: [Identify]\n   - Primary therapeutic focus: [Identify]\n   - Technology platform: [Identify]\n   - Development pipeline: [Analyze]\n</think>\n```\n\n### Phase 2: Modality Classification Logic\n```\n<think>\n**Modality Classification Analysis:**\n\n1. **Keyword Scanning:**\n   - Gene Therapy (AAV): [Count and list matches]\n   - Gene Therapy (LVV): [Count and list matches]\n   - Gene Therapy (Other): [Count and list matches]\n   - Cell Therapy (Auto): [Count and list matches]\n   - Cell Therapy (Allo): [Count and list matches]\n   - Cell Therapy (Other): [Count and list matches]\n   - Next-Gen Antibodies: [Count and list matches]\n   - mRNA: [Count and list matches]\n   - Small Molecule: [Count and list matches]\n\n2. **Context Analysis:**\n   - Which modality represents core business? [Analyze]\n   - Which are secondary/partnership activities? [Analyze]\n   - What's the confidence level for each? [Assess]\n\n3. **Primary Selection Logic:**\n   - Highest keyword density: [Identify]\n   - Core business focus: [Identify]\n   - System priority hierarchy: [Apply if tie]\n</think>\n```\n\n### Phase 3: Development Stage Logic\n```\n<think>\n**Development Stage Analysis:**\n\n1. **Keyword Evidence:**\n   - Research/Discovery terms: [List]\n   - Preclinical terms: [List]\n   - Phase 1 terms: [List]\n   - Phase 2 terms: [List]\n   - Phase 3 terms: [List]\n   - Commercial terms: [List]\n\n2. **Pipeline Assessment:**\n   - Lead program stage: [Identify]\n   - Most advanced program: [Identify]\n   - Overall portfolio maturity: [Assess]\n\n3. **Stage Classification:**\n   - Primary stage based on evidence: [Conclude]\n</think>\n```\n\n### Phase 4: Company Size Logic\n```\n<think>\n**Company Size Classification:**\n\n1. **Employee Data:**\n   - Stated employee count: [Extract]\n   - Estimated size indicators: [Analyze]\n\n2. **Business Model Indicators:**\n   - Own therapeutic development: [Y/N]\n   - Contract services focus: [Y/N]\n   - Revenue scale indicators: [Analyze]\n\n3. **Classification Decision:**\n   - Small-to-Mid Biopharma: [Evidence]\n   - Large Biopharma: [Evidence]\n   - CMO/CDMO: [Evidence]\n</think>\n```\n\n### Phase 5: Manufacturing Signals Logic\n```\n<think>\n**Manufacturing Analysis:**\n\n1. **Direct Manufacturing Mentions:**\n   - In-house capabilities: [List]\n   - GMP facilities: [List]\n   - Production capacity: [List]\n\n2. **Partnership Indicators:**\n   - CDMO relationships: [List]\n   - Manufacturing partnerships: [List]\n   - Outsourcing mentions: [List]\n\n3. **Manufacturing Needs/Challenges:**\n   - Scaling challenges: [List]\n   - Technology requirements: [List]\n   - Capacity needs: [List]\n\n4. **Summary Extraction:**\n   - Key signals (1-2 sentences): [Formulate]\n</think>\n```\n\n### Phase 6: Confidence Assessment\n```\n<think>\n**Confidence Scoring Logic:**\n\n1. **Evidence Quality:**\n   - High (85-100): 6+ specific terms, detailed pipeline, clear platform\n   - Medium-High (70-84): 4-5 terms, general approach described\n   - Medium (50-69): 2-3 terms, limited details\n   - Low (30-49): 1-2 weak matches, unclear focus\n   - Very Low (0-29): No clear evidence\n\n2. **Source Reliability:**\n   - Company website data: [Weight]\n   - Third-party descriptions: [Weight]\n   - Inference quality: [Assess]\n\n3. **Final Score:** [Calculate and justify]\n</think>\n```\n\n## Usage Instructions\n\n1. **Always engage thinking mode** for complex multi-modal companies\n2. **Use systematic scanning** for keyword identification\n3. **Apply decision trees** for classification choices\n4. **Document reasoning** for confidence scoring\n5. **Cross-validate** classifications against business logic\n\n## Critical Reminders\n\n- Think through edge cases (platform companies, diagnostics, services)\n- Consider primary vs secondary business focus\n- Apply System priority hierarchy for tie-breaking\n- Ensure JSON format compliance\n- Validate against examples provided","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2288,640],"id":"0293cd7d-9be6-4dfa-94bd-8bb8cf763b37","name":"Classify Business Profile"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer API_KEY_HERE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a business intelligence analyst researching company funding status and headquarters location for territory assignment. Your task is to determine if the company received funding in the last 12 months (2024-2025) AND identify headquarters location to classify into U.S. territory.\\n\\nRESEARCH METHODOLOGY:\\n1. Check company website for: News/Press releases, Investor Relations, About Us/Contact pages for funding announcements and HQ address\\n2. Search LinkedIn company page for recent funding posts and company location in About section\\n3. Google search for recent funding announcements and headquarters location\\n4. Look for terms: Series, funding, investment, raises, closes, round for funding\\n5. Look for: headquarters, HQ, based in, founded in for location\\n\\nTERRITORY MAPPING:\\n- New England: CT, MA, ME, NH, RI, VT\\n- Central US + Canada: AZ, CO, DC, DE, IA, ID, IL, IN, KS, MD, MI, MN, MO, MT, ND, NE, NJ, NM, NV, NY, OH, PA, SD, UT, WI, WY, Canada\\n- Southern US + International: AL, AR, FL, GA, KY, LA, MS, NC, OK, PR, SC, TN, TX, VA, WV, International (any non-US country)\\n- West Coast: AK, CA, HI, OR, WA\\n\\nIf headquarters location cannot be determined, classify as Southern US + International. If you cannot find sufficient information for either funding or location, state Insufficient data for that field.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research funding status and headquarters location for territory assignment:\\n\\n**COMPANY INFORMATION:**\\n- Company Name: {{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }}\\n- Website: {{ $('Create Company Profile').item.json.fields['Organization Website'] || 'Nil' }}\\n- LinkedIn URL: {{ $('Create Company Profile').item.json.fields['Organization LinkedIn Url'] || 'Nil' }}\\n- Current Location: {{ $('Create Company Profile').item.json.fields['Organization City'] || 'Nil' }}, {{ $('Create Company Profile').item.json.fields['Organization State'] || 'Nil' }}, {{ $('Create Company Profile').item.json.fields['Organization Country'] || 'Nil' }}\\n- Street Address: {{ $('Create Company Profile').item.json.fields['Organization Street Address'] || 'Nil' }}\\n- Industry: {{ $('Create Company Profile').item.json.fields['Industry'] || 'Nil' }}\\n- Founded Year: {{ $('Create Company Profile').item.json.fields['Organization Founded Year'] || 'Nil' }}\\n- Market Cap: {{ $('Create Company Profile').item.json.fields['Organization Market Cap'] || 'Nil' }}\\n- Annual Revenue: {{ $('Create Company Profile').item.json.fields['Organization Annual Revenue'] || 'Nil' }}\\n- Total Funding: {{ $('Create Company Profile').item.json.fields['Organization Total Funding'] || 'Nil' }}\\n- Primary Domain: {{ $('Create Company Profile').item.json.fields['Organization Primary Domain'] || 'Nil' }}\\n\\n**PREVIOUS RESEARCH DATA:**\\n{{ JSON.stringify($('Deep Company Research').item.json.choices[0].message.content || 'Nil').slice(1, -1) }}\\n\\n**ANALYSIS REQUIREMENTS:**\\n\\n**FUNDING ANALYSIS (Priority 1):**\\nDetermine if {{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }} received any funding in the last 12 months (2024-2025).\\n\\nSearch for:\\n- Recent funding rounds, Series A/B/C announcements\\n- Investment news, venture capital funding\\n- Grant funding, government funding\\n- Partnership funding or strategic investments\\n- IPO or public market funding\\n\\nSearch sources:\\n1. {{ $('Create Company Profile').item.json.fields['Organization Website'] || 'Nil' }} - check news, press releases, investor relations\\n2. {{ $('Create Company Profile').item.json.fields['Organization LinkedIn Url'] || 'Nil' }} - check recent posts and company updates\\n3. Google search: \\\"{{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }} funding 2024\\\"\\n4. Google search: \\\"{{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }} Series funding\\\"\\n5. Google search: \\\"{{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }} investment 2025\\\"\\n\\n**HEADQUARTERS LOCATION ANALYSIS (Priority 2):**\\nVerify and confirm the actual headquarters location of {{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }}.\\n\\nCurrent address data shows: {{ $('Create Company Profile').item.json.fields['Organization City'] || 'Nil' }}, {{ $('Create Company Profile').item.json.fields['Organization State'] || 'Nil' }}, {{ $('Create Company Profile').item.json.fields['Organization Country'] || 'Nil' }}\\n\\nVerify through:\\n1. {{ $('Create Company Profile').item.json.fields['Organization Website'] || 'Nil' }} - About Us, Contact, Locations pages\\n2. {{ $('Create Company Profile').item.json.fields['Organization LinkedIn Url'] || 'Nil' }} - Company About section\\n3. Google search: \\\"{{ $('Create Company Profile').item.json.fields['Organization Name'] || 'Nil' }} headquarters location\\\"\\n4. Look for: headquarters, HQ, based in, founded in, main office\\n\\n**TERRITORY CLASSIFICATION:**\\nBased on confirmed headquarters location, classify into one of these territories:\\n- New England: CT, MA, ME, NH, RI, VT\\n- Central US + Canada: AZ, CO, DC, DE, IA, ID, IL, IN, KS, MD, MI, MN, MO, MT, ND, NE, NJ, NM, NV, NY, OH, PA, SD, UT, WI, WY, Canada\\n- Southern US + International: AL, AR, FL, GA, KY, LA, MS, NC, OK, PR, SC, TN, TX, VA, WV, International (any non-US country)\\n- West Coast: AK, CA, HI, OR, WA\\n\\n**REQUIRED OUTPUT FORMAT:**\\nFunding Status: [Yes/No/Insufficient data]\\nTerritory: [New England/Central US + Canada/Southern US + International/West Coast/Insufficient data]\\nSource: [URL where information was found]\\nConfidence: [High/Medium/Low]\\n\\n**EXAMPLES:**\\nFunding Status: Yes, Territory: West Coast, Source: company.com/news, Confidence: High\\nFunding Status: No, Territory: Central US + Canada, Source: company.com/about, Confidence: Medium\\nFunding Status: Yes, Territory: Southern US + International, Source: linkedin.com/company/xyz, Confidence: High\\nFunding Status: Insufficient data, Territory: Insufficient data, Source: N/A, Confidence: Low\\n\\nProvide specific details about any funding found (amount, date, investor) and confirm the exact headquarters city and state/country.\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,688],"id":"e122f2bf-eed4-48f4-9924-426ef9f1e352","name":"Analyze Funding & Territory","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a data extraction specialist focused on parsing funding and territory analysis reports. Your job is to extract specific funding status and territory classification information from research text and convert it into structured JSON format.\\n\\nEXTRACTION RULES:\\n- Extract funding status as Yes/No/Insufficient data\\n- Extract territory classification using exact territory names\\n- Extract source URLs when available\\n- Extract confidence levels as High/Medium/Low\\n- Include funding details when available (amount, date, type)\\n- Include headquarters verification details\\n\\nTERRITORY CLASSIFICATIONS (use exact names):\\n- New England\\n- Central US + Canada\\n- Southern US + International\\n- West Coast\\n- Insufficient data\\n\\nEnsure the JSON output is valid and properly formatted with no additional text.","role":"system"},{"content":"=Parse the following funding and territory analysis report and extract the information into structured JSON format:\\n\\n**COMPANY CONTEXT:**\\n- Company Name: {{ $('Create Company Profile').item.json.fields['Organization Name'] }}\\n- Current Listed Location: {{ $('Create Company Profile').item.json.fields['Organization City'] }}, {{ $('Create Company Profile').item.json.fields['Organization State'] }}, {{ $('Create Company Profile').item.json.fields['Organization Country'] }}\\n- Current Listed Total Funding: {{ $('Create Company Profile').item.json.fields['Organization Total Funding'] || 'Nil'}}\\n\\n**RESEARCH ANALYSIS RESULTS:**\\n{{ $('Analyze Funding & Territory').item.json.choices[0].message.content }}\\n\\n**REQUIRED JSON OUTPUT FORMAT:**\\n```json\\n{\\n  \\\"funding_status\\\": \\\"[Yes/No/Insufficient data]\\\",\\n  \\\"funding_details\\\": \\\"[Specific funding information found, amount, date, type - or 'None found' if no recent funding]\\\",\\n  \\\"territory\\\": \\\"[New England/Central US + Canada/Southern US + International/West Coast/Insufficient data]\\\",\\n  \\\"headquarters_location\\\": \\\"[Confirmed city, state/province, country]\\\",\\n  \\\"source_url\\\": \\\"[Primary URL where information was found or 'Multiple sources' or 'N/A']\\\",\\n  \\\"confidence_level\\\": \\\"[High/Medium/Low]\\\"\\n}\\n```\\n\\n**EXAMPLES:**\\n\\nExample 1 - Recent Funding Found:\\n```json\\n{\\n  \\\"funding_status\\\": \\\"Yes\\\",\\n  \\\"funding_details\\\": \\\"Series B funding of $25M raised in March 2024 led by ABC Ventures\\\",\\n  \\\"territory\\\": \\\"West Coast\\\",\\n  \\\"headquarters_location\\\": \\\"San Francisco, CA, USA\\\",\\n  \\\"source_url\\\": \\\"https://company.com/news/funding-announcement\\\",\\n  \\\"confidence_level\\\": \\\"High\\\"\\n}\\n```\\n\\nExample 2 - No Recent Funding:\\n```json\\n{\\n  \\\"funding_status\\\": \\\"No\\\",\\n  \\\"funding_details\\\": \\\"No funding announcements found for 2024-2025 period\\\",\\n  \\\"territory\\\": \\\"Central US + Canada\\\",\\n  \\\"headquarters_location\\\": \\\"Chicago, IL, USA\\\",\\n  \\\"source_url\\\": \\\"https://company.com/about\\\",\\n  \\\"confidence_level\\\": \\\"Medium\\\"\\n}\\n```\\n\\nExample 3 - Insufficient Data:\\n```json\\n{\\n  \\\"funding_status\\\": \\\"Insufficient data\\\",\\n  \\\"funding_details\\\": \\\"Unable to verify recent funding activity\\\",\\n  \\\"territory\\\": \\\"Southern US + International\\\",\\n  \\\"headquarters_location\\\": \\\"Location could not be confirmed\\\",\\n  \\\"source_url\\\": \\\"N/A\\\",\\n  \\\"confidence_level\\\": \\\"Low\\\"\\n}\\n```\\n\\nExtract the information and provide ONLY the JSON output with the specific findings from the research analysis."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2832,624],"id":"feee9b79-f108-4ca4-b86b-ecb5fd3054ee","name":"Format Final Intelligence","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appqbXPUn1cGLwNdk","mode":"list","cachedResultName":"Product Matching System","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk"},"table":{"__rl":true,"value":"tblTtQxRl4ebAJ5m6","mode":"list","cachedResultName":"Companies","cachedResultUrl":"https://airtable.com/appqbXPUn1cGLwNdk/tblTtQxRl4ebAJ5m6"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Create Company Profile').item.json.id }}","Modality Confidence Score":"={{ $('Classify Business Profile').item.json.message.content.modality_confidence }}","Company Description":"={{ $('Structure Research Data').item.json.message.content.company_description }}","Company Size":"={{ $('Classify Business Profile').item.json.message.content.company_size }}","Therapeutic Focus":"={{ $('Structure Research Data').item.json.message.content.therapeutic_focus }}","Primary Modality":"={{ $('Classify Business Profile').item.json.message.content.primary_modality }}","Secondary Modality":"={{ $('Classify Business Profile').item.json.message.content.secondary_modalities.join(',') }}","Funding Status":"={{ $json.message.content.funding_status }}","Territory":"={{ $json.message.content.territory }}","Head Quarters":"={{ $json.message.content.headquarters_location }}","Source Url":"={{ $json.message.content.source_url }}","Manufacturing Signals":"={{ $('Classify Business Profile').item.json.message.content.manufacturing_signals }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Logo","displayName":"Organization Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Website Button","displayName":"Organization Website Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization LinkedIn","displayName":"Organization LinkedIn","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Twitter Button","displayName":"Organization Twitter Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Facebook Button","displayName":"Organization Facebook Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Primary Domain Button","displayName":"Organization Primary Domain Button","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Organization Phone","displayName":"Organization Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Street Address","displayName":"Organization Street Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization City","displayName":"Organization City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization State","displayName":"Organization State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Country","displayName":"Organization Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization SEO Description","displayName":"Organization SEO Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Market Cap","displayName":"Organization Market Cap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Annual Revenue","displayName":"Organization Annual Revenue","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Total Funding","displayName":"Organization Total Funding","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Founded Year","displayName":"Organization Founded Year","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Therapeutic Focus","displayName":"Therapeutic Focus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Primary Modality","displayName":"Primary Modality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Secondary Modality","displayName":"Secondary Modality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Funding Status","displayName":"Funding Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Territory","displayName":"Territory","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Head Quarters","displayName":"Head Quarters","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source Url","displayName":"Source Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Modality Confidence Score","displayName":"Modality Confidence Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Manufacturing Signals","displayName":"Manufacturing Signals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Website","displayName":"Organization Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization LinkedIn Url","displayName":"Organization LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Twitter Url","displayName":"Organization Twitter Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Facebook Url","displayName":"Organization Facebook Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Primary Domain","displayName":"Organization Primary Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Contacts","displayName":"Contacts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3184,688],"id":"32b21721-85ac-4dc8-8dfd-602a375324c9","name":"Update Company Intelligence","onError":"continueErrorOutput"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,560],"id":"6e727864-9c6c-41dc-b39a-e1f5a9f53651","name":"Processing Delay","webhookId":"188f88a3-63a4-4b43-b541-50cd43f7ea38"},{"parameters":{"content":"**Data Acquisition Flow:**\n*Autonomous prospecting engine that captures qualified leads from Apollo with zero manual intervention*\n\n1) ***Status-driven psychology***: Prospects see \"autonomous engine\" and feel they're accessing enterprise-level technology\n2) ***Effortless acquisition***: Appeals to busy executives who want results without time investment\n3) ***Quality filtering***: \"Qualified leads\" triggers desire for pre-vetted, high-value prospects","height":420,"width":1820,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,480],"id":"d4006af4-9fb1-45e5-a585-7beea6f77ada","name":"Sticky Note"},{"parameters":{"content":"**Processing Loop:**\n*Intelligent contact validation system that eliminates duplicates and ensures data integrity*\n\n1) ***Control psychology***: \"Intelligent validation\" makes prospects feel they're getting premium, error-free data\n2) ***Efficiency obsession***: Busy professionals crave systems that handle tedious validation work automatically\n3) ***Trust building***: \"Data integrity\" appeals to detail-oriented decision-makers who fear messy, unreliable databases","height":460,"width":1280,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,0],"id":"ddcbc891-c6a4-4387-ab5f-d23c99cd41e0","name":"Sticky Note1"},{"parameters":{"content":"**Company Intelligence:**\n*AI-powered research engine that builds comprehensive company profiles with funding status and competitive intelligence*\n\n1) ***Information advantage***: Appeals to competitive professionals who want insider-level company intelligence\n2) ***Decision confidence***: \"Comprehensive profiles\" helps prospects feel they'll have all data needed for informed outreach\n3) ***Strategic positioning***: \"Competitive intelligence\" triggers the desire to outmaneuver competitors with better information","height":460,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2112,0],"id":"14a2d621-8cf2-4b1e-8d74-45cb6df8669b","name":"Sticky Note3"},{"parameters":{"content":"**AI Research Engine:**\n*Advanced analysis system that classifies business opportunities and identifies high-value prospects automatically*\n\n1) ***Sophisticated methodology***: \"Advanced analysis\" appeals to professionals who want cutting-edge, not basic tools\n2) ***Opportunity identification***: Triggers fear of missing valuable prospects that competitors might find first\n3) ***Automation appeal***: Busy executives want systems that think and categorize prospects without their input","height":420,"width":1860,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,480],"id":"875df10a-968c-41fa-bd5d-ea1f146d1f54","name":"Sticky Note4"},{"parameters":{"content":"**ProspectIQ Engine (Autonomous Business Intelligence Platform)**\n\n*Complete end-to-end prospecting automation that transforms raw Apollo data into actionable business intelligence with zero manual intervention. Advanced AI research engine analyzes companies, validates opportunities, and delivers pre-qualified prospects with comprehensive competitive insights.*\n\n**System Architecture:**\n\n**Data Acquisition Flow:** *Autonomous prospecting engine that captures qualified leads from Apollo with zero manual intervention*\n\n**Processing Loop:** *Intelligent contact validation system that eliminates duplicates and ensures data integrity*\n\n**Company Intelligence:** *AI-powered research engine that builds comprehensive company profiles with funding status and competitive intelligence*\n\n**AI Research Engine:** *Advanced analysis system that classifies business opportunities and identifies high-value prospects automatically*","height":460,"width":780,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"0e2b664b-fd6a-4a6b-b1c9-95f096accf2f","name":"Sticky Note2"}],"connections":{"Trigger Start":{"main":[[{"node":"Set Search Parameters","type":"main","index":0}]]},"Set Search Parameters":{"main":[[{"node":"Launch Apollo Scraper","type":"main","index":0}]]},"Launch Apollo Scraper":{"main":[[{"node":"Monitor Scrape Status","type":"main","index":0}]]},"Monitor Scrape Status":{"main":[[{"node":"Check Completion","type":"main","index":0}]]},"Check Completion":{"main":[[{"node":"Extract Dataset ID","type":"main","index":0}],[{"node":"Wait for Results","type":"main","index":0}]]},"Wait for Results":{"main":[[{"node":"Monitor Scrape Status","type":"main","index":0}]]},"Extract Dataset ID":{"main":[[{"node":"Fetch Raw Data","type":"main","index":0}]]},"Fetch Raw Data":{"main":[[{"node":"Limit Records","type":"main","index":0}]]},"Limit Records":{"main":[[{"node":"Parse Contacts","type":"main","index":0}]]},"Parse Contacts":{"main":[[{"node":"Process Each Contact","type":"main","index":0}]]},"Process Each Contact":{"main":[[],[{"node":"Contact Processing Delay","type":"main","index":0}]]},"Contact Processing Delay":{"main":[[{"node":"Check Contact Exists","type":"main","index":0}]]},"Check Contact Exists":{"main":[[{"node":"Validate Contact Status","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Validate Contact Status":{"main":[[{"node":"Route New Contacts","type":"main","index":0}]]},"Route New Contacts":{"main":[[{"node":"Create Contact Record","type":"main","index":0}],[{"node":"Process Each Contact","type":"main","index":0}]]},"Create Contact Record":{"main":[[{"node":"Check Company Exists","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Check Company Exists":{"main":[[{"node":"Validate Company Status","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Validate Company Status":{"main":[[{"node":"Route New Companies","type":"main","index":0}]]},"Route New Companies":{"main":[[{"node":"Create Company Profile","type":"main","index":0}],[{"node":"Update Contact Relations","type":"main","index":0}]]},"Create Company Profile":{"main":[[{"node":"Link Contact to Company","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Link Contact to Company":{"main":[[{"node":"Deep Company Research","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Update Contact Relations":{"main":[[{"node":"Process Each Contact","type":"main","index":0}]]},"Deep Company Research":{"main":[[{"node":"Structure Research Data","type":"main","index":0}]]},"Structure Research Data":{"main":[[{"node":"Classify Business Profile","type":"main","index":0}]]},"Classify Business Profile":{"main":[[{"node":"Analyze Funding & Territory","type":"main","index":0}]]},"Analyze Funding & Territory":{"main":[[{"node":"Format Final Intelligence","type":"main","index":0}]]},"Format Final Intelligence":{"main":[[{"node":"Update Company Intelligence","type":"main","index":0}]]},"Update Company Intelligence":{"main":[[{"node":"Process Each Contact","type":"main","index":0}],[{"node":"Processing Delay","type":"main","index":0}]]},"Processing Delay":{"main":[[{"node":"Process Each Contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Launch Apollo Scraper":[{"json":{"data":{"id":"8RaDRSxCBtXy5RtNU","actId":"jljBwyyQakqrL1wae","userId":"HyrX0XnoPop1WdByU","startedAt":"2025-07-27T17:19:17.944Z","finishedAt":null,"status":"READY","meta":{"origin":"API","userAgent":"axios/1.8.2"},"stats":{"inputBodyLen":624,"migrationCount":0,"rebootCount":0,"restartCount":0,"resurrectCount":0,"computeUnits":0},"options":{"build":"latest","timeoutSecs":0,"memoryMbytes":512,"maxItems":23648,"diskMbytes":1024},"createdByOrganizationMemberUserId":"SxSNhiLtErkMEyMkb","buildId":"ZGxrCRQsL3SMrRZz1","defaultKeyValueStoreId":"siNg8g7MR6y108XJI","defaultDatasetId":"LYmnqs7uWngSnL1ho","defaultRequestQueueId":"Jcq30a5IuYtAq9vVC","pricingInfo":{"pricingModel":"PRICE_PER_DATASET_ITEM","reasonForChange":"The price is increasing to cover the research and development necessary for improving\nActor performance.","startedAt":"2024-12-09T18:28:50.404Z","pricePerUnitUsd":0.0012,"unitName":"leads","createdAt":"2024-11-25T18:29:45.628Z","apifyMarginPercentage":0.2,"notifiedAboutFutureChangeAt":"2024-11-25T18:30:15.502Z","notifiedAboutChangeAt":"2024-12-09T18:39:18.387Z"},"platformUsageBillingModel":"DEVELOPER","generalAccess":"FOLLOW_USER_SETTING","buildNumber":"1.0.60","containerUrl":"https://vsuadfgli6h0.runs.apify.net"}}}]},"versionId":"c3d44d43-c005-4609-8e8e-85a1a8d6c445","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-23T14:19:20.298Z","createdAt":"2026-02-23T14:19:20.298Z","role":"workflow:owner","workflowId":"1lvAWhE8sBLxMxoW","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}