hbf_online/2026/06/Karbon Daily Triage Digest/9UMjIVKrBZI5k6DZ.json
{"updatedAt":"2026-06-14T22:19:39.500Z","createdAt":"2026-06-14T22:19:39.500Z","id":"9UMjIVKrBZI5k6DZ","name":"Karbon Daily Triage Digest","description":"Daily 8am digest pulling Karbon Triage summary and posting to Slack as a companion to the email triage workflow","active":false,"isArchived":false,"nodes":[{"id":"98741c78-a70c-4672-973b-f3ef01798cd0","name":"Daily 8am Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"days","triggerAtHour":8}]}}},{"id":"36327b40-82e6-4841-9e03-7c9005cd360c","name":"Get Karbon Triage Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0],"parameters":{"method":"GET","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to list recent Triage items, e.g. https://api.karbonhq.com/v3/Triage?createdToday=true__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"neverError":true}}}}},{"id":"58766fc9-3a66-4b30-a7c5-589a5e9c76eb","name":"Send Daily Digest","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[448,0],"parameters":{"resource":"message","operation":"post","authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for daily digest__>"},"messageType":"text","text":"=Daily Triage Digest:\nReview the Karbon Triage queue for items flagged for manual project assignment.\nRaw summary data: {{ JSON.stringify($json) }}"},"webhookId":"4297d181-601a-4579-9d08-bad06d25f8f8"},{"id":"fac4b579-ff19-4162-b3ea-6b2763d679d0","name":"Sticky Note 0799ebc0","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## GOAL\nGive a once-a-day check-in on the email triage workflow:\n\n1. Every morning at 8am, pull a summary of Triage activity from Karbon\n2. Post it to Slack so you have a quick overnight summary view\n\nThis is the companion workflow to \"Email Triage to Karbon Project Assignment\" -- that workflow does the real-time work, this one is the daily review layer.","color":7,"width":300,"height":200}},{"id":"5c7005fd-4682-41ab-a094-6f52c88cb0fb","name":"Sticky Note f3b22151","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## OUTCOME: Daily Digest\nEvery morning at 8am, this pulls a summary of todays Triage activity from Karbon and posts it to Slack.\n\nUse this to spot-check accuracy weekly: are \"high confidence\" auto-links from the email triage workflow actually correct? Are \"needs review\" items following a pattern that could be tuned in that workflows AI prompt?\n\nBefore activating:\n- Set the Karbon API URL + credential in \"Get Karbon Triage Summary\"\n- Set the Slack channel ID in \"Send Daily Digest\"\n- Attach your Slack credential\n\nThe raw summary JSON is included for now -- once Karbons Triage list endpoint shape is known, this can be formatted nicer (e.g. via an AI summarization step).","color":5,"width":300,"height":200}}],"connections":{"Daily 8am Trigger":{"main":[[{"node":"Get Karbon Triage Summary","type":"main","index":0}]]},"Get Karbon Triage Summary":{"main":[[{"node":"Send Daily Digest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"31e083af-0911-4fdc-afe9-03ff1b99f02f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-14T22:19:39.502Z","createdAt":"2026-06-14T22:19:39.502Z","role":"workflow:owner","workflowId":"9UMjIVKrBZI5k6DZ","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}