hbf_online/2026/06/Email Triage to Karbon Project Assignment/i3WXBbQFYpoc4LVG.json
{"updatedAt":"2026-06-30T14:11:34.117Z","createdAt":"2026-06-30T14:11:34.117Z","id":"i3WXBbQFYpoc4LVG","name":"Email Triage to Karbon Project Assignment","description":"VA automation: triages Gmail emails to Karbon Work Items. Resolves real ClientKey via Organization/Contact email lookup before filtering open projects. PATCH appends AI notes to confident matches; POST creates a flagged review Work Item for uncertain ones","active":false,"isArchived":false,"nodes":[{"id":"79c85b95-8552-4c6b-9e8f-2c69562a3d01","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,0],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"id":"fb45e9c0-42bd-4c15-9869-69166fd24c9b","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,192],"parameters":{"jsCode":"\nconst patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_email: fromAddr.toLowerCase(),\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"}},{"id":"5e91f507-a281-42cc-942e-e2688dd991b6","name":"Morning Trigger (7AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,192],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}}},{"id":"df6f2f98-b60d-4eb0-82ba-e3e4b2100748","name":"Afternoon Trigger (4PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,384],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * *"}]}}},{"id":"207a50bb-1330-4d92-9ef5-d24d7b662f4c","name":"2b-i. Lookup Karbon Organization","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,192],"parameters":{"method":"GET","url":"https://api.karbonhq.com/v3/Organizations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"$filter","value":"={{ \"EmailAddress eq '\" + $json.sender_email + \"'\" }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"66bde3d8-b44d-474a-8239-6b7577d26bab","name":"2b-ii. Lookup Karbon Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,192],"parameters":{"method":"GET","url":"https://api.karbonhq.com/v3/Contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"$filter","value":"={{ \"EmailAddress eq '\" + $('2. Redact Sensitive Data').first().json.sender_email + \"'\" }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"c967ebb1-5e8e-424f-ac4f-5f4bcaa03b1c","name":"2b-iii. Resolve Client Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,192],"parameters":{"jsCode":"\nconst email = $('2. Redact Sensitive Data').first().json;\nconst orgResult = $('2b-i. Lookup Karbon Organization').first().json;\nconst contactResult = $('2b-ii. Lookup Karbon Contact').first().json;\n\nconst orgMatch = orgResult?.value?.[0];\nconst contactMatch = contactResult?.value?.[0];\n\nlet clientKey = null;\nlet clientType = null;\nlet clientFound = false;\n\nif (orgMatch) {\n  clientKey = orgMatch.OrganizationKey;\n  clientType = 'Organization';\n  clientFound = true;\n} else if (contactMatch) {\n  clientKey = contactMatch.ContactKey;\n  clientType = 'Contact';\n  clientFound = true;\n}\n\nreturn [{\n  json: {\n    ...email,\n    client_key: clientKey,\n    client_type: clientType,\n    client_found: clientFound,\n  }\n}];\n"}},{"id":"3d78bdec-f9f6-4835-9d2d-2095a1432e9e","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,192],"parameters":{"url":"https://api.karbonhq.com/v3/WorkItems","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"$filter","value":"={{ \"ClientKey eq '\" + $json.client_key + \"' and PrimaryStatus ne 'Completed'\" }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"87b0ceb2-9536-41e6-bdfc-a7811046a469","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1344,192],"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project, set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference\n\nThe matched_project_id, if set, must be the WorkItemKey of one of the open projects listed above.","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}}},{"id":"9434b8f1-fa91-4c41-81dd-0f158c8b2f26","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[1360,416],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"id":"4926d890-5adb-439a-bfba-cb0184a1f199","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1488,416],"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"}},{"id":"01bb1e25-e9ad-429a-847b-3dd07f1dad9d","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1696,192],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"},"options":{}}},{"id":"f4ba5382-ce21-43fc-9794-04c64b779c0d","name":"6a-i. Get Current Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,96],"parameters":{"method":"GET","url":"={{ \"https://api.karbonhq.com/v3/WorkItems/\" + $json.output.matched_project_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"ccc66b4c-3749-44ea-9324-8d55e64ed3e0","name":"6a-ii. Build Appended Description","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,96],"parameters":{"jsCode":"\nconst workItem = $input.first().json;\nconst classification = $('4. AI Classify and Match').first().json;\n\nconst existingDescription = workItem.Description || '';\nconst timestamp = new Date().toISOString();\nconst aiNote = `[AI Triage ${timestamp}] Auto-assigned. Reasoning: ${classification.output.reasoning} (Category: ${classification.output.suggested_category})`;\n\nconst newDescription = existingDescription\n  ? existingDescription + '\\n\\n' + aiNote\n  : aiNote;\n\nreturn [{\n  json: {\n    ...classification,\n    WorkItemKey: workItem.WorkItemKey,\n    new_description: newDescription\n  }\n}];\n"}},{"id":"c2dce255-6f99-4481-a20e-00f13bf6858c","name":"6a-iii. Patch Work Item Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2368,96],"parameters":{"method":"PATCH","url":"={{ \"https://api.karbonhq.com/v3/WorkItems/\" + $json.WorkItemKey }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"Description\": $json.new_description } }}","options":{}}},{"id":"681d8689-e74a-46ad-b3bb-e8b48798c4f9","name":"7a. Notify Karbon Added","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[2592,96],"parameters":{"resource":"message","operation":"post","authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for AI-confident assignments, e.g. karbon-assignments__>","cachedResultName":"","cachedResultUrl":""},"text":"=✅ *AI Auto-Assigned to Karbon*\n*From:* {{ $('4. AI Classify and Match').first().json.sender_email }}\n*Subject:* {{ $('4. AI Classify and Match').first().json.subject_original }}\n*Assigned to:* {{ $('4. AI Classify and Match').first().json.output.matched_project_id }}\n*Category:* {{ $('4. AI Classify and Match').first().json.output.suggested_category }}\n*AI Reasoning:* {{ $('4. AI Classify and Match').first().json.output.reasoning }}","otherOptions":{}},"webhookId":"10ddfe8a-01ce-471f-bad8-f7b94ec81b26","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"466b2bab-12f5-4afa-994c-c1354a9c65fc","name":"6b. Create Needs-Review Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,288],"parameters":{"method":"POST","url":"https://api.karbonhq.com/v3/WorkItems","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"Title\": \"NEEDS REVIEW: \" + $json.subject_original,\n  \"AssigneeEmailAddress\": \"alex@honeybearfinancials.com\",\n  \"ClientKey\": $json.client_key,\n  \"ClientType\": $json.client_type || \"Organization\",\n  \"StartDate\": $now.toISO(),\n  \"Description\": \"AI could not confidently match this email to an existing project.\\n\\nSender: \" + $json.sender_email + \"\\nClient match found in Karbon: \" + ($json.client_found ? \"yes\" : \"no -- this Work Item may fail to create without a valid ClientKey\") + \"\\nAI suggested project: \" + ($json.output.matched_project_id || \"none\") + \"\\nConfidence: \" + $json.output.confidence + \"\\nReasoning: \" + $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"409ef257-5a09-44c5-a9c0-33e1a30d2110","name":"7b. Notify Needs Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[2144,288],"parameters":{"resource":"message","operation":"post","authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for manual review, e.g. karbon-needs-review__>","cachedResultName":"","cachedResultUrl":""},"text":"=⚠️ *New Karbon Work Item Created for Manual Review*\n*From:* {{ $json.sender_email }}\n*Subject:* {{ $json.subject_original }}\n*Client match found:* {{ $json.client_found ? 'Yes' : 'No -- check Karbon manually' }}\n*AI Suggested Project:* {{ $json.output.matched_project_id || 'No match found' }}\n*Confidence:* {{ $json.output.confidence }}\n*AI Reasoning:* {{ $json.output.reasoning }}\n*Assigned to:* alex@honeybearfinancials.com (review and reassign in Karbon)","otherOptions":{}},"webhookId":"a68dee1b-75ac-411d-b57a-3303e2baf232","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"8d648cc6-b593-4ba5-b501-4e1571232176","name":"Sticky Note 9fabaf7a","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Goal","parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice. Triggers:\n- Gmail polling (real-time, every minute)\n- Morning Schedule at 7:00 AM daily\n- Afternoon Schedule at 4:00 PM daily\n\nPipeline: Redact -> Lookup Client (Org or Contact) -> Get Open Projects -> AI Classify -> Patch Work Item + Slack confirm (confident) OR Create Review Work Item + Slack alert (uncertain).","height":460,"width":420,"color":7},"position":[-200,-560]}}}},{"id":"65738187-6de2-4683-92c3-16f59eb8914d","name":"Sticky Note a5b0fe89","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Karbon API Setup","parameters":{"content":"## Karbon API Credential\n\nKarbon requires TWO headers on every request:\n1. Authorization: Bearer {token} -- set as the value in your Header Auth credential\n2. AccessKey: {JWT} -- added manually as an extra header on each HTTP node (see placeholders)\n\nGet both from: Karbon -> Settings -> Connected Apps -> API Applications -> Manage\n\nBase URL: https://api.karbonhq.com/v3/\n\nUse ONE Header Auth credential across all Karbon nodes -- do not create a new one per node.","height":360,"width":380,"color":5},"position":[240,-560]}}}},{"id":"74e147da-6dcf-452b-b6be-09c227187b3a","name":"Sticky Note aa1d178a","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Client Lookup","parameters":{"content":"## Client Lookup (NEW)\n\nKarbon ClientKey is an opaque ID, not a domain. This step resolves it properly:\n\n1. Search Organizations by EmailAddress eq <sender email>\n2. If no match, search Contacts by EmailAddress eq <sender email>\n3. Whichever matches first sets client_key + client_type\n\nIf neither matches, client_found is false and downstream nodes are warned via Slack rather than failing silently.","height":360,"width":380,"color":4},"position":[-200,320]}}}},{"id":"1426d0e4-4902-4c71-a513-b4a2b3212629","name":"Sticky Note 0afd5c1d","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Redaction","parameters":{"content":"## Redaction Step\n\nStrips SSNs, EINs, account/routing numbers, and card numbers before the AI sees anything. Tune the regex patterns against real email samples.","height":216,"width":300,"color":4},"position":[-200,720]}}}},{"id":"5201ed45-b227-4a0e-8de6-6b48ef63102c","name":"Sticky Note 68090856","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Schedule","parameters":{"content":"## VA Automation Schedule\n\nMorning run: 7:00 AM -- start-of-day review\nAfternoon run: 4:00 PM -- end-of-day review\n\nBoth schedule triggers feed the same redact/classify/route pipeline as the Gmail trigger.","height":296,"width":300,"color":3},"position":[-200,0]}}}},{"id":"83cf4590-e37f-40d1-90cc-2ae99745d9f1","name":"Sticky Note 322bb9d7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - API Reality Check","parameters":{"content":"## Important: No Notes/Triage API\n\nKarbon's v3 API has no separate \"Notes\" or \"Triage\" resource. Confirmed via developer docs:\n\n- 6a writes the AI note into the Work Item Description field via PATCH (the only partial-update field Karbon supports), after fetching the existing Description so nothing is overwritten.\n- 6b creates a brand-new Work Item titled \"NEEDS REVIEW: ...\" assigned to alex@honeybearfinancials.com, since there is no API Triage inbox to drop items into.\n\nReview these new Work Items in Karbon and reassign/merge as needed.","height":400,"width":420,"color":6},"position":[1400,-560]}}}},{"id":"c501a01f-0287-4e9b-a13e-ee6d7c5143c4","name":"Sticky Note 49ef08cc","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Slack Channels","parameters":{"content":"## Slack Channel Setup\n\nTwo channels, two purposes:\n\n#karbon-assignments (suggested name)\nReceives a checkmark message every time AI confidently assigns an email to a Karbon project. FYI only -- no action needed. Set in node 7a.\n\n#karbon-needs-review (suggested name)\nReceives a warning message when AI creates a new review Work Item assigned to alex@honeybearfinancials.com. Set in node 7b.\n\nUse ONE Slack OAuth2 credential across both nodes -- do not create a new one per node.","height":380,"width":380,"color":6},"position":[1880,0]}}}},{"id":"1804b806-751d-4cb5-94ef-7954914a1b0d","name":"Sticky Note 42ecc498","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,464],"parameters":{"content":{"config":{"name":"Sticky Note - Credential Cleanup","parameters":{"content":"## Duplicate Credentials Cleanup\n\nYour n8n account has duplicate credentials of these types:\n- httpHeaderAuth (3 found) -- keep ONE for Karbon\n- slackOAuth2Api (2 found) -- keep ONE\n\nGo to Settings -> Credentials in n8n, open each duplicate, check if it has real saved values, and delete the empty/unused ones. This workflow now references only one of each.","height":280,"width":380,"color":2},"position":[240,320]}}}}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"2b-i. Lookup Karbon Organization","type":"main","index":0}]]},"Morning Trigger (7AM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"Afternoon Trigger (4PM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2b-i. Lookup Karbon Organization":{"main":[[{"node":"2b-ii. Lookup Karbon Contact","type":"main","index":0}]]},"2b-ii. Lookup Karbon Contact":{"main":[[{"node":"2b-iii. Resolve Client Key","type":"main","index":0}]]},"2b-iii. Resolve Client Key":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a-i. Get Current Work Item","type":"main","index":0}],[{"node":"6b. Create Needs-Review Work Item","type":"main","index":0}]]},"6a-i. Get Current Work Item":{"main":[[{"node":"6a-ii. Build Appended Description","type":"main","index":0}]]},"6a-ii. Build Appended Description":{"main":[[{"node":"6a-iii. Patch Work Item Description","type":"main","index":0}]]},"6a-iii. Patch Work Item Description":{"main":[[{"node":"7a. Notify Karbon Added","type":"main","index":0}]]},"6b. Create Needs-Review Work Item":{"main":[[{"node":"7b. Notify Needs Review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"4b61d017-42a4-44f1-8f68-ff2065161bfb","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-30T14:11:34.120Z","createdAt":"2026-06-30T14:11:34.120Z","role":"workflow:owner","workflowId":"i3WXBbQFYpoc4LVG","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}