hbf_online/2026/06/Email Triage to Karbon Project Assignment/koQi8pO0nRhqzluQ.json
{"updatedAt":"2026-06-30T14:06:01.804Z","createdAt":"2026-06-30T14:06:01.804Z","id":"koQi8pO0nRhqzluQ","name":"Email Triage to Karbon Project Assignment","description":"VA automation workflow: triages Gmail emails via AI classification to Karbon project assignment using real Karbon v3 API endpoints (WorkItems PATCH/POST, no Notes/Triage resource). Dual Slack channel notifications for confident vs needs-review paths.","active":false,"isArchived":false,"nodes":[{"id":"172766a6-ecf0-4f6c-ac12-dd6d6f35df67","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,0],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"id":"892f44b3-e95e-4e25-8857-b61d497c9fdd","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,192],"parameters":{"jsCode":"\nconst patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"}},{"id":"bfcee90c-e3b9-45b3-b577-1be3ea0ffb0d","name":"Morning Trigger (7AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,192],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}}},{"id":"5cafcc8c-a4ed-4085-b96c-4fbdf3283216","name":"Afternoon Trigger (4PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,384],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * *"}]}}},{"id":"66047dd4-3cbd-4932-bd52-5b7cd36e0673","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,192],"parameters":{"url":"https://api.karbonhq.com/v3/WorkItems","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"$filter","value":"={{ 'ClientKey eq \\'' + $json.sender_domain + '\\' and PrimaryStatus ne \\'Completed\\'' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT, from Settings > Connected Apps > API Applications)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"735f84ae-9beb-4687-a611-72cb7d40fe73","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,192],"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project, set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference\n\nThe matched_project_id, if set, must be the WorkItemKey of one of the open projects listed above.","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}}},{"id":"e6a3b5fd-1d81-4424-b75f-cfe02eafa9bc","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[688,416],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"id":"bf0c9755-81a7-4f98-804f-f24612cf23e8","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,416],"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"}},{"id":"26b63b22-04ee-43f0-a063-80b227a055b7","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,192],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"},"options":{}}},{"id":"507c9873-bc61-4690-b8f1-e0b8ba5c795f","name":"6a-i. Get Current Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,96],"parameters":{"method":"GET","url":"={{ \"https://api.karbonhq.com/v3/WorkItems/\" + $json.output.matched_project_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"782584a6-7293-4d53-a4b7-5278a789a37f","name":"6a-ii. Build Appended Description","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,96],"parameters":{"jsCode":"\nconst workItem = $input.first().json;\nconst classification = $('4. AI Classify and Match').first().json;\n\nconst existingDescription = workItem.Description || '';\nconst timestamp = new Date().toISOString();\nconst aiNote = `[AI Triage ${timestamp}] Auto-assigned. Reasoning: ${classification.output.reasoning} (Category: ${classification.output.suggested_category})`;\n\nconst newDescription = existingDescription\n  ? existingDescription + '\\n\\n' + aiNote\n  : aiNote;\n\nreturn [{\n  json: {\n    ...classification,\n    WorkItemKey: workItem.WorkItemKey,\n    new_description: newDescription\n  }\n}];\n"}},{"id":"66f49708-6e16-49bb-8136-87c1432a0e71","name":"6a-iii. Patch Work Item Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,96],"parameters":{"method":"PATCH","url":"={{ \"https://api.karbonhq.com/v3/WorkItems/\" + $json.WorkItemKey }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"Description\": $json.new_description } }}","options":{}}},{"id":"1a514398-5490-4ce2-91fe-11380d6d0ebf","name":"7a. Notify Karbon Added","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1920,96],"parameters":{"resource":"message","operation":"post","authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for AI-confident assignments, e.g. karbon-assignments__>","cachedResultName":"","cachedResultUrl":""},"text":"=✅ *AI Auto-Assigned to Karbon*\n*From:* {{ $('4. AI Classify and Match').first().json.sender_domain }}\n*Subject:* {{ $('4. AI Classify and Match').first().json.subject_original }}\n*Assigned to:* {{ $('4. AI Classify and Match').first().json.output.matched_project_id }}\n*Category:* {{ $('4. AI Classify and Match').first().json.output.suggested_category }}\n*AI Reasoning:* {{ $('4. AI Classify and Match').first().json.output.reasoning }}","otherOptions":{}},"webhookId":"2e1ae04a-a9b0-4b3b-b6d8-ae3d8a5220ee","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"611fcf88-5e81-4385-83e5-4d4e478d5319","name":"6b. Create Needs-Review Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,288],"parameters":{"method":"POST","url":"https://api.karbonhq.com/v3/WorkItems","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AccessKey","value":"<__PLACEHOLDER_VALUE__Your Karbon AccessKey (JWT)__>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"Title\": \"NEEDS REVIEW: \" + $json.subject_original,\n  \"AssigneeEmailAddress\": \"alex@honeybearfinancials.com\",\n  \"ClientKey\": $json.sender_domain,\n  \"ClientType\": \"Organization\",\n  \"StartDate\": $now.toISO(),\n  \"Description\": \"AI could not confidently match this email to an existing project.\\n\\nAI suggested project: \" + ($json.output.matched_project_id || \"none\") + \"\\nConfidence: \" + $json.output.confidence + \"\\nReasoning: \" + $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"5f95e6d5-6e84-4b65-ac98-214410d9b159","name":"7b. Notify Needs Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,288],"parameters":{"resource":"message","operation":"post","authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for manual review, e.g. karbon-needs-review__>","cachedResultName":"","cachedResultUrl":""},"text":"=⚠️ *New Karbon Work Item Created for Manual Review*\n*From:* {{ $json.sender_domain }}\n*Subject:* {{ $json.subject_original }}\n*AI Suggested Project:* {{ $json.output.matched_project_id || 'No match found' }}\n*Confidence:* {{ $json.output.confidence }}\n*AI Reasoning:* {{ $json.output.reasoning }}\n*Assigned to:* alex@honeybearfinancials.com (review and reassign in Karbon)","otherOptions":{}},"webhookId":"294f1c99-370d-4f26-86c6-493fcfa68f85","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"4acbca2b-bb93-4e3c-b2e2-4241bc9adac2","name":"Sticky Note 6040106c","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - Goal","parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice. Triggers:\n- Gmail polling (real-time, every minute)\n- Morning Schedule at 7:00 AM daily\n- Afternoon Schedule at 4:00 PM daily\n\nAll three feed the same pipeline: Redact -> Get Karbon Projects -> AI Classify -> Patch Work Item + Slack confirm (confident) OR Create Review Work Item + Slack alert (uncertain).","height":420,"width":420,"color":7},"position":[-200,-480]}}}},{"id":"cc58cd46-bfdf-437b-9838-24be3aa81f68","name":"Sticky Note d52a4967","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - Karbon API Setup","parameters":{"content":"## Karbon API Credential\n\nKarbon requires TWO headers on every request:\n1. Authorization: Bearer {token} -- set as the value in your Header Auth credential\n2. AccessKey: {JWT} -- added manually as an extra header on each HTTP node (see placeholders)\n\nGet both from: Karbon -> Settings -> Connected Apps -> API Applications -> Manage\n\nBase URL: https://api.karbonhq.com/v3/","height":320,"width":380,"color":5},"position":[240,-480]}}}},{"id":"97346c0f-6fbd-4dd2-8774-3bc850fc28c2","name":"Sticky Note dd68f0cc","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - Redaction","parameters":{"content":"## Redaction Step\n\nStrips SSNs, EINs, account/routing numbers, and card numbers before the AI sees anything. Tune the regex patterns against real email samples.","height":216,"width":300,"color":4},"position":[208,480]}}}},{"id":"593c0871-fd9f-48bb-9117-76e41124b124","name":"Sticky Note 34232f75","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - Schedule","parameters":{"content":"## VA Automation Schedule\n\nMorning run: 7:00 AM -- start-of-day review\nAfternoon run: 4:00 PM -- end-of-day review\n\nBoth schedule triggers feed the same redact/classify/route pipeline as the Gmail trigger.","height":296,"width":300,"color":3},"position":[-200,192]}}}},{"id":"9c8b8dbd-f27b-43ff-9928-909b6d98a52b","name":"Sticky Note 7419cf36","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - API Reality Check","parameters":{"content":"## Important: No Notes/Triage API\n\nKarbon's v3 API has no separate \"Notes\" or \"Triage\" resource. Confirmed via developer docs:\n\n- 6a writes the AI note into the Work Item Description field via PATCH (the only partial-update field Karbon supports), after fetching the existing Description so nothing is overwritten.\n- 6b creates a brand-new Work Item titled \"NEEDS REVIEW: ...\" assigned to alex@honeybearfinancials.com, since there is no API Triage inbox to drop items into.\n\nReview these new Work Items in Karbon and reassign/merge as needed.","height":380,"width":420,"color":6},"position":[1200,-480]}}}},{"id":"4c52800e-16e9-4430-a11a-3f39102705c0","name":"Sticky Note 75c84e80","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,464],"parameters":{"content":{"config":{"name":"Sticky Note - Slack Channels","parameters":{"content":"## Slack Channel Setup\n\nTwo channels, two purposes:\n\n#karbon-assignments (suggested name)\nReceives a checkmark message every time AI confidently assigns an email to a Karbon project. FYI only -- no action needed. Set in node 7a.\n\n#karbon-needs-review (suggested name)\nReceives a warning message when AI creates a new review Work Item assigned to alex@honeybearfinancials.com. Set in node 7b.","height":340,"width":380,"color":6},"position":[1680,0]}}}}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"Morning Trigger (7AM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"Afternoon Trigger (4PM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a-i. Get Current Work Item","type":"main","index":0}],[{"node":"6b. Create Needs-Review Work Item","type":"main","index":0}]]},"6a-i. Get Current Work Item":{"main":[[{"node":"6a-ii. Build Appended Description","type":"main","index":0}]]},"6a-ii. Build Appended Description":{"main":[[{"node":"6a-iii. Patch Work Item Description","type":"main","index":0}]]},"6a-iii. Patch Work Item Description":{"main":[[{"node":"7a. Notify Karbon Added","type":"main","index":0}]]},"6b. Create Needs-Review Work Item":{"main":[[{"node":"7b. Notify Needs Review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"45980368-4f28-40fd-b17d-cacc3e193656","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-30T14:06:01.806Z","createdAt":"2026-06-30T14:06:01.806Z","role":"workflow:owner","workflowId":"koQi8pO0nRhqzluQ","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}