hbf_online/2026/06/Email Triage to Karbon Project Assignment/svnX6x6rfAGN5lpH.json
{"updatedAt":"2026-06-26T16:27:55.825Z","createdAt":"2026-06-26T16:27:55.825Z","id":"svnX6x6rfAGN5lpH","name":"Email Triage to Karbon Project Assignment","description":"Email triage to Karbon project assignment workflow with redaction, AI classification, confidence-based routing, and dual Slack channel notifications for both confident assignments and manual review items.","active":false,"isArchived":false,"nodes":[{"id":"28f7248b-10fa-4da5-a47d-3c998a94b249","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,112],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"id":"ef5a624c-5cd0-4c5b-8606-9e71af33d45d","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112],"parameters":{"jsCode":"\nconst patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"}},{"id":"96077e29-2a42-4eee-ba9d-2fe61080674d","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,112],"parameters":{"url":"<__PLACEHOLDER_VALUE__Karbon API base URL, e.g. https://api.karbonhq.com/v3/WorkItems__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"={{ 'ClientKey eq ' + $json.sender_domain }}"},{"name":"status","value":"Open"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"3874acfd-ba42-48b3-b27b-9a527324ad62","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,112],"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project (e.g., mentions \"November receipts\" -> matches \"Monthly Bookkeeping - Nov 2025\"), set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match or this seems like a new/unrelated matter, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}}},{"id":"a6f7d164-d2a3-456b-b469-5f34072b17c3","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[688,336],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"id":"ce5a47f6-a6dd-4c1c-bb90-a31b0bed828e","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,336],"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"}},{"id":"599523f0-d1e2-4d44-bb6b-05620c478ce9","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,112],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"}}},{"id":"4befb627-247f-4f7e-a191-77da84b75799","name":"6a. Auto-Link to Karbon Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,16],"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to add a note/link to a Work Item, e.g. https://api.karbonhq.com/v3/WorkItems/{id}/Notes__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"work_item_id\": $json.output.matched_project_id,\n  \"note\": \"Auto-assigned by AI workflow. Reasoning: \" + $json.output.reasoning,\n  \"category\": $json.output.suggested_category\n} }}","options":{}}},{"id":"5a400b5b-6091-4061-bb40-e0f1d7db60d0","name":"7a. Notify Karbon Added","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,16],"parameters":{"resource":"message","authentication":"oAuth2","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for AI-confident assignments, e.g. karbon-assignments__>","cachedResultName":"","cachedResultUrl":""},"text":"=✅ *AI Auto-Assigned to Karbon*\n*From:* {{ $json.sender_domain }}\n*Subject:* {{ $json.subject_original }}\n*Assigned to:* {{ $json.output.matched_project_id }}\n*Category:* {{ $json.output.suggested_category }}\n*AI Reasoning:* {{ $json.output.reasoning }}","otherOptions":{}},"webhookId":"5b88b1e4-675b-46bf-803f-2554311a7b0a","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"1fd6713d-f6a5-4592-8d90-393871cb4afe","name":"6b. Create Karbon Triage Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,208],"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to create a Triage item, e.g. https://api.karbonhq.com/v3/Triage__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"subject\": $json.subject_original,\n  \"sender_domain\": $json.sender_domain,\n  \"ai_suggested_project\": $json.output.matched_project_id,\n  \"ai_confidence\": $json.output.confidence,\n  \"ai_reasoning\": $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"e30871a8-8dc9-408e-9364-7cc521c11ac7","name":"7b. Notify Needs Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,208],"parameters":{"resource":"message","authentication":"oAuth2","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack channel ID for manual review, e.g. karbon-needs-review__>","cachedResultName":"","cachedResultUrl":""},"text":"=⚠️ *Triage Item Needs Manual Assignment*\n*From:* {{ $json.sender_domain }}\n*Subject:* {{ $json.subject_original }}\n*AI Suggested Project:* {{ $json.output.matched_project_id || 'No match found' }}\n*Confidence:* {{ $json.output.confidence }}\n*AI Reasoning:* {{ $json.output.reasoning }}","otherOptions":{}},"webhookId":"1de9e0b5-071f-426b-9f12-5637603cb85a","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"id":"05977b43-9314-4667-acd0-409f14f59951","name":"Sticky Note 295e3fba","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,384],"parameters":{"content":{"config":{"name":"Note - Workflow Goal","parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice:\n1. Redact sensitive financial data (SSNs, account/routing numbers, etc.) before any AI sees it\n2. Identify which Karbon client and open Work Item (project) the email relates to\n3. Route to the right Karbon destination AND always notify Slack\n\n**Both paths now notify Slack:**\n- checkmark High confidence -> Auto-linked to Karbon -> posts to #karbon-assignments\n- warning Low/medium confidence -> Karbon Triage item created -> posts to #karbon-needs-review\n\nCompanion workflow: \"Karbon Daily Triage Digest\" handles the once-a-day summary check-in.","height":492,"width":480,"color":7},"position":[-96,-480]}}}},{"id":"ae72663f-2be9-44ac-be50-204669ae1cb3","name":"Sticky Note e1204bd9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,384],"parameters":{"content":{"config":{"name":"Sticky Note - Karbon API","parameters":{"content":"## Karbon API Placeholders\n\nThe HTTP Request nodes pointing to Karbon need:\n1. Your Karbon API base URL\n2. A \"Karbon API\" credential (Header Auth) with your API key\n3. Correct endpoint paths for WorkItems / Triage\n\nSee Karbon API docs to fill these in.","height":328,"width":300,"color":5},"position":[448,-256]}}}},{"id":"1988fde9-01bf-4c1f-ab05-554897d51c28","name":"Sticky Note 25652218","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,384],"parameters":{"content":{"config":{"name":"Outcome - Auto Assigned","parameters":{"content":"## OUTCOME: High Confidence\nWhen the AI is confident (confidence = \"high\"):\n\n- Email is auto-linked to the matched Karbon Work Item with AI reasoning as an audit note\n- A Slack message is posted to #karbon-assignments confirming the assignment\n- No human action needed -- but you are still informed every time\n\nSet the channel ID in node 7a. Notify Karbon Added.","height":360,"width":360,"color":4},"position":[1184,-544]}}}},{"id":"ffff8cf1-3d5e-4c64-88b8-bccee60d3c80","name":"Sticky Note 996b445a","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,384],"parameters":{"content":{"config":{"name":"Outcome - Manual Review","parameters":{"content":"## OUTCOME: Needs Review\nWhen confidence is \"medium\" or \"low\":\n\n- A Karbon Triage item is created (unassigned), tagged with the AI best-guess project + reasoning\n- A Slack message is posted to #karbon-needs-review with the AI suggestion\n- You make the final call on which project it belongs to\n\nSet the channel ID in node 7b. Notify Needs Review.","height":440,"width":360,"color":3},"position":[1650,304]}}}},{"id":"5a6af294-021d-4ca7-aa20-3bb2b2e3bf4b","name":"Sticky Note a0479b32","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,384],"parameters":{"content":{"config":{"name":"Sticky Note - Slack Channels","parameters":{"content":"## Slack Channel Setup\n\nTwo channels, two purposes:\n\n#karbon-assignments (suggested name)\nReceives a checkmark message every time AI confidently assigns an email to a Karbon project. FYI only -- no action needed.\n\n#karbon-needs-review (suggested name)\nReceives a warning message when AI is unsure. Someone needs to open Karbon Triage and assign manually.\n\nSet both channel IDs in nodes 7a and 7b before activating.","height":340,"width":380,"color":6},"position":[-120,-880]}}}}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a. Auto-Link to Karbon Work Item","type":"main","index":0}],[{"node":"6b. Create Karbon Triage Item","type":"main","index":0}]]},"6a. Auto-Link to Karbon Work Item":{"main":[[{"node":"7a. Notify Karbon Added","type":"main","index":0}]]},"6b. Create Karbon Triage Item":{"main":[[{"node":"7b. Notify Needs Review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"463914f7-4f8a-4f26-92aa-825b85dab272","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-26T16:27:55.827Z","createdAt":"2026-06-26T16:27:55.827Z","role":"workflow:owner","workflowId":"svnX6x6rfAGN5lpH","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}