hbf_online/2026/06/Email Triage to Karbon Project Assignment/Tw8p0fYa0rEiksPa.json
{"updatedAt":"2026-06-26T16:47:00.845Z","createdAt":"2026-06-26T16:36:11.912Z","id":"Tw8p0fYa0rEiksPa","name":"Email Triage to Karbon Project Assignment","description":"VA automation workflow: triages Gmail emails via AI classification to Karbon project assignment. Runs on Gmail trigger (real-time) + 7AM and 4PM daily schedule triggers.","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"91fda6d7-4157-4f38-b5d5-c1b4c09ae8ca","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,0],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"parameters":{"jsCode":"\nconst patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"},"id":"22da2745-aaf8-4538-bade-49a5f834bab4","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,192]},{"parameters":{"url":"<__PLACEHOLDER_VALUE__Karbon API base URL, e.g. https://api.karbonhq.com/v3/WorkItems__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"={{ 'ClientKey eq ' + $json.sender_domain }}"},{"name":"status","value":"Open"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"963f2e02-f3c3-4b43-97ca-24025b63d925","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,192],"credentials":{"httpHeaderAuth":{"id":"duTOjy6HLN8gULqO","name":"Late-header-auth"}}},{"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project, set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}},"id":"a6536ef4-b67c-4423-a7a6-51c3396bfde2","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,192]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"id":"5356adb3-5050-4931-883e-9b2aaffa8c0d","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[688,416],"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"},"id":"07f3d35f-7a01-43d9-9afa-e63eff991ff5","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"},"options":{}},"id":"8cf3ad9e-b34b-4f31-8d46-dda4fea7594c","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,192]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to add a note/link to a Work Item, e.g. https://api.karbonhq.com/v3/WorkItems/{id}/Notes__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"work_item_id\": $json.output.matched_project_id,\n  \"note\": \"Auto-assigned by AI workflow. Reasoning: \" + $json.output.reasoning,\n  \"category\": $json.output.suggested_category\n} }}","options":{}},"id":"c2ef6f8a-fb08-44a3-add6-c0b70fec5356","name":"6a. Auto-Link to Karbon Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,96]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to create a Triage item, e.g. https://api.karbonhq.com/v3/Triage__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"subject\": $json.subject_original,\n  \"sender_domain\": $json.sender_domain,\n  \"ai_suggested_project\": $json.output.matched_project_id,\n  \"ai_confidence\": $json.output.confidence,\n  \"ai_reasoning\": $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}},"id":"0b65fe37-9a63-4dc2-89cf-fb5c34c138ef","name":"6b. Create Karbon Triage Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,496]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"","cachedResultName":"","cachedResultUrl":""},"text":"=New Triage item needs manual project assignment:\nFrom domain: {{ $json.sender_domain }}\nSubject: {{ $json.subject_original }}\nAI suggestion: {{ $json.output.matched_project_id }} (confidence: {{ $json.output.confidence }})\nReasoning: {{ $json.output.reasoning }}","otherOptions":{}},"id":"964ad020-f885-425f-b74e-65fb95cc1590","name":"Notify Manual Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,240],"webhookId":"524f2541-148c-4822-96b3-c4610ef6cc69","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"3baf0dc2-5e30-46aa-9cca-161d66cfb0aa","name":"Morning Trigger (7AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,192]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * *"}]}},"id":"b98c9e85-a6ec-4381-a396-061b261eec54","name":"Afternoon Trigger (4PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,384]},{"parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice. Triggers:\n- Gmail polling (real-time, every minute)\n- Morning Schedule at 7:00 AM daily\n- Afternoon Schedule at 4:00 PM daily\n\nAll three feed the same pipeline: Redact → Get Karbon Projects → AI Classify → Auto-Link or Triage.","height":496,"color":7},"id":"f22fedfa-1b9c-4f85-8f2c-2bf0f094f638","name":"Sticky Note 6c4f41c0","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-480]},{"parameters":{"content":"## Karbon API Placeholders\n\nFill in:\n1. Your Karbon API base URL\n2. \"Karbon API\" Header Auth credential with your API key\n3. Correct endpoint paths for WorkItems / Triage","height":264,"width":300,"color":5},"id":"d6827e1b-c3c7-4f5f-9617-87672594efe4","name":"Sticky Note 204015d6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,-448]},{"parameters":{"content":"## Redaction Step\n\nStrips SSNs, EINs, account/routing numbers, and card numbers before the AI sees anything. Tune the regex patterns against real email samples.","height":216,"width":300,"color":4},"id":"2761ee70-2150-49d4-849a-cc6c3f26cab3","name":"Sticky Note 3e0a22e1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-80]},{"parameters":{"content":"## VA Automation Schedule\n\nMorning run: 7:00 AM — start-of-day review\nAfternoon run: 4:00 PM — end-of-day review\n\nBoth schedule triggers feed the same redact/classify/route pipeline as the Gmail trigger.","height":296,"width":300,"color":3},"id":"f4262b37-ea40-4ac9-9d71-805762e70d3d","name":"Sticky Note 509af148","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-336]}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a. Auto-Link to Karbon Work Item","type":"main","index":0}],[{"node":"6b. Create Karbon Triage Item","type":"main","index":0}]]},"6b. Create Karbon Triage Item":{"main":[[{"node":"Notify Manual Review","type":"main","index":0}]]},"Morning Trigger (7AM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"Afternoon Trigger (4PM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"354fe684-08f8-44e7-b506-385a41c437aa","activeVersionId":null,"versionCounter":17,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-26T16:36:11.916Z","createdAt":"2026-06-26T16:36:11.916Z","role":"workflow:owner","workflowId":"Tw8p0fYa0rEiksPa","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}