hbf_online/2026/06/Email Triage to Karbon Project Assignment/UuLf5gZ8fahblKcr.json
{"updatedAt":"2026-06-30T14:07:57.000Z","createdAt":"2026-06-30T12:34:24.530Z","id":"UuLf5gZ8fahblKcr","name":"Email Triage to Karbon Project Assignment","description":"VA automation workflow: triages Gmail emails via AI classification to Karbon project assignment. Runs on Gmail trigger (real-time) + 7AM and 4PM daily schedule triggers. Both confidence paths now notify Slack to separate channels.","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"c3042b39-2c8d-4a4d-a39e-6d01af489f03","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,0],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Honey Bear Financials Google"}}},{"parameters":{"jsCode":"\nconst patterns = [\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"},"id":"11a95d14-14b5-4233-9fe6-21ad3270391f","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,192]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * *"}]}},"id":"2c90d024-95e1-426a-96cc-83e1ae388eb5","name":"Morning Trigger (7AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,192]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * *"}]}},"id":"b4a2acff-a104-413d-9200-b34f83a75d8e","name":"Afternoon Trigger (4PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,384]},{"parameters":{"url":"<__PLACEHOLDER_VALUE__Karbon API base URL, e.g. https://api.karbonhq.com/v3/WorkItems__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"={{ 'ClientKey eq ' + $json.sender_domain }}"},{"name":"status","value":"Open"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"f91f0b29-702d-4f84-9146-d08de10ad6ea","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,192]},{"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project, set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}},"id":"2e387903-e9ec-4f01-a329-390aacf90fa4","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,192]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"id":"fd95155d-bdeb-4bd0-823d-1f3a1e8a4874","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[688,416],"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"},"id":"4fb2267d-a5e3-4e01-9a30-35fecf023089","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"},"options":{}},"id":"ca9afcb4-96ad-4e65-a4ac-173442efcad6","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,192]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to add a note/link to a Work Item, e.g. https://api.karbonhq.com/v3/WorkItems/{id}/Notes__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"work_item_id\": $json.output.matched_project_id,\n  \"note\": \"Auto-assigned by AI workflow. Reasoning: \" + $json.output.reasoning,\n  \"category\": $json.output.suggested_category\n} }}","options":{}},"id":"7e282e33-9468-4ca3-85a8-ce3097b50721","name":"6a. Auto-Link to Karbon Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,96]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"","cachedResultName":"","cachedResultUrl":""},"text":"=✅ *AI Auto-Assigned to Karbon*\n*From:* {{ $json.sender_domain }}\n*Subject:* {{ $json.subject_original }}\n*Assigned to:* {{ $json.output.matched_project_id }}\n*Category:* {{ $json.output.suggested_category }}\n*AI Reasoning:* {{ $json.output.reasoning }}","otherOptions":{}},"id":"d1be85fc-046c-42f6-af2d-6ddb57d532fe","name":"7a. Notify Karbon Added","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,96],"webhookId":"50a9bd3e-1104-4dbd-9a9f-723d54105b4d","credentials":{"slackOAuth2Api":{"id":"GTZKquylBIjk1xhf","name":"Slack OAuth2 API"}}},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to create a Triage item, e.g. https://api.karbonhq.com/v3/Triage__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"subject\": $json.subject_original,\n  \"sender_domain\": $json.sender_domain,\n  \"ai_suggested_project\": $json.output.matched_project_id,\n  \"ai_confidence\": $json.output.confidence,\n  \"ai_reasoning\": $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}},"id":"8c28d543-6e63-40c5-a3a5-ea473f41f097","name":"6b. Create Karbon Triage Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,288],"credentials":{"httpHeaderAuth":{"id":"duTOjy6HLN8gULqO","name":"Late-header-auth"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"","cachedResultName":"","cachedResultUrl":""},"text":"=⚠️ *Triage Item Needs Manual Assignment*\n*From:* {{ $json.sender_domain }}\n*Subject:* {{ $json.subject_original }}\n*AI Suggested Project:* {{ $json.output.matched_project_id || 'No match found' }}\n*Confidence:* {{ $json.output.confidence }}\n*AI Reasoning:* {{ $json.output.reasoning }}","otherOptions":{}},"id":"ed5aa423-7082-4f94-b0fb-97a672e14b8a","name":"7b. Notify Needs Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1472,288],"webhookId":"541e0f8f-d10f-4672-85bd-dafd4b51ea68","credentials":{"slackOAuth2Api":{"id":"EpYoNcxFFygcKSbM","name":"Slack account"}}},{"parameters":{"content":{"config":{"name":"Sticky Note 6c4f41c0","parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice. Triggers:\n- Gmail polling (real-time, every minute)\n- Morning Schedule at 7:00 AM daily\n- Afternoon Schedule at 4:00 PM daily\n\nAll three feed the same pipeline: Redact -> Get Karbon Projects -> AI Classify -> Auto-Link (+ Slack confirm) or Triage (+ Slack review).","height":496,"color":7},"position":[1408,-480]}}},"id":"34faee29-0081-4090-8664-0287c6ea9dfe","name":"Sticky Note 038cd7ab","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,464]}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"Morning Trigger (7AM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"Afternoon Trigger (4PM)":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a. Auto-Link to Karbon Work Item","type":"main","index":0}],[{"node":"6b. Create Karbon Triage Item","type":"main","index":0}]]},"6a. Auto-Link to Karbon Work Item":{"main":[[{"node":"7a. Notify Karbon Added","type":"main","index":0}]]},"6b. Create Karbon Triage Item":{"main":[[{"node":"7b. Notify Needs Review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"b5e7267a-8854-436d-b048-b8a24998e890","activeVersionId":null,"versionCounter":9,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-30T12:34:24.536Z","createdAt":"2026-06-30T12:34:24.536Z","role":"workflow:owner","workflowId":"UuLf5gZ8fahblKcr","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}