hbf_online/2026/06/Email Triage to Karbon Project Assignment/xli8LyVOd7MiICKD.json
{"updatedAt":"2026-06-14T22:20:08.916Z","createdAt":"2026-06-14T21:23:58.326Z","id":"xli8LyVOd7MiICKD","name":"Email Triage to Karbon Project Assignment","description":"Email triage to Karbon project assignment workflow with redaction, AI classification, confidence-based routing, and daily digest","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"91fda6d7-4157-4f38-b5d5-c1b4c09ae8ca","name":"1. New Client Email","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,112],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"jsCode":"\nconst patterns = [\n  // SSN: 123-45-6789 or 123456789\n  { regex: /\\b\\d{3}-?\\d{2}-?\\d{4}\\b/g, token: \"[SSN-REDACTED]\" },\n  // EIN: 12-3456789\n  { regex: /\\b\\d{2}-\\d{7}\\b/g, token: \"[EIN-REDACTED]\" },\n  // Bank account numbers (8-17 digits)\n  { regex: /\\b\\d{8,17}\\b/g, token: \"[ACCOUNT-REDACTED]\" },\n  // Routing numbers (9 digits)\n  { regex: /\\b\\d{9}\\b/g, token: \"[ROUTING-REDACTED]\" },\n  // Credit card numbers\n  { regex: /\\b(?:\\d[ -]*?){13,16}\\b/g, token: \"[CARD-REDACTED]\" },\n];\n\nreturn $input.all().map(item => {\n  let safeSubject = item.json.subject || '';\n  let safeBody = item.json.text || item.json.html || '';\n\n  for (const p of patterns) {\n    safeSubject = safeSubject.replace(p.regex, p.token);\n    safeBody = safeBody.replace(p.regex, p.token);\n  }\n\n  // Extract sender domain for Karbon client lookup\n  const fromAddr = item.json.from?.value?.[0]?.address || item.json.from || '';\n  const domain = (fromAddr.split('@')[1] || '').toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      sender_domain: domain,\n      subject_original: item.json.subject,\n      body_original: item.json.text,\n      subject: safeSubject,\n      body: safeBody,\n    }\n  };\n});\n"},"id":"22da2745-aaf8-4538-bade-49a5f834bab4","name":"2. Redact Sensitive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112]},{"parameters":{"url":"<__PLACEHOLDER_VALUE__Karbon API base URL, e.g. https://api.karbonhq.com/v3/WorkItems__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"={{ 'ClientKey eq ' + $json.sender_domain }}"},{"name":"status","value":"Open"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"963f2e02-f3c3-4b43-97ca-24025b63d925","name":"3. Get Karbon Open Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,112]},{"parameters":{"promptType":"define","text":"=You are sorting an incoming email into the correct work item in our practice management system (Karbon). Here is the email and a list of this client's currently open projects.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY: {{ $json.body }}\n\nOPEN PROJECTS FOR THIS CLIENT:\n{{ JSON.stringify($json) }}\n\nRules:\n- If the email clearly relates to one project (e.g., mentions \"November receipts\" -> matches \"Monthly Bookkeeping - Nov 2025\"), set confidence \"high\"\n- If it could plausibly relate to a project but isn't explicit, set confidence \"medium\"\n- If there's no clear match or this seems like a new/unrelated matter, set matched_project_id to null and confidence \"low\"\n- suggested_category must be one of: Reply, Schedule, Decide, Reference","hasOutputParser":true,"options":{"systemMessage":"You are an email triage classifier for a bookkeeping practice. You ONLY output structured JSON matching the required schema. Never include extra commentary."}},"id":"a6536ef4-b67c-4423-a7a6-51c3396bfde2","name":"4. AI Classify and Match","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[672,112]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-6","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":1024,"temperature":0.1}},"id":"5356adb3-5050-4931-883e-9b2aaffa8c0d","name":"Claude (Classifier)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[688,336],"credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\"matched_project_id\":\"WI-1023\",\"confidence\":\"high\",\"reasoning\":\"Email mentions November receipts, matching the Monthly Bookkeeping - Nov 2025 project.\",\"suggested_category\":\"Reply\"}"},"id":"07f3d35f-7a01-43d9-9afa-e63eff991ff5","name":"Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.output.confidence }}","operator":{"type":"string","operation":"equals"},"rightValue":"high"}],"combinator":"and"},"options":{}},"id":"8cf3ad9e-b34b-4f31-8d46-dda4fea7594c","name":"5. Confident Match?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,112]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to add a note/link to a Work Item, e.g. https://api.karbonhq.com/v3/WorkItems/{id}/Notes__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"work_item_id\": $json.output.matched_project_id,\n  \"note\": \"Auto-assigned by AI workflow. Reasoning: \" + $json.output.reasoning,\n  \"category\": $json.output.suggested_category\n} }}","options":{}},"id":"c2ef6f8a-fb08-44a3-add6-c0b70fec5356","name":"6a. Auto-Link to Karbon Work Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,16]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__Karbon API endpoint to create a Triage item, e.g. https://api.karbonhq.com/v3/Triage__>","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"subject\": $json.subject_original,\n  \"sender_domain\": $json.sender_domain,\n  \"ai_suggested_project\": $json.output.matched_project_id,\n  \"ai_confidence\": $json.output.confidence,\n  \"ai_reasoning\": $json.output.reasoning\n} }}","options":{"response":{"response":{"neverError":true}}}},"id":"0b65fe37-9a63-4dc2-89cf-fb5c34c138ef","name":"6b. Create Karbon Triage Item","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,208]},{"parameters":{"content":"## Karbon API Placeholders\\n\\nThe HTTP Request nodes pointing to Karbon need:\\n1. Your Karbon API base URL\\n2. A \"Karbon API\" credential (Header Auth) with your API key\\n3. Correct endpoint paths for WorkItems / Triage\\n\\nSee Karbon API docs to fill these in.","height":200,"width":300,"color":5},"id":"6b746c77-240a-46d6-a3ba-e0da6dc3f67e","name":"Sticky Note a8aa56c8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-592]},{"parameters":{"content":"## Redaction Step\\n\\nStrips SSNs, EINs, account/routing numbers, and card numbers before anything (including the AI) sees the email content. Tune regex patterns against real samples.","height":200,"width":300,"color":4},"id":"13156e13-7852-40e6-ac59-b92acd63e7b4","name":"Sticky Note e965617c","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,-368]},{"parameters":{"content":"## GOAL\nAutomatically triage incoming client emails for the bookkeeping practice:\n1. Redact sensitive financial data (SSNs, account/routing numbers, etc.) before any AI sees it\n2. Identify which Karbon client and open Work Item (project) the email relates to\n3. Either auto-link high-confidence matches to the right Karbon project, or flag uncertain ones for a quick human decision via Slack\n\nThis replaces manual Triage-to-project assignment in Karbon with an AI-assisted first pass -- human review stays in the loop for anything the AI isn't confident about.\n\nCompanion workflow: \"Karbon Daily Triage Digest\" (separate workflow) handles the once-a-day summary check-in.","height":428,"width":480,"color":7},"id":"44509677-aa71-4331-9bfa-0f5264bded44","name":"Note - Workflow Goal","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-480]},{"parameters":{"content":"## OUTCOME: High Confidence\nWhen the AI is confident (confidence = \"high\"):\n\n- A note is posted directly to the matched Karbon Work Item\n- The note includes the AI's reasoning, so there's an audit trail\n- No human action needed for this email\n\nDuring shadow mode (first 1-2 weeks), route this branch to manual review too — don't let it write to Karbon yet.","height":280,"width":360,"color":4},"id":"10ecc05d-c537-4015-b5f0-3443e3fc0333","name":"Outcome - Auto Assigned","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-416]},{"parameters":{"content":"## OUTCOME: Needs Review\nWhen confidence is \"medium\" or \"low\" (or no client/project match was found):\n\n- A normal Triage item is created in Karbon (unassigned), tagged with the AI's best-guess project + reasoning\n- A Slack message is sent to your review channel with the AI's suggestion and reasoning\n- You make the final call on which project it belongs to\n\nThis is the safety net — nothing gets silently mis-filed.\n\n⚠️ Set the Slack channel ID in 'Notify Manual Review' before activating.","height":280,"width":360,"color":3},"id":"e3f1857f-748a-44a3-a615-1828dd2a67c2","name":"Outcome - Manual Review","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,48]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"REPLACE_WITH_CHANNEL_ID"},"text":"=New Triage item needs manual project assignment:\nFrom domain: {{ $json.sender_domain }}\nSubject: {{ $json.subject_original }}\nAI suggestion: {{ $json.output.matched_project_id }} (confidence: {{ $json.output.confidence }})\nReasoning: {{ $json.output.reasoning }}","otherOptions":{},"resource":"message","operation":"post"},"id":"2a0bd214-7e53-49f3-9559-8f64e419f26b","name":"Notify Manual Review","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1408,128],"webhookId":"a70dd404-ab89-402e-bd1f-6d458d856732","credentials":{"slackOAuth2Api":{"id":null,"name":"Slack"}}}],"connections":{"1. New Client Email":{"main":[[{"node":"2. Redact Sensitive Data","type":"main","index":0}]]},"2. Redact Sensitive Data":{"main":[[{"node":"3. Get Karbon Open Projects","type":"main","index":0}]]},"3. Get Karbon Open Projects":{"main":[[{"node":"4. AI Classify and Match","type":"main","index":0}]]},"4. AI Classify and Match":{"main":[[{"node":"5. Confident Match?","type":"main","index":0}]]},"Claude (Classifier)":{"ai_languageModel":[[{"node":"4. AI Classify and Match","type":"ai_languageModel","index":0}]]},"Classification Schema":{"ai_outputParser":[[{"node":"4. AI Classify and Match","type":"ai_outputParser","index":0}]]},"5. Confident Match?":{"main":[[{"node":"6a. Auto-Link to Karbon Work Item","type":"main","index":0}],[{"node":"6b. Create Karbon Triage Item","type":"main","index":0}]]},"6b. Create Karbon Triage Item":{"main":[[{"node":"Notify Manual Review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"57627587-5427-426e-921e-36d4235b76de","activeVersionId":null,"versionCounter":14,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-14T21:23:58.329Z","createdAt":"2026-06-14T21:23:58.329Z","role":"workflow:owner","workflowId":"xli8LyVOd7MiICKD","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}