clifton_home/2026/02/Webhook: Google Drive → S3/f5OEi1lDDOoD62v3.json
{"updatedAt":"2026-02-22T17:00:02.219Z","createdAt":"2026-02-22T13:51:13.161Z","id":"f5OEi1lDDOoD62v3","name":"Webhook: Google Drive → S3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gdrive-to-youtube","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"e6e68b65-7c8f-4fb0-a92d-883c8b29b8fa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"gdrive-to-youtube","credentials":{"httpBasicAuth":{"id":"khnOcyPzBNS04vao","name":"HBF Webhook credential"}},"notes":"POST to this webhook with JSON body:\n{\n  \"fileId\": \"your-google-drive-file-id\",\n  \"title\": \"Video Title\",\n  \"description\": \"Video description\",\n  \"visibility\": \"public\"\n}\n\nOnly fileId is required. Others have defaults."},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": {{ $json.success }},\n  \"fileName\": {{ $('Download file').item.binary.data.fileName }},\n  \"url\": \"https://videos.s3.clifton.quest/{{ encodeURIComponent($('Download file').item.binary.data.fileName) }}\"\n}\n","options":{}},"id":"74bea66d-1ef3-4a5a-b408-ff416e79ddcf","name":"Format Webhook Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-16],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.fileId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,0],"id":"300c650b-2e34-484a-a673-9dbc10a2c6e6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"1Xu66ZpszswYxX8J","name":"HBF Drive"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,160],"id":"bc42f89d-df55-4c38-a250-88ae1574ad36","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upload","bucketName":"/videos","fileName":"={{ $binary.data.fileName }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[624,0],"id":"eca06b91-5af2-48ce-b720-ccc0735b38c5","name":"Upload a file","credentials":{"s3":{"id":"DkFtVBFGpMoYmCyd","name":"Videos S3 account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nif (!body.fileId) {\n  throw new Error('Missing required field: fileId');\n}\n\nreturn [{\n  json: {\n    fileId: body.fileId,\n    videoTitle: body.videoTitle || 'Untitled Video',\n    videoDescription: body.videoDescription || '',\n    visibility: body.visibility || 'private',\n    tags: body.tags || []\n  }\n}];"},"id":"77025ac8-6a5a-46ea-8935-0112e1c596a8","name":"Validate & Set Defaults","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"notes":"Validates that fileId is present and sets sensible defaults for optional fields."},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1120,-16],"id":"696689b9-1f53-4036-9b6a-8a3e692618b1","name":"Respond to Webhook"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": \"false\",\n  \"fileName\": \"\",\n  \"url\": \"\"\n}\n","options":{}},"id":"bf188197-8559-4dde-bf24-1ca5cb31f038","name":"Format Webhook Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,192],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."}],"connections":{"Webhook":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Format Webhook Response","type":"main","index":0}],[{"node":"Format Webhook Response1","type":"main","index":0}]]},"Validate & Set Defaults":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Format Webhook Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Format Webhook Response1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"lumsfsJn-11VSs7gepTrz","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"fileId":"1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l","videoTitle":"Untitled test Video","videoDescription":"test","visibility":"private","tags":[]}}]},"versionId":"32952f68-fa1d-42a0-9486-04168eba785a","activeVersionId":"32952f68-fa1d-42a0-9486-04168eba785a","versionCounter":247,"triggerCount":1,"shared":[{"updatedAt":"2026-02-22T13:51:13.161Z","createdAt":"2026-02-22T13:51:13.161Z","role":"workflow:owner","workflowId":"f5OEi1lDDOoD62v3","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-22T17:00:04.501Z","createdAt":"2026-02-22T17:00:02.220Z","versionId":"32952f68-fa1d-42a0-9486-04168eba785a","workflowId":"f5OEi1lDDOoD62v3","nodes":[{"parameters":{"httpMethod":"POST","path":"gdrive-to-youtube","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"e6e68b65-7c8f-4fb0-a92d-883c8b29b8fa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"gdrive-to-youtube","credentials":{"httpBasicAuth":{"id":"khnOcyPzBNS04vao","name":"HBF Webhook credential"}},"notes":"POST to this webhook with JSON body:\n{\n  \"fileId\": \"your-google-drive-file-id\",\n  \"title\": \"Video Title\",\n  \"description\": \"Video description\",\n  \"visibility\": \"public\"\n}\n\nOnly fileId is required. Others have defaults."},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": {{ $json.success }},\n  \"fileName\": {{ $('Download file').item.binary.data.fileName }},\n  \"url\": \"https://videos.s3.clifton.quest/{{ encodeURIComponent($('Download file').item.binary.data.fileName) }}\"\n}\n","options":{}},"id":"74bea66d-1ef3-4a5a-b408-ff416e79ddcf","name":"Format Webhook Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-16],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.fileId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,0],"id":"300c650b-2e34-484a-a673-9dbc10a2c6e6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"1Xu66ZpszswYxX8J","name":"HBF Drive"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,160],"id":"bc42f89d-df55-4c38-a250-88ae1574ad36","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upload","bucketName":"/videos","fileName":"={{ $binary.data.fileName }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[624,0],"id":"eca06b91-5af2-48ce-b720-ccc0735b38c5","name":"Upload a file","credentials":{"s3":{"id":"DkFtVBFGpMoYmCyd","name":"Videos S3 account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nif (!body.fileId) {\n  throw new Error('Missing required field: fileId');\n}\n\nreturn [{\n  json: {\n    fileId: body.fileId,\n    videoTitle: body.videoTitle || 'Untitled Video',\n    videoDescription: body.videoDescription || '',\n    visibility: body.visibility || 'private',\n    tags: body.tags || []\n  }\n}];"},"id":"77025ac8-6a5a-46ea-8935-0112e1c596a8","name":"Validate & Set Defaults","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"notes":"Validates that fileId is present and sets sensible defaults for optional fields."},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1120,-16],"id":"696689b9-1f53-4036-9b6a-8a3e692618b1","name":"Respond to Webhook"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": \"false\",\n  \"fileName\": \"\",\n  \"url\": \"\"\n}\n","options":{}},"id":"bf188197-8559-4dde-bf24-1ca5cb31f038","name":"Format Webhook Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,192],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."}],"connections":{"Webhook":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Format Webhook Response","type":"main","index":0}],[{"node":"Format Webhook Response1","type":"main","index":0}]]},"Validate & Set Defaults":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Format Webhook Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Format Webhook Response1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Zac Clifton","name":"Version 32952f68","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-22T17:00:04.489Z","id":47,"workflowId":"f5OEi1lDDOoD62v3","versionId":"32952f68-fa1d-42a0-9486-04168eba785a","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}]}}