clifton_home/2026/01/HARO Opportunity Matcher and Response Generator/pZrIFVjEL_FbznFr5VQMV.json
{"updatedAt":"2026-02-09T20:02:12.234Z","createdAt":"2026-01-26T20:17:07.127Z","id":"pZrIFVjEL_FbznFr5VQMV","name":"HARO Opportunity Matcher and Response Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":5}]},"filters":{"sender":"haro@helpareporter.com"}},"id":"529a4aed-3e52-4411-90f7-40394c3b9ca5","name":"Watch for HARO Emails","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[944,864],"credentials":{"gmailOAuth2":{"id":"UfGdgK49wgVcM0yE","name":"Zac Gmail"}}},{"parameters":{"operation":"executeQuery","query":"SELECT email_id FROM processed_haro_emails","options":{}},"id":"01464450-faa7-41db-91fa-7f5e979db58a","name":"Get Processed HARO Email IDs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,1008],"alwaysOutputData":true,"credentials":{"postgres":{"id":"dXDqCSpSeQj6nWD4","name":"Neon Home DB"}}},{"parameters":{"mode":"chooseBranch"},"id":"f98bfa5a-8cfc-4952-82dd-aee3ef893502","name":"Wait for Email Data and DB","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1392,864]},{"parameters":{"promptType":"define","text":"={{ $json.html }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at analyzing HARO (Help A Reporter Out) emails to identify opportunities for subject matter experts.\n\nYour task is to:\n1. Read the HARO email content carefully\n2. Identify any queries where the following expertise would be valuable:\n   - Kubernetes and software infrastructure\n   - Enterprise software architecture\n   - Software development and SaaS products\n   - Business automation at scale\n   - AI automation for businesses\n   - Private aviation/piloting\n   - Location-specific: Louisville, Kentucky\n\n3. For each relevant opportunity, extract:\n   - The reporter's query/request\n   - Why this person's expertise matches\n   - The deadline (if mentioned)\n   - Contact information for the reporter\n\n4. Only return opportunities that are a strong match for the expertise areas listed above\n5. If no relevant opportunities are found, return an empty array\n\nReturn your findings in the structured format defined by the output parser."}},"id":"a549fd23-9273-48b0-abae-8fe0599cad5d","name":"Analyze HARO Opportunities","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2080,864]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"opportunities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"query\": {\n            \"type\": \"string\"\n          },\n          \"matchReason\": {\n            \"type\": \"string\"\n          },\n          \"deadline\": {\n            \"type\": \"string\"\n          },\n          \"contactInfo\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"hasRelevantOpportunities\": {\n      \"type\": \"boolean\"\n    }\n  }\n}"},"id":"f120d36a-db27-4697-a5a6-5aa1ab79ecaf","name":"Structure Opportunity Data","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2224,1088]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.output.opportunities.length }}","rightValue":1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"edb15550-41d8-4a5c-8341-df6711f304d2","name":"Found Relevant Opportunities?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2384,864]},{"parameters":{"promptType":"define","text":"=Opportunity: {{ $json.query }}\n\nWhy I match: {{ $json.matchReason }}\n\nDeadline: {{ $json.deadline }}\n\nContact: {{ $json.contactInfo }}","hasOutputParser":true,"options":{"systemMessage":" You are an expert at crafting professional, compelling responses to HARO (Help A Reporter Out) queries. Your goal is to craft responses that reporters will actually use — conversational, genuinely helpful, and easy to quote.\n                                                                                                                                                                                                                                                                            \n  Your Task                                                                                                                                                                                                                                                                 \n\n  1. Review the opportunity details provided\n  2. Identify what type of query the reporter is making (quote, interview source, or data/case study)\n  3. Draft a response using the appropriate strategy below\n  4. Ensure the response introduces the expert, explains relevant expertise, provides a thoughtful answer, and offers to provide additional information\n\n  About the Expert\n\n  - Kubernetes and software infrastructure specialist\n  - Enterprise software architect\n  - Software developer and SaaS founder\n  - Private pilot\n  - Based in Louisville, Kentucky\n  - Business automation at scale specialist\n  - AI automation consultant for businesses\n\n  IMPORTANT: The expert's day job is under NDA — NEVER mention Waystar or reference a day job employer. You CAN and SHOULD mention the expert's own businesses and side ventures by name when relevant. Frame the expert through their own work, not their employer.\n\n  Dual-Audience Awareness\n\n  Reporters write for a general audience, but they need technically credible sources. Your response must work on two levels:\n  - The outside (general audience): Explain technical concepts in plain language. Use analogies and real-world examples. Assume the person reading has zero technical knowledge. If the query is about infrastructure, AI, or software — translate it into terms anyone can\n  understand.\n  - The inside (technical credibility): Show enough depth that the reporter trusts you actually know what you're talking about. Reference specific technologies, methodologies, or outcomes — but always follow up with what it means in plain English.\n\n  The goal: a reporter with no tech background should understand every word, while a technical reader should recognize genuine expertise behind it.\n\n  Response Strategy — Adapt to Query Type\n\n  If the reporter is looking for a quote or expert opinion:\n  - Open with a punchy, quotable 1-2 sentence statement that directly answers their question\n  - Follow with a brief supporting explanation (2-3 sentences)\n  - Close with a one-liner offering to elaborate\n\n  If the reporter is looking for an expert source to interview:\n  - Open with a concise intro: who you are and why you're relevant to this topic\n  - Provide 2-3 concrete talking points you could expand on in an interview\n  - Close with availability and preferred contact method\n\n  If the reporter is looking for data, examples, or a case study:\n  - Lead with the specific data point, example, or story that matches their request\n  - Provide context around it (what happened, why it matters)\n  - Offer to share more details or connect for follow-up\n\n  Pitching Guidelines (MUST FOLLOW)\n\n  - Keep it under 200 words — reporters skip long emails, be ruthlessly concise\n  - Include credentials and links — mention relevant titles, company names, portfolio URLs, LinkedIn, or published work that establishes authority on the topic\n\n  Tone & Style Rules\n\n  - Conversational and human — write like a real person, not a press release\n  - No corporate jargon or buzzwords (avoid \"leverage\", \"synergy\", \"thought leader\")\n  - Be genuinely helpful to the reporter, not self-promotional\n  - Use first person (\"I\", \"my team\", \"we built\")\n  - Keep it scannable — reporters read hundreds of these, shorter is better\n\n  Your tone should be very concise and informational and explain technical things in clear language. Assume that the person reading has no technical knowledge that I do.\n\n  Format\n\n  Return a JSON object with two fields:\n  - subject: Extract the query title — use the text that appears BEFORE the first \":\" in the opportunity query. Use that exact text as the subject line, nothing else.\n  - message: The email body text broken down into clear parts: (1) a direct answer to the query, (2) why you're qualified with credentials/links, (3) an offer to provide more. No greeting or signature block — start directly with the substance."}},"id":"6122ccd3-e57d-4a06-bf67-bdd11441f9bb","name":"Generate Response Draft","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3088,960]},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"builtInTools":{"webSearch":{"searchContextSize":"high"}},"options":{}},"id":"434924f7-3e7c-4f16-bb09-9cf0884dfe08","name":"OpenAI GPT-4 for Response","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3088,1136],"credentials":{"openAiApi":{"id":"QIZjLJ92uPOcCDE8","name":"OpenAi account"}}},{"parameters":{"schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"processed_haro_emails"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"email_id","displayName":"email_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9995cfef-9888-40b0-97e3-22ef41046cd8","name":"Mark Email as Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3632,784],"credentials":{"postgres":{"id":"dXDqCSpSeQj6nWD4","name":"Neon Home DB"}}},{"parameters":{"jsCode":"// Get emails from the trigger\nconst emails = $(\"Watch for HARO Emails\").all();\n\n// Get processed email IDs from database\nconst processedEmailIds = $(\"Get Processed HARO Email IDs\").all().map(item => item.json.email_id);\n\n// Filter out emails whose id exists in the processed list\nconst unprocessedEmails = emails.filter(email => {\n  return !processedEmailIds.includes(email.json.id);\n});\n\nreturn unprocessedEmails;"},"id":"c59df508-74dd-4453-b6f4-afb55b99206f","name":"Filter Unprocessed Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,864]},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1840,864],"id":"a1b59f64-2da8-480d-ad61-a783391e3265","name":"Get a message","webhookId":"8fee9b57-c868-4fd7-8a34-d4cb49402450","credentials":{"gmailOAuth2":{"id":"UfGdgK49wgVcM0yE","name":"Zac Gmail"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"gpt-5.2"},"builtInTools":{},"options":{}},"id":"8ee3e1eb-f74c-4e76-be84-bdc10c024d27","name":"OpenAI GPT-5.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2080,1088],"credentials":{"openAiApi":{"id":"QIZjLJ92uPOcCDE8","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2848,848],"id":"f3e3df1e-9a68-4d1d-a401-3c9af438e386","name":"Loop Over Items"},{"parameters":{"resource":"draft","subject":"={{ $json.subject }}","message":"={{ $json.output.message }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3440,976],"id":"72bf9f11-b1ec-4e69-b60f-cdc9eda5017c","name":"Create a draft","webhookId":"8e0302c3-6e7b-4b25-90f6-cae272985fe5","credentials":{"gmailOAuth2":{"id":"UfGdgK49wgVcM0yE","name":"Zac Gmail"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"subject\": {\n    \"type\": \"string\"\n  },\n  \"message\": {\n    \"type\": \"string\"\n  }\n}"},"id":"994dcc03-f075-4240-811e-0f27fe782425","name":"Structure Opportunity Data1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3264,1184]},{"parameters":{"jsCode":"return $input.all().flatMap(item =>\n  (item.json.output.opportunities || []).map(opp => ({ json: opp }))\n);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,848],"id":"15161ce0-0745-43cb-b4f4-b99a1f782847","name":"Split Out Opportunities"}],"connections":{"Watch for HARO Emails":{"main":[[{"node":"Wait for Email Data and DB","type":"main","index":0},{"node":"Get Processed HARO Email IDs","type":"main","index":0}]]},"Get Processed HARO Email IDs":{"main":[[{"node":"Wait for Email Data and DB","type":"main","index":1}]]},"Wait for Email Data and DB":{"main":[[{"node":"Filter Unprocessed Emails","type":"main","index":0}]]},"Analyze HARO Opportunities":{"main":[[{"node":"Found Relevant Opportunities?","type":"main","index":0}]]},"Structure Opportunity Data":{"ai_outputParser":[[{"node":"Analyze HARO Opportunities","type":"ai_outputParser","index":0}]]},"Found Relevant Opportunities?":{"main":[[{"node":"Split Out Opportunities","type":"main","index":0}]]},"Generate Response Draft":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"OpenAI GPT-4 for Response":{"ai_languageModel":[[{"node":"Generate Response Draft","type":"ai_languageModel","index":0}]]},"Filter Unprocessed Emails":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Analyze HARO Opportunities","type":"main","index":0}]]},"OpenAI GPT-5.2":{"ai_languageModel":[[{"node":"Analyze HARO Opportunities","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Mark Email as Processed","type":"main","index":0}],[{"node":"Generate Response Draft","type":"main","index":0}]]},"Create a draft":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structure Opportunity Data1":{"ai_outputParser":[[{"node":"Generate Response Draft","type":"ai_outputParser","index":0}]]},"Split Out Opportunities":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0063c148-78bd-4baf-bbbb-1782926e995b","activeVersionId":null,"versionCounter":162,"triggerCount":0,"shared":[{"updatedAt":"2026-01-26T20:17:07.127Z","createdAt":"2026-01-26T20:17:07.127Z","role":"workflow:owner","workflowId":"pZrIFVjEL_FbznFr5VQMV","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-02-09T08:33:31.148Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770390580432}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}