hbf_online/2025/12/Google Drive Content to Multi-Platform Social Media and Marketing Assets Generator/bIKpmszrAHuqV1lv.json
{"updatedAt":"2026-01-02T02:02:01.946Z","createdAt":"2025-12-14T18:14:45.428Z","id":"bIKpmszrAHuqV1lv","name":"Google Drive Content to Multi-Platform Social Media and Marketing Assets Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":2}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/u/4/folders/1Dxah316PbgwYhYpP3vLkA3-Qe4S8hxbL","mode":"url"},"event":"fileCreated","options":{"fileType":"all"}},"id":"9a115759-27e1-4cd0-badb-ccbecdb74965","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1200,1152],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a LinkedIn content specialist. Create 3 engaging LinkedIn posts based on the provided content.\n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners\nThese are founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K–$10M in annual revenue. They're operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators\nOften the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\n\nLanguage Guidelines\nUse This Language\n\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: Approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\n\nAvoid This Language\n\nJargon or accounting-speak the audience won't know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliché without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: Avoid assuming the business owner is male or that \"the wife does the books\"\n\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers — not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it's handled. The content should feel like talking to someone who gets their situation and won't waste their time.\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct LinkedIn posts with different angles or perspectives that reflect the ideas presented in the content\n3. Each post should be professional but personal, engaging but slightly edgy and unique, and optimized for LinkedIn\n4. Each sentence should be on its own line\n5. Keep posts between 150-300 words each\n6. use ; instead of m-dash\n\nReturn the posts in the structured format."}},"id":"777d4910-1e52-4cdd-88c4-1c4220ea2669","name":"Generate LinkedIn Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-16,-80]},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a Facebook content specialist amazing at being indirect to the ICP. Create 2 engaging Facebook posts based on the provided content from my perspective. \n\nTarget Audience Profile\nPrimary ICP: Small to Mid-Sized Service Business Owners\nThese are founders, owners, and financial decision-makers at service-based businesses (consultancies, agencies, professional services, contractors, healthcare practices, legal firms) typically generating $500K–$10M in annual revenue. They're operationally focused, time-starved, and view bookkeeping as a necessary function rather than a strategic interest. Many have been burned by unreliable bookkeepers or outgrown DIY solutions like QuickBooks Self-Employed.\nSecondary ICP: Operations Managers & Office Administrators\nOften the person actually researching and vetting bookkeeping providers. Pragmatic, detail-oriented, looking for reliability signals and clear scope of service.\n\nLanguage Guidelines\nUse This Language\n\nPlain, direct business language: \"clean books,\" \"monthly close,\" \"catch up bookkeeping,\" \"accounts payable/receivable\"\nOutcome-focused phrasing: \"know your numbers,\" \"make confident decisions,\" \"tax-ready financials,\" \"sleep better at month-end\"\nWarm but professional tone: Approachable without being cutesy. These are busy people who want competence, not cleverness.\nConcrete specifics: \"reconciled within 5 business days,\" \"dedicated bookkeeper,\" \"weekly/monthly reporting\"\nAcknowledgment of pain points: \"behind on your books,\" \"dreading tax season,\" \"outgrown spreadsheets,\" \"too busy to chase receipts\"\nTrust signals in natural language: \"secure,\" \"experienced,\" \"US-based team,\" \"industry-specific expertise\"\n\nAvoid This Language\n\nJargon or accounting-speak the audience won't know: \"GAAP compliance\" (unless targeting CFOs), \"accrual basis\" without explanation, \"chart of accounts optimization\"\nOverly corporate or stiff phrasing: \"leverage synergies,\" \"holistic financial solutions,\" \"best-in-class methodologies\"\nHype or startup-speak: \"disrupt,\" \"revolutionize,\" \"game-changing,\" \"AI-powered\" (unless genuinely relevant and explained)\nCondescending or fear-based language: \"you're probably making these mistakes,\" \"the IRS is watching,\" \"don't get caught\"\nVague value props: \"we handle your finances,\" \"peace of mind\" (overused), \"focus on what you do best\" (cliché without specifics)\nOverly casual or quirky tone: \"let's crush those numbers!\", \"bookkeeping that slaps,\" excessive exclamation points\nGendered assumptions: Avoid assuming the business owner is male or that \"the wife does the books\"\n\n\nTone Calibration\nThink: a competent colleague who happens to be great with numbers — not a stuffy accountant, not a bubbly marketing persona. The voice should convey quiet confidence and reliability. These business owners want to hand off a problem and trust it's handled. The content should feel like talking to someone who gets their situation and won't waste their time.\n\nYour task is to:\n1. Analyze the source content\n2. Create 2 distinct Facebook posts with different tones (the hard work getting to know this knowledge and the actual learning itself)\n3. Each post should be engaging but slightly edgy and unique, and optimized for Facebook\n4. Each post should be from the first-person perspective of an individual experience\n5. Keep posts short and generally under 100 words each\n6. use ; instead of m-dash\n\nDon'ts:\n1. talk about my own books\n2.always talk about other people doing their books in spreadsheets, never myself\n\nReturn the posts in the structured format."}},"id":"856ed07b-7166-4906-8941-bf021ef0f38c","name":"Generate Facebook Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,368]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an Instagram content specialist. Create 3 engaging Instagram captions with picture suggestions based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct Instagram captions\n3. Each caption should be engaging, use emojis, and include relevant hashtags\n4. Provide a detailed picture suggestion for each caption\n5. Keep captions between 50-150 words each\n\nReturn the captions and picture suggestions in the structured format."}},"id":"5117aae0-86e6-4664-9631-c110f1e9cd53","name":"Generate Instagram Captions","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,800]},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are an email newsletter specialist. Create an engaging newsletter paragraph based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Write a compelling newsletter paragraph that summarizes key points\n3. Make it engaging and actionable\n4. Include a call-to-action\n5. Keep the paragraph between 100-200 words\n6. Each sentence should be on its own line\n\nReturn the paragraph in the structured format."}},"id":"34b8cf68-c4eb-42f6-8f14-0593934a8387","name":"Generate Email Newsletter Paragraph","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,1200]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a blog content strategist. Create a comprehensive blog outline based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create a detailed blog outline with:\n   - Title\n   - Introduction\n   - 5-7 main sections with subsections\n   - Conclusion\n3. Each section should have a clear purpose and key points\n4. Include SEO considerations\n\nReturn the outline in the structured format."}},"id":"acf38bb3-8cbd-4d5c-bc99-a393e46d90ed","name":"Generate Blog Outline","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,1600]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a visual content specialist. Create 3 rough diagram descriptions based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Identify 3 key concepts that would benefit from visual representation\n3. For each diagram, provide:\n   - Title\n   - Type (flowchart, infographic, comparison chart, process diagram, etc.)\n   - Detailed description of elements and layout\n   - Key data points or concepts to visualize\n4. Make descriptions detailed enough for a designer to create the diagram\n\nReturn the diagram descriptions in the structured format."}},"id":"a764e576-753b-4b52-98e8-8aa3ae1dfa7e","name":"Generate Diagram Descriptions","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,2112]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"a5c07ac3-fe94-4ecc-bdb8-9877ffa4b3f6","name":"LinkedIn Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,112]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"},\n          \"tone\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"25d0f49f-c9df-4cc7-aab9-832cb0e42b47","name":"Facebook Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[144,592]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"captions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"caption\": {\"type\": \"string\"},\n          \"pictureSuggestion\": {\"type\": \"string\"},\n          \"hashtags\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"cbd90a7e-8d56-4ea3-a6bd-73e2f98231b2","name":"Instagram Captions Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,1024]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"paragraph\": {\"type\": \"string\"},\n    \"callToAction\": {\"type\": \"string\"}\n  }\n}"},"id":"29e5a01f-1013-41ed-a041-c8c597563aaa","name":"Email Newsletter Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[192,1424]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\"type\": \"string\"},\n    \"introduction\": {\"type\": \"string\"},\n    \"sections\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"heading\": {\"type\": \"string\"},\n          \"subsections\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          },\n          \"keyPoints\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          }\n        }\n      }\n    },\n    \"conclusion\": {\"type\": \"string\"}\n  }\n}"},"id":"491f68e8-8b66-4c1a-a008-5a683494600e","name":"Blog Outline Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,1824]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"diagrams\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\"type\": \"string\"},\n          \"type\": {\"type\": \"string\"},\n          \"description\": {\"type\": \"string\"},\n          \"elements\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          }\n        }\n      }\n    }\n  }\n}"},"id":"a56ab538-94eb-4072-b9e1-9ae0646ccc11","name":"Diagram Descriptions Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[320,2384],"disabled":true},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-976,1152],"id":"b3065282-8b46-4d04-9587-4cf744b1c65e","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-16,112],"id":"ee336c02-f1f6-4e67-b958-75b9b0bb5e4d","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"resource":"posts","operation":"create","content":"test","isDraft":true,"selectedPlatforms":["linkedin"],"mediaItems":{"items":[]},"requestOptions":{}},"type":"n8n-nodes-late.late","typeVersion":1,"position":[336,-80],"id":"950a7848-b6fa-40c7-951f-93020b1fee52","name":"Create post","credentials":{"lateApi":{"id":"0fBPVuROIAvtSjKY","name":"LATE account"}},"disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[0,592],"id":"5639615e-7453-4892-a22d-470f2f655f85","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"LinkedIn Posts Parser":{"ai_outputParser":[[{"node":"Generate LinkedIn Posts","type":"ai_outputParser","index":0}]]},"Facebook Posts Parser":{"ai_outputParser":[[{"node":"Generate Facebook Posts","type":"ai_outputParser","index":0}]]},"Instagram Captions Parser":{"ai_outputParser":[[{"node":"Generate Instagram Captions","type":"ai_outputParser","index":0}]]},"Email Newsletter Parser":{"ai_outputParser":[[{"node":"Generate Email Newsletter Paragraph","type":"ai_outputParser","index":0}]]},"Blog Outline Parser":{"ai_outputParser":[[{"node":"Generate Blog Outline","type":"ai_outputParser","index":0}]]},"Diagram Descriptions Parser":{"ai_outputParser":[[{"node":"Generate Diagram Descriptions","type":"ai_outputParser","index":0}]]},"Get a document":{"main":[[{"node":"Generate LinkedIn Posts","type":"main","index":0},{"node":"Generate Facebook Posts","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Generate LinkedIn Posts","type":"ai_languageModel","index":0}]]},"Generate LinkedIn Posts":{"main":[[{"node":"Create post","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Generate Facebook Posts","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69785c23-2715-42e4-b93a-32b299af448d","activeVersionId":null,"versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T18:14:45.433Z","createdAt":"2025-12-14T18:14:45.433Z","role":"workflow:owner","workflowId":"bIKpmszrAHuqV1lv","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-02T05:05:56.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1767220479000}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-02","isPending":false}}]}}],"tags":[],"activeVersion":null}