hbf_online/2025/12/Google Drive Content to Multi-Platform Social Media and Marketing Assets Generator/bIKpmszrAHuqV1lv.json
{"updatedAt":"2025-12-27T18:38:36.107Z","createdAt":"2025-12-14T18:14:45.428Z","id":"bIKpmszrAHuqV1lv","name":"Google Drive Content to Multi-Platform Social Media and Marketing Assets Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/u/4/folders/1Dxah316PbgwYhYpP3vLkA3-Qe4S8hxbL","mode":"url"},"event":"fileCreated","options":{"fileType":"all"}},"id":"9a115759-27e1-4cd0-badb-ccbecdb74965","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-880,1136],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a LinkedIn content specialist. Create 3 engaging LinkedIn posts based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct LinkedIn posts with different angles or perspectives\n3. Each post should be professional, engaging, and optimized for LinkedIn\n4. Include relevant hashtags\n5. Keep posts between 150-300 words each\n\nReturn the posts in the structured format."}},"id":"777d4910-1e52-4cdd-88c4-1c4220ea2669","name":"Generate LinkedIn Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a Facebook content specialist. Create 3 engaging Facebook posts based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct Facebook posts with different tones (informative, conversational, inspirational)\n3. Each post should be engaging and optimized for Facebook\n4. Include emojis where appropriate\n5. Keep posts between 100-250 words each\n\nReturn the posts in the structured format."}},"id":"856ed07b-7166-4906-8941-bf021ef0f38c","name":"Generate Facebook Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,368]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an Instagram content specialist. Create 3 engaging Instagram captions with picture suggestions based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create 3 distinct Instagram captions\n3. Each caption should be engaging, use emojis, and include relevant hashtags\n4. Provide a detailed picture suggestion for each caption\n5. Keep captions between 50-150 words each\n\nReturn the captions and picture suggestions in the structured format."}},"id":"5117aae0-86e6-4664-9631-c110f1e9cd53","name":"Generate Instagram Captions","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,800]},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are an email newsletter specialist. Create an engaging newsletter paragraph based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Write a compelling newsletter paragraph that summarizes key points\n3. Make it engaging and actionable\n4. Include a call-to-action\n5. Keep the paragraph between 100-200 words\n6. Each sentence should be on its own line\n\nReturn the paragraph in the structured format."}},"id":"34b8cf68-c4eb-42f6-8f14-0593934a8387","name":"Generate Email Newsletter Paragraph","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,1200]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a blog content strategist. Create a comprehensive blog outline based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Create a detailed blog outline with:\n   - Title\n   - Introduction\n   - 5-7 main sections with subsections\n   - Conclusion\n3. Each section should have a clear purpose and key points\n4. Include SEO considerations\n\nReturn the outline in the structured format."}},"id":"acf38bb3-8cbd-4d5c-bc99-a393e46d90ed","name":"Generate Blog Outline","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,1600]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a visual content specialist. Create 3 rough diagram descriptions based on the provided content.\n\nYour task is to:\n1. Analyze the source content\n2. Identify 3 key concepts that would benefit from visual representation\n3. For each diagram, provide:\n   - Title\n   - Type (flowchart, infographic, comparison chart, process diagram, etc.)\n   - Detailed description of elements and layout\n   - Key data points or concepts to visualize\n4. Make descriptions detailed enough for a designer to create the diagram\n\nReturn the diagram descriptions in the structured format."}},"id":"a764e576-753b-4b52-98e8-8aa3ae1dfa7e","name":"Generate Diagram Descriptions","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,2112]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"},\n          \"hashtags\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"a5c07ac3-fe94-4ecc-bdb8-9877ffa4b3f6","name":"LinkedIn Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[144,224]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"post\": {\"type\": \"string\"},\n          \"tone\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"25d0f49f-c9df-4cc7-aab9-832cb0e42b47","name":"Facebook Posts Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,624]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"captions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"caption\": {\"type\": \"string\"},\n          \"pictureSuggestion\": {\"type\": \"string\"},\n          \"hashtags\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"cbd90a7e-8d56-4ea3-a6bd-73e2f98231b2","name":"Instagram Captions Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,1024]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"paragraph\": {\"type\": \"string\"},\n    \"callToAction\": {\"type\": \"string\"}\n  }\n}"},"id":"29e5a01f-1013-41ed-a041-c8c597563aaa","name":"Email Newsletter Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[192,1424]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\"type\": \"string\"},\n    \"introduction\": {\"type\": \"string\"},\n    \"sections\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"heading\": {\"type\": \"string\"},\n          \"subsections\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          },\n          \"keyPoints\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          }\n        }\n      }\n    },\n    \"conclusion\": {\"type\": \"string\"}\n  }\n}"},"id":"491f68e8-8b66-4c1a-a008-5a683494600e","name":"Blog Outline Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[80,1824]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"diagrams\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\"type\": \"string\"},\n          \"type\": {\"type\": \"string\"},\n          \"description\": {\"type\": \"string\"},\n          \"elements\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"}\n          }\n        }\n      }\n    }\n  }\n}"},"id":"a56ab538-94eb-4072-b9e1-9ae0646ccc11","name":"Diagram Descriptions Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[320,2384],"disabled":true},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-608,1152],"id":"b3065282-8b46-4d04-9587-4cf744b1c65e","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"ByJjCT3OVAzPoSIr","name":"Google Docs account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-448,1392],"id":"ee336c02-f1f6-4e67-b958-75b9b0bb5e4d","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"LinkedIn Posts Parser":{"ai_outputParser":[[{"node":"Generate LinkedIn Posts","type":"ai_outputParser","index":0}]]},"Facebook Posts Parser":{"ai_outputParser":[[{"node":"Generate Facebook Posts","type":"ai_outputParser","index":0}]]},"Instagram Captions Parser":{"ai_outputParser":[[{"node":"Generate Instagram Captions","type":"ai_outputParser","index":0}]]},"Email Newsletter Parser":{"ai_outputParser":[[{"node":"Generate Email Newsletter Paragraph","type":"ai_outputParser","index":0}]]},"Blog Outline Parser":{"ai_outputParser":[[{"node":"Generate Blog Outline","type":"ai_outputParser","index":0}]]},"Diagram Descriptions Parser":{"ai_outputParser":[[{"node":"Generate Diagram Descriptions","type":"ai_outputParser","index":0}]]},"Get a document":{"main":[[{"node":"Generate Email Newsletter Paragraph","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Generate LinkedIn Posts","type":"ai_languageModel","index":0},{"node":"Generate Email Newsletter Paragraph","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d95ab0c5-5682-4a7e-bcd0-99d005808a57","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-14T18:14:45.433Z","createdAt":"2025-12-14T18:14:45.433Z","role":"workflow:owner","workflowId":"bIKpmszrAHuqV1lv","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2025-12-29T05:20:48.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-29","isPending":false}}]}}],"tags":[],"activeVersion":null}