hbf_online/2026/02/Descript to YouTube Video Publisher with Scheduling/XolX2riCmBfsdYUG.json
{"updatedAt":"2026-02-17T02:11:18.219Z","createdAt":"2026-02-16T21:40:09.773Z","id":"XolX2riCmBfsdYUG","name":"Descript to YouTube Video Publisher with Scheduling","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"199341c6-1fee-40dc-931d-f20a09b0f163","name":"Check for Completed Videos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[256,304]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"descriptFolderId","value":"dc0e3489-05d8-4654-b2b6-29150b552881","type":"string"},{"id":"id-2","name":"descriptApiBaseUrl","value":"https://api.descript.com/v1","type":"string"}]},"options":{}},"id":"68be5701-e665-4ca2-8470-6d819cd89c2e","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,304],"disabled":true},{"parameters":{"url":"={{ $('Workflow Configuration').item.json.descriptApiBaseUrl + '/projects?folder_id=' + $('Workflow Configuration').item.json.descriptFolderId }}","authentication":"genericCredentialType","genericAuthType":"descriptApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"5b547fc5-480c-4567-8f68-c084f4974421","name":"Get Completed Videos from Descript","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,304]},{"parameters":{"url":"={{ $('Workflow Configuration').item.json.descriptApiBaseUrl + '/projects/' + $('Split Out Videos').item.json.id + '/transcript' }}","authentication":"genericCredentialType","genericAuthType":"descriptApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"b534bb87-ae26-438c-8577-ca50015c2d82","name":"Get Video Transcript","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1536,288]},{"parameters":{"dataTableId":{"__rl":true,"value":"SDUClIjwXGJpBhU0","mode":"list","cachedResultName":"YT_Videos","cachedResultUrl":"/projects/c3pwUnwZOCkl3kSS/datatables/SDUClIjwXGJpBhU0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"youtube_title","displayName":"youtube_title","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"youtube_description","displayName":"youtube_description","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"scheduled_release_date","displayName":"scheduled_release_date","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"descript_project_id","displayName":"descript_project_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"177adf0d-e0a7-465c-a3d4-18cfbca25650","name":"Query Video Schedule Table","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1120,304]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"={{ $('Query Video Schedule Table').item.json.title }}","type":"string"},{"id":"id-2","name":"description","value":"={{ $('Query Video Schedule Table').item.json.description }}","type":"string"},{"id":"id-3","name":"videoId","value":"={{ $('Split Out Videos').item.json.id }}","type":"string"},{"id":"id-4","name":"transcript","value":"={{ $('Get Video Transcript').item.json.transcript }}","type":"string"},{"id":"id-5","name":"scheduledDate","value":"={{ $('Query Video Schedule Table').item.json.scheduledDate }}","type":"string"}]},"options":{}},"id":"954d31e9-052a-41a2-9b75-dce34eaee958","name":"Prepare YouTube Video Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,128]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Prepare YouTube Video Data').item.json.title }}","options":{"description":"={{ $('Prepare YouTube Video Data').item.json.description }}","privacyStatus":"private"}},"id":"cde1ae12-84f1-453c-99c2-4c958d39f3af","name":"Create YouTube Draft Video","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2240,128]},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"9558b22c-548b-40bf-8e07-bb0f89282326","name":"Split Out Videos","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[912,304]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $('Query Video Schedule Table').item.json.uploadStatus }}","rightValue":"uploaded","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"eef658dc-bd6f-445f-8ee1-6ebafc7f9812","name":"Check If Video Already Uploaded","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1312,304]},{"parameters":{},"id":"f1463d72-892a-4430-8bc6-ecaa20862418","name":"Skip Already Uploaded","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,512]},{"parameters":{"options":{}},"id":"6a98bf2a-3365-400c-a025-8b871ee765d2","name":"Validate Video Requirements","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1728,288],"disabled":true},{"parameters":{},"id":"41599f61-1612-4c46-8b85-7cf74b7b132b","name":"Stop - Validation Failed","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2048,352]}],"connections":{"Check for Completed Videos":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Completed Videos from Descript","type":"main","index":0}]]},"Get Completed Videos from Descript":{"main":[[{"node":"Split Out Videos","type":"main","index":0}]]},"Get Video Transcript":{"main":[[{"node":"Validate Video Requirements","type":"main","index":0}]]},"Query Video Schedule Table":{"main":[[{"node":"Check If Video Already Uploaded","type":"main","index":0}]]},"Prepare YouTube Video Data":{"main":[[{"node":"Create YouTube Draft Video","type":"main","index":0}]]},"Split Out Videos":{"main":[[{"node":"Query Video Schedule Table","type":"main","index":0}]]},"Check If Video Already Uploaded":{"main":[[{"node":"Get Video Transcript","type":"main","index":0}],[{"node":"Skip Already Uploaded","type":"main","index":0}]]},"Create YouTube Draft Video":{"main":[[]]},"Validate Video Requirements":{"main":[[{"node":"Prepare YouTube Video Data","type":"main","index":0}],[{"node":"Stop - Validation Failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3c892242-c022-4af3-aac4-96c2765fe912","activeVersionId":null,"versionCounter":31,"triggerCount":0,"shared":[{"updatedAt":"2026-02-16T21:40:09.776Z","createdAt":"2026-02-16T21:40:09.776Z","role":"workflow:owner","workflowId":"XolX2riCmBfsdYUG","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-02-17T05:33:59.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-17","isPending":false}}]}}],"tags":[],"activeVersion":null}