hbf_online/2026/02/Descript to YouTube Video Publisher with Scheduling/XolX2riCmBfsdYUG.json
{"updatedAt":"2026-02-17T22:39:02.018Z","createdAt":"2026-02-16T21:40:09.773Z","id":"XolX2riCmBfsdYUG","name":"Descript to YouTube Video Publisher with Scheduling","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1e4i1tPgaZ7jxWgWNYh7DkwPFq-O6aD6X","mode":"list","cachedResultName":"YT_Videos","cachedResultUrl":"https://drive.google.com/drive/folders/1e4i1tPgaZ7jxWgWNYh7DkwPFq-O6aD6X"},"event":"watchFolderUpdated"},"id":"26e91c1f-ee4e-40f1-8075-597b802e6177","name":"Watch Google Drive Folder","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[496,176],"credentials":{"googleDriveOAuth2Api":{"id":"qKwVIoIIFOaVU0x1","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"fileName","value":"={{ $json.name }}","type":"string"},{"id":"id-2","name":"fileId","value":"={{ $json.id }}","type":"string"},{"id":"id-3","name":"mimeType","value":"={{ $json.mimeType }}","type":"string"},{"id":"id-4","name":"fileExtension","value":"={{ $json.name.split('.').pop().toLowerCase() }}","type":"string"}]},"options":{}},"id":"3f96b4e2-7a47-416f-b764-a92c9c198a0a","name":"Workflow Configuration1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,176]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"9b4a8785-bb01-422d-b6b2-b43aad3b9f41","name":"Group Files by Video","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[928,176]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.data.filter(f => f.fileExtension === 'mp4').length > 0 && $json.data.filter(f => f.fileExtension === 'rtf').length > 0 && $json.data.filter(f => f.fileExtension === 'docx').length > 0 }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"c514dc0b-2cf8-46fb-953e-ca8aa1e40fd0","name":"Check All Files Present","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,176]},{"parameters":{"operation":"rowExists","dataTableId":{"__rl":true,"value":"SDUClIjwXGJpBhU0","mode":"list","cachedResultName":"YT_Videos","cachedResultUrl":"/projects/c3pwUnwZOCkl3kSS/datatables/SDUClIjwXGJpBhU0"},"filters":{"conditions":[{"keyName":"videoFileName","keyValue":"={{ $('Workflow Configuration1').item.json.data.find(f => f.fileExtension === 'mp4').fileName }}"}]}},"id":"972ccee8-09cf-4c8f-8340-897854f00c65","name":"Check Upload Status","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1536,144]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.exists }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"89de5e51-634f-41da-b594-1dd18ab30cb7","name":"Check If Already Uploaded","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1776,48]},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration1').item.json.data.find(f => f.fileExtension === 'mp4').fileId }}"},"options":{"binaryPropertyName":"data"}},"id":"5de235ff-0c0c-41f6-a663-528f51359bc5","name":"Download Video File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1984,-144],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration1').item.json.data.find(f => f.fileExtension === 'rtf').fileId }}"},"options":{"binaryPropertyName":"data"}},"id":"3b21bbd8-e686-42a5-8170-32640bdb40c2","name":"Download Transcript File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2288,48],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration1').item.json.data.find(f => f.fileExtension === 'docx').fileId }}"},"options":{"binaryPropertyName":"data"}},"id":"3dfebde9-be7b-4fc5-82ff-4509a3ff6eb5","name":"Download Script File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2544,-48],"credentials":{"googleDriveOAuth2Api":{"id":"cakQGHIYDcVhhl2W","name":"Google Drive account"}}},{"parameters":{"operation":"rtf"},"id":"6135052c-9291-4917-8e52-4ba92c65c631","name":"Extract Transcript Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2720,128]},{"parameters":{"operation":"docx"},"id":"d7d48dd1-f638-45cb-80f0-89b57f05234f","name":"Extract Script Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2736,-48]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"b552dfd1-ce4f-4de6-a1f9-703e4cf130fe","name":"Combine All Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3024,-144]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"videoTitle","value":"={{ $('Download Video File').item.json.name.replace('.mp4', '') }}","type":"string"},{"id":"id-2","name":"videoDescription","value":"={{ $('Extract Transcript Text').item.json.text }}","type":"string"},{"id":"id-3","name":"scriptContent","value":"={{ $('Extract Script Text').item.json.text }}","type":"string"},{"id":"id-4","name":"videoFileName","value":"={{ $('Download Video File').item.json.name }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"67d881c6-96c6-4e22-bdd2-0be22c349b0c","name":"Prepare YouTube Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3632,-256]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.videoTitle }}","options":{"description":"={{ $json.videoDescription }}","privacyStatus":"private"}},"id":"49c2d4a4-aba3-4617-9f63-5f4b6a8cd3b7","name":"Create YouTube Draft","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[3808,-256]},{"parameters":{"dataTableId":{"__rl":true,"value":"SDUClIjwXGJpBhU0","mode":"list","cachedResultName":"YT_Videos","cachedResultUrl":"/projects/c3pwUnwZOCkl3kSS/datatables/SDUClIjwXGJpBhU0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"youtube_title","displayName":"youtube_title","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"youtube_description","displayName":"youtube_description","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"scheduled_release_date","displayName":"scheduled_release_date","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"descript_project_id","displayName":"descript_project_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a2a77fb9-1a49-4acc-8006-bc6c14b21ade","name":"Mark as Uploaded","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[4240,-256]},{"parameters":{"errorMessage":"Missing required files. Need .mp4 video, .rtf transcript, and .docx script files."},"id":"16ae1495-a88e-4408-8b8c-b6274a45659d","name":"Stop - Missing Files","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1424,320]},{"parameters":{},"id":"aaad0a20-b415-43d6-aefa-a60902a7af1e","name":"Skip - Already Uploaded","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2000,96]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"videoFileName","value":"={{ $json.videoFileName }}","type":"string"},{"id":"id-2","name":"youtubeVideoId","value":"={{ $json.id }}","type":"string"},{"id":"id-3","name":"uploadedAt","value":"={{ new Date().toISOString() }}","type":"string"},{"id":"id-4","name":"status","value":"uploaded","type":"string"}]},"options":{}},"id":"2d4e7dea-492d-4b38-9599-e4acb4247b7c","name":"Prepare Upload Record","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4032,-256]},{"parameters":{"operation":"metadata"},"id":"3ab0df39-9a79-435a-9e5d-2ab94d12af57","name":"Extract Video Metadata","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2176,-400]},{"parameters":{"promptType":"define","text":"=Video Title: {{ $json.videoTitle }}\n\nTranscript:\n{{ $json.transcript }}\n\nScript:\n{{ $json.script }}","hasOutputParser":true,"options":{"systemMessage":"You are a social media content expert. Based on the video transcript and script provided, create 2-3 engaging social media posts optimized for Facebook, LinkedIn, and Instagram.\n\nCreate posts that:\n- Are platform-appropriate in length and tone\n- Include relevant hashtags\n- Have engaging hooks\n- Drive engagement and clicks\n\nGenerate 2-3 complete post variations, each with versions for all three platforms."}},"id":"94321266-71ca-40a6-9dc4-0a98f572898d","name":"Generate Social Media Posts","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[4720,-96]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"}},"id":"3328957a-f3e6-4e47-9a70-2cac4e1a0b79","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4736,128],"credentials":{"openAiApi":{"id":"YkNmbyZnv2KRWq6X","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"facebook\": {\"type\": \"string\"},\n          \"linkedin\": {\"type\": \"string\"},\n          \"instagram\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"},"id":"e2e3312b-be98-4e09-bfe4-f009061950cc","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4864,128]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"transcript","value":"={{ $('Extract Transcript Text').item.json.text }}","type":"string"},{"id":"id-2","name":"script","value":"={{ $('Extract Script Text').item.json.text }}","type":"string"},{"id":"id-3","name":"videoTitle","value":"={{ $('Download Video File').item.json.name.replace('.mp4', '') }}","type":"string"}]},"options":{}},"id":"6ade7ef9-3cb8-4e21-9643-5733641da453","name":"Prepare Content for AI","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4384,-32]},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me/feed","options":{}},"id":"3b0a7c94-b7cd-476e-b70a-d71f0098c578","name":"Post to Facebook","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[6928,576]},{"parameters":{"text":"={{ $json.linkedin }}","additionalFields":{"visibility":"PUBLIC"}},"id":"9a3ac7bc-a534-41d4-8a6f-909b67a27323","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[6928,768]},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me/media","options":{}},"id":"00de7402-f28f-48a5-928a-4cb34ee19f36","name":"Post to Instagram","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[6928,960]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__beehive_api_endpoint__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer <__PLACEHOLDER_VALUE__beehive_api_key__>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"={{ $json.subject }}\",\n  \"content\": \"={{ $json.content }}\",\n  \"status\": \"draft\"\n}","options":{}},"id":"dab692ff-cb59-4aa5-aaaa-0eef15940a71","name":"Send to Beehive Newsletter","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[8560,832]},{"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__nextjs_blog_api_endpoint__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ $json.title }},\n  \"content\": {{ $json.markdown }},\n  \"date\": {{ $json.date }},\n  \"status\": \"draft\"\n}","options":{}},"id":"ef43a61b-a7aa-443e-893c-7140c6f8ff11","name":"Publish to Next.js Blog","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[8560,1056]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"subject","value":"={{ $('Prepare YouTube Data').item.json.videoTitle }}","type":"string"},{"id":"id-2","name":"content","value":"={{ $('Extract Transcript Text').item.json.text }}","type":"string"},{"id":"id-3","name":"scriptContent","value":"={{ $('Extract Script Text').item.json.text }}","type":"string"}]},"options":{}},"id":"26f27413-26bb-4ae6-818d-0016f8c08019","name":"Prepare Newsletter Content","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8336,832]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"title","value":"={{ $('Prepare YouTube Data').item.json.videoTitle }}","type":"string"},{"id":"id-2","name":"markdown","value":"={{ '# ' + $('Prepare YouTube Data').item.json.videoTitle + '\\n\\n' + $('Extract Script Text').item.json.text }}","type":"string"},{"id":"id-3","name":"date","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"id":"cf61a185-12ae-4c85-ae4f-0fbd3316c96e","name":"Prepare Blog Markdown","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8336,1056]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"videoTitle","value":"={{ $('Prepare YouTube Data').item.json.videoTitle }}","type":"string"},{"id":"id-2","name":"transcript","value":"={{ $('Extract Transcript Text').item.json.text }}","type":"string"},{"id":"id-3","name":"script","value":"={{ $('Extract Script Text').item.json.text }}","type":"string"},{"id":"id-4","name":"videoFileName","value":"={{ $('Download Video File').item.json.name }}","type":"string"},{"id":"id-5","name":"youtubeVideoId","value":"={{ $('Create YouTube Draft').item.json.id }}","type":"string"}]},"options":{}},"id":"bae29553-03b9-4781-a4ff-a01329087c85","name":"Prepare All Content Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3376,-256]},{"parameters":{"fieldToSplitOut":"posts"},"id":"f66cfd20-d47a-416e-a519-c9f7b7adb581","name":"Split Social Media Posts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5728,-144]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.facebook }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedIn"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.instagram }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"}]}},"id":"468b79be-4365-4a05-892b-3babd834c8e7","name":"Route by Platform","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6256,-144]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"socialMediaResults","options":{}},"id":"4adf3fec-c5e0-4cd8-b0fd-7198a5035fa5","name":"Collect Social Media Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7744,992]}],"connections":{"Watch Google Drive Folder":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Workflow Configuration1":{"main":[[{"node":"Group Files by Video","type":"main","index":0}]]},"Group Files by Video":{"main":[[{"node":"Check All Files Present","type":"main","index":0}]]},"Check All Files Present":{"main":[[{"node":"Check Upload Status","type":"main","index":0}],[{"node":"Stop - Missing Files","type":"main","index":0}]]},"Check Upload Status":{"main":[[{"node":"Check If Already Uploaded","type":"main","index":0}]]},"Check If Already Uploaded":{"main":[[{"node":"Download Video File","type":"main","index":0}],[{"node":"Skip - Already Uploaded","type":"main","index":0}]]},"Download Video File":{"main":[[{"node":"Download Transcript File","type":"main","index":0},{"node":"Combine All Data","type":"main","index":0},{"node":"Extract Video Metadata","type":"main","index":0}]]},"Download Transcript File":{"main":[[{"node":"Download Script File","type":"main","index":0},{"node":"Extract Transcript Text","type":"main","index":0}]]},"Download Script File":{"main":[[{"node":"Extract Script Text","type":"main","index":0}]]},"Extract Transcript Text":{"main":[[{"node":"Combine All Data","type":"main","index":1}]]},"Extract Script Text":{"main":[[{"node":"Combine All Data","type":"main","index":2}]]},"Combine All Data":{"main":[[{"node":"Prepare All Content Data","type":"main","index":0}]]},"Prepare YouTube Data":{"main":[[{"node":"Create YouTube Draft","type":"main","index":0}]]},"Create YouTube Draft":{"main":[[{"node":"Prepare Upload Record","type":"main","index":0}]]},"Skip - Already Uploaded":{"main":[[]]},"Prepare Upload Record":{"main":[[{"node":"Mark as Uploaded","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate Social Media Posts","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Social Media Posts","type":"ai_outputParser","index":0}]]},"Prepare Content for AI":{"main":[[{"node":"Generate Social Media Posts","type":"main","index":0}]]},"Generate Social Media Posts":{"main":[[{"node":"Split Social Media Posts","type":"main","index":0}]]},"Prepare Newsletter Content":{"main":[[{"node":"Send to Beehive Newsletter","type":"main","index":0}]]},"Prepare Blog Markdown":{"main":[[{"node":"Publish to Next.js Blog","type":"main","index":0}]]},"Prepare All Content Data":{"main":[[{"node":"Prepare YouTube Data","type":"main","index":0}]]},"Mark as Uploaded":{"main":[[{"node":"Prepare Content for AI","type":"main","index":0}]]},"Split Social Media Posts":{"main":[[{"node":"Route by Platform","type":"main","index":0}]]},"Route by Platform":{"main":[[{"node":"Post to Facebook","type":"main","index":0}],[{"node":"Post to LinkedIn","type":"main","index":0}],[{"node":"Post to Instagram","type":"main","index":0}]]},"Post to Facebook":{"main":[[{"node":"Collect Social Media Results","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Collect Social Media Results","type":"main","index":0}]]},"Post to Instagram":{"main":[[{"node":"Collect Social Media Results","type":"main","index":0}]]},"Collect Social Media Results":{"main":[[{"node":"Prepare Newsletter Content","type":"main","index":0}]]},"Send to Beehive Newsletter":{"main":[[{"node":"Prepare Blog Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2ebe4308-bd18-4697-b87b-2925e8f43b3b","activeVersionId":null,"versionCounter":73,"triggerCount":0,"shared":[{"updatedAt":"2026-02-16T21:40:09.776Z","createdAt":"2026-02-16T21:40:09.776Z","role":"workflow:owner","workflowId":"XolX2riCmBfsdYUG","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-12-08T15:06:45.840Z","createdAt":"2025-12-08T15:06:45.840Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"c3pwUnwZOCkl3kSS","user":{"updatedAt":"2026-02-18T05:14:07.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-18","isPending":false}}]}}],"tags":[],"activeVersion":null}