hbf_online/2026/02/Monitor Sander Processing Chicken Breast Sale/9psVMzzkin0XDhrM.json
{"updatedAt":"2026-02-21T21:44:53.000Z","createdAt":"2026-02-21T18:38:45.371Z","id":"9psVMzzkin0XDhrM","name":"Monitor Sander Processing Chicken Breast Sale","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"75d97fff-f49e-42fa-a7ca-d5f10ef5dba1","name":"Check Weekly Specials","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1184,320]},{"parameters":{"url":"http://www.sanderprocessing.com/weekly-specials.html","options":{}},"id":"cdf4cb5b-ae3d-4f3b-9ab8-4afb8c6df325","name":"Fetch Webpage","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1408,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.contains }}","rightValue":"YES","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"62bf0ecf-a217-4ddf-ac73-9acd51f1f025","name":"Chicken Breast Detected?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2352,320]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"imageSrc","cssSelector":".wsite-image img","returnValue":"attribute","attribute":"src"}]},"options":{}},"id":"471a3bb4-732d-40fb-bd15-a135e4d496a0","name":"Extract Image URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1616,320]},{"parameters":{"url":"=http://www.sanderprocessing.com{{ $json.imageSrc }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"495e19ab-b9ea-4703-a337-876c6ee9bba6","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,320]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"text":"You are a sales analyzer. Review the image and determine if chicken breast is mentioned or shown in the weekly specials. Respond with ONLY \"YES\" if chicken breast is mentioned or visible, or \"NO\" if it is not.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[1984,320],"id":"1d70c239-5ae0-4d83-a8e7-4f0ccc301cc5","name":"Analyze image","credentials":{"anthropicApi":{"id":"NKYjzo3YZOYQuuWN","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"689671dd-a8a8-433b-8d26-e12d494587d2","name":"contains","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2176,320],"id":"1c73015b-c026-445d-b5bf-34a0d5e6718c","name":"Edit Fields"}],"connections":{"Check Weekly Specials":{"main":[[{"node":"Fetch Webpage","type":"main","index":0}]]},"Fetch Webpage":{"main":[[{"node":"Extract Image URL","type":"main","index":0}]]},"Chicken Breast Detected?":{"main":[[]]},"Extract Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Chicken Breast Detected?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"abc9d081-1329-415b-9195-bc1c8c921f7b","activeVersionId":null,"versionCounter":65,"triggerCount":0,"shared":[{"updatedAt":"2026-02-21T18:38:45.374Z","createdAt":"2026-02-21T18:38:45.374Z","role":"workflow:owner","workflowId":"9psVMzzkin0XDhrM","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}