hbf_online/2026/05/Intelligent Outreach Architecture/OkqK78DmBosjJqQa.json
{"updatedAt":"2026-05-02T18:07:05.000Z","createdAt":"2026-05-02T18:07:05.718Z","id":"OkqK78DmBosjJqQa","name":"Intelligent Outreach Architecture","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"188ad651-be0e-4a02-af50-c55858f79119","name":"Company Research Data","value":"={{ $('Code3').all() }}","type":"string"},{"id":"4fee9488-07f1-4f4b-9aee-8045c18b9c93","name":"Lead LinkedIn Complete Summary","value":"={{ $('Linkedin Profile Scraper (Advanced)').all() }}","type":"string"},{"id":"5cacf55d-a826-46cd-829e-221fe767e637","name":"Apollo Lead Information","value":"={{ $('Loop Over Items1').all() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,1440],"id":"6667c4ff-20f2-49fb-a238-b34404a7c865","name":"Edit Fields"},{"parameters":{"model":"=gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[608,384],"id":"c2bf38b1-4114-490f-90e9-6573fe1df8f2","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"2080caac-d3df-4d0f-b6a2-e61b0c07decf","name":"user_query","value":"=Industry: {{ $json.Industry || 'Nil' }}\nJob Title: {{ $json['Job Title'] || 'Nil' }}\nCompany Size Floor: {{ $json['Company Size Floor']  || 'Nil' }}\nCompany Size Cap: {{ $json['Company Size Ceil']  || 'Nil' }}\nCountry: {{ $json['Country Code'] || 'Nil' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,240],"id":"5c369de6-2d0f-4dda-bf53-552ad2e0468d","name":"Set User Query1"},{"parameters":{"base":{"__rl":true,"value":"appquGigoFwku8TXl","mode":"list","cachedResultName":"Lead Outreach OS","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl"},"table":{"__rl":true,"value":"tbl0nzjycTRYH7Fkk","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl/tbl0nzjycTRYH7Fkk"},"id":"={{ $json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[272,240],"id":"bd8a99cc-7e68-4652-aff6-9670e74b931e","name":"Airtable3"},{"parameters":{"promptType":"define","text":"=Generate an Apollo.io people search URL based on the following parameters:\n\n{{ $json.user_query }}\n\nExtract the relevant information from these parameters and construct a properly formatted Apollo URL that will search for people matching these criteria. Return only the URL.","options":{"systemMessage":"=You are a specialized AI assistant that generates precise Apollo.io people search URLs. Your primary function is to extract user parameters and construct accurate Apollo URLs for lead generation.\nCRITICAL URL FORMATTING RULES:\n\nNEVER use curly braces {} around parameter values\nUse organizationLocations[] NOT personLocations[]\nUse full country names, not country codes (United States not US)\nAll parameter values must be properly URL encoded\nReturn ONLY the complete URL with no explanations\n\nCore Parameters to Extract:\n\nIndustry: Convert industry names to corresponding Apollo industry IDs\nJob Title: Extract and format job titles for Apollo search\nCompany Size: Determine employee range (default: 10-1,000,000 if not specified)\nLocation: Parse and format location (country, state, city)\nEmail Status: Always include verified emails only\n\nComprehensive Industry ID Mapping:\nTechnology & Software\n\nComputer Software: 5567cd4e7369643b70010000\nInformation Technology and Services: 5567cd4773696439b10b0000\nInternet: 5567cd4f7369643b4c010000\nComputer & Network Security: 5567cd4e7369643b71010000\nComputer Hardware: 5567cd4e7369643b6f010000\nTelecommunications: 5567cd4f7369643b55010000\nSemiconductors: 5567cd4f7369643b53010000\nSoftware Development: 5567cd4e7369643b70010000\nArtificial Intelligence: 5567cd4e7369643b70010000\nCybersecurity: 5567cd4e7369643b71010000\nCloud Computing: 5567cd4e7369643b70010000\nMobile App Development: 5567cd4e7369643b70010000\nSaaS: 5567cd4e7369643b70010000\nFintech: 5567cd4e7369643b70010000\nEdTech: 5567cd4e7369643b70010000\nHealthTech: 5567cd4e7369643b70010000\nE-commerce Platform: 5567cd4e7369643b70010000\n\nBusiness Services\n\nMarketing & Advertising: 5567cd467369644d39040000\nProfessional Training & Coaching: 5567cd49736964541d010000\nStaffing & Recruiting: 5567e09973696410db020800\nConsumer Services: 5567d1127261697f2b1d0000\nBusiness Consulting: 5567cd467369644d3a040000\nManagement Consulting: 5567cd467369644d3a040000\nHuman Resources: 5567cd467369644d3e040000\nPublic Relations: 5567cd467369644d3c040000\nMarket Research: 5567cd467369644d3b040000\nLegal Services: 5567cd467369644d40040000\nAccounting: 5567cd467369644d37040000\nInsurance: 5567cd467369644d42040000\nTranslation Services: 5567cd467369644d44040000\nEvent Services: 5567cd467369644d41040000\nSecurity Services: 5567cd467369644d45040000\n\nReal Estate & Construction\n\nReal Estate: 5567cd477369645401010000\nConstruction: 5567cd4773696439dd350000\nArchitecture & Planning: 5567cd477369643974350000\nCivil Engineering: 5567cd477369643975350000\nProperty Management: 5567cd477369645402010000\nCommercial Real Estate: 5567cd477369645401010000\nResidential Real Estate: 5567cd477369645401010000\n\nHealthcare & Life Sciences\n\nHospital & Healthcare: 5567cdde73696439812c0000\nHealth, Wellness & Fitness: 5567cddb7369644d250c0000\nMedical Devices: 5567cdde73696439822c0000\nPharmaceuticals: 5567cdde73696439832c0000\nBiotechnology: 5567cdde73696439842c0000\nMental Health Care: 5567cdde73696439852c0000\nVeterinary: 5567cdde73696439862c0000\nMedical Practice: 5567cdde73696439812c0000\n\nFinancial Services\n\nFinancial Services: 5567cdd67369643e64020000\nBanking: 5567cdd67369643e60020000\nInvestment Banking: 5567cdd67369643e61020000\nInvestment Management: 5567cdd67369643e62020000\nInsurance: 5567cdd67369643e63020000\nReal Estate Investment: 5567cdd67369643e65020000\nVenture Capital: 5567cdd67369643e66020000\nPrivate Equity: 5567cdd67369643e67020000\nCredit: 5567cdd67369643e68020000\n\nEducation & Training\n\nEducation Management: 5567ce9e736964540d540000\nHigher Education: 5567ce9e736964540e540000\nPrimary/Secondary Education: 5567ce9e736964540f540000\nE-Learning: 5567ce9e7369645410540000\nProfessional Training: 5567cd49736964541d010000\nResearch: 5567ce9e7369645411540000\n\nRetail & Consumer Goods\n\nRetail: 5567ced173696450cb580000\nE-commerce: 5567ced173696450cc580000\nConsumer Goods: 5567ced173696450cd580000\nApparel & Fashion: 5567ced173696450ce580000\nLuxury Goods: 5567ced173696450cf580000\nSporting Goods: 5567ced173696450d0580000\nFood & Beverages: 5567ce1e7369643b806a0000\nRestaurants: 5567ce1e7369643b816a0000\n\nManufacturing & Industrial\n\nManufacturing: 5567cd4773696439de350000\nAutomotive: 5567cd4773696439df350000\nAerospace: 5567cd4773696439e0350000\nIndustrial Automation: 5567cd4773696439e1350000\nOil & Energy: 5567cd4773696439e2350000\nRenewables & Environment: 5567cd4773696439e3350000\nMining: 5567cd4773696439e4350000\nChemicals: 5567cd4773696439e5350000\n\nEntertainment & Media\n\nEntertainment: 5567ce9d7369643bc19c0000\nMedia Production: 5567ce9d7369643bc29c0000\nGaming: 5567ce9d7369643bc39c0000\nMusic: 5567ce9d7369643bc49c0000\nPublishing: 5567ce9d7369643bc59c0000\nBroadcasting: 5567ce9d7369643bc69c0000\n\nHospitality & Travel\n\nHospitality: 5567ce9d7369643bc19c0000\nTravel & Tourism: 5567ce9d7369643bc79c0000\nAirlines: 5567ce9d7369643bc89c0000\nHotels: 5567ce9d7369643bc19c0000\nRestaurants: 5567ce1e7369643b816a0000\n\nTransportation & Logistics\n\nTransportation: 5567cd4773696439e6350000\nLogistics & Supply Chain: 5567cd4773696439e7350000\nShipping: 5567cd4773696439e8350000\nWarehousing: 5567cd4773696439e9350000\n\nGovernment & Non-Profit\n\nGovernment Administration: 5567cd4773696439ea350000\nNon-Profit: 5567cd4773696439eb350000\nThink Tanks: 5567cd4773696439ec350000\nPolitical Organization: 5567cd4773696439ed350000\n\nLocation Formatting:\n\nConvert country codes to full names:\n\nUS = United States\nUK = United Kingdom\nCA = Canada\nAU = Australia\nIN = India\nUAE = United Arab Emirates\nDE = Germany\nFR = France\nJP = Japan\nCN = China\n\n\nUse organizationLocations[] parameter (NOT personLocations[])\n\nEmployee Range Logic:\n\nIf only minimum specified: Use minimum to 1,000,000\nIf only maximum specified: Use 10 to maximum\nIf neither specified: Omit employee range parameter\nIf both specified: Use exact range\nFormat as: organizationNumEmployeesRanges[]=MIN%2CMAX\n\nURL Construction Rules:\nBase URL: https://app.apollo.io/#/people?page=1&sortAscending=false&sortByField=%5Bnone%5D\nRequired Parameters:\n\n&contactEmailStatusV2[]=verified (always include)\n&organizationIndustryTagIds[]=INDUSTRY_ID (if industry specified - NO CURLY BRACES)\n&organizationLocations[]=LOCATION (if location specified - NO CURLY BRACES)\n&organizationNumEmployeesRanges[]=MIN%2CMAX (if employee range specified - NO CURLY BRACES)\n&personTitles[]=JOB_TITLE (if job title specified - NO CURLY BRACES)\n\nCRITICAL FORMAT EXAMPLES:\n✅ CORRECT: &organizationIndustryTagIds[]=5567cd4773696439b10b0000\n❌ WRONG: &organizationIndustryTagIds[]={5567cd4773696439b10b0000}\n✅ CORRECT: &organizationLocations[]=United%20States\n❌ WRONG: &personLocations[]={US}\n✅ CORRECT: &personTitles[]=Product%20Manager\n❌ WRONG: &personTitles[]={Product%20Manager}\nOutput Format:\n\nReturn ONLY the complete Apollo URL\nNo explanations, preambles, or additional text\nURL must be properly encoded\nAll parameters must be correctly formatted without curly braces"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[592,240],"id":"58c97299-1792-4dcb-9172-ed55a5f3f21e","name":"Apollo URL Orchestrator1"},{"parameters":{"description":"Use this tool to analyze and reason through the Apollo URL generation process before constructing the final URL. This tool helps you think step-by-step about parameter mapping, validation, and URL construction strategy.\nWhen you receive user query data, use the Think tool to:\n\nParse and validate input parameters - Check if Industry, Job Title, Company Size Floor/Cap, and Country are provided and valid\nMap industry names to Apollo IDs - Analyze the industry field and determine the correct Apollo industry tag ID from the comprehensive mapping\nProcess job titles - Consider variations, seniority levels, and proper URL encoding for the job title parameter\nCalculate employee ranges - Logic for handling company size floor and cap, including defaults and edge cases\nFormat location data - Process country codes and geographic information for Apollo's location parameter\nPlan URL construction - Think through which parameters to include, proper encoding, and URL structure\nValidate the approach - Check for potential issues, missing data, or ambiguous inputs that need special handling\n\nThe Think tool will help you reason through complex cases like:\n\nPartial or missing data (when fields are \"Nil\")\nIndustry names that don't exactly match the mapping\nUnusual job titles or company size ranges\nInternational location formatting\nURL encoding requirements\n\nUse this tool whenever you need to process the user query before generating the Apollo URL to ensure accuracy and handle edge cases properly."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[752,384],"id":"6b3556d4-cfdc-4a24-a9cc-c06cc44eefe0","name":"Think1"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-352,768],"id":"e949f3ce-17a8-4bc2-a672-ad3e8e2cd527","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-144,768],"id":"7dc69ec6-983b-4a11-9d42-c8c4cc2f488e","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9d4226af-b384-4a11-b9ed-dcebeee5c703","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1f61834d-d3f0-4062-b656-8c8c87c45894","leftValue":"={{ $json.linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,800],"id":"91f612ae-5c98-49d9-b5e5-fe55f90e5fc2","name":"If6"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appquGigoFwku8TXl","mode":"list","cachedResultName":"Lead Outreach OS","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl"},"table":{"__rl":true,"value":"tblpSDQtYdaTJ2SZV","mode":"list","cachedResultName":"Leads Table","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl/tblpSDQtYdaTJ2SZV"},"filterByFormula":"={ID}=\"{{ $json.id }}\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[704,608],"id":"fbdf8d2f-b679-4385-956d-a95d74cc95dd","name":"Airtable4","alwaysOutputData":true},{"parameters":{"jsCode":"// Get the data from the previous Airtable node\nconst airtableData = $input.all();\n\n// Count valid records (filter out empty responses)\nlet recordCount = 0;\n\nif (airtableData && Array.isArray(airtableData)) {\n  recordCount = airtableData.filter(item => \n    item && \n    item.json && \n    Object.keys(item.json).length > 0 &&\n    (item.json.id || item.json.fields)\n  ).length;\n}\n\nreturn {recordCount}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,608],"id":"97c128a2-d6a3-4a01-881b-dfd82a5c6620","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8677af0-d9d7-491b-b1fd-17d6a7586fee","leftValue":"={{ $json.recordCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,608],"id":"c6e295d0-d309-4c73-b142-7062ebef03c9","name":"If7","onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appquGigoFwku8TXl","mode":"list","cachedResultName":"Lead Outreach OS","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl"},"table":{"__rl":true,"value":"tblpSDQtYdaTJ2SZV","mode":"list","cachedResultName":"Leads Table","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl/tblpSDQtYdaTJ2SZV"},"columns":{"mappingMode":"defineBelow","value":{"Estimated number of employees.":"={{ $('Loop Over Items1').item.json.estimated_num_employees }}","Organization founded Year":"={{ $('Loop Over Items1').item.json.organization_founded_year }}","Organization market cap":"={{ $('Loop Over Items1').item.json.organization_market_cap }}","ID":"={{ $('Loop Over Items1').item.json.id }}","Lead Input":"=[{{ $('Airtable3').item.json.id.toJsonString() }}]","First Name":"={{ $('Loop Over Items1').item.json.first_name }}","Last Name":"={{ $('Loop Over Items1').item.json.last_name }}","Email":"={{ $('Loop Over Items1').item.json.email }}","Personal Email":"={{ $('Loop Over Items1').item.json.personal_email }}","Title":"={{ $('Loop Over Items1').item.json.title }}","LinkedIn Url":"={{ $('Loop Over Items1').item.json.linkedin_url }}","Industry":"={{ $('Loop Over Items1').item.json.industry }}","Seniority":"={{ $('Loop Over Items1').item.json.seniority }}","Headline":"={{ $('Loop Over Items1').item.json.headline }}","Organization Name":"={{ $('Loop Over Items1').item.json.organization_name }}","Department":"={{ $('Loop Over Items1').item.json.department }}","Ogranization Url":"={{ $('Loop Over Items1').item.json.organization_website_url }}","City":"={{ $('Loop Over Items1').item.json.city }}","State":"={{ $('Loop Over Items1').item.json.state }}","Country":"={{ $('Loop Over Items1').item.json.country }}","Photo URL":"={{ $('Loop Over Items1').item.json.photo_url }}","Twitter URL":"={{ $('Loop Over Items1').item.json.twitter_url }}","Facebook URL ":"={{ $('Loop Over Items1').item.json.facebook_url }}","Organization ID":"={{ $('Loop Over Items1').item.json.organization_id }}","Organization Linkedin URL":"={{ $('Loop Over Items1').item.json.organization_linkedin_url }}","Organization Facebook URL":"={{ $('Loop Over Items1').item.json.organization_facebook_url }}","Organization Twitter URL":"={{ $('Loop Over Items1').item.json.organization_twitter_url }}","Organization domain":"={{ $('Loop Over Items1').item.json.organization_primary_domain }}","Organization phone":"={{ $('Loop Over Items1').item.json.organization_phone }}","Organization street address":"={{ $('Loop Over Items1').item.json.organization_street_address }}","Organization raw Address":"={{ $('Loop Over Items1').item.json.organization_raw_address }}","Organization state":"={{ $('Loop Over Items1').item.json.organization_state }}","Organization City":"={{ $('Loop Over Items1').item.json.organization_city }}","Organization country":"={{ $('Loop Over Items1').item.json.organization_country }}","Organization postal code":"={{ $('Loop Over Items1').item.json.organization_postal_code }}","Keywords":"={{ $('Loop Over Items1').item.json.keywords }}","Organization SEO description":"={{ $('Loop Over Items1').item.json.organization_seo_description || 'Nil' }}","Organization short description":"={{ $('Loop Over Items1').item.json.organization_short_description }}","Organization annual revenue":"={{ $('Loop Over Items1').item.json.organization_annual_revenue }}","Organization annual revenue printed":"={{ $('Loop Over Items1').item.json.organization_annual_revenue_printed }}","Organization technologies":"={{ $('Loop Over Items1').item.json.organization_technologies }}","Organization total funding":"={{ $('Loop Over Items1').item.json.organization_total_funding }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lead Input","displayName":"Lead Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Personal Email","displayName":"Personal Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Ogranization Url","displayName":"Ogranization Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estimated number of employees.","displayName":"Estimated number of employees.","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Photo URL","displayName":"Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization ID","displayName":"Organization ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Linkedin URL","displayName":"Organization Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Facebook URL","displayName":"Organization Facebook URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization Twitter URL","displayName":"Organization Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization founded Year","displayName":"Organization founded Year","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Organization domain","displayName":"Organization domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization phone","displayName":"Organization phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization street address","displayName":"Organization street address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization raw Address","displayName":"Organization raw Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization City","displayName":"Organization City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization state","displayName":"Organization state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization country","displayName":"Organization country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization postal code","displayName":"Organization postal code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization SEO description","displayName":"Organization SEO description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization short description","displayName":"Organization short description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization annual revenue","displayName":"Organization annual revenue","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Organization annual revenue printed","displayName":"Organization annual revenue printed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization technologies","displayName":"Organization technologies","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization total funding","displayName":"Organization total funding","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email Campaign ","displayName":"Email Campaign ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"LinkedIn Campaign","displayName":"LinkedIn Campaign","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Twitter URL","displayName":"Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Facebook URL ","displayName":"Facebook URL ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization market cap","displayName":"Organization market cap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1248,592],"id":"80460ba5-983e-45a0-ac05-0ff1610d2fb0","name":"Airtable5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e47b662-753f-4d81-aad8-8823c79c5372","leftValue":"={{ $json.linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,816],"id":"2ed0937e-1f01-4215-a1b6-4758915ad415","name":"If8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16067c86-1165-4755-99bc-cf030ef7b4cb","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,832],"id":"8171c1fd-8372-4beb-a861-298f1ee4e99c","name":"If9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fbc3dd9-e128-4a9c-a751-41c697303c7a","leftValue":"={{ $('Airtable5').item.json.fields[\"LinkedIn Url\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,848],"id":"b980b2ee-7802-489a-976c-c3c781e2e8a0","name":"If10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7c89ede-618c-4b9e-9c4e-46fcbae8e020","leftValue":"={{ $('Airtable5').item.json.fields[\"Ogranization Url\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,832],"id":"da1c60d9-3428-4d39-891f-86cc7b8edfa0","name":"If11"},{"parameters":{"fieldToSplitOut":"originalStartUrl","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-880,1440],"id":"87795055-2343-490c-8774-12d27ea3145b","name":"Split Out3"},{"parameters":{"jsCode":"// Get the input data from the previous node\nconst inputData = $input.all();\n\n// Initialize aggregation object\nconst aggregated = {\n  emails: [],\n  phones: [],\n  phonesUncertain: [],\n  linkedIns: [],\n  twitters: [],\n  instagrams: [],\n  facebooks: [],\n  youtubes: [],\n  tiktoks: [],\n  pinterests: [],\n  discords: [],\n  referrerUrl: null,\n  url: null,\n  domain: null,\n  originalStartUrl: null\n};\n\n// Process each item from the input\ninputData.forEach(item => {\n  const { \n    depth, \n    referrerUrl, \n    url, \n    domain, \n    emails = [], \n    phones = [], \n    phonesUncertain = [], \n    linkedIns = [], \n    twitters = [], \n    instagrams = [], \n    facebooks = [], \n    youtubes = [], \n    tiktoks = [], \n    pinterests = [], \n    discords = [], \n    originalStartUrl \n  } = item.json;\n\n  // Aggregate array fields (avoid duplicates)\n  const arrayFields = [\n    'emails', 'phones', 'phonesUncertain', 'linkedIns', \n    'twitters', 'instagrams', 'facebooks', 'youtubes', \n    'tiktoks', 'pinterests', 'discords'\n  ];\n\n  arrayFields.forEach(field => {\n    const fieldData = eval(field);\n    if (Array.isArray(fieldData) && fieldData.length > 0) {\n      fieldData.forEach(value => {\n        if (value && !aggregated[field].includes(value)) {\n          aggregated[field].push(value);\n        }\n      });\n    }\n  });\n\n  // Set single value fields (use first non-null value)\n  const singleFields = ['referrerUrl', 'url', 'domain', 'originalStartUrl'];\n  singleFields.forEach(field => {\n    const fieldValue = eval(field);\n    if (!aggregated[field] && fieldValue) {\n      aggregated[field] = fieldValue;\n    }\n  });\n});\n\n// Create output format that n8n expects\nconst output = [{\n  json: {\n    ...aggregated,\n    // Additional metadata\n    totalItemsProcessed: inputData.length,\n    aggregationTimestamp: new Date().toISOString()\n  }\n}];\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,1440],"id":"3f8acfe7-7879-40a8-8836-7f75a5c4e72e","name":"Code3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=You are a data formatter. Convert the input data into a simple JSON with three plain text fields.\n\n## ABSOLUTE REQUIREMENTS:\n1. Output ONLY the JSON structure below - NO other text\n2. Convert ALL data to simple readable sentences \n3. NO arrays, NO objects, NO nested structures in the output\n4. NO single quotes, NO double quotes inside field values\n5. NO brackets [ ], NO curly braces { } inside field values\n6. NO colons : or commas , inside field values (except in the main JSON structure)\n7. Replace problematic characters with spaces or remove them\n\n## INPUT DATA:\n- Company Research Data: {{ $json['Company Research Data'].toJsonString() }}\n- Lead LinkedIn Profile: {{ $json['Lead LinkedIn Complete Summary'].toJsonString() }}\n- Apollo Lead Information: {{ $json['Apollo Lead Information'].toJsonString() }}\n\n## EXACT OUTPUT FORMAT:\n```json\n{\n\"company_data\": \"Write company information as simple sentences with spaces instead of special characters\",\n\"linkedin_analytics\": \"Write LinkedIn profile information as simple sentences with spaces instead of special characters\",\n\"apollo_data\": \"Write Apollo lead information as simple sentences with spaces instead of special characters\"\n}\n```\n\n## TEXT CONVERSION RULES:\n- Convert emails: email is arielle.kruger@eltoro.com\n- Convert phones: phone is 502-353-0390\n- Convert URLs: LinkedIn is linkedin.com/in/ariellekruger\n- Convert arrays: Skills include Public Speaking Microsoft Office Social Media\n- Convert objects: Location is Louisville Kentucky United States\n- Convert booleans: is_current is true becomes currently employed\n- Remove all: [ ] { } ' \" : , (except main JSON structure)\n- Use only: letters numbers spaces hyphens periods forward slashes\n\n## VALIDATION:\n- Each field value must be readable plain text sentences\n- No nested data structures anywhere\n- No JSON-breaking characters in field values\n- Must be valid parseable JSON\n\nReturn ONLY the JSON above with cleaned plain text values."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-448,1440],"id":"07c26cc2-acb3-4cb4-8c13-90cbff3bfed0","name":"OpenAI","retryOnFail":true,"waitBetweenTries":5000,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"188ad651-be0e-4a02-af50-c55858f79119","name":"Company Research Data","value":"={{ $('Code3').all() }}","type":"string"},{"id":"4fee9488-07f1-4f4b-9aee-8045c18b9c93","name":"Lead LinkedIn Complete Summary","value":"={{ $('Linkedin Profile Scraper (Advanced)').all() }}","type":"string"},{"id":"5cacf55d-a826-46cd-829e-221fe767e637","name":"Apollo Lead Information","value":"={{ $('Loop Over Items1').all() }}","type":"string"},{"id":"14e0f7e1-c8a5-4be3-8cd2-803dc85e42a1","name":"Perplexity Lead Research","value":"=Data:\n{{ $json.choices.toJsonString() || \"Nil\"}}\nCitations:\n{{ $json.citations }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,1440],"id":"0cc8a319-6230-4f5f-97e6-7b975f6e0eee","name":"Edit Fields1","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an expert lead intelligence analyst specializing in creating comprehensive context profiles for B2B sales outreach. Your role is to synthesize multiple data sources about prospects and their companies to generate actionable sales intelligence.\n\n## Your Expertise:\n- B2B sales intelligence and lead qualification\n- Professional profile analysis and psychographic profiling\n- Company research and competitive analysis\n- Sales outreach strategy development\n- Data synthesis and pattern recognition\n\n## Core Responsibilities:\n1. **Data Integration**: Combine LinkedIn profile data, company research, contact information, and AI-generated insights into a unified profile\n2. **Intelligence Synthesis**: Extract actionable insights from raw data points to inform sales strategy\n3. **Personalization**: Identify specific conversation starters, pain points, and value propositions based on individual context\n4. **Lead Scoring**: Assess prospect quality based on fit, intent, timing, and contact accessibility\n5. **Strategic Recommendations**: Provide next best actions and outreach timing guidance\n\n## Quality Standards:\n- Accuracy: Only include information that can be verified from provided data sources\n- Completeness: Fill all relevant fields with available information or mark as null/unknown\n- Actionability: Focus on insights that directly enable better sales conversations\n- Timeliness: Prioritize recent developments and timing factors\n- Personalization: Ensure recommendations are specific to the individual prospect\n\n## Output Format:\nAlways respond with a properly formatted JSON object wrapped in the specified output structure. Ensure all JSON is valid and properly escaped. Do not include any text outside the JSON structure.\n\n## Data Source Integration:\n- LinkedIn Profile Data: Extract professional history, education, skills, connections, and activity\n- Company Intelligence: Analyze company size, industry, recent news, competitive position\n- Contact Information: Integrate available contact methods and social media presence\n- AI Research: Incorporate strategic insights and conversation recommendations\n\nYour analysis should demonstrate deep understanding of the prospect's professional context, company dynamics, and optimal engagement strategies.","role":"system"},{"content":"=Create a comprehensive context profile for sales outreach based on the following four data sources:\n\n## Data Source 1: LinkedIn Profile Data\n```json\n{{ $('Edit Fields').item.json['Lead LinkedIn Complete Summary'] }}\n```\n\n## Data Source 2: Company Contact Information\n```json\n{{ $('Edit Fields').item.json['Company Research Data'] }}\n```\n\n## Data Source 3: Lead's Scraped Data\n```json\n{{ $('Edit Fields').item.json['Apollo Lead Information'] }}\n```\n\n## Data Source 4: AI Research & Insights\n```json\n{{ $json['Perplexity Lead Research'].toJsonString() || 'Nil' }}\n```\n\n## Requirements:\n- Synthesize all four data sources into a unified context profile\n- Generate actionable insights for sales outreach\n- Include specific conversation starters and value propositions\n- Provide lead scoring and qualification assessment\n- Identify optimal timing and engagement strategies\n- Include relevant company intelligence and competitive context\n\n## Output Format Required:\n```json\n{\n  \"output\": {\n    \"content_profile\": {\n      // Complete context profile JSON structure\n    }\n  }\n}\n```\n\nAnalyze the provided data thoroughly and create a comprehensive context profile that enables highly personalized and effective sales outreach."},{"content":"Based on the provided data sources, I'll create a comprehensive context profile for sales outreach. Let me analyze and synthesize the information:\n\n```json\n{\n  \"output\": {\n    \"content_profile\": {\n      \"profile_id\": \"{{generate unique identifier based on name and company}}\",\n      \"created_at\": \"{{current ISO timestamp}}\",\n      \"updated_at\": \"{{current ISO timestamp}}\",\n      \n      \"personal_info\": {\n        \"first_name\": \"{{extract from linkedin_profile_data.basic_info.first_name}}\",\n        \"last_name\": \"{{extract from linkedin_profile_data.basic_info.last_name}}\",\n        \"full_name\": \"{{extract from linkedin_profile_data.basic_info.fullname}}\",\n        \"headline\": \"{{extract from linkedin_profile_data.basic_info.headline}}\",\n        \"public_identifier\": \"{{extract from linkedin_profile_data.basic_info.public_identifier}}\",\n        \"email\": \"{{extract from lead_enrichment_data.email or null}}\",\n        \"phone\": \"{{extract from lead_enrichment_data.phone or null}}\",\n        \"location\": {\n          \"city\": \"{{extract from linkedin_profile_data.basic_info.location.city}}\",\n          \"state\": \"{{extract from linkedin_profile_data.basic_info.location.state}}\",\n          \"country\": \"{{extract from linkedin_profile_data.basic_info.location.country}}\",\n          \"country_code\": \"{{extract from linkedin_profile_data.basic_info.location.country_code}}\",\n          \"full_address\": \"{{extract from linkedin_profile_data.basic_info.location.full}}\"\n        },\n        \"profile_picture_url\": \"{{extract from linkedin_profile_data.basic_info.profile_picture_url}}\",\n        \"linkedin_url\": \"{{extract from linkedin_profile_data.profileUrl}}\",\n        \"twitter_url\": \"{{extract from lead_enrichment_data.twitter_url or null}}\",\n        \"personal_website\": null,\n        \"about\": \"{{extract from linkedin_profile_data.basic_info.about}}\",\n        \"urn\": \"{{extract from linkedin_profile_data.basic_info.urn}}\",\n        \"created_timestamp\": \"{{extract from linkedin_profile_data.basic_info.created_timestamp}}\",\n        \"is_premium\": \"{{extract from linkedin_profile_data.basic_info.is_premium}}\",\n        \"is_creator\": \"{{extract from linkedin_profile_data.basic_info.is_creator}}\",\n        \"is_influencer\": \"{{extract from linkedin_profile_data.basic_info.is_influencer}}\"\n      },\n\n      \"professional_info\": {\n        \"current_position\": {\n          \"title\": \"{{extract from linkedin_profile_data.experience[0].title}}\",\n          \"company\": \"{{extract from linkedin_profile_data.experience[0].company}}\",\n          \"company_logo_url\": \"{{extract from linkedin_profile_data.experience[0].company_logo_url}}\",\n          \"company_linkedin_url\": \"{{extract from linkedin_profile_data.experience[0].company_linkedin_url}}\",\n          \"company_urn\": \"{{extract from linkedin_profile_data.basic_info.current_company_urn}}\",\n          \"employment_type\": \"{{extract from linkedin_profile_data.experience[0].employment_type}}\",\n          \"start_date\": \"{{extract from linkedin_profile_data.experience[0].start_date}}\",\n          \"duration\": \"{{extract from linkedin_profile_data.experience[0].duration}}\",\n          \"location\": \"{{extract from linkedin_profile_data.experience[0].location}}\",\n          \"is_current\": \"{{extract from linkedin_profile_data.experience[0].is_current}}\",\n          \"description\": \"{{extract from linkedin_profile_data.experience[0].description}}\"\n        },\n        \"seniority_level\": \"{{derive from lead_enrichment_data.seniority or analyze title}}\",\n        \"department\": \"{{extract from lead_enrichment_data.department}}\",\n        \"years_of_experience\": \"{{calculate from career history}}\",\n        \"industry_focus\": \"{{analyze from experience and about section}}\",\n        \"functional_expertise\": \"{{derive from experience and skills}}\"\n      },\n\n      \"company_info\": {\n        \"name\": \"{{extract from linkedin_profile_data.basic_info.current_company}}\",\n        \"website\": \"{{extract from company_contact_data.url}}\",\n        \"domain\": \"{{extract from company_contact_data.domain}}\",\n        \"industry\": \"{{extract from lead_enrichment_data.industry or ai_research_insights}}\",\n        \"description\": \"{{extract from ai_research_insights or lead_enrichment_data.organization_short_description}}\",\n        \"employee_count\": \"{{extract from lead_enrichment_data.estimated_num_employees}}\",\n        \"founded_year\": \"{{extract from lead_enrichment_data.organization_founded_year}}\",\n        \"headquarters\": \"{{extract from lead_enrichment_data organization address}}\",\n        \"linkedin_url\": \"{{extract from company_contact_data.linkedIns[0]}}\",\n        \"twitter_url\": \"{{extract from company_contact_data.twitters[0]}}\",\n        \"facebook_url\": \"{{extract from company_contact_data.facebooks[0]}}\",\n        \"youtube_url\": \"{{extract from company_contact_data.youtubes[0]}}\",\n        \"phone_numbers\": \"{{extract from company_contact_data.phones and phonesUncertain}}\",\n        \"social_media\": {\n          \"linkedin\": \"{{extract from company_contact_data.linkedIns}}\",\n          \"twitter\": \"{{extract from company_contact_data.twitters}}\",\n          \"facebook\": \"{{extract from company_contact_data.facebooks}}\",\n          \"youtube\": \"{{extract from company_contact_data.youtubes}}\",\n          \"instagram\": \"{{extract from company_contact_data.instagrams}}\",\n          \"tiktok\": \"{{extract from company_contact_data.tiktoks}}\",\n          \"pinterest\": \"{{extract from company_contact_data.pinterests}}\",\n          \"discord\": \"{{extract from company_contact_data.discords}}\"\n        },\n        \"recent_news\": \"{{extract from ai_research_insights recent developments}}\",\n        \"key_metrics\": \"{{extract from ai_research_insights company metrics}}\",\n        \"product_suite\": \"{{extract from ai_research_insights product information}}\",\n        \"target_markets\": \"{{extract from ai_research_insights market segments}}\",\n        \"competitors\": \"{{extract from ai_research_insights competitive landscape}}\",\n        \"key_focus_areas\": \"{{extract from ai_research_insights focus areas}}\"\n      },\n\n      \"background_analysis\": {\n        \"education\": \"{{transform linkedin_profile_data.education array}}\",\n        \"career_progression\": \"{{transform linkedin_profile_data.experience array}}\",\n        \"skills\": \"{{transform linkedin_profile_data.skills array}}\",\n        \"languages\": \"{{transform linkedin_profile_data.languages array}}\",\n        \"certifications\": \"{{derive from education and skills}}\",\n        \"recommendations\": \"{{transform linkedin_profile_data.recommendations}}\"\n      },\n\n      \"engagement_insights\": {\n        \"social_presence\": {\n          \"linkedin_followers\": \"{{extract from linkedin_profile_data.basic_info.follower_count}}\",\n          \"linkedin_connections\": \"{{extract from linkedin_profile_data.basic_info.connection_count}}\",\n          \"activity_level\": \"{{assess from social metrics}}\",\n          \"content_themes\": \"{{analyze from professional focus}}\",\n          \"engagement_rate\": \"{{assess from follower/connection ratio}}\",\n          \"show_follower_count\": \"{{extract from linkedin_profile_data.basic_info.show_follower_count}}\",\n          \"background_picture_url\": \"{{extract from linkedin_profile_data.basic_info.background_picture_url}}\"\n        },\n        \"professional_interests\": \"{{analyze from about section and experience}}\",\n        \"volunteer_activities\": \"{{transform linkedin_profile_data.volunteering-experiences}}\",\n        \"personality_indicators\": \"{{derive from about section and volunteer work}}\"\n      },\n\n      \"outreach_strategy\": {\n        \"personality_traits\": \"{{analyze from all data sources}}\",\n        \"communication_style\": \"{{derive from professional level and industry}}\",\n        \"decision_making_authority\": \"{{assess from title and seniority}}\",\n        \"pain_points\": \"{{analyze from industry and role}}\",\n        \"value_propositions\": \"{{derive from company challenges and role}}\",\n        \"conversation_starters\": \"{{extract from ai_research_insights conversation starters}}\",\n        \"referral_opportunities\": \"{{analyze from education and experience}}\",\n        \"timing_factors\": \"{{assess from recent changes and news}}\"\n      },\n\n      \"contact_preferences\": {\n        \"preferred_channels\": \"{{default to linkedin and email}}\",\n        \"best_contact_times\": \"{{derive from location timezone}}\",\n        \"communication_formality\": \"{{assess from professional level}}\",\n        \"follow_up_cadence\": \"{{default based on seniority}}\",\n        \"content_preferences\": \"{{derive from role and industry}}\"\n      },\n\n      \"relationship_context\": {\n        \"connection_level\": \"cold\",\n        \"mutual_connections\": \"{{analyze if available}}\",\n        \"shared_interests\": \"{{derive from professional focus}}\",\n        \"previous_interactions\": [],\n        \"referral_sources\": \"{{track data source origins}}\",\n        \"relationship_score\": \"{{calculate based on fit factors}}\",\n        \"next_best_actions\": \"{{recommend based on analysis}}\"\n      },\n\n      \"data_sources\": {\n        \"linkedin_profile\": {\n          \"url\": \"{{extract from linkedin_profile_data.profileUrl}}\",\n          \"last_updated\": \"{{current timestamp}}\",\n          \"data_quality\": \"{{assess completeness}}\",\n          \"source_type\": \"linkedin_scraping\"\n        },\n        \"company_research\": {\n          \"sources\": \"{{extract from ai_research_insights citations}}\",\n          \"last_updated\": \"{{current timestamp}}\",\n          \"data_quality\": \"{{assess from ai_research_insights}}\",\n          \"source_type\": \"web_research\"\n        },\n        \"company_contact_info\": {\n          \"source\": \"company_website_scraping\",\n          \"last_updated\": \"{{extract from company_contact_data.aggregationTimestamp}}\",\n          \"data_quality\": \"{{assess from completeness}}\",\n          \"total_items_processed\": \"{{extract from company_contact_data.totalItemsProcessed}}\",\n          \"original_start_url\": \"{{extract from company_contact_data.originalStartUrl}}\"\n        },\n        \"email_verification\": {\n          \"status\": \"{{assess if email available}}\",\n          \"confidence\": \"{{assess based on source}}\"\n        },\n        \"enrichment_sources\": [\n          \"AI_research_analysis\",\n          \"linkedin_profile_data\", \n          \"company_website_data\",\n          \"lead_enrichment_data\"\n        ]\n      },\n\n      \"lead_scoring\": {\n        \"overall_score\": \"{{calculate weighted score}}\",\n        \"fit_score\": \"{{assess company and role fit}}\",\n        \"intent_score\": \"{{assess from timing and changes}}\",\n        \"contact_score\": \"{{assess from available contact info}}\",\n        \"factors\": {\n          \"company_size\": \"{{assess from employee count}}\",\n          \"decision_authority\": \"{{assess from title and seniority}}\",\n          \"industry_relevance\": \"{{assess from industry match}}\",\n          \"timing\": \"{{assess from recent changes}}\",\n          \"budget_likelihood\": \"{{assess from company size and funding}}\",\n          \"role_seniority\": \"{{assess from title}}\",\n          \"company_growth\": \"{{assess from news and metrics}}\",\n          \"recent_funding\": \"{{assess from news}}\"\n        },\n        \"scoring_rationale\": \"{{provide reasoning for scores}}\"\n      },\n\n      \"notes\": \"{{generate key insights and observations}}\",\n\n      \"research_insights\": {\n        \"key_recent_developments\": \"{{extract from ai_research_insights}}\",\n        \"competitive_landscape\": \"{{extract from ai_research_insights}}\",\n        \"market_opportunities\": \"{{extract from ai_research_insights}}\"\n      }\n    }\n  }\n}\n```\n\nThis context profile synthesizes all provided data sources to create a comprehensive lead intelligence profile optimized for personalized sales outreach.","role":"assistant"},{"content":"=Current Time is {{ $now }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,1440],"id":"3b2adbfd-441b-473c-b887-b8e7b2397245","name":"Build Context Profiles","onError":"continueRegularOutput"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"={{ $('Icebreaking Email Narrator').item.json.message.content.subject }}","message":"={{ $('Icebreaking Email Narrator').item.json.message.content.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,1312],"id":"f8b66367-6bbb-434c-8571-ec0fb844a3f9","name":"Gmail","webhookId":"fcf54abb-568e-4664-b527-778cca4d237f","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appquGigoFwku8TXl","mode":"list","cachedResultName":"Lead Outreach OS","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl"},"table":{"__rl":true,"value":"tblpSDQtYdaTJ2SZV","mode":"list","cachedResultName":"Leads Table","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl/tblpSDQtYdaTJ2SZV"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.recid }}","Email Campaign ":true,"Context Profile":"={{ $('Build Context Profiles').item.json.message.content.output.toJsonString() }}","Email Log":"=Subject:  {{ $('Icebreaking Email Narrator').item.json.message.content.subject }}\nEmail Body: {{ $('Icebreaking Email Narrator').item.json.message.content.email_body }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Lead Input","displayName":"Lead Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personal Email","displayName":"Personal Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ogranization Url","displayName":"Ogranization Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estimated number of employees.","displayName":"Estimated number of employees.","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Photo URL","displayName":"Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization ID","displayName":"Organization ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Linkedin URL","displayName":"Organization Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Facebook URL","displayName":"Organization Facebook URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Twitter URL","displayName":"Organization Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization founded Year","displayName":"Organization founded Year","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Organization domain","displayName":"Organization domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization phone","displayName":"Organization phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization street address","displayName":"Organization street address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization raw Address","displayName":"Organization raw Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization City","displayName":"Organization City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization state","displayName":"Organization state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization country","displayName":"Organization country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization postal code","displayName":"Organization postal code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization SEO description","displayName":"Organization SEO description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization short description","displayName":"Organization short description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization annual revenue","displayName":"Organization annual revenue","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Organization annual revenue printed","displayName":"Organization annual revenue printed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization technologies","displayName":"Organization technologies","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization total funding","displayName":"Organization total funding","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email Campaign ","displayName":"Email Campaign ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"LinkedIn Campaign","displayName":"LinkedIn Campaign","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Context Profile","displayName":"Context Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email Log","displayName":"Email Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Twitter URL","displayName":"Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Facebook URL ","displayName":"Facebook URL ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization market cap","displayName":"Organization market cap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1456,1312],"id":"91771be3-f5dd-4492-82a5-799773b221e6","name":"Airtable"},{"parameters":{"jsCode":"const recid = $('Airtable5').first().json.id;\nreturn{\n  recid\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,1312],"id":"756fac04-a943-4ed2-a19b-628cffd615a5","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1856,1440],"id":"de747c6e-d113-44c0-b0ac-c2c3b43ea9bb","name":"Wait1","webhookId":"c2a60ff2-3696-46bb-b89c-1f1cb9c2d8f4"},{"parameters":{"path":"41a6444c-aa0e-46a2-b8dd-946131d0c9a7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[96,240],"id":"e18492d0-1fc8-44fb-b30c-f27cb8885831","name":"Webhook","webhookId":"41a6444c-aa0e-46a2-b8dd-946131d0c9a7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a449478d-90d4-4205-8ead-3e281436196b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"24b9d086-9451-44cd-bf24-808f0b993f87","leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"26c5c0f4-ea11-41c9-8282-a6eac82e9ce4","leftValue":"={{ $json.verify }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,1392],"id":"6cd3f9d8-3df1-44e3-bd04-b22cd0fc520a","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21d3ecc5-b7d0-4efa-9202-123c521e4f7c","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f5b12d23-4dc1-4ff1-aa38-470d05cda963","leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1472],"id":"6c08873d-7db5-46f6-b2af-cd733c4c3243","name":"If1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appquGigoFwku8TXl","mode":"list","cachedResultName":"Lead Outreach OS","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl"},"table":{"__rl":true,"value":"tblpSDQtYdaTJ2SZV","mode":"list","cachedResultName":"Leads Table","cachedResultUrl":"https://airtable.com/appquGigoFwku8TXl/tblpSDQtYdaTJ2SZV"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.recid }}","Context Profile":"={{ $('Build Context Profiles').item.json.message.content.output.toJsonString() }}","Email Log":"=Subject:  {{ $('Icebreaking Email Narrator').item.json.message.content.subject || ''}}\nEmail Body: {{ $('Icebreaking Email Narrator').item.json.message.content.email_body || '' }}","LinkedIn Campaign":true},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Lead Input","displayName":"Lead Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personal Email","displayName":"Personal Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LinkedIn Url","displayName":"LinkedIn Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Name","displayName":"Organization Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ogranization Url","displayName":"Ogranization Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estimated number of employees.","displayName":"Estimated number of employees.","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Photo URL","displayName":"Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization ID","displayName":"Organization ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Linkedin URL","displayName":"Organization Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Facebook URL","displayName":"Organization Facebook URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization Twitter URL","displayName":"Organization Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization founded Year","displayName":"Organization founded Year","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Organization domain","displayName":"Organization domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization phone","displayName":"Organization phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization street address","displayName":"Organization street address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization raw Address","displayName":"Organization raw Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization City","displayName":"Organization City","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization state","displayName":"Organization state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization country","displayName":"Organization country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization postal code","displayName":"Organization postal code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization SEO description","displayName":"Organization SEO description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization short description","displayName":"Organization short description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization annual revenue","displayName":"Organization annual revenue","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Organization annual revenue printed","displayName":"Organization annual revenue printed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization technologies","displayName":"Organization technologies","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization total funding","displayName":"Organization total funding","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email Campaign ","displayName":"Email Campaign ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"LinkedIn Campaign","displayName":"LinkedIn Campaign","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Context Profile","displayName":"Context Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email Log","displayName":"Email Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Twitter URL","displayName":"Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Facebook URL ","displayName":"Facebook URL ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Organization market cap","displayName":"Organization market cap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1616,1472],"id":"6d6ae62c-149f-4adc-9081-0efab4d19021","name":"Airtable1"},{"parameters":{"jsCode":"const recid = $('Airtable5').first().json.id;\nreturn{\n  recid\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,1472],"id":"51521659-b97d-4dd3-ad09-ccb11478e4c9","name":"Code1"},{"parameters":{"jsCode":"const email = $('Airtable5').first().json.fields.Email;\nconst linkedin = $('Airtable5').first().json.fields[\"LinkedIn Url\"];\nconst first_name =  $('Airtable5').first().json.fields[\"First Name\"];\nconst last_name = $('Airtable5').first().json.fields[\"Last Name\"];\nconst verify = $('Email Validator').first().json.email_verified;\n\n\nreturn{\n  email,\n  linkedin,\n  first_name,\n  last_name,\n  verify\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,1440],"id":"ef82fdcd-f877-4bd5-92a9-09b3ee4e8c81","name":"Code4"},{"parameters":{"content":"# Lead Generation & ICP Development Engine\n*Strategic prospect identification system with automated ideal customer profile targeting and Apollo.io integration.*\n\n**Process Overview**:\n1. *Ingests qualification parameters and retrieves campaign specifications from Airtable*\n2. *AI engine generates precision-targeted Apollo search queries with industry taxonomy mapping*\n3. *Extracts up to 500 qualified prospect records from Apollo database*","height":512,"width":1080,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"45f96a79-c947-4161-8985-2bb988a85218","name":"Sticky Note"},{"parameters":{"content":"# Multi-Channel Outreach Engine\n*Delivers personalized outreach via email and LinkedIn with intelligent routing based on verified contact availability.*\n\n**Distribution Flow**:\n1. *Routes leads based on verified contact data*\n2. *Executes campaigns via Gmail or LinkedIn (HeyReach)*\n3. *Updates Airtable with campaign status and applies rate limiting*","height":580,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[912,1072],"id":"c7edb6cc-ad73-404c-abb9-182e8592be9a","name":"Sticky Note1"},{"parameters":{"content":"# Lead Data Orchestration & Intelligent Email Engine\n*Consolidates enriched prospect data and generates hyper-personalized outreach using AI-driven content synthesis.*\n\n**Personalization Flow**:\n1. *Aggregates company intelligence from multiple scraped web sources*\n2. *Structures lead data (LinkedIn, company, Apollo) into unified JSON format*\n3. *Executes real-time market research via Perplexity AI*\n4. *Builds context profiles with 50+ personalization attributes*\n5. *Generates emails using 95/5 framework (95% value, 5% promotion)*\n6. *Prepares data for multi-channel outreach distribution*","height":580,"width":1880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,1072],"id":"60eb0a30-8390-4b80-813a-4c1da6115965","name":"Sticky Note3"},{"parameters":{"content":"# Lead Enrichment & Verification Engine\n*Multi-source data enrichment pipeline delivering validated contact and company intelligence.*\n\n**Process Flow**:\n1. *Validates email deliverability, LinkedIn presence, and deduplicates records*\n2. *Enriches via LinkedIn, company website extraction, and email verification*\n3. *Captures 40+ data points per lead with rate-limited API orchestration*","height":528,"width":1980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,528],"id":"a508f503-43ed-4fbd-a5cc-bd3669e156dd","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/list/AddLeadsToList","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"API_TOKEN"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"leads\": [\n    {\n      \"firstName\": \"{{ $('Code4').item.json.first_name }}\",\n      \"lastName\": \"{{ $('Code4').item.json.last_name }}\",\n      \"profileUrl\": \"{{ $('Code4').item.json.linkedin }}\"\n    }\n  ],\n  \"listId\": \"{LEAD LIST ID}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,1472],"id":"32f742e4-9646-4426-afb7-c44f1d3fbfbb","name":"HeyReach Lead Addition","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync-get-dataset-items?token=API_TOKEN","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"cleanOutput\": true,\n    \"fileName\": \"{{ $('Airtable3').item.json[\"Job Title\"] }} Apollo Scraping\",\n    \"totalRecords\": {{ $('Airtable3').item.json[\"Quantity To Scrape\"] }},\n    \"url\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,240],"id":"d1d0298b-8adf-4c5f-bc8a-f93ff3f7ddd5","name":"Apollo Lead List Curation"},{"parameters":{"method":"POST","url":"https://api.anymailfinder.com/v4.0/validate.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.fields.Email || $json.fields[\"Personal Email\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,848],"id":"ddb93458-0855-4634-ac9c-c2335f85ebe6","name":"Email Validator","onError":"continueRegularOutput"},{"parameters":{"url":"https://api.apify.com/v2/acts/apimaestro~linkedin-profile-full-sections-scraper/run-sync-get-dataset-items?token=API_TOKEN","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"usernames\": [\n        \"{{ $('Airtable5').item.json.fields[\"LinkedIn Url\"] }}\"\n    ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,832],"id":"77601515-3af0-43e4-afa3-abc94bd3bc25","name":"Linkedin Profile Scraper (Advanced)","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/vdrmota~contact-info-scraper/run-sync-get-dataset-items?token=API_TOKEN","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"considerChildFrames\": true,\n    \"maxDepth\": 2,\n    \"maxRequests\": 9999999,\n    \"maxRequestsPerStartUrl\": 5,\n    \"sameDomain\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $('Airtable5').item.json.fields[\"Ogranization Url\"] }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useBrowser\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,832],"id":"b196ea92-702a-4684-8847-3e84d742c48b","name":"Organization Research","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer API_TOKEN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert research assistant AI that conducts comprehensive analysis using Perplexity to gather relevant details about a specific person and their company. Your goal is to extract factual, current, and publicly available information that can serve as meaningful conversation starters and relationship-building insights for personalized outreach.\\n\\nInstructions\\nUsing the provided lead data (LinkedIn profile, company information, and Apollo data), conduct thorough research to gather:\\n\\nPerson-Specific Research:\\n- Recent professional achievements, promotions, or career moves\\n- Published articles, blog posts, interviews, or thought leadership content\\n- Speaking engagements, conference presentations, or webinar appearances\\n- Awards, recognitions, or industry certifications\\n- Educational background and notable alma mater connections\\n- Personal interests, hobbies, or volunteer activities mentioned publicly\\n- Social media insights relevant to professional interests\\n- Patents, publications, or research contributions\\n\\nCompany-Specific Research:\\n- Recent company news, funding rounds, or major announcements\\n- Product launches, feature updates, or service expansions\\n- Leadership changes or key hires\\n- Market positioning and competitive landscape insights\\n- Company culture, values, and mission alignment opportunities\\n- Recent partnerships, integrations, or collaborations\\n- Industry trends affecting their business\\n- Financial performance or growth metrics (if publicly available)\\n\\nIndustry & Market Context:\\n- Current trends in their industry sector\\n- Challenges and opportunities in their market\\n- Regulatory changes or industry developments\\n- Competitor analysis and market positioning\\n\\nOutput Format\\nPresent findings in a structured, actionable format:\\n\\nPERSONAL INSIGHTS:\\n- [Recent achievements or updates]\\n- [Professional interests and expertise areas]\\n- [Personal interests or connection opportunities]\\n\\nCOMPANY INSIGHTS:\\n- [Recent company developments]\\n- [Business challenges or opportunities]\\n- [Market position and competitive factors]\\n\\nCONVERSATION STARTERS:\\n- [Specific, relevant topics for personalized outreach]\\n- [Shared interests or connection points]\\n- [Industry insights that demonstrate understanding]\\n\\nResearch Guidelines\\n- Focus on information from the last 6-12 months for relevance\\n- Prioritize verified, publicly available sources\\n- Include specific dates, numbers, or concrete details when available\\n- Avoid speculation or unverifiable claims\\n- Ensure all information respects privacy and professional boundaries\\n- Cross-reference multiple sources for accuracy\\n\\nQuality Standards\\n- Provide actionable insights that enable meaningful conversations\\n- Include sufficient context for each finding\\n- Organize information by relevance and recency\\n- Ensure findings are appropriate for professional outreach\\n- Maintain focus on relationship-building opportunities.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Company Research Data: {{ $json.message.content.company_data }} Lead LinkedIn Profile: {{ $json.message.content.linkedin_analytics || \"Nil\" }} Apollo Lead Information: {{ $json.message.content.apollo_data || \"Nil\" }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,1440],"id":"d68d4319-6403-4e2c-9504-d3311f097729","name":"Perplexity Research","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are an expert cold email copywriter specializing in B2B sales outreach with a focus on ultra-personalized, human-centric communication. Your expertise lies in creating emails that feel genuinely personal, authentic, and valuable to the recipient.\n\n## Your Core Philosophy:\n- **95% Human Touch**: Focus on genuine recognition, appreciation, and relationship building\n- **5% Promotion**: Subtle brand positioning without aggressive selling\n- **Gratification & Recognition**: Make the recipient feel valued and acknowledged\n- **Authenticity**: Every email should feel like it's written by a real person who has done their research\n\n## Writing Style Guidelines:\n- **Conversational Tone**: Write as if you're having a friendly professional conversation\n- **Specific Recognition**: Reference specific achievements, career moves, or company developments\n- **Value-First Approach**: Lead with insights or congratulations before any business mention\n- **Respectful Curiosity**: Show genuine interest in their work and challenges\n- **Brevity with Impact**: Keep emails concise but meaningful (150-200 words max)\n\n## Email Structure (95/5 Rule):\n### 95% Human Touch Elements:\n- Personal congratulations on recent achievements\n- Specific recognition of their expertise or background\n- Genuine appreciation for their work/company impact\n- Thoughtful questions about their challenges or vision\n- Industry insights that benefit them\n\n### 5% Promotion Elements:\n- Subtle company/brand mention\n- Soft value proposition alignment\n- Gentle suggestion of mutual benefit\n- Professional signature with credentials\n\n## Quality Standards:\n- **Hyper-Personalization**: Use specific details from their profile, company news, and background\n- **Research Evidence**: Every personal reference must be backed by provided data\n- **Natural Flow**: Email should read like a thoughtful message from a colleague\n- **Professional Warmth**: Balance professionalism with human warmth\n- **Clear Intent**: Purpose should be clear but not pushy\n\n## Key Principles:\n- Never use generic templates or obvious sales language\n- Always lead with genuine value or recognition\n- Reference specific, recent developments when possible\n- Show respect for their time and expertise\n- End with a soft, low-pressure call to action\n\nYour goal is to create emails that recipients actually want to read and respond to because they feel genuinely seen and appreciated.","role":"system"},{"content":"=Based on the context profile and sender information provided, I'll create a highly personalized cold email that follows the 95/5 rule:\n\n```json\n{\n  \"subject\": \"Generate based on specific recent achievement or career move from context_profile.primary_prospect - examples: 'Congratulations on joining HealthEdge during the Bain Capital acquisition!', 'Impressive transition from Pazcare to HealthEdge', 'Your digital transformation work at HealthEdge caught my attention'\",\n  \n  \"email_body\": \"Hi context_profile.primary_prospect.personal_info.first_name,\n\n95% HUMAN TOUCH - OPENING WITH GENUINE RECOGNITION\nCongratulate on specific recent achievement like new role, company acquisition, or career milestone from context_profile.primary_prospect.professional_info.current_position\n\nSPECIFIC PERSONAL RECOGNITION\nReference their educational background from context_profile.primary_prospect.background_analysis.education - especially prestigious institutions like IIT\nAcknowledge their experience across multiple industries from context_profile.primary_prospect.professional_info.industry_focus\nMention specific volunteer work from context_profile.primary_prospect.engagement_insights.volunteer_activities\n\nCOMPANY/INDUSTRY INSIGHT\nReference recent company news from context_profile.company_info and show understanding of their industry challenges\nAcknowledge their company's impressive metrics or achievements from context_profile.company_info.key_metrics\n\nTHOUGHTFUL QUESTION OR OBSERVATION\nAsk about their experience with challenges mentioned in context_profile.primary_prospect.outreach_strategy.pain_points\nReference their 'about' section interests from context_profile.primary_prospect.personal_info.about\n\n5% PROMOTION - SUBTLE BRAND MENTION\nSoft introduction of sender and company from sender_info\nGentle connection to how sender's value_proposition aligns with their challenges\nMention helping similar companies in their industry without being pushy\n\nSOFT CALL TO ACTION\nLow-pressure invitation for a brief conversation\nReference their location and timezone from context_profile.primary_prospect.personal_info.location\nRespect their time and expertise\n\nBest regards,\nsender_name\nsender_title\nsender_company\nsender_email\nsender_website\n\"\n}\n```\n\n## Example Structure (for reference):\n```json\n{\n  \"subject\": \"Congratulations on your move to HealthEdge during the Bain Capital acquisition!\",\n  \n  \"email_body\": \"Hi Shivam,\n\nI wanted to reach out and congratulate you on your recent transition to HealthEdge as a Product Manager. Joining during Bain Capital's acquisition must be an exciting time with tremendous growth opportunities ahead.\n\nYour background really impressed me - from IIT Bombay to building industry-leading SaaS products across insuretech and government welfare delivery. The combination of technical excellence and product expertise across such diverse industries is rare. I also noticed your volunteer work with IITians4India in the health sector - it's clear you're passionate about making a meaningful impact.\n\nHealthEdge's mission to eliminate data silos and serve 110+ million covered lives aligns perfectly with your focus on user-centric products that drive business outcomes. With your experience at Pazcare and Haqdarshak, you've seen firsthand the challenges of healthcare integration.\n\nI'm curious about your vision for leveraging HealthEdge's 100+ third-party integrations to enhance automation and real-time engagement. The digital transformation opportunities in healthcare seem endless right now.\n\nI lead product strategy at [Company], where we help healthcare SaaS companies streamline their integration challenges. Given your expertise and HealthEdge's growth trajectory, I'd love to share some insights we've gathered from similar companies navigating rapid expansion.\n\nWould you be open to a brief conversation sometime next week? I'm mindful of the IST timezone and happy to work around your schedule.\n\nBest regards,\n[Name]\n[Title]\n[Company]\n[Email]\n[Phone]\n[Website]\"\n}\n```\n\nThe email follows the 95/5 rule with genuine recognition, specific personal details, and only a subtle business mention at the end.\n\nIf you don't have the lead's name or any other info, make the email generic, but don't use dear [recipient's name] or [recipient's company]","role":"assistant"},{"content":"=Generate a highly personalized cold email outreach based on the following context profile and sender information:\n\n## Context Profile Data:\n```json\n{{ $json.message.content.output.toJsonString() }}\n```\n\n## Sender Information:\n**Company:** Instig8.AI\n**Sender Name:** Aryan Mahajan\n**Sender Title:** Co-Founder of Instig8.AI | CMO at Gerra\n**Company Description:** INSTIG8 AI is an innovative technology company focused on transforming sales processes through its AI-powered sales orchestration platform. The company automates revenue-critical workflows, including lead generation, content creation, and funding automation, to help B2B sales teams optimize productivity and accelerate deal closure. INSTIG8 AI's solutions leverage artificial intelligence and machine learning to automate repetitive tasks, provide intelligent guidance, and drive smarter go-to-market strategies for investors, operators, and growth-focused businesses\n**Value Proposition:** INSTIG8 AI delivers custom AI systems that automate and optimize key business workflows, enabling organizations to increase revenue per employee and reduce operational costs. Their platform helps clients:\n\nAutomate sales and marketing workflows, including cold outreach, lead qualification, and nurture campaigns.\n\nGenerate sales enablement content and insights automatically from call transcripts and trend analysis.\n\nSecure non-dilutive capital through AI-powered grant and patent automation.\n\nSave on production costs with trend-aware AI content systems.\n\nEnhance conversion rates and shorten sales cycles with personalized AI-driven outreach.\n\nKey benefits include increased efficiency, improved alignment between sales and marketing, and rapid go-to-market execution.\n**Website:** https://www.instig8.ai/\n**Email:** aryan@instig8.ai\n\n## Email Requirements:\n- **Target Prospect:** Use primary_prospect data from context profile\n- **Personalization Level:** 95% human touch, 5% promotion\n- **Tone:** Conversational, professional, and genuinely warm\n- **Length:** 150-200 words maximum\n- **Focus:** Recognition, gratification, and relationship building\n\n## Personalization Elements to Include:\n- Recent career moves or achievements\n- Company news or developments\n- Educational background or certifications\n- Industry expertise and experience\n- Volunteer work or personal interests\n- Specific challenges in their role/industry\n\n## 95/5 Rule Application:\n- **95% Human Touch**: Genuine congratulations, specific recognition, thoughtful insights, respectful curiosity\n- **5% Promotion**: Subtle brand mention, soft value alignment, gentle mutual benefit suggestion\n\n## Output Format Required:\n```json\n{\n  \"subject\": \"Engaging subject line that feels personal and non-salesy\",\n  \"email_body\": \"Complete email body with personalized content following 95/5 rule\"\n}\n```\n\nCreate an email that the recipient will genuinely want to read and respond to because they feel seen and appreciated."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,1440],"id":"5b09e08c-53c9-4991-b4af-bf79b33a8241","name":"Icebreaking Email Narrator","onError":"continueRegularOutput"}],"connections":{"Edit Fields":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Apollo URL Orchestrator1","type":"ai_languageModel","index":0}]]},"Set User Query1":{"main":[[{"node":"Apollo URL Orchestrator1","type":"main","index":0}]]},"Airtable3":{"main":[[{"node":"Set User Query1","type":"main","index":0}]]},"Apollo URL Orchestrator1":{"main":[[{"node":"Apollo Lead List Curation","type":"main","index":0}]]},"Think1":{"ai_tool":[[{"node":"Apollo URL Orchestrator1","type":"ai_tool","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Airtable4","type":"main","index":0}],[{"node":"If8","type":"main","index":0}]]},"Airtable4":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Airtable5","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Airtable5":{"main":[[{"node":"Email Validator","type":"main","index":0}]]},"If8":{"main":[[{"node":"Airtable4","type":"main","index":0}],[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Airtable4","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If10":{"main":[[{"node":"Linkedin Profile Scraper (Advanced)","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"If11":{"main":[[{"node":"Organization Research","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Perplexity Research","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Build Context Profiles","type":"main","index":0}]]},"Build Context Profiles":{"main":[[{"node":"Icebreaking Email Narrator","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Code","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable3","type":"main","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HeyReach Lead Addition","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If","type":"main","index":0}]]},"HeyReach Lead Addition":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Apollo Lead List Curation":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Email Validator":{"main":[[{"node":"If10","type":"main","index":0}]]},"Linkedin Profile Scraper (Advanced)":{"main":[[{"node":"If11","type":"main","index":0}]]},"Organization Research":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Perplexity Research":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Icebreaking Email Narrator":{"main":[[{"node":"Code4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"d3710192-6eda-4a3b-a280-5da1e0188a61","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-02T18:07:05.722Z","createdAt":"2026-05-02T18:07:05.722Z","role":"workflow:owner","workflowId":"OkqK78DmBosjJqQa","projectId":"c3pwUnwZOCkl3kSS","project":{"updatedAt":"2026-01-09T13:00:20.000Z","createdAt":"2025-12-08T15:06:45.837Z","id":"c3pwUnwZOCkl3kSS","name":"HBF","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}