hbf_online/2026/03/Gmail Invoice and Receipt Auto-Organizer to Google Drive/Y4J9HGDOhlXqDNvf.json
{"updatedAt":"2026-03-03T16:14:59.873Z","createdAt":"2026-03-02T21:09:42.078Z","id":"Y4J9HGDOhlXqDNvf","name":"Gmail Invoice and Receipt Auto-Organizer to Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"subject:(invoice OR receipt)"},"options":{"downloadAttachments":true}},"id":"c1d2c0be-d57c-498a-8c5b-4adf5621b1d3","name":"Monitor Gmail for Invoices/Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[256,400],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"parameters":{"fieldToSplitOut":"attachments","options":{}},"id":"12a8c40f-4e25-49ee-89d1-bb7390c2687e","name":"Split Attachments","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.subject }}","rightValue":"invoice","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"renameOutput":true,"outputKey":"invoice"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.subject }}","rightValue":"receipt","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"renameOutput":true,"outputKey":"receipt"}]},"options":{}},"id":"dfb97b69-2f7c-4607-96a6-f859e8e6ca33","name":"Classify Document Type","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[704,400]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"invoiceDate","value":"={{ $json.date }}","type":"string"},{"id":"id-2","name":"fileName","value":"={{ $json.date ? $json.date.replace(/\\//g, '-') : 'unknown-date' }}_invoice_{{ $json.companyName.replace(/[^a-zA-Z0-9]/g, '_') }}","type":"string"},{"id":"id-3","name":"folderPath","value":"Invoices","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2283e096-ccb8-4035-8f0e-c8237adceaad","name":"Prepare Invoice for Upload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,304]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"receiptDate","value":"={{ $json.date }}","type":"string"},{"id":"id-2","name":"fileName","value":"={{ $json.date ? $json.date.replace(/\\//g, '-') : 'unknown-date' }}_receipt_{{ $json.companyName.replace(/[^a-zA-Z0-9]/g, '_') }}","type":"string"},{"id":"id-3","name":"folderPath","value":"Receipts","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2d1472bd-20c1-43a3-9a5f-b31500f0de3f","name":"Prepare Receipt for Upload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,496]},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.targetFolderId }}"},"options":{}},"id":"5c347680-c860-414e-8ce7-17ca49bc9921","name":"Upload Invoice to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1376,304]},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.targetFolderId }}"},"options":{}},"id":"15ebd76c-b347-4355-a16a-3f1e2fdcded2","name":"Upload Receipt to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1376,496]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"companyName","value":"={{ $json.supplier_name || $json.supplier || 'Unknown Company' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"afc2326f-63f6-41ce-a176-dbaefdd6faa2","name":"Extract Company Name (Invoice)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,400]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"companyName","value":"={{ $json.supplier_name || $json.supplier || 'Unknown Company' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"36ceadf5-707d-44a0-8abc-aeced5884dcb","name":"Extract Company Name (Receipt)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,816]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $json.companyName }}' and mimeType='application/vnd.google-apps.folder' and 'root' in parents","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"}},"options":{}},"id":"6fe6a33d-ef16-4984-a988-6f8e7675b8e1","name":"Search Invoice Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1888,400]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $json.companyName }}' and mimeType='application/vnd.google-apps.folder' and 'root' in parents","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"}},"options":{}},"id":"5b2356fa-538d-4775-8372-b7c25aad47b1","name":"Search Receipt Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1888,816]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.files }}","operator":{"type":"array","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1e108d8d-c9fd-48de-aa93-3414e516e042","name":"Invoice Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2112,400]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.files }}","operator":{"type":"array","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"4e052096-7534-466c-9c1d-8a12c616fa3d","name":"Receipt Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2112,816]},{"parameters":{"resource":"folder","name":"={{ $json.companyName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"7459cb60-7c04-4cee-8878-8a9557606031","name":"Create Invoice Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2336,496]},{"parameters":{"resource":"folder","name":"={{ $json.companyName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"313934a6-705e-4e00-99b2-8d66df125093","name":"Create Receipt Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2336,912]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.files[0].id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e03dcb5c-e384-4143-92fa-c466384f36a6","name":"Get Existing Invoice Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,304]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.files[0].id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"08466065-d978-4b3e-91a7-ace713c99ea9","name":"Get Existing Receipt Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,720]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"a2ebfe0d-29fc-43d0-bdf6-753679b2c45e","name":"Get New Invoice Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,496]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"42fdacfb-c75c-47dc-937a-fa38dfc7826b","name":"Get New Receipt Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,912]},{"parameters":{"method":"POST","url":"https://documentai.googleapis.com/v1/projects/<__PLACEHOLDER_VALUE__project_id__>/locations/<__PLACEHOLDER_VALUE__location__>/processors/<__PLACEHOLDER_VALUE__invoice_processor_id__>:process","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"rawDocument\": {\n    \"content\": \"={{ $binary.data.data }}\",\n    \"mimeType\": \"={{ $binary.data.mimeType }}\"\n  },\n  \"skipHumanReview\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"55792a97-d1ec-464c-a932-e9c853e413d5","name":"Process Invoice with Document AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2848,304]},{"parameters":{"method":"POST","url":"https://documentai.googleapis.com/v1/projects/<__PLACEHOLDER_VALUE__project_id__>/locations/<__PLACEHOLDER_VALUE__location__>/processors/<__PLACEHOLDER_VALUE__receipt_processor_id__>:process","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"rawDocument\": {\n    \"content\": \"={{ $binary.data.data }}\",\n    \"mimeType\": \"={{ $binary.data.mimeType }}\"\n  },\n  \"skipHumanReview\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c6c517e6-12b8-4000-b4d6-fad3d18fda02","name":"Process Receipt with Document AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2848,528]},{"parameters":{"assignments":{"assignments":[{"id":"date","name":"date","value":"={{ $json.document?.entities?.find(e => e.type === 'invoice_date')?.mentionText || $json.document?.entities?.find(e => e.type === 'due_date')?.mentionText || '' }}","type":"string"},{"id":"supplier","name":"supplier_name","value":"={{ $json.document?.entities?.find(e => e.type === 'supplier_name')?.mentionText || $json.document?.entities?.find(e => e.type === 'supplier_address')?.mentionText?.split('\\n')[0] || 'Unknown' }}","type":"string"},{"id":"total","name":"total_amount","value":"={{ $json.document?.entities?.find(e => e.type === 'total_amount')?.mentionText || '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0ac85726-9e45-461e-bc63-252b7947826a","name":"Parse Invoice Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3072,304]},{"parameters":{"assignments":{"assignments":[{"id":"date","name":"date","value":"={{ $json.document?.entities?.find(e => e.type === 'receipt_date')?.mentionText || $json.document?.entities?.find(e => e.type === 'transaction_date')?.mentionText || '' }}","type":"string"},{"id":"supplier","name":"supplier_name","value":"={{ $json.document?.entities?.find(e => e.type === 'supplier_name')?.mentionText || $json.document?.entities?.find(e => e.type === 'merchant_name')?.mentionText || 'Unknown' }}","type":"string"},{"id":"total","name":"total_amount","value":"={{ $json.document?.entities?.find(e => e.type === 'total_amount')?.mentionText || '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"3bd0bb00-ad19-47e1-8303-19f496e4b820","name":"Parse Receipt Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3072,528]}],"connections":{"Classify Document Type":{"main":[[{"node":"Process Invoice with Document AI","type":"main","index":0}],[{"node":"Process Receipt with Document AI","type":"main","index":0}]]},"Monitor Gmail for Invoices/Receipts":{"main":[[{"node":"Split Attachments","type":"main","index":0}]]},"Split Attachments":{"main":[[{"node":"Classify Document Type","type":"main","index":0}]]},"Prepare Invoice for Upload":{"main":[[{"node":"Upload Invoice to Drive","type":"main","index":0}]]},"Prepare Receipt for Upload":{"main":[[{"node":"Upload Receipt to Drive","type":"main","index":0}]]},"Search Receipt Company Folder":{"main":[[{"node":"Receipt Folder Exists?","type":"main","index":0}]]},"Extract Company Name (Invoice)":{"main":[[{"node":"Search Invoice Company Folder","type":"main","index":0}]]},"Extract Company Name (Receipt)":{"main":[[{"node":"Search Receipt Company Folder","type":"main","index":0}]]},"Search Invoice Company Folder":{"main":[[{"node":"Invoice Folder Exists?","type":"main","index":0}]]},"Invoice Folder Exists?":{"main":[[{"node":"Get Existing Invoice Folder ID","type":"main","index":0}],[{"node":"Create Invoice Company Folder","type":"main","index":0}]]},"Receipt Folder Exists?":{"main":[[{"node":"Get Existing Receipt Folder ID","type":"main","index":0}],[{"node":"Create Receipt Company Folder","type":"main","index":0}]]},"Create Invoice Company Folder":{"main":[[{"node":"Get New Invoice Folder ID","type":"main","index":0}]]},"Create Receipt Company Folder":{"main":[[{"node":"Get New Receipt Folder ID","type":"main","index":0}]]},"Get Existing Invoice Folder ID":{"main":[[{"node":"Prepare Invoice for Upload","type":"main","index":0}]]},"Get New Invoice Folder ID":{"main":[[{"node":"Prepare Invoice for Upload","type":"main","index":0}]]},"Get Existing Receipt Folder ID":{"main":[[{"node":"Prepare Receipt for Upload","type":"main","index":0}]]},"Get New Receipt Folder ID":{"main":[[{"node":"Prepare Receipt for Upload","type":"main","index":0}]]},"Process Receipt with Document AI":{"main":[[{"node":"Parse Receipt Response","type":"main","index":0}]]},"Process Invoice with Document AI":{"main":[[{"node":"Parse Invoice Response","type":"main","index":0}]]},"Parse Invoice Response":{"main":[[{"node":"Prepare Invoice for Upload","type":"main","index":0},{"node":"Extract Company Name (Invoice)","type":"main","index":0}]]},"Parse Receipt Response":{"main":[[{"node":"Prepare Receipt for Upload","type":"main","index":0},{"node":"Extract Company Name (Receipt)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"95c6d90c-46aa-45b1-8f4f-4e624fde99cd","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T21:09:42.091Z","createdAt":"2026-03-02T21:09:42.091Z","role":"workflow:owner","workflowId":"Y4J9HGDOhlXqDNvf","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}