hbf_online/2026/03/Gmail Invoice and Receipt Auto-Organizer to Google Drive/Y4J9HGDOhlXqDNvf.json
{"updatedAt":"2026-03-04T18:44:01.646Z","createdAt":"2026-03-02T21:09:42.078Z","id":"Y4J9HGDOhlXqDNvf","name":"Gmail Invoice and Receipt Auto-Organizer to Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"attachments","options":{}},"id":"12a8c40f-4e25-49ee-89d1-bb7390c2687e","name":"Split Attachments","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,400]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"invoiceDate","value":"={{ $json.date }}","type":"string"},{"id":"id-2","name":"fileName","value":"={{ $json.date ? $json.date.replace(/\\//g, '-') : 'unknown-date' }}_invoice_{{ $json.companyName.replace(/[^a-zA-Z0-9]/g, '_') }}","type":"string"},{"id":"id-3","name":"folderPath","value":"Invoices","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2283e096-ccb8-4035-8f0e-c8237adceaad","name":"Prepare Invoice for Upload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3680,496]},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.targetFolderId }}"},"options":{}},"id":"5c347680-c860-414e-8ce7-17ca49bc9921","name":"Upload Invoice to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3904,496]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"companyName","value":"={{ $json.supplier_name || 'Unknown Company' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"afc2326f-63f6-41ce-a176-dbaefdd6faa2","name":"Extract Company Name (Invoice)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,272]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name='{{ $json.companyName }}' and mimeType='application/vnd.google-apps.folder' and 'root' in parents","filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"}},"options":{}},"id":"6fe6a33d-ef16-4984-a988-6f8e7675b8e1","name":"Search Invoice Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2112,272]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.files }}","operator":{"type":"array","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1e108d8d-c9fd-48de-aa93-3414e516e042","name":"Invoice Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2336,272]},{"parameters":{"resource":"folder","name":"={{ $json.companyName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"7459cb60-7c04-4cee-8878-8a9557606031","name":"Create Invoice Company Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2560,368]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.files[0].id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e03dcb5c-e384-4143-92fa-c466384f36a6","name":"Get Existing Invoice Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2624,64]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"targetFolderId","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"a2ebfe0d-29fc-43d0-bdf6-753679b2c45e","name":"Get New Invoice Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2784,368]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"59c5ef63-a2f5-4d54-851c-764a9daeb458","name":"Convert Invoice to Base64","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[720,32]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are a document processing assistant. Extract the invoice date, supplier name, and total amount from the provided invoice image. Be precise and extract exactly what you see on the document."}},"id":"61729294-5b5e-4aed-a3b8-0c7386d30817","name":"Extract Invoice Data","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[928,304]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.2}},"id":"25890721-6362-4a5b-9b88-16e0d084af38","name":"OpenAI GPT-4o (Invoice)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[944,528],"credentials":{"openAiApi":{"id":"y07JKh2ymmrkYLKR","name":"n8n free OpenAI API credits"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"date\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Invoice date in any format found on the document\"\n\t\t},\n\t\t\"supplier_name\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Company or supplier name\"\n\t\t},\n\t\t\"total_amount\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Total amount including currency symbol\"\n\t\t}\n\t},\n\t\"required\": [\"date\", \"supplier_name\", \"total_amount\"]\n}"},"id":"5ab1214d-aca5-469c-8f61-de487b98374d","name":"Invoice Schema Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1072,528]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"subject:invoice"},"options":{"downloadAttachments":true}},"id":"c1d2c0be-d57c-498a-8c5b-4adf5621b1d3","name":"Monitor Gmail for Invoices","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[256,400],"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}}],"connections":{"Split Attachments":{"main":[[{"node":"Convert Invoice to Base64","type":"main","index":0}]]},"Prepare Invoice for Upload":{"main":[[{"node":"Upload Invoice to Drive","type":"main","index":0}]]},"Extract Company Name (Invoice)":{"main":[[{"node":"Search Invoice Company Folder","type":"main","index":0}]]},"Search Invoice Company Folder":{"main":[[{"node":"Invoice Folder Exists?","type":"main","index":0}]]},"Invoice Folder Exists?":{"main":[[{"node":"Get Existing Invoice Folder ID","type":"main","index":0}],[{"node":"Create Invoice Company Folder","type":"main","index":0}]]},"Create Invoice Company Folder":{"main":[[{"node":"Get New Invoice Folder ID","type":"main","index":0}]]},"Get Existing Invoice Folder ID":{"main":[[{"node":"Prepare Invoice for Upload","type":"main","index":0}]]},"Get New Invoice Folder ID":{"main":[[{"node":"Prepare Invoice for Upload","type":"main","index":0}]]},"Convert Invoice to Base64":{"main":[[{"node":"Extract Invoice Data","type":"main","index":0}]]},"OpenAI GPT-4o (Invoice)":{"ai_languageModel":[[{"node":"Extract Invoice Data","type":"ai_languageModel","index":0}]]},"Invoice Schema Parser":{"ai_outputParser":[[{"node":"Extract Invoice Data","type":"ai_outputParser","index":0}]]},"Extract Invoice Data":{"main":[[{"node":"Extract Company Name (Invoice)","type":"main","index":0},{"node":"Prepare Invoice for Upload","type":"main","index":0}]]},"Monitor Gmail for Invoices":{"main":[[{"node":"Split Attachments","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5c9ad12a-8faa-428e-986c-4d345dd10611","activeVersionId":null,"versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T21:09:42.091Z","createdAt":"2026-03-02T21:09:42.091Z","role":"workflow:owner","workflowId":"Y4J9HGDOhlXqDNvf","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}