clifton_home/2026/02/Birthday Greeter via Beeper/oA1s9hnoCiFdfVwB.json
{"updatedAt":"2026-02-07T01:22:36.616Z","createdAt":"2026-02-06T14:16:30.280Z","id":"oA1s9hnoCiFdfVwB","name":"Birthday Greeter via Beeper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cf78e968-b427-4be9-b45b-5b0d2ad2a4dd","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[6992,-160],"notes":"Click to test the full flow. Bypasses the Random Delay and uses the hardcoded phone number in Filter Todays Birthdays instead of reading from the Excel sheet."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 27) + 1 }}","unit":"minutes"},"id":"80f80972-a3de-4132-ab4a-1e01af884424","name":"Random Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6992,-352],"webhookId":"95f3e208-a850-470d-a07e-2f9f7d484a95","notes":"Waits a random 1-27 minutes so messages don't always arrive at exactly 6 AM."},{"parameters":{"jsCode":"return [\n  { json: { ip: '192.168.2.2' } },\n  { json: { ip: '192.168.10.181' } },\n  { json: { ip: '192.168.10.225' } }\n];"},"id":"09d68577-da48-4903-9bcc-ddb93374d145","name":"Generate IP Candidates","type":"n8n-nodes-base.code","typeVersion":2,"position":[7248,-352],"notes":"Add/remove IPs here if your laptop's addresses change."},{"parameters":{"url":"=http://{{ $json.ip }}:23373/v1/chats?limit=1","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"timeout":5000}},"id":"fd5b0a30-34e6-41e6-98a4-15fd5ade5d81","name":"Beeper Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7504,-352],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"continueOnFail":true,"notes":"Pings each IP on port 23373. continueOnFail lets failed IPs pass through so the next node can pick the live one. Requires Beeper Desktop to be running with Remote Access enabled and the BEEPER_API_KEY environment variable set in n8n."},{"parameters":{"jsCode":"const checks = $input.all();\nconst ips = $('Generate IP Candidates').all();\n\nfor (let i = 0; i < checks.length; i++) {\n  if (checks[i].json.items !== undefined) {\n    return [{ json: { beeperHost: 'http://' + ips[i].json.ip + ':23373' } }];\n  }\n}\n\nthrow new Error('Beeper Desktop not reachable on any configured IP. Ensure it is running with Remote Access enabled.');"},"id":"7d8e1373-9282-41f4-bce5-9ef52eaa8ad0","name":"Select Live Host","type":"n8n-nodes-base.code","typeVersion":2,"position":[7744,-352],"notes":"Picks the first IP that returned a valid Beeper API response."},{"parameters":{"documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=0"},"options":{}},"id":"b4f8e296-8c6b-4687-82ee-3cd252b8262f","name":"Read Birthday Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[8000,-352],"credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}},"notes":"Configure: 1) Set Google Sheets OAuth2 credential. 2) Paste your Google Sheet URL in the Document field.\\n\\nGoogle Sheet columns:\\n- Name: person's name (used in the birthday message)\\n- Birthday: supports MM-DD, MM/DD, YYYY-MM-DD, YYYY/MM/DD formats\\n- Phone: number without the + prefix (e.g. 14155552671). The workflow adds the + automatically since Google Sheets strips it\\n- Relay: boolean (TRUE/FALSE). If TRUE, sends 'Tell <Name> I said happy birthday!' to the Phone number instead of a direct greeting. Use this when the phone number belongs to someone else (e.g. sending to mom for the kid).\\n- Dinner: boolean (TRUE/FALSE). If TRUE, sends a follow-up message after 4-12 seconds asking about dinner plans."},{"parameters":{"jsCode":"const timeZone = 'America/New_York'; // Change to your timezone\nconst today = new Date().toLocaleDateString('en-US', { timeZone });\nconst [todayMonth, todayDay] = today.split('/').map(Number);\n\nreturn $input.all()\n  .filter(item => {\n    const phone = String(item.json.Phone || '').trim();\n    const bday = String(item.json.Birthday || '').trim();\n    if (!phone || !bday) return false;\n\n    // Strip invisible characters then split on / or -\n    const clean = bday.replace(/[^\\d\\/-]/g, '');\n    const parts = clean.split(/[\\/\\-]/);\n\n    let month, day;\n    if (parts.length === 3) {\n      if (parts[0].length === 4) {\n        // YYYY-MM-DD\n        month = parseInt(parts[1], 10);\n        day = parseInt(parts[2], 10);\n      } else {\n        // MM/DD/YYYY\n        month = parseInt(parts[0], 10);\n        day = parseInt(parts[1], 10);\n      }\n    } else if (parts.length === 2) {\n      // MM-DD or MM/DD\n      month = parseInt(parts[0], 10);\n      day = parseInt(parts[1], 10);\n    } else {\n      return false;\n    }\n\n    return month === todayMonth && day === todayDay;\n  })\n  .map(item => {\n    let phone = String(item.json.Phone).trim();\n    if (!phone.startsWith('+')) phone = '+' + phone;\n    return { json: { ...item.json, Phone: phone } };\n  });"},"id":"732cd28e-2006-4a9e-94f6-7824f693118f","name":"Filter Todays Birthdays","type":"n8n-nodes-base.code","typeVersion":2,"position":[8304,-352],"notes":"Supports MM-DD, MM/DD, YYYY-MM-DD, YYYY/MM/DD date formats. Skips rows with missing Phone or Birthday. Prepends '+' to phone numbers (Google Sheets strips the +)."},{"parameters":{"url":"={{ $('Select Live Host').first().json.beeperHost }}/v1/chats/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.Phone }}"},{"name":"scope","value":"participants"},{"name":"type","value":"single"},{"name":"accountIDs","value":"imessage_c486047869de25aa846dda045493a09a"}]},"options":{}},"id":"de16be02-a63d-4edb-94ca-5cb284f6d06e","name":"Search Chat by Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8752,-352],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Searches Beeper for a DM chat matching this phone number. Phone must be in E.164 format (+country code + number) to match correctly."},{"parameters":{"jsCode":"const searches = $input.all();\nconst people = $('Filter Todays Birthdays').all();\nconst host = $('Select Live Host').first().json.beeperHost;\n\nconst directTemplates = [\n  (name) => `Happy Birthday, ${name}! \\ud83c\\udf82 Hope your day is as sweet as cake!`,\n  (name) => `Happy Birthday ${name}!!! \\ud83c\\udf89\\ud83c\\udf89\\ud83c\\udf89`,\n  (name) => `It's ${name}'s birthday! \\ud83c\\udf88\\ud83c\\udf88 Sending you all the balloons!`,\n  (name) => `HBD ${name}! \\ud83c\\udf70 Wishing you the best year yet!`,\n  (name) => `Happy Birthday, ${name}! \\ud83c\\udf1f Hope it's a great one!`,\n  (name) => `Wishing you a wonderful birthday, ${name}! \\ud83e\\udd73\\ud83c\\udf8a`,\n  (name) => `Happy Birthday ${name}! \\ud83c\\udf82\\ud83c\\udf88\\ud83c\\udf81 Party time!`,\n  (name) => `Hey ${name}, happy birthday!! \\ud83e\\udd42 Cheers to another year!`\n];\n\nreturn searches.map((search, i) => {\n  const person = people[i].json;\n  const items = search.json.items || [];\n  const chatID = items.length > 0 ? items[0].id : null;\n  const relay = String(person.Relay || '').toLowerCase() === 'true' || person.Relay === true;\n  let message;\n  if (relay) {\n    message = `Tell ${person.Name.split(\" \")[0]} I said happy birthday!`;\n  } else {\n    const template = directTemplates[Math.floor(Math.random() * directTemplates.length)];\n    message = template(person.Name);\n  }\n\n  const dinner = String(person.Dinner || '').toLowerCase() === 'true' || person.Dinner === true;\n\n  const dinnerTemplates = [\n    'Do you have any dinner plans tonight?',\n    'Want to grab dinner tonight to celebrate?',\n    'Any birthday dinner plans? I\\'m down to celebrate!',\n    'Doing anything special for dinner tonight?',\n    'Got any dinner plans for your big day?',\n    'Birthday dinner tonight? I\\'m in!'\n  ];\n  const dinnerMessage = dinnerTemplates[Math.floor(Math.random() * dinnerTemplates.length)];\n\n  return {\n    json: {\n      chatID: chatID ? encodeURIComponent(chatID) : null,\n      chatFound: chatID !== null,\n      name: person.Name,\n      phone: person.Phone,\n      beeperHost: host,\n      message: message,\n      dinner: dinner,\n      dinnerMessage: dinnerMessage\n    }\n  };\n});"},"id":"5037a71c-465d-45cf-a5a5-e2659bc846eb","name":"Extract Chat ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[8992,-352],"notes":"Pairs search results with person data from the birthday filter. Picks a random greeting from 8 templates. If Relay is true, sends 'Tell <Name> I said happy birthday!' instead."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_chat_found","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.chatFound }}","rightValue":""}]},"options":{}},"id":"bba894a6-7546-4f61-bd85-5d61255691d7","name":"Chat Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9248,-352],"notes":"TRUE: existing chat found, sends message directly. FALSE: no chat found, creates a new chat and sends the message via the Create Chat API."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats/{{ $json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.message }}\"}","options":{}},"id":"6413f9cd-5b2e-49ff-ac2c-cfdccee4c767","name":"Send Birthday Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9504,-352],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Sends the birthday greeting via Beeper Desktop API v1."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Chat Found?').item.json.name }}","Message":"={{ $('Chat Found?').item.json.message }}","Phone":"={{ $('Chat Found?').item.json.phone }}","Type":"birthday (existing chat)"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ddd1981f-346c-4d3e-b33a-5e2984a01674","name":"Log Birthday Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[9744,-352],"credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}},"notes":"Logs the birthday message send to the 'Log' sheet tab. Configure: set the same Google Sheet URL and OAuth2 credential as 'Read Birthday Sheet'. Create a 'Log' sheet tab with columns: Date, Name, Phone, Type, Message."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_dinner","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Extract Chat ID').item.json.dinner }}","rightValue":""}]},"options":{}},"id":"93808b00-15d7-4fc1-aa40-5c885d67f3d3","name":"Dinner Plans?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[10000,-352],"notes":"Checks if the Dinner column is TRUE for this person."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 9) + 4 }}"},"id":"f51f7415-60b2-4ef3-98a2-908e05872916","name":"Dinner Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10256,-352],"webhookId":"059e9f53-6fdb-4327-91ec-70c6a2397488","notes":"Waits a random 4-12 seconds before sending the dinner follow-up so it feels natural."},{"parameters":{"method":"POST","url":"={{ $('Extract Chat ID').item.json.beeperHost }}/v1/chats/{{ $('Extract Chat ID').item.json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $('Extract Chat ID').item.json.dinnerMessage }}\"}","options":{}},"id":"cec47239-b6f2-4dcd-baa4-6a9316bf54cc","name":"Send Dinner Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10496,-352],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Sends a follow-up message asking about dinner plans."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Message":"={{ $('Chat Found?').item.json.message }}","Name":"={{ $('Chat Found?').item.json.name }}","Phone":"={{ $('Chat Found?').item.json.phone }}","Type":"Birthday Dinner (existing chat)","Date":"={{ new Date().toISOString() }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1209dde2-da43-469f-bd53-19a61bb81a60","name":"Log Dinner Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[10752,-352],"credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}},"notes":"Logs the dinner follow-up send to the 'Log' sheet tab."},{"parameters":{"url":"={{ $json.beeperHost }}/v1/accounts","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"id":"3be80104-4731-45fd-bebc-dfefdd42024f","name":"Get Accounts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8000,-144],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Fetches all connected Beeper accounts. Used to get the accountID when creating new chats."},{"parameters":{"jsCode":"// Change this to your preferred network (e.g. 'iMessage', 'WhatsApp', 'Google Messages')\nconst preferredNetwork = 'iMessage';\n\nconst accounts = $('Get Accounts').all().map(a => a.json);\nlet account = accounts.find(a => a.network === preferredNetwork);\nif (!account) account = accounts[0];\nif (!account) throw new Error('No Beeper accounts found. Ensure at least one account is connected.');\n\nconst data = $('Extract Chat ID').item.json;\n\nreturn [{\n  json: {\n    accountID: account.accountID,\n    phone: data.phone,\n    beeperHost: data.beeperHost,\n    message: data.message,\n    name: data.name,\n    dinner: data.dinner,\n    dinnerMessage: data.dinnerMessage\n  }\n}];"},"id":"a15e28ec-7f65-4a9c-bb1e-5c16b4692e60","name":"Prepare New Chat","type":"n8n-nodes-base.code","typeVersion":2,"position":[9504,-96],"notes":"Picks the accountID for chat creation. Change preferredNetwork to match your primary messaging service (iMessage, WhatsApp, etc.)."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BEEPER_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"accountID\": \"{{ $json.accountID }}\", \"participantIDs\": [\"{{ $json.phone }}\"], \"type\": \"single\", \"messageText\": \"{{ $json.message }}\"}","options":{}},"id":"a187cf18-92fd-4a5f-9e83-6eb22eac1ea7","name":"Create Chat & Send","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9744,-96],"notes":"Creates a new Beeper chat with the phone number and sends the birthday message as the first message via the messageText field."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Prepare New Chat').item.json.name }}","Phone":"={{ $('Prepare New Chat').item.json.phone }}","Type":"birthday (new chat)","Message":"={{ $('Prepare New Chat').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"7e6de3f2-ce4f-414b-821b-673a3f84cc10","name":"Log New Chat Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[10000,-96],"credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}},"notes":"Logs the new chat birthday send to the 'Log' sheet tab."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_new_dinner","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Prepare New Chat').item.json.dinner }}","rightValue":""}]},"options":{}},"id":"06332860-851d-4245-a3fd-776b97c73c2e","name":"New Chat Dinner?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[10256,-96],"notes":"Checks dinner flag for newly created chats."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 9) + 4 }}"},"id":"ab41dbdb-c89b-47f9-bd72-f447933babf8","name":"New Chat Dinner Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10496,-96],"webhookId":"fa57ba51-cf58-4468-9514-fab7f3c1992f","notes":"Random 4-12 second delay before dinner follow-up on new chat."},{"parameters":{"method":"POST","url":"={{ $('Prepare New Chat').item.json.beeperHost }}/v1/chats/{{ encodeURIComponent($('Create Chat & Send').item.json.chatID) }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BEEPER_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $('Prepare New Chat').item.json.dinnerMessage }}\"}","options":{}},"id":"2a8d4489-e7a8-4462-b6f1-dcfc4c1a8ae5","name":"Send New Chat Dinner","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10752,-96],"notes":"Sends dinner follow-up to the newly created chat."},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":302173508,"mode":"list","cachedResultName":"Sent-log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=302173508"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Name":"={{ $('Prepare New Chat').item.json.name }}","Phone":"={{ $('Prepare New Chat').item.json.phone }}","Type":"dinner (new chat)","Message":"={{ $('Prepare New Chat').item.json.dinnerMessage }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"b35b01f3-019c-4f92-b7bc-1dc538f781c2","name":"Log New Chat Dinner Send","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[10992,-96],"credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}},"notes":"Logs the new chat dinner follow-up send to the 'Log' sheet tab."},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"381ce0a7-3f8b-4609-a89f-98e332a38545","name":"Daily 6AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[6752,-352],"notes":"Runs daily at 6 AM. Adjust triggerAtHour for your timezone."}],"connections":{"Manual Trigger":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Random Delay":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Generate IP Candidates":{"main":[[{"node":"Beeper Health Check","type":"main","index":0}]]},"Beeper Health Check":{"main":[[{"node":"Select Live Host","type":"main","index":0}]]},"Select Live Host":{"main":[[{"node":"Read Birthday Sheet","type":"main","index":0},{"node":"Get Accounts","type":"main","index":0}]]},"Read Birthday Sheet":{"main":[[{"node":"Filter Todays Birthdays","type":"main","index":0}]]},"Filter Todays Birthdays":{"main":[[{"node":"Search Chat by Phone","type":"main","index":0}]]},"Search Chat by Phone":{"main":[[{"node":"Extract Chat ID","type":"main","index":0}]]},"Extract Chat ID":{"main":[[{"node":"Chat Found?","type":"main","index":0}]]},"Chat Found?":{"main":[[{"node":"Send Birthday Message","type":"main","index":0}],[{"node":"Prepare New Chat","type":"main","index":0}]]},"Send Birthday Message":{"main":[[{"node":"Log Birthday Send","type":"main","index":0}]]},"Log Birthday Send":{"main":[[{"node":"Dinner Plans?","type":"main","index":0}]]},"Dinner Plans?":{"main":[[{"node":"Dinner Delay","type":"main","index":0}]]},"Dinner Delay":{"main":[[{"node":"Send Dinner Message","type":"main","index":0}]]},"Send Dinner Message":{"main":[[{"node":"Log Dinner Send","type":"main","index":0}]]},"Prepare New Chat":{"main":[[{"node":"Create Chat & Send","type":"main","index":0}]]},"Create Chat & Send":{"main":[[{"node":"Log New Chat Send","type":"main","index":0}]]},"Log New Chat Send":{"main":[[{"node":"New Chat Dinner?","type":"main","index":0}]]},"New Chat Dinner?":{"main":[[{"node":"New Chat Dinner Delay","type":"main","index":0}]]},"New Chat Dinner Delay":{"main":[[{"node":"Send New Chat Dinner","type":"main","index":0}]]},"Send New Chat Dinner":{"main":[[{"node":"Log New Chat Dinner Send","type":"main","index":0}]]},"Daily 6AM Trigger":{"main":[[{"node":"Random Delay","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"lumsfsJn-11VSs7gepTrz","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":10},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00a8596e-3012-4768-bec3-b27b4213d419","activeVersionId":null,"versionCounter":371,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T14:16:30.280Z","createdAt":"2026-02-06T14:16:30.280Z","role":"workflow:owner","workflowId":"oA1s9hnoCiFdfVwB","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-02-07T08:33:31.146Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770390580432}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[],"activeVersion":null}