clifton_home/2026/02/Birthday Greeter via Beeper/oA1s9hnoCiFdfVwB.json
{"updatedAt":"2026-02-06T16:48:20.577Z","createdAt":"2026-02-06T14:16:30.280Z","id":"oA1s9hnoCiFdfVwB","name":"Birthday Greeter via Beeper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"2d847916-07b5-495d-81a0-33e2b053ee6b","name":"Daily 8AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3760,112],"notes":"Runs daily at 6 AM. Adjust triggerAtHour for your timezone."},{"parameters":{},"id":"1923e16c-81ec-4ecd-86f1-3e7162833247","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3984,320],"notes":"Click to test the full flow. Bypasses the Random Delay and uses the hardcoded phone number in Filter Todays Birthdays instead of reading from the Excel sheet."},{"parameters":{"amount":"={{ Math.floor(Math.random() * 27) + 1 }}","unit":"minutes"},"id":"3e5bd777-f3b2-4b71-afe2-3ef71c2eae74","name":"Random Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3984,112],"webhookId":"a15a7e2a-7b77-4b1a-8c6f-c5f367aa87ee","notes":"Waits a random 1-27 minutes so messages don't always arrive at exactly 6 AM."},{"parameters":{"jsCode":"return [\n  { json: { ip: '192.168.10.181' } },\n  { json: { ip: '192.168.10.225' } },\n  { json: { ip: '192.168.2.2' } },\n];"},"id":"1a4edf87-0c69-4bc7-801b-030e5fd99e67","name":"Generate IP Candidates","type":"n8n-nodes-base.code","typeVersion":2,"position":[4240,112],"notes":"Add/remove IPs here if your laptop's addresses change."},{"parameters":{"url":"=http://{{ $json.ip }}:23373/v1/chats?limit=1","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"options":{"timeout":5000}},"id":"3527e2ed-6e63-4088-9b10-eec3feb1b706","name":"Beeper Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4496,112],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"continueOnFail":true,"notes":"Pings each IP on port 23373. continueOnFail lets failed IPs pass through so the next node can pick the live one. Requires Beeper Desktop to be running with Remote Access enabled and the BEEPER_API_KEY environment variable set in n8n."},{"parameters":{"jsCode":"const checks = $input.all();\nconst ips = $('Generate IP Candidates').all();\n\nfor (let i = 0; i < checks.length; i++) {\n  if (checks[i].json.items !== undefined) {\n    return [{ json: { beeperHost: 'http://' + ips[i].json.ip + ':23373' } }];\n  }\n}\n\nthrow new Error('Beeper Desktop not reachable on any configured IP. Ensure it is running with Remote Access enabled.');"},"id":"5acfb169-286a-4b97-9250-812bc99c4e82","name":"Select Live Host","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,112],"notes":"Picks the first IP that returned a valid Beeper API response."},{"parameters":{"jsCode":"// Manual mode: return hardcoded test data (update phone number below)\nif ($execution.mode === 'manual') {\n  return [{ json: { Name: 'Test', Phone: '+1XXXXXXXXXX', Birthday: 'manual', Relay: false } }];\n}\n\nconst now = new Date();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst todayMMDD = mm + '-' + dd;\n\nreturn $input.all().filter(item => {\n  const bday = String(item.json.Birthday || '');\n  const parts = bday.split('/').join('-').split('-');\n  let mmdd;\n  if (parts.length === 3) {\n    mmdd = parts[1].padStart(2, '0') + '-' + parts[2].padStart(2, '0');\n  } else if (parts.length === 2) {\n    mmdd = parts[0].padStart(2, '0') + '-' + parts[1].padStart(2, '0');\n  } else {\n    return false;\n  }\n  return mmdd === todayMMDD;\n});"},"id":"b7d9f0e7-08ad-43ba-b979-8da5f5b988a8","name":"Filter Todays Birthdays","type":"n8n-nodes-base.code","typeVersion":2,"position":[5488,112],"notes":"Supports MM-DD, MM/DD, YYYY-MM-DD, YYYY/MM/DD date formats. In manual mode ($execution.mode === 'manual'), skips the Excel data and returns a hardcoded test entry. Update the Phone number (+1XXXXXXXXXX) in the code to test with a real contact."},{"parameters":{"url":"={{ $('Select Live Host').item.json.beeperHost }}/v1/chats/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json['Phone (14155552671)'] }}"},{"name":"scope","value":"participants"},{"name":"type","value":"single"}]},"options":{}},"id":"7c5f67e0-6e91-4406-b0d4-477bd8c31f34","name":"Search Chat by Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5872,112],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Searches Beeper for a DM chat matching this phone number. Phone must be in E.164 format (+country code + number) to match correctly."},{"parameters":{"jsCode":"const searches = $input.all();\nconst people = $('Filter Todays Birthdays').all();\nconst host = $('Select Live Host').first().json.beeperHost;\n\nconst directTemplates = [\n  (name) => `Happy Birthday ${name}! \\ud83c\\udf82 !`,\n  (name) => `Happy Birthday !!! \\ud83c\\udf89\\ud83c\\udf89\\ud83c\\udf89`,\n  (name) => `It's ${name}'s birthday! \\ud83c\\udf88\\ud83c\\udf88 Sending you all the balloons!`,\n  (name) => `Happy Birthday! \\ud83c\\udf1f Hope it's a good one!`,\n  (name) => `Wishing you a great birthday! \\ud83e\\udd73\\ud83c\\udf8a`,\n  (name) => `Happy Birthday ! \\ud83c\\udf82\\ud83c\\udf88\\ud83c\\udf81 `,\n  (name) => `happy birthday!! \\ud83e\\udd42 `\n];\n\nreturn searches.map((search, i) => {\n  const person = people[i].json;\n  const items = search.json.items || [];\n  const chatID = items.length > 0 ? items[0].id : null;\n  const relay = String(person.Relay || '').toLowerCase() === 'true' || person.Relay === true;\n  let message;\n  if (relay) {\n    message = `Tell ${person.Name} I said happy birthday!`;\n  } else {\n    const template = directTemplates[Math.floor(Math.random() * directTemplates.length)];\n    message = template(person.Name);\n  }\n\n  return {\n    json: {\n      chatID: chatID ? encodeURIComponent(chatID) : null,\n      chatFound: chatID !== null,\n      name: person.Name,\n      phone: person.Phone,\n      beeperHost: host,\n      message: message\n    }\n  };\n});"},"id":"40f9b783-fc1a-4e79-b965-8a98beff9bf6","name":"Extract Chat ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[6144,112],"notes":"Pairs search results with person data from the birthday filter. Picks a random greeting from 8 templates. If Relay is true, sends 'Tell <Name> I said happy birthday!' instead."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond_chat_found","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.chatFound }}","rightValue":""}]},"options":{}},"id":"0ce8ecd8-e253-4c55-a597-3a2b696eb2ea","name":"Chat Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6448,112],"notes":"Only sends a message if a Beeper chat was found for the phone number."},{"parameters":{"method":"POST","url":"={{ $json.beeperHost }}/v1/chats/{{ $json.chatID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.message }}\"}","options":{}},"id":"c28be451-1b68-40dc-b27f-47601691e524","name":"Send Birthday Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6720,-32],"credentials":{"httpBearerAuth":{"id":"KjkXMcrn8n8y2LPH","name":"Zac Beeper Bearer Auth Token"}},"notes":"Sends the birthday greeting via Beeper Desktop API v1."},{"parameters":{"documentId":{"__rl":true,"value":"1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY","mode":"list","cachedResultName":"Birthday Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nrqFiDiJctgRckapXP9F7VuN9-p7NPAMwCompmhJthY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5168,112],"id":"92ddcb85-4f7e-4f32-a77e-1b97762cc1ec","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"g34vKL5UNRBGONR7","name":"Zac Google Sheets account"}}}],"connections":{"Daily 8AM Trigger":{"main":[[{"node":"Random Delay","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Random Delay":{"main":[[{"node":"Generate IP Candidates","type":"main","index":0}]]},"Generate IP Candidates":{"main":[[{"node":"Beeper Health Check","type":"main","index":0}]]},"Beeper Health Check":{"main":[[{"node":"Select Live Host","type":"main","index":0}]]},"Select Live Host":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Filter Todays Birthdays":{"main":[[{"node":"Search Chat by Phone","type":"main","index":0}]]},"Search Chat by Phone":{"main":[[{"node":"Extract Chat ID","type":"main","index":0}]]},"Extract Chat ID":{"main":[[{"node":"Chat Found?","type":"main","index":0}]]},"Chat Found?":{"main":[[{"node":"Send Birthday Message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter Todays Birthdays","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"lumsfsJn-11VSs7gepTrz","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6189e92b-7f84-422b-801b-be21a466eae7","activeVersionId":null,"versionCounter":88,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T14:16:30.280Z","createdAt":"2026-02-06T14:16:30.280Z","role":"workflow:owner","workflowId":"oA1s9hnoCiFdfVwB","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-02-06T16:11:27.045Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770390580432}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-06","isPending":false}}]}}],"tags":[],"activeVersion":null}