hbf_online/2026/06/Gmail Invoice & Receipt Auto-Organizer to Google Drive/VRb8nSoGMcGjTbHj.json
{"updatedAt":"2026-06-03T16:18:00.672Z","createdAt":"2026-06-03T12:12:06.116Z","id":"VRb8nSoGMcGjTbHj","name":"Gmail Invoice & Receipt Auto-Organizer to Google Drive","description":"Polls Gmail weekly, classifies receipts as Subscriptions (with subfolder) or One-Time (direct to Receipts/SenderName/), and organizes everything under Accounting/ in Google Drive.","active":false,"isArchived":false,"nodes":[{"id":"1868a680-a28e-4f23-9283-fce7552cc84a","name":"Sticky Note d944f168","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## 📧 Gmail Invoice & Receipt Auto-Organizer\n\n**Polls Gmail every Monday at 8am.**\n\n**Google Drive structure:**\n```\nAccounting/\n  Invoices/\n    SenderName/\n  Receipts/\n    Subscriptions/\n      SenderName/\n    SenderName/   <- One-Time goes directly here\n```\n\n**Subscription detection:**\n- Keywords: subscription, renewal, monthly, annual, recurring, membership, etc.\n- Recurring sender: if sender was seen before in Subscriptions\n- Uncertain = defaults to One-Time (no subfolder, needsReview=true)\n\n**Folder matching:** Case-insensitive. Partial match fallback.\n\n**Setup:** Connect Gmail OAuth2 + Google Drive OAuth2, then activate.","color":3,"width":300,"height":200}},{"id":"1322cce6-42f0-4d7e-b3d2-a467bd75e90f","name":"Sticky Note c2164fb7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-50,-50],"parameters":{"content":"## 📁 Folder Resolution\n1. Accounting/ (root)\n2. Invoices/ or Receipts/ inside Accounting\n3. Subscriptions only: find/create Subscriptions/ inside Receipts\n4. One-Time: skip subfolder — SenderName/ goes directly inside Receipts/\n5. Find/create SenderName/ (case-insensitive + partial match)\n6. Upload file\n\nOne-Time receipts flagged needsReview=true — check Receipts/SenderName/ and reclassify if needed.","color":5,"width":300,"height":200}},{"id":"40fcbcf8-bde4-49da-99c9-cb10ede3cdf8","name":"Watch Gmail for Invoices & Receipts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,80],"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","weekday":"1","hour":8,"minute":0}]},"simple":false,"maxResults":20,"filters":{"readStatus":"unread","q":"subject:(invoice OR receipt OR \"payment confirmation\" OR \"order confirmation\" OR \"billing statement\") has:attachment"},"options":{"downloadAttachments":true,"dataPropertyAttachmentsPrefixName":"attachment_"}},"credentials":{"gmailOAuth2":{"id":"OK1hFEYTVwQ7tSoT","name":"Gmail account"}}},{"id":"1be44674-d76d-4b77-b368-1e098fe1b803","name":"Extract & Classify Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,80],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst SUBSCRIPTION_KEYWORDS = [\n  'subscription', 'renewal', 'renew', 'monthly', 'annual', 'yearly',\n  'recurring', 'membership', 'plan', 'billing cycle', 'auto-renew',\n  'auto renew', 'next billing', 'trial ended', 'upgraded plan'\n];\n\nfunction isSubscriptionByKeywords(subject, body) {\n  const text = ((subject || '') + ' ' + (body || '')).toLowerCase();\n  return SUBSCRIPTION_KEYWORDS.some(kw => text.includes(kw));\n}\n\nfunction classify(subject, body, senderKey, seenBefore) {\n  const subScore = isSubscriptionByKeywords(subject, body) ? 2 : 0;\n  const recurScore = seenBefore ? 2 : 0;\n  const total = subScore + recurScore;\n  if (total >= 2) {\n    return { type: 'Subscriptions', confident: true, reason: [\n      subScore > 0 ? 'keyword match' : '',\n      recurScore > 0 ? 'recurring sender' : ''\n    ].filter(Boolean).join(', ') };\n  }\n  return { type: 'One-Time', confident: false, reason: 'no strong subscription signals — flagged for review' };\n}\n\nconst seenSenders = new Set();\ntry {\n  const stored = $getWorkflowStaticData('global');\n  if (stored.seenSubscriptionSenders) {\n    stored.seenSubscriptionSenders.forEach(s => seenSenders.add(s.toLowerCase()));\n  }\n} catch(e) {}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  const body = item.json.text || item.json.snippet || '';\n  const from = item.json.from?.value?.[0]?.address || item.json.from?.text || 'unknown';\n  const fromName = item.json.from?.value?.[0]?.name || from;\n  const date = item.json.date ? new Date(item.json.date) : new Date();\n  const year = date.getFullYear().toString();\n  const month = (date.getMonth() + 1).toString().padStart(2, '0');\n\n  const emailMatch = from.match(/@([^.]+)/);\n  const senderKey = emailMatch ? emailMatch[1] : fromName.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n  const senderFolder = senderKey.charAt(0).toUpperCase() + senderKey.slice(1);\n\n  const subjectLower = subject.toLowerCase();\n  let docType = 'Receipts';\n  if (subjectLower.includes('invoice') || subjectLower.includes('billing statement')) {\n    docType = 'Invoices';\n  }\n\n  const seenBefore = seenSenders.has(senderKey.toLowerCase());\n  let receiptSubType = 'One-Time';\n  let classificationReason = '';\n  let needsReview = false;\n  if (docType === 'Receipts') {\n    const cls = classify(subject, body, senderKey, seenBefore);\n    receiptSubType = cls.type;\n    classificationReason = cls.reason;\n    needsReview = !cls.confident;\n  }\n\n  const needsSubTypeFolder = docType === 'Receipts' && receiptSubType === 'Subscriptions';\n\n  const attachmentKeys = Object.keys(item.binary || {}).filter(k => k.startsWith('attachment_'));\n  if (attachmentKeys.length > 0) {\n    for (const attachKey of attachmentKeys) {\n      results.push({\n        json: {\n          docType,\n          receiptSubType,\n          needsSubTypeFolder,\n          senderFolder,\n          year,\n          month,\n          subject,\n          from,\n          attachmentKey: attachKey,\n          fileName: item.binary[attachKey]?.fileName || attachKey + '.pdf',\n          classificationReason,\n          needsReview,\n          seenBefore\n        },\n        binary: { data: item.binary[attachKey] }\n      });\n    }\n  }\n}\nreturn results;\n      "}},{"id":"aa227b5c-f928-4216-a81e-e48bcaec5dd7","name":"Search Accounting Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,80],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"Accounting","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"bb0676bc-0b9e-4570-848b-3bfd5e3528c1","name":"Resolve Accounting Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,80],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'accounting');\nreturn [{\n  json: {\n    ...meta.json,\n    accountingFolderId: match ? match.json.id : '',\n    accountingExists: !!match\n  },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"1261a404-893d-4c72-8948-f8b09bde137a","name":"Accounting Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,80],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.accountingExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"4116b9b6-e9f7-43a0-ba3f-7eedd424fb35","name":"Search DocType Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1568,80],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"={{ $('Resolve Accounting Folder').item.json.docType || $('Set Accounting Folder ID').item.json.docType }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Accounting Folder').item.json.accountingFolderId || $('Set Accounting Folder ID').item.json.accountingFolderId }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"7f69977f-ff79-4aec-94b0-eaca14e0b4a5","name":"Create Accounting Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,144],"parameters":{"resource":"folder","operation":"create","name":"Accounting","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"70ea0965-1d31-448b-a7f4-e0594d23bb80","name":"Set Accounting Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,144],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"c1","name":"accountingFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"b62e73bb-724e-4c22-8d29-88a23557ddc6","name":"Resolve DocType Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,80],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst docType = (meta.json.docType || '').toLowerCase();\nconst match = items.find(i => (i.json.name || '').toLowerCase() === docType);\nreturn [{\n  json: {\n    ...meta.json,\n    docTypeFolderId: match ? match.json.id : '',\n    docTypeExists: !!match\n  },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"2ef7025c-790d-4dfe-8497-f5c31f94c3b3","name":"DocType Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2016,80],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.docTypeExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"31baac18-1211-44b5-aaaf-ce9d9d78ebff","name":"Needs Subscriptions Subfolder?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2688,80],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Resolve DocType Folder').item.json.needsSubTypeFolder || $('Set DocType Folder ID').item.json.needsSubTypeFolder }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"3d9fe236-b662-4a88-9d96-00db84b4b09e","name":"Create DocType Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,144],"parameters":{"resource":"folder","operation":"create","name":"={{ $json.docType }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.accountingFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"a08fc6ca-7816-426c-8b9e-e086385ae205","name":"Set DocType Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,144],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"d1","name":"docTypeFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"92de7cc8-cfec-439b-82e0-1ff0940181ec","name":"Search Subscriptions Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2912,0],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"Subscriptions","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve DocType Folder').item.json.docTypeFolderId || $('Set DocType Folder ID').item.json.docTypeFolderId }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"60194605-2e94-44a8-a082-e6a28dd48882","name":"Resolve Subscriptions Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst match = items.find(i => (i.json.name || '').toLowerCase() === 'subscriptions');\nreturn [{\n  json: {\n    ...meta.json,\n    subTypeFolderId: match ? match.json.id : '',\n    subTypeExists: !!match\n  },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"ae226c16-13c1-4952-9ee7-6740e403e96f","name":"Subscriptions Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3360,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.subTypeExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"f1c2b962-92f7-4b07-b6d2-c3906c9be72e","name":"Set Parent For Sender","type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,80],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst parentForSender = meta.json.subTypeFolderId || meta.json.docTypeFolderId;\n\nif (meta.json.receiptSubType === 'Subscriptions' && meta.json.subTypeFolderId) {\n  try {\n    const stored = $getWorkflowStaticData('global');\n    const seen = stored.seenSubscriptionSenders || [];\n    const key = (meta.json.senderFolder || '').toLowerCase();\n    if (!seen.map(s => s.toLowerCase()).includes(key)) {\n      seen.push(meta.json.senderFolder);\n      stored.seenSubscriptionSenders = seen;\n    }\n  } catch(e) {}\n}\n\nreturn [{\n  json: { ...meta.json, parentForSender },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"2e969c35-e115-4d96-afe5-138e9fcb4594","name":"Create Subscriptions Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3584,80],"parameters":{"resource":"folder","operation":"create","name":"Subscriptions","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.docTypeFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"5bbad858-2713-4355-99f7-c815a9358d6a","name":"Set Subscriptions Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3808,80],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"e1","name":"subTypeFolderId","value":"={{ $json.id }}","type":"string"}]}}},{"id":"31b9cf3c-c6c0-4670-b819-6e5a11c3cdfb","name":"Search Sender Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4256,80],"parameters":{"resource":"fileFolder","operation":"search","searchMethod":"name","queryString":"={{ $json.senderFolder }}","returnAll":true,"filter":{"folderId":{"__rl":true,"mode":"id","value":"={{ $json.parentForSender }}"},"whatToSearch":"folders"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"6055f9d8-0c23-4d30-b739-85ca9cdd58c3","name":"Resolve Sender Folder","type":"n8n-nodes-base.code","typeVersion":2,"position":[4480,80],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst items = $input.all();\nconst meta = items[0];\nconst senderFolder = (meta.json.senderFolder || '').toLowerCase();\n\nconst exactMatch = items.find(i => (i.json.name || '').toLowerCase() === senderFolder);\nconst partialMatch = !exactMatch\n  ? items.find(i => {\n      const name = (i.json.name || '').toLowerCase();\n      return name.includes(senderFolder) || senderFolder.includes(name);\n    })\n  : null;\n\nconst match = exactMatch || partialMatch;\nconst senderFolderId = match ? match.json.id : '';\n\nreturn [{\n  json: {\n    ...meta.json,\n    senderFolderId,\n    senderFolderExists: !!senderFolderId,\n    matchedFolderName: match ? match.json.name : ''\n  },\n  binary: meta.binary || {}\n}];\n      "}},{"id":"a0ea68eb-9389-4c0a-8a58-2a91ad37143e","name":"Sender Folder Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4704,80],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.senderFolderExists }}","operator":{"type":"boolean","operation":"true"},"rightValue":true}],"combinator":"and"}}},{"id":"e41842c3-0604-4143-9e42-033b1e2e3f20","name":"Upload Attachment to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[5376,80],"parameters":{"resource":"file","operation":"upload","inputDataFieldName":"data","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.senderFolderId }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"7ba697c1-392c-4195-82fd-0b954f68a3df","name":"Create Sender Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4928,144],"parameters":{"resource":"folder","operation":"create","name":"={{ $json.senderFolder }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.parentForSender }}"}},"credentials":{"googleDriveOAuth2Api":{"id":"hcsZcalky3kETbKa","name":"Google Drive account 2"}}},{"id":"120c7022-3f63-47f4-8e76-867540b03570","name":"Set New Sender Folder ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5152,144],"parameters":{"mode":"manual","includeOtherFields":true,"assignments":{"assignments":[{"id":"f1","name":"senderFolderId","value":"={{ $json.id }}","type":"string"}]}}}],"connections":{"Watch Gmail for Invoices & Receipts":{"main":[[{"node":"Extract & Classify Email","type":"main","index":0}]]},"Extract & Classify Email":{"main":[[{"node":"Search Accounting Folder","type":"main","index":0}]]},"Search Accounting Folder":{"main":[[{"node":"Resolve Accounting Folder","type":"main","index":0}]]},"Resolve Accounting Folder":{"main":[[{"node":"Accounting Folder Exists?","type":"main","index":0}]]},"Accounting Folder Exists?":{"main":[[{"node":"Search DocType Folder","type":"main","index":0}],[{"node":"Create Accounting Folder","type":"main","index":0}]]},"Search DocType Folder":{"main":[[{"node":"Resolve DocType Folder","type":"main","index":0}]]},"Create Accounting Folder":{"main":[[{"node":"Set Accounting Folder ID","type":"main","index":0}]]},"Set Accounting Folder ID":{"main":[[{"node":"Search DocType Folder","type":"main","index":0}]]},"Resolve DocType Folder":{"main":[[{"node":"DocType Folder Exists?","type":"main","index":0}]]},"DocType Folder Exists?":{"main":[[{"node":"Needs Subscriptions Subfolder?","type":"main","index":0}],[{"node":"Create DocType Folder","type":"main","index":0}]]},"Needs Subscriptions Subfolder?":{"main":[[{"node":"Search Subscriptions Folder","type":"main","index":0}],[{"node":"Set Parent For Sender","type":"main","index":0}]]},"Create DocType Folder":{"main":[[{"node":"Set DocType Folder ID","type":"main","index":0}]]},"Set DocType Folder ID":{"main":[[{"node":"Needs Subscriptions Subfolder?","type":"main","index":0}]]},"Search Subscriptions Folder":{"main":[[{"node":"Resolve Subscriptions Folder","type":"main","index":0}]]},"Resolve Subscriptions Folder":{"main":[[{"node":"Subscriptions Folder Exists?","type":"main","index":0}]]},"Subscriptions Folder Exists?":{"main":[[{"node":"Set Parent For Sender","type":"main","index":0}],[{"node":"Create Subscriptions Folder","type":"main","index":0}]]},"Set Parent For Sender":{"main":[[{"node":"Search Sender Folder","type":"main","index":0}]]},"Create Subscriptions Folder":{"main":[[{"node":"Set Subscriptions Folder ID","type":"main","index":0}]]},"Set Subscriptions Folder ID":{"main":[[{"node":"Set Parent For Sender","type":"main","index":0}]]},"Search Sender Folder":{"main":[[{"node":"Resolve Sender Folder","type":"main","index":0}]]},"Resolve Sender Folder":{"main":[[{"node":"Sender Folder Exists?","type":"main","index":0}]]},"Sender Folder Exists?":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}],[{"node":"Create Sender Folder","type":"main","index":0}]]},"Create Sender Folder":{"main":[[{"node":"Set New Sender Folder ID","type":"main","index":0}]]},"Set New Sender Folder ID":{"main":[[{"node":"Upload Attachment to Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"pinData":null,"versionId":"57767b23-0ec6-4438-96ea-fe28c0907203","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-06-03T12:12:06.130Z","createdAt":"2026-06-03T12:12:06.130Z","role":"workflow:owner","workflowId":"VRb8nSoGMcGjTbHj","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2026-02-19T12:35:36.791Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex  Clifton <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668"}}],"tags":[],"activeVersion":null}