clifton_home/2026/03/Webhook: Google Drive → S3/hQUFJ45P7McYIzWm.json
{"updatedAt":"2026-03-01T21:03:38.884Z","createdAt":"2026-03-01T20:31:58.430Z","id":"hQUFJ45P7McYIzWm","name":"Webhook: Google Drive → S3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gdrive-to-youtube","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"81fca202-aeda-45f9-9e34-37f504aa23e6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-912,16],"webhookId":"gdrive-to-youtube","credentials":{"httpBasicAuth":{"id":"hEV85drBgUWoD6B5","name":"Webhook-user"}},"notes":"POST to this webhook with JSON body:\n{\n  \"fileId\": \"your-google-drive-file-id\",\n  \"title\": \"Video Title\",\n  \"description\": \"Video description\",\n  \"visibility\": \"public\"\n}\n\nOnly fileId is required. Others have defaults."},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": {{ $json.success }},\n  \"fileName\": {{ $('Download file').item.binary.data.fileName }},\n  \"url\": \"https://videos.s3.clifton.quest/{{ encodeURIComponent($('Download file').item.binary.data.fileName) }}\"\n}\n","options":{}},"id":"42cacad1-e5dc-4951-9e9c-301a9a2af80a","name":"Format Webhook Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.fileId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,16],"id":"c338716d-7597-4f29-b5e6-a92b114a0d23","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3TBlFG6GmL19DeKw","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-912,176],"id":"7727e700-65db-4b5e-a92a-f1d060c4efdb","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upload","bucketName":"/videos","fileName":"={{ $binary.data.fileName }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-288,16],"id":"de3c78a3-5c78-4c86-b97d-1a5894291414","name":"Upload a file","credentials":{"s3":{"id":"abdvc8Csb02qEc4y","name":"S3 account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nif (!body.fileId) {\n  throw new Error('Missing required field: fileId');\n}\n\nreturn [{\n  json: {\n    fileId: body.fileId,\n    videoTitle: body.videoTitle || 'Untitled Video',\n    videoDescription: body.videoDescription || '',\n    visibility: body.visibility || 'private',\n    tags: body.tags || []\n  }\n}];"},"id":"82da374c-5f42-4c5f-afff-88df872af26b","name":"Validate & Set Defaults","type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,16],"notes":"Validates that fileId is present and sets sensible defaults for optional fields."},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[208,0],"id":"71e1038b-f7ed-45e9-b629-8dee9a62c6c8","name":"Respond to Webhook"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"success\": \"false\",\n  \"fileName\": \"\",\n  \"url\": \"\"\n}\n","options":{}},"id":"c1275a36-264f-4a9e-872d-1f0e83c7a053","name":"Format Webhook Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,208],"notes":"Returns a clean JSON response to the webhook caller with the Late post ID and status."}],"connections":{"Webhook":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Validate & Set Defaults","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Format Webhook Response","type":"main","index":0}],[{"node":"Format Webhook Response1","type":"main","index":0}]]},"Validate & Set Defaults":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Format Webhook Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Format Webhook Response1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"fileId":"1l81RlcULUmwJv_4pfYVAOFcA_v31rm2l","videoTitle":"Untitled test Video","videoDescription":"test","visibility":"private","tags":[]}}]},"versionId":"cf6026c6-b34b-4d78-b7ff-879464f7e071","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-01T20:31:58.430Z","createdAt":"2026-03-01T20:31:58.430Z","role":"workflow:owner","workflowId":"hQUFJ45P7McYIzWm","projectId":"breq9JgXWiQUjyug","project":{"updatedAt":"2026-03-01T14:50:08.421Z","createdAt":"2026-03-01T14:39:09.471Z","id":"breq9JgXWiQUjyug","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8bf7b849-38d9-4483-976e-aee3577c53f6"}}],"tags":[],"activeVersion":null}