hbf_online/2026/02/Generate Youtube video metadata (timestamps, tags, description, ...)/9PsVxHv2VvELKLXJtq2MU.json
{"updatedAt":"2026-02-02T15:21:59.459Z","createdAt":"2026-02-02T15:20:45.901Z","id":"9PsVxHv2VvELKLXJtq2MU","name":"Generate Youtube video metadata (timestamps, tags, description, ...)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"model":"mistral-large-latest","options":{}},"id":"b555a29d-34a0-4524-97ba-bb6d3b0da4e0","name":"Mistral Cloud Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[2016,1008],"typeVersion":1},{"parameters":{},"id":"d786905d-602c-4601-b4fe-fbb98ba5a03f","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[880,1168],"typeVersion":1},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"name\": \"preview\",\n    \"type\": \"string\",\n    \"description\": \"Short preview (100–200 characters, no hashtags)\"\n  },\n  {\n    \"name\": \"timestamps\",\n    \"type\": \"string\",\n    \"description\": \"YouTube-style timestamps, each on a new line, starts with 00:00\"\n  },\n  {\n    \"name\": \"tags\",\n    \"type\": \"string\",\n    \"description\": \"Comma-separated keywords (no hashtags)\"\n  }\n]\n"},"id":"9c6ccac2-ad7a-4a94-a269-9b2bc567b5cb","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2176,1008],"typeVersion":1.2},{"parameters":{},"id":"00729813-9698-4fe2-9beb-21032fbe2100","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[2016,1152],"typeVersion":1},{"parameters":{"url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/runs/last?token=YOUR_TOKEN_HERE","options":{}},"id":"7ee2959f-b0a6-490c-873b-99f0825cf714","name":"Check IF Finished","type":"n8n-nodes-base.httpRequest","position":[1152,960],"typeVersion":4.2},{"parameters":{"url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/runs/last/dataset/items?token=YOUR_TOKEN_HERE","options":{}},"id":"6eea879a-935e-439e-bd79-db36fa71015a","name":"Get DataSet","type":"n8n-nodes-base.httpRequest","position":[1552,944],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/runs?token=YOUR_TOKEN_HERE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"downloadSubtitles\": true,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $('Trigger New Video Posted').item.json.link }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"subtitlesLanguage\": \"en\"\n}","options":{}},"id":"4b8c1212-7b90-46a7-9710-46cea7008059","name":"Scrape Video","type":"n8n-nodes-base.httpRequest","position":[880,960],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED"}]},"options":{}},"id":"9c89ea09-560f-4d44-83c8-1d705093c1b6","name":"If Finished","type":"n8n-nodes-base.if","position":[1328,960],"typeVersion":2.2},{"parameters":{},"id":"ffa63f1e-4401-4888-880a-40aa591eb468","name":"Wait","type":"n8n-nodes-base.wait","position":[1488,1168],"webhookId":"7b1e3f5a-dee3-4af6-a777-1bb3a868abac","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"","operator":{"type":"number","operation":"gt"},"leftValue":"={{ new Date($json[\"pubDate\"]).getTime() }}","rightValue":"={{ new Date().getTime() - 10 * 60 * 1000 }}"}]},"options":{}},"id":"920f1f2d-accf-4e2d-804e-7c0df16b72ce","name":"If Recent","type":"n8n-nodes-base.if","position":[656,1072],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.text }}","rightValue":"00:00"}]},"options":{}},"id":"5ec3518a-6af9-4025-97a2-2e7f939ee175","name":"If Not Generated","type":"n8n-nodes-base.if","position":[1776,944],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"You are given the full script of a YouTube video. Your task is to extract metadata in a structured format to be used in a YouTube upload.","hasOutputParser":true,"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"=Script Input:\n{{ $json.subtitles[0].srt }}\n\nFinal Output Format:\n\nPreview:\n[short preview description]\n\nTimestamps:\n00:00 [Title]\n00:30 [Title]\n...\n\nTags:\ntag1,tag2,tag3,...\n\nFollow these instructions strictly:\n\n1. Short Preview Description\nWrite a short preview (100–200 characters max) of the video.\nUse engaging language, and include relevant keywords from the topic of the video.\nThis should be a single sentence or two, no hashtags, no line breaks.\n\n2. Timestamps\nFormat: MM:SS Timestamp Title (each on a new line)\nMust start with 00:00\nEach timestamp section must be at least 30 seconds apart\nOnly 3 to 7 total timestamps\nEach timestamp title should be maximum 3 words, summarize the section clearly\nExample format:\n\"00:00 Intro  \n00:47 Key Concept  \n02:12 Real Example\"\n\n3. Tags\nProvide 5 to 10 relevant SEO-friendly keywords separated by commas\nNo hashtags\nFormat like this:\n\"automation,n8n,ai workflows,youtube growth,openai\"\n"}]}},"id":"243fa70d-54f6-477c-a6ae-d05e47c8db17","name":"Generate Description","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[2016,848],"typeVersion":1.5},{"parameters":{"jsCode":"// Assuming input data contains preview, timestamps, tags\nconst preview = $input.first().json.output[0].description;\nconst timestamps = $input.first().json.output[1].description;\n\n// Hardcoded links section (edit as needed)\nconst links = `\nLinks:\n- Website: https://example.com\n- Twitter: https://twitter.com/example\n- GitHub: https://github.com/example\n`;\n\n// Format description string\nconst description = preview + \"\\n\" +links + \"\\n\" +timestamps \n\n// Return the formatted description\nreturn [\n  {\n    json: {\n      description: description.trim(),\n    },\n  },\n];\n"},"id":"0a00b226-e62e-4629-847c-e20a682b1130","name":"Format ","type":"n8n-nodes-base.code","position":[2416,848],"typeVersion":2},{"parameters":{"content":"## 1- Input\nEnter the ID of the YTB channel to trigger the workflow when a new video is posted","height":340,"width":420,"color":7},"id":"fbef9229-01f6-4c4f-950d-528a9a1e13a8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[368,944],"typeVersion":1},{"parameters":{"content":"## 2- Create DataSet\nApify scrape the last YTB video of the channel","height":480,"color":7},"id":"33581519-a13b-49ac-b95a-e419fdb70ae8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[816,864],"typeVersion":1},{"parameters":{"content":"## 4- Check and Generate Metadata\nVerify if Metadata are not already generated and generate them with LLM\n","height":580,"width":600,"color":7},"id":"dedb6159-f9b0-4e45-b90f-5d1c8c73cc68","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1728,768],"typeVersion":1},{"parameters":{"content":"## 5- Output\nFormat all the data created and update YTB Video","height":240,"width":460,"color":7},"id":"488f2584-31ff-45c4-ac20-df43e801796b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2352,768],"typeVersion":1},{"parameters":{"content":"## 3- Wait for Completion & Get DataSet\nWait until the dataset is completed in Apify and get it","height":500,"width":640,"color":7},"id":"5ece2ff8-7fbc-4762-96a0-98e2ced85852","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1072,864],"typeVersion":1},{"parameters":{"content":"## How it works?\n**1 -** Enter the ID of the YTB channel to trigger the workflow when a new video is posted\n**2 -** Apify scrape the last YTB video of the channel\n**3 -** Wait until the dataset is completed in Apify and get it\n**4 -** Verify if Metadata are not already generated and generate them with LLM\n**5 -** Format all the data created and update YTB Video\n\n**📺 Youtube Video Tutorial : https://youtu.be/HaQPAa6l5bU**\n**🛠️ Need Help with Your Workflows ? https://tally.so/r/wayeqB**\n**👨‍💻 More Workflows : https://n8n.io/creators/nasser/**","height":240,"width":780,"color":7},"id":"e063869b-51ec-49e0-be05-526a500f73bc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## SETUP\n\n**Setup Input YTB Chanel :** Go to the channel's page on YouTube, and look at the URL of the page. The channel ID is the value that comes after channel/ in the URL. Add it after \"?channel_id=\" You can also use free tools available to retrieve channel ID.\n\n**Setup Output YTB Video Update :** Connect your YTB account to your n8n instance thanks to the Google Cloud Console. You can find tutorials by typing \"youtube api Oauth\" on Google.\n\n**APIs :** For the following third-party integrations, replace [YOUR_API_TOKEN] with your API Token or connect your account via Client ID / Secret to your n8n instance : \n- Apify : https://docs.apify.com/api/v2/getting-started\n- Youtube : https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.youtube/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.youTube#templates-and-examples","height":340,"width":780,"color":7},"id":"4ffea090-69aa-4099-9591-6aec51472fb5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[368,512],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":10,"unit":"minutes"}]},"feedUrl":"https://www.youtube.com/feeds/videos.xml?channel_id=[YOUR_CHANNEL_ID]"},"id":"88f9d2bd-2ac1-422a-8b22-313ce2d22cab","name":"Trigger New Video Posted","type":"n8n-nodes-base.rssFeedReadTrigger","position":[432,1072],"typeVersion":1},{"parameters":{"resource":"video","operation":"update","videoId":"={{ $('Get DataSet').item.json.id }}","title":"={{ $('Get DataSet').item.json.title }}","regionCode":"US","updateFields":{"description":"={{ $json.description }}","tags":"={{ $('Generate Description').item.json.output[2].description }}"}},"id":"1630564c-3cb4-483a-90df-54dc83f8d588","name":"Update YTB Video","type":"n8n-nodes-base.youTube","position":[2592,848],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Check IF Finished","type":"main","index":0}]]},"Format ":{"main":[[{"node":"Update YTB Video","type":"main","index":0}]]},"If Recent":{"main":[[{"node":"Scrape Video","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get DataSet":{"main":[[{"node":"If Not Generated","type":"main","index":0}]]},"If Finished":{"main":[[{"node":"Get DataSet","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Scrape Video":{"main":[[{"node":"Check IF Finished","type":"main","index":0}]]},"If Not Generated":{"main":[[{"node":"Generate Description","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Check IF Finished":{"main":[[{"node":"If Finished","type":"main","index":0}]]},"Generate Description":{"main":[[{"node":"Format ","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Generate Description","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Description","type":"ai_outputParser","index":0}]]},"Trigger New Video Posted":{"main":[[{"node":"If Recent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"4506"},"pinData":{},"versionId":"e028e2fb-d950-464e-b0a8-77fb984e6542","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-02T15:20:45.904Z","createdAt":"2026-02-02T15:20:45.904Z","role":"workflow:owner","workflowId":"9PsVxHv2VvELKLXJtq2MU","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-03T05:33:21.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-03","isPending":false}}]}}],"tags":[],"activeVersion":null}