hbf_online/2025/12/Image to Video Tool/pJ43D4AaVcVm9qfE.json
{"updatedAt":"2025-12-15T01:08:09.000Z","createdAt":"2025-12-15T01:08:09.399Z","id":"pJ43D4AaVcVm9qfE","name":"Image to Video Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"fileID"},{"name":"videoPrompt"},{"name":"chatID"},{"name":"image"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,224],"id":"d6b06e9e-d6bc-4ccd-9b6f-f99f0c59c8cc","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3/fast/image-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.videoPrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}"},{"name":"generate_audio","value":"true"},{"name":"image_url","value":"={{ $json.data.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,224],"id":"af7b23a8-221a-43e8-8538-4966a22fa67d","name":"Generate Video"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,224],"id":"40bcdf6a-082c-4f16-b4b6-8bd03b5745ad","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,224],"id":"6a72b784-6521-49b3-bd23-2d5309331342","name":"30 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.fileID }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1232,224],"id":"db1d1d47-6b68-4491-a58f-66dc1887ea0a","name":"Share file"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.fileID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,224],"id":"04706e78-4f32-4d62-bbd3-15e64ce36e03","name":"Download file"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,224],"id":"d40de7cb-04c2-4da4-93db-1085d0deb4ac","name":"Get URL"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.image }} (VFX).mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,352],"id":"32179720-500c-413a-afae-2e4f1744ddf7","name":"Upload Video"},{"parameters":{"url":"={{ $json.video.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,224],"id":"af20758b-4456-47b3-85f4-a31576a8a72e","name":"Download File"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[96,96],"id":"240bdb08-ef4f-4062-a691-ebec160f3d92","name":"Send Video","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,224],"id":"8f55c216-fbfb-430d-b050-48eae0e663a9","name":"1 Minute","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"content":"# Trigger\n","height":260,"width":212,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,128],"id":"bbadde4e-35d0-4800-9403-e4abfb032ce7","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Download\n","height":260,"width":476,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,128],"id":"2bf9a01d-7083-41dc-9e6b-9b0b3910e6a7","name":"Sticky Note4"},{"parameters":{"content":"# Generate Video\n\n","height":260,"width":764,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,128],"id":"dc2ac514-86e5-4e42-b492-98522c064ca0","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6d432148-d5a6-4e01-a003-24656c3b79a0","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,256],"id":"fda353e9-dbfe-456b-a73f-61d7803202c2","name":"Sticky Note6"},{"parameters":{"content":"## I'm a note \nImage to video tools"},"type":"n8n-nodes-base.stickyNote","position":[-1152,-112],"typeVersion":1,"id":"3f477de0-0e3a-4db6-a71e-b1a3b818332f","name":"Sticky Note"}],"connections":{"Generate Video":{"main":[[{"node":"1 Minute","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"30 Seconds","type":"main","index":0}]]},"30 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Get URL":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Video","type":"main","index":0},{"node":"Upload Video","type":"main","index":0}]]},"1 Minute":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3f047211-11da-4ba4-a005-40a428eb1af1","activeVersionId":"3f047211-11da-4ba4-a005-40a428eb1af1","versionCounter":10,"triggerCount":0,"shared":[{"updatedAt":"2025-12-15T01:08:09.403Z","createdAt":"2025-12-15T01:08:09.403Z","role":"workflow:owner","workflowId":"pJ43D4AaVcVm9qfE","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2025-12-27T23:07:44.560Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-15T01:08:09.404Z","createdAt":"2025-12-15T01:08:09.404Z","versionId":"3f047211-11da-4ba4-a005-40a428eb1af1","workflowId":"pJ43D4AaVcVm9qfE","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"fileID"},{"name":"videoPrompt"},{"name":"chatID"},{"name":"image"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,224],"id":"d6b06e9e-d6bc-4ccd-9b6f-f99f0c59c8cc","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3/fast/image-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.videoPrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}"},{"name":"generate_audio","value":"true"},{"name":"image_url","value":"={{ $json.data.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,224],"id":"af7b23a8-221a-43e8-8538-4966a22fa67d","name":"Generate Video"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,224],"id":"40bcdf6a-082c-4f16-b4b6-8bd03b5745ad","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,224],"id":"6a72b784-6521-49b3-bd23-2d5309331342","name":"30 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.fileID }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1232,224],"id":"db1d1d47-6b68-4491-a58f-66dc1887ea0a","name":"Share file"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.fileID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,224],"id":"04706e78-4f32-4d62-bbd3-15e64ce36e03","name":"Download file"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,224],"id":"d40de7cb-04c2-4da4-93db-1085d0deb4ac","name":"Get URL"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.image }} (VFX).mp4","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,352],"id":"32179720-500c-413a-afae-2e4f1744ddf7","name":"Upload Video"},{"parameters":{"url":"={{ $json.video.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,224],"id":"af20758b-4456-47b3-85f4-a31576a8a72e","name":"Download File"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[96,96],"id":"240bdb08-ef4f-4062-a691-ebec160f3d92","name":"Send Video","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-592,224],"id":"8f55c216-fbfb-430d-b050-48eae0e663a9","name":"1 Minute","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"content":"# Trigger\n","height":260,"width":212,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,128],"id":"bbadde4e-35d0-4800-9403-e4abfb032ce7","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Download\n","height":260,"width":476,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,128],"id":"2bf9a01d-7083-41dc-9e6b-9b0b3910e6a7","name":"Sticky Note4"},{"parameters":{"content":"# Generate Video\n\n","height":260,"width":764,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,128],"id":"dc2ac514-86e5-4e42-b492-98522c064ca0","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6d432148-d5a6-4e01-a003-24656c3b79a0","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,256],"id":"fda353e9-dbfe-456b-a73f-61d7803202c2","name":"Sticky Note6"},{"parameters":{"content":"## I'm a note \nImage to video tools"},"type":"n8n-nodes-base.stickyNote","position":[-1152,-112],"typeVersion":1,"id":"3f477de0-0e3a-4db6-a71e-b1a3b818332f","name":"Sticky Note"}],"connections":{"Generate Video":{"main":[[{"node":"1 Minute","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"30 Seconds","type":"main","index":0}]]},"30 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Get URL":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Video","type":"main","index":0},{"node":"Upload Video","type":"main","index":0}]]},"1 Minute":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"authors":"Alex  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[]}}