clifton_home/2026/01/Clean Eatz Macro PDF Download, Archive, and Email Distribution/oue9-74p7aFYhMCABTueg.json
{"updatedAt":"2026-01-25T20:22:34.583Z","createdAt":"2026-01-25T18:16:05.826Z","id":"oue9-74p7aFYhMCABTueg","name":"Clean Eatz Macro PDF Download, Archive, and Email Distribution","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":9}]}},"id":"ae648a9a-e723-44be-a80c-c1a49a4a8a9e","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-2","name":"parentFolderId","value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","type":"string"},{"id":"id-3","name":"fromEmail","value":"zac16530@gmail.com","type":"string"},{"id":"id-4","name":"cleanEatzPageUrl","value":"https://cleaneatz.com/healthy-meal-plans","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fca355ba-14c0-47e6-8f86-b114e5203cc6","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"url":"={{ $json.thisWeekUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"4021827a-a2f2-44ec-ad78-8cfd96325733","name":"Download Clean Eatz PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"},{"id":"id-2","name":"month","value":"={{ $now.format('MM') }}","type":"string"},{"id":"id-3","name":"week","value":"={{ $now.format('WW') }}","type":"string"},{"id":"id-4","name":"fileName","value":"=Clean_Eatz_Macros_{{ $now.format('yyyy') }}_Week{{ $now.format('WW') }}.pdf","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0399cd03-d47e-45e1-a6d0-23d31aee064b","name":"Prepare Folder Path","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,0]},{"parameters":{"inputDataFieldName":"=","name":"={{ $(\"Prepare Folder Path\").item.json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"list","cachedResultName":"clean-eatz-macros","cachedResultUrl":"https://drive.google.com/drive/folders/1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9"},"options":{"ocrLanguage":"en"}},"id":"f4059333-894e-4acf-8080-90051cb8b428","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1712,-160],"credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.cleanEatzPageUrl }}","options":{}},"id":"240e81dd-6751-4f33-bd78-188e7a6aaaa5","name":"Fetch Clean Eatz Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,0]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"thisWeekUrl","cssSelector":"a:contains('This Week'), a:contains('this week')","returnValue":"attribute","attribute":"href"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"f441112e-d09a-434d-a0cf-528146e42b8f","name":"Extract This Week Button URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[672,0]},{"parameters":{"sendTo":"astiner21@gmail.com, zac16530@gmail.com, clifton-home@hpeprint.com","subject":"=Clean Eatz Macro List - Week {{ $('Prepare Folder Path').first().json.week }}, {{ $('Prepare Folder Path').first().json.year }}","message":"=Here is the Clean Eatz macro list for Week {{ $('Prepare Folder Path').first().json.week }} of {{ $('Prepare Folder Path').first().json.year }}. The PDF has been uploaded to Google Drive and is attached to this email.","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1904,-160],"id":"f45ba22f-dcfd-461c-9e6e-8946c3b753d0","name":"Send a message","webhookId":"41f595a4-fa2b-4bd6-af41-fef77e3eede3","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"resource":"folder","name":"={{ $json.year }}/{{ $json.month }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,0],"id":"32dd2f61-6732-43fa-9b10-4f783febfb0d","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1504,-160],"id":"18ac17cf-aa99-4acd-8322-e7133f225484","name":"Merge"}],"connections":{"Weekly Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Download Clean Eatz PDF":{"main":[[{"node":"Prepare Folder Path","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Prepare Folder Path":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Clean Eatz Page","type":"main","index":0}]]},"Fetch Clean Eatz Page":{"main":[[{"node":"Extract This Week Button URL","type":"main","index":0}]]},"Extract This Week Button URL":{"main":[[{"node":"Download Clean Eatz PDF","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea459cef-053e-49d8-a228-68afadc2b20f","activeVersionId":null,"versionCounter":83,"triggerCount":0,"shared":[{"updatedAt":"2026-01-25T18:16:05.826Z","createdAt":"2026-01-25T18:16:05.826Z","role":"workflow:owner","workflowId":"oue9-74p7aFYhMCABTueg","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-01-25T19:42:29.304Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1769370147556}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-25","isPending":false}}]}}],"tags":[],"activeVersion":null}