clifton_home/2026/01/Clean Eatz Macro PDF Download, Archive, and Email Distribution/oue9-74p7aFYhMCABTueg.json
{"updatedAt":"2026-01-25T22:07:59.111Z","createdAt":"2026-01-25T18:16:05.826Z","id":"oue9-74p7aFYhMCABTueg","name":"Clean Eatz Macro PDF Download, Archive, and Email Distribution","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":9}]}},"id":"ae648a9a-e723-44be-a80c-c1a49a4a8a9e","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,-144]},{"parameters":{"assignments":{"assignments":[{"id":"id-2","name":"parentFolderId","value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","type":"string"},{"id":"id-3","name":"fromEmail","value":"zac16530@gmail.com","type":"string"},{"id":"id-4","name":"cleanEatzPageUrl","value":"https://cleaneatz.com/healthy-meal-plans","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fca355ba-14c0-47e6-8f86-b114e5203cc6","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-144]},{"parameters":{"url":"={{ $json.thisWeekUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"4021827a-a2f2-44ec-ad78-8cfd96325733","name":"Download Clean Eatz PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,-144]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"},{"id":"id-2","name":"month","value":"={{ $now.format('MM') }}","type":"string"},{"id":"id-3","name":"week","value":"={{ $now.format('WW') }}","type":"string"},{"id":"id-4","name":"fileName","value":"=CE_{{ $now.format('yyyy') }}_Week{{ $now.format('WW') }}.pdf","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0399cd03-d47e-45e1-a6d0-23d31aee064b","name":"Prepare Folder Path","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-144]},{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders').first().json.id || $('Create folder').first().json.id }}","mode":"id"},"options":{"ocrLanguage":"en"}},"id":"f4059333-894e-4acf-8080-90051cb8b428","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,-160],"credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.cleanEatzPageUrl }}","options":{}},"id":"240e81dd-6751-4f33-bd78-188e7a6aaaa5","name":"Fetch Clean Eatz Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[432,-144]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"thisWeekUrl","cssSelector":"a:contains('This Week'), a:contains('this week')","returnValue":"attribute","attribute":"href"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"f441112e-d09a-434d-a0cf-528146e42b8f","name":"Extract This Week Button URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[656,-144]},{"parameters":{"sendTo":"astiner21@gmail.com, zac16530@gmail.com","subject":"=Clean Eatz Macro List - Week {{ $('Prepare Folder Path').first().json.week }}, {{ $('Prepare Folder Path').first().json.year }}","message":"=Here is the Clean Eatz macro list for Week {{ $('Prepare Folder Path').first().json.week }} of {{ $('Prepare Folder Path').first().json.year }}. The PDF has been uploaded to Google Drive and is here: \n\n{{ $json.webContentLink }}\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2544,-160],"id":"f45ba22f-dcfd-461c-9e6e-8946c3b753d0","name":"Send a message","webhookId":"41f595a4-fa2b-4bd6-af41-fef77e3eede3","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"resource":"folder","name":"={{ $('Prepare Folder Path').item.json.year }}/{{ $('Prepare Folder Path').item.json.month }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,-80],"id":"32dd2f61-6732-43fa-9b10-4f783febfb0d","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2032,-160],"id":"18ac17cf-aa99-4acd-8322-e7133f225484","name":"Merge"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.year }}/{{ $json.month }}","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"list","cachedResultName":"clean-eatz-macros","cachedResultUrl":"https://drive.google.com/drive/folders/1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9"},"whatToSearch":"folders","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,-32],"id":"cc4a3af4-baa2-4031-bf62-e226847e72bc","name":"Search files and folders","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"981baa5b-da44-4f82-9c48-ef656678df4b","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,96],"id":"ed8d58a7-b43f-43b9-8ad4-fc8cd465db61","name":"If"}],"connections":{"Weekly Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Download Clean Eatz PDF":{"main":[[{"node":"Prepare Folder Path","type":"main","index":0}]]},"Prepare Folder Path":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Clean Eatz Page","type":"main","index":0}]]},"Fetch Clean Eatz Page":{"main":[[{"node":"Extract This Week Button URL","type":"main","index":0}]]},"Extract This Week Button URL":{"main":[[{"node":"Download Clean Eatz PDF","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"lumsfsJn-11VSs7gepTrz","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":{"node:Weekly Schedule":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69e4b5e1-dde4-46a5-bed4-0d385e6f8a7c","activeVersionId":"69e4b5e1-dde4-46a5-bed4-0d385e6f8a7c","versionCounter":276,"triggerCount":1,"shared":[{"updatedAt":"2026-01-25T18:16:05.826Z","createdAt":"2026-01-25T18:16:05.826Z","role":"workflow:owner","workflowId":"oue9-74p7aFYhMCABTueg","projectId":"IbSEWMWujt4v9pwR","project":{"updatedAt":"2026-01-20T02:36:13.950Z","createdAt":"2025-12-27T17:56:55.369Z","id":"IbSEWMWujt4v9pwR","name":"Zac Clifton <zac16530@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectRelations":[{"updatedAt":"2025-12-27T17:56:55.369Z","createdAt":"2025-12-27T17:56:55.369Z","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","projectId":"IbSEWMWujt4v9pwR","user":{"updatedAt":"2026-02-07T08:33:31.146Z","createdAt":"2025-12-27T17:56:53.886Z","id":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94","email":"zac16530@gmail.com","firstName":"Zac","lastName":"Clifton","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-27T17:58:17.859Z","personalization_survey_n8n_version":"2.2.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"MsLT810d05Z0WgATw251C","userActivatedAt":1768898015272,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770390580432}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-25T22:08:14.126Z","createdAt":"2026-01-25T22:07:59.112Z","versionId":"69e4b5e1-dde4-46a5-bed4-0d385e6f8a7c","workflowId":"oue9-74p7aFYhMCABTueg","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":9}]}},"id":"ae648a9a-e723-44be-a80c-c1a49a4a8a9e","name":"Weekly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,-144]},{"parameters":{"assignments":{"assignments":[{"id":"id-2","name":"parentFolderId","value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","type":"string"},{"id":"id-3","name":"fromEmail","value":"zac16530@gmail.com","type":"string"},{"id":"id-4","name":"cleanEatzPageUrl","value":"https://cleaneatz.com/healthy-meal-plans","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fca355ba-14c0-47e6-8f86-b114e5203cc6","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-144]},{"parameters":{"url":"={{ $json.thisWeekUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"4021827a-a2f2-44ec-ad78-8cfd96325733","name":"Download Clean Eatz PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,-144]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"},{"id":"id-2","name":"month","value":"={{ $now.format('MM') }}","type":"string"},{"id":"id-3","name":"week","value":"={{ $now.format('WW') }}","type":"string"},{"id":"id-4","name":"fileName","value":"=CE_{{ $now.format('yyyy') }}_Week{{ $now.format('WW') }}.pdf","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"0399cd03-d47e-45e1-a6d0-23d31aee064b","name":"Prepare Folder Path","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-144]},{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders').first().json.id || $('Create folder').first().json.id }}","mode":"id"},"options":{"ocrLanguage":"en"}},"id":"f4059333-894e-4acf-8080-90051cb8b428","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,-160],"credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.cleanEatzPageUrl }}","options":{}},"id":"240e81dd-6751-4f33-bd78-188e7a6aaaa5","name":"Fetch Clean Eatz Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[432,-144]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"thisWeekUrl","cssSelector":"a:contains('This Week'), a:contains('this week')","returnValue":"attribute","attribute":"href"}]},"options":{"trimValues":true,"cleanUpText":true}},"id":"f441112e-d09a-434d-a0cf-528146e42b8f","name":"Extract This Week Button URL","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[656,-144]},{"parameters":{"sendTo":"astiner21@gmail.com, zac16530@gmail.com","subject":"=Clean Eatz Macro List - Week {{ $('Prepare Folder Path').first().json.week }}, {{ $('Prepare Folder Path').first().json.year }}","message":"=Here is the Clean Eatz macro list for Week {{ $('Prepare Folder Path').first().json.week }} of {{ $('Prepare Folder Path').first().json.year }}. The PDF has been uploaded to Google Drive and is here: \n\n{{ $json.webContentLink }}\n\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2544,-160],"id":"f45ba22f-dcfd-461c-9e6e-8946c3b753d0","name":"Send a message","webhookId":"41f595a4-fa2b-4bd6-af41-fef77e3eede3","credentials":{"gmailOAuth2":{"id":"V1tJJxxIv882xXCu","name":"Gmail account"}}},{"parameters":{"resource":"folder","name":"={{ $('Prepare Folder Path').item.json.year }}/{{ $('Prepare Folder Path').item.json.month }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,-80],"id":"32dd2f61-6732-43fa-9b10-4f783febfb0d","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2032,-160],"id":"18ac17cf-aa99-4acd-8322-e7133f225484","name":"Merge"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.year }}/{{ $json.month }}","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9","mode":"list","cachedResultName":"clean-eatz-macros","cachedResultUrl":"https://drive.google.com/drive/folders/1Ja5WL98WhuKKzoCXJIHnTJ98qIkBFwO9"},"whatToSearch":"folders","includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,-32],"id":"cc4a3af4-baa2-4031-bf62-e226847e72bc","name":"Search files and folders","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Zm4r1N7lhR6DEHis","name":"zac-drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"981baa5b-da44-4f82-9c48-ef656678df4b","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,96],"id":"ed8d58a7-b43f-43b9-8ad4-fc8cd465db61","name":"If"}],"connections":{"Weekly Schedule":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Download Clean Eatz PDF":{"main":[[{"node":"Prepare Folder Path","type":"main","index":0}]]},"Prepare Folder Path":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Upload to Google Drive":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Clean Eatz Page","type":"main","index":0}]]},"Fetch Clean Eatz Page":{"main":[[{"node":"Extract This Week Button URL","type":"main","index":0}]]},"Extract This Week Button URL":{"main":[[{"node":"Download Clean Eatz PDF","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]}},"authors":"Zac Clifton","name":"Version 1","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-25T22:08:14.115Z","id":14,"workflowId":"oue9-74p7aFYhMCABTueg","versionId":"69e4b5e1-dde4-46a5-bed4-0d385e6f8a7c","event":"activated","userId":"ec0e00c1-c94c-415c-8a06-1d74c6c63f94"}]}}