hbf_online/2026/01/Monitor Number of LinkedIn posts Per Day/OQ1iyYiDHUa9w6A7.json
{"updatedAt":"2026-01-09T14:23:04.184Z","createdAt":"2026-01-09T14:23:04.184Z","id":"OQ1iyYiDHUa9w6A7","name":"Monitor Number of LinkedIn posts Per Day","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"38f7e54b-b3b4-49db-8731-1e6ff61b02fa","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1184,816],"typeVersion":1.2},{"parameters":{"url":"=https://professional-network-data.p.rapidapi.com/get-profile-posts?start=0&username={{ $('Daily Check').item.json['LinkedIn profile URN'] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"postedAt","value":"={{ $('Set Date Variables').item.json.yesterday }}"}]},"options":{}},"id":"438cf073-c4e9-4c10-b9bf-538ab9bf1453","name":"Get Daily LinkedIn Post","type":"n8n-nodes-base.httpRequest","position":[2528,384],"typeVersion":4.2},{"parameters":{"jsCode":"// Extract data from LinkedIn API response\nconst inputData = $input.all();\n// Process each item in the input data\nconst results = [];\nfor (const item of inputData) {\n    // Handle the actual structure - data is directly in item.json.data\n    const posts = item.json?.data || [];\n    \n    for (const post of posts) {\n        // Extract LinkedIn profile URL and URN\n        const profileUrl = post.author?.url || '';\n        const profileUrn = post.author?.urn || '';\n        \n        // Extract person's name information\n        const firstName = post.author?.firstName || '';\n        const lastName = post.author?.lastName || '';\n        const fullName = firstName && lastName ? `${firstName} ${lastName}` : '';\n        \n        // Extract post URL and URN\n        const postUrl = post.postUrl || '';\n        const postUrn = post.urn || '';\n        \n        // Extract timestamp and published date\n        const timestamp = post.postedDateTimestamp || 0;\n        const publishedDate = post.postedDate || '';\n        \n        // Extract reactions and comments\n        const reactions = post.totalReactionCount || 0;\n        const comments = post.commentsCount || 0;\n        \n        // Extract post content/text\n        const postContent = post.text || '';\n        \n        // Calculate 14 days from publish date\n        let twoWeeksFromPublish = '';\n        let dateCreated = '';\n        \n        if (timestamp) {\n            const publishDate = new Date(timestamp);\n            const twoWeeksLater = new Date(publishDate.getTime() + (14 * 24 * 60 * 60 * 1000));\n            twoWeeksFromPublish = twoWeeksLater.toISOString().split('T')[0] + 'T' + twoWeeksLater.toISOString().split('T')[1];\n            \n            // Create clean date format MM/DD/YYYY\n            const month = String(publishDate.getMonth() + 1).padStart(2, '0');\n            const day = String(publishDate.getDate()).padStart(2, '0');\n            const year = publishDate.getFullYear();\n            dateCreated = `${month}/${day}/${year}`;\n        }\n        \n        // Create result object\n        results.push({\n            linkedinProfileUrl: profileUrl,\n            linkedinProfileUrn: profileUrn,\n            firstName: firstName,\n            lastName: lastName,\n            fullName: fullName,\n            postUrl: postUrl,\n            postUrn: postUrn,\n            timestamp: timestamp,\n            publishedDate: publishedDate,\n            dateCreated: dateCreated, // New clean date field in MM/DD/YYYY format\n            postContent: postContent, // LinkedIn post text content\n            reactions: reactions,\n            comments: comments,\n            twoWeeksFromPublishDate: twoWeeksFromPublish\n        });\n    }\n}\nreturn results;"},"id":"f5fbc014-07b7-439b-901f-38627d136bbe","name":"Extract Info","type":"n8n-nodes-base.code","position":[2976,288],"typeVersion":2},{"parameters":{"jsCode":"// Random Time Generator - Returns single random time object\n\n// Function to generate random seconds with decimal places\nfunction generateRandomSeconds(min = 0.1, max = 60, decimalPlaces = 1) {\n  const randomValue = Math.random() * (max - min) + min;\n  return Number(randomValue.toFixed(decimalPlaces));\n}\n\n// Generate single random time\nconst seconds = generateRandomSeconds(0.1, 60, 1);\n\n// Return array with single object (n8n requirement)\nreturn [{\n  seconds: seconds,\n  formatted: `${seconds} seconds`,\n  milliseconds: seconds * 1000\n}];"},"id":"760f0db3-e271-4571-b8c3-2b64d7e4b530","name":"Random Delay","type":"n8n-nodes-base.code","position":[2080,384],"typeVersion":2},{"parameters":{"amount":"={{ $('Random Delay').item.json.seconds }}","path":"6ec588c7-5ddd-4f0d-94c7-b182c90977a0"},"id":"49459ba5-587b-41f7-84df-906bf0fbaeb8","name":"Wait","type":"n8n-nodes-base.wait","position":[2304,384],"webhookId":"6ec588c7-5ddd-4f0d-94c7-b182c90977a0","typeVersion":1.1},{"parameters":{"options":{}},"id":"844119f0-cd64-4eee-ad09-bd3083fd7961","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1856,816],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd679495-e5a2-4c4e-a1c9-2388aaa9c221","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data && $json.data.length > 0 }}","rightValue":""},{"id":"f5cfff76-e915-4596-a6db-e72fb7a20cb5","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"beb9051c-fc47-498a-a51d-5df654728a77","name":"If","type":"n8n-nodes-base.if","position":[2752,384],"typeVersion":2.2},{"parameters":{},"id":"55e2fb82-77c5-468c-a736-c950004b036a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2976,480],"typeVersion":1},{"parameters":{},"id":"b257a469-e29a-4d47-bdf0-7582830a4515","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","position":[2064,576],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"end_of_day","name":"yesterday","type":"string","value":"={{ new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"}]},"options":{}},"id":"0ca6d845-fa23-4d9c-9806-96fca1047f28","name":"Set Date Variables","type":"n8n-nodes-base.set","position":[1408,816],"typeVersion":3.4},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"url","value":""},"table":{"__rl":true,"mode":"list","value":"","cachedResultUrl":"","cachedResultName":""},"filterByFormula":"=","options":{},"sort":{"property":[{"field":"Name"}]}},"id":"5c45f879-f7db-4330-a922-25e24f49094b","name":"Daily Check","type":"n8n-nodes-base.airtable","position":[1632,816],"typeVersion":2.1},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"url","value":""},"table":{"__rl":true,"mode":"url","value":""},"filterByFormula":"=","options":{}},"id":"de9b48e7-0c1c-43d0-acc0-350355bcb5c4","name":"Lookup CB Community","type":"n8n-nodes-base.airtable","position":[3424,288],"typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd679495-e5a2-4c4e-a1c9-2388aaa9c221","operator":{"type":"object","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json }}","rightValue":""}]},"options":{}},"id":"540c4273-c28b-400b-aca2-b64ac982536d","name":"If2","type":"n8n-nodes-base.if","position":[3648,288],"typeVersion":2.2},{"parameters":{},"id":"262d4683-0f1f-45a8-bc0f-b6b70ddc6ce8","name":"No Operation, do nothing3","type":"n8n-nodes-base.noOp","position":[3872,384],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f26c38a1-9094-4408-9786-021250920768","name":"linkedin_profile_clean_urn","type":"string","value":"={{ $('Extract Info').item.json.linkedinProfileUrn.replace('urn:li:fsd_profile:', '') }}"}]},"options":{}},"id":"2cd3540a-b09b-4774-bb0e-20eda8045ac2","name":"Clean Profile Data1","type":"n8n-nodes-base.set","position":[3200,288],"typeVersion":3.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"65f45c9a-b3fc-408c-a07a-3687f2400d85","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[4112,416],"typeVersion":1.2},{"parameters":{"jsonSchemaExample":"{\n  \"post_preview\": \"My top 5 fire tools to help im...\"\n}"},"id":"231a2b96-8c1e-4d1d-904e-942dc5213b0c","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[4240,416],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd679495-e5a2-4c4e-a1c9-2388aaa9c221","operator":{"type":"object","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json}}","rightValue":""}]},"options":{}},"id":"96699b1a-19fe-44fe-a852-f2f3ee7a79a6","name":"Check if post exist?","type":"n8n-nodes-base.if","position":[4672,192],"typeVersion":2.2},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"url","value":""},"table":{"__rl":true,"mode":"url","value":"","__regex":"https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"},"filterByFormula":"=","options":{}},"id":"b897a336-17e0-41b5-ab3c-146fd8004fe2","name":"Lookup Post","type":"n8n-nodes-base.airtable","position":[4448,192],"typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"2de2cad6-dd98-4d52-b990-02e33231d7b2","name":"postcontent","type":"string","value":"={{ $('Extract Info').item.json.postContent }}"},{"id":"dc12b518-c5ad-48ee-94e8-776d08cc0df3","name":"authorfullname","type":"string","value":"={{ $json.Name }}"},{"id":"207676d1-9d4f-42ba-aa34-376400720f39","name":"authorprofileurl","type":"string","value":"={{ $json['LinkedIn profile URL'] }}"},{"id":"2e535b97-6cf9-4e62-98d0-648372782be5","name":"authorprofileurn","type":"string","value":"={{ $json['LinkedIn profile URN'] }}"},{"id":"13a9739e-0c00-4a1b-9f80-a98ca45eedf4","name":"posturl","type":"string","value":"={{ $('Extract Info').item.json.postUrl }}"},{"id":"175ea9d3-ed06-4f86-8f0d-f914c16b7336","name":"postdatecreated","type":"string","value":"={{ $('Extract Info').item.json.dateCreated }}"}]},"options":{}},"id":"b93e3466-5248-4b1c-b464-fe2e362ebbe6","name":"Formatting","type":"n8n-nodes-base.set","position":[3872,192],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=I will provide you a LinkedIn post as input. \n\nYou MUST format your response as JSON in the following format:\n{ \n  \"post_preview\": \"<First 30 characters of the post followed by '...'>\"\n}\n\n\nFor the \"post_preview\" key, take only the first 30 characters of the original post and add \"...\" at the end.\n\nHere's the LinkedIn post I want you to analyze: {{ $json.postcontent }}\n\nYou MUST respond with ONLY valid JSON. Do not include any text before or after the JSON. Your entire response must be this exact format:\n\n{\n  \"post_preview\": \"first 30 chars...\"\n}","hasOutputParser":true},"id":"d2d28d6a-c3d4-4c98-9c01-95aa333d436a","name":"LinkedIn Digestion","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[4096,192],"typeVersion":1.6},{"parameters":{},"id":"d1c7c452-869b-4b2b-b62e-b2ec216f2f99","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[5104,560],"typeVersion":1},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"url","value":""},"table":{"__rl":true,"mode":"url","value":""},"columns":{"value":{},"schema":[{"id":"Role Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Role Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Company Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company Website","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Company Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company Info","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Company Info","defaultMatch":false,"canBeUsedToMatch":true},{"id":"GTM-related Role?","type":"boolean","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"GTM-related Role?","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Required Skills","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Required Skills","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Required Tools","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Required Tools","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Job Post Timestamp","type":"dateTime","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Job Post Timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Location","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Slack Thread","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Slack Thread","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Job Taken?","type":"boolean","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Job Taken?","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9e3ca747-5c0e-4692-aa3f-fb335adec21a","name":"Create Digestion","type":"n8n-nodes-base.airtable","position":[4896,768],"typeVersion":2.1},{"parameters":{"content":"## 🔍 LinkedIn Post Monitoring & Content Digestion\n\n### Automatically monitor LinkedIn posts from your community members and create digestible summaries for content curation\n\nPerfect for community managers, content creators, and social media teams who want to stay on top of their network's LinkedIn activity without manually checking profiles daily.\n\n### How it works\n* **Schedule daily checks** - Runs automatically every day to scan for new posts\n* **Fetch recent posts** - Uses LinkedIn API to get yesterday's posts from tracked profiles\n* **Smart data extraction** - Pulls key information like post content, engagement metrics, and author details\n* **Content processing** - Creates short previews of posts using AI for quick scanning\n* **Duplicate prevention** - Checks existing records to avoid storing the same post twice\n* **Database storage** - Saves processed posts to Airtable for easy management and review\n\n### How to use\n* **Add LinkedIn profiles** - Import your community members' LinkedIn profile URLs to Airtable\n* **Configure API credentials** - Set up LinkedIn API access and OpenAI for content processing\n* **Customize the schedule** - Adjust timing to match your workflow (daily, weekly, etc.)\n\n### Requirements\n* **Airtable account** - For storing profile lists and processed posts\n* **LinkedIn API access** - Professional Network Data API from RapidAPI\n* **OpenAI API** - For intelligent content summarization\n* **Basic Airtable setup** - Two tables: one for profiles, one for posts\n\n### Good to know\n* **API costs apply** - LinkedIn API calls and OpenAI processing incur usage fees\n* **Rate limiting included** - Built-in delays prevent API throttling\n* **Flexible triggers** - Can easily switch from schedule to webhook for real-time processing\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy monitoring! 🚀","height":900,"width":640},"id":"2c38a95b-4d0c-42a7-82fd-55851fabb65e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## 1. Load Community Profiles\n[Read more about the Airtable node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/)\n\nFetches your list of LinkedIn profiles from Airtable to monitor. Each profile should include the LinkedIn profile URL and URN for API calls.","height":240,"width":300,"color":7},"id":"4e7f5e41-2e4e-4c52-91cf-a05c5aaa85fe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1472,528],"typeVersion":1},{"parameters":{"content":"## 2. Fetch Recent Posts\n[Read more about the HTTP Request node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/)\n\nCalls the LinkedIn API to get posts from yesterday for each profile. Includes rate limiting to stay within API quotas.","height":240,"width":300,"color":7},"id":"2ab53221-7a7b-44ee-b767-9cbb6a6c5fad","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2416,112],"typeVersion":1},{"parameters":{"content":"## 3. Extract & Process Data\n[Read more about the Code node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/)\n\nExtracts key information from LinkedIn posts including content, engagement metrics, timestamps, and author details into structured data.","height":240,"width":300,"color":7},"id":"e74215fa-37be-4709-bc81-9bc3022450ed","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2880,48],"typeVersion":1},{"parameters":{"content":"## 4. AI Content Analysis\n[Read more about the LangChain nodes](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.chainllm/)\n\nUses OpenAI to create concise previews of post content, making it easier to quickly scan and decide which posts deserve attention.","height":252,"width":300,"color":7},"id":"99166afc-67d8-4551-883e-e9087e959517","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4064,16],"typeVersion":1},{"parameters":{"content":"## 5. Store Processed Posts\n[Read more about the Airtable node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/)\n\nChecks for existing posts to prevent duplicates, then saves new processed posts to Airtable with all extracted data and AI summaries.","height":180,"width":440,"color":7},"id":"b1ca86d4-f7e1-42ab-8239-8fbd65189529","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4704,976],"typeVersion":1},{"parameters":{"content":"### ⚠️ Setup Requirements!\nThis workflow requires several API credentials and proper Airtable structure.\n\n1. **LinkedIn API Access** - Get Professional Network Data API from RapidAPI\n2. **OpenAI API Key** - Required for content summarization\n3. **Airtable Base Setup** - Create two tables with specific field structures\n4. **Test with small dataset** - Start with 2-3 profiles before scaling up","height":260,"width":460,"color":3},"id":"633c259c-318d-4ddc-8710-6f019d139be6","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2048,1200],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Extract Info","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If2":{"main":[[{"node":"Formatting","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Daily LinkedIn Post","type":"main","index":0}]]},"Formatting":{"main":[[{"node":"LinkedIn Digestion","type":"main","index":0}]]},"Daily Check":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lookup Post":{"main":[[{"node":"Check if post exist?","type":"main","index":0}]]},"Extract Info":{"main":[[{"node":"Clean Profile Data1","type":"main","index":0}]]},"Random Delay":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Random Delay","type":"main","index":0}]]},"Create Digestion":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Date Variables","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"LinkedIn Digestion","type":"ai_languageModel","index":0}]]},"LinkedIn Digestion":{"main":[[{"node":"Lookup Post","type":"main","index":0}]]},"Set Date Variables":{"main":[[{"node":"Daily Check","type":"main","index":0}]]},"Clean Profile Data1":{"main":[[{"node":"Lookup CB Community","type":"main","index":0}]]},"Lookup CB Community":{"main":[[{"node":"If2","type":"main","index":0}]]},"Check if post exist?":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Create Digestion","type":"main","index":0}]]},"Get Daily LinkedIn Post":{"main":[[{"node":"If","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"LinkedIn Digestion","type":"ai_outputParser","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"8895"},"pinData":{},"versionId":"81b13cff-e57f-4245-b312-125fb35510e5","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T14:23:04.186Z","createdAt":"2026-01-09T14:23:04.186Z","role":"workflow:owner","workflowId":"OQ1iyYiDHUa9w6A7","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-01-10T05:00:55.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1767920967351}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-10","isPending":false}}]}}],"tags":[],"activeVersion":null}