hbf_online/2026/01/Monitor Number of LinkedIn posts Per Day/OQ1iyYiDHUa9w6A7.json
{"updatedAt":"2026-01-21T02:43:30.374Z","createdAt":"2026-01-09T14:23:04.184Z","id":"OQ1iyYiDHUa9w6A7","name":"Monitor Number of LinkedIn posts Per Day","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"38f7e54b-b3b4-49db-8731-1e6ff61b02fa","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[784,656],"typeVersion":1.2},{"parameters":{"url":"=https://professional-network-data.p.rapidapi.com/get-profile-posts?start=0&username={{ $('Daily Check').item.json['LinkedIn profile URN'] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"postedAt","value":"={{ $('Set Date Variables').item.json.yesterday }}"}]},"options":{}},"id":"438cf073-c4e9-4c10-b9bf-538ab9bf1453","name":"Get Daily LinkedIn Post","type":"n8n-nodes-base.httpRequest","position":[2128,464],"typeVersion":4.2},{"parameters":{"jsCode":"// Extract data from LinkedIn API response\nconst inputData = $input.all();\n// Process each item in the input data\nconst results = [];\nfor (const item of inputData) {\n    // Handle the actual structure - data is directly in item.json.data\n    const posts = item.json?.data || [];\n    \n    for (const post of posts) {\n        // Extract LinkedIn profile URL and URN\n        const profileUrl = post.author?.url || '';\n        const profileUrn = post.author?.urn || '';\n        \n        // Extract person's name information\n        const firstName = post.author?.firstName || '';\n        const lastName = post.author?.lastName || '';\n        const fullName = firstName && lastName ? `${firstName} ${lastName}` : '';\n        \n        // Extract post URL and URN\n        const postUrl = post.postUrl || '';\n        const postUrn = post.urn || '';\n        \n        // Extract timestamp and published date\n        const timestamp = post.postedDateTimestamp || 0;\n        const publishedDate = post.postedDate || '';\n        \n        // Extract reactions and comments\n        const reactions = post.totalReactionCount || 0;\n        const comments = post.commentsCount || 0;\n        \n        // Extract post content/text\n        const postContent = post.text || '';\n        \n        // Calculate 14 days from publish date\n        let twoWeeksFromPublish = '';\n        let dateCreated = '';\n        \n        if (timestamp) {\n            const publishDate = new Date(timestamp);\n            const twoWeeksLater = new Date(publishDate.getTime() + (14 * 24 * 60 * 60 * 1000));\n            twoWeeksFromPublish = twoWeeksLater.toISOString().split('T')[0] + 'T' + twoWeeksLater.toISOString().split('T')[1];\n            \n            // Create clean date format MM/DD/YYYY\n            const month = String(publishDate.getMonth() + 1).padStart(2, '0');\n            const day = String(publishDate.getDate()).padStart(2, '0');\n            const year = publishDate.getFullYear();\n            dateCreated = `${month}/${day}/${year}`;\n        }\n        \n        // Create result object\n        results.push({\n            linkedinProfileUrl: profileUrl,\n            linkedinProfileUrn: profileUrn,\n            firstName: firstName,\n            lastName: lastName,\n            fullName: fullName,\n            postUrl: postUrl,\n            postUrn: postUrn,\n            timestamp: timestamp,\n            publishedDate: publishedDate,\n            dateCreated: dateCreated, // New clean date field in MM/DD/YYYY format\n            postContent: postContent, // LinkedIn post text content\n            reactions: reactions,\n            comments: comments,\n            twoWeeksFromPublishDate: twoWeeksFromPublish\n        });\n    }\n}\nreturn results;"},"id":"f5fbc014-07b7-439b-901f-38627d136bbe","name":"Extract Info","type":"n8n-nodes-base.code","position":[2576,416],"typeVersion":2},{"parameters":{"jsCode":"// Random Time Generator - Returns single random time object\n\n// Function to generate random seconds with decimal places\nfunction generateRandomSeconds(min = 0.1, max = 60, decimalPlaces = 1) {\n  const randomValue = Math.random() * (max - min) + min;\n  return Number(randomValue.toFixed(decimalPlaces));\n}\n\n// Generate single random time\nconst seconds = generateRandomSeconds(0.1, 60, 1);\n\n// Return array with single object (n8n requirement)\nreturn [{\n  seconds: seconds,\n  formatted: `${seconds} seconds`,\n  milliseconds: seconds * 1000\n}];"},"id":"760f0db3-e271-4571-b8c3-2b64d7e4b530","name":"Random Delay","type":"n8n-nodes-base.code","position":[1680,464],"typeVersion":2},{"parameters":{"amount":"={{ $('Random Delay').item.json.seconds }}"},"id":"49459ba5-587b-41f7-84df-906bf0fbaeb8","name":"Wait","type":"n8n-nodes-base.wait","position":[1904,464],"webhookId":"6ec588c7-5ddd-4f0d-94c7-b182c90977a0","typeVersion":1.1},{"parameters":{"options":{}},"id":"844119f0-cd64-4eee-ad09-bd3083fd7961","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1456,656],"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd679495-e5a2-4c4e-a1c9-2388aaa9c221","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data && $json.data.length > 0 }}","rightValue":""},{"id":"f5cfff76-e915-4596-a6db-e72fb7a20cb5","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"beb9051c-fc47-498a-a51d-5df654728a77","name":"If","type":"n8n-nodes-base.if","position":[2352,464],"typeVersion":2.2},{"parameters":{},"id":"55e2fb82-77c5-468c-a736-c950004b036a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2576,752],"typeVersion":1},{"parameters":{},"id":"b257a469-e29a-4d47-bdf0-7582830a4515","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","position":[1680,656],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"end_of_day","name":"yesterday","type":"string","value":"={{ new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"}]},"options":{}},"id":"0ca6d845-fa23-4d9c-9806-96fca1047f28","name":"Set Date Variables","type":"n8n-nodes-base.set","position":[1008,656],"typeVersion":3.4},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"url","value":""},"table":{"__rl":true,"mode":"list","value":"","cachedResultUrl":"","cachedResultName":""},"filterByFormula":"=","options":{},"sort":{"property":[{"field":"Name"}]}},"id":"5c45f879-f7db-4330-a922-25e24f49094b","name":"Daily Check","type":"n8n-nodes-base.airtable","position":[1232,656],"typeVersion":2.1},{"parameters":{"content":"## 🔍 LinkedIn Post Monitoring & Content Digestion\n\n### Automatically monitor LinkedIn posts from your community members and create digestible summaries for content curation\n\nPerfect for community managers, content creators, and social media teams who want to stay on top of their network's LinkedIn activity without manually checking profiles daily.\n\n### How it works\n* **Schedule daily checks** - Runs automatically every day to scan for new posts\n* **Fetch recent posts** - Uses LinkedIn API to get yesterday's posts from tracked profiles\n* **Smart data extraction** - Pulls key information like post content, engagement metrics, and author details\n* **Content processing** - Creates short previews of posts using AI for quick scanning\n* **Duplicate prevention** - Checks existing records to avoid storing the same post twice\n* **Database storage** - Saves processed posts to Airtable for easy management and review\n\n### How to use\n* **Add LinkedIn profiles** - Import your community members' LinkedIn profile URLs to Airtable\n* **Configure API credentials** - Set up LinkedIn API access and OpenAI for content processing\n* **Customize the schedule** - Adjust timing to match your workflow (daily, weekly, etc.)\n\n### Requirements\n* **Airtable account** - For storing profile lists and processed posts\n* **LinkedIn API access** - Professional Network Data API from RapidAPI\n* **OpenAI API** - For intelligent content summarization\n* **Basic Airtable setup** - Two tables: one for profiles, one for posts\n\n### Good to know\n* **API costs apply** - LinkedIn API calls and OpenAI processing incur usage fees\n* **Rate limiting included** - Built-in delays prevent API throttling\n* **Flexible triggers** - Can easily switch from schedule to webhook for real-time processing\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy monitoring! 🚀","height":900,"width":640},"id":"2c38a95b-4d0c-42a7-82fd-55851fabb65e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-32,768],"typeVersion":1},{"parameters":{"content":"## 1. Load Community Profiles\n[Read more about the Airtable node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/)\n\nFetches your list of LinkedIn profiles from Airtable to monitor. Each profile should include the LinkedIn profile URL and URN for API calls.","height":240,"width":300,"color":7},"id":"4e7f5e41-2e4e-4c52-91cf-a05c5aaa85fe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1072,1056],"typeVersion":1},{"parameters":{"content":"## 2. Fetch Recent Posts\n[Read more about the HTTP Request node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/)\n\nCalls the LinkedIn API to get posts from yesterday for each profile. Includes rate limiting to stay within API quotas.","height":240,"width":300,"color":7},"id":"2ab53221-7a7b-44ee-b767-9cbb6a6c5fad","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2032,640],"typeVersion":1},{"parameters":{"content":"## 3. Extract & Process Data\n[Read more about the Code node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/)\n\nExtracts key information from LinkedIn posts including content, engagement metrics, timestamps, and author details into structured data.","height":240,"width":300,"color":7},"id":"e74215fa-37be-4709-bc81-9bc3022450ed","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2496,576],"typeVersion":1},{"parameters":{"content":"## 4. AI Content Analysis\n[Read more about the LangChain nodes](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.chainllm/)\n\nUses OpenAI to create concise previews of post content, making it easier to quickly scan and decide which posts deserve attention.","height":252,"width":300,"color":7},"id":"99166afc-67d8-4551-883e-e9087e959517","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3680,544],"typeVersion":1},{"parameters":{"content":"## 5. Store Processed Posts\n[Read more about the Airtable node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/)\n\nChecks for existing posts to prevent duplicates, then saves new processed posts to Airtable with all extracted data and AI summaries.","height":180,"width":440,"color":7},"id":"b1ca86d4-f7e1-42ab-8239-8fbd65189529","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4320,1504],"typeVersion":1},{"parameters":{"content":"### ⚠️ Setup Requirements!\nThis workflow requires several API credentials and proper Airtable structure.\n\n1. **LinkedIn API Access** - Get Professional Network Data API from RapidAPI\n2. **OpenAI API Key** - Required for content summarization\n3. **Airtable Base Setup** - Create two tables with specific field structures\n4. **Test with small dataset** - Start with 2-3 profiles before scaling up","height":260,"width":460,"color":3},"id":"633c259c-318d-4ddc-8710-6f019d139be6","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1648,1728],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"f3f131f5-bb1f-4bb8-a9dc-d61e3c6af67d","name":"Count Posts","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2800,416]},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"url","value":"<__PLACEHOLDER_VALUE__Airtable Base URL__>"},"table":{"__rl":true,"mode":"url","value":"<__PLACEHOLDER_VALUE__Airtable Table URL__>"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $('Set Date Variables').item.json.yesterday }}","post_count":"={{ $json.count }}"}},"options":{}},"id":"db0b6aba-3071-47eb-972d-ef2968410c5c","name":"Store Post Count","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3024,416]}],"connections":{"If":{"main":[[{"node":"Extract Info","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Daily LinkedIn Post","type":"main","index":0}]]},"Daily Check":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Random Delay":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Random Delay","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Date Variables","type":"main","index":0}]]},"Set Date Variables":{"main":[[{"node":"Daily Check","type":"main","index":0}]]},"Get Daily LinkedIn Post":{"main":[[{"node":"If","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Info":{"main":[[{"node":"Count Posts","type":"main","index":0}]]},"Count Posts":{"main":[[{"node":"Store Post Count","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateId":"8895"},"pinData":{},"versionId":"dfd9656f-f0d3-4913-afc1-5de9b38f86e3","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-09T14:23:04.186Z","createdAt":"2026-01-09T14:23:04.186Z","role":"workflow:owner","workflowId":"OQ1iyYiDHUa9w6A7","projectId":"pPfvO125ydUVIXPh","project":{"updatedAt":"2025-12-08T14:51:48.381Z","createdAt":"2025-12-08T14:51:42.916Z","id":"pPfvO125ydUVIXPh","name":"Alex   <alex@honeybearfinancials.com>","type":"personal","icon":null,"description":null,"creatorId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectRelations":[{"updatedAt":"2025-12-08T14:51:42.916Z","createdAt":"2025-12-08T14:51:42.916Z","userId":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","projectId":"pPfvO125ydUVIXPh","user":{"updatedAt":"2026-02-04T05:01:55.000Z","createdAt":"2025-12-08T14:51:40.983Z","id":"b5c2bbf4-eb13-4025-80fb-2acb074cc668","email":"alex@honeybearfinancials.com","firstName":"Alex","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AqqHC4HlzK2Gq3eR","userActivatedAt":1766876864154,"npsSurvey":{"responded":true,"lastShownAt":1768748391500}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-04","isPending":false}}]}}],"tags":[],"activeVersion":null}